/*******************************************
*	Large Desktop Link Save module
*******************************************/

@import "../breakpoints";
@import "../variables";
@include breakpoint(largeDesktop);

#linksave-block-container {
	border:	8px solid $white;
	margin-bottom: 10px;

	#icon-module {
		ul.icon-link-save{
			width: 74%;

			li {
				width: 26.1%;
				margin-left: 34%;
				&:last-child {
					margin: 0 -20% 0 0;
				}
				&:first-child:nth-last-child(3),
				&:first-child:nth-last-child(3) ~ li{
					margin-left: 0;
					&:first-child{
						margin-left: 22%;
					}
				}
			}
		}
	}
}
