/*******************************************
*	Kiosk Link Save module
*******************************************/

@import "../breakpoints";
@import "../variables";
@include breakpoint(kiosk);

#linksave-block-container {
	.page-title-container {
		margin-bottom: 0;
		h1.page-title {
			text-align: left;
			color: $xDarkPutty;
			font-weight: normal;

			#offersTerms {
				color: $putty;
				font-family: Helvetica,Arial,sans-serif;
			}
		}
	}
	.linksave .tab-module-kiosk {
		margin-top: 30px;
	}
}
