/*******************************************
*	Mobile Link Save module
*******************************************/

@import "../breakpoints";
@include breakpoint(mobile);

#linksave-block-container{
	padding: 0 20px;
	.page-title-container {
		h1.page-title {
			width: 100%;
			word-wrap: break-word;
		}
	}
	#icon-module {
		ul.icon-link-save {
			width: 100%;

			li {
				width: 52%;
				&:first-child {
					margin-left: 19%;
				}
				&:last-child{
					width: 25%;
				}
				.block-title {
					width: 100%;
					margin: 30px 0 0 -35px;
					padding: 0 9px;
				}
				&:first-child:nth-last-child(3),
				&:first-child:nth-last-child(3) ~ li{
					width: 35%;
					&:first-child {
						margin-left: 10%;
					}
					&:last-child {
						width: 15%;
						.block-title{
							margin-top: 32px;
						}
					}
					.block-title {
						width: 110px;
						margin: 30px 0 0 -35px;
					}
				}
			}
		}
	}
}
