//help module - kiosk
@import "../breakpoints";
@import "../variables";
@include breakpoint(kiosk);
@import "help-mixins";

.kiosk-faq {
  background: #ffffff;
  color: #707070;
  margin: 0 45px;
  padding: 40px 40px 20px;

  > div {
    margin-bottom: 40px;
    max-width: 655px;

    h2 {
      font-size: 24px;
      margin: 0;
    }

    p {
      font-size: 1.7em;
      line-height: 1.3;
      margin: 5px 0 0 0;
    }
  }
}

.kiosk-help-section {
  background: #ffffff;
  color: #707070;
  margin: 12px 45px 0;
  padding: 40px 40px 20px;
  position: absolute;

  section {
    border-bottom: 1px solid $midDarkGrey;
    border-right: 1px solid $midDarkGrey;
    float: left;
    height: 340px;
    padding: 15px 0 0 0;
    width: 33.3%;

    img {
       display: none;
       margin-left: 45%;
       width: 55px;
    }

    .faq {
      margin: 5px 20px 20px;
      text-align: center;

      h2 {
        color: $contentLink;
        font-size: 3.6em;
        margin-top: 50px;
        position: relative;
        &:before {
          background: url('../images/kiosk-help-icons-sprite.png') no-repeat 0 0;
          content: '-';
          display: block;
          height: 55px;
          left: 214px;
          position: absolute;
          text-align: center;
          text-indent: -9999px;
          top: -63px;
          width: 60px;
        }

        &.boost-icon:before {
          background-position: -64px 0;
          width: 63px;
        }

        &.vouchers-icon:before {
          background-position: -130px 0;
          height: 61px;
          top: -77px;
          width: 68px;
        }

        &.creditcard-icon:before {
          background-position: -200px 0;
          height: 49px;
          width: 60px;
        }

        &.return-icon:before {
          background-position: -265px 0;
          height: 50px;
          width: 50px;
        }
        &.partners-icon:before {
          background-position: -319px 0;
          height: 57px;
          width: 65px;
        }
      }

      p {
        font-size: 1.9em;
        line-height: 1.3;
        margin-bottom: 10px;
        padding: 0 25px;
        text-align: justify;
      }
    }

    &:nth-child(3n+3) {
      border-right: 0;
    }

    &:nth-child(4),
    &:nth-child(5) {
      border-bottom: 0;
      padding-top: 30px;
    }

    &:nth-child(6) {
      border-bottom: 0;
      margin-bottom: 25px;
      padding-top: 30px;
    }

    &:nth-child(3n+1) .faq p {
      padding-left: 0;
    }

    &:nth-child(3n+3) .faq p {
      padding-right: 0;
    }
  }

  .more-help {
    text-align: center;
    border-top: 1px solid $midDarkGrey;
    clear: both;

    p {
      color: $contentLink;
      font-size: 2.8em;
      margin: 30px 0 15px 0;
    }
  }
}
