//help module - mixins

$onecol: 16px;

@mixin bordered-box {
	@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
	border: 1px solid $primaryBorderColor;
	background-color: #fff;
}

@mixin help-touch {
	.buying-guides {
		#main-content {
			.content-block {
				.content-block-inner {
					padding: 0 ($onecol / 2);
				}
			}
		}
		#secondary-content {
			margin-bottom: $onecol;
			padding-bottom: 0;
			h3,
			ul {
				margin-right: $onecol / 2;
				margin-left: $onecol / 2;
			}
		}
	}
}

@mixin help-desktop {
	.help {
		#main-content {
			margin-left: ($onecol / 2);
			float: left;
			.content-block {
				.content-block-inner {
					padding: 0 $onecol;
				}
			}
		}
		#secondary-content {
			float: right;
			margin-bottom: $onecol;
			h3,
			ul {
				margin-right: $onecol;
				margin-left: $onecol;
			}
		}
	}
} 