//help module - all
@import "../variables";
@import "help-mixins";

.help {

	#main-content {


		.content-block {
			@include bordered-box;
			clear: both;
			margin-bottom: $onecol;

			p {
				font-size: 14px;
				margin: $onecol 0 24px 0;
				line-height: 1.4em;
			}

			h2 {
				margin: $onecol 0;
				font-size: 18px;
			}

			#help-search {

				padding-bottom: 16px;

				.search-field-wrapper {

					#help-search-text-field {
						margin: 0 4px 8px 0;
						display: block;
						padding: 0 12px 0 8px;
						line-height: 33px;
						height: 36px;
						margin-right: 0;
						width: 100%;
						border: 1px solid $primaryBorderColor;
						-webkit-appearance: none;
						font-size: 12px;
					}

				}

			}

		}

		.article-contents {
			h2  {
				margin: $onecol 0;
			}
		}

    .search-field {
      .secondary-button {
        width: 12%;
        float: right;
        margin: 0;
        padding: 0 16px;
        height: 36px;
      }
      form:after {
        @include clear-fix;
      }
    }
    .search-field-wrapper {
      float: left;
      width: 87%;
    }

		.help-faqs,
		.help-search-results {
				h2 {
					margin: 24px 0;
				}
				h3 {
					// margin: $onecol 0 12px;
					margin: 0;
					font-size: 14px;
				}

				ul {
					margin-top: 0;
				}

				p {
					margin: 0 auto $onecol 0;

				}
				li {
					font-size: 14px;
					margin-bottom: $onecol / 2;
					overflow: hidden;
					line-height: 1.4em;
				}
		}

		.help-search-results.related-results {
			padding: 0 16px;
			h2 {
				margin: 16px 0 24px;
			}
			ul li {
				border: none;
				padding: 0 0 16px;
				margin: 0;
				a {
					display: block;
				}
			}

		}

		.help-search-results {
			li {
				border-bottom: 1px solid $primaryBorderColor;
				margin-bottom: 20px;
				padding-bottom: $onecol;
				line-height: 1.4em;

				&:last-child {
					border-bottom: none;
				}
			}


			h3 {
				font-weight: normal;
			}

			.back {
				display: block;
				font-size: 1.4em;
				padding: $onecol;
				text-decoration: none;
				border-bottom: 1px solid #d9d7d7;

				&:first-child {
					border-bottom: 1px solid #d9d7d7;
				}

				&:last-child {
					border-top: 1px solid #d9d7d7;
				}

				.icon {
					font-size: 1em;
					padding-right: $onecol /2;
				}
			}
		}

		.help-search-article {

			.back {
				display: block;
				font-size: 1.4em;
				padding: 14px $onecol;
				text-decoration: none;
				border-bottom: 1px solid #d9d7d7;

				&:first-child {
					border-bottom: 1px solid #d9d7d7;
				}

				&:last-child {
					border-top: 1px solid #d9d7d7;
				}

				.icon {
					font-size: 1em;
					padding-right: $onecol /2;
				}
			}

			.feedback-ratings {
				margin-bottom: $onecol / 2;
				margin-top: $onecol;

				p {

					padding: 0;
					margin: 6px 0;
				}

				.ratings {
					overflow: hidden;

					div {
						position: relative;
						display: inline;
						float: left;
						width: 20px;
						height: 20px;

						.icon-rating {
							color: #01539D;
							font-size: 180%;
							position: absolute;
							top: 0;
							left: 3px;
							z-index: 0;
						}
						input[type="radio"] {
							position: absolute;
							width: 100%;
							z-index: 1;
							opacity: 0;
						}
						&.selected {
							.icon-rating {
								color: #FFC600;
							}
						}
					}
				}
			}

			.hidden {
				display: none;
			}

			fieldset {
				 margin: 0;
				 padding: 0;
				 border: none;
			}

			input[type=submit] {
				float: right;
				width: auto;
				padding: 0 16px;
				height: 36px;

			}

			textarea {
				width: 100%;
				border: 1px solid $primaryBorderColor;
				margin-bottom: $onecol / 2;
				padding: 12px 12px 6px 8px;
			}
		}

		.feedback {
			overflow: hidden;
			margin-top: 24px;
			p {
				display: inline;

				span {
					padding-left: 8px;
					font-weight: bold;
				}
			}
			.unhelpful {
				margin-left: 16px;
			}
		}

	}



	#secondary-content {
		@include bordered-box;
		h3,
		p,
		ul li {
			font-size: 14px;
		}
		h3 {
			margin: 0 0 16px;
			padding: 16px 0 0;
			border-top: 1px solid #bfbdbd;
			&:first-child {
				border-top: none;
			}
		}
		ul {
			margin: 16px 0;
			li {
				margin: 16px 0;

				p {
					font-size: 10px;
				}
			}
		}
		.call-customer-support {
			margin: 16px 0 24px;
			b {
				display: block;
				padding-top: 6px;
			}
		}
		.email-customer-support {
			margin: 0 0 24px;
			a {
				display: block;
				padding-top: 6px;
			}
		}
		.back-to-help {
			border-top: 1px solid #d9d7d7;
			margin: $onecol 0;
			padding: $onecol ($onecol / 2) 0;
			a {
				line-height: 14px; // keeps the icon aligned with the text
				&:before {
					content: 'g';
					font-family: 'Tesco Icons';
					margin-right: $onecol / 2;
				}
			}
		}
	}
}
