//help module - large desktop
@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "help-mixins";

@include help-desktop;

$max-content-width: 704px;


.help {
	#main-content {
		width: 882px;
		.content-block {
			.content-block-inner {
				p {
					max-width: $max-content-width - $onecol; // compensate for the left margin
				}
			}
		}
	}
	#secondary-content {
		width: 295px;
	}
}
