@import "../../common/variables";
@import '../breakpoints';
@import 'personalised-product-mixins';

#personaliseProductContainer {    // level 0
    .overlay-button {
        font-size: 1.7em;
    }
}

#lightbox .EmaginationErrorOverlay {
    div {
        padding: 20px;
        margin: 127px auto;
        h2 {
            padding-left: 0;
        }
    }
}

@include emaginationV2Devices;
@include emaginationTablet;
