#media-viewer-container {
    .media-viewer--portrait & {
        .product-ping {
            left: 92px;
        }
    }
    .static-product-image {
    height: 358px;
    }
}

#media-viewer-wrapper {
    .no-touch & {
        .staticVisible,
        .zoomVisible {
            .btn-zoom-image {
                display: inline;
            }
        }
    }

    .media-viewer--portrait & {
        margin-left: 93px;

        &.single-item {
            margin-left: 46px;
            margin-right: 47px;

            & + .media-viewer--pings {
                .product-ping {
                    left: 46px;
                }
            }
        }
    }
}

#media-viewer--main {
    .media-viewer--portrait & {
        float: right;
        width: 467px;
    }
}

#mv-overlay-content {
  #media-viewer--main {
      .media-viewer--portrait & {
          width: 100%;
      }
  }
}

#media-viewer--sidebar {
    .media-viewer--landscape & {
        width: 600px;
    }
}

.mv-thumbnail-container {
    .media-viewer--landscape & {
        width: 500px;
    }
}

.media-viewer--carousel-nav {
    .media-viewer--portrait & {
        .btn-s7-carousel {
            &.btn-s7-prev {
                left: 85px;;
            }
        }
    }

    .media-viewer--landscape & {
        .btn-s7-carousel {
            margin-top: -98px;
        }
    }
}

.mv-thumbnail-carousel {
    .media-viewer--landscape & {
        width: 500px;
    }
}

#mv-overlay-content {
    .media-viewer--carousel-nav {
        .btn-s7-carousel {
            &.btn-s7-prev {
                left: 10px;

                .media-viewer--portrait & {
                    left: 113px;
                }
            }
            &.btn-s7-next {
                right: 10px;
            }
        }
    }
}

#mediaViewerScene7Container {
    .s7container {
        overflow: hidden;
    }
}

#mediaViewerScene7Container {
    .videoPosition {
        height: 100%;
        .errorVideo {
            height: 100%;
        }
    }
}
