<div class="fnModal message"><span class="<%= statusMessageClass %>"><%= statusMessageText %></span></div>
<div class="storeFinderFormWrapper">
    <form action="#" method="post" novalidate="novalidate">
        <label for="store-finder-postalcode"><%= storeFinderLabelText %></label>
        <input id="store-finder-postalcode" name="<%= formName_postcode %>" value="<%= postcode %>" type="text" class="required fnPostcode" autocomplete="off">
        <button type="submit" class="secondary-button fnSubmitStoreFinderForm">Search</button>
    </form>
</div>