<div class="message"></div>
<section class="tabs">
	<ul class="deliveryGroups"></ul>
</section>
<section class="delivery">
    <section class="items">
        <span class="numberOfItemsBox"></span>
        <div class="itemsListContainer">
            <ul class="itemsList fnItems"></ul>
        </div>
        <!--.itemsListContainer-->
        <div class="itemsNav">
            <a href="#" class="up"><span>up</span></a>
            <ul class="pages"></ul>
            <a href="#" class="down"><span>down</span></a>
        </div>
        <!--.itemsNav-->
    </section>
    <!--.items-->
    <section class="deliveryOptionsArea"></section>
</section>