<% if (isRestrictedStore === 'true') { %> 
	<div class="storeContainer accordionItem disabled">
<% }
else { %>
	<div class="storeContainer accordionItem">
<% } %>

    <div class="storeNameContainer toggleContentWrapper">
        <span class="toggleIcon icon"></span>
        <h3 class="name"><%= name %></h3>    
        <% if (additionalInfo.address.drivingDistance) { %><p class="distance"><span class="value"><%= additionalInfo.address.drivingDistance %></span> <%= drivingDistanceUnit %></p><% } %>
    </div>
    
   <% if (isRestrictedStore === 'true') { %> 
		<button type="button" class="secondary-button fnSubmitStoreSelection disabled"><%= selectNotStoreBtnText %></button>
   <% }
   else { %>
    <form action="#" method="post" novalidate="novalidate">
		<button type="submit" class="secondary-button fnSubmitStoreSelection" data-storeid="<%= ID %>"><%= selectStoreBtnText %></button>
	</form>
   <% } %>
    
    
    <% if (isRestrictedStore === 'true') { %> 
		<span class="kiosk-restrict-store-error"><%= cncResErrorMSG %></span>
	<% } %>

    
    <div class="storeAdditionalInfoContainer contentWrapper">  
        <div class="openingTimes">
            <h4 class="openingTimesHeader"><%= openingTimesHeader %></h4>
            <ul class="openingTimesDetails">
                <li>
                    <span class="storefinder-openingtimes-day"><%= openingTimesMonday %></span>
                    <span class="storefinder-openingtimes-times"><%= openingTimes.Monday %></span>
                </li>
                <li>
                    <span class="storefinder-openingtimes-day"><%= openingTimesTuesday %></span>
                    <span class="storefinder-openingtimes-times"><%= openingTimes.Tuesday %></span>
                </li>
                <li>
                    <span class="storefinder-openingtimes-day"><%= openingTimesWednesday %></span>
                    <span class="storefinder-openingtimes-times"><%= openingTimes.Wednesday %></span>
                </li>
                <li>
                    <span class="storefinder-openingtimes-day"><%= openingTimesThursday %></span>
                    <span class="storefinder-openingtimes-times"><%= openingTimes.Thursday %></span>
                </li>
                <li>
                    <span class="storefinder-openingtimes-day"><%= openingTimesFriday %></span>
                    <span class="storefinder-openingtimes-times"><%= openingTimes.Friday %></span>
                </li>
                <li>
                    <span class="storefinder-openingtimes-day"><%= openingTimesSaturday %></span>
                    <span class="storefinder-openingtimes-times"><%= openingTimes.Saturday %></span>
                </li>
                <li>
                    <span class="storefinder-openingtimes-day"><%= openingTimesSunday %></span>
                    <span class="storefinder-openingtimes-times"><%= openingTimes.Sunday %></span>
                </li>
            </ul>
        </div>
        <div class="storeAddress">
            <h4 class="storeAddressHeader"><%= storeAddressHeader %></h4>
            <% if (additionalInfo.address.street) { %><%= additionalInfo.address.street %><br/><% } %>
            <% if (additionalInfo.address.town) { %><%= additionalInfo.address.town %><br/><% } %>
            <% if (additionalInfo.address.region) { %><%= additionalInfo.address.region %><br/><% } %>
            <% if (additionalInfo.postalCode) { %><%= additionalInfo.postalCode %><br/><% } %>
            <% if (additionalInfo.address.country) { %><%= additionalInfo.address.country %><% } %>
            <% if (additionalInfo.telephone) { %><p><%= additionalInfo.telephone %></p><% } %>
        </div>
    </div>  
</div>