<div class="item<% if (type !== null) { %> <%= type %><% } %>">
    <img src="<%= productImgURL %>" alt="" class="static-product-image <% if (type !== null) { %> <%= type %><% } %>">
    <span class="quantity"><%= productQuantity %>x</span>
    <div class="details">
        <p class="productDetail"><%= itemName %></p>
        <%  if (typeof schoolName !== 'undefined') { %>
        <p class="productSchoolName"><%= schoolName %></p>
        <% } %>
        
		<span class="price"><%= price %></span>        
    </div>
    <% if (giftMessageLength && section !== 'review' && type !== 'service') { %>
    <%= giftMessageIndicativeText %>
    <% } %>
</div>

<% if (giftMessageLength && section === 'review' && type !== 'service') { %>
<form id="giftMessage" action="#" method="post" novalidate="novalidate">
<div class="personal-gift-message-wrapper">
    <div class="uiGiftMessage">
        <div class="header">
            <h3 class="label"><%= giftMessageHeader %></h3>
             <p class="lineCount"></p>
            <p class="count"><span class="value"><%= giftMessageLength %></span><%= giftMessageCharacters %></p>
        </div>
        <textarea id="gift-message" name="gift-message" data-sku="<%= catalogueNumber %>" data-key="<%= deliveryGroupId %>" class="personalGiftMessage smallPrint"
                  maxlength="<%= giftMessageLength %>" warnlength="<%= giftMessageWarn %>" rows="10" placeholder="<%=
            giftMessagePlaceholder %>"></textarea>

        <div class="buttons">
            <a class="button secondary-button cancel" href="#">Cancel</a>
            <a class="button secondary-button save" href="#">Save Message</a>
        </div>
    </div>
    <div class="gift-message-mask"></div>
</div>
</form>
<% } %>
