<div class="fnModal message"><span class="<%= statusMessageClass %>"><%= statusMessageText %></span></div>
<div class="findStoreFormWrapper">
    <form id="frmFindAddress" action="#" method="post" novalidate="novalidate">
        <label for="txtPostcode">Enter a postcode to find a delivery address</label>
        <input type="text" id="txtPostcode" name="txtPostcode" class="postcode required" value="<%= defaultDelPostcode %>">
        <button type="submit" class="secondary-button" id="btnSubmitPostcode">Go</button>
    </form>
    <% if(statusMessageClass === 'error') {%>
    <button type="button" class="secondary-button" id="findAdifferentDelviery">Select another delivery type</button>
    <% } %>
</div>



