<div class="delivery-datePickerWrapper">
    <input type="hidden" class="charge" name="charge" value="">
    <input type="hidden" class="date" name="date" value="">
    <input type="text" class="delivery-datePicker" name="date">

    <div class="delivery-datePickerInfo">
    	<p class="deliveryDateMessage"><%= deliveryDateMessage %></p>
        <div class="cost">Delivery charge <span>&pound;<%= deliveryCharge %></span></div>
        <div class="selected-date"><%= deliveryDate %></div>
    </div>
    <div class="delivery-actions">
        <input type="button" class="button tertiary-button close-button" value="Cancel">
        <input type="submit" class="button tertiary-button confirm-date" value="Confirm date">
    </div>
</div>