<% if (isThisStoreRestricted === 'true') { %> 
	<a href="#" data-optionid="<%= deliveryMethodType %>" class="disabled">
	    <span class="icon <%= deliveryIcon %>"></span>
	    <div class="details">
	        <p><b><%= deliveryMethodName %></b>
	        	<span>
					<% if (deliveryMethodMessage !== '') { %>				
					<%= deliveryMethodMessage %> 
					<%} else { %>
						<%=deliveryCost %>
					<% }%>
	        	</span>
	        </p>
	        <p class="restrictThisStore">Sorry,this item can not be collected from store</p>
	    </div>
	    <!--.details-->
	    <span class="arrow"><b></b></span>
	</a>
<% }
else { %> 
	<a href="#" data-optionid="<%= deliveryMethodType %>">
	    <span class="icon <%= deliveryIcon %>"></span>
	    <div class="details">
	        <p><b><%= deliveryMethodName %></b>
	        	<span>
					<% if (deliveryMethodMessage !== '') { %>				
					<%= deliveryMethodMessage %> 
					<%} else { %>
						<%=deliveryCost %>
					<% }%>
	        	</span>
	        </p>
	        <% if (deliveryMessage) { %>
	        <span class="deliveryOptionMessage"><%= deliveryMessage %></span>
	        <% } %> 
	    </div>
	    <!--.details-->
	    <span class="arrow"><b></b></span>
	</a>
<% } %>
