<header>
	<h2><%= heading %></h2>
	<p><%= description %></p>
</header>
<div class='content'>
	<form id='ir-login-clubcard' action='#' method='post' novalidate='novalidate'>
		<input id='<%= formClubcardNumber %>'
			   pattern='\d*'
			   name='<%= formClubcardNumber %>'
			   value=''
                  placeholder="Enter your Clubcard number"
			   class='digits'
			   type='password'
			   maxlength='18'
			   autocomplete='off'>
		<input id='btn-manual-login' name='btn-manual-login' value='<%= enterClubcardButton %>'
				class="button <%= loginButtonClass %>" type="submit">
	</form>
	<img class='option-image' src='<%= optionImageUrl %>' alt='' draggable='false'>
</div>
