<div class="uiGiftMessage">
    <div class="header">
        <span class="label">Personal Message</span>
        <p class="lineCount"></p>
        <p class="count"><span class="value">250</span> Characters</p>
    </div>
    <textarea class="personalGiftMessage" rows="7" placeholder="Enter your personal message here"></textarea>

    <div class="buttons">
        <a class="button secondary-button cancel" href="#">Cancel</a>
        <a class="button secondary-button save" href="#">Save Message</a>
    </div>
</div>