<% if (subtotal > 0) { %>
<div class="itemHolder subtotal">
    <span class="itemLabel">Subtotal</span>
    <span class="itemValue">&pound;<%= subtotal %></span>
</div>
<% } %>

<div class="discounts">
    <ul>
        <% if (promotionAmount > 0) {%>
        <li class="itemHolder">
            <span class="itemLabel">Promotion</span>
            <span class="itemValue">-&pound;<%= promotionAmount %></span>
        </li>
        <% } %>
        <% if (staffDiscountAmount > 0) {%>
        <li class="itemHolder">
            <span class="itemLabel">Staff discount</span>
            <span class="itemValue">-&pound;<%= staffDiscountAmount %></span>
        </li>
        <% } %>
        <% if (giftCardAmount > 0) {%>
        <li class="itemHolder">
            <span class="itemLabel">Gift card</span>
            <span class="itemValue">-&pound;<%= giftCardAmount %></span>
        </li>
        <% } %>
        <% if (voucherAmount > 0) {%>
        <li class="itemHolder">
            <span class="itemLabel">Clubcard voucher</span>
            <span class="itemValue">-&pound;<%= voucherAmount %></span>
        </li>
        <% } %>
        <% if (exchangedVouchers > 0) { %>
	    <li class="itemHolder">
            <span class="itemLabel">Exchanged Vouchers</span>
            <span class="itemValue">-&pound;<%= exchangedVouchersAmount %></span>
        </li>
	    <% } %>
        <% if (ecouponAmount > 0) {%>
        <li class="itemHolder">
            <span class="itemLabel">eCoupon</span>
            <span class="itemValue">-&pound;<%= ecouponAmount %></span>
        </li>
        <% } %>
    </ul>
</div>

<div class="discountsTotal">
    <div class="itemHolder">
        <span class="itemLabel">Discounts <span id="discountCount">(0)</span></span>
        <span class="itemValue">-&pound;<span class="val" id="discountTotalValue">0</span></span>
    </div>
    <button class="tertiary-button viewDiscounts">View discounts</button>
</div>

<div class="itemHolder total">
    <span class="itemLabel"><%= totalToPayLabelText %></span>
    <span class="itemValue">&pound;<%= totalCost %></span>
</div>
<button class="primary-button"><%= payNowButtonText %></button>

<div class="termsAndConditionsMessage">
    <p><%= messageText %> <a href="#non" class="fnOpenOverlay" data-overlay-request="get-termsandconditions-content"><%= linkText %></a></p>
</div>

<ul class="clubcardPointsSummary">
    <li>
        <span class="itemLabel"><%= totalClubcardPointsLabelText %></span>
        <span class="itemValue"><%= clubcardPoints %></span>
    </li>
    <% if (extraClubcardPoints) {%>
    <li>
        <span class="itemLabel"><%= extraClubcardPointsLabelText %></span>
        <span class="itemValue"><%= extraClubcardPoints %></span>
    </li>
    <% } %>
</ul>