<h3>Your details</h3>
<div class="deliveryGroupContentInner">
    <p class="itemHolder"><span class="itemLabel">Name:</span> <span class="itemValue"><%= title %> <%= firstName %> <%= lastName %></span></p>
    <p class="itemHolder"><span class="itemLabel">Contact number:</span> <span class="itemValue"><%= contactNumber %></span></p>
    <p class="itemHolder"><span class="itemLabel">Email:</span> <span class="itemValue fnEmailAddress"><%= email %></span></p>
</div>
<p class="smallPrint">These details are used to keep you updated on your order and to locate your item on collection.</p>
<button class="tertiary-button fnChangeDetailsBtn">Change details</button>