<div class="voucherInfoContainer<% if (typeof voucherHtmlClass !== "undefined") { %> <%= voucherHtmlClass %><% } %>">
    <span class="voucherCurrency">&pound;</span><span class="voucherAmount"><%= voucherAmount %></span>
    <div class="statusExpiresContainer">
        <span class="voucherStatus<% if (voucherSelected) { %> voucherSelected<% } else { %> voucherNotSelected<% } %>"><%= voucherStatus %></span>
        <% if (voucherMessage != "") { %><span class="voucherMessage"><%= voucherMessage %></span><% } %>
        <span class="expiryDate"><%= voucherCode %> <%= expiryText %> <%= expiryDate %></span>
    </div>
</div>
<div class="selectLabelContainer">
    <label for="select-voucher<%= voucherID %>">Select</label>
    <input type="checkbox" id="select-voucher<%= voucherID %>" class="custom-checkbox"<% if (voucherSelected) { %> checked="checked"<% } %>  data-voucherID="<%= voucherID %>" />
    <div aria-hidden="true" class="checkbox"></div>
</div>