.product-spec-group-title-background {
    display: none;
}

.product-spec-group-title-container {
    width: 100%;
    background-color: $backgroundPutty;
}

.product-spec-group {
    width: 100%;
    padding-bottom: 0px;
    padding-left: 0px;
}

.product-spec-group-title-container {
    padding: 20px 10px;
}

.product-spec-header {
    padding-left: 10px;
    padding-right: 10px;    
}

.product-spec-row {
    padding-left: 10px;
    padding-right: 10px;
}

.icon-container {
    right: 10px;
}

.product-spec-description {
    padding-right: 46px;
    padding-left: 10px;
}