//checkout-payment module - mixins
@import "../common/common-mixins";

@mixin twoCol {
    #payment .payment-details,
    #payment .total,
    .coupons-group {
        width: 49%;
    }
    #payment .payment-details {
        float: left;
        margin-right: 8px;
    }
    .coupons-group {
        float: right;
    }
    #payment .total {
        bottom: 0;
        right: 0;
    }
}

@mixin threeCol {
    #payment .payment-details,
    #payment .total,
    .coupons-group {
        width: 32%;
    }
    #payment .payment-details,
    .coupons-group {
        float: left;
        margin-right: 2%;
    }
    #payment .total {
        right: 0;
        /*top: 0;*/
    }
}

@mixin notMobile {
    .dg-d-options {
        min-height: 60px;
    }
    #payment .payment-details,
    #payment .total,
    .coupons-groups {
        @include boxAndShadow;
        /*border-top: 2px solid #3e3e40;*/
        padding: 0 8px;
        margin-bottom: 16px;
        clear: none;
    }

    #payment .age-restriction {
        @include boxAndShadow;
        /*border-top: 2px solid #3e3e40;*/
        padding: 0 8px 16px;
        margin-bottom: 16px;
        clear: both;

        .hidden {
            display: none;
        }

        &:after {
            @include clear-fix;
        }

        h3 {
            padding: 12px 0;
            margin-bottom: 0;
            font-size: 1.8em;
            font-weight: normal;
        }

        p:first-child {
            margin-top: 16px;
        }

        p{
            margin: 8px 0;
        }

        .field-wrapper {
            float: left;
            margin-left: 16px;

            &.first{
                margin-left: 0;
            }
        }

        .customDropdown.open {
            z-index: 20;
        }
    }

    #ecoupon-voucher, #ecoupon-voucher-container {

        .first-set {
            display: none;
        }
        h3 {
            border-bottom: none;
        }
        .vouchers {
            h3 {
                padding: 12px 23px 12px 0;
                margin-bottom: 0;
                &:after {
                    margin-top: -6px;
                    top: 50%;
                }
            }
            p {
                @include boxAndShadow;
                padding: 16px 8px;
                margin-bottom: 16px;
                &:after {
                    content: 'c';
                }
            }
        }
        .your-clubcard-vouchers {
            h3 {
                padding: 0 0 12px 0;
                margin-bottom: 0;
                font-family: "Helvetica", Arial, sans-serif;
                font-size: 14px;
                font-weight: bold;
                border-bottom: 1px solid $pagePutty;
            }

        }

        #ecoupons {
            h3 {
                font-family: "Helvetica", Arial, sans-serif;
                font-size: 14px;
                font-weight: bold;
                padding: 16px 0 8px 0;
            }
        }
    }

    #gift-card {
        h3 {
            border-top: 1px solid $pagePutty;
        }
    }
    #ewallet, #ecoupon-wallet {
        //margin: 0 8px;
    }
    .js {
        #ecoupon-voucher, #ecoupon-voucher-container {
            .vouchers-link {
                &:after {
                    content: 'c';
                }
                p {
                    @include box-shadow(none);
                    border-bottom: none;
                    margin-bottom: 0;
                    &:after {
                        content: 'c';
                    }
                }
            }
            .ecoupon-link{
                margin-bottom: 0px;
                &:after {
                    content: 'c';
                }
                p {
                    @include box-shadow(none);
                    border-bottom: none;
                    margin-bottom: 0;
                    &:after {
                        content: 'c';
                    }
                }
            }
            .voucher-scroller, .ecoupon-scroller {
                @include boxAndShadow;
                // display: block;
                padding: 0 8px;
                // border-top: none;
                margin-bottom: 16px !important;
                display: none;
            }
            .ecoupon-scroller {
                padding-top: 10px;
            }
        }
        #ecoupon-voucher.hide, #ecoupon-voucher-container.hide {
            p {
                @include boxAndShadow;
                margin-bottom: 16px;
                padding: 16px 8px;
                &:after {
                    content: 'a';
                }
            }
            h3{
                &:after {
                    content: 'a';
                }
            }

        }
        .cvv-link-container {
            .close {
                position: absolute;
                display: block;
                cursor: pointer;
                width: 30px;
                height: 30px;
                right: -15px;
                top: -15px;

                overflow: hidden;
                background: #105da3;
                border-radius: 15px;
                border: 1px solid #999;
                .icon {
                    top: 7px;
                    left: 7px;
                    font-size: 1.2em;
                    color: #fff;
                }


                .label {
                    @include screen-reader;
                }
            }
        }
        #payment {
            .new-address {
                padding-right: 16px;
            }
        }
        .new-address {
            &:after {
                font-family: 'Tesco Icons';
                position: absolute;
                right: 0;
                color: #01539d;
                font-size: 0.8em;
                margin-top: 2px;
                /*content: 'a';*/
            }
            &.open {
                &:after {
                    /*content: 'c';*/
                }
            }
            &:first-letter {
                text-transform: capitalize;
            }
        }
    }

    .touch {
        #payment .payment-details #cvv-text .close {
            display: block;
        }
    }

    .js.no-touch #payment {
        .cvv {
            &:hover + #cvv-text {
                display: block;
                z-index: 15;
            }
        }
    }
}

@mixin commonButton {
    @include newButton;
    width: 49%;
    margin-top: 0;
    margin-bottom: 16px;
}

@mixin cancelUpdateButtons {
    .cancel {
        @include commonButton;
        @include secondaryButtonColoring
        float: left;
    }
    .update {
        @include commonButton;
        @include primaryButtonColoring;
        float: right;
        &.disabled {
            -webkit-appearance: none;
        }
    }
}

@mixin disabledState {
    .disabled {
        border-color: $pagePutty;
    }
}

@mixin checkbox {
    input[type="checkbox"] {
        display: none;
    }
    .checkbox {
        display: block;
        float: left;
        margin-left: 0;
    }
}

@mixin close {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;

    overflow: hidden;
    background: #105da3;
    border-radius: 15px;
    border: 1px solid #999;
    text-decoration: none;
    .icon {
        top: 7px;
        left: 7px;
        font-size: 14px;
        color: #fff;

    }
}

@mixin addAddress {
    @include inputStyles;
    h4 {
        font-size: 1.4em;
    }
    .back {
        display: none; // visible only in mobile for the virtual page
    }
    .form-actions {
        overflow: hidden;
    }
    .cancel {
        float: left;
        margin-bottom: 0;
    }
    .save {
        width: 49%;
        float: right;
    }
}
