//checkout-payment module - all
@import "../variables";
@import "checkout-payment-mixins";

#payment,
#gift-card,
#ecoupon-voucher, #ecoupon-voucher-container {
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
}

#payment .payment-details,
#payment .total,
#gift-card,
#ecoupon-voucher, #ecoupon-voucher-container {
  h3 {
    border-bottom: 1px solid $pagePutty;
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 16px;
    padding: 12px 0;
    width: 100%;
  }

  .field-wrapper {
    margin-bottom: 16px;

    &.select-field-wrapper {
      position: relative;
    }

    &.expiry {
      .customDropdown {
        z-index: 12;
      }
    }
  }

  .billing-address {
    .customDropdown,
    .control {
      width: 100%;

      .icon {
        position: absolute;
        right: 16px;
      }
    }

    .customDropdown {
      .control {
        min-height: 45px;
      }

      .innerText {
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 85%;
        }
    }

    .new-address {
      display: inline-block;
      margin-top: 10px;
      width: 100%;
    }
  }

  input[type=text],
  input[type=password] {
    font-size: 14px;
    height: 36px;
    padding: 0 10px;
    width: 100%;
  }

  .place-order {
    @include primaryButton;
    margin-bottom: 16px;
    width: 100%;
  }

  .add-voucher {
    @include primaryButton;
  }

  .cancel-voucher {
    @include secondaryButton;
  }

  #security-code {
    float: left;
    width: 35%;
  }

  .date-seperator {
    display: inline;
    font-size: 16px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
  }

  .customDropdown {
    display: inline-block;
  }

  .checkbox {
    display: none;
  }

  .checkbox-wrapper {
    overflow: hidden;

    > label {
      display: inline;
      line-height: 24px;
    }
  }

  p {
    font-size: 1.4em;
    margin: 8px 0;
  }

  .summary {
    border-top: 1px solid $pagePutty;
    margin: 0;
    overflow: hidden;
    padding-top: 16px;
  }

  .value {
    float: right;
    font-size: 1.2em;
    font-weight: bold;
  }

  .total-price {
    font-size: 1em;
  }

  .total-to-pay {
    font-family: 'Tesco', Helvetica, Arial, sans-serif;
    font-size: 2.4em;
  }

  #cvv-text {
    @include box-shadow(0 0 6px rgba(0, 0, 0, 0.2));
    background: #fff;
    border: 1px solid #848282;
    display: none;
    left: -25px;
    padding: 16px 8px;
    position: absolute;
    top: 54px;
    width: 280px;
    z-index: 20;

    a {
      display: none;
    }

    p {
      margin: 0;
    }

    .close {
      display: none;
    }

    &:after,
    &:before {
      border: 27px solid #848282;
      border-color: transparent transparent #848282 transparent;
      content: "";
      height: 0;
      left: 50%;
      margin-left: -27px;
      position: absolute;
      top: -54px;
      width: 0;
    }

    &:after {
      border-color: transparent transparent white transparent;
      border-width: 25px;
      margin-left: -25px;
      top: -50px;
    }
  }

  .cvv-link-container {
    display: inline-block;
    margin-left: 16px;
    position: relative;
  }

  .cvv {
    background: url('../img/card-cvv.png') no-repeat;
    display: inline-block;
    font-size: 1.4em;
    height: 40px;
    margin-top: -2px;
    padding-left: 76px;
    z-index: 16;

    span {
      display: block;
      margin: 11px 0 0;
      position: relative;
      z-index: 16;
    }
  }
}

#gift-card,
#ecoupon-voucher, #ecoupon-voucher-container {
  .add-voucher, .cancel-voucher {
    float: right;
    width: 49%;
  }

  .cancel-voucher {
    float: left;
  }
}

#ecoupon-voucher {
  .vouchers {
    position: relative;
  }

    &.hide .vouchers .error {
    display: none;
    }

    .checkbox-wrapper > label {
    position: absolute;
    text-indent: -999em;
    }
}

.payment-group-block {
  @include cancelUpdateButtons;

  h3 {
    font-family: "Tesco", Helvetica, Arial, sans-serif;
  }

  .add-new-address {
    @include addAddress;

    .field-wrapper.first {
      margin-top: 16px;
    }

    .error, .invalid2 {
      margin-bottom: 0;
    }
  }

  #payment {
  #totalCost{
    .totalCostBlock {
        border-bottom: 1px solid #f3f1ed;
        margin-bottom: 12px;

        h3 {
          border-bottom: 0;
          margin-bottom: 8px;
          padding: 0;
        }

        div:last-child {
          margin-bottom: 12px;
        }

        p {
          display: inline-block;
          margin: 0;
        }

        p:last-child {
          float: right;
        }
      }
    }

    .save-card {
      margin-bottom: 8px;
    }

    .total {
      padding: 16px 8px 0;

      p {
        margin: 0;
        margin-bottom: 16px;
      }

      .fuel-save-wrapper {
        border-top: 1px solid #d9d7d7;
        padding-top: 16px;

        .fuel-save-header {
          position: relative;
        }

        .fuel-save-link {
          cursor: pointer;

          &:hover {
            color: #00A1E0;
          }

          &::after {
            background: url('/assets/img/question.png') no-repeat;
            content: 'Help';
            height: 13px;
            margin-left: 4px;
            margin-top: 1px;
            position: absolute;
            position: relative;
            text-indent: -999em;
            width: 13px;
          }
        }

        .mask {
          bottom: 0;
          display: none;
          left: 0;
          position: fixed;
          right: 0;
          top: 0;
        }

        .tooltip-popup {
          -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
          background: #fff;
          border: 1px solid #848282;
          bottom: 55px;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
          display: none;
          margin-top: 20px;
          padding: 20px 8px 5px;
          position: absolute;
          right: 10%;
          width: 80%;
          z-index: 20;

          h4 {
            display: none;
          }

          a:link {
            color: #00A1E0;
          }

          &:after,
          &:before {
            border: 27px solid #848282;
            border-color: #848282 transparent transparent;
            bottom: -54px;
            content: "";
            height: 0;
            left: 50%;
            margin-left: -27px;
            position: absolute;
            width: 0;
          }

          &:after {
            border-color:white transparent transparent;
            border-width: 25px;
            bottom: -50px;
            margin-left: -25px;
          }

          p {
            display: block;

            &.terms {
              font-size: 0.9em;
              font-style: italic;
              font-weight: normal;
            }

            &.next-day,
            &.std-text {
              span {
                font-weight: bold;
              }
            }
          }

          .close {
            background: #105da3;
            border: 1px solid #999;
            border-radius: 15px;
            cursor: pointer;
            display: block;
            height: 30px;
            overflow: hidden;
            position: absolute;
            right: -15px;
            top: -15px;
            width: 30px;
            z-index: 21;

            .icon {
              color: #fff;
              font-size: 1.2em;
              left: 7px;
              top: 7px;
            }
          }
        }

        .fuel-save-message {
          margin-right: 20px;
        }

        ul.fuel-save-breakdown {
          li {
            padding-top: 2px;

            .value {
              color: #4F5050;
              font-size: 18px;
              font-weight: bold;
              top: -3px;
            }
          }
        }
      }
    }

    .new-address {
      color: $tescoBrightBlue;
      font-size: 1.4em;
    }

    .change-card {
      display: none;
    }

    .saved-card {
      .name,
      .card-number {
        font-weight: bold;
      }

      .address-details {
        display: block;
      }

      input.cancel {
        background: transparent;
        border: 0 none;
        clear: both;
        color: $tescoBrightBlue;
        font-weight: normal;
        height: auto;
        padding: 0;
        width: auto;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footnotes {
      clear: both;
    }

    #expiry-year.native-select-trigger {
      left: 100px;
    }

    .payment-details {
      padding: 8px 16px;

      h2 {
        padding: 8px 0 6px;
        }
    }
  }

  #ecoupon-voucher, #ecoupon-voucher-container {
    .back {
      display: none;
    }
  }

  #ecoupon-voucher-form, #ecoupon-voucher-container-form {
    h3 {
      @include tescoFont;
      font-size: 14px;
      font-weight: bold;
    }

    .field-wrapper {
      margin-bottom: 8px;

      input[type=text]:not(.error) {
        border: 1px solid $pagePutty;
      }
    }
  }
}

#gift-card {
  $pinInputWidth: 34%;
  .back {
    display: none;
  }

  .giftcard-image {
    height:200px;
    width:90%;
    display:block;
    margin:0.7em auto;
    background: transparent url('../images/giftcard-image.png') center center no-repeat;
    background-size:contain;
  }
  .giftcard-summary-wrapper {
    margin-top:1.3em;
    font-family: "Tesco", Helvetica, Arial, sans-serif;
    font-size:1.1em;
    .giftcard-summary-block {
      overflow:auto;
      margin:5px 0;
    }
    a.remove-gift-card {
      display:inline-block;
      font-size:1.2em;
      padding:0;
      margin-top:5px;
    }
    .giftcard-summary, .giftcard-added-icon {
      float:left;
    }
    .giftcard-added-icon {
      width:10%;
      height:1.3em;
      margin:5px 5px 0 0;
      text-align:right;
      &:before{
        content: "5";
        font-family:'Tesco Icons';
        font-size:1.2em;
        font-size: 1.3em;
        background-color: $iconGreen;
        color: #fff;
        padding: 0.3em;
        border-radius: 50%;
      }
    }
    .giftcard-summary {
      margin-top:5px;
      width:80%;
      p {
        margin-top:0;
      }
      .giftcard-summary-info {
        font-weight:bold;
        color: $iconGreen;
      }
    }

  }
  .field-wrapper-mini {
    margin-top: 7px;
    position: relative;
    width: 49%;
    display:inline-block;
    vertical-align:bottom;
    overflow:visible;
    &.pin {
      width:$pinInputWidth;
    }
    &.add {
      width:100%-($pinInputWidth + 2);
    }
  }

  input[type=text] {
    border: 1px solid $pagePutty;
    height:45px;
  }

  #code {
    width:100%;
  }

  #pin {
    float: right;
    margin-bottom:0;
  }

  .field-wrapper {
    margin: 4px 0 0;
    overflow: visible;
  }

  .add-voucher {
    height:45px;
    width:100%;
    margin-bottom:0;
  }
}

#ecoupon-voucher, #ecoupon-voucher-container {
  .errors {
    margin-bottom: 10px;
  }

  a {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  h3 {
    //padding: 16px 8px;
  }

  h3.module-header {
    cursor: pointer;
    position: relative;

    &:after {
      color: $putty;
      font-family: 'Tesco Icons';
      font-size: 0.8em;
      position: absolute;
      right: 8px;
    }
  }

  p {
    color: #01539d;
    font-size: 1.4em;
    margin: 0;
    margin-bottom: 16px;
    border-bottom: 1px solid $pagePutty;
    padding: 0 8px 16px;
    position: relative;

    &:after {
      font-family: 'Tesco Icons';
      position: absolute;
      right: 8px;
    }
  }

  .add-code {
    display: none;
    background-color: #f5f7ff;
    border: 1px solid $pagePutty;
    padding: 10px 8px;
    margin-bottom: 16px;

    h3 {
      padding-left: 0;
    }
  }
}

#ewallet-container #ewallet, #ecoupon-wallet-container #ecoupon-wallet {
  .field-wrapper {
    margin-bottom: 0;
    overflow: hidden;
  }

  p {
    width: 65%;
  }
}

.ecoupons {
  #ecoupon-wallet-container #ecoupon-wallet {
        p {
            width: auto;
        }

        .voucher-code {
            font-weight: bold;
        }
    }
}

#ewallet-container #ewallet .module-messages{
  font-size: 1.2em;
  margin-bottom: 10px;

  b{
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 10px;
  }

  p{
    width: 95%;
    padding-bottom: 15px;
  }
}

#ewallet-container #ewallet,
#ecoupon-wallet-container #ecoupon-wallet,
#gift-card {
  .ev-not-available .checkbox-wrapper{
    display: none;
  }

  .clubcard-vouchers li,
  .gift-cards li {
    position: relative;
    margin: 16px 0 0;
    padding-top: 16px;
    border-top: 1px solid $pagePutty;
    clear: both;

    &:first-child {
      border-top: 0;
      padding-top: 0;

      .checkbox-wrapper {
        top: 0;
      }
    }

    &:last-child {
      margin-bottom: 12px;
    }

    p {
      margin: 0;
    }
    }

  .clubcard-vouchers li {
    font-size: 12px;
    font-family: $bodyFont;

    p {
      font-size: 12px;
    }
  }

  .voucher-status {
    font-weight: bold;
  }

  .selected {
    .voucher-status {
      color: #236900;
    }
  }

  .ev-not-added{
    .voucher-status {
      color: #ff6600;
    }
  }

  .not-applicable {
    color: #848282;

    p, .voucher-status {
      color: #848282;
    }
  }

  .checkbox-wrapper {
    position: absolute;
    right: 0;
    top: 16px;
  }

  p {
    background-color: transparent;
    border: none;
    @include box-shadow(none);
    padding: 0;
    margin-bottom: 0;
    color: #575757;

    &:after {
      content: '';
    }
  }

  .voucher-details {
    // font-size: 1.4em;
    font-style: italic;
  }

  .delete {
    font-size: 1.4em;
    display: block;
    clear: both;
  }

  .ecoupons-list {
    li {
      margin-bottom: 12px;
      font-size: 12px;

      p,
      .delete {
        font-size: 12px;
      }
    }
  }

  .your-clubcard-vouchers {
    //border-bottom: 1px solid #3E3E3F;

    .button-container {
      display: none;
    }
  }

  .scroller {
    margin-bottom: 16px;
    overflow: auto;

    ul li {
      margin-right: 8px;
    }
  }
}

.js {
  #gift-card {
    .placeholder {
      label[for="code"] {
        top: 12px;
        left: 0;
      }

      label[for="pin"] {
        top: 12px;
        left: 52%;
      }
    }
  }

  .ecoupon-scroller {
    overflow: auto !important;
    max-height: 251px;
  }

  #payment {
    @include checkbox;

    .checkbox {
      margin-right: 8px;
    }
  }

  #ewallet, #ecoupon-wallet {
    @include checkbox;
  }

  #ewallet-container.hidden {
        display:none;
    }

  #cvv-text {
    display: none;
  }

  #virtual-page {
    #cvv-text,
    #ewallet-container, #ecoupon-wallet-container {
      display: block;

      .close {
        display: none;
      }
    }

    @include cancelUpdateButtons;
    @include checkbox;

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    #add-new-address {
      @include addAddress;
      @include boxAndShadow;
    }
  }

  #gift-card {
    position: relative;
    margin-bottom: 0px;

    h3 {
      border: 0px;
      margin-bottom: 0px;

      &:hover {
        cursor: pointer;
      }

      border-bottom: 0px solid $pagePutty;

      &:after {
        font-family: 'Tesco Icons';
        position: absolute;
        right: 8px;
        color: $putty;
        font-size: 0.8em;
        margin-top: 4px;
        content: 'c';
      }
    }

    &.hide {
      h3:after {
        content: 'a';
      }
    }

    .gift-card-container {
      margin-top: 10px;
      background-color: #f5f7ff;
      border: 1px solid $pagePutty;
      padding: 10px 8px 30px;
      margin-bottom: 5px;
      overflow: hidden;
      display: none;

      h3 {
        padding-left: 0;
      }

      p:first-child {
        margin-top: 0;
      }
    }
  }

  .payment-group-block {
    position: relative;
    overflow: hidden;
    width: 100%;

    .total {
      position: absolute;
      width: 100%;
    }

    .add-new-address {
      display: none;
    }

    .instruction-text {
      font-size: 1.2em;
        margin-bottom: 10px;
        display: inline-block;
        padding-right: 1px;
   }
  }

  #main-content {
    #ecoupon-voucher, #ecoupon-voucher-container,
    #gift-card {
      @include disabledState;

      &.place-order {
        @include gradient(#FFDBB2 ,#FFE3B2);
        border-color: #f5ede1;
        color: #fff7ec;
      }
    }
  }
}

#ewallet, #ecoupon-wallet {
  .show-more {
    display: block;
    font-size: 1.2em;
    text-align: right;
    margin: 8px 0;
  }
}

.checkout {
    #ewallet-container #ewallet,
    #ecoupon-wallet-container #ecoupon-wallet {
        .voucher-error {
            margin-top: 16px;
        }
    }

    &.irSPC {
      #totalCost {
        position: relative;
        float: right;
      }
    }

    #gift-card .field-wrapper .placeholder {
        width: 100%;
    }
}

.add-new-form {
  display: block;
  margin: 10px 0px;
  font-size: 1.2em;
}

.running-total {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: right;
}

.payment-overlay {
  opacity: 0;
  color: #fff;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.total-nill {
  position: relative;

  input {
    &[type="text"], &[type="password"] {
      background: #CCC !important;
    }
  }
}

#lightbox {
  .gift-card-description {
    padding-left: 20px;
    margin-top: 0px;
  }

  .remove-gift-card {
    padding-left: 20px;
    font-size: 1.2em;
    text-decoration: underline;
  }
}

#payment {
  .age-restriction {
    fieldset {
      position: relative;
    }
  }

  #spc-age-confirmation-module-dd,
  #spc-age-confirmation-module-mm,
  #expiry-month {
    & + .customDropdown a.control {
      width: 70px;
    }
  }

  #expiry-year,
  #spc-age-confirmation-module-yyyy {
    & + .customDropdown a.control {
      width: 92px;
    }
  }

  #expiry-month {
    & + .customDropdown {
      float: left;
    }

    &.required {
      & + .customDropdown {
        background: $inputYellow;
      }

      &.valid + .customDropdown {
        background: #fff;
      }
    }
  }

  .error + .customDropdown a.control {
    border:1px solid $tescoRed;
  }

  .payment-details {
      .date-seperator {
      float: left;
      width: 30px;
      margin-top: 5px;
    }
  }

  [for="spc-age-confirmation-module-dd"],
  [for="spc-age-confirmation-module-mm"],
  [for="spc-age-confirmation-module-yyyy"] {
    &.error {
      top: -27px;
      width: 264px;
    }
  }

  [for="expiry-year"],
  [for="expiry-month"],
  [for="cc-exp-year"] {
        &.error {
          width: 192px;
        }
    }

    [for="security-code"].error {
        width: 35%;
    }

    [for="postal-code-pca"].error {
        width: 242px;
    }

    .payment-wrapper {
      clear: both;

        .new-address-label {
            font-family: $bodyFont;
        }

        .new-address-label,
        .customDropdown + .address-details {
            display:none;
        }

        .billing-address .customDropdown .control {
            height: 45px;
        }

        &.newBillingAddressOpen {
      .new-address-label {
                display: block;
                padding: 0;
                border: 0;
            }

            .new-address,
            .billing-address > p,
            .address-details {
        display:none;
      }

            #billing-address,
      [for="billing-address"] {
        display: none;

        & + .customDropdown {
          display: none;
        }
      }
    }

        &.ajaxAddressAdded {
            #billing-address,
            [for="billing-address"] {
                display: block;

                & + .customDropdown {
                    display: block;
                }
            }

            .new-address {
                display: block;
            }

            .new-address-label {
        display: none;
            }
        }
   }
}

#add-billadr-nickname:focus  ~ .hint-messaging,
.hint-messaging.focussed {
  display: block;
}

.age-confirmation-fields {
  display: inline;
}

.age-confirmation-fields.with-hint {
  .hint-messaging {
    top: 0;
    }
}
