/*******************************************
* Global Link Save module
*******************************************/

@import "../../../core/components/variables";

ul.tabs-link-save{
	width: 100%;

	li {
		font-weight: bold;
		font-size: 1.313em;
		float: left;
		width: 33.3%;

		&.tab1 a {
			background:linear-gradient(to bottom, white 0%, #cccccc 100%) repeat scroll 0 0 transparent;
		}

		&.tab2 a {
			background:linear-gradient(to bottom, white 0%, #e5e5e5 100%) repeat scroll 0 0 transparent;
		}

		&.tab3 a {
			background:linear-gradient(to bottom, white 0%, #b4b4b4 100%) repeat scroll 0 0 transparent;
		}

		a {
			color: #343434;
			display: block;
			padding: 1em;
			border-top: 1px solid #bfbdbd;
			border-bottom: 1px solid #ffa626;
			border-right: 1px solid #bfbdbd;

			&.active {
				background:linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) repeat scroll 0 0;
				border-bottom: 1px solid #FFF;
				border-right: 1px solid #bfbdbd;
			}
			&:hover {
				background: linear-gradient(to bottom, #01539d 0%, #01539d 100%) repeat scroll 0 0;
				color: #FFF;
				text-decoration: none;
			}
		}
	}
}

#linksave-block-container {
	width: 100%;
	float: left;
	background: $pagePutty;
	.page-title-container {
		margin-bottom: 30px;

		h1.page-title {
			text-align: center;
			color: $offBlack;
			margin-top: 10px;
			font-weight: bold;

			#offersTerms {
				color: $midLightGrey;
				font-family: $tescoFont;
				font-weight: normal;
			}
		}
	}

	.linksave {
		float: left;
		clear: both;
		width: 100%;

	  #icon-module {
			width: 100%;
			margin: 0 auto;

			ul.icon-link-save {
				position: relative;
    		height: 65px;
		    clear: both;
		    margin: 0 auto;

				li {
					font-weight: bold;
					font-size: 1.313em;
					border-top: 2px solid $tescoBlue;
					float: left;
					position: relative;
					line-height: 18px;

					&:last-child {
				    border: none;
				    float: left;
						a{
							top: -20px;
						}
						.block-title {
							margin-top: 32px;
						}
					}

					&.active {
						a{
							background-color: #008DC8;
							color: $white;
							border:	none;
							padding-top: 11px;
							padding-left: 15px;
						}

						.block-title {
							color: $asphalt;
							font-weight: normal;
							width: 150px;
							margin-left: -55px;
						}
					}
					a {
						background-color: $white;
						border: 2px solid $tescoBlue;
						border-radius: 50%;
						color: $tescoBlue;
						font-size: medium;
						width: 40px;
						height: 40px;
						padding: 10px 14px;
						position: absolute;
						top: -21px;
						left: 0;

					}
					.block-title {
						color:	$tescoBlue;
						font-size: 16px;
						font-family: $tescoFont;
						display: inline-block;
						float: left;
						text-align: center;
						width: 158px;
						margin: 30px 0 0 -59px;
						padding-bottom: 10px;
					}
				}
			}
		}
	}
}
