/*******************************************
*	Product Sort By module
*******************************************/

@import "../../../core/components/variables";
@import "../mixins/product-sort-by-mixins";

.sort-by-overlay {
	h2 {
		padding-left: 17px;
	}
	ul li {
		font-size: 1.4em;
		position: relative;
		border-top: 1px solid red;
		&:first-child {
			border-top: none;
		}
		a {
			padding: 5px 17px;
			display: block;
		}
		&.active a {
			color: red;
		}

	}
}
#product-sort-by {
	&:after {
		@include clear-fix;
	}
	.trigger {
		background: #fff;
		font-weight: normal;
		float: left;
		padding: 10px 17px 10px 10px;
		position: relative;

	}
	.icon {
		border: 1px solid red;
		position: absolute;
		content: "r";
		right: 17px;
		top: 50%;
		margin-top: -8px;
		display: block;;
	}
	form {
		&:after {
			@include clear-fix;
		}
		label {
			font-size: 1.4em;
		}

		.button,
		select,
		label {
			float: left;
			margin-left: 10px;
		}

	}

}
.js #product-sort-by form {
	display: none;
}
