//checkout-product module - tablet
@import "../breakpoints";
@include breakpoint(allTablet);
@import "checkout-product-mixins";


.checkout {
	.clubcard-exchange {
		@include tooltipLarge;
	}
	@include breakpoint(hTablet){
		.delivery-group-block {
			.error-wrapper {
	    		height: 0;
    			margin-bottom: 17px;
			}
			.pipe-symbol {
		    padding: 14px 10px 14px 10px;
		    border-left: 1px solid #fff;
			}
			.delivery-saver{
		            background-color: #f8f7f5;
		            font-size: 1.4em;
		            width: 100%;
		            margin: 0 auto;
		            position:relative;
	                padding: 7px 27px 9px 41px;
		            top: -106px;
		            right: 0px;
		            &:before {
				        position: absolute;
				        top: -9px;
				        left: 0;
				        z-index: -1;
		    		}
		
				    &:after {
				        position: absolute;
				        top: -9px;
				        left: 0;
				        width: 95px;
				        height: 36px;
				        font-family: 'Tesco Icons';
				        content: attr(data-icon);
				        color: $red;
				        display: block;
				        overflow: hidden;
				        z-index: -1;
				        background: #fff;
				    }
	           }
            #tesco-delivery-saver-logo{
				    top: -54px;
				    left: 3px;
		    }
			.delivery-saver-tooltip{
					display: none;
					background: #fff;
					@include box-shadow(0 0 6px rgba(0,0,0,0.2));
					border: 1px solid #848282;
					position: absolute;
					right: 31px;
					width: 280px;
					padding: 16px 8px;
					z-index: 20;
					p {
						margin: 0;
						padding-bottom: 10px;
						font-size: 14px;
						a {
							color: #00a1e0;
				            text-decoration: none;
						}
						.icon {
							color: #00a1e0;
				            text-decoration: none;
				            font-size: 10px;
						}
					}
					.close {
			
	                        cursor: pointer;
	                        display: block;
	                        position: absolute;     
	                        height: 30px;
	                        width: 30px;
	                        right: -15px;
	                        top: -15px;
	                        overflow: hidden;
	                        z-index: 21;
	                        background: #7c765f;
	                        -moz-border-radius: 50%; 
	                        -webkit-border-radius: 50%; 
	                        border-radius: 50%;
	                        .icon {
		                          top: 8px;
		                          left: 9px;
		                          font-size: 1em;
		                          color: #fff;
	                          &:before{
		                            content: "y"; 
		                            font-family:'Tesco Icons';
	                          }
	                        }
	                        .label {
	                            left: -9999em;
	                            position: absolute;
	                        }
	                    }
					&:after,
					&:before {
						content: "";
						border: 27px solid #848282;
						border-color: transparent transparent #848282 transparent;
						height: 0;
						width: 0;
						position: absolute;
						top: -54px;
						left: 50%;
						margin-left: 48px;
					}
					&:after {
						border-color: transparent transparent white transparent;
						border-width: 25px;
						top: -50px;
						margin-left: 50px;
					}
		}
	}
	}
	@include breakpoint(vTablet){
		.delivery-group-block {
			.pipe-symbol {
		    padding: inherit;
		    border-left: 1px solid #fff;
			}
			.delivery-saver ~ .tabs-wrapper {
			    margin-bottom: -28px;
			}
	      	.delivery-saver{
		        font-size: 1.4em;
		        text-align: left;
		        padding: 16px 0;
		        width: 288px;
		        margin: 0 auto;
		        position:relative;
		        top: -18px;
		        float: right;
		        background-color: inherit;
		        right: 0px;
				&:before {
				    position: absolute;
				    top: -9px;
				    left: 0;
				    z-index: -1;
				}
	
			    &:after {
			        position: absolute;
			        top: -9px;
			        left: 0;
			        width: 95px;
			        height: 36px;
			        font-family: 'Tesco Icons';
			        content: attr(data-icon);
			        color: $red;
			        display: block;
			        overflow: hidden;
			        z-index: -1;
			        background: #fff;
			    }
			}
	        #tesco-delivery-saver-logo{
	            top: -77px;
			    left: 4px;
	        }
	       .delivery-saver-tooltip{
				display: none;
				background: #fff;
				@include box-shadow(0 0 6px rgba(0,0,0,0.2));
				border: 1px solid #848282;
				position: absolute;
				right: 74px;
				width: 280px;
				padding: 16px 8px;
				z-index: 20;
				p {
					margin: 0;
					padding-bottom: 10px;
					font-size: 14px;
					a {
						color: #00a1e0;
				        text-decoration: none;
					}
					.icon {
						color: #00a1e0;
				        text-decoration: none;
				        font-size: 10px;
					}
				}
				.close {
	                cursor: pointer;
	                display: block;
	                position: absolute;     
	                height: 30px;
	                width: 30px;
	                right: -15px;
	                top: -15px;
	                overflow: hidden;
	                z-index: 21;
	                background: #7c765f;
	                -moz-border-radius: 50%; 
	                -webkit-border-radius: 50%; 
	                border-radius: 50%;
	                .icon {
	                  top: 8px;
	                  left: 9px;
	                  font-size: 1em;
	                  color: #fff;
	                  &:before{
	                    content: "y"; 
	                    font-family:'Tesco Icons';
	                  }
	                }
	                .label {
	                    left: -9999em;
	                    position: absolute;
	                }
	            }
				&:after,
				&:before {
					content: "";
					border: 27px solid #848282;
					border-color: transparent transparent #848282 transparent;
					height: 0;
					width: 0;
					position: absolute;
					top: -54px;
					left: 50%;
					margin-left: 48px;
				}
				&:after {
					border-color: transparent transparent white transparent;
					border-width: 25px;
					top: -50px;
					margin-left: 50px;
				}
			}
	    }
	}
}