//checkout-product module - mixins

@mixin tooltipLarge {
	position: relative;
	font-size: 14px;

	p {
		font-size: 1em;
	}

	.info {
		display: none;
		position: absolute;
		top: 43px;
		left: 0px;
		width: 400px;
		padding: 8px 16px;
		border: 1px solid #8A8888;

		.back {
			display: none;
		}

		&:after {
			content: '';
			background: url(../img/checkout-tooltip-arrow-top.png) no-repeat center center;
			position: absolute;
			width: 29px;
			height: 15px;
			top: -15px;
			left: 62px;
			margin-left: -18px;
		}
	}
}
