//checkout-product module - all
@import "../variables";
@import "checkout-product-mixins";

.checkout {
	.delivery-group-block {
		@include boxAndShadow;
		margin-bottom: 16px;
		padding: 0 8px;
        font-size: 1em;
        .pipe-symbol{
		    	padding: 14px 44px 14px 10px;
    			border-left: 1px solid #fff;
       		}
       	.delivery-saver ~ .tabs-wrapper {
    		margin-top: -41px;
		}
       .delivery-saver{
	        background-color: #f8f7f5;
	        font-size: 1.4em;
	        text-align: right;
	        padding: 16px 44px 16px 27px;
	        width: 71%;
	        margin: 0 auto;
	        position:relative;
	        top: -106px;
	        right: -24px;
		    &:before {
		        position: absolute;
		        top: -9px;
		        left: 0;
		        z-index: -1;
		    }
	
		    &:after {
		        position: absolute;
		        top: -9px;
		        left: 0;
		        width: 95px;
		        height: 36px;
		        font-family: 'Tesco Icons';
		        content: attr(data-icon);
		        color: $red;
		        display: block;
		        overflow: hidden;
		        z-index: -1;
		        background: #fff;
		    }
		    a{
		    	position: relative;
    		}
      	}
       	#tesco-delivery-saver-logo{
		    position: absolute;
		    top: -46px;
		    left: 39px;
		    width: 197px;
		    display: block;
		    z-index: 0;
		    margin: 1px 0 0;
		    font-size: 12em;
		    line-height: 1;
		    color: #00539f;
		    text-decoration: none;
    	 	&:before{
    	 		position: absolute;
			    left: 0;
			    z-index: -1;
			    top: -13px;
    	 	}
	    	&:after{
    	        position: absolute;
				top: -13px;
				left: 0px;
				width: 73px;
				height: 89px;
				font-family: 'Tesco Icons';
				content: attr(data-icon);
				color: #F13B3B;
				display: inline-block;
				overflow: hidden;
				z-index: -1;
				background: inherit;
		    }
   		}
		.delivery-saver-tooltip{
			display: none;
			background: #fff;
			@include box-shadow(0 0 6px rgba(0,0,0,0.2));
			border: 1px solid #848282;
			position: absolute;
			right: 179px;
			width: 280px;
			padding: 16px 8px;
			z-index: 20;
			p {
				margin: 0;
				padding-bottom: 10px;
				font-size: 14px;
				a {
					color: #00a1e0;
		            text-decoration: none;
				}
				.icon {
					color: #00a1e0;
		            text-decoration: none;
		            font-size: 10px;
				}
			}
			.close {
	            cursor: pointer;
	            display: block;
	            position: absolute;     
	            height: 30px;
	            width: 30px;
	            right: -15px;
	            top: -15px;
	            overflow: hidden;
	            z-index: 21;
	            background: #7c765f;
	            -moz-border-radius: 50%; 
	            -webkit-border-radius: 50%; 
	            border-radius: 50%;
	            .icon {
	              top: 8px;
	              left: 9px;
	              font-size: 1em;
	              color: #fff;
	              &:before{
	                content: "y"; 
	                font-family:'Tesco Icons';
	              }
	            }
	            .label {
	                left: -9999em;
	                position: absolute;
	            }
	        }
			&:after,
			&:before {
				content: "";
				border: 27px solid #848282;
				border-color: transparent transparent #848282 transparent;
				height: 0;
				width: 0;
				position: absolute;
				top: -54px;
				left: 50%;
				margin-left: 48px;
			}
			&:after {
				border-color: transparent transparent white transparent;
				border-width: 25px;
				top: -50px;
				margin-left: 50px;
			}
		}
		h2 {
			padding: 16px 0;
			margin-bottom: 0;
			font-size: 20px;
			span{
				display: block;
  				font-size: 12px;
			}
		}
        p{
            padding-left: 8px;
        }

		.thumbnail {
			width: 85px;
			height: 85px;
            margin: 0 16px 0 8px;
			float: left;

			img {
				width: 100%;
				height: auto;
			}

		}
	}


	.product-block {
		padding-top: 16px;

		p {
			margin: 16px 0;
		}

		h3 {
			font-family: $tescoFont;
			font-weight: normal;
            line-height: 26px;
		}

		.product-details, .additional-service-item{
			margin-left: 110px;
            
            p {
                padding-left: 0;
            }
		}

		.cat-no {
			margin-bottom: 8px;
		}

		.add-on-image-container {
            margin: 8px 0 8px;

            img {
              height: 21px;
              width: 112px;
            }
          }
		
		.sold-block {
			margin-top: 0;
			.dg-items-ps {
				font-weight: bold;
			}
		}

		.additional-service-item {
			border-top: 1px solid $primaryBorderColor;
			padding-top: 16px;
			.blinkbox{
				float:left; 
				margin:0;
			}
			h3 {
				font-size: 1.2em;
			}
		}

		.age-restriction, .adult-signature {
			margin: 8px 0;
		}

		.price-container {
			text-align: right;
			font-weight: bold;
			font-family: "Tesco", Helvetica, Arial, sans-serif;
			font-size: 1.8em;
			margin-top: 8px;
		}

		.price-promise, .clubcard-exchange {
			display: table;
			margin: 8px 0;

			span {
				display: table-cell;
				vertical-align: middle;
			}

			.logo,
			.bcve_ping {
				margin-right: 8px;
			}
		}
		.hide-border {
			border: 0 none;
		}
	}

	.clubcard-exchange {
		font-size: 14px;

		p {
			float: left;
			font-size: 1em;
			margin: 0 0 8px;
		}

		.text-link {
			display: table;
			font-size: 0.9em;
			a {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.adult-signature {
			float: left;
			font-size: 0.9em;
			display: block;
			clear: both;
		  margin-top: 0;
		}

		.info {
			display: none;
			background: #fff;
			@include box-shadow(0 0 6px rgba(0,0,0,0.2));
			border: 1px solid #DFDFDF;
			z-index: 200;
		}
		
		.tooltip {
			width: 350px;
			
			a.close {
				font-size: 0.3em;
			}
		}

	}

	.dg-items-pt {
        word-wrap: break-word;
    }

}