//checkout-product module - desktop
@import "../breakpoints";
@include breakpoint(desktop);
@import "checkout-product-mixins";

.checkout {

	.delivery-group-block {
		.pipe-symbol {
	    padding: 14px 10px 14px 10px;
	    border-left: 1px solid #fff;
		}
		.error-wrapper {
    		height: 0;
			margin-bottom: 11px;
		}
		.delivery-saver{
	            background-color: #f8f7f5;
	            font-size: 1.4em;
	            width: 75%;
	            margin: 0 auto;
	            position:relative;
	            top: -116px;
                right: -75px;
                padding: 16px 3px 16px 27px;
	            &:before {
			        position: absolute;
			        top: -9px;
			        left: 0;
			        z-index: -1;
	    		}
	
			    &:after {
			        position: absolute;
			        top: -9px;
			        left: 0;
			        width: 95px;
			        height: 36px;
			        font-family: 'Tesco Icons';
			        content: attr(data-icon);
			        color: $red;
			        display: block;
			        overflow: hidden;
			        z-index: -1;
			        background: #fff;
			    }
           }
        #tesco-delivery-saver-logo{
		    left: 11px;
        } 
		.delivery-saver-tooltip{
				display: none;
				background: #fff;
				@include box-shadow(0 0 6px rgba(0,0,0,0.2));
				border: 1px solid #848282;
				position: absolute;
				right: 107px;
				width: 280px;
				padding: 16px 8px;
				z-index: 20;
				p {
					margin: 0;
					padding-bottom: 10px;
					font-size: 14px;
					a {
						color: #00a1e0;
			            text-decoration: none;
					}
					.icon {
						color: #00a1e0;
			            text-decoration: none;
			            font-size: 10px;
					}
				}
				.close {
		
                        cursor: pointer;
                        display: block;
                        position: absolute;     
                        height: 30px;
                        width: 30px;
                        right: -15px;
                        top: -15px;
                        overflow: hidden;
                        z-index: 21;
                        background: #7c765f;
                        -moz-border-radius: 50%; 
                        -webkit-border-radius: 50%; 
                        border-radius: 50%;
                        .icon {
	                          top: 8px;
	                          left: 9px;
	                          font-size: 1em;
	                          color: #fff;
                          &:before{
	                            content: "y"; 
	                            font-family:'Tesco Icons';
                          }
                        }
                        .label {
                            left: -9999em;
                            position: absolute;
                        }
                    }
				&:after,
				&:before {
					content: "";
					border: 27px solid #848282;
					border-color: transparent transparent #848282 transparent;
					height: 0;
					width: 0;
					position: absolute;
					top: -54px;
					left: 50%;
					margin-left: 48px;
				}
				&:after {
					border-color: transparent transparent white transparent;
					border-width: 25px;
					top: -50px;
					margin-left: 50px;
				}
	}
		.price {
			font-size: 1.35em;
		}

		.thumbnail {
			width: 170px;
			height: 170px;
		}

		.product-details, .additional-service-item h3 {
			max-width: 70%;
			float: left;
			margin-left: 0;
			&:after {
				@include clear-fix;
			}
		}

		.price-container {
			margin-top: 0;
			clear: right;
		}

		.additional-service-item {
			clear: both;
			margin-left: 113px;

			h3 {
				margin: 0;
			}
		}
	}

	.clubcard-exchange {
		@include tooltipLarge;
	}

}