//buying-guides-directory module - tablet
@import "../breakpoints";
@include breakpoint(allTablet);
@import "buying-guides-directory-mixins";

@include mobile-buying-guides-directory;

.buying-guides-directory {

	#buying-guides-directory {

		.level-one,
		.level-two,
		.level-three {
			&:after {
				@include clear-fix;
			}
		}

		.level-one {
			> li {
				float: left;
				width: 50%;
				&.level-back,
				&.level-heading {
					float: none;
					width: auto;
				}
				&:nth-child(odd) {
					border-right: 1px solid $color-grey-light;
				}
				&:nth-child(even) {
					border-left: none;
					border-right: none;
				}
			}
		}

		.sub-menu {
			li {
				float: left;
				width: 50%;
			}
		}

		.level-two,
		.level-three {
			border-left: 1px solid $color-grey-light;
			> li {
				&.level-back,
				&.level-heading {
					clear: both;
					float: none;
					width: auto;
					border-left: 1px solid $color-grey-light;
					&.lower {
						position: relative;
						top: -1px; // to compensate for the 1px border-bottom on the base of the list items
						margin-bottom: -2px;
						border-top: 1px solid $color-grey-light;
					}
				}
			}
		}
	}
}