//buying-guides-directory module - mixins

$onecol: 16px;
$color-grey-dark: #3E3E3F;
$color-grey-light: #D0D0D0;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

@mixin mobile-buying-guides-directory {
	$level-one-item-height: 66px;
	$sub-menu-item-height: 48px;

	.buying-guides-directory {

		#buying-guides-directory {
			.level-one {
				border-top: 1px solid $color-grey-light;
				> li {
					> a {
						height: $level-one-item-height;
						line-height: $level-one-item-height;
					}
				}
			}

			.sub-menu {
				li {
					> a {
						height: $sub-menu-item-height;
						line-height: $sub-menu-item-height;
						padding-left: $onecol / 2;
					}
					&.level-heading {
						h2,
						h3 {
							height: $sub-menu-item-height;
							line-height: $sub-menu-item-height;
							padding-left: $onecol / 2;
							margin: 0;
							font-size: 18px;
						}
					}
				}
			}

			.level-one,
			.level-two,
			.level-three {
				@include box-shadow( $box-shadow );
				border-right: 1px solid $color-grey-light;
				border-bottom: 1px solid $color-grey-light;
				> li {
					border-left: 1px solid $color-grey-light;
					border-bottom: 1px solid $color-grey-light;
				}
			}

			.level-two,
			.level-three {
				border-top: 2px solid #000;
				display: none;
			}

			.level-two {
				margin-top: -1px; // compensate for 1px border top on level one
			}
			.level-three {
				margin-top: -2px; // compensate for 2px border top on level two
				margin-left: 1px;
			}

			.animateIn {
				@include translate3d(-100%, 0, 0);
				@include transition(all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000));
				> li.selected > .sub-menu,
				> li.selected > .level-three {
					position: absolute;
					top: 0;
					left: 100%;
				    width: 100%;
				    opacity: 1;
				}
				&.animateOut {
					@include translate3d(0, 0, 0);
					@include transition(all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000));
				}
			}
		}
	}
}