//buying-guides-directory module - desktop
@import "../breakpoints";
@include breakpoint(desktop);
@import "buying-guides-directory-mixins";

$level-one-width: 312px;
$level-two-width: 296px;
$level-three-width: 310px;

$level-one-item-height: 66px;
$sub-menu-item-height: 38px;

$level-one-item-height: 66px;
	$sub-menu-item-height: 48px;

	.buying-guides-directory {

		#buying-guides-directory {
			border-top: 2px solid #000;

			.level-one {
				width: $level-one-width;
				// border-left: 1px solid $color-grey-light;
				> li {
					> a {
						height: $level-one-item-height;
						line-height: $level-one-item-height;
					}
				}
			}

			.level-one,
			.level-two,
			.level-three {
				border-right: 1px solid $color-grey-light;
				border-bottom: 1px solid $color-grey-light;
				> li {
					border-left: 1px solid $color-grey-light;
					border-bottom: 1px solid $color-grey-light;
					&:last-child {
						border-bottom: none;
					}
				}
			}

			/*
			.sub-menu {
				li {
					> a {
						height: $sub-menu-item-height;
						line-height: $sub-menu-item-height;
						padding-left: $onecol / 2;
					}
					&.level-heading {
						h2,
						h3 {
							height: $sub-menu-item-height;
							line-height: $sub-menu-item-height;
							padding-left: $onecol / 2;
							margin: 0;
							font-size: 18px;
						}
					}
				}
			}

			.level-one,
			.level-two,
			.level-three {
				@include box-shadow( $box-shadow );
				border-right: 1px solid $color-grey-light;
				border-bottom: 1px solid $color-grey-light;
				> li {
					border-left: 1px solid $color-grey-light;
					border-bottom: 1px solid $color-grey-light;
				}
			}

			.level-two,
			.level-three {
				border-top: 2px solid #000;
				display: none;
			}

			.level-two {
				margin-top: -1px; // compensate for 1px border top on level one
			}
			.level-three {
				margin-top: -2px; // compensate for 2px border top on level two
				margin-left: 1px;
			}

			.animateIn {
				@include translate3d(-100%, 0, 0);
				@include transition(all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000));
				> li.selected > .sub-menu,
				> li.selected > .level-three {
					position: absolute;
					top: 0;
					left: 100%;
				    width: 100%;
				    opacity: 1;
				}
				&.animateOut {
					@include translate3d(0, 0, 0);
					@include transition(all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000));
				}
			}
			*/
		}
	}

















.buying-guides-directory2222 {

	#buying-guides-directory {

		/*position: relative;
					display: block;
					height: $level-one-item-height;
					line-height: $level-one-item-height;
					padding-left: 104px;
					&:after {
						position: absolute;
						top: 0;
						right: $onecol;
						line-height: $level-one-item-height;
						font-family: 'Tesco Icons';
						content: 'r';
					}*/

		.level-one {
			width: $level-one-width;
			margin: -1px 0 0; // minus 1 to compensate for top border on the #buying-guides-directory wrapper
			> li {
				z-index: 1; // so the shadow is visible on the selected
				border-color: $color-grey-light;
				border-style: solid;
				border-width: 1px 1px 0 0;
				> a {
					height: $level-one-item-height;
					line-height: $level-one-item-height;
					padding: 0 0 0 104px;
					&:after {
						right: $onecol;
					}
					img {
						position: absolute;
						top: $onecol / 4;
						left: $onecol / 2;
					}
				}
				&.selected {
					@include box-shadow( $box-shadow );
					z-index: 2; // so the shadow is visible on the selected
					border-color: $color-grey-dark;
					border-style: solid;
					border-width: 2px 0 0;

					.sub-menu {
						visibility: visible;
					}
				}
			}
		}

		.sub-menu {
			position: absolute;
			top: -1px; // so the sub menu's top border sit's over the main #buying-guides-directory wrapper top border
			left: $level-one-width - 1px; // so the sub menu's left border sit's under the parent selected li
			width: $level-two-width;
			opacity: 1; // reset from inherited .sub-menu
			border-color: $color-grey-dark $color-grey-light $color-grey-light;
			border-style: solid;
			border-width: 2px 1px 0 1px;
			overflow: hidden;
			visibility: hidden;

			/*
			@include transition('width 300ms ease-in-out, height 300ms ease-in-out');
			width: 0;
			height: 0;
			*/

			&.height-exceeded {
				@include box-shadow( $box-shadow );
			}
			&.level-three-open {
				width: $level-two-width + $level-three-width;
			}
			ul {
				margin: 8px 0 $onecol 0;
				padding: 0 $onecol;
				li {
					height: $sub-menu-item-height;
					line-height: $sub-menu-item-height;
					border-bottom: 1px solid $color-grey-light;

					&:last-child {
						border-bottom: none;
					}
				}

				&.level-two {
					width: $level-two-width - 2px; // compensate for borders on the .sub-menu

					> li {
						&.selected {
						.level-three {
								visibility: visible;
							}
						}
					}
				}

				&.level-three {
					position: absolute;
					top: 0;
					left: $level-two-width;
					width: $level-three-width - 2px; // compensate for borders on the .sub-menu
					border-left: 1px solid $color-grey-light;
					// display: none;
					visibility: hidden;
				}

			}
		}
	}
}
