//buying-guides-directory module - large desktop
@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "buying-guides-directory-mixins";


$level-one-width: 464px;
$level-two-width: 384px;
$level-three-width: 336px;

$level-one-item-height: 66px;
$sub-menu-item-height: 48px;

.buying-guides-directory {

	#buying-guides-directory {

		/*position: relative;
					display: block;
					height: $level-one-item-height;
					line-height: $level-one-item-height;
					padding-left: 104px;
					&:after {
						position: absolute;
						top: 0;
						right: $onecol;
						line-height: $level-one-item-height;
						font-family: 'Tesco Icons';
						content: 'r';
					}*/

		.level-one {
			width: $level-one-width;
			margin: -1px 0 0; // minus 1 to compensate for top border on the #buying-guides-directory wrapper
			> li {
				z-index: 1; // so the shadow is visible on the selected
				border-color: $color-grey-light;
				border-style: solid;
				border-width: 1px 1px 0 0;
				> a {
					height: $level-one-item-height;
					line-height: $level-one-item-height;
					padding: 0 0 0 104px;
					&:after {
						right: $onecol;
					}
					img {
						position: absolute;
						top: $onecol / 4;
						left: $onecol / 2;
					}
				}
				&.selected {
					@include box-shadow( $box-shadow );
					z-index: 2; // so the shadow is visible on the selected
					border-color: $color-grey-dark;
					border-style: solid;
					border-width: 2px 0 0;
					position: relative;

					.sub-menu {
						visibility: visible;
					}
				}
			}
		}




		.sub-menu {
			position: absolute;
			top: -2px; // so the sub menu's top border sit's over the main #buying-guides-directory wrapper top border
			left: $level-one-width - 1px; // so the sub menu's left border sit's under the parent selected li
			width: $level-two-width;
			opacity: 1; // reset from inherited .sub-menu
			border-color: $color-grey-dark $color-grey-light $color-grey-light;
			border-style: solid;
			border-width: 2px 1px 0 1px;
			overflow: hidden;
			visibility: hidden;

			/*
			@include transition('width 300ms ease-in-out, height 300ms ease-in-out');
			width: 0;
			height: 0;
			*/

			&.height-exceeded {
				@include box-shadow( $box-shadow );
			}
			&.level-three-open {
				width: $level-two-width + $level-three-width;
			}
			ul {
				margin: 0 0 $onecol 0;
				padding: 0 ($onecol * 2.5);
				li {
					height: $sub-menu-item-height;
					line-height: $sub-menu-item-height;
					border-bottom: 1px solid $color-grey-light;

					&:last-child {
						border-bottom: none;
					}
				}



				.level-two {
					width: $level-two-width - 2px; // compensate for borders on the .sub-menu
					> li {

						.level-three {
						position: absolute;
						top: 0;
						left: $level-two-width;
						width: $level-three-width - 2px; // compensate for borders on the .sub-menu
						border-left: 1px solid $color-grey-light;
						// display: none;

						}

						&.selected {
						.level-three {
								visibility: visible;
								border: 1px solid red;
							}
						}

						.level-back,
						.level-heading {
							display: none;
						}

					}

				}

				.level-three {
					position: absolute;
					top: 0;
					left: $level-two-width;
					width: $level-three-width - 2px; // compensate for borders on the .sub-menu
					border-left: 1px solid $color-grey-light;
					// display: none;


				}
			}



			/*
			background: grey;
			ul {
				background: transparent;
			}
			*/

			// $level-two-width: 382px;
			// $level-three-width: 334px;


		}
		/*
		.level-two {
			position: absolute;
			top: 0;
			left: $level-one-width;
			width: $level-two-width;
			> li {

			}
		}
		.level-three {
			position: absolute;
			top: 0;
			left: $level-two-width;
			width: $level-three-width;
			> li {

			}
		}
*/

		/*
		ul {
			background-color: #fff;
			li {
				border-top: 1px solid $primaryBorderColor;
				a {
					font-size: 1.4em;
				}
			}
		}

		.level-one {
			position: relative;
			width: $level-one-width;
			border-style: solid;
			border-width: 0 0 1px 1px;
			border-color: $primaryBorderColor;
			z-index: 3;
			> li {
				z-index: 1;
				border-right: 1px solid $primaryBorderColor;
				> a {
					position: relative;
					display: block;
					height: $level-one-item-height;
					line-height: $level-one-item-height;
					padding-left: 104px;
					&:after {
						position: absolute;
						top: 0;
						right: $onecol;
						line-height: $level-one-item-height;
						font-family: 'Tesco Icons';
						content: 'r';
					}
				}
				.level-two {
					display: none;
				}
				&.selected {
					border-top: 2px solid #3e3e3f;
					border-right: none;
					z-index: 2;
					@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
					> a {
						color: #3e3e3f;
						font-weight: bold;
						&:after {
							display: none;
						}
					}
					.level-two {
						display: block;
					}
				}
			}
		}

		.level-two {
			position: absolute;
			width: $level-two-width;
			top: 0;
			left: $level-one-width - 10px;
			border-top: 2px solid #3e3e3f;
			border-left: 1px solid $primaryBorderColor;
			padding: $onecol 38px;
			z-index: 2;
			> li {
				&:first-child {
					border-top: none;
				}
				a {
					position: relative;
					display: block;
					height: $level-two-item-height;
					line-height: $level-two-item-height;
					&:after {
						position: absolute;
						top: 0;
						right: 0;
						line-height: $level-two-item-height;
						font-family: 'Tesco Icons';
						content: 'r';
					}
				}
			}
		}
		*/
	}
}
