//buying-guides-directory module - all
@import "../variables";
@import "buying-guides-directory-mixins";

/*
.buying-guides-directory {
	#main-content {
		float: none;
		width: auto;
	}
	#secondary-content {
		display: none;
	}
}

#buying-guides-directory {
	position: relative;
}
*/

$level-one-item-height: 66px;
$sub-menu-item-height: 48px;


.buying-guides-directory {

	#main-content {
		margin-right: $onecol / 2;
		margin-left: $onecol / 2;
		float: none;
		width: auto;

		.intro {
			font-size: 18px;
			font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
			margin: 0;
		}
	}

	#buying-guides-directory {
		margin: $onecol 0;
		ul {
			background-color: #FFF;
			li {
				background-color: #FFF;
				> a {
					position: relative;
					display: block;
					font-size: 14px;
					padding-right: 26px; // to compensate for the arrow icon
					&:after {
						position: absolute;
						top: 0;
						right: $onecol;
						width: 10px;
						text-align: right;
						content: 'r';
						font-family: 'Tesco Icons';
					}
					h2,
					h3 {
						margin: 0;
						color: $contentLink;
						font-family: 'Helvetica Neue', Arial, sans-serif;
						font-size: 14px;
						font-weight: normal;
					}
				}
				// level back, revered arrow location
				&.level-back {
					> a {
						padding-right: 0;
						padding-left: 26px; // to compensate for the arrow icon
						&:after {
							left: $onecol / 2;
							text-align: left;
							content: 'g';
						}
					}
				}
				// no sub menu so hide the 'arrow' icon
				&.no-sub-menu {
					> a:after {
						display: none;
					}
				}
				&.selected {
					> .sub-menu {
						opacity: 1;
					}
					> a {
						h2,
						h3 {
							margin: 0;
							font-size: 14px;
							/* only needed for desktop
							font-weight: bold
							color: $color-grey-dark;
							*/
						}
						// only needed for desktop
						/*&:after {
							display: none;
						}*/
					}
					&:active,
					&:focus,
					&:hover {
						> a {
							text-decoration: none;
						}
					}
				}
				&:active,
				&:focus,
				&:hover {
					> a {
						text-decoration: underline;
					}
				}
			}
		}

		.level-one {
			> li {
				> a {
					padding: 0 0 0 104px;
					&:after {
						right: $onecol;
					}
					img {
						position: absolute;
						top: $onecol / 4;
						left: $onecol / 2;
					}
				}
				&.selected {

				}
			}
		}
	}

	/*
	#buying-guides-directory {

		@include box-shadow( $box-shadow );
		position: relative;
		margin: $onecol 0;
		border: 1px solid $color-grey-light;
		background-color: #FFF;
		overflow: hidden;

		ul {
			background-color: #FFF;
			li {
				> a {
					position: relative;
					display: block;
					font-size: 14px;
					&:after {
						position: absolute;
						top: 0;
						right: 0;
						width: 10px;
						text-align: right;
						content: 'r';
						font-family: 'Tesco Icons';
					}
					h2,
					h3 {
						margin: 0;
						color: $contentLink;
						font-family: 'Helvetica Neue', Arial, sans-serif;
						font-size: 14px;
						font-weight: normal;
					}
				}
				// no sub menu so hide the 'arrow' icon
				&.no-sub-menu {
					> a:after {
						display: none;
					}
				}
				&.selected {
					> .sub-menu {
						opacity: 1;
						border: 1px solid red;
					}
					> a {
						h2,
						h3 {
							margin: 0;
							font-size: 14px;
							font-weight: bold;
						}
						&:after {
							display: none;
						}
					}
					&:active,
					&:focus,
					&:hover {
						> a {
							text-decoration: none;
						}
					}
				}
				&:active,
				&:focus,
				&:hover {
					> a {
						text-decoration: underline;
					}
				}
			}
		}

		.level-one {
			margin: -1px 0 0; // minus 1 to compensate for top border on the #buying-guides-directory wrapper
			&.animate {
				@include translate3d(-100%, 0, 0);
				@include transition(all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000));
				> li > .sub-menu {
					position: absolute;
					top: 0;
					left: 100%;
				    width: 100%;
				    opacity: 1;
				}
			}
			> li {
				z-index: 1; // so the shadow is visible on the selected
				border-color: $color-grey-light;
				border-style: solid;
				border-width: 1px 1px 0 0;
				> a {
					height: $level-one-item-height;
					line-height: $level-one-item-height;
					padding: 0 0 0 104px;
					&:after {
						right: $onecol;
					}
					img {
						position: absolute;
						top: $onecol / 4;
						left: $onecol / 2;
					}
				}
				&.selected {
					@include box-shadow( $box-shadow );
					z-index: 2; // so the shadow is visible on the selected
					border-color: $color-grey-dark;
					border-style: solid;
					border-width: 2px 0 0;
				}
			}
		}
	}
	*/
}