<!doctype html>
<html>
<head>
	<meta charset="UFT-8"></meta>
	<title>Tic Tac Toe</title>

	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet'></link>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/gaassnake.js" th:src="@{/js/gaassnake.js}"></script>

	<style>
    body {
      text-align:center;
      font-family: helvetica;
    }
    canvas {
      border: 2px solid rgb(151, 149, 149);
    }
	</style>
</head>
<body>
  <h3>Simple Snake Game</h3>
  <canvas id="stage" height="400" width="520"></canvas>
</body>
</html>
