@import "../../../core/components/variables";
.collectionContainer{
	#linksave-container{
		li.bundleCount{
			background-color: $white;
			margin-bottom: 10px;
			padding: 0;
			width: 100%;
			float: left;
			border: 1px solid $tescoRed;
		    border-radius: 5px;
		    height: auto;
		    opacity: 1;
	    	&:first-child{
		    	section.detailsWrapper{
					.bundle-header{
						.bundle-title{
							padding: 20px 20px 0 20px;
						}
						>span{
							display: block;
						}
					}
					.linksave-list{
						display: block;
					}
				}
			}
		    section.detailsWrapper {
		        position:relative;
		        overflow:visible;
		        .bundle-header{
			        .bundle-title{
			        	font: normal 16px/22px $tescoFont;
					    color: $tescoRed;
					    text-align: left;
					    cursor: pointer;
					    padding: 20px 20px;
					    font-weight: bold;
			        }
			        .show-more-cheveron{
				    	&:before {
		                    font-size: 16px;
						    font-family: $tescoIconFont;
						    content: '2';
						    color: $tescoRed;
						    float: right;
						    margin-top: 0px;
		            	}
		        	}
		        	 .show-less-cheveron{
				    	&:before {
		                    font-size: 16px;
						    font-family: $tescoIconFont;
						    content: '1';
						    color: $tescoRed;
						    float: right;
						    margin-top: 0px;
		            	}
		        	}
			        >span{
			        	font: normal 15px/19px $tescoFont;
					    color: #707984;
					    text-align: left;
					    margin: 0 20px 20px;
						border-bottom: 1px solid #e6e6e6;
						display: none;
						padding-bottom: 20px;
						&.hide{
							display: none;
						}
						&.show{
							display: block;
						}
			        }
			    }
			    .linksave-list{
			    	padding: 0 20px 20px 20px;
					float: left;
					display: none;
					clear: both;
			  		width: 100%;
					li:nth-child(1):nth-last-child(4),
					li:nth-child(2):nth-last-child(3),
					li:nth-child(3):nth-last-child(2),
					li:nth-child(4):nth-last-child(1) {
						float: left;
						height: auto;
						padding:0;
						position:relative;
						&:first-child {
							border-left: none;
							&:before{
								display: none;
							}
						}
						&:last-child {
							&:before {
								content: '=';
							}
						}
						&:before {
							content: '+';
					        width:20px;
					        height:20px;
					        background-color: $tescoRed;
					        border-radius: 50%;
					        float: left;
					        position: absolute;
						    color: $white;
						    font-size: 19px;
						    text-align: center;
					    }
					}
					.collectionItemImageContainer {
						position: relative;
					 	border: 1px solid $pagePutty;
					 	overflow: hidden;
						word-break: break-all;
						float: left;
						margin-right: 12px;
					}
				  	.collectionItemDetail {
				  		margin: 20px 0 0 0;
				        padding: 0;
				        float: left;
				        width: 100%;
				        .collectionItemDescription {
				            width: 84%;
						    margin: 0;
						    overflow: hidden;
						    line-height: 22px;
						    height: 48px;
						    word-break: break-word;
						    a{
								color: #333;
								&:hover{
									color: $contentLink;
									text-decoration: underline;
								}
						    }
				        }
				        .collectionItemPrice{
				        	padding: 5px 0 0 0;
				        	line-height: 22px;
				        	font-size: 1.8em;
				        	float: left;
				        	clear: both;
				        }
				  	}
					li.collectionSummary {
						display: table;
				        z-index: 1;
				        .collectionSummaryContent{
				          height:auto;
				          position:absolute;
				          padding:8px 4px 8px 0;
				          width:100%;
				          display: table-cell;
				          vertical-align: middle;
						}
						> p {
							font-size: 1.8em;
							margin-top: 30px;
						}
						.collectionPrice {
							margin-bottom: 15px;
							font-family: $tescoFont;
							font-weight:bold;
							padding:0px;
							.currentPrice{
								margin:0;
								font-size:2.6em;
							}
							.oldPrice{
								font-size:1em;
								margin: 10px 0 20px 0;
								line-height: 10px;
								.saving{
									font-weight: 400;
								}
							}
						}
					}
					.collectionItemContainer{
				        width:100%;
				        float:left;
				        height:auto;
				        display:block;
				        overflow:hidden;
				    }
					a.bundleLink{
				        width:100%;
				        display: inline-block;
				        text-align: left;
						color: $contentLink;
				        &:hover{
				          text-decoration: underline;
				          &:after{
				            color: $tescoBrightBlue;
				          }
				        }
				        &:after{
				          content: 'r';
				          font-family: $tescoIconFont;
				          font-size: .8em;
				          line-height: 1.6em;
				          padding-left: 3px;
				          width: 16px;
				        }
				        &:hover{
					        span {
					        	text-decoration: underline;
					        }
				        }
					}
					li:nth-child(1):nth-last-child(3),
					li:nth-child(2):nth-last-child(2),
					li:nth-child(3):nth-last-child(1) {
						float: left;
						height: auto;
						padding:0;
						position:relative;
						&:first-child {
							border-left: none;
							&:before{
								display: none;
							}
						}
						&:last-child {
							.collectionSummaryContent{
								top: 0;
				          		padding:0;
							}
							&:before {
								content: '=';
								left: -39px;
							}
						}
						&:before {
							content: '+';
					        width:20px;
					        height:20px;
					        background-color: $tescoRed;
					        border-radius: 50%;
					        float: left;
					        position: absolute;
						    color: $white;
						    font-size: 19px;
						    text-align: center;
					    }
					    .collectionItemImageContainer {
							position: relative;
						 	border: 1px solid $pagePutty;
						 	overflow: hidden;
							word-break: break-all;
							float: left;
						}
						.collectionItemDetail {
					  		margin: 20px 0 0 0;
					        padding: 0;
					        float: left;
					        .collectionItemDescription {
					            width: 100%;
							    margin: 0;
							    overflow: hidden;
							    line-height: 22px;
							    height: 45px;
					        }
					    }
					    a.bundleLink{
					    	&:hover{
					    		text-decoration: underline;
					    	}
					    	font-size: 14px;
					    	line-height: normal;
					    }
					}
				}
			}
		}
	}
}
