//every-little-helps-stamps module - all
@import "../variables";
@import "every-little-helps-stamps-mixins";

$onecol: 16px;

.every-little-helps-stamps {
	padding: 0 0 20px 8px;
	clear: both;

	overflow: hidden;
	border-top: 1px solid $pagePutty;

	h2 {
		margin-left: $onecol * 0.5;
	}

	li {
		display: block;
		float: left;
		border: 1px solid $pagePutty;
		overflow: hidden;
		position: relative;
		margin-left: 16px;
		background: #ffffff;

		&:first-child {
			margin-left: 0;
		}

		img {
			position: absolute;
			bottom: -1px;
			right: -1px;
			display: block;
		}

		a {
			position: relative;
			z-index: 1;
			padding: 8px;
			display: block;
			font-size: 2em;
			font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
			text-decoration: none;
			color: $putty;
			&:hover {
				text-decoration: none;
			}
		}
    }
    
    div.nav {
    	display: none;
    }

}
.product-description .every-little-helps-stamps {
    border-top: none;
    padding: 0;
    li {
        width: auto;
        margin-bottom: 16px;
    }
}

.product-description .secondary-content .every-little-helps-stamps {
    li {
        width: 100%;
    }
}

.listing {
    .every-little-helps-stamps{
        display: none;
        border-top: none;
        width: 216px;
        float: left;
        
        li {
            float: none;
            margin: 20px 0 0 0;
            width: 100%;
            
            &:first-child {
                margin-top: 0;
            }

        }
    }
}


.category {
    .every-little-helps-stamps{
        border-top: none;

        ul > li ~ li ~ li{
            display: none;
        }
    }
}

.category {
    #main-content {
        .every-little-helps-stamps{
            li {
                display: block;
            }
        }
    }
}

.page-wide-elh {
    border-bottom: 1px solid $paleGrey;
    background-color: $background;
    text-align: center;

    li {
        display: inline-block;
        color: $bodyCopy;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 1;
        font-family: $tescoFont;

        a {
            display: inline-block;
            padding: 12px 20px 12px 0;
            &:before {
                display: inline-block;
                height: 8px;
                border-left: 1px solid $border;
                padding-right: 20px;
                line-height: 8px;
                content: "";
            }

            &:link,
            &:visited {
                color: $bodyCopy;
            }
            &:hover,
            &:active {
                text-decoration: none;
                color: $linkHover;
            }
        }

        &:first-child {
            a {
                &:before {
                    border-left: none;
                }
            }
        }
    }
}