//every-little-helps-stamps module - kiosk
@import "../breakpoints";
@include breakpoint(kiosk);
@import "every-little-helps-stamps-mixins";

.every-little-helps-stamps {
	display: none;
	position: absolute;
	top: 646px; 
	right: 48px;
	border-top: none;

	h2 {
		display: none;
	}

	li {
		height: 118px;
		width: 176px;

		a {
			padding: 16px 8px;
		}

		&:last-child, &:nth-child(4) {
			display: none;
		}
	}
}

.homepage .every-little-helps-stamps {
    display: block;
}

.page-wide-elh { 
    display: none;
}