<article>
    <h4><%= title %></h4>
    <p><%= introduction %></p>
    <div class="module">
        <h5>I. Create page layout</h5>
        <p>In the first place, you'll need to create main page view, which will be a placeholder for other views, loaded later.</p>
        <ol>
            <li>
                <p>Create main page view</p>
                <ul>
                    <li>Create all folders and files in the usual way, as described in <a data-action="loadStepByStep" href="#">Step by step tutorial</a></li>
                    <li>In the <b>common.js</b> file load 'mvApi' and common models, as described in <a data-action="loadStepByStep" href="#">Step by step tutorial</a><br /><em>These models will be shared between sections</em></li>
                    <li>Load your SPI to see if everything works correctly before proceeding</li>
                </ul>
            </li>
            <li>
                <p>Create section view</p>
                <ul>
                    <li>Create new section script similarly to the way you've created the page view</li>
                    <li>In the <b>common.js</b> file load <code>'your_section_name.js'</code> script and <code>'your_section_name_models.js'</code> with RequireJS<br /><em>These models will be unique for your section</em></li>
                    <li>The <code>'your_section_name_models.js'</code> should return, among others, a key <code>'pageModel'</code> containing values for your main page view, e.g.<br /><br />
                        <code class="wide">
                            'pageModel': {<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;'defaults': {<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'contentHeader': 'Your header'<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;}<br />
                            }
                        </code>
                    </li>
                    <li>The <code>'your_section_name.js'</code> script should return a module object (as it usually does all over the Buildkit), containing two public elements:<br /><br />
                            <code>'init'</code> {method} <em>which should initialize and load your module layout</em><br />
                            <code>'pageModel'</code> {object} <em>which is the 'pageModel' exposed by 'your_section_name_models.js'</em>
                    </li>
                </ul>
            </li>
            <li>
                <p>Load your section from main page</p>
                <ul>
                    <li>In your <b>common.js</b> script create a method called e.g. <b>'renderSection'</b> that will take a section object as an parameter and will use it to provide <b>modelChange</b> and <b>callback</b> for <b>mvApi.render()</b> method as per usual usage described in <a data-action="loadStepByStep" href="#">Step by step tutorial</a>, e.g.<br />
                        <code class="wide">
                            renderSection = function renderSection(section) {<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;mvApi.render('page', section.pageModel, section.init);<br />
                            };
                        </code>
                    </li>
                    <li>Invoke <code>renderSection(your_section_name)</code> somewhere in your logic inside <b>common.js</b></li>
                    <li>Load your SPI to see it in action</li>
                </ul>
            </li>
        </ol>
    </div>
</article>