/*******************************************
*	Manage Stock Alerts : Mobile
*******************************************/

@import "../breakpoints";
@include breakpoint(mobile);
@import "manage-stock-alerts-mixins";

.manage-stock-alerts {
	
	p {
		margin: 10px 0;
	}
	
	>h2 {
		margin-bottom: 20px;
	}

	.stock-alert-block {
		padding: 20px 10px 15px;
		
		.thumbnail {
			display: block;
			float: none;
			margin: 0 auto;
			text-align: center;
			width: 230px;
			
			img {
				height: auto;
				max-width: 100%;
			}

		}
		
		.product-details {
			float: none;
			margin-left: 0px;
			width: 100%;
		}
		
		.price-details {
			border-bottom:1px solid $primaryBorderColor;
			border-top:1px solid $primaryBorderColor;
			float: none;
			margin-left: 0px;
			margin:18px 0;
			padding:18px 0;
			position: relative;
			width: 100%;

			.stock-tag {
				position: absolute;
				right: 0;
				top:20px;
			}

		}

		.buttons {
			float: none;
			width: 100%;

			p {
				float: none;				
				max-width: 100%;
			}

			.unsubscribe,
			.add-to-basket,
			.remove{
				float: none;
				width: 100%;
			}

			.add-to-basket {
				margin-bottom: 15px;
			}
		}

	}
	/* end : stock-alert-block */


}