/*******************************************
*  Tablet Product Tile module
*******************************************/

@import "../../../core/components/breakpoints";
@include breakpoint(allTablet);
@import "../mixins/product-listing-mixins";

#listing {
    margin: 0;

    &.imagePreset-portrait {
        .product-tile {
            .thumbnail {
                height: 243px;
            }
        }
    }
  .products {


      .product-tile {
      width: 33.33%;
      }

    .feature-tile {
      width:33.33%;

      &.style-2, &.style-3, &.style-4, &.style-5 {
        width:66.66%;
      }
       .feature-content > a img{
        width: 100%;
      }
      .feature-content {
         height:340px;

         & > a img{
          width: 100%;
          height: auto;
        }
      }
    }

    .loadingBar {
      @include loadingBar;
      border-left: none;
      border-right: none;
      padding: 30px 0px 20px 60px;
      background-position: 39% 22px;
      &.fromBookmark {
        display: block;
      }
    }

        .load-more-tile {
      display: none;
          margin-top:-1px;
      width: 100%;
      color: #fff;
      border-style: solid;
      border-width: 1px 1px 1px 0;
      border-color: $primaryBorderColor;
      padding: 15px 10px;
      font-size: 14px;
      background: #fff;
      cursor: pointer;
      .product, .product-load-more {
        border-style: none;
        @include box-shadow(none);
        margin-left: 33%;
        width: 34%;

      }
      .product {
        background: $putty;
        padding: 8px 10px 12px 10px;
      }
      a {
        color: #fff;
      }
      span {
        font-size: 14px;
        font-weight: bold;
        &.icon {
          top: 3px;
          font-size: 21px;
        }
        &.text {
          padding-left: 0%;
        }
      }
      .icon {
        font-size: 18px;
        position: relative;
        top: 2px;
      }
      &.loading {
        img {
          width: 30px;
        }
        .spinner {
          display: inline;
        }
        span {
          display: none;
        }
      }
    }
  }

    .former-prices {
        li {

            &:first-child {
                margin-left: 0;
                margin-right: 16px
            }
        }
    }

    .drop-down {
        display: none;
    }

  .stock-alert::-moz-focus-inner,
  .add-to-basket::-moz-focus-inner {
    border:0;
    padding:0;
  }

  .stock-alert,
  .add-to-basket {
    display: inline-block;
    height: 45px;
  }

  .product {
    box-shadow: none;
        .blinkbox-ping {
            position: absolute;
            bottom: 0;
        }
        .oosImageHolder p.oosText{
         width: 244px;
       }

    //add-on-item css when 5 column grid in LL is changed to M2 viewport
    .add-on-item {
      #add-on-text {
        &:after,
        &:before {
          left: 42%;
          //add-on-item css when 5 column grid in LL viewport is changed to M1 viewport
          @include breakpoint(vTablet) {
            left: 48%;
          }
        }
      }
    }
  }

    .mobile-only, .mobile {
      a{
          color: #000;
          text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
        }
    }

}

.list-view#listing {
    @include list-view-ll-l-m-s;
}

@include light-box-offer-centered-view-ll-l-m;

.grid-33321#listing {
    @include grid-33321-ll-l-m-s;
}

#compare-dialog {
    width: 97.5%;
    margin: 0 auto 12px;
    &.fixed {
        width: 100%;
    }
}

.listing .sponsored-link-block {
  width: auto;
}

.listing .link-block {
  &:after {
    @include clear-fix;
  }
}

#main-content {
  .product-load-prev {
    color: #fff;
    border-top: 1px #bfbdbd solid;
    padding: 15px 10px;
    display: none;
    font-size: 14px;
    background: #fff;
    width: 100%;
    .view-more-container {
      width: 38%;
      margin-left: 31%;
    }
    a {
      color: #fff;
    }
    &:hover {
      text-decoration: none;
    }
    span {
      font-size: 14px;
      font-weight: bold;
      &.icon {
        top: 3px;
        font-size: 21px;
      }

    }
    .icon {
      font-size: 18px;
      position: relative;
      top: 2px;
    }
    &.loading {
      img {
        width: 30px;
      }
      .spinner {
        display: inline;
      }
      span {
        display: none;
      }
    }
  }
}

@include breakpoint(vTablet) {
  .category {
    .static-mtop-banner {
      .cms-image {
        min-height: 205px;
      }
    }
  }

  /* 5 col grid swatches */
  #listing {
    @include plp-swatches-base-styles;
    .colour-swatch-container {
      height: 40px;
      .swatches {
        width: 130px;
      }
    }
  }

  .list-view#listing {
    @include list-view-ll-l-m(66%);

    .unavailable-special-offer,
    .button-container {
      display: none;
    }

    .detail-specification-bullet{
       display: none;
    }
  }

    /* 3 col grid */
    .grid-33321#listing {
      @include grid-33321-vTablet;
      @include plp-swatches-base-styles;
      .swatches {
        width: 140px;
        li {
          padding-right: 5px;
        }
        &.more {
          width: 140px;
        }
      }
      > a {
        line-height: 18px;
      }

    //add-on-item css when 3 column grid in LL is changed to M1 viewport
    .add-on-item {
      #add-on-text {
        &:after,
        &:before {
          left: 31%;
        }
      }
    }
  }
}

@include breakpoint(hTablet) {
  .category {
    .static-mtop-banner {
      .cms-image {
        min-height: 220px;
      }
    }
  }
  #listing{
    /* 5 col grid swatches */
    @include plp-swatches-base-styles;
    .details-container {
      .colour-swatch-container {
        height: 40px;
        .swatches {
          width: 130px;
        }
      }
    }

  }

  .list-view#listing {
    @include list-view-ll-l-m(72%);
    @include list-view-ll-l-hTablet(2.2em, 60%, 40%, 210px);
  }

  /* 3 col grid */
  .grid-33321#listing {
    @include grid-33321-ll-l-hTablet;
    @include plp-swatches-base-styles;
    .swatches {
      width: 137px;
      &.more {
        width: 137px;
      }
    }
    .details-container {
      .colour-swatch-container {
        .colour-swatch {
          .moreLink {
            width: 100%;
          }
        }
      }
    }
    > a {
      line-height: 18px;
    }

    //add-on-item css when 3 column grid in LL is changed to M2 viewport
   .add-on-item {
      #add-on-text {
        &:after,
        &:before {
          left: 41%;
        }
      }
    }
  }
}
