@import "../../variables";
@import "../pdp-configurator-mixins";

$configuratorHeight: 540px;
$overlayContentHeight: 410px;
$panelWidth: 802px;

$fbWidth: 563px;
$fbHeight: 355px;

.pdp-configurator {
    
    .info-overlay {
        padding: 0 73px 25px 25px;
    }

    #product-carousel-info {
        display: none;
        width: $panelWidth + 3;
        height: $overlayContentHeight + 25;

        &.carousel.horizontal {
            .carousel-slider {
                width: $panelWidth + 3;
                height: $overlayContentHeight + 25;
            }

            .carousel-items-container li {
                width: $panelWidth + 3;
                height: $overlayContentHeight + 20;
                padding-top: 15px;
            }

            .carousel-indicators {
                width: $panelWidth + 3;
                top: $overlayContentHeight + 35;
            }

        }

    }

    .product-carousel-s7 .media-controls {
        margin-top: 5px;
    }

    .product-carousel-s7 {
       
        &.videoVisible #product-thumb-carousel-videos {
            position: relative;
            bottom: 20px;
        }

        &.spinVisible {
            .s7pagescrubber {
                bottom: -15px;
                left: 0;
            }
        }

        .videoContainer {
            height: $overlayContentHeight - 20;
            padding-top: 25px;
            .videoPosition {
                height: $overlayContentHeight - 45;
            }
        }

        .s7zoomview, 
        .s7spinview, 
        .videoContainer {
            padding-top: 25px
        }
    }

    .product-front-back {
        width: $fbWidth;
        height: $fbHeight;
        margin: 25px 0 0 55px;

        .carousel .carousel-slider,
        .carousel .carousel-slider li {
            width: $fbWidth;
            height: $fbHeight;
        }

        .carousel .carousel-slider li img {
            margin: 0 auto;
        }

        .carousel .carousel-slider {
            margin-top: -5px;
        }
    }
}