@import "../../variables";
@include breakpoint(kiosk);
@import "../pdp-configurator-mixins";

$configuratorHeight: 570px;
$overlayContentHeight: 455px;
$panelWidth: 1304px;

$fbWidth: 627px;
$fbHeight: 385px;

.pdp-configurator {
    
    .info-overlay {
        height: $configuratorHeight;
        padding: 0 20px;
    }

    .product-carousel-s7 {
        width: $panelWidth;
    }

    #pdpScene7Container {
        width: $panelWidth;
        height: $overlayContentHeight;

        #prodZoomView.s7zoomview {
        	width: $panelWidth;
        	height: $overlayContentHeight;
			@include box-shadow(none);
			border: 0 none;
        }
    }

    #product-carousel-info {
        width: $panelWidth;
        position: static;

        &.carousel.horizontal {
        	margin-top: 0;
            .carousel-slider {
                width: $panelWidth;
                height: $overlayContentHeight;
            }
			.carousel-items-container {
				min-width: 3000em;
			}
            .carousel-items-container li {
                width: $panelWidth;
                height: $overlayContentHeight;

                img {
                    width: auto;
                    border: 0 none;
                    border-radius: 0;
                }
            }

            .carousel-indicators {
                top: $overlayContentHeight + 32;
                width: $panelWidth;
            }

        }

    }

    .prodInfoVisible {
        #product-carousel-info {
            height: $overlayContentHeight;
        }
    }
    
    .product-carousel-s7 {

        .product-carousel-inner {
            height: 480px;
            overflow: hidden;
        }

        #s7container {
            width: $panelWidth;
        }
        
        &.spinVisible {
            .s7pagescrubber {
                width: $panelWidth;

                .s7track {
                    width: $panelWidth;
                }
            }
        }

        .videoContainer {
            height: $overlayContentHeight;
            .videoPosition {
                height: $overlayContentHeight;
            }
        }

        .media-controls {
        	display: block;
        	margin-top: 40px;

        	.spin, .video {
        		display: none!important;
        	}
        }

        &.prodInfoVisible {
        	.zoom.one-pdpproducts {
        		display: inline-block!important;
        	}
        }

        .carousel.horizontal .carousel-slider {
        	margin-top: 30px;
        }
    }

    .product-front-back {
        width: $fbWidth;
        height: $fbHeight;
        margin: 30px auto 30px;

        .carousel .carousel-slider,
        .carousel .carousel-slider li {
            width: $fbWidth;
            height: $fbHeight;
        }
    }

}