$configuratorHeight: 440px;
$overlayContentHeight: 310px;
$panelWidth: 320px;

$fbWidth: 290px;
$fbHeight: 196px;

.pdp-configurator {
    
    .info-overlay {
        width: 100%;
        height: 100%;
        padding: 0;

        .close {
            display: none;
        }
    }

    #pdpScene7Container {
        width: $panelWidth;
        height: $overlayContentHeight;
    }

    #product-carousel-info {
    	margin: 0 auto;
        &.carousel.horizontal {
            .carousel-slider {
                height: $overlayContentHeight;
                width: $panelWidth;

            }

            .carousel-items-container li {
                width: $panelWidth;
                height: $overlayContentHeight;
                float: left;
            }
            
            .carousel-step {
        		display: none;
            }

            .carousel-indicators {
                top: $overlayContentHeight + 10;
                width: $panelWidth;
            }

        }
    }

    .prodInfoVisible {
        #product-carousel-info {
            height: $overlayContentHeight;
            width: $panelWidth;
        }
    }
    .product-carousel-s7 {
        width: $panelWidth;
        #s7container {
            width: $panelWidth;
        }
        .product-carousel-inner {
            height: 360px;
        }

        .videoContainer {
            height: $overlayContentHeight;
            .videoPosition {
                height: $overlayContentHeight;
            }
        }
        &.zoomVisible #product-thumb-carousel {
            z-index: 5;
        }
    }

    .product-carousel-s7 .media-controls {
        .button:hover {
            background: #fff !important;
            border-color: #D6D2CA !important;
            color: #7C765F !important;
        }
    }

    .product-front-back {
        width: $fbWidth;
        height: $fbHeight;

        > img {
            margin-top: 5px;
        }

        .carousel .carousel-slider{
            margin: 0px;
        }

        .carousel .carousel-slider,
        .carousel .carousel-slider li {
            width: $fbWidth;
            height: $fbHeight;
            margin: 0px;
        }

        .carousel .carousel-step {
            display: none;
        }

        .carousel-indicators {
            bottom: -5px;
        }
    }

}