@import "../../variables";
@import "../pdp-configurator-mixins";

$configuratorHeight: 540px;
$overlayContentHeight: 410px;
$panelWidth: 802px;

$fbWidth: 627px;
$fbHeight: 385px;

.s7pagescrubber {
    display: none;
}

.no-csstransforms3d {
    
    .pdp-configurator {
        
        .info-overlay {
            left: -100%;

            &.is-info-shown {
                left: 0;
            }
        }

        
    }    
}

.pdp-configurator {
    
    .info-overlay {
        width: 75.423728813559%;
        height: $configuratorHeight;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
        background: #fff;       
        opacity: 1;
        padding: 0 45px;

        @include transition(all 0.25s ease-in-out);
        @include translate3d(-100%, 0, 0);

        .close {
            @extend .pdp-configurator-close;
            right: 15px;
        }

        &.is-info-shown {
            @include translate3d(0, 0, 0);
        }

        #productInfoContent,
        .pdp-configurator-info {
            height: 100%;
        }
    }

    .product-carousel-s7 {
        width: $panelWidth;
        margin: 0 auto;
        z-index: 1;

        .carousel.horizontal .carousel-step {
            z-index: 5;
        }

        .carousel-slider {
            z-index: 1;
        }
    }

    #pdpScene7Container {
        width: $panelWidth;
        height: $overlayContentHeight;
        z-index: 3;
    }

    .is-info-single #product-carousel-info.carousel.horizontal {
        .carousel-step {
            display: none;
        }
    }

    #product-carousel-info {
        display: none;
        width: $panelWidth;
        height: $overlayContentHeight;

        &.carousel.horizontal {
            .carousel-slider {
                width: $panelWidth;
                height: $overlayContentHeight;
            }

            .carousel-items-container li {
                width: $panelWidth;
                height: $overlayContentHeight;
                cursor: default;

                img {
                    width: auto;
                }
            }

            .carousel-step {
                height: 33px;
                margin-top: 13em;
            }

            .carousel-indicators {
                position: absolute;
                z-index: 5;
                top: $overlayContentHeight + 10;
                width: $panelWidth;
                text-align: center;
            }

        }

    }

    #product-thumb-carousel-videos.carousel.horizontal .carousel-slider {
        padding-left: 30px;
    }

    .product-carousel-s7 .carousel.horizontal {
        .carousel-slider {
            padding-left: 0;
        }
        
        .carousel-indicators,
        .carousel-items-container.carousel-indicators {
            text-align: center;
            min-width: 0;
            width: 100%;

            > li {
                display: inline-block;
                background : #d6d2c4;
                border-radius: 50%;
                margin-left: 10px;
                width: 10px;
                height: 10px;
                cursor: pointer;
                float: none;
                
                &.selected,
                &.active {
                    background : #15bdde;
                }

                &:first-child {
                    margin-left: 0;
                }

                img {
                    display: none;
                }
            }
        }
    }

    .carousel-indicators {
        text-align: center;
        min-width: 0;
        width: 100%;

        > li {
            display: inline-block;
            background : #d6d2c4;
            border-radius: 50%;
            margin-left: 10px;
            width: 10px;
            height: 10px;
            cursor: pointer;
            float: none;
            
            &.selected,
            &.active {
                background : #15bdde;
            }

            &:first-child {
                margin-left: 0;
            }

            img {
                display: none;
            }
        }
    }

    .product-carousel-s7 .media-controls {
        position: static;
        text-align: center;
        margin-left: -10px;

        .button {
            min-width: 70px;
            width: auto;
            display: inline-block;
            float: none;
            text-align: center;
            padding: 15px;
            font-size: 16px;
            margin-left: 10px;
            border-radius: 10px;
            background: #fff;
            border-color: #D6D2CA;
            color: #7C765F;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            .no-touch &:hover {
                border-color: #00A1E0;
                color: #fff;
                background: #00A1E0;
            }
        }

        .current {
            display: none;
        }
    }


    .prodInfoVisible {
        .s7-spin-thumb,
        #pdpScene7Container {
            display: none;
        }

        #product-carousel-info {
            display: block;
            height: $overlayContentHeight;
        }
    }
    
    .product-carousel-s7 {
        #s7container {
            width: $panelWidth;
            margin: 0 auto;
        }

        .s7spinview {
            width: auto;
        }

        .product-carousel-inner {
            height: 460px;
            overflow: hidden;
        }

        &.videoVisible #product-thumb-carousel-videos, 
        &.zoomVisible #product-thumb-carousel {
            bottom: -5px;
        }

        &.zoomVisible {
            #product-thumb-carousel {
                position: relative;
            }
        }

        &.videoVisible {
            .video-view {
                margin-top: 10px;
            }
            &#product-carousel #pdpScene7Container .hot-area {
                bottom: -42px;
            }
        }

        &.spinVisible {
            .s7pagescrubber {
                display: block;
                height: 55px;
                width: $panelWidth;
                bottom: 20px;
                left: 0px;
                position: absolute;
                z-index:100;
                display: block;
                margin-left: 1px;
                padding: 0;

                .s7track {
                    width: $panelWidth;
                    background-color: #d6d2c4;
                    height: 2px;
                    margin: 0 auto;
                }

                .s7button {
                    background: transparent url('../images/configurator/scrubber.png') no-repeat 0 0;
                    width: 40px;
                    height: 40px;
                    border: 0 none;
                    top: -19px;
                }
            }
        }

        .s7-spin-thumb {
            display: none;
        }

        .videoContainer {
            height: $overlayContentHeight;
            .videoPosition {
                height: $overlayContentHeight;
            }
        }

        .s7bubble {
            display: none;
        }
    }

    .product-front-back {
        width: $fbWidth;
        height: $fbHeight;
        position: relative;
        margin: 0 auto;

        &:hover .carousel .carousel-step {
            opacity: 1;
            visibility: visible;
        }

        .carousel .carousel-slider,
        .carousel .carousel-slider li {
            width: $fbWidth;
            height: $fbHeight;
        }

        .carousel .carousel-slider li {
            float: left;
            cursor: default;

            img {
                border: 0 none
            }
        }

        .carousel .carousel-step {        
            @include transition(all 50ms ease-in-out);
            background: $tescoBrightBlue; 
            position: absolute;
            top: 50%;
            margin-top: -30px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            color: #fff;
            line-height: 50px;
            text-align: center;
            z-index: 5;
            border: 0 none;
            visibility: hidden;
            opacity: 0;

            &:hover {
                text-decoration: none;
            }

            &:after {
                line-height: 50px;
            }

            &.carousel-next {
                right: 0px;
                &:after {
                    content: 'r';
                }
            }

            &.carousel-prev {
                left: 0px;
                &:after {
                    content: 'g';
                }
            }

            &.disabled {
                @include opacity(.5);
                cursor: default;
            }

        }

        .carousel-indicators {
            position: absolute;
            bottom: 0;
            z-index: 5;
        }
    }

    .product-img-small {
        display: none;
    }

    .background .product-img-small {
        display: block;
        text-align: center;
    }

    .background .product-front-back {
        position: absolute;
        left: -999em;
        visibility: hidden;
    }

}