//Variables
@import "colours";

// Colours
$asphalt: #666666;
$color-title: #7c765f;
$colorRed: #dd2d28;
$contentLink: #00A1E0;
$contentLinkInline:#0076A4;
$mediumGrey: #d7d9cc;
$midDarkGrey: #cccccc;
$midGrey: #747272;
$iconBlue: #456a78;
$intensePurple: #8C3B76;
$lightBlue: #E1EEF3;
$lightGrey: #bfbdbd;
$infoGrey: #7F7F7F;
$midLightGrey: #999999;
$orange: #ff8f00;
$offBlack: #333333;
$passwordLightBlue: #F1F9FC;
$purple: #997194;
$red: #F13B3B;
$redPinkMix: #f7e1e0;
$veryLightBlue: #f2fafd;
$veryLightGrey: #fbfbfb;
$white: #fff;
$iconRed: #e60023;
$iconGreen: #31854e;
$iconLightOrange: #edb648;
$backgroundGrey: #f8f7f6;
$navyBlue: #1189D1;
$paleBlue: #e5f5fc;
$borderGreen: #358450;
$backgroundMidGrey: #E7E6E6;

// 2014 Tesco Direct brand refresh putty colours
// -------------------------
$xDarkPutty:			#645945;
$darkPutty:				#7c765f;
$putty:					#a69f88;
$lightPutty:			#d6d2c4;
$backgroundPutty:       #e7e5dd;
$pagePutty:				#f3f1ed;
$inactivePutty:			#e5e2d9;
$lightGray:             #363636;

// 2014 Tesco Direct brand refresh colours
// -------------------------
$clubcardRed: 			#c71f12;
$tescoRed: 				#ee1c2e;
$basketOrange: 			#fe532d;
$hoverOrange: 			#ff8600;
$starGold: 				#e7c17c;
$inputYellow: 			#fefde8;
$tescoBlue: 			#00539f;
$tescoBrightBlue: 		#00a1e0;
$positiveGreen: 		#05ae20;
$amber: 				#FFC200;
$errorLabelBackground:  #FFF2F2;

// 2014 Tesco Direct GMO department colours
// -------------------------
$toysGreen:				#64a70b;
$toysLightGreen:		#e0e721;
$toysLightJade:			#98dbce;
$babyJade:				#00b398;
$techBlue:				#009cde;
$techLightBlue:			#b9d9eb;
$partyPurple:			#702082;
$partyLightPurple:		#cba3d8;

// 2014 Anchor (a) link colours
// -------------------------
$linkColor:				$xDarkPutty;
$linkVisitedColor:		$xDarkPutty;
$linkHoverColor:		$tescoBrightBlue;
$linkActiveColor:		$tescoBrightBlue;

$inlineLinkColor:		$xDarkPutty;
$inlineLinkVisitedColor:$xDarkPutty;
$inlineLinkHoverColor:	$xDarkPutty;
$inlineLinkActiveColor:	$xDarkPutty;

$prominentLinkColor:	$tescoBrightBlue;
$prominentLinkVisitedColor:$tescoBrightBlue;
$prominentLinkHoverColor:$tescoBrightBlue;
$prominentLinkActiveColor:$tescoBrightBlue;

// 2014 Button colours
// -------------------------
$btnPrimaryColor:		$basketOrange;
$btnPrimaryHoverColor:	$hoverOrange;
$btnPrimaryActiveColor:	$hoverOrange;
$btnPrimaryTextColor:	#fff;
$btnPrimaryHoverTextColor:#fff;
$btnPrimaryActiveTextColor:#fff;

$btnSecondaryColor:		$putty;
$btnSecondaryHoverColor:$tescoBrightBlue;
$btnSecondaryActiveColor:$tescoBrightBlue;
$btnSecondaryTextColor:	#fff;
$btnSecondaryHoverTextColor:#fff;
$btnSecondaryActiveTextColor:#fff;
$btnSecondaryDisabledColor: $inactivePutty;
$btnSecondaryDisabledText: #fff;

$btnTertiaryColor:		$putty;
$btnTertiaryHoverColor:	$tescoBrightBlue;
$btnTertiaryActiveColor:$tescoBrightBlue;
$btnTertiaryTextColor:	#fff;
$btnTertiaryHoverTextColor:#fff;
$btnTertiaryActiveTextColor:#fff;
$btnTertiaryDisabledColor: $inactivePutty;
$btnTertiaryDisabledText: #fff;

$btnHeight: 45px;

// 2014 Heading colours
// -------------------------
$headingColor: $xDarkPutty;
$primaryTextColor: $xDarkPutty;
$secondaryTextColor: $putty;
$inactiveTextColor: $lightPutty;

// 2014 Border colours
// -------------------------
$primaryBorderColor: $pagePutty;
$secondaryBorderColor: $xDarkPutty;
$inputBorderColor: $putty;

// 2014 Forms
// -------------------------
$error: $tescoRed;
$inputRequiredBackground: $inputYellow;
$inputValidBackground: #fff;
$focusBorderColour: $tescoBrightBlue;
$messagePromptColor: $darkPutty;
$inputInstructionColor: $darkPutty;
$iconColor: $lightPutty;


// 2015 Colour Customisations
// --------------------------
$tescoFaintBlue: #e0eeee;
$requiredRed: #645946;


$iconArrowLeft:       'g';
$iconArrowRight:      'r';
$iconWarningTriangle: '8';

$tooltipArrowHeight: 27px;

$nativeSelectZIndex: 10000;
$bodyFont : "Helvetica", Arial, sans-serif;
$tescoFont : "Tesco", Helvetica Neue, Arial, sans-serif;
$tescoIconFont: "Tesco Icons";
$baseFontSize : 10;

$ajaxLoaderSrc : "../img/ajax-loader.gif";

$randomasset: random(99999) + random(99999);

//Mixins
@mixin fontSize($input) {
	font-size: $input + px;
	font-size: $input / $baseFontSize + rem;
}
@mixin tescoFont {
	font-family: "Helvetica", Arial, sans-serif;
}

@mixin gradient($color-bottom, $color-top) {
  background: $color-bottom; /* Old browsers */
  background-image: -o-linear-gradient(bottom, $color-bottom 0%, $color-top 74%);
  background-image: -moz-linear-gradient(bottom, $color-bottom 0%, $color-top 74%);
  background-image: -webkit-linear-gradient(bottom, $color-bottom 0%, $color-top 74%);
  background-image: -ms-linear-gradient(bottom, $color-bottom 0%, $color-top 74%);
  background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0, $color-bottom),color-stop(0.74, $color-top));
  background-image: linear-gradient(bottom, $color-bottom 0%, $color-top 74%);
}

@mixin fullGradient($start,$end) {
	$ieStart: $start;
	$ieEnd: $end;
	$webkitStart: $start;
	$webkitEnd: $end;

	@if $ieStart == transparent {
		$ieStart: '#00ffffff';
	}

	@if $ieEnd == transparent {
		$ieEnd: '#00ffffff';
	}

	@if $webkitStart == transparent {
		$webkitStart: rgba($end, 0);
	}

	@if $webkitEnd == transparent {
		$webkitEnd: rgba($start, 0);
	}

	background-color: $start; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#{$ieStart}, EndColorStr=#{$ieEnd}); /* IE6-7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#{$ieStart}, EndColorStr=#{$ieEnd})"; /* IE8-9 */
	background-image: -moz-linear-gradient(top,  $start 0%, $end 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$webkitStart), color-stop(100%,$webkitEnd)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, $webkitStart  0%,$webkitEnd 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  $start 0%, $end 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, $start  0%, $end 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, $webkitStart  0%, $webkitEnd 100%); /* W3C */
}

@mixin opacity($opacityValue) {
    $ieValue: ($opacityValue *100);

    opacity: $opacityValue;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$ieValue})";
    filter: alpha(opacity=$ieValue);
    -moz-opacity: $opacityValue;
    -khtml-opacity: $opacityValue;
}

@mixin buttonBlackBg {
	@include fullGradient(#6f6f6f,#232323);
}
@mixin IEbuttonBlackBg {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f6f6f', endColorstr='#232323',GradientType=0 ); /* IE6-9 */
}


@mixin blackGradient {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	@include fullGradient(#333333,#000000);
}
@mixin IEblackGradient {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}


@mixin greyGradient {
	@include fullGradient(#525050,#3e3e3f);
}
@mixin IEgreyGradient {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525050', endColorstr='#3e3e3f',GradientType=0 ); /* IE6-9 */
}


@mixin orangeGradient {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjg2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	@include fullGradient(#ffa200,#ff8600);
}
@mixin IEorangeGradient {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa200', endColorstr='#ff8600',GradientType=0 ); /* IE6-8 */
}


@mixin lightGreyGradient {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	@include fullGradient(#f1f1f1,#ffffff);
}
@mixin IElightGreyGradient {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

@mixin lightGreyGradientReverse {
	@include fullGradient(#ffffff,#f1f1f1);
}

@mixin inverseLightGreyGradient {
	@include fullGradient(#ffffff,#f1f1f1);
}

@mixin darkBlueGradient {
	@include fullGradient(#296eac,#02539c);
}

@mixin whiteGreyGradient {
	@include fullGradient(#FFF,#F1F1F1);
}

@mixin tescoBlueGradient {
	@include fullGradient(#4C87A9,#005485);
}

@mixin noselsct {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin lozenge {
	display: block;
	padding: 2px 5px;
	@include border-radius(15px);
	-moz-background-clip: padding!important;
	-webkit-background-clip: padding-box!important;
	background-clip: padding-box!important;
	min-width: 25px;
	text-align: center;
	font-size: 0.82em;
	line-height: 1em;
}

@mixin listLinks {
	font-family: $bodyFont;
	font-size: 1.4em;
	line-height: 1;
	position: relative;
	display: block;
	white-space: nowrap;
	float: left;
	padding-bottom: 12px;
	margin-right: $onecol * 0.5;
	a{
		@include underlineLink;
	}
}

@mixin underlineLink {
	display: block;
	border-bottom: 1px solid $linkColor;
	float: left;
	padding-bottom: 4px;
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	.truncate & {
		overflow: hidden;
		width: auto;
		text-overflow: ellipsis;
	}
	&:hover {
		border-color: $linkHoverColor;
		text-decoration: none;
	}
}

@mixin round-icon-kiosk {
	@include box-shadow(none);
	@include border-radius(100%);
	width: 42px;
	height: 42px;
	display: inline-block;
	line-height: 42px;
	color: #fff;
	font-family: $tescoIconFont;
	font-size: 22px;
	text-align: center;
	border: 3px solid #fff;
	background: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); // move to ie css
	&:hover {
		text-decoration: none;
	}
}

@mixin tag {
	font-size: 14px;
	line-height: 21px;
	min-height: 24px;
	border: 1px solid $primaryBorderColor;
	@include border-radius(11px);
	background: #ffffff;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 0 8px;
	display: inline-block;
	color: $contentLink;
	text-decoration: none;
	&:hover {
		background: #f7f9ff;
	}
	a {
		display: inline-block;
		font-size: 10px;
		margin-left: 20px;
		text-decoration: none;
	}
}

@mixin plainbutton {
  font-size: 1.4em;
  line-height: 34px;
  margin: 7px 12px 7px 0;
  padding: 0 12px;
  border: 1px solid $primaryBorderColor;
  text-decoration: none;
	@include border-radius(0);
  @include inverseLightGreyGradient;
}

@mixin button {
  font-size: 1.4em;
  line-height: 34px;
  padding: 0 12px;
  border: 1px solid transparent;
  text-decoration: none;
  cursor: pointer;
	outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
    border-radius:0px;
  .kiosk & {
     padding: 12px 16px;
     font-size: 20px;
  }
}

@mixin buttonNoHighlight {
  font-size: 1.4em;

  padding: 9px 12px;
  border: 1px solid $lightPutty;
  text-decoration: none;
  cursor: pointer;
  outline-color: transparent;
   -webkit-appearance: none;
    border-radius:0px;
  .kiosk & {
     padding: 12px 16px;
     font-size: 20px;
  }
}

@mixin newButton {
	width: 100%;
	display: block;
	margin-bottom: 6px;
	padding: 12px 0;
	border: 2px solid transparent;
	font-size: 1.4em;
	color: #fff;
	font-family: "Helvetica Neue", Arial, sans-serif;
	line-height: 1.4em;
	text-align: center;
	text-decoration: none;
	cursor:pointer;
	font-weight: bold;
  -webkit-appearance: none;
  border-radius: 100px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    .kiosk & {
      padding: 12px 16px;
      font-size: 20px;
			border: 1px solid transparent;
			border-radius: 0px;
    }
}

@mixin buttonddl {
	@include button;
	border-radius: 100px;
	border-width: 2px;
	font-weight: bold;

	.kiosk & {
		border-radius: 0;
	}
}

@mixin primaryButton {
	@include buttonddl;
	@include primaryButtonColoring;
}

@mixin secondaryButton {
	@include buttonddl;
  @include secondaryButtonColoring;
}

@mixin tertiaryButton {
	@include button;
  @include tertiaryButtonColoring;
}

@mixin tertiaryButtonWhite {
	@include buttonNoHighlight;
  @include tertiaryButtonColoringWhite;
}

@mixin primaryButtonColoring {
	border-color: $tescoBlue;
	color: $btnPrimaryTextColor;
	background: $tescoBlue;

	&.disabled, &[disabled] {
			background-color: $midDarkGrey;
			border-color: $midDarkGrey;
			color: $white;
			opacity: 1;
			text-decoration: none;
			box-shadow: none;
		}

	.no-touch &:hover,
  &:hover,
	&:focus,
	&:active {
		 color: $btnPrimaryTextColor;
     text-decoration: none;
		 box-shadow: none;
    }
}

@mixin kioskPrimaryButtonColoring {
	border-color:$btnPrimaryColor;
	color: $btnPrimaryTextColor;
	background:$btnPrimaryColor;

	&:link,
	&:visited {
		color: $btnPrimaryTextColor;
		background:$btnPrimaryColor;
	}

  .no-touch &:hover,
  &:hover,
	&:focus,
	&:active {
	   border-color:$btnPrimaryHoverColor;
     background:$btnPrimaryHoverColor;
     text-decoration: none;
     color: #ffffff;
    }
}

@mixin secondaryButtonColoring {
	border-color: $tescoBlue;
	color: $tescoBlue;
	background: $white;

	.no-touch &:hover,
	&:hover,
	&:focus,
	&:active {
		color: $tescoBlue;
		text-decoration: none;
		box-shadow: none;
	}

	&.disabled,&.filter-activeClearAll_disabled {
			background-color: $white;
			border-color: $midDarkGrey;
			color: $midDarkGrey;
			opacity: 1;
			text-decoration: none;
			box-shadow: none;
		}
}

@mixin kioskSecondaryButtonColoring {
	border-color:$btnSecondaryColor;
	color: $btnSecondaryTextColor;
	background:$btnSecondaryColor;
	&:link,
	&:visited {
	border-color:$btnSecondaryColor;
	background:$btnSecondaryColor;
	color: $btnSecondaryTextColor;
	}
	.no-touch &:hover,
	&:hover,
	&:focus,
	&:active {
	color: $btnSecondaryTextColor;	
	border-color:$btnSecondaryHoverColor;
	background:$btnSecondaryHoverColor;
	text-decoration: none;
	}
	&.disabled,
	&.disabled:hover,
	&.disabled:active,
	&[disabled],
	&[disabled]:hover,
	&[disabled]:active {
	background: $btnSecondaryDisabledColor;
	border-color: $btnSecondaryDisabledColor;
	color: $btnSecondaryDisabledText;
	}
}

@mixin tertiaryButtonColoring {
	border-color:$btnTertiaryColor;
	color: $btnTertiaryTextColor;
	background:$btnTertiaryColor;
	&:link,
	&:visited {
		border-color:$btnTertiaryColor;
		background:$btnTertiaryColor;
		color: $btnTertiaryTextColor;
	}
	.no-touch &:hover,
	&:hover,
	&:focus,
	&:active {
		border-color:$btnTertiaryHoverColor;
		background:$btnTertiaryHoverColor;
		text-decoration: none;
		color: #ffffff;
	}
 	&.disabled,
 	&.disabled:hover,
 	&.disabled:active,
 	&[disabled],
 	&[disabled]:hover,
 	&[disabled]:active {
		background: $btnTertiaryDisabledColor;
		border-color: $btnTertiaryDisabledColor;
		color: $btnTertiaryDisabledText;
	}
}

@mixin tertiaryButtonColoringWhite {
	border-color:$putty;
	color: $xDarkPutty;
	background:#fff;
	&:link,
	&:visited {
		border-color:$putty;
		background:#fff;
		color: $xDarkPutty;
	}
	.no-touch &:hover,
    &:active
	 {
		border-color:$btnTertiaryHoverColor;
		background:$btnTertiaryHoverColor;
		color: $btnTertiaryTextColor;
		text-decoration: none;
	}
 	&.disabled,
 	.no-touch &.disabled:hover,
 	&.disabled:active,
 	&[disabled],
 	.no-touch &[disabled]:hover,
 	&[disabled]:active {
		background: $btnTertiaryDisabledColor;
		border-color: $btnTertiaryDisabledColor;
		color: $btnTertiaryDisabledText;
        cursor: default;
	}
}

@mixin tertiaryButtonColoringBlue {
	border: none;
	color: white;
	background: $tescoBlue;
	&:link,
	&:visited {
		border: none;
		color: white;
		background: $tescoBlue;
	}
	.no-touch &:hover,
	&:hover,&:active
	 {
		background:$tescoBrightBlue;
		color: white;
		text-decoration: none;
	}
 	&.disabled,
 	&.disabled:hover,
 	&.disabled:active,
 	&[disabled],
 	&[disabled]:hover,
 	&[disabled]:active,
	&:focus {
		background: #fff;
		color: $darkPutty;
	}
}

@mixin fontIcon($iconContent) {
    &:after {
        content: $iconContent;
        font-family: $tescoIconFont;
    }
}
@mixin buttonIcon($iconContent, $position) {
    position: relative;
    @include fontIcon($iconContent);
    &:after {
        font-size: 0.8em;
        @if $position == left {
            position: absolute;
            left: 8px;
        }
        @else if $position == right {
            padding-left: 8px;
        }
    }
}
@mixin tertiaryButtonIcon($iconContent, $position: 'right') {
    @include buttonIcon($iconContent, $position);
    &:after {
        @include tertiaryButtonColoringWhite;
    }
    .no-touch &:hover,
    &:hover,
    &:active {
        &:after {
            background: $btnTertiaryHoverColor;
            color: $btnTertiaryTextColor;
        }
    }
}

@mixin clear-fix {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@mixin border-radius($one,$two:"",$three:"",$four:"") {
	@if $four != '' {
	-webkit-border-radius: $one $two $three $four;
		-moz-border-radius-topleft: $one;
		-moz-border-radius-topright: $two;
		-moz-border-radius-bottomright: $three;
		-moz-border-radius-bottomleft: $four;
		border-radius: $one $two $three $four;
	} @else if $three != '' {
		-webkit-border-radius: $one $two $three;
		-moz-border-radius-topleft: $one;
		-moz-border-radius-topright: $two;
		-moz-border-radius-bottomright: $three;
		-moz-border-radius-bottomleft: $two;
		border-radius: $one $two $three;
	} @else if $two != '' {
		-webkit-border-radius: $one $two;
		-moz-border-radius-topleft: $one;
		-moz-border-radius-topright: $two;
		-moz-border-radius-bottomright: $one;
		-moz-border-radius-bottomleft: $two;
		border-radius: $one $two;
	} @else {
		-webkit-border-radius: $one;
		-moz-border-radius: $one;
		border-radius: $one;
	}
}

@mixin box-shadow($shadows...) {
	@if $shadows {
	  -webkit-box-shadow: $shadows;
	  box-shadow: $shadows;
	} @else {
	  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	}
}

@mixin box-shadow-clean($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset:"") {
    -webkit-box-shadow: #{$inset} $x $y $blur $color;
    box-shadow: #{$inset} $x $y $blur $color;
}

@mixin translate3d($x,$y,$z) {
	-webkit-transform: translate3d($x,$y,$z);
	-moz-transform: translate3d($x,$y,$z);
	transform: translate3d($x,$y,$z);
}

@mixin transition($transition) {
	-webkit-transition: #{$transition};
	-moz-transition: #{$transition};
	-o-transition: #{$transition};
	transition: #{$transition};
}

@mixin multipleTransitions($one,$two:"",$three:"",$four:"") {
	@if $four != '' {
		-webkit-transition: $one, $two, $three, $four;
		-moz-transition: $one, $two, $three, $four;
		-o-transition: $one, $two, $three, $four;
		transition: $one, $two, $three, $four;
	} @else if $three != '' {
		-webkit-transition: $one, $two, $three;
		-moz-transition: $one, $two, $three;
		-o-transition: $one, $two, $three;
		transition: $one, $two, $three;
	} @else if $two != '' {
		-webkit-transition: $one, $two;
		-moz-transition: $one, $two;
		-o-transition: $one, $two;
		transition: $one, $two;
	} @else {
		-webkit-transition: $one;
		-moz-transition: $one;
		-o-transition: $one;
		transition: $one;
	}
}

@mixin linkWithBorder {
	border-bottom: 1px solid $lightPutty;
	text-decoration: none;
	padding-bottom: 5px;
	line-height: 20px;
	.icon {
			color:$lightPutty;
	}
	&:hover .icon, &:focus .icon, &:active .icon, {
		color:  $linkHoverColor;
	}
	&:hover,
	&:focus,
	&:active {
		border-color: $tescoBrightBlue;
		text-decoration: none;
	}
}
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin screen-reader {
  left: -9999em !important;
  position: absolute !important;

}
@mixin screen-reader-extra {
	display: block;
	visibility: hidden;
	width: 1px;
	height: 1px;
	overflow: hidden;
	text-indent: 2px;
}
@mixin side-by-side-buttons {
	.buttons {
		&:after {
			@include clear-fix;
		}
		.primary-button,
		.secondary-button,
		.tertiary-button {
			float: left;
			width: 49%;
			margin-top: 0;

		}
		.primary-button:first-child,
		.secondary-button:first-child,
		.tertiary-button:first-child {
			margin-right: 2%;
		}
	}
}
@mixin genericOverlayContents {
	h2 {
		font-size: 1.4em;
		font-family: "TescoBold","Helvetica Neue",Arial,sans-serif;
		line-height: 1.5em;
		padding: 0 0 15px;
		margin-bottom: 0;
	}
	p {
		padding: 0 0 10px;
		margin: 0;
		font-size: 1.4em;
	}

	li {
		list-style: none;
		font-size: 1.4em;
		padding-bottom: 9px;
		a {
			@include linkWithBorder;
		}
	}
	ul li a,
	ul li p {
		font-size: 1em;
	}
	@include side-by-side-buttons;
}
@mixin smallerTooltipFlexibleWidth {
	$tooltipArrowHeight : 9px;
	.tooltip {
		width: auto;
		top: $tooltipArrowHeight;

		.body {
			padding: 6px 8px;
		}
		.body:before {
			border-width: $tooltipArrowHeight;
			margin-left: - $tooltipArrowHeight;
			top: - ($tooltipArrowHeight * 2);
		}
		.body:after  {
			border-width: $tooltipArrowHeight - 2px;
			margin-left: - ($tooltipArrowHeight - 2px);
			top: - ($tooltipArrowHeight * 2 - 4px);
		}
		p {
			padding-bottom: 0;
			font-size: 1.2em;
			white-space: nowrap;
		}
	}
}
@mixin smallerTooltipFlexibleWidthAboveTrigger {
	@include smallerTooltipFlexibleWidth;
	.above-trigger-tooltip {
		top: - $tooltipArrowHeight;
		.body:before {
			bottom: -9px;
			top: auto;
			border-color: #848282 transparent transparent;
			border-bottom: none;


		}
		.body:after {

			bottom: - ($tooltipArrowHeight * 2 - 4px);
			top: auto;
			border-color: #fff transparent transparent;
		}
	}
}

@mixin newIcon {
	.new {
        color: #EE1C2E;
        position: absolute;
        top: -3px;
        left: 0;
        font-size: 4.5em;
        z-index: 1;
        line-height: 1.1;
        &:after {
			font-size: 13px;
			font-family: "tesco", "Helvetica Neue", arial;
			font-weight: bold;
			line-height: 11px;
			padding-top: 1px;
			width: 29px;
			height: 12px;
			position: absolute;
			top: 6px;
			left: 5px;
			content: "NEW";
			display: block;
			background: #EE1C2E;
			color: #ffffff;
		}
    }
}

@mixin bcveIcon($top: 120px, $right: 15px, $bottom: auto, $left: auto, $height: 34px, $width: 53px) {
	img.bcve_ping {
		bottom: 18px;
		height: $height;
		left: $left;
		position: absolute;
		right: $right;
		top: $top;
		width: $width;
	}
}

@mixin percentageIcon ($bottom, $left) {
	.offer {
        color: #EE1C2E;
        font-size: 4em;
        position: absolute;
        display: block;
        bottom: $bottom;
        left: $left;

        span {
            width: 100%;
            font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
            color: #FFF;
            font-size: 11px;
            font-weight: bold;
            position: absolute;
            text-transform: uppercase;
            padding: 1.5em 0;
            text-align: center;
        }
    }
    .percentage {

        span {
          padding: 1.2em 3px;
          font-size: 12px;
        }
    }
}

@mixin boxAndShadow {
    background-color: #FFFFFF;
    /*border: 1px solid $primaryBorderColor;
    box-shadow: 0 2px 4px 0 $primaryBorderColor;*/
    clear: both;
    padding: 14px 0 8px 0;
}

@mixin inputStyles {
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=number],
	input[type=tel],
	select {
		margin-bottom: 2px;
		border: 1px solid $inputBorderColor;
		@include border-radius(0);
		-webkit-appearance: none;
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 1;
		font-family: "Helvetica", Arial, sans-serif;
		color: $primaryTextColor;
		&:focus {
			border-color: $focusBorderColour;
		}
		&.error {
			border-color: $error;
		}
		&.required {
			background-color: $inputRequiredBackground;
			&.error {
				border: 1px solid  $error;
			}
		}
		&.valid {
			background-color: $inputValidBackground;
		}

		&.field-small {
			width: auto;
			max-width: 190px;
		}
    &:read-only {
      // important flag added because an important flag has been set globally on selector input.valid
      border-color: $lightPutty;
      background: rgb(229, 226, 217) !important;
      background: rgba(229, 226, 217, 0.5) !important;
      color: $darkPutty;
    }
	}
	/* For custom dropdowns - probably be added in later but live doesn't have required styling requirements for these yet...
	select.required,
	select.require,
	*/
	input[type=checkbox] {
        &.required + .customDropdown a {
            background-color: $inputRequiredBackground;
			&:hover {
				text-decoration:none;
				color:inherit;
			}
        }
		&.valid + .customDropdown a {
            background-color: $inputValidBackground;
        }
    }

	input {
		height: 45px;
		padding: 0 14px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0px 1000px $inputYellow inset;
		}

		/*
			&::-webkit-input-placeholder:before {
				content: '*';
				color: $colorRed;
			}
			&:-moz-placeholder:before {
				content: '*';
				color: $colorRed;
			}
			&::-moz-placeholder:before {
				content: '*';
				color: $colorRed;
			}
			&:-ms-input-placeholder:before {
				content: '*';
				color: $colorRed;
			}
		*/
	}
	input[type=text],
	input[type=email],
	input[type=password] {
		padding: 10px 16px;
	}
	input[type=tel] {
		padding: 15px 16px
	}
}

@mixin word-break {
    -ms-word-break: break-all;
        word-break: break-all;

        // Non standard for webkit
        word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}
@mixin carouselNavigationButton {
	border: 2px solid $tescoBlue;
	color: $tescoBlue;
	background: $white;
	border-radius: 100px;

	&:hover {
		color: $tescoBlue;
	}

 	&.disabled,
 	&.disabled:hover,
 	&.disabled:active,
 	&[disabled],
 	&[disabled]:hover,
 	&[disabled]:active {
		background: $white;
		border-color: $midDarkGrey;
		color: $midDarkGrey;
	}
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin horizontally-centered($elementWidth) {
    width: $elementWidth;
    left: 50%;
    margin-left: -$elementWidth/2;
}

@mixin loader() {
    position: absolute;
    z-index: 99;
    background: url($ajaxLoaderSrc) no-repeat #fff center center;
    color: #848282;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px 16px 16px 16px;
    font-size: 14px;
    min-height: 110px;
}

@mixin linkStyle() {
    &, &:link, &:active {
        color: $tescoBrightBlue;
        text-decoration: none;
    }
    &:hover, &:link:hover {
        color: $tescoBrightBlue;
        text-decoration: underline;
    }
}

@mixin transform-scale($width, $height) {
    -webkit-transform: scale($width, $height);
    -moz-transform: scale($width, $height);
    -ms-transform: scale($width, $height);
    -o-transform: scale($width, $height);
    transform: scale($width, $height);
}

@mixin arrowUp($width, $height, $color) {
    position: absolute;
    top: -$height;
    left: 50%;
    margin-left: -$width;
    content: '';
    color: $color;
    border-style: solid;
    border-width: 0 $width $height $width;
    border-color: transparent transparent $color transparent;
}

@mixin customScrollBar($size, $foreground-color, $background-color, $border-radius) {
	-webkit-overflow-scrolling: touch;

  // chrome and safari
  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $foreground-color;
    border-radius: $border-radius;

    &:hover {
      background-color: darken($foreground-color, 5%);
    }
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}

@mixin wordWrap() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
