.pdp-configurator {
	
	.category-selector {
		@include transition(all 0.75s ease);
        width: 100%;
	    padding: 0;
	    
	    .category-selector-inner {
			padding: 0;
		}

		&.open {
	        display: block;
	    }

	    &.upsell {

            h2 {
            	display: block;
                margin: 8px 2%;
            }

            .added-to-basket {
            	padding: 10px 2%;
            	position: relative;
            }
        }

        .red-cta.go-checkout {
        	margin: 0 0 8px 8px;
			float: left;
			clear: both;
        }

	    .case-category-close {
            display: none;
	    }

		h2 {
			display: none;
		}

		.category-selector-inner li {
			float: none;
			margin: 8px 2%;
			border-top: none;
			width: 95%;

			&:first-child {
				border-top: 0 none;
			}

			&:first-child,
			&:first-child + li + li + li, 
			&.first {
				margin: 8px 2%;
			}
			
			.button,
			button {
				position: relative;
				font-size: 14px;
				width: 100%;
				display: block;
				
				&:after {
					content: " ";
					clear: both;
					display: block;
				}

				img {
					position: absolute;
					top: 4px;
					left: 7px;
					max-width: 79px;
					max-height: 52px;
					z-index: 1;

					& + .category-label {
						padding-left: 100px;
					}
				}

				.category-label {
					font-size: 18px;
					border: 0 none;
					padding: 11px 10px 11px 11px;
				}

				
			}
		}
	}
}
