.nav-micro {
  margin: 0;
  list-style: none;
  
  li {
    float: left;
    margin-left: 5px;
    border-left: 1px solid $greyLight;
    padding-left: 5px;
    font-size: 11px;
    
    &:first-child {
      margin-left: 0;
      border-left: none;
      padding-left: 0;
    }
    
    a {
      color: $greyDark;
    }
  }
}


.progress-tracker {
  clear: both;
  margin: 0;
  padding-top: 20px;
  list-style: none;
  
  li {
    float: left;
    height: 38px;
    width: 318px;
    margin-left: -8px;
    font-size: 16px;
    line-height: 38px;
    color: $greyDark;
    text-align: center;
    background: url(../images/progress-tracker.png) 0 0 no-repeat;
    
    &:first-child {
      margin-left: 0;
      background-color: $greyLighter;
    }
  }
  
  .progress-tracker-active {
    color: $white;
    background-position: 0 -38px;
  }
}