//Copied from checkout-delivery module - mixins

@mixin delivery-tabs {

	.tabs {
		width: 600px;
		&:after {
			@include clear-fix;
		}
		margin-bottom: 10px;

		li {
			font-size: 1.4em;
			line-height: 1;
			position: relative;
			width: 50%;
			float: left;
			display: block;
			padding: 10px 0px 10px 8px;
			border-radius: 2px 2px 0 0;
			min-height: 100%;
			&.disabled {
				max-height: 51px;
				padding: 7px 8px 10px 8px;

				.custom-radio {
					margin-bottom: 0;
				}

				label {
					color: #848282;
					display: inline-block;

					span {
						display: block;
						font-size: 0.8em;
					}
				}
			}

			&:first-child {
				border-right: none;
			}

			&.selected {
				background: #fff;
			}
		}
	}
}

@mixin storeDetailsTooltip {
	.store-details-container {
		position: absolute;
		top: -224px;
		right: -366px;
		width: 350px;
		border: 1px solid #848282;
		padding: 16px 16px 8px 16px;
		@include box-shadow(0 0 10px rgba(0,0,0,0.3));

		&:after {
			content: '';
			background: url(../img/checkout-tooltip-arrow.png) no-repeat center center;
			width: 15px;
			height: 29px;
			position: absolute;
			left: -15px;
			top: 228px;
		}

		.close {
			position: absolute;
			display: block;
			cursor: pointer;
			width: 30px;
			height: 30px;
			right: -15px;
			top: -15px;

			overflow: hidden;
			border-radius: 15px;
			text-decoration: none;
			background-color: #a69f88;
			color: #fff;
			font-size: 1.2em;

			&:before {
				width: 100%;
				overflow: hidden;
				display: block;
				height: 100%;
				text-align: center;
				line-height: 30px;
			}
		}
	}
}

@mixin store-details {
	.inner {
		width: 100%;
		font-size: 0.8em;

		.tabs {
			width: 100%;
			li {
				font-size: 1.3em;
				background: #fff;
				width: 50%;
				border-radius: 0;

				&.selected {
					a {
						color: #222;
						font-weight: bold;
					}
				}
				a {
					display: inline-block;
					width: 100%;
					padding: 0 16px;
					text-align: center;
				}
			}

			&:after {
				@include clear-fix;
			}
		}

		.panel {
			position: relative;
			display: none; //dev
			border-top: 1px solid $pagePutty;
			padding: 16px 8px 8px 8px;
			&.selected {
				display: block;
			}
		}

		.store-address {
			font-size: 1em;
			span {
				display: block;
				padding-bottom: 2px;

			}
		}

		.driving-distance {
			margin: 8px 0;
		}

		.store-opening-times {
			margin-top: 16px;

			.title {
				padding: 0 0 16px 0;
				border-bottom: 1px solid $pagePutty;
				font-weight: bold;
			}

			li {
				border: none;
				font-size: 1.2em;
				padding: 0 0 8px 0;

				.storefinder-openingtimes-times {
					float: right;
				}
			}
		}

		.geo {
			display: none;
		}

		.map-container {
			height: 300px;
			position: relative;
			padding: 8px;

			.map-div {
				border: 1px solid $pagePutty;
				position: relative;
				height: 100%;
				width: 100%;
			}
		}
	}
}

@mixin deliveryForm {
	display: none;
	border-bottom: 1px solid #3E3E3F;
	font-size: 10px;
	@include inputStyles;

	.control-group:after, &:after {
		@include clear-fix;
	}

	h4 {
		font-size: 14px;
	}
	.custom-checkbox {
		display: none;
	}

	.custom-checkbox ~ .checkbox {
		float: none;
		display: inline-block;
		margin-left: 0;
	}

	.field-wrapper {
		margin: 16px 0;
	}

	.checkbox-wrapper {
		display: table;
		font-size: 14px;

		label {
			display: table-cell;
			vertical-align: middle;
			padding-left: 8px;
		}
	}

	.customDropdown, input {
		margin-bottom: 16px;
	}

	.tel-alt-block {
		font-size: 14px;
		p:first-child {
			margin-top: 0;
		}
		input {
			font-size: 14px;
		}
	}

	.form-actions {

		input{
			font-size: 14px;
		}

		input[type="submit"], input[type="button"] {
			@include box-shadow(none);
			float: left;
			width: 48%;
		}

		input[type="submit"] {
			margin-left: 4%;
		}
	}
}

@mixin tooltipLarge {
	position: relative;
	font-size: 14px;

	p {
		font-size: 1em;
	}

	.info {
		display: none;
		z-index: 200;
		position: absolute;
		bottom: 28px;
		left: 20px;
		width: 400px;
		padding: 0px 16px;

		.back {
			display: none;
		}

		&:after {
			content: '';
			background: url(../images/map-infobox-arrow.png) no-repeat center center;
			position: absolute;
			width: 36px;
			height: 18px;
			bottom: -18px;
			left: 20px;
			margin-left: -18px;
		}
	}
}
