//simple-order-amend module - mobile
@import "simple-order-amend-tablet";

.simpleOrderAmend #order-summary > .checkout .amendSection {
	&.isActiveAmendSection {
	    .content {
	        width: 297px;
	        float: none;
	        margin: 0 auto;
	
	        .editContent {
	            width: 297px;
	            float: none;
	            margin: 0 auto;
	        }
	    }
	}
	.content .groceryError {
		float: left;
		width: 75%;
		padding-top: 10px;
	}
}
.simpleOrderAmend {
    #order-details {
        #order-summary {
            .deliveryGroupLinks {
                li {
                    line-height: 18px;
                }
            }
            .currentContent {
                width: 75%;
                float: none;
            }
            .update-button {
                color: $linkColor;
                background: none;
                background-color: white;
                border-color: white;
                padding: 0 0 2px;
                border: 0;
                border-bottom: 1px solid $linkColor;
                font-weight: normal;
                &:after {
                    content: " r";
                    font-family: 'Tesco Icons';
                }
                &:hover {
                    color: $linkHoverColor;
                    border: 0;
                    border-bottom: 1px solid $linkHoverColor;
                    background: none;
                }
            }
        }
    }
    .amendDeliveryGroup {
        padding-bottom: 0;
        .amendSection.amendInfo {
            border-top: 2px solid $pagePutty;
            .amendInfoContent {
                margin: 16px 14px;
            }
        }
        .amendDeliveryAddress {
            min-height: 105px;
            &.isActiveAmendSection {
                .savedDeliveryAddresses {
                    display: none;
                }
                .savedDeliveryAddresses.editContent .visually-hidden-select.savedAddressesDropdown.been-customised{
                	margin-top:20px !important;
                }
            	
            }
        }
    }
    #payment-summary {
        h2 {
            border-bottom: 1px solid #f3f1ed;
        }
        .items-delivery-wrapper {
            margin-top: 20px;
        }
    }
}

#virtual-page {
    &.amendDeliveryAddress {
        .simpleOrderAmend {
            height: 640px;
        }
        @include inputStyles;
        z-index: 9990;
        .content {
            .editContent {
                padding-top: 20px;
                width: 297px;
            }
            h4 {
                margin-top: 0px;
            }
            p {
                padding-left: 0px;
            }
            .actions, .deliveryAddress.currentContent {
                display: none;
            }
            .savedDeliveryAddresses, .new-address {
                display: block;
                margin: 11px 0 0 8px;
                label, p {
                   font-size: 14px;
                }
            }
            .new-address {
                margin-top: 5px;
                padding: 2px;
            }
            .form-mobile-wrapper {
               border: 0;
               box-shadow: none;
               padding: 0;
               input.button.save {
                   margin-left: 0;
                   width: 100%;
               }
            }
            /*Commenting out because the events are not bound properly to the elements as the positioning is changed*/
            /*.visually-hidden-select {
                //Necessary to use !important because widget adds faulty inline styles to the "select element".
                margin-top: 20px !important;
            }*/
        }
    }
    &.amendStoreAddress {
        .simpleOrderAmend #order-summary {
            margin: 20px auto;
            width: 297px;

            > .checkout .amendSection .content .delivery-group-block .amendAddressForm .delivery-block .delivery-options .stores-container {
                h2 {
                    background: #fff;
                }
                .closest-stores {
                    padding-left: 0;
                }
                a.details {
                    position: absolute;
                    top: 7px;
                }
                .view-more-stores {
                    margin-left: 0;
                }
            }
        }
    }
    .amendSection {
        .editContent {
            padding-top: 10px;
        }
        .actions {
            display: none;
        }
    }
    &.mobileAmendDeliveryAddress {
        .editContent {
            padding: 10px;

            label {
                font-size: 13px;
                display: block;
                margin-bottom: 8px;
            }
        }
    }
    &.mobile-datepicker {
        .amendDeliveryDate {
            width: 297px;
            margin: 0 auto;

            .selectedDate {
                display: none;
            }
            .header {
                h3 {
                    display: none;
                    border-bottom: 2px solid $secondaryBorderColor;
                    padding: 10px;
                }
            }
            .title {
                font-size: 14px;
                padding: 10px 5px 10px 0;
                display: block;
            }
            .deliveryDate {
                width: inherit;

                .loader {
                    width: 310px;
                }
            }
            .dateDatametadata {
                padding: 15px 0px;
                border-bottom: 1px solid $primaryBorderColor;
                .info {
                    width: auto;
                    float: right;
                    font-weight: bold;
                }
            }
            .actions {
                display: none;
            }
            .confirm-date-btn {
                margin: 10px 0px;
            }
            .calendarContainer {
                width: 282px;
                padding: 0px;
            }

            .loader {
                top: 90px;
            }
            .currentContent {
                padding-top: 0;
        }
    }
}
}

.simpleOrderAmend {
    .amendCourierInstruction {
        .amendCourierInstructionForm {
            .neighbour-house-no,
            .form-actions {
                width: auto;
            }
            .customDropdown {
                .control {
                    width: 100%;
                }
            }
        }
    }
    .checkout .delivery-block .stores li label {
        padding-right: 15%;
    }
}

#virtual-page .simpleOrderAmend #order-summary > .checkout .amendSection .content .editContent {
    padding-top: 20px;
}
#virtual-page {
    .simpleOrderAmend {
        #order-summary {
            .checkout {
                .amendSection {
                    &.amendCourierInstruction {
                        .editContent {
                            padding-top: 20px;
                        }
                        .neighbour-house-no {
                            display: none;
                            margin: 0;
                            .field-wrapper {
                                margin: 8px 0 14px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

#virtual-page.mobile-datepicker .amendDeliveryDate .calendarContainer {
    width: 100%;
}
#overlay, #lightbox {
    z-index: 9992;
}
#virtual-page {
    .simpleOrderAmend {
        #order-summary > .checkout {
            .amendSection.isActiveAmendSection {
                .content {
                    .editContent {
                        width: 297px;
                    }
                }
            }
        }
    }
}