//simple-order-amend module - large desktop
@import "../variables";
 #wrapper {
    &.simpleOrderAmend {
        #order-summary > {
            .checkout {
                .thumbnail {
                    width: 138px;
                }
                .amendSection {
                    .header {
                        width: 25%;
                    }
                    .content {
                        width: 75%;
                        .delivery-group-block {
                            .amendAddressForm {
                                .delivery-block {
                                    .delivery-options {
                                        .stores-container {
                                            .store-details-container {
                                                .tabs {
                                                    li {
                                                        padding-right: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}