//simple-order-amend module - all
@import "../variables";

@mixin sectionContentMeasurements {
    float: left;
    width: 290px;
    margin-left: 0;
    margin-right: auto;
}

.simpleOrderAmend {

    .no-touch  & .visually-hidden-select {
        visibility: hidden;
    }

    #order-summary {
         .deliveryGroupLinks {
            margin: 15px 32px;
            font-size: 1.4em;
            list-style: disc;

            li {
                margin: 7px 0;
                .description {
                    padding-left: 5px;
                    a {
                        text-decoration: none;
                        color: $contentLink;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    #order-summary > {
        p {
            padding: 2px 16px;
            em {
                font-style: normal;
                font-weight: bold;
            }
        }
        h2 {
            padding-left: 16px;
        }
        a {
            margin-left: 16px;
        }
        a + p {
            padding: 6px 16px;
        }
        .tertiary-button {
            @include tertiaryButtonWhite;
            @include tertiaryButtonIcon($iconArrowRight);
            display: inline-block;
            width: auto;
        }
        .checkout {
            .white {
                background: #FFF !important;
            }
            .amendSection {
                position: relative;
                &:before, &:after {
                    content: " ";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                &.isActiveAmendSection {
                    background: #f2fafd;
                    min-height: 110px;

                    .content {
                        margin-bottom: 30px;
                        .currentContent {
                            display: none;
                        }
                        .editContent {
                            display: block;
                            @include sectionContentMeasurements;
                        }
                    }
                    .delivery-group-block {
                        background: transparent;
                    }
                }
                .loader {
                    width: 100%;
                    min-height: 80px;
                    z-index: 804;
                }
                .content {
                    float: left;
                    width: auto;

                    .customDropdown {
                        .control {
                            background: #ffffff;
                            &:hover {
                                background: $tescoBrightBlue;
                            }
                        }
                    }
                    .currentContent {
                        display: block;
                        word-wrap: break-word;
                        @include sectionContentMeasurements;
                    }
                    .groceryError {
						float: right;
						width: 47%;
						font-size: 1.4em;
					}
                    .editContent {
                        display: none;
                        float: none;
                        padding-top: 40px;

                        &.new-address {
                            padding-top: 0;
                        }
                    }
                    .actions {
                        float: right;
                        a {
                            @include tertiaryButtonWhite;
                            &.active {
                                background-color: $putty;
                                border-color: $putty;
                                color: white;
                            }
                        }
                    }
                    .delivery-group-block {
                        padding: 0;
                        margin: 0;
                        background: transparent;
                        clear: none;

                        .collectionAddress {
                            p {
                                padding-left: 0;
                            }
                            .street, .town, .region, .postal-code {
                                display: block;
                            }
                            .street, .town, .region {
                                text-transform: capitalize;
                            }
                            .postal-code {
                                text-transform: uppercase;
                            }
                            .country, .driving-distance {
                                display: none;
                            }
                        }
                        .amendAddressForm {
                            .delivery-block {
                                border: none;
                                padding: 0;
                                min-height: 0;
                                margin-top: 4px;

                                .delivery-options {
                                    width: auto;
                                    float: none;
                                    margin: 0;
                                    border: none;

                                    .stores-container {
                                        h2 {
                                            font-size: 14px;
                                            font-family: "Helvetica", Arial, sans-serif;
                                            color: #645945;
                                            background: #f2fafd;
                                            margin: 0;
                                            font-weight: normal;
                                        }
                                        p {
                                            padding-top: 6px;
                                        }
                                        a {
                                            font-size: 1em;
                                            line-height: 1.4em;

                                            &.back {
                                                display: none;
                                            }
                                            &.view-more-stores {
                                                display: block;
                                                float: none;
                                                font-size: 1.4em;
                                                margin-left: 8px;
                                                margin-right: 8px;
                                                padding: 14px 8px 2px 0;

                                                &:active, &:focus {
                                                    outline: none;
                                                }
                                                .label {
                                                    position: relative;
                                                    top: -4px;
                                                    left: 4px;
                                                }
                                                .icon {
                                                    right: 4px;
                                                }
                                            }
                                            &.details {
                                                top: 7px;
                                            }
                                        }
                                        .stores {
                                            padding-right: 8px;

                                            .store-search-form {
                                                margin-top: 5px;
                                            }
                                            li {
                                                padding-right: 60px;
                                                padding-left: 4px;
                                                a {
                                                    &.details {
                                                        line-height: 1.8em;
                                                    }
                                                    &.close {
                                                        font-family: 'Tesco Icons';
                                                        &:before {
                                                            width: 100%;
                                                            overflow: hidden;
                                                            display: block;
                                                            height: 100%;
                                                            text-align: center;
                                                            line-height: 30px;
                                                            content: 'y';
                                                        }
                                                    }
                                                }
                                                label {
                                                    font-size: 1em;
                                                }
                                                .custom-radio {
                                                    margin-right: 6px;
                                                }
                                            }
                                            .tabs {
                                                margin: 0;
                                                a {
                                                    margin-top: 0;
                                                }
                                            }
                                        }
                                        .store-opening-times {
                                            margin-top: 8px;
                                            .title {
                                                margin-bottom: 12px;
                                                padding-bottom: 12px;
                                            }
                                        }
                                        .closest-stores {
                                            margin-top: 5px;
                                            padding-left: 6px;

                                            li {

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #confirm-changes {
        margin-top: 16px;
        margin-bottom: 0px;
        font-weight: bold;
        height: auto;
        padding: 12px 0;
        cursor: default;
        &.showConfirmChagesButton {
            visibility: visible;
            cursor: pointer;
            background-color: $basketOrange;
            border-color: transparent;
            &:hover {
                background-color: $hoverOrange;
                border-color: transparent;
            }
        }
        &.tertiary-button[disabled] {
            background-color: $hoverOrange;
            opacity: .5;
        }
    }
    #order-header-title {
        .title-group {
            padding: 8px 16px 8px;
        }
    }
    #order-header {
        &.delivery-group-block {
            margin-bottom: 16px;
        }
    }
    #order-details {
        h2 {
            &.subHeader {
                font-size: 20px;
                margin-bottom: 12px;
            }
        }
        .amendDeliveryHeading {
            float: left;
            padding: 14px 14px 16px;
            h2 {
                margin: 0;
                font-size: 22px;
            }
            .amendDeliveryType {
                margin: 0;
            }
        }
        .amendChangeList {
            clear: both;
            padding: 8px 14px 16px 30px;
            list-style-type: disc;
            li {
                font-size: 14px;
            }
        }
        .amendDeliveryTitle {
            font-size: 24px;
            margin: 22px 16px 18px;
        }
        .checkout .ssb_block:first-child .amendDeliveryTitle {
            margin-top: 25px;
        }
        .amendDeliveryGroup {
            position: relative;
            margin-bottom: 16px;
            padding: 16px 40px;
            background-color: #fff;
        }
        .amendSection {
            clear: both;
            border-top: 2px solid $pagePutty;
            .header {
                float: left;
                width: 34%;
                padding: 16px 14px;
                h3 {
                    margin: 0;
                    font-size: 14px;
                    white-space: nowrap;
                }
            }
            .content {
                display: block;
                float: none;
                width: 320px;
                padding: 16px 14px;
                p {
                    margin: 0;
                }
            }
            .icon {
                font-size: 0.8em;
            }
            &.amendInfo {
                border: 0;
                .amendInfoContent {
                    background: $pagePutty;
                    position: relative;
                    padding: 16px 14px 4px;
                    p {
                        font-size: 14px;
                        line-height: 1.4em;
                        margin-bottom: 12px
                    }
                    em {
                        font-style: normal;
                        font-weight: bold;
                    }
                    &.amendPartnerInfo {
                        margin-bottom: 16px;
                        padding-right: 72px;
                        a {
                            font-style: normal;
                            font-weight: bold;
                            color: $prominentLinkColor;
                            &:visited, &:hover, &:active {
                                color: $prominentLinkColor;
                            }
                        }
                        img {
                            position: absolute;
                            top: 16px;
                            right: 16px;
                        }
                    }
                }
            }
        }
        .amendDeliveryItems {
            position: relative;
            clear: both;
            > .header {
                padding: 0 14px;
                h2 {
                    float: left;
                    margin: 0;
                    padding: 16px 0;
                    font: 14px "Helvetica", Arial, sans-serif;
                    font-weight: bold;
                }
                .qty {
                    width: 100px;
                }
            }
            .content {
                clear: both;
            }
            .amendDeliveryItem {
                .term {
                    @include screen-reader();
                }
                &:first-child {
                    .term {
                        position: static;
                        text-indent: 0;
                    }
                    .description {
                        margin-top: 50px;
                    }
                }
            }
        }
        .amendDeliveryItem {
            height: 100%;
            overflow: hidden;
            border-top: 2px solid $pagePutty;
            &:first-child {
               .item {
                   .header {
                       position: absolute;
                       width: 100%;
                       height: 50px;
                       padding: 16px 14px 0;
                       border-bottom: 2px solid $pagePutty;
                       display: block;
                   }
               }
            }
            .item {
                float: left;
                width: 50%;
                h3 {
                    margin: 0;
                    font-size: 14px;
                }
                .header {
                	display: none;
                }
                .description {
                    padding: 16px 14px;
                    height: 100%;
                    overflow: hidden;
                    .product-title {
                        display: block;
                        overflow: hidden;
                        font-size: 14px;
                    }
                }
                .thumbnail {
                    width: 85px;
                    float: left;
                    margin-right: 16px;
                    height: auto;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .qty {
                float: left;
                width: 24%;
                text-align: center;
                .term {
                    padding: 16px 14px;
                    border-left: 1px solid $pagePutty;
                    border-right: 1px solid $pagePutty;
                    p {
                        margin: 0;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                .value {
                    margin: 0;
                    padding: 16px 14px 0;
                    p {
                        margin: 0;
                    }
                }
            }
            .price {
                float: right;
                text-align: right;
                .term {
                    padding: 16px 14px;
                    p {
                        margin: 0;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                .value {
                    margin: 0;
                    padding: 14px 14px 0;
                    p {
                        font: bold 22px $tescoFont;
                    }
                }
            }
        }
        .amendDeliveryCost {
            .content {
                text-align: right;
                p {
                    font: bold 22px $tescoFont;
                }
            }
        }
        .amendDeliverySubtotal {
            .content {
                text-align: right;
                p {
                    font: bold 22px $tescoFont;
                }
            }
        }
        .soldBy {
            float: right;
            text-align: right;
            margin: 0 14px 16px;
        }
        .logo {
            display: block;
        }
    }
    #payment-summary {
        background: transparent;
        margin-bottom: 16px;

        .paymentSummaryDetails {
            background: #fff;
        }

		.tertiary-button {
			&.disabled {
				background-color: $hoverOrange;
                opacity: .5;
				cursor: not-allowed;
				pointer-events: none;
				&::before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 5;
				}
        	}
		}

        form {
            display: block;
            background-color: #fff;
        }
    }

    div {
        &.delivery-block {
            margin-bottom: 0;
        }
    }
}
.amendDeliveryAddress {
    label {
        font-size: 1.4em;
        display: block;
        margin-bottom: 1em;
    }
    .customDropdown {
        .control {
            display: block;
        }
        .icon {
            float: right;
        }
    }
}
.actionList {
    margin-top: 16px;
    padding: 16px;
    text-align: center;
    background: #fff;
    color: $inputInstructionColor;
    .tertiary-button {
        @include tertiaryButtonWhite;
        margin: 8px 0 16px;
        font-size: 14px;
        &:link, &:visited {
            color: $primaryTextColor;
        }
    }
    li:last-child .tertiary-button {
        margin-bottom: 0;
    }
}
.simpleOrderAmend {
    .amendCourierInstruction {
        .courier-message {
            display: none;
        }
        .content {
            min-height: 67px;
        }
        .courierInstruction {
            width: 320px;
        }
        .amendCourierInstructionForm {
            width: 320px;
            .courierInstructionDropdownLabel {
                display: block;
                margin-bottom: 16px;
                font-size: 1.4em;
                line-height: 1.4;
            }
            .neighbour-house-no {
                margin-bottom: 8px;
                label {
                    display: none;
                }
            }
            .neighbour-house-no, .form-actions {
                display: none;
            }
            .customDropdown {
                .control {
                    width: 100%;
                    .innerText {
                        display: block;
                        width: 252px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .icon {
                        position: absolute;
                        top: 12px;
                        right: 12px;
                    }
                }
            }
        }
    }
}
.amendDeliveryDate {
    padding-bottom: 8px;
    .loader {
        display: none;
    }
    &.isActiveAmendSection {
        .selectedDate {
            display: none;
        }
    }
    .header {
        .mobileCancel {
            display: none;
        }
    }
    .delivery-group-block {
        p {
            padding-left: 0;
        }
    }
    .deliveryDate {
        max-width: 320px;
        .loader {
            display: none;
        }
        &.busy {
            position: relative;
            .busyIndicator {
                display: block;
            }
            .calendarContainer {
                z-index: 1000;
                pointer-events: none;
            }
        }
        .busyIndicator {
            display: none;
        }
        .calendarContainer {
            padding: 0;
            background: none;
            max-width: 350px;
        }
        .title {
            display: block;
            font-size: 14px;
            padding: 0 10px 15px 0;
            display: block;
            line-height: 20px;
        }
        .dateDatametadata {
            display: table;
            width: 100%;
            font-size: 14px;
            font-family: "Helvetica",Arial,sans-serif;
            padding: 15px 0;
            border-bottom: 1px solid #f3f1ed;
            .label {
                display: table-cell;
                vertical-align: top;
                text-align: left;
            }
            .info {
                width: 50%;
                display: table-cell;
                vertical-align: top;
                text-align: right;
                font-weight: bold;
            }
        }
        .datepicker {
            width: auto;
            .dow, .days div, .button, .today span {
                width: 14.28%;
            }
        }
        .datepicker {
            .today span {
                width: 100%;
            }
        }
    }
}
.simpleOrderAmend #order-summary > .checkout .amendSection.isActiveAmendSection .content .editContent {
    max-width: 320px;
}

.simpleOrderAmend {
    .amendSection {
        &.amendDeliveryAddress {
            .content {
                .savedDeliveryAddresses {
                    &.singleDeliveryAddress {
                        label {
                            display: none;
                        }
                        .customDropdown {
                            .control {
                                background-color: $btnSecondaryDisabledColor !important;
                                pointer-events: none;
                                &:hover {
                                    background-color: inherit;
                                    color: inherit;
                                    border: 1px solid #a69f88;
                                }
                                .icon {
                                    display: none;
                                }
                            }
                        }
                    }
                    p.addNewAddress {
                        margin-top: 6px;
                    }
                }
                .fnNewHomeDeliveryAddress {
                    color: $tescoBrightBlue;
                    padding: 8px;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
                .new-address {
                    max-width: 320px;
                    h4 {
                        font-size: 1.7em;
                        margin: 0.7em 0em;
                        font-family: Tesco;
                    }
                    p {
                       margin-bottom: 0.9em;
                    }
                    .locality-city {
                        font-weight: bold;
                        font-size: 1.4em;
                        padding-left: 1em;
                        line-height: 1.8em;
                    }
                    .field-wrapper {
                        margin: 14px 0;
                        &.post-code {
                            z-index: 1;
                            span {
                                &.error {
                                    margin-bottom: 0.6em;
                                }
                            }
                        }
                    }
                }
                .hidden {
                    display: none;
                }
            }
        }
    }
}

#virtual-page {
    .simpleOrderAmend {
        #order-summary {
            .checkout {
                .amendSection {
                    &.isActiveAmendSection {
                        background: #ffffff;
                    }
                    &.amendCourierInstruction {
                        .header {
                            display: none;
                        }
                        .neighbour-house-no {
                            padding-bottom: 0;
                        }
                        .currentContent {
                            display: none;
                        }
                        .fnCourierInstructionChange {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.simpleOrderAmend {
    .warningMessage {
        border: 1px solid $tescoRed;
        padding: 16px 32px 16px 8px;
        background: #ffffff;
        color: $tescoRed;
        font-size: 14px;
        text-align: center;
        width: 100%;
        margin-bottom: 8px;

        &:before,
        &:after {
            content: "";
            left: 50%;
            border: 26px solid $tescoRed;
            margin-left: -24px;
            border-color: $tescoRed transparent transparent transparent;
            height: 0;
            width: 0;
            bottom: 33px;
            position: absolute;
        }
        &:after {
            border-color: #ffffff transparent transparent transparent;
            border-width: 27px;
            margin-left: -25px;
        }
        .close {
            cursor: pointer;
            display: block;
            position: absolute;
            height: 30px;
            width: 30px;
            right: 8px;
            top: 8px;
            overflow: hidden;
            z-index: 21;
            background: #ffffff;
            border: none;
            .icon {
                position: absolute;
                line-height: 15px;
                top: 8px;
                left: 9px;
                font-size: 1em;
                color: $tescoRed;
            }
        }
    }
}