@import "catalog-navigation-mixins";

@include catalogueNavDesktopStyles;

#catalogue-nav-header-list-item {
    top: 66px;
}

#catalogue-nav-wrapper {
    height: 52px;
    width: 960px;

    &.dropdownOpen {
        height: 550px;
    }
}

#catalogue-nav {
    ul.departments {
        &.department-count-14 { // styles work for 13 departments visible in L and LL
            > li {
                max-width: 130px;
                min-width: 50px;
            }
        }

        > li {
            max-width: 130px;
            min-width: 50px;

            > a {
                font-size: 14px;
                line-height: 16px;
                padding: 10px 9px;
            }

            .nav-item-divider {
                top: 16px;
            }
        }
    }

    ul.categories-l1 {
        top: 52px;
        height: 498px;

        > li {
            div.flyout-image {
                width: 276px;
                height: 415px;
            }
        }
    }
}
