//delivery-latest-offer module - large desktop
@import "../../components/breakpoints";
@include breakpoint(largeDesktop);
@import "../mixins/delivery-latest-offer-mixins";

.delivery-latest-offers {
	margin: 0 $onecol 20px $onecol;

	li {
		width: $onecol * 73;
		text-align: center;

		a {
			text-align: left;
			display: inline-block;
		}

		&:first-child {
			margin-right: $onecol * 2;
		}
	}

}
