//every-little-helps-stamps module - large desktop
@import "../../components/breakpoints";
@include breakpoint(largeDesktop);
@import "../mixins/every-little-helps-stamps-mixins";

.full-page-form {
    width: auto;
}
.every-little-helps-stamps {

	padding-top: 16px;

	li {

		height: 90px;
		width: 28 * $onecol;

		a {
			padding-right: 35px;
		}
	}

}

.product-description .secondary-content .every-little-helps-stamps {
    li {
        margin-left: 0;
    }
}

.listing, .category {
     .every-little-helps-stamps{
        display: block;
        border-top: none;
        width: 216px;
        float: left;
        padding-top: 0;


        li {
            float: none;

            margin: 16px 0 0 0;
            width: 100%;

            &:first-child {
                margin-top: 0;
            }

        }
    }
}

.category .every-little-helps-stamps {
    clear: none;
    width: 232px;
    ul > li ~ li ~ li{
        display: block;
    }
}

.category #main-content .every-little-helps-stamps {
    width: auto;

    li {
        float: left;
        margin-left: $onecol * 2;
        width: 58 * $onecol;
        margin-top: 0;
        &:first-child {
            margin-left: 0;
        }
    }

}
