/*******************************************
* Buy From - Large Desktop
*******************************************/

@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "buy-from-mixins";
@include headerWithLogo;
.buy-from {
	.header h2 {
		width: 183px;
	}
	.seller, 
	.other-sellers .seller {
		.details .content {
			padding-bottom: 0;
		}
	}
 	.touch & .buttons .tooltip {
		margin-top: -34px;
	}
}
div.bcve-buy-box.kiosk-bcve-buy-box.large-desktop-hide{
	display:none;
}

/*Live Store Stock - start*/

.storeDetailsOverlay{
	width:1064px !important;
	background-color: #fff;
	padding: 32px;
	
	.nearStore, .storeInfo, .viewMapAndMoreInfo{
   		display:none;
   	}
   	
	.moreStoreLinkHolder {
		width:568px;
	}
	a.reserveNow{    
        float: right;
        clear: none !important;
        position:relative !important;
        left:83px !important;
        top:20px !important;
        font-size: 12px;
        padding-top: 5px;
       
        &:hover{
          text-decoration:underline !important;
        
        }
    }
    .no-stock {
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	width: 568px;
    	overflow: hidden;
    	
    	.closeMsg {
   		   display:none;
    	}
    }
    .stockInfoMsg2 {
		display: none;
	}
	
	.addressAndTelephone, .collectionTimes{
		text-align:left;
	}
	
}


/*Live Store Stock - end*/


#stock-reservation-section {

.addressCont
	{
	 h4, .viewMapAndMoreInfo{
			display:none;
		}
	}
.viewMapAndMoreInfo, .viewMapAndMoreInfoSecond{
	display:none;
}

}
