/*******************************************
*   Buy From
*******************************************/

@import "../variables";
@import "buy-from-mixins";


/*******************************************
*   DEFAULT STYLES
*******************************************/

$onecol: 8px;
$quantityheights: 32px;

.buy-from {
    width: 100%;
    margin-bottom: 15px;
    
    .cc-chargable{
    	margin-left: 2.3em;
    	li:first-child{
    		margin-bottom: 0.2em;
    	}
    }
    span.available-from {
        display:none;
    }

    .tesco .collapsed-DO {
        padding-left:0 !important;
        padding-top:10px;
    }

    .buttons {
        input {         
            height: 36px;
            line-height: 1;
            margin: 0;
            padding: 0;
        }
    
        p {
          font-size: 1.3em;
        }
    
        .quantity-errMsg {
            color: $colorRed;
        }
        .add-to-basket{
            &[disabled="disabled"]{
                opacity: 0.3;
            }
        }

    }

    .ajaxLoader{
        position: absolute;
    }
    h2 {
        @include tescoRegular;
        font-size: 1.6em;
        margin: 0;
        color: #7c765f;
    }
    p {
        margin: 0 0 8px;
        line-height: 1.2em;
        clear: none;
        font-size: 1.4em;
    }
    .header {
        padding: 12px 16px 8px;
        &:after {
            @include clear-fix;
        }
        h2 {
            float: left;


        }
        img {
            float: left;
        }
    }
    .seller {
        background: #fff;
        border: 1px solid $primaryBorderColor;
		border-top: none;
        border-bottom: none;
        clear: both;                
        position: relative;
        padding-bottom: 12px;
        img[alt="Collect Tesco Clubcard Points"]{
            width: 100%;
        }
    }

    .services {
        margin:0 0 14px;
        background-color: #fff;
        border-left: 1px solid $primaryBorderColor;
        border-right: 1px solid $primaryBorderColor;
        > .content {
            background-color: $primaryBorderColor;
            padding: 8px 0px;
            margin-bottom:8px; 
        }
        li {
            clear: both;
            display:table;
            height:auto;
            width:100%;
            &.disabled{
                label, .price {
                    color:$putty;
                }
                .checkbox-wrapper{
                    .checkbox{
                        border-color:$inactivePutty;
                    }
                }
            }
        }
        h3 {
            border-top: 0;
            font-size: 1.3em;
            margin-bottom: 2px;
        }
        input[type="checkbox"] {
            display:none;
        } 
        label {
            font-size: 1.1em;
            font-weight:bold;
            cursor:pointer;
            display: table-cell;
            width: 100%;
            vertical-align: middle;
            padding-right:10px;
            .tableCellTextWrapper{
                max-height: 27px;
                overflow: hidden;
                display:block;
                line-height: 13px;
            }
        }
        .serviceWrapper{ 
            width:100%;
            display: table;
            padding:6px 0;
            float:left;
            position:relative;

            
            &:after {
                background: url("../img/question.png") no-repeat;
                width: 13px;
                height:13px;
                content: 'Question';
                text-indent: -999em;
                position: absolute;
                right:10px;
                top:-2px;
                bottom:0;
                margin-top:auto;
                margin-bottom:auto;
            }
        }
        .checkbox-wrapper {
            padding-right: 10px;    

            display: table-cell;
            vertical-align: middle;
        }
        .servicesLink{
            display:none;
        }
        .price {
            padding-right: 33px;
            font-weight:bold;
            display: table-cell;
            vertical-align: middle;
            width: auto;
            font-size:11px;
        }
    }
    .content {
        clear: both;
        padding: 8px 16px 0;
        .buy {
            margin-bottom: 5px;
        }
    }
    .content.kiosk-cp-enabled{
        padding: 0;
    }
    .details {
        .content {
            padding: 0 16px;
            /*overflow: hidden; */  
            li{
                width:140px;
                word-wrap:break-word;
                font-size: 1.16667em;
            }
        }
    }
    .quantity {
        float: left;
        width: 20%;
        &:after {
            @include clear-fix;
        }
        label.error{
            display: none !important;
        }
        input {
            border: 1px solid $primaryBorderColor;
            /*width: 45px;*/
            width:100%;
            height: 36px;
            line-height: 29px;
            font-size: 1.4em;
            text-align: center;
            float: left;
            -webkit-appearance: none;
        }
        a {
            border: 1px solid $primaryBorderColor;
            @include gradient(#fff, #f1f1f1);
            width: 31px;
            height: 31px;
            text-align: center;
            display: none;
            float: left;
            padding: 7px 0;
            font-size: 0;

            &:hover,
            &:focus,
            &:active  {
                @include gradient(#f1f1f1, #fff);
                text-decoration: none;
            }
            
            &.disabled {
                background: #eee;
                color: #ccc;
                cursor: pointer;
                &:hover {
                    background: #eee;
                    color: #ccc;
                    cursor: default;
                }
            }
            
        }
        
        a .icon {
            line-height: 1.2;
            font-size: 13px;
        }
        
    }
    .accessibility {
        @include screen-reader;
        @include screen-reader-extra;
    }
    .price-check {
        float: right;
        position: absolute;
        top: 3px;
        right: 5px;
        display: block;
        font-size: 0;
        .price-check-label {
            @include screen-reader;
            @include screen-reader-extra;
        }
        .icon {
            background: url(../img/price-check-logo.png) no-repeat left top;
            width: 38px;
            height: 39px;
            
            display: block;
            &:before  {
                content: "";
            }
        }
    } 
    .current-price {
        font-size: 3.6em;
        line-height: 1em;
        margin: 0 0 3px;
        font-weight: bold;
        font-family: "Tesco", Helvetica, Arial, sans-serif;
    }

        .old-price {
            font-size: 1.2em;
            margin: 0 0 3px;
            font-family: $bodyFont;
            span {
                display: inline;
                color: $secondaryTextColor;
            }
            del {
                display: inline;
                color: $secondaryTextColor;
            }
            .saving {
                text-decoration: none;
                color: $tescoRed;
                font-weight: bold;
            }
        }


    .buy {
        &:after {
            @include clear-fix;
        }
        .user-wishlists {
            display: none;
        }
        .buttons {
            float: right;
            width: 75%;
        }
    }
    
    .eventMessaging {
        padding:  8px 10px 0px 10px;
        .content {
            padding: 0 0 16px 0;
            border-bottom: 1px solid $primaryBorderColor;
        }
    }
    
    .options {
        h3 {
            display:none;
        }
        .offers {
            border-top: 1px solid #eee;
            padding-top: 8px;
            
            ul {
                li {
                    line-height: 1.2em; 
                    font-size: 1.4em;
					margin:0;
                }
            }
			.show-more {
				background:#fff;
				color:$tescoRed;
				border:1px solid $tescoRed;
				line-height:29px;
				text-align:center;
				width:170px;
				font-size:14px;
        }
		}
        ul {
            
            padding-left: 0;
            padding-bottom: 11px;
            li {
                font-size: 1.2em;
                line-height: 1.3;
                list-style: none;
            
                &.resiliency{
                    a .del-text{
                        margin-left:0px;
                    }
                }
                
                a {
                    .del-text {
                        color: $xDarkPutty;
                        &:hover {
                            color: $linkHoverColor;
                        }
                        display:block;
                        margin-left:2em; 
                        &::after { 
                            background:url('../img/question.png') no-repeat;
                            width: 13px;
                            position: relative;
                            content: 'Question';
                            text-indent: -999em;
                            position: absolute;
                            margin-top:1px;
                            margin-left: 4px;
                        }
                    }
                }
                > a {
                    display:block;
                    padding: 5px 0;
                }
                
                > div {                 
                    background: #fff;
                    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
                    border: 1px solid #848282;
                    position: absolute;                 
                    left: -17px;
                    /*width: 245px;*/
                    width: 295px;
                    padding: 16px 8px;
                    z-index: 20;
                    margin-top: 20px;                       
                                        
                    &.delivery-text {
                        display: none;
                        &:after,
                        &:before {
                            content: "";
                            border: 27px solid #848282;
                            border-color: transparent transparent #848282 transparent;
                            height: 0;
                            width: 0;
                            top: -54px;
                            position: absolute;
                            left: 50%;
                            margin-left: -27px;
                        }
                        &:after {
                            border-color: transparent transparent white transparent;
                            border-width: 25px;
                            top: -50px;
                            margin-left: -25px;
                        }           
                        p {
                            display: block;
                            
                            &.terms {
                                font-weight: normal;
                                font-style: italic;
                                font-size: 0.9em;
                            }   
                            &.next-day,
                            &.std-text {
                                span {
                                    font-weight: bold;
                                }
                            }
                        }
                        .close {

                            cursor: pointer;
                            display: block;
                            position: absolute;     
                            height: 30px;
                            width: 30px;
                            right: -15px;
                            top: -15px;
                            overflow: hidden;
                            z-index: 21;
                            background: #7c765f;
                            -moz-border-radius: 50%; 
                            -webkit-border-radius: 50%; 
                            border-radius: 50%;
                            .icon {
                              top: 8px;
                              left: 9px;
                              font-size: 1em;
                              color: #fff;
                              &:before{
                                content: "y"; 
                                font-family:'Tesco Icons';
                              }
                            }
                            .label {
                                left: -9999em;
                                position: absolute;
                            }
                        }
                        &.popup {
                            p {
                                a {
                                    font-size:1em;
                                    color:$contentLinkInline;
                                    &:hover {
                                        color:$contentLink;
                                    }
                                }
                            }
                        }
                    }
                }

                &.click-collect,
                &.express,
                &.grocery,
                &.standard {
                    &  span.icon {
                      position: absolute;
                      color: #d6d2c4;
                      line-height: 15px;
                    }
                }
                

                p {
                    font-size: 1.2em;
                    padding-top: 3px;
                    font-weight: normal;
                    display: none;
                }   
            }
            a {
                font-size: 1.1666667em;
                &.promoContainer {
                    font-size: 14px;
                }
            }
        }
        .show-more,
        .show-all {
            font-size: 1.2em;
            margin-bottom: 10px;
            display: inline-block;
        }
        .newDeliveryOptions {
            li { 
                p {
                    font-weight: normal;
                }
            }
        }
    }


    .other-sellers {
        .bcve-buy-box{
            display: block;
        }   
        .seller {
            border-top: none;
            border-bottom: 1px solid $pagePutty;    
            &.collapsed {
                padding: 12px 16px;
                overflow: hidden;
                
                .details {                  
                    .kiosk-cp-enabled{
                        display: none;
                    }
                    .header {
                        float: left;
                        margin: 2px 10px 0 0;
                        padding: 0;                     
                    }                                       
                    > .content {
                        clear: right;
                        float: left;
                        padding: 0;
                        width: 165px;
                        
                        .price-info {
                            clear: none;
                            
                            .current-price {
                                font-size: 2.2em;
                                font-weight: bold;          
                            }
                            .clubcard {
                                display: none;
                            }                           
                        }
                        .bcve-buy-box{
                            display:none;
                        }   
                        .savings,
                        .dispatch-info {
                            display: none;
                        }
                    }           
                    .collapsed-DO {
                        display: block;
                        font-size: 1.2em;
                        line-height: 1;
                        clear: both;
                        padding: 4px;
                        box-sizing: border-box;
                        width: 100%;
                        
                        .loader {       
                            left: auto;
                            right: 115px;
                            top: 10px;
                            max-width: 30px;
                            min-height: 0;
                        }
                        /*
                        .loader.small {
                            width: 16px;
                            height: 16px;
                            background-size: contain;
                            padding:0;
                            right:72px;
                            top:16px;
                        }   
                        */      
                    }
                    .header-wrapper > img {
                        margin-top: -2px;
                        width:84px;
                        height:32px;
                    }   
                }
            }                           
            .details {  
                position:relative;
                width:100%;
                min-height: 50px;
                left: 0;
                top: 0;
                display: block;
                cursor:pointer;
                .collapsed-DO {
                    display: none;
                }   
                .kiosk-cp-enabled{
                    padding: 0;
                }   
            }   
            > .content {
                display: none;
            }   
            .seller-toggle {
                color: #4F5050;
                cursor: pointer;
                font-size: 1.2em;
                position: absolute;
                top: 12px;
                right: 15px;
                text-decoration: none;  
                width: 95%;
                text-align: right;
                height: 75px;
                
                span.icon {
                    color: #f26322;
                    display: block;
                    margin-left: 6px;
                }
            }   
            &.collapsed {
                .seller-toggle {
                    top: 0;
                    right: 0;
                    width: 100%;
                    text-align: right;
                    height: 60px;
                }
            }                   
        }
    }
    .seller .not-available-tesco {
        font-size: 1.8em;
        padding: 8px 8px 0px 8px;
        margin-bottom: 0;
        @include tescoRegular;
    }
    .every-little-helps-stamps li {
        float: none;
        margin-left: 0;
    
    }
    .buy-box-stock-alerts {
        .tooltip-register-for-alerts{
            display:none;
        }
       .stock-message {
			font-size: 1.4em;
            cursor: default;
			
			&.low-stock {
				color: #E71D20;
				font-weight:normal;
				border:1px solid #E71D20;
			}
			&.oo-stock {
				color: $colorRed;
				margin-bottom:1em;
			}
		}
	}
    
    .bcve-buy-box {
        background-color: #EDF4FA;
        border-bottom: 1px solid #dcd8d9;
        border-top: 1px solid #dcd8d9;
        padding: 8px;
        .kiosk-bcve-buy-box{
            display:none;
        }
        .bcve-all-vp{
            display:block;
        }
        img {
            float: right;
        }

        div.promo-text {
            font-size: 1em;
            margin-right: 21.5%;

            p, a {
                font-size: 1.2em;
            }
            
            ul {
                list-style-type: disc;
                margin-left: 15px;
            }
        }
    }
    .puchase-from-title,
    .additional-seller-title {
        background: $lightPutty;                    
        padding: 7px 16px 5px 16px;
        h2 {
            color: $xDarkPutty;
        }
    }
    .additional-seller-title.kiosk-cp{
        display: none;
    }
    span.stock-message.oo-stock{
        display:none;
    }
    .stockMessageWrapper{
        display:block;
        margin-bottom:14px;
    }
    .preNDOCall {
        min-height: 100px;
        position:relative;
    }
}
.eventMessaging {
    .countdown span, .prominent {
        color: $basketOrange;
        font-weight: bold;
    }
    .message-1 p {
        font-weight: bold;
    }
    p {
        margin: 0;
    }
}
.eventMessaging.asynContainer .content{
	div p {
		font-size:1em;
	}
	p span {
		font-weight:bold;
	}
} 
.buy-from .seller .details .services>.content,
.buy-from .other-sellers .seller .details .services>.content{
	padding: 8px 0;
}
.buy-from .other-sellers .details .services li{
	width: 100%;
	font-size: 1em;
	word-wrap: normal;
}
.buy-from .options .offers .productPromotionsContent{
    padding-bottom:8px;
    .product-promo{
        width:100%;
        display:table;
        padding:5px 0;

        .promoDescription{
            display:table-cell;
            vertical-align: top;
            padding:0;
            width:100%;
            height:auto;
            position:inherit;
            @include box-shadow(none);
            border: none;

            a{
                display:block;
                overflow:hidden;
                font-size:14px;
            }
            p{
                display:none !important;
            }
        }
    }
}

#bbSeller1 .offers {
    display:none;
}

.buy-from .promotion-icon {
    display:none;
}

body.kiosk-recommender{
    background: none;
    .product-carousel.streamline-basket-carousel{
        .products-header{
            padding: 0;
            margin: 0;
            border: none;
        }
        ul.products{
            >li{
                width: 15.67%;
                .product{
                    border: none;
                }
            }
        }
    }
}

.js {
    .buy-from {
        position: relative;
        overflow: hidden;
        &.buyFromLoaded {
            overflow: visible;
        }
        .buttons {
            .quantity-errMsg {
                display: none;
            }
        }
        .loader {
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
} 

.stockAvailability {
  	border-top: 1px solid #f3f1ed;
	padding: 16px 16px 4px 16px;;
	vertical-align: middle;
	background-color: #fff;
	text-align: left;
	font-size:14px;
	font-style:normal;
	color:$xDarkPutty;	
	@include tescoFont;
	overflow:hidden;
	
	
	#checkStock{
		position: relative;
		display: block;
		padding-bottom: 5px;
		color: #00a1e0 !important;
		
		&:after{
			width: 12px;
			height: 13px;
			content: '2';
			position: absolute;
			right: 0px;
			top: -5px;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;
			font-family: 'Tesco Icons';
		}
		&.open{
			&:after{
				content: '1';
				margin-top: 5px;
			}
		}
	}
			
  	#pcFieldWrapper {
  		display: none;
  		label{
  			font-weight: bold;
  			padding-bottom: 3px;
  			display: block;
  		}
  		.fieldWrapper{
  			padding-top:5px;
  		}
  		#store-check-postcode{
  			width: 180px;
  			font-size: 12px;
  			height: 45px;
  			text-align: left;
  			color: #645945;
  			display: inline;
  			background-color: #fff;
  		}
  		#stockSubmit, #stockSubmit:disabled{
  			background-color:$color-title;
  			border: none;
			float:right;
			color:$btnPrimaryTextColor;
			cursor:pointer;
			font-size: 16px;
    		padding: 0 13px;
    		border-radius: 0 !important;
  			-webkit-border-radius: 0 !important;
  			-webkit-appearance: none !important;
  		}
  		#stockCheckForm span.error
		{
  			background: #fff2f2;
  			padding: 5px;
  			border: 1px solid #ee1c2e;
  			width: 180px;
  			display: inline-block;
  			border-bottom: 0;
  			font-size: 13px;
		}
  	}
}

.storeDetailsOverlay{
	text-align: left;
    font-style: normal;
    position: absolute;
    left:0;
    right:0;
    margin-left: auto !important;
    margin-right:auto !important;
 	@include inputStyles;
    
    input:-webkit-autofill {
    	-webkit-box-shadow: 0 0 0 1000px #fff inset;
	}
	
	#stockMapDetails {
		  width: 392px;
  		  float: right;
          height: 337px;
          position: absolute;
          top: 32px;
          right:32px;
	}
	
	#mapContainer{
		width:100%;
		height:100%;
		.Infobox{
			width: 190px !important;
			height:50px !important;
			border: 1px solid #363636!important;
			.infobox-info {
				font-family: "Helvetica",Arial,sans-serif !important;
    			font-size: 10px !important;
    			line-height: 11px;
    			text-transform: capitalize;
    			font-weight: bold;
    			color: #353535;
    			word-wrap: break-word;
    			width: 180px;
    			span {
    				display:none;
				}
			}
			.infobox-stalk {
				top:49px !important;
			}
			.infobox-close {
				right: 1px;
			}
		}
	}
  	
  	#stockForm{
		width: 568px;
		
		#stockCheckFormOverlay{
			padding-bottom: 5px;
		}		
		.fieldWrapper { 
			label {
				padding-bottom: 5px;
    			display: inline-block;
    			font-size: 16px;
  				color: #645945;
  				font-family: Arial;
			}
			#store-check-postcode1 {
				width: 432px;
				height: 50px;
				margin-right:8px;
	  			font-size: 18px;
  				text-align: left;
  				color: #645945;
  				display: inline;
  				background-color: #fff;
			}
			#overlayStockSubmit{
  				background-color:$color-title;
  				border: none;
				float:right;
				color:$btnPrimaryTextColor;
				cursor:pointer;
				width:128px;
				height: 50px;
				font-size: 16px;
				padding: 0 10px;
				border-radius: 0 !important;
  				-webkit-border-radius: 0 !important;
  				-webkit-appearance: none !important;
  			}
  			span.error
			{
  				background: #fff2f2;
  				padding: 5px;
  				border: 1px solid #ee1c2e;
  				width: 76%;
  				display: inline-block;
  				border-bottom: 0;
  				font-size: 13px;
			}
		}
	} 
	.no-stock {
		font-size: 16px;
		font-family: Arial;
		line-height: 22px;
	}
	
	#storesArray{
		width: 568px;
		height: 322px;
    	overflow-y: auto;
    	
    	.highlightStore{
    		background: #e5f5fc;
    	}
    	#coordinates {
    		display:none;
    	}
    	#timings {
    		display:none;
    	}
		li:first-child {
			border-top: 1px solid $pagePutty;
		}
		
		li.storeDetails{
			height: 64px;
			padding-top: 16px;
			padding-left: 8px;
			padding-right: 8px;
			border-bottom: 1px solid $pagePutty;
			
			.storeEstimateInfo{
				display:none;
			}
			
			a{
				text-decoration: none;
				display: inline-block;
				&:hover, &:active {
					text-decoration: none;
				}
			}
			 a.reserveNow{    
			 	float: right;
    			clear: right;
    			font-size: 12px;
    			padding-top: 5px;
    			
    			 &:after{
	                width: 12px;
	                height: 13px;
	                content: 'r';
	                position: relative;
	                right: 0px;
	                left:-1px;
	                bottom: 0;
	                margin-top: auto;
	                margin-bottom: auto;
	                font-family: 'Tesco Icons';
	                font-size: 9px;
		        }
    		}
    		a.reserveNow:hover{
    			text-decoration:underline;
    		}
    		
    		.disabledReserve{
    			display:none !important;
    		
    		}
    		span:nth-child(1){
			    display:none;
			} 
			.infoClose, .storeInfo {
				display: none;
			}
			.storeIndex{
				height: 20px;
				width:20px;
    			font-size: 16px;
    			color: #615a46;
    			display: inline-block;
    			text-align: center;
    			font-weight: bold;
			}
			.selectedStoreIndex{
				padding-top: 3px;
    			border-radius: 12px;
    			background-color: #00a1e0;
    			color: #FFF;
    			padding-left: 6px;
			}
			.inStock{
				@include stockStatus;
				@include statusProp(#05ae20);
				margin-top: -5px;
			}
			.outOfStock{
				@include stockStatus;
				@include statusProp(#cc262a);
				margin-top:2px;
			}
			.lowStock{
				@include stockStatus;
				@include statusProp(#f26322);
				margin-top: -5px;
			}
			.noStock{
				@include stockStatus;
				@include statusProp(#cc262a);
				margin-top:2px;
			}
			.storeDistance{
				padding-left: 32px;
				font-size: 14px;
				color: #615a46;
    			display: inline-block;
    			font-weight: bold;
    			span {
    				display:none;
				}
			}
			.storeName{
				font-size: 16px;
				color: #615a46;
				text-align: left;
				font-style: normal;
				padding-left: 10px;
				font-weight: bold;
			}
			.selectedStore {
				font-size: 12px;
				color: #FFF;
				text-align: center;
				font-style: normal;
				padding-top: 3px;
				border-radius: 12px;
				background-color: #00a1e0;
				padding-right: 1px;
			}
			
			
		}
	}
	
  
	.moreStoreLinkHolder {
		padding:10px;
		text-align: center;
    	font-size: 12px;
    	a {
    		text-decoration: none;
    		font-size: 18px;
    		display: inline-block;
    		width: 432px;
    		line-height: 50px;
    	}
    	a.moreStoreLink {
    		color: #FFF;
    		background: #00a1e0;
    		
    	}
    	a.moreStoreLinkDisabled {
    		background-color: #e5e2d9;
    		color: #FFF;
    		cursor: default;
    	}
	}
	.loadingBar {
		height: 70px;
		background: url("../images/ajax-loader.gif") no-repeat 50% 10px;
	}
	
	.stockStoreInfo {
		position: absolute;
    	top: 360px;
    	right: 32px;
    	width: 392px;
    	padding-top: 40px;
    	font-size: 12px;
    	color:#615a46;
    	line-height: 12px;
    	.addressCont {
    		width: 168px;
    		padding-top: 0px;
    		vertical-align: top;
    		line-height: 15px;
    		 h4{
			    	display:none;
			    }
    	}
    	.day {
    		padding: 2px;
    	}
    	.storeTIme {
    		text-align: right;
    	}
    	.tableIndex {
    		width: 20px;
    		height: 20px;
    		display: inline-block;
    		font-size: 12px;
			color: #FFF;
			text-align: center;
			font-style: normal;
			padding-top: 4px;
			border-radius: 12px;
			background-color: #00a1e0;
			padding-right: 1px;
			position: absolute;
			top: 20px;
    	}
	}
	
		
}
#nearestStore{
	font-size: 12px;
 	padding-bottom: 15px;
    border-bottom: 1px solid $primaryBorderColor;
    margin-bottom: 10px;
	.infoClose, .storeIndex  {
		display: none;
	}
	.storeName {
		width: 190px;
		display: inline-block;
		word-wrap: break-word;
		color:#00a1e0;
		line-height:15px;
	}
	#storeValue {
		font-weight:bold;
	}
	span:nth-child(1) {
		color:$xDarkPutty;
		font-size:14px;
		display:block;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.inStock{
			@include stockStatus;
			border: 1px solid #05ae20;
			color: #05ae20;
			margin-top: -14px;
		}
		.outOfStock{
			@include stockStatus;
			border: 1px solid #cc262a;
			color: #cc262a;
			margin-top: -14px;
		}
		.lowStock{
			@include stockStatus;
			border: 1px solid #f26322;
			color: #f26322;
			margin-top: -14px;
		}
		.noStock{
			@include stockStatus;
			border: 1px solid #cc262a;
			color: #cc262a;
			margin-top: -14px;
		}
		.storeDistance{
			font-size: 12px;
			color: #615a46;
   			display: inline-block;
   			font-weight:bold;
   			span {
   				font-weight:normal;
   				display:inline-block;
			}
		}	
		.storeInfo {
			display:none;
		}
}

.other-sellers {
	.stockAvailability {
		margin-top: 32px;
		padding: 16px 0 4px 0;
		overflow:hidden;
	}	
}
#lightbox.subsequent{
	transition: none !important;
}
#page-container input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

#stock-reservation-section {
    background-color: #FFF;
    padding: 24px;
    #reserveGuidelines {
    	color:#645946;
    	text-align: left;
    	font-family: Arial;
    	
    	h2 {
    		font-family: Arial;
    		color:#645946;
    	}
    	ol {
    		line-height: 30px;
    		font-size: 16px;
    		margin-top: 8px;
    		list-style-type: decimal;
    		padding-left: 24px;
    	}
    	p {
    		font-size: 18px;
    		padding-bottom: 26px;
    	}
    }
    p.collectionHeader{
    	display: inline-block;
    	margin-left: 64px;
    	padding-bottom: 10px;
    	margin-bottom: 0px;
    	font-size: 16px;
    }
    p.reservingHeader{
    	display: inline-block;
    	padding-bottom: 10px;
    	margin-bottom: 0px;
    	font-size: 16px;
    	width:582px;
    }
    .reservedProduct {
    	float: left;
    	width: 582px;
    	height: 216px;
    	padding-top: 32px;
    	padding-bottom: 32px;
    	overflow: hidden;
    	border: 1px solid #f3f1ed;
    	border-left:0; 
    	border-right:0;
    	
    	.collectionItemContainer{
    		overflow:hidden;
    	}
    	.collectionItemImageContainer {
    		float:left;
    		margin-right: 20px;
    		
    		img {
    			width:150px;
    			height:150px;
    		}
    	}
    	.collectionItemDetail {
    		padding-right: 128px;
    		margin-top: 32px;
    		
    		.collectionItemDescription {
    			/*line-height: 21px;*/
    			font-size: 16px;
    			font-family: arial;
    		}
    		.collectionItemPrice {
    			font-size:24px;
    			font-weight:bold;
    		}
    	}
    }
    .collectionStore {
		float: left;
		margin-left:64px;
		width: 416px;
		border: 1px solid #f3f1ed;
    	border-left: 0;
    	border-right: 0;
    	padding-top: 14px;
    	color:#615a46;
    	height: 217px;
    	
    	.storeName {
    	    padding-bottom: 14px;
    		display: inline-block;
    		font-size: 16px;
    	}
    	
    	.storeInfo{
    		display:none;
    	}
    	table.storeAddress td {
    		vertical-align: top;
    		text-align: left;
    		font-size: 12px;
    		color: #615a46
    	}
    	
    	table.storeAddress{
    		thead{
			    width: 100%;
			    text-align: left;
    			font-size: 12px;
    		}
    	
    	}
    	table.storeAddress td.storeTime {
    		text-align: right;
    	}
    	td a.viewStoreMap {
    		display: inline-block;
    		padding-bottom: 50px !important;
    		font-size:16px;
    		color:#0076a4;
    	}
    }
    .clearBoth{
    	clear:both;
	}
	.storeDetailsHolder {
		position: absolute;
    	top: 407px;
    	border: 1px solid red;
    	left: 758px;
    	height: 350px;
    	width: 350px;
    	background-color: #FFF;
    	box-shadow: 0 0 10px rgba(0,0,0,0.3);
    	border: 1px solid #848282;
    	display:none;
    	&:after{
    		content: '';
    		background: url(../img/checkout-tooltip-arrow.png) no-repeat center center;
    		width: 15px;
    		height: 29px;
    		position: absolute;
    		left: -15px;
    		top: 161px;
    	}
    	
    	#lat, #lon {
    		display:none;
    	}
    	
    	.storeMapHolder {
    		position: absolute;
    		top: 36px;
    		overflow: hidden;
    		height: 261px;
    		width: 348px;
    	}
    	.store-name{
    		padding-left:10px;
    		font-weight: bold;
    	}
    	
    	.close {
    		position: absolute;
    		display: block;
    		cursor: pointer;
    		width: 30px;
    		height: 30px;
    		right: -15px;
    		top: -15px;
    		overflow: hidden;
    		border-radius: 15px;
    		text-decoration: none;
    		background-color: #a69f88;
    		color: #fff;
    		font-size: 1.2em;
    		z-index: 1;
        }
    	.close:before {
    		width: 100%;
    		overflow: hidden;
    		display: block;
    		height: 100%;
    		text-align: center;
    		line-height: 30px;
    	}
	}
	.personalDetails {
    	padding:15px;
    	.informationMsg{
			display:none;
		}
    	
    	
    	#personalDetailsForm {
    		width:400px;
    		input[type=text], input[type=email], input[type=tel] {
    			width:400px;
    		}
    		
    		label {
    			font-size: 16px;
    			padding-top: 10px;
    			display: block;
    		}
    		#reserve-now {
    		    margin-top: 15px;
    			width: 175px;
    			height: 48px;
    			padding-left: 32px;
    			padding-right: 32px;
    			background-color: #00a1e0;
    			border: 0;
    			color: #FFF;
    			font-size: 18px;
    			display: block;
    			cursor:pointer;
    			-webkit-border-radius: 0 !important;
			  	-webkit-appearance: none!important;
    		}
    		span.error {
    			border: 1px solid #ee1c2e;
    			background-color: #fff2f2;
    			padding:5px;
    		}
    		.hintMessage {
    			display: none;
    			    position: absolute;
    				left: 450px;
    				bottom: 151px;
    				border: 1px solid #645946;
    				width: 266px;
    				padding: 14px;
    				line-height:21px;
    				color: #645946;
    				font-size:14px;
    				margin-left:24px;
    				&:after{
			    			content: '';
    						background: url(../img/checkout-tooltip-arrow.png) no-repeat center center;
	    					width: 15px;
    						height: 29px;
    						position: absolute;
    						left:-15px;
    						bottom: 32px;
    				}
    		}
    		input[type=text]:focus ~ .hintMessage, input[type=email]:focus ~ .hintMessage, input[type=tel]:focus ~ .hintMessage {
    			display: block;
    		}
    	}
    }
   .confirmationParent {
    	background-color: #f0faec !important;
    	margin-top: 4%;
    	width: 92%;
    	height: 161px;
    	margin-bottom: 90px;
	    
	    .reservedTick {
	    		float: left;
	    		text-align: left;
	    		margin-lefT: 55px;
    			padding-top: 32px;
	    		font-size: 26px;
	    		color:#64a70b;
	    		padding-bottom:20px;
	    		overflow: hidden;
	    		
	    		span {
	    			display: inline-block;
	    			color: #64a70b;
	    			font-size: 24px;
	    		}
        
	    		.thankYouMark{
	    			font-size:18px !important;
	    		}
	    	}
	    	.otherReserveText {
			    padding-top: 30px;
			    float: right;
			    margin-right: 36px;
			    width: 36%;
			    p{
			    	font-size: 14px;
			    }
			}
	    	.reserveNoteText {
	    	    clear: both;
			    margin-left: 16px;
			    padding-top: 30px;
			    font-size: 12px;
			    position: absolut
	    	}
    }
	
}

.stockService .storeLoader {
	background: url("../images/ajax-loader.gif") 46% 38px no-repeat #FFF;
	position: relative;
    overflow: hidden;
    top: -94px;
    height: 90px;
    font-size: 14px;
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    padding-top: 14px;
}


