//seller-store-front module - mixins

$logo-width: 100%;

@mixin sellerStore {
  .seller-store-front {
    margin: 0 8px;
    
    .products-header h2 {
      float: left;
      margin-top: 8px;
    }
    
    .view-all {
      float: right;
      @include newButton;
      @include tertiaryButtonColoring;
      width: auto;
      padding: 8px 16px;
    }
    
    .product-carousel {
      
      h2 {
        margin-left: 0;
      }
    }
    
     .seller-logo {
       width: $logo-width;
       margin-bottom: 8px;
     }
     
     .seller-information {
       @include boxAndShadow;
       border-top: 2px solid #3e3e3f;
       margin-bottom: 16px;
     }
     
     .seller-information {
     
      a {
        display: block;
        font-size: 1.4em;
         
        &:hover {
          text-decoration: none;
        }
      }
      
      .back-to-seller {
        margin: 0;
        padding-left: 4px;
        padding-top: 0;
        
        &:before {
          font-family: 'Tesco Icons';
          content: 'g';
          padding-right: 8px;
        }
      }
    }
    
    #shop-by-brand {
      
      li {
        
        .product {
         padding: 0; 
        }
        
        img {
          width: 100%;
        }    
      }
    }
    
    .featured,
    .promotional {
      clear: both;
    }
  }
}


@mixin verticalSellerLinks {
  .seller-information {
     
    a {
      padding: 8px 0;
      margin: 0 8px;
    }
    
    .back-to-seller {
      border-bottom: 1px solid #3e3e3f;
    }
  }
   
   .seller-links {
     
     li {
        border-top: 1px solid #bfbdbd;
        
        &:first-child {
          border-top: none;
        }
     }
   }
}


@mixin horizontalSellerLinks {
  .seller-information {
    float: left;
    
    .back-to-seller {
      display: none;
    }
    
    li {
      display: inline-block;
      border-left: 1px solid #bfbdbd;
      margin: 8px 0;
      padding: 0 8px;
      
      &:first-child {
        border-left: none;
      }
    }
  }
}


@mixin featuredProductsToShow($featuredNoToShow) {
  .featured {
    
    .products {
      
      li {
        display: none;
        
        &:first-child {
          display: block;
              
          @if $featuredNoToShow == 2 {
            & + li {
              display: block;
            }
          }
          
          @if $featuredNoToShow == 3 {
             & + li {
              display: block;
            }
            
            & + li + li {
              display: block;
            }
          }
        }
      }
    }
  }
}
