//seller-store-front module - large desktop
@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "seller-store-front-mixins";

$logo-width: 75%;

@include sellerStore;

.seller-store-front {

  @include verticalSellerLinks;
  
  @include featuredProductsToShow(3);
  
  .seller-logo {
    float: left;
  }
  
  .seller-information {
    float: right;
    width: 24%;
    clear: none;
    padding-top: 0;
    
    .back-to-seller {
      display: none;
    }
  }
 
}