//every-little-helps-stamps module - mobile
@import "../../components/breakpoints";
@include breakpoint(mobile);
@import "../mixins/every-little-helps-stamps-mixins";

.homepage, .category {
    .every-little-helps-stamps {

        li:nth-child(n+2) {
            display: block;
        }
    }
}
.every-little-helps-stamps {

	padding: 12px 2.5% 8px 2.5%;
	margin-bottom: 0;
	padding-bottom: 0;
	clear: both;

	li {

		width: 100%;
		height: 80px;
		margin: 0 0 8px 0;
		a {
			padding-right: 15 * $onecol;
		}
    }
}

.category .every-little-helps-stamps {
    padding-left: 0;
    padding-right: 0;
}

.category {
    #main-content {
        .every-little-helps-stamps{
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.page-wide-elh {
    border-bottom: none;
    text-align: left;
    li {
        display: block;
        border-top: 1px solid $border;
        text-transform: none;
        font-size: 18px;
        line-height: 22px;
        a {
            display: block;
            padding: 15px 0px 13px 8px;
            position: relative;
            &:before {
                display: none;
            }
            &:after {
                display: block;
                position: absolute;
                top: 15px;
                right: 22px;
                color: $border;
                font-size: 14px;
                font-family: $tescoIconFont;
                content: 'r';
            }
        }
    }
}
