/*******************************************
*	Mobile Footer module
*******************************************/

@import "../../components/breakpoints";
@include breakpoint(mobile);
@import "../mixins/footer-mixins";


.js #footer {
	.accordion-element .content {
		display: none;
	}
	.accordion-item-active .content  {
		min-height: 0;
		display: block;
	}
}
#footer {

	@include hideSitemap;

	.container-link {
		padding: 0;
		img {
			display: none;
		}
        .logo {
          display: none;
        }
		ul{
			float: none;
			padding-right: 0;
			padding-top: 0;
			li {
				float: none;
				padding-right: 0;
				padding-top: 0;
				a {
					padding: 14px 24px 14px 32px;
					border-bottom: 0;
					@include font-tesco;
					background: #fff;

					&:hover,
					&:active,
					&:focus {
						background: $linkHoverColor;
						 span.text, span.icon {
						 	color: #fff;
						 }


					}
					span {
						color: #fff;
						font-size: 1.3em;
					}
					span.text {
						color: $darkPutty;
						vertical-align: text-top;
						display: inline-block;
						margin-top: 2px;
					}
					span.icon {
						padding-right: 12px;
						color: $putty;
						font-size: 16px;
						position: absolute;
						left: 7px;
						line-height: 1.34em;
					}
					span.icon-cta{
						font-size: 8px;
						padding-right: 0px;
						left: auto;
						display: block;
						color: $lightPutty;
					}
					&:hover,
					&:active,
					&:focus {
						background: $linkHoverColor;
						span {
							color: #ffffff;
						}
					}
				}

			}
		}
 		.need-help {
			display: none;
		}
	}
	.accordion {
		padding-left: 0;
	}
	.accordion-element{
		float: none;
		position: static;
		color: $lightPutty;
		width: 100%;
		margin: 0;
		padding: 0;

		.title-box {
			padding: 0;
			border-bottom: 1px solid $lightPutty;
			cursor: pointer;
			h2 {
				padding: 9px 48px 12px 8px;
				margin-bottom: 0;
				@include font-tesco;
			}
			span.icon {
				font-size: 8px;
				position: absolute;
				right: 24px;
				top: 11px;
				color: #fff;
				display: block;
			}
			&:hover {
			background: $tescoBrightBlue;
			border-bottom-color: #fff;
			}
		}
		.content {
			-moz-transition: min-height .5s;
			-webkit-transition: min-height .5s;
			-ms-transition: min-height .5s;
			-o-transition: min-height .5s;
			transition: min-height .5s;
			border-bottom: 1px solid $lightPutty;
			padding-right:0px;
			ul {
				padding: 0;
				width: 100%;
				li {
					width: 100%;
					padding: 0;
					font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
					border-top: none;
					&:first-child {
						border-top: none;
					}
					a {
						padding: 10px 0 10px 8px;
						display: block;
						text-decoration: none;
						border: none;
						&:hover {
							color: #fff;
							background: $linkHoverColor;
						}
						span {
							border-bottom: none;
							&.icon {
								font-size: 10px;
								padding-bottom: 2px;
								padding-left: 5px;
								line-height: 18px;
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
	.panel-bottom {
		padding: 20px 0 20px 26px;
	}
}

@include logo-panel-mobile-tablet;
	.panel-logo-all {
		padding-left: 8px;
	}


// secure footer
#footer {
	.panel-bottom.secure {
		float: left;
		clear: both;
		margin-top: 0;
		.icon-every-little {
			float: left;
		}
	}
}
