
$colWidthLeft: 128px;
$colWidthLeftWithSpace: 143px;

@mixin inline-form-fields {
	fieldset {
		width: 428px;
	}
	.checkbox-wrapper {
		span.error {
			margin-left: 0;
		}
		label {
			width: auto;
			display: inline;
			float: none;
			padding: 0;
			margin: 0;
			line-height: 24px;
		}
	}
	label {
		width: $colWidthLeft;
		float: left;
		margin: 0 -#{$colWidthLeft} 0 0;
		padding: 14px 0;
		text-align: right;
	}
	input,
	select,
	.customDropdown {
		margin-left: $colWidthLeftWithSpace;
		
		.my-account-form & {
            margin-left: 0;
        }
	}
	input[type=submit] {
		width: auto;
		margin-top: 24px;
		float: right;
		margin-left: 0;
	}
	span.error {
		margin-left: $colWidthLeftWithSpace;
	}
	.field-note {
		clear: both;
		margin-left: $colWidthLeftWithSpace;
	}
	.disabled label {
		padding: 0;
	}
}

@mixin custom-radio($borderColor, $marginTop, $marginBottom) {
    .custom-radio {    
        cursor: pointer;
        display: inline-block;
        background: #fff;
        width: 22px;
        height: 22px;
        border: 1px solid $borderColor;
        border-radius: 22px;
        position: relative;                
        margin: $marginTop 8px $marginBottom 0;        

        &.checked:after {
            width: 12px;
            height: 12px;
            content: ' ';
            background: $positiveGreen;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 12px;
        }

        input {
            display: none;
        }
    }
}

@mixin errorMessages($position: absolute, $top: -7px) {
    position: $position;
    top: $top;
    background: $errorLabelBackground;
    padding: 5px;
    border: 1px solid $tescoRed;
    width: 100%;
}