/*******************************************
*	Mobile Example module
*******************************************/

@import "../../../core/components/breakpoints";
@include breakpoint(mobile);
@import "../mixins/popular-searches-mixins";

#popular-searches {
	margin-top: 16px;
	max-height: 60px;
	overflow: hidden;

	.social-media {
		display: none;
	}

	.popular-search-list {
		width: 100%;
	}

	ul{
		li {
			@include tag;
			a{
				font-size: 1em;
			}
		}
	}
}
