/*******************************************
*	Mobile Pro module
*******************************************/
@import "../../../core/components/breakpoints";
@import "../../../core/components/variables";
@include breakpoint(mobile);
@import "../mixins/product-filters-mixins";

@include small-layout;

@include filter-action-s-m;
@include overlay-filter-s-m-l-xl;

.filter-side {
  margin: 0;
}

.filter-overlay_active {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1200;
  width: 100%;
  height: 100%;
  .filter-filterGroup_active{
  	.filter-filterOptionList {
  		max-height:auto;
		height: initial;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		transition: max-height .4s;
  	}
  }
  .filter-filterOptionList {
		height: initial;
		max-height:0px;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		transition: max-height .4s;
  }
  &.filter-overlay {
    background-color: #fff;
  }

  .filter-filterList {
    display: block;
    padding: 53px 0 83px 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .filter-filterListWrap {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  .filter-activeLabel {
	display: block;
    padding: 10px 0px 10px 16px;
  }
  .filter-controls {
    display: none;
  }
  .filter-footer {
    display: block;
    position: fixed;
    bottom: 0;
    padding: 8px;
    border-top: 1px solid $inactivePutty;
    width: 100%;
    height: 80px;
    text-align: center;
    z-index: 10;
  }
  .filter-footerApply {
    @include primaryButton;
    width: 300px;
    display: inline-block;
  }
  .filter-activeList {
    padding: 0;
    margin: 0;
    border-width: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
  }
  .filter-activeClose {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    &:after {
      font-family: 'Tesco Icons';
      content: "y";
      speak: none;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
      margin-left: 10px;
      position: absolute;
      left: 10px;
    }
    .no-touch &:hover {
      &:after {
        color: $tescoBrightBlue;
      }
    }
  }
  .filter-activeClearAll {
    display: none;
  }
  .filter-activeItem {
    display: none;
  }
  .filter-productCount {
    padding: 20px;
    display: inline-block;
    background-color: $putty;
    color: #fff;
  }

  .filter-filterGroup {
    margin-top: 0px;
  }

.filter-filterGroupLabel {
    padding: 19px 80px 20px 16px;
    border-bottom: 2px solid #f3f1ed;

    &:after {
      top: 21px;
    }
  }
  @include category-label-s-ll;

  .filter-filterOption {
    padding: 15px 48px 17px 46px;
    font-family: Arial;
    &:after {
      top: 13px;
      background-color: #FFF;
    }


  }
  .filter-filterOptionCount {
    color: #a69f88;
  }

}

.filter-filterOption.filter-filterOption_active {
  background-color: $positiveGreen;
  color: #FFF !important;
 &:after {
    color: $positiveGreen;
    background-color: #FFF;
    border-color: #FFF;
  }

}

#product-filter-actions {
  .sort {
    span {
      display: none;
    }

    a.control {
      line-height: initial;
    }
  }

  .refine, .sort {
    display: block;
    width: auto;
    margin: 0;
    a {
      text-align: center;
    }
  }
}

.filter-activeList_disabled .filter-activeList {
  padding: 0;
  border-bottom-width: 0;
}

.filter-activeClearAll_disabled {
  display: none;
}

.filter-filterOption {
  border-bottom: 1px solid $pagePutty;
}

.filter-filterGroup_active {
  .filter-filterOptionList {
    height: auto;
  }
}

.filter-warningWrap {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.filter-warningHeader {
  padding: 15px;
}

.filter-warningBody {
  padding: 15px;
  p {
    margin: 0px 0 40px 0;
  }
}
.filter-overlayWaiting {
  background-image: url($ajaxLoaderSrc);
  .filter-overlayText {
    font-size: 18px;
  }
}
#frmTest{
	#product-filter-actions{
		li.sort{
			margin-top: 14px;
		}
	}
}
.filter-overlay_active{
	.filter-filterOption{
		color: $xDarkPutty;
	  	text-decoration: none;
	}
	&:hover{
		color: $white !important;
	}
	.filter-filterOption_active:hover{
		color: $white !important;
	}
}


.filter-filterGroup{
	.filter-filterOption:hover{
		&:not(.filter-filterOption_disabled){
			color: $white !important;
			background-color: $tescoBrightBlue !important;
			text-decoration: none !important;
			.filter-filterOptionCount {
	          color: #fff;
	        }
		}
	}
}


/* New PLP designs */

.filter-side.lhnV2 {
	.filter-overlay_active {
		.filter-activeLabel {
			background-color: #fff;
	    	color: #333;
	    	padding: 20px 0 20px 10px;
	    	font-size: 30px;
		}
		.filter-filterListWrap{
			&::-webkit-scrollbar {
			    width: 6px;
			    background-color: #ccc;
			}
			&::-webkit-scrollbar-thumb {
			    border-radius: 10px;
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
			}
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				border-radius: 10px;
				background-color: #fff;
			}
		}
		.filter-activeClose {
			height: 44px;
		    width: 44px;
		    color: #fff;
		    background-color: #666;
			&:after{
				font-size: 24px;
			    left: 1px;
			    top: 9px;
			}
		}
		.filter-filterList{
			padding-top: 72px;
		}
		.filter-filterGroupLabel{
			border-bottom: 1px solid #ccc;
			padding: 16px 80px 16px 10px;
			font-size: 16px;
			color: #666;
			&:after{
				content: "a";
				font-size: 16px;
			}
		}
		.filter-filterGroup_active{
			.filter-filterGroupLabel{
				border-bottom: none;
		    	font-weight: bold;
				&:after{
					content: "c";
					font-size: 16px;
				}
			}
		}
		.filter-filterOption{
			border-bottom: none;
	    	font-size: 16px;
            color: #666;
	    	padding: 10px 48px 10px 42px;

			&:after{
				top: 5px;
			    left: 10px;
			    background-color: #FFF;
			    width: 24px;
			    height: 24px;
			    border: 1px solid #999;
			    border-radius: 4px;
			}
			&.filter-filterOption_active{
			    background-color: #fff;
				color: #666 !important;
	    		font-weight: bold;
				&:hover{
					color: #666;
				}
				&:after{
					color: #fff;
			    	background-color: #008DC8;
			    	border: 1px solid #008DC8;
					width: 24px;
					height: 24px;
					line-height: 25px;
				}
			}
		}
		.filter-filterGroup{
			.filter-filterGroupLabel.filter-filterGroupLabel_selected{
				padding-left: 22px;
				&:before{
					left: 10px;
					background-color: #008DC8;
				}
				.filter-filterOptionCount{
					display: block;
				}
			}
			.filter-filterOption:hover:not(.filter-filterOption_disabled){
				color: #666 !important;
				background-color: #fff !important;
				.filter-filterOptionCount{
					color: #a69f88;
				}
			}
		}
	}
	.filter-footer{
		padding: 16px 10px;
		box-shadow: none !important;

		.filter-footerApply{
			border-radius: 4px;
		    border: 1px solid #00539f;
		    background-color: #fff;
		    padding: 14px 0px;
		    text-align: center;
		    height: 44px;
		    font-weight: bold;
		    font-size: 16px;
		    color: #00539F;
		    &:hover {
				background-color: #00539F;
				color: #fff;
	    	}
		}
	}
}
.no-touch .lhnV2{
	.filter-filterGroupLabel{
		&:hover{
			color: #008DC8;
			background-color: #fff !important;
			&:after{
				color: #008DC8;
			}
		}
	}
}


/*******************************************
*	New PLP
*******************************************/

.filter-side.lhnV2 {
	margin: 0px;

	.filter-categoryItem{
		padding: 16px 10px 16px 0px;
		border-width: 0px 0px 1px 0px;
		margin: 0px 10px 0px 10px;
		width: calc(100% - 20px);
		border-bottom: 1px solid #ccc;
	}

	.filter-categoryLabel{
		border-bottom: 1px solid #ccc;
		border-top: 0px;
		margin: 0px 10px;
		padding-left: 0px;
	}

	.filter-controls {
		font-size: 22px;
	    line-height: 26px;
	    color: #333;
		padding-left: 10px;
	}

	.filter-activeList {
		padding-left: 10px;
	}

	.filter-activeItem {
		  width: 100%;
		  padding: 14px 139px 14px 10px;
		  margin: 0px 0px 8px 0;
	}

	.filter-activeClearAll {
		padding: 14px 44px 14px 10px;
	    font-family: Tesco;
	    font-weight: normal;
		color: #00539f !important;
	    font-size: 16px;
	    border-color: #00539F !important;
	    border-radius: 4px;
    	line-height: 16px;
		width: 100%;

		&:after{
			color: #00539f !important;
			font-size: 8px;
			border: 1px solid #00539f;
		    border-radius: 10px;
		    padding: 0px 4px;
		}
	}
}

.plp_sortbyV2#frmTest {
	#product-filter-actions {
		padding: 15px 10px;
		.refine {
			a {
				color: #00539f !important;
			    background-color: #fff !important;
			    border-color: #00539f !important;
			    border-radius: 4px !important;
			    padding: 14px 0 !important;
			    font-size: 16px !important;
			    font-weight: bold;
			    line-height: 16px !important;
				top: 35px;

				.filter-filterApplied {
					background-color: #00539F !important;
				    height: 12px !important;
				    width: 12px !important;
				    border-radius: 10px !important;
				}
			}
		}

		.sort {
			.sortByLabel {
				display: block;
			    padding: 3px;
			    font-size: 16px;
			    text-align: left;
			}
			.control {
			    border-radius: 4px !important;
				padding: 14px !important;
			    padding-left: 10px;
			    font-size: 16px !important;
			    font-weight: normal;
			    line-height: 16px !important;
			    background-color: #FFF !important;
			    color: $darkPutty !important;
			    border: 1px solid $lightPutty !important;
			    &:active, &:focus, &:hover {
			      color: $tescoBrightBlue !important;
			      border: 1px solid $tescoBrightBlue !important;
			    }
			}
		}
	}
}


.collapsible-categories {
	.filter-categoryList {
		margin-bottom:0
	}
	.filter-categoryLabel {
	  &:after {
	    top: 13px;
	  }
	}
}
