//order-confirmation module - mobile
@import "../breakpoints";
@include breakpoint(mobile);
@import "order-confirmation-mixins";

@include order-confirmation-mobile;

#order-confirmation-header {
	.page-title {
		margin-left: 10px !important;
	}
	.actions {
		width:100%;
	}
	.sign-out,
	.continue {
		width: 100%;
		margin-right: 10px;
		float: none;
	}
}

#order-confirmation-header,
#order-confirmation-footer,
#order-confirmation-details {
	margin-right: 8px;
	margin-left: 8px;
}

#order-confirmation-header {
	.actions {
		margin-bottom: 16px;
	}
	// delivery note is not displayed in order confirmation header for mobile (appears at base of payment summary)
	p.delivery-note {
		display: none;
	}
}

#order-confirmation-header,
#order-confirmation-footer {
	.actions {
		a.continue {
			margin-bottom: 8px;
		}
	}
}

#payment-summary,
#order-summary {
	width: auto;
	float: none;
	margin-right: 0;
}

#payment-summary {
	// to ensure the JS doesn't override
	// mobile should have the payment summary stacked in single column
	position: static !important;
	bottom: auto !important;
	right: auto !important;
	top: auto !important;
	margin-bottom: 8px;

	h2 {
		margin: 0;
		padding: 12px 8px 8px;
		border-bottom: 2px solid $midDarkGrey;
	}

	.items-delivery-wrapper {
		margin: 0;
		padding: 20px 8px;
	}

	.savings-wrapper {
		padding: 16px 8px;
	}

	.total-wrapper {
		margin: 0;
		padding: 16px 8px;
		border-bottom: 1px solid #d9d7d7;
		h3 {
			margin: 8px -8px 16px;
			padding: 0 8px 16px;
		}
	}
	
	.fuel-save-wrapper {
		padding: 16px 8px;
	}

	// delivery note is displayed in payment summary for mobile only
	p.delivery-note {
		display: block;
		color: #848282;
		margin-bottom: 16px;
		padding: 0 8px;
		font-size: 1.2em;
		strong {
			color: #3e3e3f;
		}
	}
}

#order-summary {
	.delivery-group-block {
		padding: 12px 8px 0;
	}
}

#price-promise,
#blinkbox {
	padding: 16px 8px;
}

#blinkbox {
	.inner {
		padding: 0 8px 0;
	}
}

#order-summary {
    .dg-items-pt {
        word-wrap: break-word;
    }

    .delivery-group-block {
    	.delivery-group-items {
    		.giftMessageContainer {
    			width: 100%;
    			.uiGiftMessage {
    				.personalGiftMessage {
    					width: 270px;
						font-size: 12px;
    				}
    			}
    			.price-container {
    				float: right;
    			}
    		}
    	}
    }
}

#order-confirmation-footer {
	div.print {
		float: none;
		a {
			padding-left: 0;
		}
	}
}

#order-confirmation-ad {
	
	&:after {
		@include clear-fix;
	}
	margin-left: 8px;
	margin-right: 8px;
	
	.google-ads-block {
		margin: 10px 0;
		width: 100%;
	}

	.adslot {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
}

#virtual-page.fuel-save-vp {
	padding:15px;
	background:#e6eaf0;
	
	.back {
		border-top:1px solid $primaryBorderColor;
		border-left:1px solid $primaryBorderColor;
		
		&:first-child {
			border-top: 2px solid #222;
		}
		
	}
	
	.content {
		padding:15px;
		background:#fff;
		border-left:1px solid $primaryBorderColor;
	}
		
	h4 {
		margin-top:0;
		font-size:1.4em;
	}
}