//order-confirmation module - large desktop
@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "order-confirmation-mixins";

@include order-confirmation-desktop;

#order-confirmation-header {
	max-width: $desktop-capped-max-width + 16px;
	padding-right: 0;
}

// capped widths of delivery, click and collect, price promise and blink box copy
#order-summary {
	.delivery-group-block {
		.delivery-block {
			div.delivery-type {
				width: 65%;
				> p {
					max-width: $desktop-capped-max-width + 41px;
				}
			}
		}
	}
}

#price-promise {
	> p {
		max-width: $desktop-capped-max-width;
	}
}

#blinkbox {
	.inner {
		> p {
			max-width: $desktop-capped-max-width - 16px;
		}
	}
}