//order-confirmation module - tablet
@import "../breakpoints";
@include breakpoint(allTablet);
@import "order-confirmation-mixins";

@include order-confirmation-mobile;

// increased minimum height to accommodate double line third party supplier names
.my-account #order-summary .delivery-group-block .product-block {
	min-height: 150px;
}
#order-confirmation-header,
#order-confirmation-footer,
#order-confirmation-details {
	margin-left: 1.25%;
	margin-right: 1.25%;
}

#order-confirmation-header,
#order-confirmation-footer {
	p {
		&.delivery-note {
			margin-right: 255px;
		}
	}
	.actions {
		@include order-confirmation-buttons-side-by-side;
	}
}

// margins are percentage based for header, footer and detail
// leave margin unchanged and apply right col space as padding instead
#order-confirmation-footer {
	padding-right: 311px;
}

// all viewports except mobile to display the payment and order summary side-by-side - mobile is stacked
// tablet has no sticky payment summary
#payment-summary {
	@include order-confirmation-box-bordered('thin');
	float: right;
	width: 240px;
	
	.fuel-save-wrapper {
		.fuel-save-breakdown {
			.amount {
				.date, .unit {
					display:block;
				}
				
				.value {
					top:-22px;
				}
			}
		}
	}
}

#order-summary,
#price-promise,
#blinkbox {
	margin-right: 255px;
}

// margins are percentage based for header, footer and detail
// leave margin unchanged and apply right col space as padding instead
#order-confirmation-footer {
	padding-right: 255px;
}

#lightbox.pricePromise {
	margin: 40px 15%;
	width: 70%;
	h2 {
		margin-left: 16px;
		padding: 0;
	}
	p {
		margin-left: 16px;
		margin-right: 16px;
	}
}

#order-confirmation-details {
	span.amount-type {
		display: inline-block;
		width: 160px;
	}
}

	#order-confirmation-ad {
		
		&:after {
			@include clear-fix;
		}
		margin-left: 1.25%;
		margin-right: 265px;
		
		.google-ads-block {
			margin: 10px 0;
			width: 100%;
		}
	
		.adslot {
			float: none;
			width: 100%;
		margin-bottom: 10px;
		}
	}