/*******************************************
*	Kiosk Example module
*******************************************/
@import "../breakpoints";
@import "../variables";
@include breakpoint(kiosk);
@import "product-filters-mixins";

@include overlay-filter-s-m-l-xl;
@include overlay-filter-m-l-xl;

body {
  scrollbar-arrow-color: #FFFFFF;
  scrollbar-base-color: #006400;
  scrollbar-track-color: #F3F1ED;
  scrollbar-face-color: #d6d2c4;
  scrollbar-highlight-color: #d6d2c4;
  scrollbar-3dlight-color: #d6d2c4;
  scrollbar-darkshadow-color: #d6d2c4;
  scrollbar-shadow-color: #d6d2c4;
}

.listing {
  .page-title-container {
    height: 20px;
  }
}

#page-container {
	.page-title-container {
		h1 {
			&.page-title {
				margin-top: 25px !important;
			}
		}
	}
}

#product-filter-actions {
  overflow: hidden;
  height: auto;
  margin: 0 48px;
}

.filter-side {
  margin: 0 48px;
}

.filter-filterList,
.filter-filterOptionTablet {
  position: relative;

}



#ssb_block_3, .kiosk-hide {
  display: none;
}

.filter-overlay_active .filter-activeLabel {
  height: 80px;
  line-height: 80px;
  padding: 0 0 0 32px;
}

.filter-overlay_active .filter-activeAreaText {
  margin-left: 600px;
  font-size: 16px;
  padding-left: 32px;
  border-color: $lightPutty;
}

.filter-overlay_active .filter-activeArea {
  border: 0;
  background-color: $inactivePutty;
}

.filter-filterGroupLabel {
  width: 600px !important;
}

.filter-overlay_active .filter-filterGroupLabel {
  padding-left: 32px;
  border-top: 1px solid #fff;
   padding-top: 18px;
  padding-bottom: 18px;

  &.filter-filterGroupLabel_selected {
    padding-left: 47px;
    &:before {
      left: 32px;
    }
  }

  // right border for each label
  &:after {
    content: " ";
    display: block;
    width: 1px;
    background: $lightPutty;
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
  }
}

.filter-overlay_active .filter-filterGroupLabel_active {
  border: 1px solid $lightPutty;
  border-right: 0;
  background-color: #fff;
  padding-top: 19px;
  padding-bottom: 19px;
  &:after {
    display: none;
  }
}

.filter-overlay_active {
    .filter-filterGroup {
        border-top: 0 none;
    }

    .filter-filterGroup_active + .filter-filterGroup .filter-filterGroupLabel {
	    border-top: none;
	    padding-top: 19px;
  		padding-bottom: 19px;
    }
}

.filter-overlay_active .filter-filterList {
  padding: 177px 0 156px 0;
  width: 100%;
}

.filter-overlay_active .filter-filterOptionTablet {
  padding: 177px 0 156px 0;
  width: auto;
  right: 0;
  left: 600px;

}

.filter-overlay_active .filter-filterOption {
  padding-left: 65px;
  &:after {
    left: 35px;
  }
}

.filter-scrollUp,
.filter-scrollDown {
  height: 60px;

  background-color: #FFF;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;

}

.filter-filterList .filter-scrollUp,
.filter-filterList .filter-scrollDown {
  max-width: 600px;
  z-index: 10;
}

.filter-scrollUp {
  background-image: url(../images/scroll-up.png);
  top: 117px;
  border-left: 1px solid $lightPutty;
  border-bottom: 1px solid $lightPutty;

  &.filter-scroll_disabled {
    top: 118px;
  }
}
.filter-scrollDown {
  background-image: url(../images/scroll-down.png);
  bottom: 97px;
  border-left: 1px solid $lightPutty;
  border-top: 1px solid $lightPutty;
}
.filter-scroll_disabled {
  background-position: -100px -100px;
  background-color: $pagePutty;

}

.filter-overlay_active .filter-footer {
  position: absolute;
  border-color: $lightPutty;
}

.filter-categoryOptionList,
.filter-activeList {
  display: none;
}

.filter-categoryOptionList,
.filter-categoryItem {
  border: 0 !important;

  display: inline-block;
  width: auto;
  &:after {
    display: none;
  }
}

.filter-categoryLabel {
  display: inline-block;
  padding: 13px 15px;
}

.filter-categoryOptionList {
  position: absolute;
  top: 12px;
  left: 185px;
  width: 1250px;
  height: 35px;
}

.filter-categoryMore {
  display: block;
  float: right;
  color: #fff;
  background-color: $putty;
  //border: 1px solid $putty;
  padding: 8px 24px;
  line-height: 28px;
  font-size: 2.2em;
  cursor: pointer;
}

.filter-categoryItem {

  font-family: Arial;
  font-size: 16px;
}

.filter-categoryList {
  position: relative;
  overflow: hidden;
  padding: 12px 16px;
  background: transparent;
  /* border-bottom: 1px solid white; */
  padding-right: 10px;
  margin: 0;
  padding-left: 0;
  /* margin-bottom: 8px; */
}

.filter-overlay_active .filter-activeList {
  display: block;

}

.filter-overlay {
  position: relative; /* this is for Showing n products text to be positioned as per design */
}

.filter-overlay_active .filter-activeClose:after {
  font-size: 24px;
  position: static;
  line-height: 80px;
  margin-left: 0;
}
.filter-controls {
  position: absolute;
  top: 21px;
  background: transparent;
  padding-top: 2px;
}

#product-filter-actions {
  background: #FFF;
  padding: 10px;
  overflow: visible;
  .product-count {
    font-size: 18px;
  }
  .refine {
    a {
      line-height: 28px;
      padding: 8px 16px !important;
      border: 1px solid $putty;
      border-radius: 0;
      color: #fff;
      background: $putty;
      &:hover {
        border-color: $contentLink;
        background: $contentLink;
        text-decoration: none;
      }
    }
    .filter_refine_hasFilter .filter-filterApplied {
      background-color: #FFF;
      margin-bottom: 3px;
    }

  }
  .sort {
    a.control {
      line-height: 28px;
      padding: 8px 16px !important;
      background-color: #FFF !important;
      color: $darkPutty !important;
      border: 1px solid $lightPutty !important;
      span:before {
        color: $darkPutty !important;
      }
    }
    .sort-by-list {
      top: 48px !important;
    }
  }
}

.filter-overlay_active .filter-footer .filter-activeClearAll {
  left: 32px;
}

.filter-activeClearAll.filter-activeClearAll_disabled{
  display: block;
}
/*
#product-filter-actions,
.filter-controls {
  background-color: transparent !important;
}*/

#lightbox {
 .filter-categoryLabel {
    font-size: 35px;
    font-family: Tesco, Helvetica Neue, Arial, sans-serif;
    color : $xDarkPutty;
    padding: 40px 0 60px 40px;
  }
  .filter-categoryOptionList {
    position: static;
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    padding-left: 40px;
  }
  .filter-categoryMore {
    display: none;
  }
  .filter-categoryItem {
    padding: 20px 0;
    width: 40%;
    border-bottom: 1px solid $pagePutty !important;
    margin-right: 10%;
    color : $xDarkPutty;
  }
}
body{
	overflow: hidden !important;
}

.filter-overlay_active .filter-filterOption {
  padding: 20px 32px 22px 60px;
  border-bottom: 1px solid #f3f1ed;
  color: #645945;
  text-decoration: none;
}
.filter-overlay_active .filter-filterOption:hover{
	color: $xDarkPutty !important;
}

.filter-overlay_active .filter-filterOption_active:hover{
	color: $white !important;
}

.filter-filterGroup.filter-filterGroup_first.filter-filterGroup_active {
 	h3 {
  		border-top: 0;
	}
}

.collapsible-categories {
  .filter-categoryLabel {
    position:relative;
    cursor:pointer;
    &:after {
      display:none;
    }
  }

  .filter-categoryOptionList {
    max-height:initial;

  }
}
