@mixin sort-control-mixin {
  @include kioskSecondaryButtonColoring;
}

@mixin link-style {
  .no-touch & {
    &:link, &:active, &:hover {
      color: $darkPutty;
      text-decoration: none;
    }
  }
}

@mixin small-layout {


  .filter-side {
    width: auto;
    margin: 0 8px;
    clear: both;
  }

  .filter-controls {
    padding: 15px;
  }

  .filter-filterList {
    display: none;
  }

  .filter-activeList {
    margin-bottom: 0;
    border-top: 1px solid $pagePutty;
    border-bottom: 1px solid $pagePutty;
  }
  .filter-activeLabel {
    display: none;
  }
  .filter-activeClearAll {
    line-height: normal;
    position: relative;
    display: inline-block;
    top: auto;
    right: auto;
    padding: 10px 30px 10px 15px;
    &:after {
      font-family: 'Tesco Icons';
      content: "y";
      speak: none;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      font-size: 12px;
      color: $lightPutty;
      margin-left: 10px;
      position: absolute;
      right: 10px;
      top: 14px;
    }
  }
}

@mixin tablet-layout {
  .filter-categoryOptionList {
/*    display: table;
    border-collapse: collapse;*/
    overflow: hidden;
    border-top: 1px solid $pagePutty;
    width: 100%;
  }
  /*
  .filter-categoryOptionWrapper {
    display: table-row;
  }
  .filter-categoryOptionWrapper .filter-categoryItem:first-child {
    border-right: 1px solid $pagePutty;
  }
  .filter-categoryOptionWrapper:last-child .filter-categoryItem {
    border-bottom: 0px solid $pagePutty;
  }
*/
  .filter-categoryItem {
    border-top: 0px solid $pagePutty;
    border-bottom: 1px solid $pagePutty;
    display: block;
    width: 50%;
    float: left;
    &:not(.filter-categoryItem_disabled) {
      border-left: 1px solid $pagePutty;
    }
  }
  .filter-categoryItem_disabled {
    display: none;
  }
}

@mixin filter-action-s-m {


  #product-filter-actions {
    display: table;
    width: 100%;
    margin: 0;
    .sort {
      display: table-cell;

      width: 50%;
      a {
        width: 100%;
        text-align: left;
        .icon {
          float: right;
          padding: 0;
          margin: 0;
        }
        &.control {
           @include secondaryButton;
         }
      }
    }
    .refine {
      display: table-cell;

      width: 50%;
      a {
        @include secondaryButton;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@mixin overlay-filter-m-l {
  @include overlay-filter-m-l-xl;
  .filter-overlay_active {

    .filter-filterGroup {
        border-right: 1px solid #d6d2c4;
    }

    .filter-filterGroup_active {
		border-top: 1px solid $lightPutty;
        border-bottom: 1px solid $lightPutty;
        border-right: none;
    }

    .filter-filterGroup_active.filter-filterGroup_first {
        border-top: 0;
    }

    .filter-filterGroupLabel {
        width: 299px;
    }

    .filter-filterList {
      .collapsible-categories {
        margin:0;
        width: 300px;
        border-right: 1px solid $lightPutty;
        .filter-categoryLabel {
          position:relative;
          cursor:pointer;
          font-size: 18px;
          font-weight: 400;
        }
        .filter-categoryItem {
          width:100%;
          float:none;
        }
      }
    }

    .filter-filterGroup_active + .filter-filterGroup .filter-filterGroupLabel {
	    border-top: none;
        padding-top: 20px;
    }

    .filter-filterGroupLabel_active {
      border-top: none;
      border-bottom: none;
      border-right: none;
      background: none;
      padding: 20px 40px 20px 16px;
    }

    .filter-filterList {
      padding: 91px 0 97px 0;
      z-index: 10;
    }

    .filter-filterOption {
        padding: 20px 32px 22px 46px;

        &:hover, &:active, &:focus, &.filter-filterOption_active {
            margin-left: -11px;
            padding-left: 57px;

            &:after{
                left: 27px;
            }
        }
    }

    .filter-filterOptionTablet {
        .filter-filterListWrap {
            padding-left:11px;
        }
    }
  }
}

@mixin overlay-filter-m-l-xl {
  @include small-layout;
  @include tablet-layout;

  #product-filter-actions {
    .sort {
      a {
        min-width: 250px;
        text-align: left;
        .icon {
          float: right;
        }
      }
    }

    .refine {
      a {
        min-width: 250px;
        text-align: center;
        position: relative;


      }
    }
  }

  .filter-overlay_active {
    display: block;
    top: 0;
    right: 0;
    z-index: 1200;
    width: 100%;
    height: 100%;

    &.filter-overlay {
      background-color: #fff;
      position: fixed;
    }

    .filter-activeList .filter-activeClearAll {
      display: none;
    }

    .filter-footer .filter-activeClearAll {
      display: block;
      @include secondaryButton;
      width: 136px;
      top: 15px;
      right: auto;
      position: absolute;
    }

    .filter-filterList {
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      overflow: hidden;
    }
    .filter-filterListWrap {
      overflow-x: hidden;
       -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;
     // -ms-overflow-style: -ms-autohiding-scrollbar;
      height: 100%;
    }
    .filter-activeLabel {
        display: block;
        padding: 10px 0px 10px 16px;
    }
    .filter-controls {
      display: none;
    }
    .filter-footer {
      display: block;
      position: fixed;
      bottom: 0;
      padding: 15px;
      border-top: 1px solid $inactivePutty;
      width: 100%;
      height: 97px;
      text-align: center;
      z-index: 15;
    }
    .filter-footerApply {
      @include primaryButton;
      width: 300px;
      display: inline-block;
      margin-left: 22px;

    }
    .filter-activeList {
      padding: 0;
      margin: 0;
      border-width: 0;
      z-index: 15;
    }

    .filter-activeClose {
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      &:after {
        font-family: 'Tesco Icons';
        content: "y";
        speak: none;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        margin-left: 10px;
        position: absolute;
        left: 10px;
        top: 18px;
      }
      .no-touch &:hover {
        &:after {
          color: $tescoBrightBlue;
        }
      }
    }
    .filter-footer .filter-activeClearAll {
      left: 12px;
      &:after {
        content: "";
      }
    }

    .filter-activeItem {
      display: none;
    }
    .filter-activeArea {
      background-color: $pagePutty;
      display: block;
      border-bottom: 1px solid #ccc;
    }
    .filter-activeAreaText {
      border-left: 1px solid $lightPutty;
      font-size: 18px;
      padding: 10px 10px 10px 30px;
      margin-left: 299px;
      white-space: nowrap;
      margin-right: 20px;
      overflow: hidden;
    }
    .filter-productCount {
      padding: 20px;
      display: inline-block;
      background-color: $putty;
      color: #fff;
    }

    .filter-filterGroup {
      margin-top: 0px;
    }

    .filter-filterGroupLabel {
      padding: 19px 40px 20px 16px;
      z-index: 10;
      background-color: $pagePutty;
      border-top: 1px solid white;
      &:after {
        display: none;
      }
      &.filter-filterGroupLabel_selected:before {
        top: 24px;
      }
    }

    .filter-filterOptionList {
      position: absolute;
      left: 0;
      top: -1px;
      max-height: initial;
      padding-left: 303px;
      height: 0;
      width: 0;
      overflow: hidden;
    }
    .filter-filterOption {
      padding: 20px 32px 22px 60px;
      border-bottom: 1px solid $pagePutty;

      &:after {
        top: 18px;
      }
    }
    .filter-filterOptionTablet {
      display: block;
      position: absolute;
      top: 0;
      padding-left: 299px;
      padding-bottom: 100px;
      padding-top: 90px;
      width: 100%;
      height: 100%;

      .filter-filterOptionList {
        height: 100% !important;
        position: static;
        padding: 0;
        width: 100%;
      }
    }

  }

  .filter-activeList_disabled .filter-activeList {
    padding: 0;
    border-bottom-width: 0;
  }
  .filter-activeClearAll_disabled {
    .filter-overlay_active & {
      display: block;
    }
    display: none;
  }

  .filter-filterOption.filter-filterOption_active {
    background-color: $positiveGreen;
    color: #FFF !important;
    text-decoration: none;
    &:after {
      color: $positiveGreen;
      background-color: #FFF;
      border-color: #FFF;
    }
  }

  .filter-warning {
    background-color: $pagePutty;
    opacity: 0.95;
}
}


@mixin overlay-filter-s-m-l-xl {
  .product-noResult {
    height: auto;
  }
  .filter-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1300;
    &.filter-warning_enabled {
      display: block;
    }
  }

  .filter-warningWrap {
    margin: 100px auto 0 auto;
    width: 400px;
    padding: 40px;
    background-color: #fff;
  }

  .filter-warningHeader {
    font-size: 24px;
    color: $darkPutty;
  }

  .filter-warningBody {
    p {
      margin: 20px 0;
      font-family: Arial;
      font-size: 14px;
    }
  }

  .filter-warningClearAll {
    background: $putty;
    position: relative;
    color: white;
    padding: 15px;

    text-align: center;
    display: block;
    cursor: pointer;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 20px;
    .no-touch &:hover {
      background-color: $tescoBrightBlue;
      color: #FFF;
    }
  }

  .filter-warningRefine {
    @include link-style;
    border: 1px solid $darkPutty;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: $darkPutty;

    .no-touch &:hover {
      border-color: $tescoBrightBlue;
      color: $tescoBrightBlue;
    }
  }

  .filter-overlay_active .filter-activeLabel {
    background-color: $darkPutty;
  }
}

@mixin category-label-s-ll {
  .filter-filterGroup_active .filter-filterGroupLabel {
    &:after {
      content: "U";
    }
  }

  .filter-filterOptionList {
    max-height: initial;
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;

  }
  .filter-filterOptionListWrap {
    overflow: hidden;
  }
}

@mixin refineBy-m-l{

	.filter-categoryItem{
		padding: 16px 10px 16px 0px;
		border-width: 1px 0px 1px 0px;
		margin: 0px 10px 0px 10px;
	}

	.filter-categoryOptionList{
		border-top: 0px;
	}

	.filter-activeItem {
		  padding: 14px 44px 14px 10px;
		  margin-right: 10px;
	}

	.filter-activeClearAll {
		padding: 14px 44px 14px 10px;
	    font-family: Tesco;
	    font-weight: normal;
		color: #00539f !important;
	    font-size: 16px;
	    border-color: #00539F !important;
	    border-radius: 4px;
    	line-height: 16px;

		&:after{
			color: #00539f !important;
			font-size: 8px;
			border: 1px solid #00539f;
		    border-radius: 10px;
		    padding: 0px 4px;
		}
	}

	.filter-overlay_active {
		.filter-activeLabel {
			background-color: #fff;
	    	color: #333;
	    	line-height: 36px;
			padding: 30px 0 30px 16px;
			&.filter-filterGroupLabel_selected{
				padding-left: 24px;
				&:before{
					left: 10px;
					top: 22px;
					background-color: #008DC8;
				}
			}
		}
		.filter-filterListWrap{
			&::-webkit-scrollbar {
			    width: 6px;
			    background-color: #ccc;
			}
			&::-webkit-scrollbar-thumb {
			    border-radius: 10px;
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
			}
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				border-radius: 10px;
				background-color: #fff;
			}
		}
		.filter-filterList{
			padding-top: 97px;
			padding-bottom: 84px;
		}
		.filter-filterOptionTablet{
			padding-top: 102px;
			padding-bottom: 84px;
		}
		.filter-filterOption{
			border-bottom: none;
			padding: 10px 32px 10px 46px;
			font-size: 16px;
		    color: #666;

			&:after{
			    width: 24px;
		    	height: 24px;
				top: 4px;
				border: 1px solid #999;
		    	border-radius: 4px;
			}
			&:hover{
				padding-left: 59px;
			    font-weight: bold;
			    background-color: #fff;
			}
			&.filter-filterOption_active{
				background-color: #fff;
			 	color: #666 !important;
		    	font-weight: bold;
		    	padding-left: 57px;

				&:after{
					color: #fff;
			    	background-color: #008DC8;
			    	border: 1px solid #008DC8;
					width: 24px;
					height: 24px;
					line-height: 25px;
				}
			}
		}

		.filter-activeClose {
			background-color: #000 !important;
			border-radius: 0!important;
			right: 30px!important;
			height: 44px;
	    	width: 44px;
			&:after {
				color: #fff !important;
				top: 13px;
				left: 4px;
			}
		}
		.filter-activeArea {
		    border-bottom: none;
	    	border-top: 1px solid #ccc;
			background-color: #fff;
		}
		.filter-activeAreaText{
			font-size: 20px;
			display: none;
		}
		.filter-filterGroup{
			.filter-filterGroupLabel.filter-filterGroupLabel_selected{
				padding-left: 24px;
				&:before{
					top: 22px;
				}
			}
		}
		.filter-filterGroupLabel{
			font-size: 16px;
			padding: 16px 40px 16px 10px;
			background-color: #fff;
			&:after{
				display: block;
				font-family: 'Tesco Icons';
			    content: 'r';
				speak: none;
				-webkit-font-smoothing: antialiased;
			    font-size: 12px;
			    color: #a69f88;
			    position: absolute;
			    right: 22px;
			    top: 14px;
				&:hover{
					color: #008DC8;
				}
			}
			&.filter-filterGroupLabel_selected{
				&:before{
					left: 10px;
					background-color: #008DC8;
				}
			}
		}
		.filter-filterGroupLabel_active{
			font-weight: bold;
		}
	}
	.filter-footer{
		padding: 20px;
		height: 84px;

		.filter-footerApply{
			border-radius: 4px;
			border: 1px solid #00539f;
		    background-color: #fff;
		    padding: 12px 0px;
		    text-align: center;
		    height: 44px;
		    width: 248px;
		    font-weight: bold;
		    font-size: 16px;
		    color: #00539F;
		   /* position: relative;
			display: inline-block;*/

		    &:hover {
				background-color: #00539F;
				color: #fff;
		    }
		}
		.filter-activeClearAll{
		    line-height: 16px;
		    padding: 0;
		    border: 0;
		    right: 0;
		    top: 28px;
		    font-family: 'Tesco';
		    font-size: 16px;
		    font-weight: normal;
			&:before{
			    font-family: 'Tesco Icons';
			    content: 'y';
			    border: 1px solid #666;
			    border-radius: 10px;
			    margin-right: 6px;
			    padding: 4px;
			    background-color: #666;
			    font-size: 6px;
			    line-height: 16px;
			    color: #fff;
			}
			&.filter-activeClearAll_disabled{
				&:before{
					border: 1px solid #ccc;
					background-color: #ccc;
				}

			}
		}
	}
	.dropShadowTop{
		top: 97px;
	}
	.dropShadowBottom{
		bottom: 82px;
	}
}

@mixin frmTest-m-l{
	#product-filter-actions {
		margin: 0px;
		.refine {
			a {
				color: #00539f !important;
			    background-color: #fff !important;
			    border-color: #00539f !important;
			    border-radius: 4px !important;
			    padding: 14px 0 !important;
			    font-size: 16px !important;
			    font-weight: bold;
			    line-height: 16px !important;

				.filter-filterApplied {
					background-color: #00539F !important;
				    height: 12px !important;
				    width: 12px !important;
				    border-radius: 10px !important;
				}
			}
		}

		.sort {
			.sortByLabel {
				display: block;
			    padding: 3px;
			    font-size: 16px;
			    text-align: left;
			}
			.control {
			    border-radius: 4px !important;
				padding: 14px !important;
			    padding-left: 10px;
			    font-size: 16px !important;
			    font-weight: normal;
			    line-height: 16px !important;
			}
		}
	}
}
