/*******************************************
*	Large Desktop Product Filters module
*******************************************/
@import "../breakpoints";

@include breakpoint(largeDesktop);
@import "product-filters-mixins";

@include category-label-s-ll;

.filter-side {
  float: left;
  width: 232px;
}

#product-filter-actions .product-count {
  float: left;
  margin: 0;
  padding: 10px 0;
  display: block;
}

.filter-controls {
  padding: 0;
  .filter-productCount {
    display: none;
  }
}
.filter-filterOptionMore {
  .filter-filterOptionList_long & {
    display: block;
  }
}

.filter-filterOptionListWrap {
    margin-top: 10px;
}

.filter-filterOptionListWrap > LI.filter-filterOption_hidden {
  display: none;
}

.filter-filterGroup_active {
  .filter-filterOptionList {
    height: auto ;
  }
}

.filter-activeLabel {
  font-size: 18px;
  font-weight: bold;
  line-height: 42px;
  padding: 0;
  color: $xDarkPutty;
}

.filter-filterGroupLabel {
  /*padding-left: 16px;*/
}
.filter-filterOptionList {
  height: 0px;
}

#product-filter-actions {
  position: relative;
  margin: 0 8px;

  .refine {
    display: none;
  }
  .count {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 15px;
    top: 22px;
    display: block;
  }
  .control {
    background-color: #FFF !important;
    color: $darkPutty !important;
    border: 1px solid $lightPutty !important;
    &:active, &:focus, &:hover {

      color: $tescoBrightBlue !important;
      border: 1px solid $tescoBrightBlue !important;
      span {
        color: $tescoBrightBlue !important;
      }
    }
    span {
      color: $darkPutty !important;
    }
  }
}

.filter-priceRangeWrap {
  display: list-item;

}

.filter-lightbox {
  padding: 30px;
  font-family: Tesco;
  color: $putty;
  border: 0 !important;

  .filter-filterOptionMore,
  .filter-priceRangeWrap {
    display: none;
  }
  h3 {
    font-size: 30px;
    color: $darkPutty;
    font-weight: normal;
    margin-bottom: 30px;
  }
  .filter-filterList {
    border-bottom: 1px solid $lightPutty;
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px;
  }
  .filter-overlayApply {
    @include primaryButton;
    line-height: inherit;
    float: right;
    height: 46px;
    padding: 14px 40px;
  }
  .filter-filterList .filter-filterOptionListWrap > li {
    display: block !important;
    width: 33%;
    float: left;
    &.filter-filterOptionMore {
      display: none !important;
    }
    &.filter-priceRangeWrap {
      display: none !important;
    }
  }
  .filter-filterOption {
    padding-left: 40px;
    color: #645945;
    &:after {
        left: 0;
        margin-left:10px;
    }
  }
  .close {
    background: transparent !important;
    top: 8px !important;
    right: 10px !important;

    .icon {
      color: $putty !important;
      &:before {
        font-family: 'Tesco Icons';
        content: "y";
        font-weight: normal;
        font-size: 16px;
      }
    }
  }
}

#frmTest {

  float: right;
  width: 960px;
}

.filter-activeItem {
	margin: 8px 5px 0 0;
}

// new plp design
.filter-lightbox.v2{
	h3 {
		color : #333;
	}
	a.close {
		background-color: #000 !important;
		border-radius: 0!important;
		right: 30px!important;
		.icon {
			color: #fff !important;
			top: 8px;
			left: 8px;
		}
	}
	.filter-filterList {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	.filter-filterOption {
		color: #666;
		font-size: 16px;
	}
	.filter-filterOption{
		&:after {
			width: 24px;
			height: 24px;
			border-radius: 4px;
			border: 1px solid #999;
			top: 6px;
		}
	}
	.filter-filterOption_active {
	    background-color: #fff;
	}
	.filter-filterOption_active{
		&:after {
			background-color: #008DC8;
			border-color: #008DC8;
			line-height: 25px;
		}
	}
	.filter-showAllPoducts {
	    border: 1px solid #00539F;
	    border-radius: 4px;
	    background-color: #fff;
	    display: inline-block;
	    padding: 12px 0px;
	    text-align: center;
	    height: 44px;
	    width: 248px;
	    font-family: "Tesco";
	    font-weight: bold;
	    font-size: 16px;
	    color: #00539F;
	    position: relative;
	    left: 43%;
        margin-left: -50px;

	    &:hover {
			background-color: #00539F;
			color: #fff;
	    }

	 }
	.filter-filterList::-webkit-scrollbar {
	    width: 6px;
	    background-color: #ccc;
	}
	.filter-filterList::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
	.filter-filterList::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #fff;
	}
}


/*******************************************
*	New PLP
*******************************************/
/*.newplp_version2*/

.filter-side.lhnV2 {
    float: left;
	width: 278px;
	padding: 0px 20px 0px 10px;

	.filter-categoryLabel {
	  padding: 11px 16px 16px 0px;
	}

	.filter-categoryItem {
	  padding: 16px 30px 16px 0px;
	  &:after {
	    right: 0px;
	  }
	}

	.filter-activeList {
	  padding: 0px;
	}

	.filter-activeLabel {
	  margin: 0;
	  margin-bottom: 16px;
	}

	.filter-activeClearAll {
	  padding: 0px 0px;
	  right: 0px;
	  top: 5px;
	  line-height: 16px;
	  border: none;
	  font-family: 'Tesco';
	  font-size: 16px;
	  font-weight: normal;

		&:before{
			margin-right: 6px;
		    padding: 4px;
			font-family: 'Tesco Icons';
		    content: 'y';
		    border: 1px solid #ccc;
		    border-radius: 10px;
		    background-color: #ccc;
		    font-size: 6px;
		    line-height: 16px;
		    color: #fff;
		}
	}

	.filter-activeClearAll:before
	.filter-footer .filter-activeClearAll {
	  display: none;
	}

	.filter-filterGroup {
	    margin-top: 0px;
	    .filter-filterGroupLabel {
	        &.filter-filterGroupLabel_selected {
	            padding-left: 18px!important;
	        }
	    }
	}

	.filter-filterGroupLabel {
	  padding: 16px 40px 16px 0px;
	  margin: 0;

	  &:after {
	    top: 19px;
	  }
	}

	.filter-filterGroupLabel:after{
		  content: "a";
	  }

	.filter-filterGroup_active .filter-filterGroupLabel:after{
		    content: "c";
	  }

	.filter-filterOption {
	  padding: 14px 12px 12px 35px;

	  &:after {
	    top: 9px;
	    left: 3px;
	  }
	}

	.filter-filterOptionMore {
	  padding: 20px 0px 20px 0px;
	}

	.filter-filterOptionListWrap {
		margin-top: 0px;
	}

	.filter-filterOptionMoreButton {
	    border: 1px solid #00539F;
	    border-radius: 4px;
	    padding: 14px 15px;
	    font-size: 16px;
	    color: #00539F;
	}

	.filter-priceRangeWrap {
		 padding: 0px;
	}

	.filter-priceRange {
		border-top: none;
		padding-top: 4px;
		.filter-filter-priceRangeText{
			margin: none;
		}

		.filter-priceRangeText{
		    font-size: 16px;
			line-height: 44px;
		    padding: 0px 7px;
		    margin: 0px;
		}

	  	.filter-priceRangeInput {
		  	line-height: 16px !important;
		    padding: 14px 20px 14px 10px!important;
		    width: 114px!important;
		    height: 44px!important;
		    margin: 0px!important;
	  		border-radius: 4px!important;
		  	font-style: italic;
		    font-size: 16px !important;
		    &::-webkit-input-placeholder {
		      color: #999;
		      font-size: 16px;
		      line-height: 16px;
		      font-family: "Tesco";
		    }
		  }

	  	.filter-priceRangeButton{
	  	    margin: 10px 0px 16px 0px;
	  	    width: 248px!important;
	  	    padding: 14px 58px 14px 58px!important;
	  	    height: 44px!important;
	  	    border: 1px solid #00539F;
	  	    border-radius: 4px;
		  	font-size: 16px;
		    font-family: 'Tesco';
		    font-weight: bold;
	  	    background-color: #fff;
	  	    color: #00539F;
	  		line-height: 16px;
	  	}
	}

	.filter-priceRangeLabel{
		font-size: 16px;
		line-height: 16px;
		color: #333333;
		width: 228px;
		font-weight: bold;
		font-family: 'Tesco';
		padding: 10px;
	}

	.filter-activeItem {
		  width: 248px;
		  padding: 14px 139px 14px 10px;
		  margin: 0px 0px 8px 0;
	}
}

.plp_sortbyV2#frmTest {
	width: 922px;
}
.plpV2#main-content{
	width: 922px;
}

.collapsible-categories {
	margin-top:5px;
}