/*******************************************
*	My modified Product Filters module
*******************************************/
@import "../variables";
@import "product-filters-mixins";

#product-filter-actions .product-count {
  display: none;
  font-size: 18px;
  font-family: Tesco;
  width: auto;
}

.filter-side {
  margin-bottom: 16px;
  font-family: Tesco;
  *, & {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  &.filter-refresh {

  }
}

.filter-controls {
  padding: 16px 8px 0 16px;
  font-size: 18px;
  background: #fff;
  display: block;
}

.filter-categoryList {
  background-color: #fff;
}

.collapsible-categories {
  display:none;
  margin-top:5px;
  .filter-categoryLabel {
    position:relative;
    cursor:pointer;
    &:after {
      content: "D";
      font-family: "Tesco Icons";
      color: #7c765f;
      font-size: 15px;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  .categoryList_expanded {
    .filter-categoryLabel {
      &:after {
          content: "U";
      }
    }
  }

  .filter-categoryOptionList {
    max-height:0;
    overflow: hidden;
    transition: max-height 0.2s ease;
  } 
}


.filter-categoryLabel {
  padding: 11px 16px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.filter-categoryItem {
  @include link-style;
  padding: 13px 30px 13px 16px;
  font-size: 14px;
  display: block;
  border-top: 1px solid $pagePutty;
  position: relative;
  &:after {
    font-family: 'Tesco Icons';
    content: "r";
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: $putty;
    position: absolute;
    right: 10px;
    top: 14px;
  }
  .no-touch &:not(.filter-categoryItem_disabled):hover {
    background-color: $tescoBrightBlue;
    color: #FFF;
    &:after {
      color: #fff !important;
    }
    .filter-categoryOptionCount {
      color: #fff !important;
    }
  }
  &.filter-categoryItem_disabled {
    display: none !important;
  }

}

.filter-categoryOptionCount {
  margin-left: 5px;
  color: $putty;
}

.filter-activeList {
  margin-bottom: 5px;
  background-color: #fff;
  position: relative;
  padding: 8px 8px 8px 16px;
}

.filter-activeLabel {
  font-size: 24px;
  padding: 0px 0px 20px 5px;
  margin: 0;
  line-height: 30px;
  color: #fff;
}

.filter-activeClearAll {
  @include link-style;
  line-height: 40px;
  padding: 0 15px;
  color: $tescoBlue;
  position: absolute;
  right: 8px;
  top: 12px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;

  &.filter-activeClearAll_disabled {
    color: $inactivePutty !important;
    cursor: default !important;
    &:hover, &:active {
      color: $inactivePutty !important;
      text-decoration: none;
    }
  }

}

.filter-footer .filter-activeClearAll {
  display: none;
}

.filter-activeItem {
  @include link-style;
  background-color: $pagePutty;
  padding: 10px 30px 10px 15px;
  font-size: 14px;
  font-family: Arial;
  display: inline-block;
  margin: 0 5px 5px 0;
  position: relative;
  .no-touch &:hover {
    background-color: $tescoBrightBlue;
    color: #fff;
    &:after {
      color: #fff;
    }
  }
  &:after {
    font-family: 'Tesco Icons';
    content: "y";
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: $lightPutty;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    top: 14px;
  }
}

.filter-activeArea {
  display: none;
}

.filter-footer {
  display: none;
}

.filter-overlayWaiting {
  display: none;
  position: fixed;
  opacity: 0.95;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $pagePutty;
  background-image: url('../images/ajax-loader-big.gif');
  background-position: center 30%;
  background-repeat: no-repeat;
  .filter-overlayText {
    font-size: 24px;
    font-family: Tesco;
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    color: $xDarkPutty;
  }
  .filter-refresh & {
    display: block;

  }
}

/* .filter-overlayWaiting {
  display: none;
  position: fixed;
  opacity: 0.95;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  //background-image: url('../images/ajax-loader-big.gif');
  background-position: center 30%;
  background-repeat: no-repeat;


  .filter-overlayText {
    font-size: 20px;
    font-family: Tesco;
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    color: #fff;
  }
  .filter-refresh & {
    display: block;

  }
  .newLoader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: filter-overlayWaiting 1.1s infinite linear;
	animation: filter-overlayWaiting 1.1s infinite linear;
	border-radius: 50%;
	width: 10em;
	height: 10em;

	&:after {
	 	border-radius: 50%;
		width: 10em;
		height: 10em;
	}
 }
}

@-webkit-keyframes filter-overlayWaiting {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes filter-overlayWaiting {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
*/
.filter-overlay {
  .collapsible-categories {
    display:block;
  }
}
.filter-overlay_active {
    .filter-footerApply {
        @include secondaryButtonColoring;
    }

    .filter-activeClose {
        height: 50px;
        width: 50px;
        color: $white;
        &:after {
            top: 15px;
        }
    }
}

.filter-refresh {
  overflow: hidden;
}

.filter-filterGroup {
    margin-top: 5px;
    background-color: $white;

    .filter-filterGroupLabel {
        &.filter-filterGroupLabel_selected {
            padding-left: 30px;
        }
    }
}

.filter-filterGroupLabel {
  padding: 16px 40px 16px 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid $pagePutty;
  position: relative;
  cursor: pointer;
  .no-touch &:hover {
    background-color: $tescoBrightBlue !important;
    color: #fff;
    &:before {
      background-color: #fff;
    }
    &:after {
      color: #FFF;
    }
  }
  &:after {
    font-family: "Tesco Icons";
    content: "D";
    color: $darkPutty;
    font-size: 15px;
    position: absolute;
    top: 19px;
    right: 15px;
  }
  &.filter-filterGroupLabel_selected:before {
    position: absolute;
    top: 23px;
    left: 16px;
    content: " ";
    background-color: #05ae20;
    height: 8px;
    width: 8px;
    border-radius: 4px;
  }
}

.filter-filterOptionList {
  position: relative;
  overflow: auto;
}

.filter-priceRangeWrap {
  display: none;
}

.filter-priceRangeErrorWrap {

  & label {
    display: none;

  }
}
#product-filter-actions.filter-productCount_0 {
  .sort {
    display:none;
  }
}

.filter-filterOption {
  padding: 11px 15px 11px 46px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  border: 1px solid #fff;
  font-size: 14px;
  font-family: Arial;
  display: block;
  position: relative;
  .no-touch & {
  	&:hover {
      color: #FFF;
      text-decoration: none;
    }
    &:hover, &:active, &:focus {
      &:not(.filter-filterOption_disabled) {
        background-color: $tescoBrightBlue;
        color: #fff;
        &:after {
          border-color: #fff;
          color: $tescoBrightBlue;
          background-color: #FFF;
        }
        .filter-filterOptionCount {
          color: #fff;
        }
      }
    }
  }
  &:after {
    width: 18px;
    height: 18px;
    content: " ";
    line-height: 24px;
    border: 1px solid $lightPutty;
    font-size: 19px;
    text-align: center;
    display: block;
    position: absolute;
    top: 9px;
    left: 16px;
  }
}

.filter-filterOption_active {
  background-color: $pagePutty;
  &:after {
    font-family: "Tesco Icons";
    background-color: $positiveGreen;
    border-color: $positiveGreen;
    content: "5";
    color: #FFF;
    font-size: 13px;
    line-height: 19px;
  }
  &:hover{
 		background-color: $tescoBrightBlue;
  	 	&:after {
          border-color: #fff;
          color: $tescoBrightBlue;
          background-color: #FFF;
        }
  }
  .filter-filterOptionCount {
    display: none;
  }
}

.filter-filterOption.filter-filterOption_disabled {
  &:not(.filter-filterOption_active) {
    cursor: default;
    color: $lightPutty !important;
    &:after {
      border-color: $lightPutty;
    }
    .filter-filterOptionCount {
      color: $lightPutty !important;
    }
    .filter-filterOptionImage {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      opacity: 0.4;
    }
  }

}

.filter-filterOptionImage {
  vertical-align: bottom;
}

.filter-filterOptionCount {
  margin-left: 5px;
  color: $putty;
}

.filter-filterOptionTablet {
  display: none;
}

.filter-filterOptionMore {
  display: none;

  padding: 20px 30px 20px 30px;

}

.filter-filterOptionMoreButton {
  text-align: center;
  @include secondaryButton;
}

.filter-priceRangeWrap {
  padding: 8px 16px 16px 16px;

}

.filter-priceRange {
  padding-top: 20px;
  border-top: 1px solid $lightPutty;

  &:after {
    @include clear-fix();
  }

  span, input, button {
    float: left;
    display: inline-block;
    font-family: Tesco;
    font-size: 14px;
  }
  .filter-priceRangeText {
    line-height: 28px;
    margin: 0 2px;
  }
  .filter-priceRangeInput {
    line-height: 28px;
    padding: 0 4px !important;
    width: 40px !important;
    height: 28px !important;
    margin: 0 3px !important;
    &::-webkit-input-placeholder {
      color: $putty;
      font-size: 14px;
      line-height: 18px;
      font-family: "Tesco";
    }
  }
  .filter-priceRangeButton {
    @include primaryButton;
    line-height: 24px;
    height: auto !important;
    cursor: pointer;
    margin-left: 3px;
  }
}

.filter-priceRangeErrorWrap {
  display: block;

  padding-top: 10px;

}

.filter-priceRangeError {
  display: block;
  font-size: 14px;
  color: $colorRed;
}

#product-filter-actions {
  padding: 15px;
  background-color: #fff;
  margin: 0;
  text-align: right;
  height: 67px;
  .refine a {
    @include secondaryButton;
  }
  > li {
    font-size: 10px;
    letter-spacing: auto;
    word-spacing: auto;
    margin-left: 8px;
    position: relative;
    display: inline-block;
    ul {
      z-index: 1;
      height: 0;
      overflow: hidden;
      position: absolute;
      width: 100%;
      top: 37px;
      &:hover {
        ul {
          height: auto;
          overflow: visible;
        }
      }
    }

    .open-categories {
      @include tertiaryButton;
    }
    a {
      @include button;
      display: inline-block;
      line-height: 34px;
      padding: 0 12px 0 8px;
      .icon {
        font-size: 14px;
        padding-left: 8px;
      }
      span {
        font-size: 14px;
        margin-left: 8px;
      }
    }

    &.close a {
      @include secondaryButton;
    }
    &.compare a {
      @include tertiaryButton;
    }
    .filter-filterApplied {
      display: none;
    }
    &.refine .filter_refine_hasFilter {
      .filter-filterApplied {
        background-color: $tescoBlue;
        height: 8px;
        width: 8px;
        border-radius: 4px;
        margin-right: 7px;
        margin-bottom: 1px;
        display: inline-block;
      }
    }
  }
  .count {
    display: none;
  }

  .open {
    // change to a class
    .control {
      @include sort-control-mixin;
      padding: 0 12px 0 12px;
    }
    ul {
      height: auto;
      overflow: visible;
      @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
      li {
        display: block;
        margin: 0;
        width: 100%;
        &.alt-heading {
          display: none;
        }
        a.sort {
          @include border-radius(0);
          border: 1px solid $primaryBorderColor;
          border-top: none;
          display: block;
          margin-bottom: 0;
          text-align: left;
          background: #ffffff;
          &:hover {
            filter: none;
            -ms-filter: none;
            color: #ffffff;
            border-color: $primaryBorderColor;
            background-color: $linkHoverColor;
          }
        }
      }
    }
  }

  .close {
    display: none;
  }
}

.filter-categoryMore {

  display: none;
}

.filter-list,
.sort-by-list {
  li {
    a {
      display: block;
      padding: 12px 16px;
      margin: 0;
      border-top: 1px solid $primaryBorderColor;
      font-size: 14px;
      line-height: 24px;
      font-weight: normal;
      text-decoration: none;
      &.current {
        font-weight: bold;
        &:after {
          content: '5';
          font-family: 'Tesco Icons';
          font-size: 0.85em;
          padding-left: 5px;
          position: absolute;
        }
      }
    }
    &.alt-heading {
      font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
      color: #3e3e3f;
      display: block;
      padding: 16px;
      font-size: 16px;
    }
  }
}

.filter-warning {
  display: none;
}

.product-noResult {
  height: 1000px;
  background-color: #fff;
  padding: 20px !important;
  width: 100% !important;
  display: block;
  h3 {
    font-family: Tesco !important;
    font-size: 24px !important;
    color: $putty !important;
  }
  p {

    font-family: Tesco !important;
    font-size: 18px !important;
    color: $putty !important;

  }
}


.dropShadowTop{
	position: absolute;
  top: 92px;
  height: 10px;
  width: 100%;
  box-shadow: inset 0 12px 12px -12px #696868;
  z-index: 100;
}
.dropShadowBottom{
	position: absolute;
	bottom: 96px;
	height: 10px;
	width: 100%;
	box-shadow: inset 0px -12px 12px -12px #696868;
	z-index: 100;
}

/*******************************************
*	New PLP
*******************************************/
/*.newplp_version2*/

.filter-side.lhnV2 {
	background-color: #ffffff;

	.listing #filter-controls {
		border: none;
	}

	.filter-categoryLabel {
	  font-size: 20px;
	  line-height: 24px;
	  font-weight: normal;
	}

	.filter-categoryItem {
	  font-size: 16px;
	  border-top: 1px solid #CCCCCC;
	  color: #666666;
	  span{
		  color: #cccccc;
	  }
	  &:after {
	    font-size: 16px;
	    color: #666666;
	  }
	}

	.filter-activeLabel {
      font-size: 20px;
	  line-height: 24px;
	  color: #333333;
	  font-weight: normal;
	}

	.filter-filterGroupLabel {
	  font-size: 16px;
	  line-height: 16px;
	  border-top: 1px solid #cccccc;
	  border-bottom: none;

	  &:after {
	    content: "D";
	    color: #333333;
	    font-size: 15px;
	    right: 0px;
	  }

	  &.filter-filterGroupLabel_selected:before {
		    top: 18px;
		    left: 0px;
		    content: " ";
		    background-color: #008DC8;
		    height: 12px;
		    width: 12px;
		    border-radius: 10px;
		  }
	}

	.filter-filterGroup.filter-filterGroup_active .filter-filterGroupLabel{
		font-weight: bold;
	}

	.filter-filterGroupLabel:after{
		  font-size: 16px;
	  }

	.filter-filterGroup_active .filter-filterGroupLabel:after{
	  		font-size: 16px;
	  }

	.filter-filterOption {
	  font-size: 16px;
	  line-height: 16px;

	  &:after {
	    width: 24px;
	    height: 24px;
	    content: " ";
	    line-height: 24px;
	    border: 1px solid #999999;
	    border-radius: 4px;
	    font-size: 19px;
	  }
	}

	.filter-filterOption_active {
	  background-color: #ffffff;
	  &:after {
	    background-color: #008DC8;
	    border-color: #008DC8;
	    content: "5";
	    color: #FFF;
	    font-size: 14px;
	  }
	}

	&#product-filters-wrapper{
		a.filter-filterOption_active:hover{
			color: #008DC8;
		}
	}

	.filter-activeItem {
		  background-color: #666666;
		  border-radius: 4px;
		  font-size: 16px;
		  line-height: 16px;
		  color: #fff !important;
		  font-family: 'Tesco';
		  .no-touch &:hover {
		    background-color: $tescoBrightBlue;
		    color: #fff;
		    &:after {
		      color: #008DC8;
		    }
		  }

		  &:after {
		    font-family: 'Tesco Icons';
		    content: "y";
		    border: 1px solid #fff;
		    border-radius: 10px;
		    padding-left: 4px;
		    background-color: #fff;
		    width: 13px;
		    font-size: 8px;
		    line-height: 18px;
		    color: #666;
		    right: 10px;
		    top: 12px;
		  }
	}
}
