/*******************************************
*	Tablet Example module
*******************************************/

@import "../breakpoints";
@include breakpoint(allTablet);
@import "common-mixins";
    
@include hint-messaging-ll-l-m(20px, 315px, 0, 15px, 0 0 5px 0);
    
@include notificationOverlay;

.checkbox {
	:hover>&,
	:target>&,
	:active>& {
		&:after {
			display: none;
		}
	}
	.selected>a>&,
	.selected>& {
		&:after {
			display: block;
		}
	}
}

@include overlay-touch;

#lightbox {
	margin: 20px 7%;
	width: 84%;
	h2 {
		padding: 16px 32px 16px 16px;
	}
	.lightbox-actions.shown {
		padding-right: 32px;
		&.top {
			display: block;
		}
	}
	.lightbox-actions.top {
		float: right;
		width: auto;
	}
	&.subsequent {
		.filter-options h4 {
			line-height: 36px;
		}
	}
}

// server returned errors for forms
.page-error {
    margin-right: 1.25%;
    margin-left: 1.25%;
    &.full-page-form-error {
        width: 77.5%;
        margin-left: auto;
        margin-right: auto;
    }
}

// GENERIC OVERLAY

#notificationContainer {
    .notification {
        padding: 0;
    }
}