/*******************************************
*	Example module
*******************************************/

@import "../variables";
@import "common-mixins";

//Form styling
#page-container {
    @include inputStyles;
}

#main-content #listing a.stock-alert.secondary-button {
   @include secondaryButtonColoring;
}

#main-content #listing.product-grid .load-more-tile a,
#main-content #listing #compare-dialog a{
    color:#fff;
    &:hover{
        text-decoration:none;
        color:#fff;
    }

    &#clear-all {
      color: $tescoBlue;
    }
}
#main-content #listing,
#main-content #secondary-content,
#supplemental, .supplemental,
.feature-products.carousel, .product-grid, .product-carousel{
    a, a:link, a:visited, a:active {
        color: $xDarkPutty;
        text-decoration: none;
    }
    a:hover, a:link:hover, a:visited:hover {
        color: $tescoBrightBlue;
        text-decoration: underline;
    }
}

#product-filters-wrapper{
    a:link,
    a:visited {
        color : $xDarkPutty;
    }
    .no-touch & {
        a:hover {
           text-decoration: underline;
        }
    }
    a:active {
        color : #fff;
    }
    a.filter-activeClearAll {
        color : $tescoBlue;
   }
}

#supplemental, .supplemental {
    .product-carousel .product-carousel-nav {
      .disabled {
        .previous, .next {
          color: $midDarkGrey;
        }
    }
    .previous, .next {
      color: $tescoBlue;
    }
   }
}

#main-content #listing a.total-reviewers{
    color: $tescoBrightBlue;
}
// COMMON ACROSS MODULES
.rating {
    position: relative;
    top: 1px;
    float: left;
    width: 70px;
    height: 12px;
    margin-right: 5px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url('../img/star-rating-sprite.png') repeat-x 0 0;
    margin-bottom:3px;
}
.stars {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 12px;
    text-indent: 100%;
    white-space: nowrap;
    background: url('../img/star-rating-sprite.png') repeat-x 0 -12px;
    &.stars-1 {
        width: 20%;
    }
    &.stars-2 {
        width: 40%;
    }
    &.stars-3 {
        width: 60%;
    }
    &.stars-4 {
        width: 80%;
    }
    &.stars-5 {
        width: 100%;
    }
    &.stars:after {
        content: '';
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        background: url('../img/star-rating-sprite.png') repeat-x 0 -12px;
        width: 0;
        height: 0;
    }
    &.point-25:after {
        height: 6px;
        width: 10px;
        right: -10px;
        @include border-radius(0 0 12px/8px 0);
    }
    &.point-5:after {
        height: 8px;
        width: 12px;
        right: -12px;
        @include border-radius(0 0 12px/9px 0);
    }
    &.point-75:after {
        height: 10px;
        width: 14px;
        right: -14px;
        @include border-radius(0 0 12px/10px 0);
    }
    &.stars-5.point:after {
        display: none; // Can't have 5.25, 5.5 or 5.75 stars
    }
}

// GENERIC OVERLAY

#notificationContainer{
    position: absolute;
    top:0;
    right:0;
    left:0px;
    height: auto;
    z-index: 10000;

    &.posfixed {
        position: fixed;
        top: 0;
        width: 960px;
        margin-top: 0;
    }

    &.fixed {
        position: absolute;
        width: 960px;
        margin-top: 0;
    }

    h2 {
        font-size: 1.8em;
        margin-bottom: 10px;
        padding-right: 64px;
    }

    &.visible{
        display: block;
    }


    .notification {
        position: relative;
        @include box-shadow(0 1px 4px rgba(0,0,0,0.2));
        background: #fff;
        border-style:solid;
        border-color: #3e3e3f #848282 #848282 #848282;
        border-width: 4px 1px 1px 1px;
        padding: 16px;

        .close {
            position: absolute;
            top: 16px;
            right: 16px;
            &:hover {
                text-decoration: none;
            }

            .icon{
                color: $lightGrey;
                font-size: 1.2em;
                &:after {
                    font-family: 'Tesco Icons';
                    content: 'y';
                }
            }
            .label {
                @include screen-reader;
            }
        }
    }
}

.checkbox {
    float: right;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
    background: #fff;
    color: $contentLink;
    border: 1px solid $lightPutty;
    font-size: 19px;
    text-align: center;
    &:after {
        display: none;
        font-family: 'Tesco Icons';
        content: '5';
        font-size: 0.85em;
        padding-left: 1px;
    }
    .selected>a>&,
    .selected>&,
    .no-touch a:hover>&,
    .no-touch a:active>& {
        &:after {
            display: inline;
        }
    }
    .selected>a>&,
    .selected>&,
    .no-touch a:active>& {
        color: #fff;
        border-color: $positiveGreen;
        background-color: $positiveGreen;
    }
}

.screen-reader-text {
    @include screen-reader;
}

#wrapper.no-scroll {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 550;
}

#overlay {
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding-bottom: 20px;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.9);
    overflow: auto;
    opacity: 1;
    @include transition('opacity 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000)');
    &.hidden {
        opacity: 0;
        @include transition('opacity 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000)');
    }
}
#lightbox {
    position: relative;
    top: 0;
    left: 0;
    z-index: 650;
    margin: 16px auto;
    border: 1px solid $tescoBrightBlue;
    background: #fff;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    &:after {
        @include clear-fix;
    }
    @include transition('opacity 300ms linear');
    &.subsequent {
        @include transition('left 300ms linear');
    }
    &.hidden {
        opacity: 0;
        &.subsequent {
            @include transition('left 300ms linear');
            left: 100%;
        }
    }
    &.error {
        border-color: $error;
        #lightbox-content {
            &:before {
                position: absolute;
                top: 11px;
                left: 15px;
                content: '8';
                color: #dd2d28;
                font-family: 'Tesco Icons';
                font-size: 20px;
            }
            padding: 12px 15px 0 44px;
        }
    }
    .lightbox-actions {
        overflow: hidden;
        padding: 16px 20px;
        &.top {
            display: none;
        }
        .apply {
            @include secondaryButton;
            float: right;
            display: inline-block;
            font-weight: bold;
            .icon {
                display: inline-block;
                padding-left: 10px;
            }
            border-color: #014b8f;
            color: #fff;
            margin: 0 0 0 8px;
            padding-right: 10px;
            .icon {
                font-size: 19px;
                line-height: 10px;
            }
        }
        .close {
            position: absolute;
            top: -14px;
            right: -14px;
            display: block;
            width: 28px;
            height: 28px;
            line-height: 28px;
            color: #fff;
            text-align: center;
            font-size: 14px;
            font-family: 'Tesco Icons';
            @include secondaryButtonColoring;
            @include border-radius(14px);
            border-color: #014b8f;
            @include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.1));
            text-decoration: none;
        }
    }
}

// server returned errors for forms
.page-error {
    position: relative;
    margin: 12px 8px 20px;
    padding: 16px 12px 0 50px;
    border: 1px solid $colorRed;
    background-color: #FFF;
    &:before {
        content: '8';
        position: absolute;
        top: 14px;
        left: 15px;
        color: $colorRed;
        font-size: 20px;
        font-family: 'Tesco Icons';
    }
    ul {
        li {
            margin: 0 0 14px;
            font-size: 1.4em;
            line-height: 20px;
        }
    }
    p {
        margin-top: 0;
        font-size: 1.4em;
        line-height: 20px;
    }
}

span.facet-str-name{
    color: $linkColor;
}

.BVRRSocialBookmarkingLinks{
    display: none;
}

.displayNone {
    display: none;
}

/* PCA anywhere */
.pcaAutoCompleteSmall{
    z-index: 1000;
}
.pcaCapturePlusTable .bottom{
    display:none;
}

input {
    &.highlight {
        background: #FEFEEA !important;
    }
    &.valid {
        background: #FFF !important;
    }
}
.post-code {
    min-height:45px;
    z-index:12;
    button {
        width: 25%;
        float: right;
        margin-top: 0;
    }
    .postal-code-pca {
        float:left;
        width:70%;
    }
    table.pcaCapturePlusTable {
        float:left;
        width:70% !important;

        td {
            width:70%;
        }
        .message {
            width: 100%;
        }
        input#postal-code-pca {
            width:100%;
        }
    }
    /* Hide second instance of error */
    .pcaCapturePlusTable span.error:nth-child(2) {
        display: none !important;
    }
}
.product-ping{
    float:none;
    height:auto;
    left:10px;
    position:absolute;
    top:10px;
    width:auto;
    z-index: 1;
    img{
        display:block;
    }
}
.product-ping.oosPing{
    opacity: 0.5;
}
.fnToolTip{
    cursor:pointer;
}
.tooltipPopup {
    background: #fff;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #848282;
    position: absolute;
    left: -17px;
    width: 295px;
    padding: 16px 8px;
    z-index: 5012;
    margin-top: 20px;
    display:none;
    font-size:10px;
    &:before, &:after{
        content: "";
        border: 27px solid #848282;
        border-color: transparent transparent #848282 transparent;
        height: 0;
        width: 0;
        top: -54px;
        position: absolute;
        left: 50%;
        margin-left: -27px;
    }
    &:after {
        border-color: transparent transparent white transparent;
        border-width: 25px;
        top: -50px;
        margin-left: -25px;
    }

    .close{
        cursor: pointer;
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        right: -15px;
        top: -15px;
        overflow: hidden;
        z-index: 21;
        background: #7c765f;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        .label {
            left: -9999em;
            position: absolute;
        }
        .icon{
            top: 8px;
            left: 9px;
            font-size: 1em;
            color: #fff;
        }
        &:hover {
            text-decoration:none;
        }
    }
}
.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:1;
}
.clearfix{
    clear:both;
}
.sprite1 {
    background-image: url('../img/sprite1.png');
    display:inline-block;
}

.sprite1.freeRedBox{
    background-position: -50px 0px;
    width:45px;
    height:45px;
}
.sprite1.saveRedPercent{
    background-position: -100px 0px;
    width:45px;
    height:45px;
}
.sprite1.saveRedPounds{
    background-position: -100px -50px;
    width:45px;
    height:45px;
}
.sprite1.freeRedTruck{
    background-position: -100px -100px;
    width:45px;
    height:45px;
}
.sprite1.redPoints{
    background-position: -50px -150px;
    width:45px;
    height:45px;
}
.personalised-message-indicative {
    p {
        line-height: normal;
        &:before {
            content: 'm';
            font-family: 'Tesco Icons';
            font-size: 1.4em;
            float: left;
            padding-bottom: 1em;
            margin-right: 1px;
            line-height: 0.9em;
        }
    }
}

/* notification message */
.notification-block {
    margin: 11px 8px 16px 8px;
    padding: 16px;
    &.success {
        border: 1px solid $tescoBrightBlue;
        background: $veryLightBlue;
    }
    p {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        &.heading {
            font-family: "Tesco", arial;
            font-size: 20px;
            line-height: 24px;
            margin:  0 22px 10px 0;
            position: relative;
            &:after {
                content: '5';
                font-family: 'Tesco Icons';
                font-size: 0.9em;
                line-height: 1.4em;
                position: absolute;
                top: 0;
                right: -20px;
                color: $babyJade;
            }
        }
    }
}

.hint-messaging {
    display: none;
}

.hint-messaging-messages {
    background: $passwordLightBlue;
    border: 1px solid $tescoBrightBlue;
    position: relative;
    font-size: 12px;
}

.hint-messaging-message {
    display: block;
}

.hint-messaging-list {
    list-style: disc inside;
    line-height: 16px;
}

/*
* TODO: this is poor implementation that is used on the my-account navigation section, this should be replaced eventually with the code below
*/
.toggle-expand-collapse {
    &:after {
        position: relative;
        top: 0;
        right: 0;
        float: right;
        font-size: 12px;
        font-family: 'Tesco Icons';
        content: 'D';
    }
    &.is-expanded {
        &:after {
            content: 'U';
        }
    }
}
.expand-collapse-content {
    display: none;
    &.is-expanded {
        display: block;
    }
}


.plain-full-bleed {
    background-color: $background;
    > .page {
        width: 100%;
    }
}

html.ie8 {
    .plain-full-bleed {
        > .page {
            width: 960px;
        }
    }
}

.dark-full-bleed {
    background: $darkBg;
}

.light-full-bleed {
    border-top: 1px solid $paleGrey;
    background-color: $background;
}

.filter-overlayWaiting {
  display: none;
  position: fixed;
  opacity: 0.95;
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $pagePutty;
  background-image: url('../images/ajax-loader-big.gif');
  background-position: center 30%;
  background-repeat: no-repeat;
  .filter-overlayText {
    font-size: 24px;
    font-family: Tesco;
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    color: $xDarkPutty;
  }
  .filter-refresh & {
    display: block;

  }
}
