@mixin overlay-touch {
	#lightbox {
		position: absolute;
		width: 100%;
		-webkit-overflow-scrolling: touch;
		h2 {
			font-size: 16px;
			margin: 0;
		}
		.lightbox-actions {
			height: 0;
			padding: 0;
			width: 100%;
			&.top {
				display: block;
			}
		}
		&.subsequent {
			.lightbox-actions {
				height: auto;
				padding: 16px;
			}
		}
	}
}

@mixin notificationOverlay {
	#notificationContainer{
		bottom: 0;
		background: rgba(255,255,255,0.8);
		display: none;
		&:visible{
			display: block;
		}
	}
}

@mixin hint-messaging-ll-l-m($top, $left, $paddingLeft, $messagesPadding, $messageMargin) {
    .hint-messaging {
        width: 237px;
        position: absolute;
        left: $left;
        top: $top;
        z-index: 10;
        padding-left: $paddingLeft;
    }
    .hint-messaging-messages {
        padding: $messagesPadding;
        &:after {
            top: 12px;
            left: -13px;
            display: block;
            content: " ";
            position: absolute;
            z-index: 9;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 13px 10px 0;
            border-color: transparent $tescoBrightBlue transparent transparent;
        }

        &:before {
            top: 12px;
            left: -12px;
            display: block;
            content: " ";
            position: absolute;
            z-index: 11;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 13px 10px 0;
            border-color: transparent $passwordLightBlue transparent transparent;
        }
    }
    .hint-messaging-message {
        margin: $messageMargin;
    }
}

@mixin topPositionedTooltip {
  & {
    background: $backgroundGrey;
    border: 1px solid $midDarkGrey;
    border-radius: 3px;
    bottom: 50px;
    display: none;
    left: 5px;
    padding: 10px;
    position: absolute;
    width: 93%;
    z-index: 20;

    &:after,
    &:before {
      border: 17px solid $midDarkGrey;
      border-color: $midDarkGrey transparent transparent;
      bottom: -34px;
      content: '';
      height: 0;
      left: 57%;
      margin-left: -17px;
      position: absolute;
      width: 0;
     }

    &:after {
      border-color: $backgroundGrey transparent transparent;
      border-width: 15px;
      bottom: -30px;
      margin-left: -15px;
      }

    p {
      color: $asphalt;
      font-family: $tescoFont;
      line-height: 20px;
      margin: 0;
    }

    .close {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      background: $darkPutty;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 30px;
      overflow: hidden;
      position: absolute;
      right: -15px;
      top: -15px;
      width: 30px;
      z-index: 21;

      .icon {
        color: $white;
        font-size: 1em;
        left: 9px;
        line-height: 15px;
        position: absolute;
        top: 8px;

        &:before {
          content: 'y';
          font-family: 'Tesco Icons';
        }
       }

      .label {
        left: -9999em;
        position: absolute;
      }
    }
  }
}
