/*******************************************
*	Desktop Example module
*******************************************/

@import "../breakpoints";
@include breakpoint(desktop);
@import "common-mixins";

@include hint-messaging-ll-l-m(20px, 315px, 0, 15px, 0 0 5px 0);

#lightbox {
	top: 20px;
    float: left;
    width: 84%;
    position: absolute;
    margin: 20px 8%;
}