$inputIconPosLeft: 14px;
$colWidth: 300px;

@mixin clubcard-details-ll-l-m-s {
    #clubcard-number {
        #register-clubcard {
            width: 300px;
        }

        margin-top: 20px;
    }

    .js #clubcard-number {
        display: none;
    }

    .custom-radio.checked + label + #clubcard-number {
        display: block;
    }


    .clubcard-options {
        margin-top: 16px;
    }

    .clubcard-option {
        margin-bottom: 20px;
        max-width: 300px;

        &.no-clubcard {
            margin-top: 32px;
        }
    }

    %clubcardImage {
        padding: 10px 0px 10px 72px;
        display: inline;
        margin-top: -5px;
    }

    .clubcard-options {
        .has-clubcard {
            @extend %clubcardImage;
            background: url('../images/registration/ClubcardYes.jpg') no-repeat;
        }

        .has-no-clubcard {
            @extend %clubcardImage;
            background: url('../images/registration/ClubcardNo.jpg') no-repeat;
        }
    }
}

@mixin integrated-registration-box {
	margin-bottom: 20px;
	padding: 0 7px 8px;
	border: 1px solid $primaryBorderColor;
	background-color: #fff;
}

/* fix the repetition */
@mixin integrated-registration-ll-l-m {

    @include clubcard-details-ll-l-m-s;

	#integrated-registration {

	    .full-page-form {
			@include integrated-registration-box;
			padding: 16px 15px;

	        input[type=submit].disabled {
	            border-color: $primaryBorderColor;
	        }

			h2 {
				margin-top: 0;
				font-size: 2.4em;
			}
			.forgotten-password {
				margin-top: 38px;
			}
			.checkbox {
				float: left;
				margin: -3px 10px 0 0;
			}
	    }
	}

	#about-you-mod {
	    .tabs {
	        width: auto;

	        li {
	        	width: 312px;
	        }
	    }
	}

	#ir-sign-in-mod {
        fieldset {
            width: $colWidth;
        }

	    .forgotten-password {
	        margin-top: 20px;
	    }
	}

	.reg-error .field-note {
    	margin-top: 55px;
    }

	#ir-register1-mod {

        fieldset {
            width: 100%;
        }

	    .salutation-wrapper {
	        width: 100%;
	        clear: both;
	        &:after {
	            @include clear-fix;
	        }
	        .field-wrapper {
	            float: left;
	            margin-right: 16px;
	            &:last-child { margin-right: 0; }

	            &.reg-title {
	                width: 80px;
	            }
	            &.register-firstname {
	            	width: 204px;
	            }
	            &.register-lastname {
	                width: 300px;
	            }

	            .customDropdown .control {
	                width: 100%;
	            }
	        }
	    }
	    .reg-phone,
	    .reg-password,
        .reg-email,
        .post-code {
            width: $colWidth;
        }

	    input[type=submit] {
	        width: 300px;
	        float: left;
	    }
	    .footnotes {
	        margin-top: 16px;
	    }

	    //pca-container
	    .pca-container {
	    	width: 100%;
	    }
	    .post-code button {
	    	width: 86px;
    	}

    	/* editable address */
	    .manually-add-address,
	    .hide {
	        display: none;
	    }

	    .manually-add-address {
	        clear: both;
            width: $colWidth;

	        .locality-city {
	            padding-left: 20px;
	        }
	    }

	    .post-code {
	        max-width: $colWidth;

	        table.pcaCapturePlusTable {
	        	width: 200px !important;
	        	.message,
	        	.pcaAutoCompleteSmall {
	            	width: 300px !important;
	            }
	        }
	    }
	}
}

@mixin integrated-registration-ll-l($buttonNoteRightMargin) {
    #integrated-registration {
        .full-page-form {
            .button-note {
                padding-top: 30px;
                float: right;
                margin-right: $buttonNoteRightMargin;
                width: 512px;
                span{
                  color: #00a1e0;
                }
            }
        }
    }

    #ir-register1-mod {
         input[type=submit]{
            margin: 24px 10px 24px 0;
         }
    }


}

@mixin integrated-registration-m-s($buttonNotePaddingTop, $buttonNoteWidth) {
    #integrated-registration {
        .full-page-form {
          #ir-sign-in-mod {
            #irspc-SigninIframe {
              min-height: 295px;
            }
          }
          .button-note {
            padding-top: $buttonNotePaddingTop;
            width: $buttonNoteWidth;
            margin-bottom: 0;
          }
        }
    }

    #ir-register1-mod {
         input[type=submit]{
            margin: 12px 10px 12px 0;
         }
    }
}

@mixin registrationCompleteBanner-s {
	#about-you-complete {
        height: 50px;
		text-align: left;

        .inner {
            padding: 10px 0px;
        }

		.icon-complete {
	        margin-left: 10px;
	    }

		> h2 {
	    	float: left;
			margin-left: 10px;
	    }
	}
}

@mixin registrationCompleteBanner-m {
    #about-you-complete {
        text-align: left;

        .inner {
            padding: 18px 0px;
        }

        .icon-complete {
            margin-left: 10px;
        }

        > h2 {
            float: left;
            margin-left: 10px;
        }
    }
}

@mixin registrationCompleteBanner-l-ll {
	#about-you-complete {
	    > h2 {
	    	width: $viewPortWidth;
	    }
	    .inner {
	        width: $viewPortWidth;
	    }
	}
}

@mixin hintMessagingList($nthChild) {
    .password-requirements.hint-messaging {
        .fnCheck#{$nthChild}:before {
            color: $positiveGreen;
            content: '5';
        }
    }
}
