.product-description #main-content .main-details #product-carousel.product-carousel-s7 {
    display: block;
  float: left;
  width: 40%;
  position: relative;
  margin-right: 40px;
  height: 615px;
  clear: left;
  border-bottom: 1px solid $primaryBorderColor;
    
    .btn-overlay, .btn-s7-step {
        display: none;
    }
    canvas {
        position: absolute;
    }
}

/* hide image control tabs and carousel position indicators */
.media-controls, .s7setindicator {
    display: none;  
}

.carousel {
    width: 40px;
    height: 300px;
    .carousel-items-container {
        li {
            height: 40px;
        }
        img {
            width: 40px;
        }
    }
    &.horizontal {
        margin-top: 10px;   
        height: 40px;
        width: 100%;
        position: absolute;
        bottom: 15px;

        .carousel-slider {
            height: 40px;
            position: absolute;
            margin: 0;
            padding: 0 0 0 30px;
            width: 100%;
        }   
        .carousel-items-container {
            li {
                float: left;
                width: 50px;
            }       
        }     
        .carousel-step {
            float: left;
            height: 100%;
            width: 25px;
            z-index: 2;
        
            &.carousel-next {
                float: right;
                &:after {
                    content: 'r';
                }
            }
            &.carousel-prev:after {
                content: 'g';
            }
        }
    }
}
.btn-s7-step {
    top: 220px;     
}

.s7zoomview {    
    img {
        top: 20px !important;
    }
    .s7iconeffect {
        background-image: none;
        @include hide-elements;
    }
}

#prodZoomView.s7zoomview {
    width: 100%;
    height: 546px;
    border: 1px solid $primaryBorderColor;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

/*
 * Scene7 Image Viewer / Video Viewer / Spin viewer
 */
.product-description #main-content .main-details #product-carousel {
    &.product-carousel-s7 {
        display: block;
        float: left;
        width: 40%;
        position: relative;
        margin-right: 40px;
        height: 615px;
        clear: left;
        border-bottom: 1px solid $primaryBorderColor;
    }
    .btn-overlay, .btn-s7-step, .media-controls, .s7setindicator {
        display: none;
    }
    .carousel {
        width: 40px;
        height: 300px;
        .carousel-items-container {
            li {
                height: 40px;
            }
            img {
                width: 40px;
            }
        }
        &.horizontal {
            margin-top: 10px;
            height: 40px;
            width: 100%;
            position: absolute;
            bottom: 15px;
            .carousel-slider {
                height: 40px;
                position: absolute;
                margin: 0;
                padding: 0 0 0 30px;
                width: 100%;
            }
            .carousel-items-container {
                li {
                    float: left;
                    width: 50px;
                }
            }
            .carousel-step {
                float: left;
                height: 100%;
                width: 25px;
                z-index: 2;
                &.carousel-next {
                    float: right;
                    &:after {
                        content: 'r';
                    }
                }
                &.carousel-prev:after {
                    content: 'g';
                }
            }
        }
    }
    #pdpScene7Container {
        .s7container #prodZoomView {
            &.s7zoomview {
                width: 100%;
                height: 546px;
                border: 1px solid $primaryBorderColor;
                box-shadow: 0 2px 4px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                img {
                    top: 20px !important;
                }
                .s7iconeffect {
                    background-image: none;
                    @include hide-elements;
                }
            }
            &.s7flyoutzoomview {
                width: 498px !important;
                height: 478px !important;
                .s7flyoutzoom {
                    display: none !important;
                   opacity: 0 !important;
                }
            }
        }
    }
}