/* HTML5 player styles */

@include pdp-scene7-container-dimensions(340px,300px);

.s7container {
    overflow: hidden;
}

.product-carousel-s7 {  
    .s7-spin-thumb { 
        display: block;
    }       
    .media-controls {
        margin-top: 10px;       
        div {
            margin: 0;
            padding: 7px 10px;
        }
    }
    .carousel {
        width: 40px;
        height: 300px;
        .carousel-items-container {
            li {
                height: 40px;
            }
            img {
                width: 40px;
            }
        }       
        &.horizontal {  
            margin-top: 10px;           
            height: 40px;
            width: 100%;
            
            .carousel-slider {
                height: 40px;
                position: absolute;
                margin: 0;
                padding: 0 0 0 30px;
                width: 100%;
            }       
            .carousel-items-container {
                li {
                    float: left;
                    width: 50px;
                }               
            }           
            .carousel-step {
                float: left;
                height: 100%;
                width: 25px;                
                z-index: 2;
                
                &.carousel-next {
                    float: right;
                    &:after {
                        content: 'r';
                    }
                }
                &.carousel-prev:after {
                    content: 'g';
                    z-index: 2;
                }
            }
        }       
    }
}

.three-pdpproducts {
        width: 31.3%;
}
.two-pdpproducts { 
        width: 48.4%;
}

/* HTML5 overlay styles */

#lightbox {
    &.pdpS7Overlay {
        top: 0;
        .product-carousel-s7 {
            #btn-overlay {
                display: none;
            }   
            .errorVideo {
                .errorWrap {
                    width: 346px;
                    span {
                        font-size: 2em;
                    }
                }
            }
        }
    }
}


#product-carousel {
  .product-ping{
    top:3px;
    left:0px;
  }
}
 

@include hide-carousel-indicators;

/* ************************************** */
/* Scene7 image player updated March 2015 */
/* ************************************** */
#pdpScene7Container .s7container #prodZoomView.s7flyoutzoomview {
    width: 340px !important;
    height: 300px !important;
    .s7flyoutzoom {
        width: 340px !important;
        height: 300px !important;
    }
}
#lightbox #pdpScene7Container .s7container #prodZoomView.s7flyoutzoomview {
    .s7flyoutzoom {
        width: 800px !important;
        height: 300px !important;
    }
}