@import '../product-details-mixins';
@import '../../breakpoints';

$dividerClr: #eee;
$primaryBuyboxBkgColor: #fff;
/**/
$buyingOptionsTitleBkgColor: #eee;
$buyingOptionsTitleBdrColor: #fff;
/**/
$sellerSummaryBdrColor: $dividerClr;
$sellerSummaryBdrColorSmall: #fff;
$sellerSummaryBkgColorSmall: $naturalWhite;
/**/
$panelHeaderBkgColor: #e3e2e2;
/**/
$textColor: #666;
@mixin buyboxProductDetailsAll {
  .buybox-wrapper {
    padding-left: 10px;
    padding-bottom: 4px;
    position: relative;
    z-index: 1;

    .add-to-basket-view,
    .request-stock-alert-view {
      margin-bottom: 20px;
    }
  }

  .buybox-placeholder-content {
    max-height: 500px;
    overflow: hidden;
    position: relative;

    .with-bkg-loader {
      background-color: $primaryBuyboxBkgColor;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  .buybox-mask {
    display: none;
  }

  .buybox-content-view {
    margin-bottom: 20px;

    .release-date {
      margin-top: 5px;
    }

    .minimum-age {
      background: $buyingOptionsTitleBkgColor;
      color: $offBlack;
      font-size: 14px;
      font-weight: bold;
      padding: 5px 0px 5px 8px;
      margin-bottom: 20px;
    }

    .product-price-wrapper {
      margin-top: 3px;
    }

    .clubcard-boost-wrapper {
      max-width: 280px;
      margin-top: 5px;
      cursor: pointer;

      img {
        position: relative;
      }

      p {
        margin-left: 10px;
        margin-top: 4px;

        &.clubcard-points {
          margin-top: 0;
        }
      }
    }
  }

  .add-to-basket-view {
    &.with-quantity {
      .add-to-basket-button-wrapper {
        margin-left: 65px;
      }
    }
  }

  .request-stock-alert-view {
    .stock-alert-success {
      height: 0;
      overflow: hidden;
      @include multipleTransitions(height .1s);
    }

    &.stock-alert-set {
      button {
        display: none;
      }

      .stock-alert-success {
        height: 140px;
      }
    }
  }

  .gift-message-view {
    display: inline-block;
    line-height: 22px;
    margin-bottom: 20px;
    vertical-align: middle;

    p {
      display: inline-block;

      &:before {
        color: inherit;
        content: "d";
        display: inline-block;
        font-family: "Tesco Icons";
        font-size: 16px;
        line-height: 22px;
        margin: 0 6px 4px 1px;
      }
    }
  }

  .stock-alert-success__box {
    border: 1px solid $darkGreen;
    border-radius: 4px;
    color: $darkGreen;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;

    .icon-wrapper {
      @include centerVertically(left, 10px);
    }

    p {
      color: $darkGreen;
      margin-left: 30px;
    }
  }

  .stock-alert-success__link {
    border-bottom: 1px solid $dividerClr;
    padding-bottom: 15px;
  }

  .info-panel {
    .stock-alert-success__link {
      border-bottom: 1px solid $paleGrey;
    }

    &.info-panel-buybox {
      .add-on-item {
        top: 0;
      }
    }
  }

  .event-message-wrapper {
    .event-message {
      margin-bottom: 10px;

      .message-1 {
        font-weight: bold;
      }

      .prominent {
        font-weight: bold;
        color: $offers;
      }
    }
  }

  .delivery-snippet-wrapper {
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;

    .countdown-message {
      display: none;
    }

    .more-delivery-options {
      margin-top: 5px;
    }

    &.with-countdown {
      .delivery-options-text {
        display: block;
      }

      .countdown-message {
        display: block;
        margin-bottom: 5px;
      }
    }

    .more-delivery-options-text {
      &:before {
        content: '+';
        margin-right: 2px;
      }
    }

    .more-delivery-options-link {
      margin-left: 15px;
      position: relative;

      &:before {
        content: '';
        background-color: #666;
        height: 13px;
        left: -9px;
        position: absolute;
        top: 3px;
        width: 1px;
      }
    }

    .countdown {
      span {
        font-weight: bold;
        color: $offers;
      }
    }
  }

  .delivery-details-group {
    border-bottom: 1px solid $lightGrey;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .variants-view,
  .store-stock-check-view {
    margin-bottom: 20px;
  }

  .buying-options-title {
    font-size: 15px;
    font-weight: bold;
    height: 31px;
    border-bottom: 1px solid $background;
    padding: 4px 0;
    text-align: center;
    background-color: $buyingOptionsTitleBkgColor;
  }

  .seller-summary-view {
    position: relative;
  }

  .seller-summary {
    background-color: $naturalWhite;
    border-bottom: 1px solid $background;
    cursor: pointer;
    padding: 10px;

    .seller-summary-left-icon-wrapper {
      @include centerVertically(left, 0);
      line-height: normal;
    }

    &:hover {
      background-color: #f4f4f4;

      .seller-summary-left-icon-wrapper {
        color: $tescoBrightBlue;
      }
    }

    .seller-summary-name-wrapper {
      margin-bottom: 4px;

      .add-on-item {
        top: 4px;
      }
    }

    .seller-summary-price-wrapper {
      display: table;
      padding-left: 20px;
      position: relative;
      width: 100%;
    }

    .seller-summary-product-price {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
    }
  }

  .seller-summary-delivery-option {
    display: table-cell;
    padding-left: 5px;
    vertical-align: middle;
    width: 100%;

    &:before {
      content: '+';
      display: inline-block;
      margin-right: 2px;
      vertical-align: middle;
      width: 8px;
    }

    .seller-summary-delivery-option-text {
      display: inline-block;
      font-size: 12px;
      vertical-align: middle;
      width: calc(100% - 23px);
    }
  }

  .why-sellers-wrapper {
    margin-top: 12px;
  }

  .disc-prod-title {
    border-bottom: 1px solid $midDarkGrey;
    padding-bottom: 15px;
  }

  .no-touch .PDP-Version2__page a.partner-info-icon {
      color: $blue;
      margin-left: 3px;

      &:hover {
          text-decoration: none;
      }
  }

  .wishlists-wrapper {
    padding-top: 15px;
  }
}

@mixin buyboxProductDetailsLarge {
  .buybox-wrapper {
    @include translate3d(0, 0, 0);
  }

  .buybox-mask {
    background-color: #ffffff;
    bottom: 0;
    display: none;
    position: absolute;
    top: 0;
    @include opacity(.7);

    &.is-active {
      display: block;
    }

    &.with-bkg-loader {
      background-color: #ffffff;
    }

    &.buybox-mask-media-player {
      right: 100%;
      width: 300%;
      z-index: -2;
    }

    &.buybox-mask-buybox-content {
      left: 0;
      width: 100%;
      z-index: 1;
    }
  }

  .seller-summary-view {
    &.is-active {
      z-index: 1;
    }
  }
}
@mixin buyboxProductDetailsSmall {

  .buybox-mask {
    &.is-active {
      display: block;
    }
    &.with-bkg-loader {
      @include opacity(.7);
      background-color: #ffffff;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2; 
    }
  }

  .buybox-wrapper {
    min-height: 0;
    padding-left: 0;

    .stock-messaging-wrapper {
      margin-bottom: 10px;
    }

    .event-message {
      padding: 0 10px;
    }
  }

  .primary-buybox {
    .buybox-content-view,
    .item-actions-view,
    .store-stock-check-view,
    .variants-view,
    .warranties-view {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .delivery-snippet-wrapper {
    background-color: $sellerSummaryBkgColorSmall;
    border-bottom: 1px solid $sellerSummaryBdrColorSmall;
    padding: 20px 10px;

    .countdown-message-text,
    .delivery-options-text,
    .more-delivery-options,
    .click-and-collect-charges {
      margin-right: 35px;
    }

    p.delivery-options-text {
      &.highlight {
        color: $textColor;

        &:active,
        &:focus,
        &:hover {
          color: $textColor;
        }
      }
    }

    .delivery-snippet-icon-wrapper {
      @include centerVertically(right, 5px);
    }
  }

  .request-stock-alert-view {
    &.stock-alert-set {
      .stock-alert-success {
        height: 120px;
      }
    }
  }

  .info-panel {
    .buybox-content-view,
    .warranties-view,
    .item-actions-view,
    .buybox-promotions-wrapper,
    .delivery-details-wrapper,
    .event-message,
    .size-guide {
      padding-left: 20px;
      padding-right: 20px;
    }

    .countdown-message-text,
    .delivery-options-text,
    .more-delivery-options {
      margin-right: 25px;
    }

    .delivery-snippet-wrapper {
      background-color: $panelHeaderBkgColor;
      border-bottom: none;
      margin-bottom: 20px;
      padding: 20px;
    }
  }

  .buying-options-title {
    font-weight: 700;
    border-top: 1px solid $buyingOptionsTitleBdrColor;
    border-bottom: 1px solid $buyingOptionsTitleBdrColor;
  }

  .seller-summary {
    background-color: $sellerSummaryBkgColorSmall;
    border-bottom: 1px solid $sellerSummaryBdrColorSmall;

    .seller-summary-name-wrapper {
      .seller-summary-name {
        margin-right: 35px;
        vertical-align: middle;

        strong {
          display: inline;
        }
      }
    }

    .seller-summary-price-wrapper {
      padding-left: 0;
    }

    .seller-summary-icon-wrapper {
      @include centerVertically(right, 5px);
    }
  }

  .disc-prod {
    padding: 0 10px;
  }
}

/**
 *
 */
@mixin s-m-eventMessagingDelivery() {
  position: relative;
  padding: 20px 10px;
  background-color: $naturalWhite;

  .delivery-options-container {
    .ndo-list {
      .ndo-item {
        &[data-ndo-count="1"] {
          .ndo-lead-text {
            color: $textColor;
          }
        }
      }
    }
  }
}
@mixin s-m-moreDeliveryIcon() {
  .icon {
    margin-top: -11px;
    position: absolute;
    right: 10px;
    top: 50%;

    &:after {
      font-size: 25px;
      content: 'r';
    }

    &:hover {
      text-decoration: none;
    }
  }
}
@mixin l-ll-moreDeliveryIcon() {
  .more-delivery-options-text {
    &:after {
      content: ' | ';
    }
  }

  .icon {
    font-family: $tescoFont;

    &:after {
      font-size: 14px;
      color: $linkColor;
      content: 'See details';
    }
  }
}
@mixin buyboxProductDetailsKiosk() {
  .buybox-wrapper {
    padding-left: 0;

    .buybox-view {
      border-left: 20px solid $pagePutty;
      height: 859px;
      padding: 20px;
    }

    .special-offers-list {
      li:last-child .special-offer-container {
        border: 0;
      }

      .special-offer-container {
        margin: 0 0 10px;
        border-bottom: 1px solid $lightPutty;
        padding-bottom: 10px;

        .offer-cta {
          margin: 0 0 10px;
        }
      }
    }

    .delivery-details-lead-time-advisory,
    .delivery-details-returns-policy {
      a {
        @include text;
        @include smallerText;

        &:hover,
        &:active,
        &:focus,
        &:visited {
          @include text;
          @include smallerText;
          text-decoration: none;
          cursor: text;
        }
      }
    }
  }
}
