@import 'buy-box-mixins';
@include buyboxProductDetailsLarge;

.minimum-age {
  position: absolute;
  top: -40px;
  width: 100%;
}
    
.buybox-wrapper {
  min-height: 358px;
}

.media-viewer--portrait {
  .buybox-wrapper {
    min-height: 670px;
  }
}
