/*******************************************
*	Example module
*******************************************/

@import "../variables";
@import "popular-searches-mixins";

#popular-searches {

	padding-left: 8px;
	margin-bottom: 8px;
	line-height: 21px;
	overflow: hidden;
	max-height: 28px;

	.popular-search-list {
		width: 80%;
		float: left;
		
		.label {
			font-size: 1.4em;
			padding-right: 16px;
			float: left;
		}

		ul{

			li{
				display: inline-block;
				padding-right: 8px;

				a {
					padding: 0;
					margin: 0;
				}
			}

		}
	}

	.social-media {
		float: left;
		width: 20%;
		padding-right: 8px;
		a, p {
			float: left;
		}
		p {
			padding-right: 4px;
			line-height: 22px;
			margin: 0;
			font-weight: bold;
			font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
			font-size: 1.4em;
		}
		a {
			padding-left: 2px;
		}
	}

}