/*******************************************
*	Desktop Add To Basket Overlay module
*******************************************/

@import "../breakpoints";
@include breakpoint(desktop);
@import "add-to-basket-overlay-mixins";

@include product-info-with-image;

#notificationContainer {
	.proceed-to-checkout{
		width: 30%;
	}
}

#notificationContainer {
    .add-to-basket-notification {
        .product-info {
            .thumbnail-container {
		        position: relative;
		        img {
		            &.bcve_ping {
		               position: absolute;
		            }
		        }
		        @include bcveIcon(auto, 8px, 18px, auto, 22px, 36px);
            }
        }
    }
}