.pdp-configurator {
	#page-container .configurator-banner {
        @include transition(all 0.5s ease);
        @include clearfix();
        background: #fe532d;
	    padding: 12px 27px;

	    h1,
	    p {
        	@include transition(all 0.5s ease);
	    }

		h1,
		.banner-title {
		    font-weight: bold;
		    font-size: 3em;
		    color: #fff;
		    margin: 0;
		    float: left;
		    max-width: 50%;
		}
		
		.banner-msg {
			font-family: "Tesco";
			margin: 0;
			float: right;
			clear: none;
			color: #fff;
			font-size: 2.4em;
			margin-top: 20px;
		}
		
		.product-info-banner,
		.case-category-banner,
		.accessories-banner {
			display: none;
		}
	}
}
