/*******************************************
*   Desktop Product Tile module
*******************************************/

@import "../../components/breakpoints";
@include breakpoint(desktop);
@import "../mixins/product-tile-mixins";

@include desktop-product-tiles;

$onecol: 1;

.product-description .main-details {
	.products > li {
		.product {
			border: none;

			&:hover {
				border: none;
			}
		}
	}
}

.product-grid.shop-by,
.product-carousel.streamline-basket-carousel {
    h2 {
       line-height: 42px;
       margin-bottom: 14px;
    }
}
.product-carousel.streamline-basket-carousel h2{
	max-width:81%;
}
.product-carousel.streamline-basket-carousel .product a img {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-carousel.streamline-basket-carousel {
    .products > li {
        width: 25%;

      &:last-child {
        .product {
          border-width: 0;
    	}
	  }
	}
}

@include llvp-lvp-product-carousel-heroic;

.product-carousel {
    .products {
        > li {
            width: 25%;
        }
    }
}
