//promo-stamps module - desktop
@import "../../components/breakpoints";
@include breakpoint(desktop);
@import "../mixins/promo-stamps-mixins";
.promo-stamps-prototype {

	#most-popular {
		float: left;
		width: 50%;
	}
	.promo-stamps {
		float: left;
		width: 50%;

		img {
			width: auto
		}
		li {
			padding-bottom: 13px;
			&.stacked {
				a {
					margin-bottom: 13px;
				}
				padding-bottom: 0;
			}
		}

	}
	#most-popular .product {
		height: 340px;
	}
	.row:after {
		@include clear-fix;
	}
}
