/*******************************************
* searchify - desktop
*******************************************/

@import "../../components/breakpoints";
@include breakpoint(desktop);
@import "../mixins/searchify-mixins";

#spf-seeAllResults {
    clear: both;
    text-align: center;
    min-height: 8px !important;
}

body {

    &.isScrolling {

        .m-searchify {
            position: fixed;
            top: 50px !important;
        }
    }
}
