.info-panel-size-guide-overlay {
  .table_type_d1 td:nth-child(12),
  .table_type_d1 td:nth-child(7) {
    display: none !important;
  }

  .table_type_d1 td {
    width: 20%;
  }

  .table_type_d1 th:nth-child(6) {
    display: none;
  }

  .guide_table td {
    padding: 10px;
  }

  .guide_table th {
    padding: 10px 5px;
  }

  .guide_table .info_overflow {
    display: inline-block;
  }

  .imperial {
    transition: none;
  }

  .imperial:before,
  .metric:before {
    transition: none;
  }

  .metric {
    transition: none;

  }

  .imperial:after,
  .metric:after {
    transition: none;
  }

  td.guide_unit--switchOut {
    color: #fff;
    transform: translateX(0);
  }

  td.guide_unit--switchIn {
    color: #fff;
    transform: translateX(0);
  }
}
