/*******************************************
*	Kiosk homepage stamp gallery basket module
*******************************************/

@import "../breakpoints";
@include breakpoint(kiosk);
@import "homepage-stamp-gallery-mixins";

.homepage-trade-stamp {
	padding-left: 71px;

	li {
		@include border-radius(5px);
		margin-left: 11px;
		img {
			@include border-radius(4px 4px 0 0);
		}
	}

	h3{
		font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
		color: $contentLink;
	}

	p {
		color: $contentLink;
	}
}