@import '../mixins/store-stock-check-mixins';
@import "../../../core/components/breakpoints";
@include storeStockCheckAllDevices;

@include breakpoint(vTablet) {
  .store-stock-check-view {
    .stock-check-form {
      .postcode {
        width: 80%;
      }
      .button-wrapper {
        margin-left: 80%;
      }
    }
  }
}

.store-stock-check-overlay {
  .stores-list-item {
    .store-detail-link  {
      .store-distance {
        border-left: 1px solid $border;
        border-right: 1px solid $border;
      }
    }
  }
}
