@import "../../variables";

.pdp-configurator {
    
    .product-selector {
        height: 450px;
        width: 100%;
        position: absolute;

        .product-selector-inner {
            padding: 10px;
            height: auto;
        }

        &.closed, &.background {

            header {
                height: auto;
            }

            .product-img-small {
                display: none;
            }

            .product-front-back {
                position: relative;
                visibility: visible;
                left: 0px;
            }

            .lower-container {

                .button-container {

                    button {

                        &.show-product-info {
                            display: block;
                        }

                        &.product-select {
                            display: block;
                        }

                        &.add-case {
                            display: none;
                        }
                    }
                }
            }
        }

        header {
            width :100%;

            .price-info, .highlight {
                display: none;
            }

            .product-details {

                .rating-container {
                    width: 100%;
                    margin: 0 0 0;
                    overflow: hidden;
                    height: 22px;
                }
                span {
                    width: 65%;
                }
            }

            .colour-menu {
                max-width: 230px;
            }

            button.close {
                display: none;
            }
        }

        .carousel-container { 
            width :100%;
            height: 196px;
            margin: 0;
        }

        .lower-container {
            width: 100%;
            position: relative;

            .product-details {
                display: inline-block;
                margin-top: 5px;

                span {
                    width: 65%;
                }

                .clubcard {
                    margin-top: 5px;
                }

                .current-price, .clubcard {
                    clear: none;
                    width: auto;
                    display: inline-block;
                }
                
                .current-price {
                    margin-right: 10px;
                }
            }

            .colour-menu {
                @include transition(all 0.75s ease);
                background-color: #fff;
                display: block;
                position: absolute;
                width: 100%;
                max-width: initial;
                z-index: 10;
                bottom: -300%;

                &.open { 
                    @include translate3d(0, 100, 0);
                    bottom: 0;

                    .colour-menu-container{

                        @media (min-width: 400px) and (max-width: 520px) {
                            max-width: 70%;
                            margin: 0px auto;
                        }   
                        @media (min-width: 520px) and (max-width: 600px) {
                            max-width: 60%;
                            margin: 0px auto;
                        }   
                    }
                }

                #colour-menu-container {
                    margin: 10px 9% 0px 9%;
                }
            }

            .button-container {
                width: 100%;
                float: none;
                display: inline-block;

                button {
                    width: 44%;
                    margin: 5px 0px 0px 0px;
                    padding: 14px 0px;

                    &.change-colour {
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        margin: 0px;
                    }

                    &.show-product-info {
                        float: left;
                    }

                    &.product-select {
                        float: right;
                    }
                }
            }
        }

        &.tablet {

            &.background {
                width: 100%;    
            }
        }

        &.case {

            .lower-container {

                .button-container {
                    
                    button {

                        &.select-case-category {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    
        
    &.init-complete {

        .product-selector {

            &.tablet {

                &.background {
                    @include translate3d(-200%, 0, 0);
                    width: 0%;  
                }
            }

            &.closed, &.background {
                @include translate3d(-200%, 0, 0);
                width: 0%;
            }
        }
    }
    
    .accessory .product-selector {
        h2 {
            display: block;
        }
    }
}
