.pdp-configurator {

        .product-selector {

            header {

                h2 {
                    font-size: 16px;
                }
            }

            .product-details {

                span {
                    font-size: 13px;
                    width: 100%;
                }
            }

            .carousel-container {
                padding-top: 20%;
            }

            &.background {
                .carousel-container {
                    height: 140px;
                    margin-top: 20px;
                }
            }

            .lower-container {

                .colour-menu {
                    width: 50%;
                }

                .button-container {
                    width: 50%;

                    button {
                        width: 40%;
                        margin: 10px 0px 0px 10px;

                        &.select-case-category {
                            top: 58%;
                        }
                    }
                }
            }
        }
    }