@import "../../variables";
@import "../pdp-configurator-mixins";

.pdp-configurator {    
    .loader:after,
    .loader-both:after {  
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -45px;
        padding-left: 10px;
        content: "Loading...";
        text-align: center;
    }   
    
    .loader-both {    
        @include loader();
        
        & + .loader,
        & + .loader-both {
            display: none;
        }
    } 
    .product-selector {
        @include transition(all 0.75s ease);
        width: 75.423728813559%; /* 890/1180 */
        display: inline-block;
        vertical-align: top;
        height: 540px;
        overflow: hidden;
        border: none;
        position: relative;
        z-index: 10;
        background: #fff;
        
        &.background + .product-selector.background {
            border-left: 1px solid #F3F1ED;
        }

        > .ssb_block,
        > .product-selector-block,
        > .ssb_block > .product-selector-block {
            height: 100%;
        }

        #BVRRSummaryContainer .bv-cleanslate .bv-submission-button {
            padding: 0!important;
        }

        .product-selector-inner {
            @include transition(all 0.75s ease);
            @include fadeInAnimation();
            padding: 25px;
            height: 540px;
        }
        
        &.animating-both,
        &.animating {

            .product-selector-inner {
                display: none;
            }
        }

        .section,
        section {
            border: none;
            box-shadow: none;
        }


        .product-details {
            display: block;
            
            span,
            p { 
                font-family: "Roboto";
                font-size: 14px;
                color: #a69f88;
                float: left;
                clear: both;
                margin: 2px 0px;
                width: 100%;

                &.current-price {
                    font-family: "Hudl";
                    font-weight: bold;
                    color: #645946;  
                    font-size: 18px;                  
                }

                &.highlight {
                    color: #ee1c2e;
                }

            }

            .rating-container {
                margin: 0;
                display: inline-block;
                max-height: 50px;
                width: 65%;

                a {
                    color: #7C765F;
                    text-decoration: none;
                    cursor: default;
                }

                .rating {
                    height: 13px;
                    width: 70px;
                }

                .stars {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 0;
                    height: 12px;
                    text-indent: 100%;
                    white-space: nowrap;
                }

                .stars.stars-1 {
                    width: 20%; 
                }

                .stars.stars-2 {
                    width: 40%; 
                }

                .stars.stars-3 {
                    width: 60%; 
                }

                .stars.stars-4 {
                    width: 80%; 
                }

                .stars.stars-5 {
                    width: 100%; 
                }

                .stars.stars:after {
                    content: '';
                    display: block;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 0; 
                }

                .stars.point-25:after {
                    height: 6px;
                    width: 10px;
                    right: -10px;
                }

                .stars.point-5:after {
                    height: 8px;
                    width: 12px;
                    right: -12px;
                }

                .stars.point-75:after {
                    height: 10px;
                    width: 14px;
                    right: -14px;
                }

                .stars.stars-5.point:after {
                    display: none; 
                }
            }
        }

        header {
            width: 24.719101123596%; /* 220/890 */
            float: left;
            color: #7c765f;

            h2 {
                font-family: "Hudl";
                font-weight: bold;
                font-size: 18px;
                float: left;
                margin: 0px;
                padding: 0px;
            }

            button.close {
                @extend .pdp-configurator-close;
            }
        }

        .carousel-container {
            width: 75.280898876404%; /* 670/890 */
            display: inline-block;
            height: 385px;
            z-index: 2;
            margin-top: -15px;

            img {
                max-width: 100%;
            }    
        }

        .lower-container {
            @include clearfix();

            .product-details {
                display: none;
            }

            .colour-menu {
                display: inline-block;
                width: 45%;
                max-width: 240px;
                float: left;

                li {
                    display: inline-block;
                    width: 20%;
                    margin: 2%;
                    
                    a {
                        background-color: #000;
                        padding-bottom: 100%;
                        width: 100%;
                        border-radius: 50%;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                    }
                }
            }

            .button-container {
                display: inline-block;
                width: 50%;
                text-align: right;
                vertical-align: bottom;
                margin-bottom: 5px;
                float: right;

                button {
                    font-family: "Hudl";
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    background: #7c765f;
                    cursor: pointer;
                    padding: 15px 0px;
                    margin: 30px 0 0 16px;
                    min-width: 120px;
                    display: inline-block;
                    text-align: center;
                    border: 1px solid #7c765f;
                    outline: none;
                    border-radius: 10px;

                    &.show-product-info {
                        color: #7c765f;
                        background: #fff;
                    }

                    &.round {
                        font-family: "Hudl";
                        font-weight: normal;
                        color: #fff;
                        font-size: 16px;
                        background-color: #000;
                        border: 1px solid #000;
                        border-radius: 100%;
                        width: 70px;
                        height: 70px;
                        min-width: 0;
                        text-align: center;
                        padding: 10px 0px;
                        margin-top: 10px;

                        &.inverted {
                            color: #000;
                            background-color: #fff;
                        }

                        .heavy {
                            font-size: 19px;
                            line-height: 16px;
                            font-weight: bold;
                            display: block;
                        }
                    }

                    &.change-colour {
                        display: none;
                    }

                    &.add-case {
                        display: none;
                    }

                    &.select-case-category {
                        display: block;
                        position: absolute;
                        left: 2%;
                        top: 50%;   
                    }

                    &.add-to-basket {
                        background: #fe532d;
                        border-color: #fe532d;
                    }

                    &.out-of-stock {
                        background: #7c765f;
                        border-color: #7c765f;
                    }

                    &.loading {
                        background: url($ajaxLoaderSrc) white no-repeat center center;
                        text-indent: -999em;
                        cursor: default;
                    }
                }
            }
        }

        &.tablet {
            z-index: 10;

            &.background {
                width: 24.576271186441%; /* 290/1180 */
            }
        }

        &.case {
            position: relative;
            z-index: 5;

            button.remove-case {
                display: none;
            }

            &.background {
                width: 0;

                button.close {
                    display: inline-block;
                    right: 8%;
                    top: 4%;
                }

                button.close-case {
                    display: none;
                }

                button.remove-case {
                    display: none;
                }
            }           
        }

        &.background {
            @include transition(all 0.75s ease);
            
            header {
                width: 100%;
                height: 170px;

                button.close {
                    display: none;
                }

                .product-details {

                    span {
                        width: 100%;

                        &.highlight {
                            display: none;
                        }
                    }

                    .rating-container {
                        width: 100%;
                    }
                }
            }

            .carousel-container {
                width: 100%;
                margin: 0px;
                height: 160px;
            }

            .lower-container {
                
                .colour-menu {
                    display: none;
                }

                .button-container {
                    width: 100%;

                    button {
                        margin: 0px auto;

                        &.change-colour {
                            display: block;
                            margin-bottom: 20px;
                        }

                        &.add-case {
                            display: block;
                        }

                        &.select-case-category {
                            display: none;
                            position: relative;
                            left: auto;
                            top: auto;   
                        }

                        &.remove-case {
                            display: block;
                            position: relative;
                            left: auto;
                            top: auto;   
                        }

                        &.show-product-info, &.product-select {
                            display: none;
                        }
                    }
                }
            }
        }

        &.closed,
        &.case.closed,
        &.tablet.closed {
            width: 0%;
        }

    }

    .has-case {
        .product-selector.background.case {
            width: 24.576271186441%; /* 290/1180 */
        }
        
        .product-selector.background.tablet .lower-container .button-container button.add-case {
            display: none;
        }
    }

    .accessory .product-selector {
        width: 100%;

        &.animating {
            .product-selector-inner {
                display: block;
            }
        }

        .lower-container {

            li {
                float: none;
                padding: 0;
            }
        }
    }
}