@import "common/breakpoints";
@import "common/variables";

// Kiosk scrollbar mitigation
@include breakpoint(kiosk) {
	.page {
		width: 1937px;
	}
}

body {
  margin: 0 auto;
}

.page,
.dark-full-bleed {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.light-full-bleed,
.plain-full-bleed {
	width: 100%;
}

#basket-preview-wrapper .basket-container {
	top: 125px;
}

#nav-bar {
	$headerOneHeightDesktop: 100px;
	height: $headerOneHeightDesktop;

	.navigation {
		ul {
			li {
				line-height: 1.4em;
			}
		}
	}

	.icon-user {
		line-height: $headerOneHeightDesktop;
		padding-left: 8px;
		display: none;
	}

}

#basket {
    #go-to-basket {
        .basket-icon-wrapper {
            #basket-items {
                .lozenge {
	min-width: auto;
                }
            }
        }
    }
}

#navigation .menu ul li span.icon {
	display: none;
}

.full-page-form {
	input[type=text],
	input[type=email],
	input[type=password] {
		padding-top: 15px;
	}
}

#footer {

	.container-link {
		padding-bottom: 25px;
		}

	.accordion .accordion-element {
		float: left;
		width: 45%;
	}

	.accordion .accordion-group {
		width: 50%;
	}
	.accordion .accordion-group .accordian-element {
		width: 50%;
	}

	.accordion .last {
		width: 50%;
	}
    ul {
    	margin:10px;
    }
	.accordion .last ul li {
		width: 50%;
		float: left;
	}

	.accordion .accordian-element ul li a {
	border: none; }

	.accordion .accordian-element ul li a span {
	border: 1px solid #797979; }

	.accordion .accordion-element .content li {
		a:hover {
			text-decoration: none;
		}

		span:hover {
			border-bottom: 1px solid #bfbdbd;
		}
		span.icon:hover {
			border-bottom: none;
		}
	}


	.container-link {
				padding-right: 0; // change 001

				ul li a span.icon-cta:before,
				ul li a span.icon-cta {
					display: none;
				}

				ul {
					padding-top: 0;
					margin-right: 8px; // change 001

					li {
						font-size: 1em;
						padding-right: 4px; // change 001

						a {
							background: #fff;
							padding: 12px 22px 12px 15px;
							font-size: 1em;
							line-height: 1em;
							border-bottom: none;
							text-align: center;

							span {
								color: white;
								font-family: "TescoBold", "Helvetica Neue", Arial, sans-serif;
								font-size: 1.8em;

								display: inline-block;
								vertical-align: text-bottom;
								margin-bottom: 2px;
							}

							span.icon {
								padding-right: 11px;
								font-size: 1.4em;
								line-height: 1em;

								/* icon goes lower */
								display: inline-block;
								vertical-align: text-bottom;
								margin-bottom: -1px;
							}

							&:hover {
								span {
									color: #bfbdbd;
								}
							}
						}

						a.second{
							background: black;
							padding: 12px 21px 12px 15px;
							font-size: 1em;
							line-height: 1em;
							border-bottom: none;
							text-align: center;

							span {
								color: white;
								font-family: "TescoBold", "Helvetica Neue", Arial, sans-serif;
								font-size: 1.8em;

								display: inline-block;
								vertical-align: text-bottom;
								margin-bottom: 2px;
								margin-top: 2px;
							}

							span.icon {
								padding-right: 6px;
								font-size: 1.4em;
								line-height: 1em;

								/* icon goes lower */
								display: inline-block;
								vertical-align: text-bottom;
								margin-bottom: -3px;
							}

							&:hover {
								span {
									color: #bfbdbd;
								}
							}
						}
					}
				}
		}

		.panel-bottom {
			padding-top: 25px;
		}
}

#main-content {
	padding: 0 8px;
	float: right;
	width: 960px;
}

#secondary-content {
  /*clear: both;*/
}

#breadcrumb .toggle {
	display: none;
}
/*Add to Basket Overlay*/
.overlay-screen {
	background-image: url("../img/overlay-ie.png");
}
/** fonts **/

@font-face {
	font-family: 'Tesco Icons';
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/hIEfix.png", sizingMethod="crop");
}
@font-face {
	font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/hIEfix.png", sizingMethod="crop");
}


/** gradients **/
/*  #search-bar {
	@include greyGradient;
}  */

/*  #search .search-field .search-form button {
	@include IEbuttonBlackBg;
} */

 #basket.dropdown-visible #toggle-basket {
	@include IElightGreyGradient;
}
.add-to-basket-overlay .continue-shopping {
	background: #296eac;
	filter: none;
}

.products > li {
	margin-right: 11px;
}

#basket-wrapper + #supplemental .products > li {
	margin-right: 16px;
}
#basket-wrapper {
    .personalised-message-indicative {
        p {
	        line-height: normal;
	        &:before {
	            content: 'm';
	            font-family: 'Tesco Icons';
	            font-size: 1.7em;
            }
        }
    }
}
.product-grid .products > li {
	margin-right: 6px;
	margin-left: 6px;
}

#recently-viewed .products li {
    margin-right: 0;
}

.signin-register-container {
	span.placeholder label {
		top: 0;
		left: auto;
		padding: 15px 0 15px 40px;
		color: #7F7F7F;
	}
	form {
		input {
			line-height: 45px;
		}
	}
}
.buy-from .quantity input {
	line-height: 28px;
}
.page .tooltip .tertiary {
	filter: none;
}

@mixin disabled-hover-fix {
	cursor: default !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}

input[type=submit] {
	&[disabled],
	&[disabled]:hover {
		@include disabled-hover-fix;
	}
}

.disabled {
	@include disabled-hover-fix;
	a,
	a:hover,
	a:active,
	&:hover,
	&:active {
		@include disabled-hover-fix;
	}
}

.products > li .product .former-prices li {
	letter-spacing: -0.1em;
}

/* PDP */
.product-description {

	#main-content {

		.main-details {

				.product-carousel {
				width: 64%;
			}
		}

	}

	th {
	  text-align: inherit;
	}

	.feature-products {
		.product{
			padding-bottom: 8px;

			.new {
				font-size: 4.5em;
			}

			.rating-container {
				margin-bottom: 6px;
				float: left;
			}
			.former-prices li {
				display: block;
				clear: both;
				float: left;
			}
		}
	}

	.select-colour {
		li.not-in-stock {
			a {
				img {
					filter: alpha(opacity = 60);
				}
			}
		}
	}
	#bundle .checkboxContainer.selected .checkbox:after {
      font-size:16px;
    }
}

.homepage-trade-stamp {
	padding-left: 0;
	padding-right: 0;
}
#listing .products-wrapper {
	padding-left: 0;
	padding-right: 0;
}

#listing .load-more {
  margin-right: 0;
}

.listing #product-filters .active-filters .clear-all {

	#clear-all-filters:active,  #clear-all-filters:focus, #clear-all-filters:hover, #clear-all-filters:visited {
		padding-left: 8px;
		padding-top: 3px;
		line-height: 14px;
	}
}

.filter-overlayWaiting {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
}

#filter-controls {
	width: 944px;
	margin-right: 8px;
}
#register2 .customDropdown {
	.innerText {
		max-width: 240px;
		height: auto;

	}
	.icon {
		position: relative;
		top:-2px;
	}
}

#listing .products .firstInRow {
	border-left: 1px solid #BFBDBD;
}

.checkout .delivery-block {
	.delivery-cost-module {
		clear: left;
		width: 100%;
		border-top: 1px solid #3E3E3F;

		.label, .value {
			display: inline;
		}

		.value {
			margin-top: 0.8em;
		}
	}
}

.placeholder {
  position: relative;
  display: block;
  overflow: hidden;
  font-size: 1.1em;

  label {
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 100% !important;
    font-size: 14px !important;
    top: 0;
    left: auto;
    padding: 15px 0 15px 10px;
    color: #7F7F7F;

    &.error {
      padding-left: 0;
    }
  }
}

.checkout .payment-group-block,
.checkout .delivery-block .collection-details .new-address,
#lightbox .new-address {
	input {
      &[type=text],
      &[type=email],
	  &[type=password] {
      	padding: 0 10px;
		height: 36px;
		line-height: 36px;
      }
    }
}

.checkout {

  #gift-card {

    .placeholder {
      display: inline-block;
      width: 49%;

      label[for="code"],
      label[for="pin"] {
        top: 0;
        left: 0;
      }
    }

    input[type="text"] {
      width: 100%;
    }
  }

  #ecoupon-voucher-form {

    .placeholder {

      label {
        top: -1px;
      }
    }
  }

  .place-order {
    &.disabled {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)" !important;
    }
  }
}

.streamline-basket#lightbox .current-details{
	.section-main{
		width:100%;
		section{
			 width: 65%;
		}
		.section-nav{
			  top: -200px;
		}
	}

}

.js .mandatory {

  .customDropdown .control,
  .customDropdown .control:link {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffce9', endColorstr='#fefdf3',GradientType=0 );
  }

  .customDropdown.normal-background .control,
  .customDropdown.normal-background .control:link {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
    border-color: $primaryBorderColor;
    &:hover,
    &:focus {
      @include darkBlueGradient;
      border-color: #014b8f;
      text-decoration: none;
      span {
        color: #fff;
      }
    }
  }
}

/* Help */

.help {
	.help-search-article {
		.feedback-ratings {
			.icon-rating {
				visibility: hidden;
			}
		}
	}
}

.open.customDropdown ul {
	// defect id 53015
	// stackoverflow.com/questions/11219410/problems-with-scrollbar-in-ie9-position-fixed-overflow-auto
	box-sizing: content-box;
	border-right: 0;
	border-left: 0;
	li {
		border-right: 1px solid $primaryBorderColor;
		border-left: 1px solid $primaryBorderColor;
	}
}

.checkout .delivery-block .collection-details .address-nickname {
  	.open.customDropdown ul {
  		width: 85%;
  	}
}

.checkout-different-address#lightbox {
	.open.customDropdown ul {
  		max-width: 50%;
  	}
}

/* Scene7 carousel spacing fix */
#product-carousel .carousel .carousel-items-container {
	padding-left: 30px;
}

/* Scene7 player dark overlay fix */
#overlay.dark {
	filter: alpha(opacity=80);
	background: #000000;
}

.checkout {
	.delivery-block .collection-details .new-address,
	.payment-group-block .billing-address .add-new-address,
	.vouchers,
	.ecoupons,
	.gift-card-container {
		.placeholder label {
			height: 36px !important;
			line-height: 36px;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 2px;
		}
	}

	.delivery-block .collection-details .new-address,
	.payment-group-block .billing-address .add-new-address {
		.postal-code-pca {
			line-height: 36px !important;
		}
	}
}

.full-page-form .sign-in.half-page-form {
	.placeholder label {
		left: 32px !important;
	}
}

#comments {
	width:77.8%;
}
.collectionContainer .collectionItems {
	.disabled{
		filter: alpha(opacity=30);
	}
}
.checkbox-wrapper.selected .checkbox:after{
  font-size:19px;
}
#product-filter-actions {

}

.searchContainer {
	.searchIcon {
        float:left;
    }
    .search-label {
        padding:16px 0px;
    }
	#search-text-field {
		float: left;
		margin-top: 8px;
		padding-top:5px;
        line-height:20px;
        width: 540px;
	}
	span {
		label {
			top: 16px;
			left:40px !important;
		}
	}
	#search-submit {
	   top: 8px;
	}
}

.ac_results {
    position:absolute;
    top:150px !important;
}

.product-carousel .products > li {margin-right: 0;}

#mediaViewerScene7Container {
	.s7container {
        .s7flyoutzoomview {
            width: 600px;
            height: 480px;
        }
	}
}

#EmaginationJS-HelpOverlay,
.EmaginationJS-ImageLayer .EmaginationJS-Inner {
    filter: alpha(opacity=0);
}

#catalogue-nav ul.departments > li > a {
    padding: 12px 14px;
}

.carousel-fullwidth {
    .cfw-header {
        .cfw-navigation {
            display: none;
            .nav-dot {
                .dot-action {
                    &:after {
                        top: 0px;
                    }
                }
            }
        }
    }
}

.info-panel-overlay {
  @include opacity(1);
  .info-panel-close-icon {
    &.icon {
      top: 0px;
      right: 0px;
    }
  }
}

.PDP-Version2__page,
.PDP-Version2__component {
    form {
        input[type=checkbox] {
            width: 24px;
            border: 0;
            z-index: 0;

            & ~ .check-box {
                display: none;
            }

            & ~ .label {
                padding-left: 24px;
            }
        }
    }
}

.info-panel-tooltip {
    .tooltip-pointer {
        display: none;
    }
}
