@import "common/breakpoints";

#nav-bar {
	.icon-user {
		padding-top: 5px;
		line-height: 42px;
		.icon-dropdown {
			padding-top: 5px;
		}
	}
}

// has ammend for the tablet viewports
.signin-register-container span.placeholder label {
	top: 0;
	left: auto;
	padding: 15px 0 15px 40px;
	color: #7F7F7F;
}

.product-description {
	 .sizes li a {
	background: #E8E8E8;
	}

	.more-thumbnails {
		.thumbnails {
			padding-bottom: 1px;
		}

	}
}

/* pdp scene7 image component - increase margin-left to push carousel out from underneath 'back' button */
#product-carousel {
	ul.carousel-items-container {
		margin-left: 30px;
		padding-left: 0px !important;
	}
}

/******************************
*	Mobile
**/
@include breakpoint(mobile) {

	#nav-bar .icon-user .icon-dropdown {
		margin-top: 0;
		border-right: none;
		padding-right: 15px;
	}

	.icon-browse, .icon-search, .icon-user, .icon-basket,
	.icon-el-helps, .icon-locator, .icon-help, .icon-window, .icon-dropdown, .icon-plus, .icon-arrow-right-white {
		font-family: arial !important;
		text-indent: -9999px;
		background: transparent url(../img/fallback-icons.png) no-repeat 0 0;
		display: inline-block;
	}
	.icon-window {
		display: inline;
	}

	.icon-help { background-position: 0 0; width: 16px; height: 15px; }
	.icon-search{ background-position: 0 -60px; width: 22px; height: 31px; }
	.icon-el-helps{ background-position: 0 -136px; width: 111px; height: 19px; }
	.icon-locator{ background-position: 0 -315px; width: 13px; height: 20px; }
	.icon-basket{ background-position: 12px -457px; width: 47px; height: 36px; margin-bottom: 0; display: block; }
	.icon-browse{ background-position: 0 -630px; width: 42px; height: 47px; }
	.icon-user{ background-position: 8px -772px; width: 53px; height: 47px; }
	.icon-user .icon-dropdown{ background-position: 0 -836px; width: 8px; height: 47px; }
	//.icon-user.active {background-position: 8px -1189px; width: 53px; height: 47px;}
	.icon-user.active .icon-dropdown{background-position: 0 -1325px; width: 9px; height: 47px;}
	#categories .icon-dropdown{ background-position: 0 -241px; width: 9px; height: 47px; }
	.icon-plus.active{ background-position: 0 -520px; width: 12px; height: 16px; }
	.icon-plus{ background-position: 0 -577px; width: 12px; height: 16px; }

	.icon-arrow-right-white{ background-position: 0 -1016px; width: 5px; height: 11px; }

	.icon-window{background-position: 5px -1275px; width: 18px !important; height: 11px !important; display: inline-block; padding-left: 5px !important;}
	#footer .container-link ul li a {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTU5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDQyNzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		&:hover,
		&:focus,
		&:active {
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDg4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDM0NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		}
	}

}

@include breakpoint(vTablet) {
	#nav-bar .icon-user .icon-dropdown {
		line-height: 1.6;
	}
	.signin-register-container span.placeholder label {
		margin-left: 128px;
	}
}

@include breakpoint(hTablet) {
	.signin-register-container span.placeholder label {
		margin-left: 128px;
	}
}

// Kiosk scrollbar mitigation
@include breakpoint(kiosk) {
	.kiosk {
		#main-nav {
			top: 189px;
		}
		.page {
	       width: 1937px;
		}
    }
}

@mixin disabled-hover-fix {
	cursor: default !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}

input[type=submit] {
	&[disabled],
	&[disabled]:hover {
		@include disabled-hover-fix;
	}
}

.disabled {
	@include disabled-hover-fix;
	a,
	a:hover,
	a:active,
	&:hover,
	&:active {
		@include disabled-hover-fix;
	}
}

.buy-from .quantity input {
	line-height: 28px;
}

.placeholder {
  position: relative;
  display: block;
  overflow: hidden;
  font-size: 1.1em;

  label {
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 100% !important;
    font-size: 14px !important;
    top: 0;
    left: auto;
    padding: 15px 0 15px 10px;
    color: #7F7F7F;
  }
  
  &.error {
    padding-left: 0;
  }
}
.checkout .payment-group-block,
.delivery-block .collection-details .new-address,
#virtual-page #add-new-address,
#virtual-page .new-address,
#lightbox .new-address {
	input {
		&[type=text],
		&[type=email],
		&[type=password] {
			padding-top: 0;
			padding-bottom: 0;
			height: 36px;
			line-height: 36px;
		}
	}
}

.checkout {

  #gift-card {

    .placeholder {
      display: inline-block;
      width: 49%;

      label[for="code"],
      label[for="pin"] {
        top: 0;
        left: 0;
      }
    }

    input[type="text"] {
      width: 100%;
    }
  }

  #ecoupon-voucher-form {

    .placeholder {

      label {
        top: -1px;
      }
    }
  }
  
  .uiGiftMessage textarea{ 
		width:99%;
  }
}

.js .mandatory {
  
  .customDropdown .control,
  .customDropdown .control:link {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffce9', endColorstr='#fefdf3',GradientType=0 );
  }
  
  .customDropdown.normal-background .control,
  .customDropdown.normal-background .control:link {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
    border-color: $primaryBorderColor;
    &:hover,
    &:focus {
      @include darkBlueGradient;
      border-color: #014b8f;
      text-decoration: none;
      span {
        color: #fff;
      }
    }
  }
}

.open.customDropdown ul {
	// defect id 53015
	// stackoverflow.com/questions/11219410/problems-with-scrollbar-in-ie9-position-fixed-overflow-auto
	box-sizing: content-box;
	border-right: 0;
	border-left: 0;
	li {
		border-right: 1px solid $primaryBorderColor;
		border-left: 1px solid $primaryBorderColor;
	}
}

.checkout .delivery-block .collection-details .address-nickname {
  	.open.customDropdown ul {
  		width: 85%;
  	}
}

.checkout-different-address#lightbox {
	.open.customDropdown ul {
  		max-width: 50%;
  	}
}

/* Scene7 carousel spacing fix */
#product-carousel .carousel .carousel-items-container {
	padding-left: 30px;
}

/* Scene7 player dark overlay fix */
#overlay.dark {
	filter: alpha(opacity=80);
	background: #000000;
}

html.no-touch {
	.s7spinview .s7iconeffect {
		font-size: 0.9em !important;
		&:after {
			font-size: 0.9em !important;
		}
	}
}

.checkout {
	.delivery-block .collection-details .new-address,
	.payment-group-block .billing-address .add-new-address,
	.vouchers,
	.ecoupons,
	.gift-card-container {
		.placeholder label {
			height: 36px !important;
			line-height: 36px;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 2px;
		}
	}
	
	.delivery-block .collection-details .new-address,
	.payment-group-block .billing-address .add-new-address {
		.postal-code-pca {
			line-height: 36px !important;
		}
	}
	
	.delivery-block .collection-details .new-address {
		.postal-code-pca {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}
	}
}

.full-page-form .sign-in.half-page-form {
	.placeholder label {
		left: 32px !important;
	}
}


#virtual-page {
	.new-address,
	.add-new-address,
	#ecoupon-voucher,
	#ecoupon-voucher-container,
	.gift-card-container {
		.placeholder label {
			height: 36px !important;
	  		line-height: 36px;
	  		padding-top: 0;
	  		padding-bottom: 0;
	  		margin-bottom: 2px;
			top: auto !important;
			bottom: 0 !important;
		}
	}
	
	#ecoupon-voucher {
		.placeholder label {
			left: 0 !important;
		}
	}
}
.collectionContainer .collectionItems {
	.disabled{
		filter: alpha(opacity=30);
	}
}

.searchContainer {
    span {
        label {
            left:40px !important;
        }
    }
    .searchIcon {
        z-index: 1;
    }
}