/*******************************************
*  Kiosk Footer module
*******************************************/
@import "../../components/breakpoints";
@include breakpoint(kiosk);
@import "../mixins/footer-mixins";

$color-kiosk-active-state: #bfbdbd;

@mixin kiosk-link-states {
  a {
    //@include font-tesco;
    border: 0;
    padding: 4px 0;
    position: relative;
    color: $linkColor;
    font-size: 18px;
    display: inline-block;
    background: none;
    height: auto;
    line-height: 1em;
    [data-icon]:before {
      font-family: 'Tesco Icons';
    }
    span {
      height: auto;
      font-size: 18px;
      font-weight: normal;
      border: none;
      &.icon {
        display: none;
      }
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: $linkHoverColor;
    }
  }
}

#footer {
	background: #ffffff;
	bottom: 17px;
  height: 60px;
  margin-bottom: (-$onecol);
  padding: $onecol 0 0;
	position: fixed;
	width: 1810px;

  .container-link {
    float: right;
    padding: 0;
    a.logo {
      background: url("../images/footer/tescoDirect-blueRed-logo-185x43.png") no-repeat 0 0;
      height: 40px;
      left: 32px;
      position: absolute;
      top: 12px;
      width: 186px;
      img {
        display: none;
      }
      &::before {
        display: none;
      }
    }
    ul {
      padding: 0;
      li {
        @include kiosk-link-states;
      }
      .kiosk {
        .need-help {
          display: none;
        }
        .kiosk-help {
          display: inline-block;
          top: 3px;
        }
      }
    }
  }
  .accordion {
    float: right;
    padding: 0;
    .accordion-group,
    .accordion-element {
      width: auto;
    }
    .accordion-group {
      float: none;
    }
    .accordion-element {
      float: right;
      .title-box {
        display: none;
      }
      .content {
        padding: 0;
        ul {
          padding: 0;
          li {
            float: left;
            padding: 0 !important; // override important set in footer-large-desktop.scss
            &.sitemap {
              display: none;
            }
            @include kiosk-link-states;
          }
        }
      }
    }
  }
  ul {
    li {
      margin: 0 50px 0 0;
      padding: 0;
      display: none;
      &.kiosk {
        display: block;
      }
      @include kiosk-link-states;
    }
  }
}

.panel-bottom,
.panel-logo-all {
  display: none;
}
