/*******************************************
* Kiosk page title module
*******************************************/

@import "../../components/breakpoints";
@include breakpoint(kiosk);
@import "../mixins/page-title-mixins";


h1 {
	width: 100%;
	height: 50px;
	margin: 15px 0 0;
	padding: 0 (51 * $onecol) 0 (3 * $onecol);
	font-size: 3.66em;
	letter-spacing: -2px;
}

h1.truncated {
	position: relative;
}
#page-container{
	top:-22px;
	position: relative;
	}
.only-kiosk{
    display: inline;
}
#lightbox .only-kiosk{
    display: none;
}

.kiosk .product-description h1.page-title {
    width: 1023px !important;
    padding-right: 0px !important;
}
