@import "../mixins/product-details-mixins";
@import "../product-details-overrides";
@include productDetailsOverridesKiosk();
@include viewportGridGenerator(kiosk);
@include viewportGridOffsetGenerator(kiosk);
@include viewportFloatGenerator(kiosk);
@include viewportHideGenerator(kiosk);

body {
  &.PDP-Version2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.PDP-Version2 {
  #wrapper {
    background: transparent;

    .content-container {
      background: #ffffff;
      margin: 6px 0 0 20px;
      overflow: hidden;
      visibility: hidden;

      .schoolInfoSection {
        h2 {
          font-size: 25px;
          margin: 10px 0 0;
        }
        .schoolAddress {
          margin: 12px 0 0;
          font-size: 15px;
        }
      }

      .schoolDonation  {
        margin: 12px 0 20px;
        font-size: 15px;

        .value {
          margin: 0 5px 0;
          font-size: 28px;
          color: $tescoBlue;
        }
      }

      &.has-rendered {
        visibility: visible;
      }

      .col-kiosk-12 {
        min-height: 0;
      }

      .main-content-right {
        padding-right: 5px;
      }
    }
    .secondary-content {
      display: none;
    }

    .rating-container {
      height: 16px;
      position: relative;
      width: 350px;

      .rating-mask {
        left: 0px;
        top: -5px;
        width: 350px;
      }

      .bv-cleanslate {
        .bv-summary-bar-minimalist-horizontal .bv-write-review-container.bv-write-container {
          display: none !important;
        }
        .bv-summary-bar .bv-rating-ratio-count span.bv-rating-ratio-count {
          color: $tescoBrightBlue !important;
        }
      }
    }

    #footer {
      display: none;
      visibility: hidden;
    }

  }
}

#back-to-top-scroll {
  display: none;
}
