/*******************************************
*	Uniform Embroidery Service
*******************************************/
// Colours
$link: #4A90E2;
$onecol: 16px;
$desc: #666666;
@mixin uesMarginTop{
	margin-top: 8px !important;
}
	
