/*******************************************
*	Uniform Embroidery Service
*******************************************/
@import "ues-mixins";
.PDP-Version2  #ues-container{
	.schoolInfoSection h2{
		margin-bottom: 0px;
	}
	.schoolDonationContainer{
		padding-bottom: 17px;

	}
}
#ues-container{
	.uesBreadcrumb{
		padding: 0;
    	margin: 0;
		ul{
			li{
				float: none;
				margin-right: 0;
				&:after {
					content: '';
				}
				&.first{
					a{
						&:before{
							content: '';
						}
					}
					 &:after{
						content: '';
					}
				}
				&.last{
					&:before {
						content: '';
					}
				}
				a{
					float: none;
					display: inline;
					border-bottom: 0;

					&:before{
						content: 'r';
					}
				}
			}
		}
		.toggle {
		    bottom: 12px;
		}
	}
	.commsHolder{
		width: auto;
		height: 143px;
		margin: 32px 16px;
	}
	.uesBanner{
		.fullWidth{
			margin: 0 16px;
			height: 610px;
			width: auto;
			.pageTitle{
				font-size: 36px;
				line-height: 36px;
			    width: 283px;
			    height: 82px;
				max-height: 112px;
				margin-left: calc((100% - 288px)/2);
				padding-top: 16px;
			}
			.titleImage{
			    float: right;
			    width: 100%;
			    height: 132px;
			    background: #fff url("../images/ues/S_headerimage.jpg") no-repeat top center;
			}
    		.searchHolder{
			    width: 100%;
			    position: relative;
			    float: left;
			    clear: none;
			    margin: 0 8px;
			    .schoolInfo{
					font-size: 16px;
					height: 50px;
				    background-color: #00539F;
				    border: 1px solid #00539F;
				    border-radius: 4px;
				    margin: 30px 8px 12px calc((100% - 288px)/2);
				    text-align: center;
				    padding: 12px 0px;
			    	width: 288px;
				}
				.searchSec{
					display: none;
					width: 100%;
				}
				.schoolIndicator{
					width: 100%;
					padding: 10px 21px 9px 14px;
					font-size: 13px;
				}
				.ssTable{
					margin: 30px 8px 12px calc((100% - 298px)/2);
					width: 288px;
					.userMessage{
						position: absolute;
					}
				}
    		}
    		.descriptionSection{
    			width: 288px;
    			margin-top: 0px;
    			margin-left: calc((100% - 288px)/2);
    			float: left;
    			p{
    				margin-top: 0px;
    			}
    		}
    		.registerSection{
    			width: 288px;
    			margin-left: calc((100% - 288px)/2);
    		}
		}
	}
	.contentWrapper{
		overflow: visible;

		.donationSection{
			width: auto;
			height: 270px;
			margin: 28px 16px 20px 16px;
			.donationCounter{
				width:100%;
				text-align:center;
				padding-top: 20px;
				.donationAmt{
					font-size: 56px;
					line-height: 64px;
				}
			}
			.donationText{
				overflow: visible;
				float:left;
				text-align:center;
				width: 100%;
		    	padding-top: 22px;
				span{
					strong{
						float: left;
					    margin-left: calc((100% - 167px)/2);
					    padding-bottom: 8px;
					}
				}
			}
			span{
				font-size: 16px;
			}
		}
		.imgHolder{
			float: left;
			margin: 0 30px;
			img{
				width: 256px;
				height: 50px;
			}
		}
		.info{
			width: auto;
    		min-height: 212px;
    		margin: 10px 22px;
		}
	}
	.schoolInfoContainer{
		height: 146px;
	}
	.schoolInfoSection{
    	height: 50px;
    	text-align: center;
		h2{
			text-align: center;
			img {
				width: 50px;
				height: 50px;
				position: relative;
			}
			span {
				padding: 10px 0 2px 0px;
			    font-size: 16px;
			    display: block;
			}
		}
		.schoolAddress {
			padding: 0px;
		}
	}
	.schoolDonation{
		text-align: center;
		.value{
			font-size: 48px;
			line-height: 53px;
			display: block;
		}
		p{
			font-size: 18px;
			width: 55%;
			margin-top: 4px;
		}
	}
}
