/*******************************************
*	Uniform Embroidery Service
*******************************************/
@import "../variables";
@import "ues-mixins";


.page#ues-container {
    background-color: #fff;
    padding-top: 2px;
}
.ues-content .schoolResultsSection{
  .houses{
    padding: 2px 0px;
    height: 40px;
  }
	.selected {
		background-color: #eee;
	}
}
#ues-container{
	/*.commsHolder{
		border: 1px solid red;
	}*/
    font-family: $tescoFont;

	#main-content{
		background-color: #fff;
	}
	.rating-container{
		height: 14px;
	}
	.uesBreadcrumb{
		position: relative;
		overflow: hidden;
		padding: 17px 8px 0px 8px;
		margin: 0;
	  	height: 38px;
	  	background-color: #fff;
		ul{
			padding: 0;
			margin: 0;
			li{
				font-family: $tescoFont;
				margin-bottom: 4px;
				font-size: 16px;
				position: relative;
				margin-right: 8px;
				display: block;
				float: left;
				white-space: nowrap;
				&:after {
					content: 'r';
					font-family: 'Tesco Icons';
					font-size: 0.8em;
					line-height: 1.6em;
					float: left;
					padding-left: $onecol * 0.5;
					width: $onecol;
					color: $link;
				}
				a{
					@include underlineLink;
					border-bottom: 0;
					//line-height: 20px;
				}

				&.last{
					&:after {
						content: '';
					}
				}
			}
		}
	}
	.pageTitle{
		@include uesMarginTop;
		width: auto;
		margin: 0 0 8px 8px;
		line-height: 46px;
		clear: left;
		font-family: "DidotW01-Roman", Arial, sans-serif;
		height: 47px;
		font-size: 32px;
		color: #000;
		font-weight: bold;
	}
	.uesBanner{
		width: 100%;
		max-width: 100%;
		&:after{
			clear: both;
		}
		&:after, &:before{
			content: "";
			display: table;
		}
		.fullWidth{
			.pageTitle{
				font-weight: normal;
			}
			.titleImage{
			    background-size: cover;
			}
    		.searchHolder{
				position: relative;
				.searchSec{
					position: relative;
					.icon{
						font-size: 23px;
					    -webkit-transition: color .3s;
					    -moz-transition: color .3s;
					    -o-transition: color .3s;
					    transition: color .3s;
					    vertical-align: middle;
					    position: absolute;
					    top: 0px;
						text-align: right;
					    right: 0px;
						height: 28px;
					    width: 60px;
					    padding: 12px 20px 32px 20px;
					    margin-top: 0;
					    color: #fff;
					    border-radius: 0px 5px 5px 0px;
					    background-color: #00539f;
					}
				}
				.schoolInfo{
					font-size: 18px;
					font-family: $tescoFont;
					font-weight: bold;
					color: #fff;
					margin-bottom: 12px;
				}
				.schoolIndicator{
					width: 286px;
					height: 44px;
					background-color: #f6f6f6;
					border:1px solid #ccc;
					border-radius: 4px;
					color:#9b9b9b;
					font-size: 16px;
					padding: 11px 21px 8px 42px;
					font-family: $tescoFont;
					&:focus::-webkit-input-placeholder,
					&:focus:-moz-placeholder,
					&:focus::-moz-placeholder,
					&:focus:-ms-input-placeholder{
						color:transparent;
					}
				}
				.loader{
					display: none;
					width: 321px;
					height: 100%;
					position: absolute;
					z-index: 5000;
					background: url(../img/ajax-loader.gif) center center no-repeat #fff;
					color: #848282;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 16px;
					min-height: 110px;
				}
    		}
    		.ssTable{
    			line-height: normal;
    			padding: 0px;
    			margin: 0px;
    			border-collapse: collapse;
    			width: 100%;
    			background-color: transparent;
    			.userMessage{
    				display:none;
				    margin: 0;
				    width: 321px;
				    border: 1px solid #dbdbdb;
				    background: #fff;
				    padding: 8px 14px 8px 34px;
				    z-index: 98;
				    color: #333333;
				    font-size: 16px;
    			}
    			.schoolResultsSection{
    				display:none;
    				margin:0px;
    				width: 321px;
    				opacity:1;
    				position:absolute;
    				border:1px solid #DBDBDB;
    				background: #fff;
    				padding: 8px 14px;
    				z-index: 99;
    				.container{
    					margin:0px;
    					padding:0px;
    					display:block;
    					width: 100%;
    				}
    				.schoolResultsContent{
						.schoolDetails{
							display: none;
	    					float:none;
	    					padding: 2px 2px 0px 8px;
	    					cursor: pointer;
							color: blue;
							width: auto;
							word-wrap: break-word;
							white-space: normal;
							margin-bottom: 15px;
							height: 41px;
							color: #008CCA;
							.parentSchool{
								color : #8F8F8F;
								cursor:default;
							}
							img{
								width: 30px;
								height: 30px;
								position: absolute;
								margin-top: 4px;
							}
							span.schoolName{
	    						display: block;
    							padding-left: 36px;
    							font-size: 18px;
	    					}
	    					.schoolId, .orgId{
	    						font-size: 0px;
	    					}
	    					div.schoolAddress, div.houseAddress{
	    						padding-left: 36px;
    							font-size: 12px;
	    					}
	    					span.address1, span.address2, span.postcode{
	    						display: inline;
	    						margin-right: 1px;
	    					}
	    					span.icon{
	    						font-size: 1em;
	    					}
	    					.houseBlock{
	    						.houses{
	    							img{
	    								left: 43px;
	    								margin-left: 12px;
	    								right: 364px;
	    							}
	    							.schoolName{
	    								color: #008CCA;
	    								left: 78px;
	    								right: 101px;
	    								margin-left: 36px;
	    								span.icon{
	    									font-size: 1em;
	    								}
	    							}
	    							.houseAddress{
	    								margin-left: 36px;
	    							}
	    						}
	    					}
	    				}
	    				.noResults{
	    					display: none;
	    					float: none;
							padding: 5px 8px;
							hieght: auto;
							color: #333333;
							span{
								font-size: 18px;
							    display: block;
							    padding: 2px 0;
							}
							a{
								font-size: 18px;
							    display: block;
							    margin-top: 12px;
							}
	    				}
    				}
    			}
    		}
    		.descriptionSection{
    			p{
    				font-size: 16px;
    				line-height: 18px;
    				color: #666;
    			}
    		}
    		.registerSection{
    			overflow: hidden;
    			text-align: left;
				font-size: 16px;
				line-height: 18px;
				color: #666;
    			.registerLink{
        			&:after{
        				font-family: 'Tesco Icons';
	        		    content: "r";
	        		    font-size: 12px;
    					vertical-align: middle;
	        		    color: #00a1e0;
        			}
    			}
    		}
		}
	}
	.contentWrapper{
		overflow: hidden;
    	position: relative;

		.donationSection{
			float: left;
			clear: both;
			min-height:133px;
			//height: 223px;
   			background-color: rgba(216, 216, 216, 0.2);
			.donationCounter{
				float:left;
				width:294px;
				.donationAmt{
					font-family: "Helvetica Neue", Arial, sans-serif;
					font-size: 64px;
					line-height: 77px;
					color: #00539F;
					.loader{
						background: url(../img/ajax-loader.gif) no-repeat transparent center center;
					    color: #848282;
					    text-align: center;
					    top: 0;
					    bottom: 0;
					    left: 0;
					    right: 0;
					    padding: 16px 16px 16px 16px;
					    font-size: 14px;
					    min-height: 60px;
					}
				}
				span{
					font-size: 20px;
				}
			}
			.donationText{
				overflow: hidden;
				padding-left: 13px;
				//font-size: 16px;
			}
			span{
				font-size: 16px;
				color: #333333;
				padding:4px 0;
				width:100%;
				display: block;
			}
		}
		.imgHolder{
			img{
				width: 256px;
				height: 223px;
			}
		}
		.info{
			width: 820px;
			float: left;
			min-height: 98px;
			margin: 41px 0 51px 61px;
			p{
				font-size: 10px;
				line-height: 16px;
				color: $desc;
			}
		}
	}
	.schoolInfoContainer {
		background: #fff;
   		padding: 17px 8px;
	}
	.schoolInfoSection{
		color: #333;
		h2{
			position: relative;
			img {
				position:absolute;
				overflow: hidden;
        padding: 5px;
			}
			span {
				font-size: 32px;
			}
		}
		.schoolAddress {
			font-size: 12px;
		}
	}
	.schoolDonationContainer{
		background-color: #fff;
		.schoolDonation{
			margin: 0 8px;
			.value{
				font-size: 54px;
				color: #00539F;
				line-height: 61px;
				padding: 0 20px;
			}
			p{
				font-size: 22px;
				color: #333333;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}
