/*******************************************
*	Mobile navigation module
*******************************************/

@import "../breakpoints";
@include breakpoint(mobile);
@import "navigation-mixins";

#navigation {
	padding: 0 0 8px;
	.wrapper {
		.menu ul li,
		.sub-menu ul li {
		  width: 100%;
		  float: none;
		  a,
		  a span {
   			height: 50px;
			}
		}
	}
}