/*******************************************
*	Mobile Link Save module
*******************************************/

@import "../breakpoints";
@include breakpoint(mobile);

#tab-module {
	width: 100%;
}

.link-save {

	#filter-controls {	
		border-left: 0;
		border-right: 0;
		
		#product-filter-actions {
			margin: 5px 0 0 0;
			border: 0; 
		}
	}
	
	#product-categories {
		margin: 0;
		
		.categories {
			background: #ffffff;
			border-bottom: none;
			border-bottom: none;
			border-left: none;
			border-right: none;
			border-top: 1px solid #bfbdbd;
			-webkit-box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.1);
			box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.1);
			font-size: 14px;
		}
	}
}
#product-categories .categories li a span {
	padding: 0px;
}