.paginate--page-numbers {
  background-color: white;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 12px;
  text-align: end;

  @include breakpoint(mobile) {
    text-align: center;
  }
}

.paginate__page-of,
.paginate__page-range {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.paginate__item {
  display: inline-block;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.paginate__link {
  &.disabled {
    color: #bfbdbd !important;
  }
}

.paginate__arrow {
  display: inline-block;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
