/*******************************************
*	Tablet Footer module
*******************************************/

@import "../../components/breakpoints";
@include breakpoint(allTablet);
@import "../mixins/footer-mixins";

@include common-tablet-footer;

#footer {
	@include hideSitemap;
}

// secure footer
#footer {
	.panel-bottom.secure {
		margin-top: 0;
		float: left;
		clear: both;
		.icon-every-little {
			span.icon:not(span.icon-every-little){
				overflow: auto;
			}
		}
	}
}

@media screen and (min-width: 750px) {
	#footer {
		.panel-bottom.secure {
			margin-top: 18px;
			float: right;
			clear: none;
		}
	}
}
