/*******************************************
*	Tablet microsite nav module
*******************************************/

@import "../../components/breakpoints";
@include breakpoint(allTablet);
@import "../mixins/microsite-nav-mixins";

#microsite-nav {
	.menu ul li {
	  a,
	  a span {
 			height: auto;
		}
	}
}

.my-account {
	#microsite-nav.yourAcc {
        display:block;
        padding-left:0px;
        padding-right:0px;
		.menu {
			width: 100%;
            clear:both;
            ul {
            	width: 100%;
            	li {
            		padding: 0px 10px 4px 1px;
            	}
            }
            h2 {
                padding:10px;
                cursor:pointer;
                line-height:20px;
            }
            a {
                padding-left: 12px;
            }
		}
	}
    #secondary-content {
	    padding: 0 8px;
    }
}
