//more-choice module - tablet
@import "../../components/breakpoints";
@include breakpoint(allTablet);
@import "../mixins/more-choice-mixins";

.more-choice-block {

	padding-left: $onecol * 1.5;
	padding-right: $onecol * 1.5;

	.click-and-collect, .more-choice {
		width: 39.5 * $onecol;
	}

	.more-choice {
		h2 {

			font-size: 2.4em;
		}
		margin-right: $onecol;
	}

	.click-and-collect {
		text-align: center;
		font-size: 1.2em;
	}
}
