//promo-stamps module - tablet
@import "../../components/breakpoints";
@include breakpoint(allTablet);
@import "../mixins/promo-stamps-mixins";
.promo-stamps {
	margin: 0 1.25%;
	padding: 0;
	&:after {
		@include clear-fix;
	}

	li {
		float: left;
		width: 48.75%;
		margin-right: 1.25%;

		&:first-of-type {
			clear: left;
		}

		&.stacked a {
			margin-bottom: 10px;
		}
	}
}
