/*******************************************
*	Tablet virtual page module
*******************************************/

@import "../../components/breakpoints";
@include breakpoint(allTablet);
@import "../mixins/virtual-page-mixins";

#virtual-page {

	h1 {
		margin-top: 0;
		padding-top: 8px;
		font-size: 1.8em;
		margin-bottom: 6px;
		line-height: 32px;
	}

	.product-description {

		.product-specifications {
			h3 {
				padding: 10px 0;
			}
			h4 {
				padding-left: 16px;
				padding-bottom: 13px;
			}
			tbody {

				th {
					padding: 6px 8px 4px 16px;
				}

				td {
					width: 41.5%;
					padding-top: 6px;
					padding-bottom: 4px;
				}
			}
			.back {
					padding: 10px 8px;
			}
		}
	}
}
