//checkout-delivery module - large desktop
@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "checkout-delivery-mixins";

.checkout {
	.delivery-block {

		min-height: 350px;
		margin-top: 70px;
		@include delivery-tabs;

		@include storeDetailsTooltip;

		.delivery-options, .collection-details{
			width: 454px;
		}
		.delivery-options-list {
	        li {
	        	.delivery-saver-message{
					.delivery-saver-tooltip-content{
						left: -138px;
					}
				}
			}
		}
		.irspc-delivery-options {
			width: 600px;
			float: left;
			clear: none;
		}

		.delivery-cost-module {
			float: right;
			clear: none;
			border-top: none;			
			margin-top: 8px;			

			.label {
				display: none;
			}
			.value {
				margin-top: 30px;
			}
		}
		
    .collection-details {
      .address-nickname {
        
        .customDropdown {
          width: 85%;
        }
      }
    }
	}

	.store-not-found {
		@include tooltipLarge;
	}
	
	.ecoupon-link-delivery{
		float: left;
		margin-top: 20px;
	}
}
.checkout.irSPC{
	.delivery-block {
		min-height: inherit;
		.delivery-cost-module{
			float: none;
			clear: left;
			border-top: 1px solid #d6d2c4;
			
			.label{
				display: block;
				margin-top: 15px;
			}	
			
			.value{
				margin-top: 15px;
			}
		}
	}
}
