//checkout-delivery module - all
@import "../variables";
@import "checkout-delivery-mixins";
@import "../forms/forms-mixins";

input[type=text] {
	width:100%;
	&.highlight {
		background: #FEFEEA;
	}
	&.valid {
		background: #FFF;
	}
}

/* ** EPIC 2571 : Start ** */
.no_results { display:none !important}
.error-text { color:red; }

/* Payment block */
.add-new-address {
	.post-code {
		button.edit-address-button {
			height: 38px;
			padding: 0px;
			border: 0;
		}
	}
}

/* Delivery */
.new-address {
	.post-code {
		button.edit-address-button {
			height: 45px;
			padding: 0px;
		}
	}
}

/* Delivery & Payment */
.new-address,
.add-new-address,
.flowers-recipient .edit-new-recipient,
.flowers-recipient .flowers-new-recipient {
	.message {
		padding: 0.25em 0.5em;
		font-size: 1.2em;
		background: white;
		border: 1px solid rgb(229, 229, 229);
		position:relative;
		z-index:1;

	}
	.manually-add-address {
		display: none;
		.locality-city {
			font-weight: bold;
			font-size: 1.4em;
			padding-left: 1em;
		}
	}
	.post-code {

		[for="postal-code-pca"].error {
			width: 70%;
		}

		&:after {
			@include clear-fix;
		}
		min-height:45px;
		button {
			width: 25%;
			float: right;
			margin-top: 0;
		}
		table.pcaCapturePlusTable {
			float:left;
			width:70% !important;
			td {
				width:70%;
			}
			.message {
				width: 100%;
			}
			input#postal-code-pca {
				width:100%;
			}
		}
	}
}
/* ** EPIC 2571 : End ** */
.checkout {
	.delivery-group-block {
		.delivery-block {
			.collection-details.flowers-recipient {
				.edit-new-recipient p,
				.edit-saved-address p,
				.flowers-new-recipient p.tel-info {
					font-size: 12px;
					padding-left:0px;
					color: #a69f88;
				}
			}
		}
	}
	.stores-container,
	.lockers-container {
		p{
			margin-top: 0;
		}
	}
	.stores-container p.all-store-restrict-error {
		color: #ee1c2e;
		font-family: "Tesco", Helvetica, Arial, sans-serif;
		font-size: 15px;
		margin: 16px 0px;
		line-height: 21px;
	}
	span.error.flowers-new-address-error {
		position: relative;
	}
}
.checkout .delivery-block {
	&.e-gaming{
		.delivery-options {
			#egaming-DO-Container {
				p {
					width: 100%;
				    font-size: 14px;
				    color: $xDarkPutty;
				    line-height: 18px;
				    position: relative;
				    font-family: $tescoFont;
					margin: 0;
					&:first-child{
						padding-bottom: 18px;
					}
				}
			}
		}
		.e-gaming-email {
			p {
				font-weight: bold;
			    position: relative;
			    top: -12px;
					word-wrap: break-word;
			}
		}
	}
	 .delivery-saver-tooltip-content{
		.back{
	 		display: none;
	 	}

	 }

	ul.tabs .groceryDeliveryText{
		width: 383px;
  		height: 96px;
  		border: 5px solid #009cda;
  		border-radius: 10px;
  		margin-left: 118px;
  		margin-top: -76px;
	  	padding: 16px;
	  	font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
	  	font-size: 18px;
	  	font-weight: bold;
	  	display: inline-block;
	  	position: relative;
	  	background-color: #fff;
	  	margin-bottom: -9px;
		span{
			color:$tescoRed;
		}
		img{
			float:right;
		}
		a.moreLink{
			font-size: 13px;
			color: #009cda;
			display: block;
			padding-top: 4px;
		}
		&:before{
			width: 33px;
			height:20px;
			content: " ";
			background-image: url('../images/bubble_pointer.png');
			position: absolute;
			left: -33px;
			top: 43px;
		}
	}

	.customDropdown.open {
		z-index: 300;
	}


	.highlight {
		background: $inputYellow;
	}
	.valid {
		background: #FFF;
	}

	label.error, label.invalid2 {
		font-size: 14px;
		color: $error;
	}

	fieldset {
		border: none;
		padding: 0;
        padding-left: 8px;
		margin: 0;
	}

	border-top: 1px solid $lightPutty;

	> h2 {
		border-top: 1px solid $lightPutty;
	}

	.store-options-module,
    .fake-store-options-module {

		&:after {
			@include clear-fix;
		}

		.postcode {
			font-weight: bold;
		}
	}

	.stores {

		&.hidden {
			display: none;
		}

	}

	.delivery-options {
		width: 50%;
		float: left;
		border-right: 1px solid $pagePutty;
		margin-bottom: 16px;
	}

	.datepicker-wrapper {
		.edit {
			float: right;
		}
	}

	.stores {
		padding-right: 16px;
		width: 100%;
		&.other-stores {
			li p {
				top: 22px;
			}
		}

		li {
			display: table;
			border-top: 1px solid $lightPutty;
			padding: 12px 0 14px 8px;
			font-size: 1.4em;
			position: relative;
			width: 100%;

			label {
				display: table-cell;
				margin-left: 30px;
				width: 100%;
			}

			.custom-radio {
				margin: -3px 8px 0 0;
				vertical-align: middle;
			}

			span {
				display: inline-block;
			}
			p.preferredStoreText{
				width: 100%;
				position: absolute;
				right: -32px;
				top: 36px;
				font-size: 13px;
				font-weight: bold;
			}
		}

		.details {
			position: absolute;
			top: 12px;
			right: 0;
		}

		.details-unavailable {
			display: block;
			clear: both;
			float: none;
			width: 100%;
			color: $xDarkPutty;
			margin-top: 5px;
		}

		h3 {
			font-size: 1.4em;
		}

		.field-wrapper.checkbox-wrapper {
			width: 100%;
		    position: absolute;
		    right: -32px;
		    top: 29px;
		    input[type=checkbox] {
			    display: none;
			}
			.checkbox {
			    float: left;
			    margin: 9px 8px 9px -25px;
			}
			label {
				display: block;
			    margin: 12px 0px;
			    width: 90%;
			}
		}
	}

	.panel {
		padding: 8px 0 0 0;
		border-top: 1px solid $lightPutty;
		margin-bottom: 0px;
	}

	.view-more-stores {
		border-top: 1px solid $lightPutty;
		display: block;
		font-size: 1.4em;
		padding: 14px 0 0 8px;
		margin-right: 16px;
		position: relative;

		&:hover {

			text-decoration: none;
		}

		.icon {
			position: absolute;
			right: 0;
			line-height: 0.8em;
			font-size: 1.2em;

		}
	}

    @include custom-radio($lightPutty, 0px, -6px);

	.custom-radio {
		&.disabled {
			cursor: default;
			border-color: $inactivePutty;

			& + input + label {
				color: $inactivePutty;
			}

			& + label {
				color: $inactivePutty;
			}
		}
	}

	.store-info-details {
		display: none;
	}

	.store-details-container {
		display: none;
		background: #fff;
		position: relative;
		z-index: 100;

		.store-name {
			margin: 0 0 16px 0;
			font-size: 14px;
			font-family: $bodyFont;
		}

		@include store-details;
		.back {
			display: none;
		}
	}

	.store-search-form {
		margin-top: 16px;
		@include inputStyles;
		border-top: 1px solid $lightPutty;
		padding: 16px 0;
		position: relative;

		&:after {
			@include clear-fix;
		}

		.hidden {
			display: none;
		}

		input[type="submit"]{
			box-shadow: none;
			width: 60px;
			position: absolute;
			right: 0;
			top: 26px;
		}

		input[type="text"]{
			width: 100%;
		}

		.input-wrapper {
			margin-right: 68px;
			width: auto;
			padding-top: 10px;
  			height: 55px;
		}

	}


	.collection-details {
		float: left;
		width: 50%;
		padding-left: 8px;
		/*font-size: 1.4em;*/
		margin-bottom: 16px;

		.collection-details-picker {
			padding-bottom: 0;

			.delivery-options-list li {
				padding-bottom: 0;
			}
		}

        .datepicker-tooltip-module {
        	padding-right: 0;
			.datepicker-cta {
				margin-top: 20px;
				margin-bottom: 0;
				float: none;
				display: inline-block;

				&.edit {
					margin-top: 0
				}
			}
			.date-text-show {
				margin-bottom: 5px;
				margin-left: 8px;
				& + .datepicker-tooltip {
					top: 120%;
				}
			}
			.selected-delivery-date {
				margin: 0;
				padding-right: 35px;
				padding-left: 8px;
			}
		}

		p {
			font-size: 14px;
		}

		.address-nickname {
			margin-bottom: 16px;

			.customDropdown,
			.control {
				width: 100%;
				.icon {
					position: absolute;
					right: 16px;
				}
			}
		}
		.groceryDeliveryAddress {
			margin-bottom: 16px;
			.customDropdown{
				width:92%;
				.icon {
					position: absolute;
					right: 16px;
				}
				a span.postcode{
					position: absolute;
					right: 36px;
				}
				&.open ul{
					max-height:178px;
				}
			}
			.control{
				width:100%;
				.icon {
					position: absolute;
					right: 16px;
				}
			}
			&.singleDbtAddress{
				.customDropdown {
	                .control {
	                    background-color: $btnSecondaryDisabledColor !important;
	                    pointer-events: none;
	                    &:hover {
	                        background-color: inherit;
	                        color: inherit;
	                        border: 1px solid #a69f88;
	                    }
	                    .icon {
	                        display: none;
	                    }
	                }
	            }
			}
		}
		.delivery-contact-snippet, .courier-instructions, .address, .different-address, .courier-instructions{
			position: relative;
			border-bottom: 1px solid $lightPutty;

			.edit {
				float: right;
				color: $tescoBrightBlue;
				&:first-letter {
					text-transform: capitalize;
				}
			}
		}

		.collection .delivery-contact-snippet {
			> p {
				margin-top: -4px;
			}
		}

		.courier-instructions {
			border-bottom: none;
			p {
				margin-bottom: 0;
			}
		}


		.different-address {
			border-top: 1px solid $lightPutty;
			border-bottom: 0;
			margin-top: 16px;
			p {
				margin-bottom: 0px;
				a {
					z-index:0;
				}
			}
		}

		.collection-time {

			.date-time {
				font-weight: bold;
				margin: 0;
			}
		}

		.flowers-new-recipient .form-mobile-wrapper {
			.form-actions {
				input[type="submit"] {
					margin-left: 0;
					width: 100%
				}
			}
		}

		.edit-contact-details, .new-address, .neighbour-house-no, .edit-new-recipient, .edit-saved-address, .flowers-new-recipient {
			@include deliveryForm;
			form:after {
				@include clear-fix;
			}
		}

		.edit-contact-details, .edit-new-recipient, .flowers-new-recipient {
			.customDropdown {

				.control {
					width: 84px;
					position: relative;
				}

				.icon {
					position: absolute;
					right: 8px;
				}
			}

			// fix to ensure that the error doesn't appear above the custom drop down
			// js amended to insert the error for custom dropdowns after the '.customDropdown' wrapper
			select.error + .customDropdown {
				margin-bottom: 2px;
			}

			input[type=text] {
				&.required {
					background-color: #FFFCE9;
					border: 1px solid $lightPutty;
				}
				&.valid {
					background-color: #fff;
				}
			}
		}

		.courier-instruction-container.loading {
			min-height: 120px;
		}

		.edit-courier-instructions {
			display: none;
			margin-top: 16px;

			.neighbour-house-no {
				.field-wrapper {
					margin-bottom: 0;
				}
			}

			.form-actions {
				margin-top: 16px;
				font-size: 10px;
				&:after {
					@include clear-fix;
				}

				input[type="button"] {
					-webkit-box-shadow: none;
					box-shadow: none;
					float: left;
					width: 48%;
					margin-right: 4%;
				}

				input[type="submit"] {
					-webkit-box-shadow: none;
					box-shadow: none;
					float: left;
					width: 48%;
				}
			}
		}

		.neighbour-house-no {
			border-bottom: none;
		}

	}

	.hidden {
		display: none;
	}


	.delivery-cost-module {
		font-size: 1.5em;
		border-top: 1px solid $pagePutty;
		clear: both;
		font-family: $tescoFont;
		float: left;
		display: block;
		.whatsThisChargeLinkAndPrice{
			float: right;
			#whatsThisCharge{
				float: right;
			}
			#whatsThisChargeMessage{
				display:none;
				border: 1px solid lightgrey;
				z-index: 20;
				width: 255px;
				position: absolute;
				background: #fff;
				top: -35px;
				right: 80px;
				padding: 7px;
				p{
					padding:0;
					margin: 0;
					font-size: 1.0em;
				}
				.back{
					display: none;
				}
				.icon{
				  position: absolute;
				  right: -15px;
				  top: -15px;
				  background: #7c765f;
				  height: 30px;
				  width: 30px;
				  border-radius: 50%;

				  &:before{
				  	color: #fff;
				  	font-size: 0.3em;
				  	position: absolute;
				  	left: 8px;
				  	top: 8px;
				  }
				}
			    &:before, &:after {
					content: "";
					border: 15px solid #848282;
					border-color: #848282 transparent transparent transparent;
					position: absolute;
		     		top: 65px;
				    right: 15px;
				}
				&:after{
					border: 15px solid #fff;
					border-color: #fff transparent transparent transparent;
				}
			}
		}
		&:after {
			@include clear-fix;
		}

		.label {
			float: left;
			line-height: 1.45em;
			display: inline;
			margin-top: 10px;
		}

		.value {
			float: right;
			font-weight: bold;
			font-size: 1.6em;
			margin-top: 10px !important;
			margin-bottom: 5px;
			display: inline;
			position: relative;
		}
	}


	/** Home delivery **/
	.datepicker-tooltip-module,
	.home-delivery-container {
		font-size: 14px;
		padding-right: 16px;
		padding-bottom: 16px;

		.spcAdditionalNote {
			font-size: 0.5em;
		}

		&:after {
			@include clear-fix;
		}

		p {
			font-size: 14px;
		}

		.button {
			font-size: 14px;
		}

		.datepicker-cta {
			float: left;
			width: auto;
			clear: both;
			padding-left: 32px;
			padding-right: 32px;

			&.edit {
				padding: 0;
				position: absolute;
				right: 0;
				display: inline;
			}
		}

		.expected {
			font-size: 0.8em;
		}

		.selected-delivery-date {
			position: relative;
			padding: 15px 0;
			border-top: 1px solid $lightPutty;
			border-bottom: 1px solid $lightPutty;
		}

		.datepicker-wrapper {
			position: relative;
		}

		.datepicker-tooltip {
			display: none;
			position: absolute;
			z-index: $nativeSelectZIndex+1;
			top: 58px;
			left: -17px;
			width: 510px;
			background: #fff;
			border: 1px solid #8A8888;
			padding: 16px;
			@include box-shadow(0 0 10px rgba(0,0,0,0.3));

			&:after {
				@include clear-fix;
			}

			&:before {
				content: '';
				background: url(../img/checkout-tooltip-arrow-top.png);
				width: 29px;
				height: 15px;
				position: absolute;
				top: -15px;
				left: 14px;

			}

			.button {
				font-size: 14px;
			}

			.datepicker {
				float: left;
				margin-right: 16px;
			}

			h3 {
				font-size: 14px;
				float: right;
				width: 168px;
			}

			h2.datepicker-title {
				padding: 0 0 16px;
				font-size: 22px;
			}

			.datepicker-note {
				font-size: 12px;
				font-weight: bold;
			}

			.selected-date {
				font-weight: bold;
				color: #399211;
				font-size: 14px;
			}

			.cost {
				font-size: 14px;
			}

			.close {
				position: absolute;
				display: block;
				cursor: pointer;
				width: 30px;
				height: 30px;
				right: -15px;
				top: -15px;

				overflow: hidden;
              background: #105da3;
              border-radius: 15px;
              border: 1px solid #999;
              text-decoration: none;
              .icon {
                top: 7px;
                left: 7px;
                font-size: 14px;
                color: #fff;

              }
			}

			.close.icon {
				background: #a69f88;
				font-size: 14px;
				color: #fff;

				&:before {
					width: 100%;
					overflow: hidden;
					display: block;
					height: 100%;
					text-align: center;
					line-height: 28px;
				}
			}

			.selected-date-info {
				float: left;
				width: 168px;

				.label {
					display: none;
				}
			}
		}
	}

	.delivery-options-list {

        li {
            display: table;
            padding: 4px 0 10px 0;
            font-size: 14px;
            position: relative;
            width: 100%;

            label {
                display: table-cell;
                margin-left: 30px;
                width: 100%;
            }
            span.scheduleDayError{
                display: block;
                float: left;
                margin: 0;
                font-size: 1.3em;
                top: -40px;
            }
			span.long-date {
				display: inline;
			}
            .custom-radio {
                //margin: -5px 8px 0 0;
                vertical-align: middle;
            }

            span {
                display: block;
            }
            .groceryDO span.type{
            	display:inline;
            	span{
            		display:inline;
            		color:$tescoRed;
            	}
            }
            .delivery-saver-message{
            	.topArrow{
            		&:after, &:before{
						content: "";
						border: 27px solid #848282;
						border-color: transparent transparent #848282 transparent;
						height: 0;
						width: 0;
						top: -17px;
						position: absolute;
						left: 14px;
						margin-left: -35px;
						z-index: 100000;
					}
					&:after{
						border-color: transparent transparent white transparent;
						border-width: 27px;
						top: -15px;
						margin-left: -35px;
					}
            	}
            	.container{
					display: none;
					position: relative;
				}
            	.delivery-saver-tooltip-content{
					background: #fff;
					-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
					box-shadow: 0 0 6px rgba(0,0,0,0.2);
					border: 1px solid #848282;
					position: absolute;
					width: 295px;
					padding: 16px 8px;
					z-index: 20;
					margin-top: 20px;
					.close {
						cursor: pointer;
						display: block;
						position: absolute;
						height: 30px;
						width: 30px;
						right: -15px;
						top: -15px;
						overflow: hidden;
						z-index: 21;
						background: #7c765f;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						border-radius: 50%;
						.label {
							left: -9999em;
							position: absolute;
						}
						.icon {
							top: 8px;
							left: 8px;
							font-size: 1em;
							color: #fff;
							position: absolute;
							line-height: 15px;
							&:before {
								content: "y";
								font-family: 'Tesco Icons';
							}
						}
					}
				}
	            &.info{
	            	position: relative;
	            	span.help {
						background: url("../img/question.png") no-repeat;
						width: 13px;
						height: 13px;
						position: relative;
						content: 'Question';
						text-indent: -999em;
						position: absolute;
						display: inline-block;
						cursor: pointer;
		            }
	            }
            }
        }
    }

	.split-delivery {
		background: #FDF7C8;
		border: 1px solid #DACD85;
		padding: 8px;

		p {

			&:first-child{
				margin-top: 0;
			}
			margin: 4px 0;
		}

		.button {
			width: auto;
			padding: 8px;
			margin-top: 16px;
		}
	}

	.age-restriction {
		border-top: 1px solid #000;
		padding-bottom: 16px;
		clear: both;

		&:after {
			@include clear-fix;
		}

		p:first-child {
			margin-top: 16px;
		}

		p{
			margin: 8px 0;
		}

		.field-wrapper {
			float: left;
			margin-left: 16px;

			&.first{
				margin-left: 0;
			}
		}
		.customDropdown{
			z-index: 100000;
		}
	}

	.store-not-found {
		font-size: 14px;

		p {
			font-size: 1em;
		}

		.info {
			display: none;
			background: #fff;
			@include box-shadow(0 0 6px rgba(0,0,0,0.2));
			border: 1px solid #DFDFDF;
		}
	}

	.collection-details {
	    .address {
	        &:after {
	            @include clear-fix;
	        }
	        a {
	        	padding-left: 10px;
	        }
	    }
	}
}



.loader{
	position: absolute;
	z-index: 5000;
	background: url(../img/ajax-loader.gif) no-repeat #fff center center;
	color: #848282;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 16px 16px 16px 16px;
	font-size: 14px;
	min-height: 110px;

	&.small {
		padding: 8px 16px 16px 16px;
		background: url(../img/ajax-loader-small.gif) no-repeat #fff center center;
		min-height: 50px;
	}
}

 .delivery-cost-module, .dg-d-options {
 	.loader {
		min-height: 100px;
	}
 }


/** Custom map styles **/
.map-pin {
	cursor: pointer!important;
}

.map-pin > div {
	color: #27539D!important;
}

.map-pin-selected > div {
	color: #fff!important;
}

.map-div .store-address {
	position: relative;
	background: #fff;
	border: 1px solid $lightPutty;
	width: 250px;
	margin-left: -125px;
	margin-top: -8px;
	padding: 8px;

	&:after {
		content: '';
		background: url(../images/map-infobox-arrow.png) no-repeat center center;
		position: absolute;
		width: 36px;
		height: 18px;
		bottom: -18px;
		left: 50%;
		margin-left: -18px;
	}

	.store-name {
		width: 202px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 14px;
		line-height: 1;
		font-weight: bold;
		font-family: $bodyFont;
	}

	.tel {
		margin-top: 16px;
	}
}

#virtual-page, #overlay {
	label.error, label.invalid2 {
		font-size: 14px;
		color: #DD2D28;
	}
}

.checkout .delivery-block .map-div .store-address,
#virtual-page .map-div .store-address {
	.close {
		position: absolute;
		background: none;
		color: #000;
		text-indent: 0;
		font-size: 0.8em;
		color: $contentLink;
		width: auto;
		height: auto;
		padding: 6px 14px 46px 75px;
		top: 2px;
		right: 2px;
	}
}

/**different delivery address **/
.checkout-different-address {
	padding: 16px 16px 69px 16px;


	.new-address {
		display: none;
	}

	h2 {
	  border-bottom: 1px solid $lightPutty;
	  padding-bottom: 16px;
	}

	.product {
		position: relative;
		padding-top: 16px;
		padding-bottom: 16px;
		height: auto;
		border-bottom: 1px solid $lightPutty;

		h3 {
			font-weight: normal;
			font-size: 14px;
		}

		.product-details, .additional-service-item{
			margin-left: 88px;
		}

		.cat-no {
			margin-bottom: 8px;
		}

		.sold-block {
			margin-top: 0;
			.dg-items-ps {
				font-weight: bold;
			}
		}

		.price-container {
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -1.3em;
			font-family: $tescoFont;
			font-weight: bold;
			.price {
				font-size: 1.45em;
			}
		}

		.thumbnail {
			width: 105px;
			float: left;

			img {
				width: 100%;
				height: auto;
			}
		}

		.change-address {
			clear: both;
			margin-left: 113px;
			height: 65px;

			label {
				font-size: 1.4em;
				display: block;
				margin-bottom: 16px;
			}
			.address p {
				font-size: 14px;
				margin: 0;
			}
		}

		.product-details, .additional-service-item h3 {
			width: 70%;
			float: left;
			margin-left: 0;
			margin-left: 8px;
			&:after {
				@include clear-fix;
			}
		}

		.price-container {
			margin-top: 0;
			clear: right;
		}

		.additional-service-item {
			clear: both;
			margin-left: 113px;

			h3 {
				margin: 0;
			}
		}
	}

	.add-new-address {
		p {
			margin: 0;
		}
		a {
			display: block;
			padding: 16px 0;
			font-size: 14px;
		}
	}

	.form-actions {
		input{
			font-size: 1.3em;
		}

		input[type="submit"], input[type="button"] {
			@include box-shadow(none);
			float: left;
			width: 48.75%;
		}

		input[type="submit"] {
			margin-left: 2.5%;
		}
	}

	.different-address {
		width: 100%;

		.form-actions {
			position: absolute;
			bottom: 8px;
			width: 95.5%;
      border-top: 1px solid #DFDFDF;
      padding-top: 16px;
		}
	}

	.products {
		padding-bottom: 0;
	}

	.new-address {
		@include deliveryForm;
		border-bottom: none;
		font-size: 1em;
		.hidden {
			display: none;
		}
	}

}

.field-wrapper {
	position: relative;
}

.no-touch {

	.checkout .delivery-block {
		.view-more-stores {

			&:hover {
				text-decoration: underline;
			}

		}
	}

}

#lightbox{

	&.store-not-found {

		.info {
			padding: 8px 16px;
		}

		.back {
			display: none;
		}
	}

	&.checkout-different-address {

	  .control {
      min-width: 256px;
      float: left;

      .innerText {
      	display: block;
      	max-width: 256px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				float: left;
      }

      .icon {
        float: right;
      }
    }

    .address-update {
      clear: both;
      padding-top: 16px;
    }
	}
}

#lightbox-locker-info {
    font-family: $tescoFont;
    padding: 0 20px 20px 20px;

    h2 {
        color: $headingColor;
        font-size: 4em;
        font-weight: 400;
        letter-spacing: -.025em;
        top: 25px;
        left: 13px;
        position: relative;
    }

    .col {
        margin-top: 60px;
        padding: 0 15px 10px 15px;
        width: 312px;
        float: left;
        min-height: 400px;

        h3 {
            font-size: 3em;
            font-weight: normal;
            letter-spacing: -.025em;
        }

        .img-container {
            text-align: center;
            height: 120px;
            line-height: 150px;

            img {
                display: inline;
                vertical-align: middle;
            }
        }

        p {
            font-size: 2em;
            color: $primaryTextColor;
        }
    }
}

#lightbox.more-info-about-lockers {

    width: 1000px;
    min-height: 590px;
    left: 50%;
    top: 100px;
    margin-left: -500px;
    border: none;

    .close {
        right: 25px;
        top: 35px;
        background-color: #fff !important;
        color: $darkPutty !important;
        width: 28px;
        height: 28px;
        z-index: 10;

        .icon {
            color: $darkPutty !important;
            font-size: 17px;
            width: 15px;
            height: 15px;
            top: 5px;
            left: 5px;
        }
    }

    a.close {
        display: none;
    }

    #lightbox-locker-info {
        top: 0;
        left: 0;
    }
}

.deliveriesToHospitalsMessage {
    border: 1px solid $lightPutty;
    padding: 16px 16px 16px 8px;
    background: $pagePutty;
    span {
        display: table-cell;
        vertical-align: middle;
        font-size: 20px;
        &:before {
            border: 1px solid $xDarkPutty;
            border-radius: 50%;
        }
    }
    p {
        display: table-cell;
        vertical-align: middle;
    }
}

.checkout.irSPC{
	.delivery-block {
		.delivery-options-list li span{
			position: absolute;
			top: 8px;
		}
		.stores{
			li{
				border: 0 solid #000;
				color: #C7C5BD;
			}
		}
	}

	#payment-submit-error{
		display: none
	}
}
.checkout .delivery-block {
	.delivery-options {
		h2[data-icon]:before {
			margin-right: 8px;
		}
		.stores-container,
		.other-stores .more-stores-holder {
			.store-restrict-error {
				width: 100%;
				padding: 4px 60px 0 0;
				font-size: 13px;
				color: #a69f88;
			}
		}
	}

	.collection-time {
		min-height: 50px;
	}

	.collection-reminder {
		.loader {
			background-image: none;
			min-height: 0;
		}
	}

	.more-list-holder {

		h4 {
			font-size: 20px;
			padding: 0 0 16px;
			margin: 0;
			font-weight: normal;
			font-family: $tescoFont;

			&:before {
				margin-right: 8px;
			}
		}
	}

	.flowers-module {
		&.new-flowers-checkout {
			.flowers-pick-date {
				.flowers-pick-date-error {
					margin-left: 0;
				}
				.datepicker-wrapper {
					h3 {
						font-size: 1.3em;
						margin-top: 10px;
					}
				}
			}
			.datepicker-tooltip-module,
			.home-delivery-container {
				.datepicker-cta.edit {
					left: 0;
					font-size: 14px;
					display: block;
					padding-top: 10px;
				}
				.selected-delivery-date.new-flowers {
					border: none;
	 				padding: 0;
				}
			}
		}
		.flowers-recipient{
			border-right: 1px solid #d6d2c4;
			padding-right: 40px;
			.address-tabs {
				overflow: hidden;
				li {
					font-size: 1.4em;
					display: table;
					width: 50%;
					float: left;
					padding: 10px;
					label {
						display: table-cell;
					}
				}
			}

			.flowers-new-recipient {
				.address-tabs {
					ul {
						overflow: hidden;
						li {
							padding: 10px 0;
						}
					}
				}
				.new-flower-address {
					span.hospital-msg {
						font-size: 12px;
					}
					span.icon {
						font-size: 14px;
						&:before {
							border: 1px solid $xDarkPutty;
	            border-radius: 50%;
						}
					}
				}
				.saved-flower-address.open,
				.edit-courier-instructions {
					.customDropdown {
						width: 100%;
						.control {
							width: 100%;
						}
					}
					.new-flower-saved-address {
						position: relative;
						padding-top: 21px;
					}
				}
				.hospital-msg-wrapper {
					display:none;
				}
				.edit-courier-instructions {
					.form-actions {
						input[type=button] {
							width: 43%;
						}
					}
				}
			}

			.add-new-recipient, .saved-address, edit-saved-address {
				display: none;
			}
			.edit-new-recipient, .flowers-new-recipient {
				display: block;
				h4 {
					font-size: 1.4em;
				}
				.customDropdown {
					width: 86px;
				}
				.manually-add-address {
					padding-top: 14px;
				}
				.address-link {
					display: none;
					float: right;
				    font-weight: normal;
				}
				.new-flower-address.open,
				.saved-flower-address.open {
					display: block;
				}
				.new-flower-address,
				.saved-flower-address {
					display: none;
				}
			}
			.added-new-recipient,
			.saved-flowers-recipient {
				p {
					padding-left: 0px;
				}
				h4 {
					font-size: 14px;
				}
			}
			.added-new-recipient a.edit {
				float: right;
			}
			.edit-saved-address {
				border-bottom: none;
				.field-wrapper .customDropdown {
				    width: 86px;
				    a.control {
				    	width: 100%;
				    }
				}
			}
			.saved-address {
				h4 {
					font-size: 1.4em;
				}
				a.edit {
					float: right;
				}
			}
			.courier-instruction-container {
			    border-bottom: 1px solid #d6d2c4;
			    border-top: 1px solid #d6d2c4;
			    padding-bottom: 16px;
			}
			.recipientAddressHeader {
				font-size: 14px;
			}
			.recipient-address-div {
				border-bottom: 1px solid #d6d2c4;
    			padding-bottom: 14px;
				.customDropdown {
					width: 75%;
					.control {
						width: 100%;
						span.icon {
		 					float: right;
		 				}
					}
				}
				&.disable-flowers-address {
					.customDropdown {
		                .control {
		                    background-color: $btnSecondaryDisabledColor !important;
		                    pointer-events: none;
		                    &:hover {
		                        background-color: inherit;
		                        color: inherit;
		                        border: 1px solid #a69f88;
		                    }
		                    .icon {
		                        display: none;
		                    }
		                }
		            }
				}
			}
			span[for="save-recipient-mob"].error, span[for="new-recipient-mob"] {
				top: 74px;
			}
			span[for="save-recipient-title"].error, span[for="new-recipient-title"].error {
				width: 84px;
			}
			span[for="new-recipient-alt-tel"].error, span[for="save-recipient-alt-tel"].error {
				top: -6px;
			}
		}
		.flowers-pick-date {
			border-right: none;
			padding-left: 30px;
			.flowers-pick-date-error {
			    background: #fff2f2;
			    padding: 5px;
			    border: 1px solid #ee1c2e;
			    color: #ee1c2e;
   				margin: 0 0 30px 30px;
			}
			.delivery-options-list li span.scheduleDayError {
				top: -62px;
			}
		}
	}
}

#page-container .flowers-recipient input#save-recipient-mob.required,
#page-container .flowers-recipient input#new-recipient-mob.required,
#page-container .flowers-recipient input#save-recipient-mob,
#page-container .flowers-recipient input#new-recipient-mob {
    background-color: #fefde8;
}
#page-container .flowers-recipient input#new-recipient-mob:disabled,
#page-container .flowers-recipient input#save-recipient-mob:disabled {
	background-color: #ebebe4;
}
.checkout .delivery-block {
	.store-options-module {
		.secondary-delivery-options {
			display: none;
		}
		&.has-secondary-delivery-options {
			&.is-loading {
				position: relative;
				&:before {
					content : " ";
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: #fff;
					width: 100%;
					height: 100%;
					z-index: 5;
					@include opacity(0);
				}
			}

			.stores li label {
				padding-right: 50px;
			}

			.delivery-options {
				width: 66.666%;

				.lockers-fail {
					border: 3px solid $colorRed;
					text-align: center;
					font-size: 1.2em;
					height: 224px;
					margin-right: 16px;

					&:before {
						color: #db2a27;
						font-size: 3em;
						margin: 55px 0 20px;
						display: block;
					}

					p {
						padding-left: 0;
					}
				}

				.stores-container,
				.lockers-container {
					h2[data-icon] {
						padding-bottom: 32px;
					}

					width: 50%;
					float: left;

				}

				.secondary-delivery-options {
					display: block;
					float: left;
					border-left: 1px solid $pagePutty;
					padding-left: 14px;
					width: 50%;
					min-height: 271px;

					.stores-container,
					.lockers-container {
						width: 100%;
						h2 {
							padding-bottom: 0;
							&:before {
								color: $colorRed;
							}
						}

						.more-delivery-information {
							font-size: 14px;
							font-family: $tescoFont;
							text-decoration: none;
							margin-left: 25px;
							margin-bottom: 16px;
							display: inline-block;
							&:hover{
								text-decoration:underline;
							}
						}

						.badge-new-delivery {
							position: absolute;
							top: 16px;
							right: 16px;
							max-width: 25%;

							img {
								max-width: 100%;
							}
						}
					}
				}
			}

			.collection-details {
				width: 33.333%;
				margin-bottom: 0;
			}

			.delivery-cost-module {
				margin-bottom: 20px;
				text-align: right;

				.label {
					display: inline-block;
					float: none;
					margin: 0;
					padding-left: 0;
					font-weight: bold;
				}

				.value {
					margin-top: 0;
					float: none;
					font-size: 1.2em;
					padding-left: 0px;
				}

				.loader {
					background-image: none;
					min-height: 0;
				}
			}

			.view-more-stores {
				clear: both;
				text-align: center;

				.icon {
					position: static;
				}
			}

			fieldset {
				padding-left: 0;
			}
			.more-list-holder {
				float: left;
				width: 49%;
				min-height: 180px;

				h4 {
					font-size: 20px;
					padding: 0 0 16px;
					margin: 0;
					font-weight: normal;
					font-family: $tescoFont;

					&:before {
						margin-right: 8px;
					}
				}

				& + .more-list-holder {
					position: relative;
					padding-left: 8px;
					margin-left: 8px;
					border-left: 1px solid $pagePutty;
				}
			}
		}
	}
}
