/*******************************************
*	Tablet Carousel module
*******************************************/

@import "../breakpoints";
@include breakpoint(tablet);
@import "carousel-mixins";

@include responsiveCarousel;

#carousel {
	padding: 0 8px;
}
@include breakpoint(hTablet) {
	#carousel {
		 min-height: 288px;
		.wrapper{
			min-height: 256px;
		}
		.homepage-carousel & {
			min-height: 325px;
			.wrapper {
				min-height: 285px;
			}
		}
	}
}
@include breakpoint(vTablet){
	#carousel {
		 min-height: 265px;
		.wrapper{
			min-height: 233px;
		}
		.homepage-carousel & {
			min-height: 220px;
			.wrapper {
				min-height: 194px;
			}
		}
	}
}