//seller-directory module - large desktop
@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "seller-directory-mixins";

.seller-directory {
  
  .seller {
    width: 18%;
    border: 1px solid $primaryBorderColor;
    float: left;
    overflow: hidden;
    margin: 16px 1%;
  }
  
  #active-product-filters {
    .filters {
      display: block;
    }
  }
}