//seller-directory module - all
@import "../variables";
@import "seller-directory-mixins";

.seller-directory {
  margin: 0 8px;
  
  #active-product-filters {
    margin-bottom: 16px;
    
    .filters {
      
      li.filter {
        text-align: center;
                
        a {
          width: 80px;
          margin-left: 0;
          font-size: 14px;
        } 
      }
    }
  }
  
  .product-grid .products .seller-group {
    @include boxAndShadow;
    border-top: 2px solid #3e3e3f;
    padding-top: 0;
    margin-bottom: 12px;
    width: 100%;
  }
  
  .product-grid .products .top {
    float: right;
    width: auto;
    font-size: 14px;
    margin-bottom: 16px;
    
    .icon {
      font-size: 1em;
    }
  }
  
  .empty {
    color: #eceaea;
  }
  
  .letter-group {
    overflow: hidden;
    
    h2 {
      border-bottom: 1px solid #3e3e3f;
      padding: 16px 8px;
      margin-bottom: 0;
    }
  }
  
  .seller {
    padding: 16px 8px;
    border-top: 1px solid $primaryBorderColor;
    overflow: hidden;
    
    &:first-child {
      border-top: none;
    }
    
    h3 {
      margin: 12px 0;
    }
    
    p {
      margin-bottom: 16px;
      font-size: 14px;
    }
  }
  
  .product-carousel-nav {
    display: none;
  }
}
