//seller-directory module - tablet
@import "../breakpoints";
@include breakpoint(allTablet);
@import "seller-directory-mixins";

.seller-directory {
  
  .seller {
    width: 48%;
    border: 1px solid $primaryBorderColor;
    float: left;
    overflow: hidden;
    margin: 16px 1%;
    
    .link {
      width: 49%;
      margin-bottom: 0;
      float: left;
      
      &.first {
        margin-right: 2%;
      }
    }
  }
}