#media-viewer-container {
    margin-bottom: 30px;

    .media-viewer--portrait & {

        @include breakpoint(hTablet) {
            .product-ping {
                left: 261px;
            }

            #media-viewer--main {
                float: none;
                width: 408px;
                margin: 0 0 0 251px;
            }

            #media-viewer--sidebar {
                margin-left: 84px;
                position: absolute;
                top: 0;
            }

            .media-viewer--carousel-nav {
                .btn-s7-carousel {
                    &.btn-s7-prev {
                        right: auto;
                        left: 251px;
                    }
                    &.btn-s7-next {
                        right: auto;
                        left: 629px;
                    }
                }
            }

            #media-viewer-wrapper {
                &.single-item {
                    #media-viewer--main {
                        margin: auto;
                    }

                    & + .media-viewer--pings {
                        .product-ping {
                            left: 10px;
                        }
                    }
                }
            }
        }

        @include breakpoint(vTablet) {
            #media-viewer--main {
                width: 58.33333333333333%;
                margin: auto;
            }
        }
    }

    .media-viewer--landscape & {
        padding-right: 10px;
        padding-left: 10px;

        .product-ping {
            left: 20px;
        }

        @include breakpoint(hTablet) {
            .media-viewer--carousel-nav {
                .btn-s7-carousel {
                    margin-top: -98px;
                }
            }

            #media-viewer--sidebar {
                width: 600px;
            }

            .mv-thumbnail-container {
                width: 500px;
            }

            .mv-thumbnail-carousel {
                width: 500px;
            }
        }
    }
}


@include breakpoint(vTablet) {
    #media-viewer--sidebar {
        display: none;
    }

    #mv-dotMarker-wrapper {
        display: block;
    }
}

#mediaViewerScene7Container {
    .s7flyoutzoomview {
        .s7tip {
            font-size: 16px;
            line-height: 35px;
        }
    }
}

#mediaViewerScene7Container {
    .videoPosition {
        &.html5-player {
            height: 100%;
        }
    }
}
