/*******************************************
*	Large Desktop Link Save module
*******************************************/

@import "../../../core/components/breakpoints";
@include breakpoint(largeDesktop);

#tab-module {
	width: 946px;
	float: right;
	margin-right: 7px;
	
	&:after {
		@include clear-fix;
	}
}

.tab-content {	
	border-left: 1px solid #bfbdbd;
	border-right: 1px solid #bfbdbd;
}

ul.tabs-link-save {
	li a.active {
		border-left: 1px solid #bfbdbd;
	}	
}

.link-save {
	h1.page-title {
		margin-top: 5px;
	}
	
	.error-title {
		margin-top: 10px;
	}
}