/*******************************************
*	Large Desktop Example module
*******************************************/

@import "../../../core/components/breakpoints";
@include breakpoint(largeDesktop);
@import "../mixins/popular-searches-mixins";

#popular-searches {
	max-height: 26px;
	ul{
		li {
			a{
				@include linkWithBorder;
				font-size: 1.4em;
			}
		}
	}
}
.no-touch {
	.fixedNav {
		#popular-searches {
			width: 80%;
			float: right;
		}
	}
}
