/*******************************************
*	Uniform Embroidery Service
*******************************************/
@import "../mixins/ues-mixins";

#main-content.ues-content{
	width: 1200px;
}
.listing #ues-container #breadcrumb{
	padding-top: 6px;
}
.PDP-Version2  #ues-container {
	.schoolInfoContainer {
		padding-left: 0px;
	}
	.schoolDonationContainer{
        padding-bottom: 17px;
		.schoolDonation{
			margin-left: 0px;
				P{
					padding-top: 26px;
				}
				.value{
					padding: 0 0 26px;
				}
		}
	}
}
#ues-container{
	.commsHolder{
		width: 1097px;
		height: 83.5px;
		//border: 1px solid red;
		margin: 42px 62px 23px 62px;
	}
	.uesBanner{
		.fullWidth{
    		margin: 0 62px;
			height: 458px;
			width: 1057px;
			.pageTitle{
				font-size: 68px;
				line-height: 68px;
			    width: 540px;
			    height: 128px;
				margin-left: 0px;
				margin-top: 41px!important;
			}
			.titleImage{
			    float: right;
			    width: 437px;
			    height: 450px;
			    background: black url("../images/ues/ll_headerimage.jpg") no-repeat top center;
			}
    		.searchHolder{
				width: 366px;
				height: 44px;
				margin-top: 74px;
				.schoolIndicator{
					width: 366px;
					padding: 11px 21px 8px 13px;
				}
    			.schoolInfo{
    				display: none;
    			}
    		}
    		.descriptionSection{
    			width: 571px;
    			float: left;
    		}
    		.registerSection{
    			width: 571px;
    		}
		}
	}
	.contentWrapper{
		padding-top: 29px;
    	width: 1184px;

		.donationSection{
			width: 1102px;
			margin: 0 28px 0 61px;
			padding:15px 35px 15px 50px;
			.donationCounter{
				float:left;
				width:294px;
			}
			.donationText{
				float: right;
			}
		}
		.imgHolder{
		    position: absolute;
		    top: 135px;
		    right: 15px;
			img{
				width: 256px;
				height: 223px;
			}
		}
		.info{
			width: 820px;
			margin: 41px 0 51px 61px;
		}
	}
	.schoolInfoSection{
    	height: 80px;
		h2{
		    line-height: 2.1em;
			margin-bottom: 0px;
			img {
				width: 80px;
				height: 80px;
			}
			span {
				padding-left: 90px;
			}
		}
		.schoolAddress {
			padding-left: 90px;
		}
	}
}
