/*******************************************
*	Kiosk Product Carousel module
*******************************************/

@import "../breakpoints";
@import "../variables";
@include breakpoint(kiosk);
@import "product-carousel-mixins";


.product-carousel#most-popular {
	display: block;
}

#product-carousel-tabs {
	clear: both;
	display: block;
	height: 54px;
	background: url('../img/kiosk-divider-main.png') no-repeat 0 26px;
	text-align: center;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
	margin-top: $onecol;
	li {
		display: inline-block;
		font-size: 16px;
		letter-spacing: normal;
		word-spacing: normal;
		@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
		a {
			@include darkBlueGradient;
			border: 1px solid #014b8f;
			color: #ffffff;
			display: block;
			border-left-width: 0;
			width: 19 * $onecol;
			height: 3.5 * $onecol;
			padding-right: 2 * $onecol;
			padding-left: 2 * $onecol;
			font-size: 1.38em;
			line-height: 3.3 * $onecol;
			text-decoration: none;
			&:active,
			&:focus {
				outline: none;
			}
		}
		&:first-child a {
			@include border-radius(4px 0 0 4px);
			border-left-width: 1px;
		}
		&:last-child a {
			@include border-radius(0 4px 4px 0);
		}
		&.selected a {
			@include inverseLightGreyGradient;
			border-color: $primaryBorderColor;
			color: #3e3e3f;
			position: relative;
			&:after,
		    &:before {
		    	top: 100%;
		    	border: solid transparent;
		    	content: " ";
		    	height: 0;
		    	width: 0;
		    	position: absolute;
		    	pointer-events: none;
		    }
		    &:after {
		    	border-color: rgba(255, 255, 255, 0);
		    	border-top-color: #f1f1f1;
		    	border-width: 10px;
		    	left: 50%;
		    	margin-left: -10px;
		    }
		    &:before {
		    	border-color: rgba(255, 255, 255, 0);
		    	border-top-color: $primaryBorderColor;
		    	border-width: 11px;
		    	left: 50%;
		    	margin-left: -11px;
		    }
		}
	}
}

html.csstransitions .product-carousel.hidden {
	top: 410px;
}

$ping-discount-size: 52px;

.product-carousel {
	position: relative;
	-webkit-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-moz-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-ms-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-o-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	@include translate3d(0,0,0);
	opacity: 1;
	&.hidden {
		-webkit-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		-moz-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		-ms-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		-o-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		@include translate3d(0,100%,0);
		opacity: 0;
	}

	.second-row {
		float: left;
	}

	.product-carousel-nav li {
  		position: static;
		a,
		a .icon:after {
			color: #ffffff;
			width: 3 * $onecol;
			height: 176px;
			border: none;
		}
		a {
		  	position: absolute;
		  	z-index: 1;
		  	top: 88px;
		  	height: 79%;
				border-color: $darkPutty;
    		background: $darkPutty;
    		color: $white;
				border-radius: 0;
				&:hover, &:focus, &:active {
					border-color: $contentLink;
					background: $contentLink;
					text-decoration: none;
					color: $white;
				}
			&.next {
				right: 32px;
			  	a .icon:after {
				  left: 0;
			  	}
			}
			&.previous {
				left: 32px;
			}
		}
		a .icon:after {
		    font-size: 24px;
		    left: -4px;
		    top: 180px;
		    height: 24px;
		}
		a.next .icon:after {
			left: 2px;
		}
	}
	.products-header {
		margin-left: 2 * $onecol;
		margin-right: 2 * $onecol;
        padding: 18px 24px;
        h2 {
            margin-bottom: 0;
            font-size: 37px;
            line-height: 1.2;
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: normal;
       }
	}
	.products-wrapper {
	  margin-left: 4.5 * $onecol;
	  margin-right: 4.5 * $onecol;
	}
	.products > li {
		overflow: visible; // needed to show the shadow
		width: 16.67%;
		.thumbnail{
			img{
				width: 120px;
				height: 120px;
				&.bcve_ping,
    			&.blinkbox-ping {
    				width: auto;
    				height: auto;
    			}
			}
			> div > img {
				width: 100%;
				height: auto;
			}
		}
		.product {
			overflow: hidden;
		  	padding: 16px;
		  	width: 100%;

		  .title-author-format {
			min-height: 0px;
		  }
		}
		.ping {
			font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
			font-weight: bold;
			&.new {
				background: transparent;
				width: 0;
				height: 0;
				padding: 0;
				border-left: 28px solid transparent;
				border-right: 57px solid transparent;
				border-bottom: 40px solid #ee1c2e;
				font-size: 1.3em;
				text-indent: -85px;
				-webkit-transform: rotate(-35deg);
				top: -11px;
				left: -18px;
				&:after {
					content: 'New';
					position: absolute;
					top: 22px;
					left: 0;
					width: 100px;
					text-align: center;
					text-transform: uppercase;
				}
			}
			&.discount {
				@include border-radius(100%);
				top: 82px;
				left: $onecol;
				width: $ping-discount-size;
				height: $ping-discount-size;
				font-size: 1.4em;
				line-height: 1.1em;
				text-align: center;
				text-transform: uppercase;
				padding-top: 1em;
			}
		}
	}
}

.feature-products {
	.product-carousel-nav {

    li {
    	position: relative;

    	&.disabled a {
		background: none repeat scroll 0 0 #F1F1F1;
	    color: #92B2D0;
	    cursor: default;
	    }
    }

  }
  h2,
  .product-carousel-nav li a .icon:after {
    line-height: 29px;
  }
  .product-carousel-nav li a,
  .product-carousel-nav li a .icon:after {
    width: 31px;
    height: 31px;
  }
  .product-carousel-nav li a {
  	position: static;
  	@include inverseLightGreyGradient;
  	border: 1px solid $primaryBorderColor;
  	height: 45px;
  	width: 45px;

  	.label {
  		text-indent: -9999px;
  	}

  	.icon:after {
  		color: #92B2D0;
  		font-size: 1.5em;
  		top: 9px;
  		left: 6px;
  	}

   }
  .product-carousel-nav li:first-child {
  	a {
  		border-right: none;
  	}
  }
}

.product-carousel-heroic {
    display: none;
}
