/*******************************************
*	Tablet Product Carousel module
*******************************************/

@import "../breakpoints";
@include breakpoint(allTablet);
@import "product-carousel-mixins";

.product-carousel,
.product-carousel-heroic {
  margin: 0 auto 32px;
  width: 98%;
  
  h2 {
    margin: 0;
    font-size: 2em;
    width: 80%;
    padding: 12px 0 0;
    word-wrap: break-word;
  }
  
  .products>li {
	width: 50%;
	margin-bottom: 0;

	.product{
    	.thumbnail > div:first-child{
    		width: 85px;
    		height: 85px;
    		margin: 0 auto;
    		overflow: hidden;
    	}
    }
  }
  
  .product-carousel-nav {
    margin: 0;
  }
  
  .product-carousel-nav li a .icon:after {
    line-height: 48px;
  }
  .product-carousel-nav li a, 
  .product-carousel-nav li a .icon:after {
    width: 48px;
    height: 48px;
  }
  .product-carousel-nav li a.touchactive{
	background: -webkit-linear-gradient(top, #296eac 0%, #02539c 100%);	
	display: block;
	color: #ffffff;
  }
}
.product-carousel.streamline-basket-carousel {
    width: 100%;
    margin-bottom: 20px;
}

.product-carousel {
    .products {
        > li {
            .product {
                height: 155px;
                a.thumbnail {
                    height: 85px;
                    width: 85px;
                    margin-bottom: 0;
                    @include vertical-align;
                }
            }
        }
    }
}