//more-choice module - mobile
@import "../breakpoints";
@include breakpoint(mobile);
@import "more-choice-mixins";

.more-choice-block {
	padding-left: $onecol;
	padding-right: $onecol;

	.click-and-collect, .more-choice {
		//width: $onecol * 19.5;
		width: 100%;
	}

	.more-choice {
		font-size: 1.2em;
		text-align: center;
		padding: 0 0 8px 0;
	}

	.click-and-collect {
		text-align: center;
		font-size: 1.2em;
		line-height: 1;
		padding: 8px 0;
	}
}
