//more-choice module - all
@import "../variables";
@import "more-choice-mixins";

.more-choice-block {
	overflow: hidden;
	padding:  0 8px 16px 8px;
	
	.more-choice, .click-and-collect {
		float: left;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.more-choice {
		h2 {
			margin: 0;
			font-weight: bold;
			line-height: 46px;
		}
	}

	.click-and-collect {
		@include inverseLightGreyGradient;
		border: 1px solid $primaryBorderColor;
		border-radius: 4px;
		padding: 5px 0;
		font-family: "Tesco", Helvetica Neue, Arial, sans-serif;

		p {
			margin:0;
		}

		.line-1 {
			color: $contentLink;
			margin-bottom: 4px;
		}
	}
}