//more-choice module - large desktop
@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "more-choice-mixins";

.more-choice-block {
	.more-choice, .click-and-collect {
		width: $onecol * 72.1;
	}

	.click-and-collect  {
		margin-left: $onecol * 3.4;
		padding: 0 16px 0 32px;
		line-height: 46px;
		.line-1 {
			font-size: 2.4em;
			float: left;
			margin: 0;
			padding: 0;
		}

		.line-2 {
			font-size: 1.2em;
			text-align: right;
			padding: 0;
		}
	}
}
