/*******************************************
*	Mobile virtual page module
*******************************************/

@import "../breakpoints";
@include breakpoint(mobile);
@import "virtual-page-mixins";

#virtual-page {

	h1 {
		margin: 4px 16px 8px 8px;
	}

	.product-specifications {
		.back {
		padding: 7px 8px 18px 8px;
		}

		h3 {
			padding-top: 5px;
			padding-bottom: 12px;
		}
		h4 {
			padding-top: 12px;
			padding-bottom: 16px;
		}

		th {
			padding-bottom: 0;
		}

		td {
			padding: 4px 8px 6px 8px;
		}
	}	
}

/* virtual page styles specific for horizontal iPhone devices, changes are designed to save space on Scene7 360 virtual page */
@media screen and (orientation:landscape) {
	#virtual-page.pdp-reduced-furniture {
		overflow-y: visible;
		background: #ffffff;
		h2 {
			display: none;
		}
		#prodSpinView,#prodZoomView {
			overflow: visible;
		}
		#prodZoomView.s7zoomview {
			height: 100% !important;
		}
		#virtualPageBanner {
			top: 121px;
		}
		.back {
			z-index: 999;
			position: absolute;
			border: 0;
			background: transparent;
			height: 30px;
			width: 80px;
			padding: 12px 0px 40px 12px;
		}
	}
}