@import "../mixins/buy-box-mixins";
@include buyboxProductDetailsSmall;
@import "../../../core/components/breakpoints";

@include breakpoint(hTablet) {
  .buybox-view {
    .item-actions-view {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    }

    .warranties-view {
      width: 50%;
      padding-right: 20px;
    }
  }
}
