@include breakpoint(hTablet){
	#range-container{
		.collectionContainer.range{
			padding: 10px 0;
			.collectionItemImageContainer {
			    height: 170px;
			    width: 170px;
			    margin-right: 10px;
			}
			.collectionItemDetail {
			    width: 47%;
			    float: left;
			    height: 160px;
			    position: relative;
			    margin-bottom: 0;
			    p{
				    &.collectionItemDescription{
				    	word-break: break-word;
				    }
				    &.release{
				    	position: absolute;
					    bottom: 0;
					    margin: 0;
					    padding: 0;
				    }
			    }
			}
			.collectionItems{
				>li {
					position: static;
					float: left;
					&:nth-child(even) {
						width: 50%;
						padding-left: 0;
						.collectionActions{
							position: static;
						}
					}
					&:nth-child(odd) {
						width: 50%;
						padding-right: 20px;
						.collectionItemDetail {
							width: 47%;
						}
					}
					.collectionActions{
						float: left;
					    margin-top: 10px;
					    width: 100%;
					    clear: both;
					    position: static;
					    .collectionQuantity{
					    	width: 10%;
		    				margin-right: 10px;
					    }
					    .collectionItemSelection{
					    	width: 87%;
					    }
					    .stock-alert{
					    	width: 100%;
					    	height: 42px;
    						line-height: normal;
					    }
					}
					.oo-stock{
						font-weight:normal;
					    position: absolute;
					    bottom: 0;
					    margin: 0;
					    padding: 0;
			    	}
				}
			}
		}
	}
}

@include breakpoint(vTablet){
	#range-container{
		.collectionContainer.range{
			width: 100%;
			margin: 0 auto;
			.collectionItemImageContainer {
			    height: 190px;
			    width: 190px;
			    margin-right: 10px;
			}
			.collectionItems{

				>li {
					float: left;
					width: 100%;
					padding: 15px 0;
					&:nth-child(even) {
						width: 100%;
						padding-left: 0;
						.collectionActions{
							left: 200px;
							bottom: 15px;
    						margin: 0;
						}
					}
					&:nth-child(odd) {
						width: 100%;
						.collectionActions{
							left: 200px;
							bottom: 15px;
    						margin: 0;
						}
					}
					.collectionItemDetail {
					    float: left;
					    width: 63%;
					    p{
						    &.collectionItemDescription{
						    	word-break: break-word;
									min-height: 30px;
									max-height: 36px;
						    }
					    }
					    .release{
					    	display: block;
					    	line-height: 10px;
					    }
					    .oo-stock{
					    	display: block;
						    margin: 0;
						    line-height: 10px;
					    }
					    .rating-container{
					    	margin: 0 0 8px 0;
					    	height: auto;
					    }
					}
					.collectionActions{
						margin-top: 0;
						.collectionItemSelection{
							width:328px;
						}
						.stock-alert{
						 	display: block;
						 	width: 380px;
						 	height: 42px;
						 	padding: 10px 24px;
						}
					}
				}
			}
		}
	}

}
