@import "../variables";
@import "bfpo-mixins";
@import "bfpo-overrides";

.bfpo-container {
    margin-bottom: 20px;
    margin-top: 0;
    position: relative;
    width: 100%;
}

.bfpo-toggle {
    display: block;

    .bfpo-container.is-open & {
        &:after {
            content: '1';
        }
    }
}

.bfpo-toggle-content {
    @include transform-scale(1,0);
    @include transition(max-height 300ms);
    max-height: 0;
    overflow: hidden;

    .bfpo-container.is-open & {
        @include transform-scale(1,1);
        max-height: 600px;
    }
}

.bfpo-content {
    @include border-radius(0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    padding-left: 0;
    padding-right: 0;

    li {
        strong {
            display: inline;
        }
    }
}

.bfpo-container-pointer {
    display: none;
}

@include bfpoOverridesMobile;
