@mixin bfpo-container-pointer($direction) {
    @if $direction == right {
        left: auto;
        right: 0;
        &:before,
        &:after {
            border-width: 12px 0 12px 14px;
        }
        &:before {
            border-color: transparent transparent transparent #fff;
            left: auto;
            right: -11px;
        }
        &:after {
            border-color: transparent transparent transparent $midDarkGrey;
            left: auto;
            right: -13px;
        }
    } @else if $direction == left {
        left: 0;
        right: auto;
        &:before,
        &:after {
            border-width: 12px 14px 12px 0;
        }
        &:before {
            border-color: transparent #fff transparent transparent;
            left: -11px;
            right: auto;
        }
        &:after {
            border-color: transparent $midDarkGrey transparent transparent;
            left: -13px;
            right: auto;
        }
    }
}

@mixin bfpo-container-position($xpos) {
    left: $xpos;
}
