@import "../variables";
@import "bfpo-mixins";
@import "bfpo-overrides";

.bfpo-container {
    display: none;
    margin-top: 20px;
    position: absolute;
    width: 252px;
}

.bfpo-toggle {
    display: none;
    border-bottom: 1px solid $midDarkGrey;
    color: $tescoBlue;
    font-family: $tescoFont;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 12px 0 11px;

    &:after {
        content: '2';
        font-family: 'Tesco Icons';
        float: right;
        margin-right: 12px;
    }

    .no-touch & {
        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.bfpo-content {
    @include border-radius(4px);
    background-color: #fff;
    border: 1px solid $midDarkGrey;
    padding: 11px;

    h3 {
        color: $offBlack;
        font-family: $tescoFont;
        font-size: 24px;
        font-weight: normal;
        line-height: 28px;
        margin: 4px 0 8px;
    }

    p {
        color: $asphalt;
        font-family: $tescoFont;
        font-size: 16px;
        line-height: 20px;
        margin: 4px 0;
        padding: 0;
    }

    li {
        color: $asphalt;
        font-family: $tescoFont;
        font-size: 16px;
        line-height: 20px;
        margin: 4px 0;

        strong {
            display: block;
        }
    }
}

.bfpo-container-pointer {
    @include bfpo-container-pointer(left);
    position: absolute;
    top: 32px;

    &:before,
    &:after {
        border-style: solid;
        content: ' ';
        display: block;
        height: 0;
        position: absolute;
        top: -20px;
        width: 0;
    }

    &:before {
        z-index: 1;
    }
}

@include bfpoOverridesAll;
