@import "../variables";
@import "../breakpoints";
@include breakpoint(mobile);
@import "pdp-configurator-mixins";
@import "inspiration-panel/inspiration-panel-mobile";
@import "category-selector/category-selector-mobile";
@import "configurator-banner/configurator-banner-mobile";
@import "product-info/product-info-mobile";
@import "add-to-basket/add-to-basket-mobile";
@import "product-selector/product-selector-mobile";


.pdp-configurator {
    overflow: hidden;
    position: relative;

    .configurator-container {
        position: relative;

        &.has-upsell-view {
        	height: 580px;
        }
    }

    .is-mobile-only {
        display: block !important;
    }
}
