@import "../variables";
@include breakpoint(kiosk);
@import "pdp-configurator-mixins";
@import "product-info/product-info-kiosk";

body[data-useragent*='MSIE 10.0'] {
    .pdp-configurator #page-container > .product-description {
        position: relative;
        top: 10px;
    }
    h1.page-title {
        margin-top: 0;
    }
}

.pdp-configurator {

    .configurator-banner {

        h1 {
            height: auto;
            padding-left: 0;
        }
    }

    .product-selector {
        height: 590px;

        .carousel-container{

            img {
                margin: 0px auto;
            }
        }

        &.background {

            .carousel-container {

                img {
                    max-height: 170px;
                    display: inherit;
                }
            }
        }
    }

    .add-to-basket-container {
        height: 590px;

        .product-description {
            position: absolute;
            top: auto;
            bottom: 0px;
        }
    }


    .category-selector li {

        button, .button{
            background: #eeeeee;
            text-align: center;

            img {
                float: none;
            }
        }
    }

    .inspiration-panel {
        display: none;
    }

    .product-selector {
        .lower-container {
            clear: both;
            margin-top: 20px;
        }
        .carousel-container {

            .carousel.horizontal {
                margin-top: 0px;
                height: auto;
                width: 100%;
                position: relative;
                bottom: auto;

                .carousel-slider {
                    width: 627px;
                    height: 385px;
                    margin: 0px;
                    padding: 0px;
                    position: relative;

                    li {
                        width: 627px;

                        img {
                            width: auto;
                            border: 0 none;
                            border-radius: 0;
                        }
                    }
                }

                .carousel-step {
                    height: auto;
                    float: none;
                    width: 50px;
                }
            }
        }
    }
    .is-kiosk-only {
        display: block !important;
    }
}
