@import "../variables";
@import "pdp-configurator-mixins";
@import "configurator-banner/configurator-banner-all";
@import "product-info/product-info-all";
@import "category-selector/category-selector-all";
@import "product-selector/product-selector-all";
@import "add-to-basket/add-to-basket-all";
@import "inspiration-panel/inspiration-panel-all";

.pdp-configurator {
    margin-bottom: 50px;

    .content-container {
        position: relative;
    }

    .configurator-container {
        font-family: "Roboto";
        display: inline-block;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .price {
        font-size: 1.5em;
        font-weight: bold;
    }

    button {
        padding: 0px;
        margin: 0px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .is-mobile-only,
    .is-tablet-only,
    .is-desktop-only,
    .is-large-desktop-only,
    .is-kiosk-only {
        display: none !important;
    }
}
