@import "../../../core/components/variables";
@import '../../../core/modules/mixins/common-mixins';

@mixin stockStatusIcon($icon, $color) {
  @include withIcon($icon, after);
  color: $color;
}

@mixin storeStockCheckAllDesktops {
  .store-stock-check-view {
    border-top: 1px solid $border;
    padding-top: 20px;
  }

  .store-stock-check-overlay {
    .col-stores-wrapper {
      padding-right: 10px;
    }
    .col-map-wrapper {
      padding-left: 10px;
    }

    .stores-list-wrapper {
      ul {
        padding-right: 10px;
      }
    }

    .stores-list-item {
      display: block;
      .store-detail-link {
        padding-right: 4px;
        .view-store-info-toggle {
          display: none;
        }
      }
    }

    .store-details-wrapper {
      display: none;
    }

    .store-address-collection-times {
      padding-left: 30px;
    }

    .selected-store-details-wrapper {
      .store-detail-distance {
        padding-left: 30px;
      }
    }
  }
}

@mixin storeStockCheckAllDevices {
  .store-stock-check-overlay {

    .store-name-header {
      text-transform: uppercase;
    }

    #stockMapDetails,
    .selected-store-details-wrapper {
      display: none;
    }

    .stores-list-wrapper {
      max-height: inherit;
      width: 100%;
      ul {
        border-bottom: none;
        padding-right: 0;
      }

      &.all-stores {
        max-height: inherit;
      }
    }

    .stores-list-item {
      border-top: 0;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      .store-detail-link {
        background-color: #fff;
        border-top: 4px solid $border;
        padding-bottom: 10px;
        display: block;
        width: 100%;
        color: $asphalt;
        overflow: hidden;
        .store-index {
          display: none;
        }
        .store-name {
          background-color: $lightBg;
          display: block;
          font-size: 18px;
          padding-bottom: 16px;
          padding-top: 16px;
          text-align: center;
          margin-bottom: 10px;
        }
        .stock-status {
          float: left;
          margin: 0;
          padding: 8px 0 18px;
          text-align: center;
          &:after {
            top: auto;
            right: auto;
            margin-left: 4px;
          }
        }
        .store-distance {
          padding: 8px 0 18px;
          text-align: center;
          font-weight: bold;
        }
        .view-store-info-toggle {
          display: block;
          padding: 8px 0 18px;
          text-align: center;
          color: $asphalt;
          span {
            @include withIcon('a', after);
          }
          &.open {
            color: $headingColor;
            font-weight: bold;
            span {
              @include withIcon('c', after);
            }
          }
        }
      }
      &.in-stock {
        .store-detail-link  {
          border-color: $borderGreen;
        }
      }
      &.low-in-stock {
        .store-detail-link  {
          border-color: $iconLightOrange;
        }
      }
      &.out-of-stock {
        .store-detail-link  {
          border-color: $iconRed;
        }
      }
    }

    .store-details-wrapper {
      clear: both;
      width: 100%;
      max-height: 0;
      background-color: #fff;
      overflow: hidden;
      @include transition(max-height 300ms);

      &.is-expanded {
        max-height: 400px;
        padding-bottom: 10px;
      }
    }

    .tesco-store-locator-link {
      @include withIcon('r', after);
      &:after {
        right: auto;
        position: relative;
      }
    }
  }
}
