/* Inline Scrollbar */
@import "../breakpoints";
@include breakpoint(kiosk);
@import "../common/common-kiosk";


.inline-scrolling {
	position: relative;
	
    #content-mask,
	.content-mask {
		position: relative;
		overflow: hidden;	
		.overlay-wrapper {
			position: relative;
			top: 0;
		}
	}
    #pagination-nav,
	.pagination-nav-container {	
		.pagination-bar {
			height: 472px;
		}
		
		.pagination-bar {
			position: relative;
			border-radius: 0;
			background-color: $inactivePutty;
			margin: 46px auto 0;
			width: 13px;
			z-index: 1;
			span {
				@include border-radius(4px);
				position: absolute;
				top: 0;
				width: 100%;
				background-color: #07a3e0;
			}
		}
		a {
			@include overlay-button-round-kiosk;
			position: absolute;
			padding: 0;
			background-color: $putty;
			border-color: $putty;
			color: #fff;
			z-index: 2;
			line-height: 45px;
			&.pagination-top {
				top: 0;
			}
			&.pagination-down {
				bottom: 0;
			}
			&:after {
				display: none;
			}
			&.disabled {
				color: #fff;
				background-color: $inactivePutty;
				border-color: $inactivePutty;
			}
		}
	}

    #pagination-end,
	.pagination-end {
		position: absolute;
		bottom: 0;
		width: 1296px - 96px;
		left: 48px;
		height: 5px;
	}
	
	/* chip & pin kiosk delivery customisation */
	&.deliverySummary, &.basket-item-container {
		> .content-mask {
			height: 770px;		
		}
		#pagination-nav,
        .pagination-nav-container {
			position: absolute;
			top: -23px;
			right: -18px;
			width: 48px;
			height: 823px;
			.pagination-bar {
				height: 731px;
			}
		}
	}	
}

/* kiosk basket customisation */
#basket-wrapper {
	#basket-primary {
		.inline-scrolling.basket-item-container {
			.content-mask,
            #content-mask {
				height: 633px;
			}
            #pagination-nav,
			.pagination-nav-container {
				height: 610px;
				top: 44px;
				right: 10px;

                &.hidden {
                    visibility: hidden;
                }

				.pagination-bar {
					height: 521px;
				}
				a {
					&.pagination-up, &.pagination-down {
						width: 48px;
						color: #fff;
						display: block;
						margin: 0;	
						background-color: $putty;
						border-color: $putty;
					}
					&.disabled {
						background-color: $inactivePutty;
						border-color: $inactivePutty;
					}
				}
			}
		}
	}
}

/* kiosk overlay customisation */
#lightbox {
	.inline-scrolling.storeDetailsList, .tescoBrightBlue.inline-scrolling {
        #content-mask,
		.content-mask {
			height: 100%;
            .overlay-wrapper {
                padding-right: 70px;
            }
		}
        #pagination-nav,
		.pagination-nav-container {
			float: none;
			position: absolute;
			right: -12px;
            top: -12px;
			height: 426px;
            margin: auto;

            &.hidden {
                visibility: hidden;
            }

			.pagination-bar {
				height: 335px;
				width: 12px;
				margin: 44px 19px;
				span {
					width: 12px;
					background-color: $tescoBrightBlue;
				}
			}
			a {
				&.pagination-up, &.pagination-down {
					width: 48px;
					color: #fff;
					display: block;
					margin: 0;	
					background-color: $putty;
					border-color: $putty;					
				}
				&.disabled {
					background-color: $inactivePutty;
					border-color: $inactivePutty;
				}
			}
		}
	}
}
