.page-error {
	background:url("../images/warning_triangle.png") no-repeat scroll 11px center #FFCCCC;
	border:1px solid #EC1B2C;
	padding:15px 10px 12px 50px;
	color:#4F5050;
	font-size:1em;
	margin:0 0 10px;
		
	p {
		font-size:1em;
		margin:0;
	}
}

input[type="text"], input[type="password"], select, textarea, .btn {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  color: $textColor;
  
  &:focus {
    outline: none;
  }
}

.mandatory {
	font-weight: bold;
	color: $red;
}

p.invalid2 {
  color: $red;
}
.select-date-block{
	margin-top: -10px;
}
.form-wrapper {
  padding: 0 0 20px 0;
  
  
  
  
  fieldset {
    margin: 0;
    border: none;
    padding: 0; 
  }
  
  label {
      display: block;
      padding: 0;
      font-weight: bold;
    }
  
  label.invalid2 {
        clear: both;
        padding: 5px 0 0 0;
        color: $red;
        font-weight: normal;
    }
  .control-group {
    @include clearfix();
    padding: 0 0 10px 0;
    
    .button-control-holder{
		float: left;
		clear: none;
	}
    .button-control{
    
	    .btn{
			width: 150px;
			margin-bottom: 7px;	
			height: 26px;
		}
		
		.btn-primary, .btn-functional{
			text-align: left;
		}
		
		.btn-large{
			width: 250px;
		}
		
		.store-options-holder{
			padding-bottom: 7px;
		}
		
		
	}
	
    .control-label {
      //@extend label;
      position: relative;
      float: left;
      width: 100px;
      padding: 5px 20px 0 0;
      
      .mandatory {
        position: absolute;
        right: 10px;
        color: $red;
      }
    }
    
    .controls {
      margin-left: 120px;
    }
    
    input {
      width: 224px; //230px
    }
    
    input[type="text"],
    input[type="password"] {
      display: inline-block; //help eliminate white space
      margin: 0 10px 0 0;
      border: 1px solid $greyLight;
      padding: 5px 0 4px 4px;
      &:hover {
        border-color: $greyMid;
      }
      &:focus {
        border-color: $blueLight;
      }
    }
    
    input[type="checkbox"],
    input[type="radio"] {
      float: left;
      width: auto;
      margin: 0 0 0 -18px;
    }
    
    select {
      display: inline-block; //help eliminate white space
      width: 230px;
      margin: 0 10px 0 0;
      border-width: 1px;
      border-style: solid;
      border: 1px solid $greyLight;
      border-radius: 2px;
      padding: 4px 3px 3px;
      &:hover {
        border-color: $greyMid;
      }
      &:focus {
        border-color: $blueLight;
      }
    }
    
    .input-mini {
      width: 59px; //65px
    }
    select.input-mini {
      width: 65px;
    }
    select.bill-address-input{
    	width: 155px;
    }
    .input-small {
      width: 79px; //85px
    }
    select.input-small {
      width: 85px;
    }
    select.date-select{
    	width: 250px;
    	padding-left: 0;
    }
    .input-medium {
      width: 120px; //127px
      padding-left: 0;
    }
    select.input-medium {
      width: 127px;
    }
    .input-large {
      width: 174px; //180px
      //padding-left: 0; 
    }
    select.input-large {
    	width: 180px;
    }
    .required, .required-bypass {
      background: $yellowLight;
    }
     
    input.invalid2,
    select.invalid2 {
      border-color: $red;
      background: $white;
      
      &:hover, &:focus {
        border-color: $red;
      }
    }
    
    input.valid2,
    select.valid2 {
      background: $white;
    }
    
    .btn {
      width: auto;
    }
    .input-date-select{
       	width: 150px;
      	padding-left: 0;
    }
    .checkbox,
    .radio {
      margin-right: 10px;
      padding: 5px 0 5px 18px;
      font-weight: normal;
    }
    
    .inline {
      display: inline-block;
    }
  }
  
  .form-actions {
    clear: both;
  }
}

.btn {
  display: inline-block;
  margin: 0 10px 0 0;
  border: 1px solid $greyLight;
  border-radius: 2px;
  padding: 5px 10px 4px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    border-color: $greyMid;
  }
  &:focus {
    outline: none;
    border-color: $blueLight;
  }
  &:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
}

.btn-functional {
  @extend .btn;
  background: $greyLighter;
  @include btn($greyLighter, #f1f1f1);
  color: $textColor;
  &:hover {
    background: #f1f1f1;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color: $textColor;
  }
}

.btn-primary {
  @extend .btn;
  background: $blueMid;
  @include btn($blueMid, $blueDark);
  color: $white;
  border-color: $blueDark;
  &:hover {
    background: $blueDark;
    border-color: $blueDark;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    color: $white;
  }
}

.btn-transactional {
  @extend .btn;
  background: $orangeMid;
  @include btn($orangeMid, $orangeDark);
  color: $white;
  border-color: $brown;
  text-shadow: 0 1px 1px $orangeDark;
  &:hover {
    border-color: $brown;
    background: $orangeDark;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    color: $white;
  }
}

.disabled {
  color: $greyMid;
  text-shadow: none;
}

.btn.disabled {
  background: $greyLighter;
  @include btn($white, $greyLighter);
  border-color: $greyLight;
  &:hover {
    box-shadow: none;
    color: $greyMid;
  }
}
