/*
    Grid structures are used when blocks can be arbitrarily applied within a page.
    Grid structures should have no other classname applied, they are used to apply dimensions to child elements.
    The current structure is based on a design grid where each column has a width of 180 pixels, plus a margin of 10 pixels for each column.
*/

.grid-1,
.grid-1-5,
.grid-2,
.grid-3,
.grid-4,
.grid-5 {
    float: left;
}
.grid-1 {
    width: 190px;
}
.grid-1-5{
  width: 285px;
}
.grid-2 {
    width: 380px;
}
.grid-3 {
    width: 570px;
}
.grid-4 {
    width: 760px;
}
.grid-5 {
    width: 950px;
}