/*******************************************
*	Desktop Link Save module
*******************************************/

@import "../../../core/components/breakpoints";
@import "../../../core/components/variables";
@include breakpoint(desktop);

#linksave-block-container{
	#icon-module {
		ul.icon-link-save {
			width: 90%;

			li {
				width: 26.5%;
				&:first-child{
					margin-left: 34.5%;
				}
				&:first-child:nth-last-child(3),
				&:first-child:nth-last-child(3) ~ li{
					&:first-child{
						margin-left: 21%;
					}
					&:last-child {
						width: 14%;
					}
				}
			}
		}
	}
}

ul.tabs-link-save {
	li a.active {
		border-left: 1px solid $lightGrey;
	}
}
