/*******************************************
*	Uniform Embroidery Service
*******************************************/
@import "../mixins/ues-mixins";

.PDP-Version2  #ues-container{
	.schoolInfoContainer {
		padding-left: 0px;
	}
	.schoolDonationContainer{
		padding-bottom: 17px;
		.schoolDonation{
			margin: 0px 8px 0 0;
			P{
				padding-top: 26px;
			}

		}
	}
	.schoolInfoSection h2{
		margin-bottom: 4px;
	}
}
#ues-container{
	.commsHolder{
		width: 892.5px;
		height: 83.5px;
		//border: 1px solid red;
		margin: 30px 32px 18px 34px;
	}
	.uesBanner{
		.fullWidth{
			height: 240px;
			width: 896px;
			margin: 0 32px;
			.pageTitle{
				font-size: 56px;
				line-height: 56px;
			    width: 445px;
			    height: 128px;
				margin-left: 0px;
				margin-top: 41px!important;
			}
			.titleImage{
			    float: right;
			    width: 413px;
			    height: 425px;
			    background: black url("../images/ues/l_headerimage.jpg") no-repeat top center;
			}
    		.searchHolder{
				width: 366px;
				height: 44px;
				margin-top: 66px;
				.schoolIndicator{
					width: 366px;
					padding: 10px 21px 10px 13px;
				}
    			.schoolInfo{
    				display: none;
    			}
    		}
    		.descriptionSection{
    			width: 445px;
    			float: left;
    		}
    		.registerSection{
    			width: 445px;
    		}
		}
	}
	.contentWrapper{
		padding-top: 29px;
		.donationSection{
			width: 896px;
			margin: 0 32px 11px 32px;
			padding:11px 33px 0 33px;
			.donationCounter{
				float:left;
				width:272px;
			}
			.donationText{
				padding-left: 211px;
			}
			span{
				padding: 6px 0;
			}
		}
		.imgHolder{
		    float:left;
		   	width: 893px;
		   	margin: 10px 0px 0 33px;
			img{
				width: auto;
				height: 100px;
			}
		}
		.info{
			width: 93%;
			margin: 32px;
		}
	}
	.schoolInfoSection{
    	height: 70px;
		h2{
			img {
				width: 70px;
				height: 70px;
			}
			span {
				padding-left: 80px;
			}
		}
		.schoolAddress {
			padding-left: 80px;
		}
	}
}
