<form id="{{sViewId}}" class="{{sViewClass}} {{sClassNames}} float-wrapper
    {{props.state}}-state {{^state.hideQuantity}}with-quantity{{/state.hideQuantity}}" novalidate>
  {{^state.hideQuantity}}
    <label class="screen-reader">Quantity:</label>
    <input type="text" class="text-box product-quantity pull-left-all" maxlength="2" pattern="[0-9]*"
        data-max-qty="{{props.maxQuantity}}" value="1" data-mvc-key="quantity"
        {{#state.disabled}}disabled="disabled"{{/state.disabled}}/>
  {{/state.hideQuantity}}
  <div class="add-to-basket-button-wrapper">
    <button id="{{props.formHandlerId}}" type="button" data-mvc-key="id" class="button primary"
        data-mvc-value="{{props.formHandlerId}}" {{#state.disabled}}disabled="disabled"{{/state.disabled}}>
      <span>{{props.label}}</span>
    </button>
  </div>
  {{{oEvent}}}{{{addViewDataAttr}}}
</form>
