<div id="{{sViewId}}" class="info-panel {{sViewClass}} {{sClassNames}}" data-mvc-tag="{{tag}}">
  <div class="info-panel-header">
    <h4 class="info-panel-title ellipsed">{{{sTitle}}}</h4>
    <span class="icon larger info-panel-back-icon" data-icon="g"></span>
  </div>
  <div class="info-panel-content-wrapper">
    <h3 class="info-panel-content-title">{{{sTitle}}}</h3>
    <div class="info-panel-content {{sContentClasses}}">
      {{#aSubViews}}
        {{{render}}}
      {{/aSubViews}}
    </div>
  </div>
  <a class="icon info-panel-close-icon" data-icon="y"></a>
  {{{oEvent}}}{{{addViewDataAttr}}}
</div>
