<div id="{{sViewId}}" class="{{sViewClass}} {{sClassNames}} block-wrapper with-indents">
  <div class="block">
    <h2 class="block-title uppercase">{{{props.title}}}</h2>
    <div class="block-content">
      {{#state.hasCmsContent}}
        <div id="cms-content">{{{props.cmsContent}}}</div>
      {{/state.hasCmsContent}}
      {{#state.hasExternalScript}}
        <div id="flix-inpage"></div>
        <div id="inline-content"></div>
        {{#props.externalScript}}
          {{{props.externalScript}}}
        {{/props.externalScript}}
      {{/state.hasExternalScript}}
    </div>
  </div>
  {{{oEvent}}}{{{addViewDataAttr}}}
</div>
