<div id="{{sViewId}}" class="product-tile {{sViewClass}} {{props.classNames}}">
  <div class="product-tile-section-one">
    {{#views.ProductTileImageView}}
      {{{render}}}
    {{/views.ProductTileImageView}}
  </div>
  <div class="product-tile-section-two">
    {{#views.ProductTileTitleView}}
      {{{render}}}
    {{/views.ProductTileTitleView}}
    {{#views.ProductPriceView}}
      {{{render}}}
    {{/views.ProductPriceView}}
    {{#views.ProductTileRatingsView}}
      {{{render}}}
    {{/views.ProductTileRatingsView}}
    {{#views.VariantsView}}
      {{{render}}}
    {{/views.VariantsView}}
    {{#views.ItemActionsView}}
      {{{render}}}
    {{/views.ItemActionsView}}
  </div>
  {{{oEvent}}}{{{addViewDataAttr}}}
</div>
