{{#mViewData.items.length}}
  <div id="{{sViewId}}" class="block-wrapper with-indents {{mViewData.relationshipType}}">
    <div class="carousel-fullwidth block">
        <header class="cfw-header">
            <h2 class="block-title uppercase cfw-title">{{{mViewData.relatedItemHeading}}}</h2>
            <div class="product-carousel-nav-wrapper">
              <ul class="product-carousel-nav {{mViewData.carousel.customNavigationClass}}">
                  <li class="disabled">
                      <a href="#" class="previous">
                          <span class="label">Previous</span>
                          <span aria-hidden="true" class="icon"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="next">
                          <span class="label">Next</span>
                          <span aria-hidden="true" class="icon"></span>
                      </a>
                  </li>
              </ul>
            </div>
        </header>
        {{#aSubViews}}
          {{{render}}}
        {{/aSubViews}}
    </div>
    {{{oEvent}}}{{{addViewDataAttr}}}
  </div>
{{/mViewData.items.length}}
