<div class="ddl paginate paginate--infinity-scroll {{#data.loading}}paginate--loading{{/data.loading}}" id="{{data.id}}">
  {{^data.isLastPage}}
    {{#data.loading}}
      <div class="with-bkg-loader" style="background-color: white; height: 250px; width: 100%"></div>
    {{/data.loading}}
    {{^data.loading}}
      <div style="background-color: white; margin-top: 6px; padding-top: 12px; padding-bottom: 12px; text-align: center">
        <button
          class="button secondary paginate__load"
          data-page="{{data.nextPage}}"
          style="max-width: 230px; margin-left: auto; margin-right: auto"
          type="button"
        >
          <span>Load more</span>
        </button>
      </div>
    {{/data.loading}}
  {{/data.isLastPage}}
</div>
