<div class="ddl paginate paginate--page-numbers {{#data.loading}}paginate--loading{{/data.loading}}" id="{{data.id}}">
  <button
    class="button secondary paginate__arrow paginate__prev paginate__load"
    data-page="{{data.prevPage}}"
    {{#data.disablePrev}}{{data.prevPage}}{{/data.disablePrev}}
    style="width: auto;"
    type="button"
  >
    <span class="icon" data-icon="g" style="text-transform: none;"></span>
  </button>

  <ul class="paginate__page-range hidden-mobile">
    {{#data.checkPageStart}}
      <li class="paginate__item paginate__page">
        <a class="paginate__link paginate__load" data-page="1">1</a>
      </li>
      {{#data.checkPageStartEllipsis}}
        <li class="paginate__item paginate__ellipsis">
          <span>...</span>
        </li>
      {{/data.checkPageStartEllipsis}}
    {{/data.checkPageStart}}
    {{#data.pageNumbers}}
      {{#data.checkPageSpred}}
        <li class="paginate__item paginate__page">
          <a
            class="paginate__link paginate__load {{#data.disableNumber}}{{data.renderPageNumber}}{{/data.disableNumber}}"
            data-page="{{data.renderPageNumber}}"
          >
            {{data.renderPageNumber}}
          </a>
        </li>
      {{/data.checkPageSpred}}
    {{/data.pageNumbers}}
    {{#data.checkPageEnd}}
      {{#data.checkPageEndEllipsis}}
        <li class="paginate__item paginate__ellipsis">
          <span>...</span>
        </li>
      {{/data.checkPageEndEllipsis}}
      <li class="paginate__item paginate__page">
        <a class="paginate__link paginate__load" data-page="{{data.totalPages}}">{{data.totalPages}}</a>
      </li>
    {{/data.checkPageEnd}}
  </ul>

  <div class="paginate__page-of hidden-largeDesktop hidden-desktop hidden-tablet">
    <strong>Page {{data.currentPage}}</strong> of {{data.totalPages}}
  </div>

  <button
    class="button secondary paginate__arrow paginate__next paginate__load"
    data-page="{{data.nextPage}}"
    {{#data.disableNext}}{{data.nextPage}}{{/data.disableNext}}
    style="width: auto;"
    type="button"
  >
    <span class="icon" data-icon="r" style="text-transform: none;"></span>
  </button>
</div>
