@import "../variables";
@import "product-description-mixins";
@import "../jscrollpane/all.scss";

.wishlist-button {
    display:none
}
.collectionButton {
   display:none
}
.read-more {

  .ellipsis {
    display: none;
  }

  .expanded {
    display: inline;
  }
}
body[data-useragent*='MSIE 10.0'] {
    /*.product-description{
        position: relative;
        top: -22px;
    }*/
    h1.page-title {
        margin-top: 0;
    }
}

.toggleDetailWrapper {
    display: none;
}

#lightbox.product-specifications {
    h3 {
      display: none;
    }
    .overlay-header {
        padding: 45px 48px 50px 46px;
    }
    #lightbox-content {
      width: 1222px;
      padding: 0;

        .overlay-wrapper {
          padding: 55px 46px 72px 96px;
          font-size: 1.4em;

          table {
            margin-bottom: 22px;
            tbody {
              tr:nth-child(odd) {
                background-color: white;
              }
            }
          }

          thead th {
            font-size: 1.4em;
            font-weight: normal;
            padding-bottom: 14px;
            color: #848282;
          }

          th, td {
            padding-left: 0;
          }
          //tbody td {
        tbody th, td {
            padding-top: 18px;
            padding-bottom: 18px;
            font-size: 1.2em;
          }
      }
    }
}
#lightbox.read-more-hide{
    #lightbox-content{
        .trigger, .showvirtualpage{
            display:none;
        }
        h3{
            display:block;
        }
        h3.non-book-title{
            display:none;
        }
        > h3.synopsis-title,
        > p.prod-synopsis, 
        > h3.detailed-desc-title, 
        > p.prod-detailed-desc{
          display:block;
        }
        ul.features{
            padding:0;
            margin:1em 0;
            width:auto;
            li{
                font-family:inherit;
                font-size: 1.2em;
                color: $primaryTextColor;
                width:50%;
            }
        }
    }
}
#lightbox.scrolling-overlay.product-description{
  #lightbox-content{
    width: 1117px;
  }
}
#lightbox.price-promise-overlay,
#lightbox.read-more,
#lightbox.blinkbox-overlay {
    width: 1280px;

    h3,
    h5 {
      display: none;
    }

  .overlay-header {
    padding: 45px 48px 60px;
    }

    #lightbox-content {     
        .overlay-wrapper {
          padding: 44px 284px 72px 44px;
          font-size: 1.4em;
          line-height: 2em;
          .toggleDetailWrapper {            
                display: block;
                float: none;
                background: none;
                border: none;
                padding: 0;
                text-align: left;
            }
        }
        p:first-child {
          margin-top: 0;
        }

        a {
            border: 1px solid black;
            text-align: center;
            font-weight: bold;
            display: block;
            @include secondaryButtonColoring;
            float: right;
            padding: 8px 16px;
            border-radius: 4px;
            &.learn-more{
                display: none;
            }
        }
    }
}

.product-description {

  .carousel-info {
    display: block;
    position: absolute;
    bottom: 72px;
    width: 100%;
    font-size: 16px;
    .info-container {
      text-align: center;
      width: 112px;
      margin: 0 auto;
        background: url('../img/sprite1.png') -100px -150px no-repeat;
    }
  }

  p {
    font-size: 17px;
    margin: 0;
    margin-bottom: 8px;
  }

  h1 {
    margin-bottom: 14px;
  }

  .rating-container {
    margin: 0;
    min-height: 27px; 
    position: relative;
    
    a { 
        cursor: default;
    }
    
    #BVRRRatingSummaryLinkWriteID, .BVRRSocialBookmarkingLinks{
        display: none;
    }
    #BVRRRatingSummaryLinkReadID{
        border: none;
    }
    .BVRRRatingSummaryLinks{
        position: absolute;
        top: -4px;
        left: 110px;
    }
  }

  a {
    font-size: 15px;
  }

  .slide-out-trigger {
    display: none;
  }

  .price-check-details table tbody td{
    width: 25%;

    &.saving {
      border-bottom: 1px solid $primaryBorderColor;
    }
  }

 #main-content {
    width: 100%;
    float: none;
    overflow: hidden;
    height: 832px;
    width: 1712px;
    margin: 0 48px;



    .toggleDetailWrapper, .toggleDetailWrapperBV, .toggleDetailWrapperIC {
        float: none;
        width: 100%;
        clear: none;
        margin: 0;  
        text-decoration: none;      
        h3 {
            border-bottom: 0 none;
            position: relative;                             
        }
    }

    section {
      border: none;
      @include box-shadow(none);
    }
  > div.product-promo-container > div{
    display: block;
  }
    > div {
        > section,
        > a {
          display: none;
        }
        #product-details-link {
            display: block;
        }
        .product-spec-container {
            display: block;
        }
    }
    > div.secondary-content{
        > div{
            display:block;
        }
    }
    .main-details {
      display: block;
      overflow: hidden;
      position: relative;
      width: 1280px;
      float: left;
      height: 832px;
      padding: 16px;
      border: 1px solid $primaryBorderColor;
      > div,
      > ul,
      > a {
        float: right;
        width: 704px;
      }
      
      span.offer {
          position: absolute;
          left: 20px;
          top: 20px;
          font-size: 6.5em;
          z-index: 1;
          display: block;
          color: red; 
          span {
            font-size: 17px;
            color: #fff;
            padding: 1em 0;
            text-align: center;
            position: absolute;
            font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
            font-weight: bold; 
          }
      }
      
      .static-product-image{
        float:left;
        margin: 16px 0 0 16px;
        padding: 100px;
        top: 0;
        left:0;
        //position: relative;
        width: auto;
        color: red; 
        span.offer{
            position: absolute;
            left: 20px;
            top: 20px;
            font-size: 6.5em;
            z-index: 1;
            display: block;
            color: red; 
            span{
                font-size: 17px;
                color: #fff;
                padding: 1em 0;
                text-align: center;
                position:absolute;
                font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
                font-weight: bold;
            }
        }
      }
      .social-share-buttons{
        display:none;
      }
      .rating {
        background: url("../img/star-rating-sprite-large.png") repeat-x 0 0px;
        width: 112px;
        height: 22px;
      }

      .stars {
        background: url("../img/star-rating-sprite-large.png") repeat-x 0 -20px;
        height: 22px;
      }

      .total-reviewers {
        display: inline-block;
        padding-top: 2px;
        font-size: 17px;
      }
      .format-release {
        width: 30%;
        margin-left: 70%;
        position: absolute;
        margin-top: 128px;
      }
      .features {
        font-size: 17px;
        line-height: 23px;
        margin-top: 50px;
        width: 704px;
        float: left;
        padding-top: 7px;
        margin-bottom: 16px;
        border-top: 1px solid $primaryBorderColor;
        list-style-position: inside; /* show the bullets! */
        padding-left: 0;

        li {
            padding-bottom: 0;
            width: 302px; /* leave 16px gutter */
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; /* this is hiding the bullets! */
        }
      }
      .new-slash{
        position: absolute; 
        top: 16px; 
        left: 16px;
      }
      .product-carousel {
        float: left;
        width: 40%;
        position: relative;
        margin-right: 40px;
        height: 615px;
        clear: left;
        border-bottom: 1px solid $primaryBorderColor;

        a .icon:after {
          top: 13px;
          font-size: 13px;

        }

        li.disabled {
          display: block;

          & > a {
            background: none repeat scroll 0 0 #F1F1F1;
            color: #92B2D0;
            cursor: default;

          }
        }
      }

      .products-header {
        margin: 0;
        position: absolute;
        bottom: 5px;
      }

      .product-carousel-nav {
        float: none;
        margin-bottom: 0;
        position: relative;
        width: 498px;
        display: none;

        li {
          position: absolute;
          bottom: 10px;
          right: 5px;

          &:first-child {
            left: 0;
          }
          &.disabled a {
            &:hover,
            &:focus,
            &:active {
                  border-color:$primaryBorderColor;
             }
          }
        }

        a {
          @include tertiaryButtonColoring;
          border: 1px solid $primaryBorderColor;
          display: block;
          color: $contentLink;
          text-decoration: none;
          overflow: hidden;
          position: static;
          height: 45px;
          width: 45px;
         
          .label {
            text-indent: -9999px;
          }
        }
      }

      .products {

        li {
          margin-right: 4px;
        }

        > li:first-child {
          margin-left: 0;
        }

        .product {
          width:100%;

          img {
            width:493px;
            height:538px;
          }
        }
      }

      .select-colour,
      .select-size {
        width: 40%;
        position: absolute;
        margin: 0;

        &.dropdown-enabled {
          width: 240px;
          li {
            margin-right: 0;
            height:36px;
            padding:16px;

            img {
              display:none;
            }
            .checkbox {
                margin:-10px 0 0 0;
                display:inline-block;
            }
            span.variantDisplayName_title{
                display:none;
            }
            span {
              float:left;
              display:inline-block;
              width: 182px;
              margin-top: -14px;
              line-height: 28px;
            }
          }

          li.selected {
              border:none;
              border-bottom: 1px solid #bfbdbd;
              border-radius: 0;              
          }

          li.not-in-stock,
          li.unavailable {
            cursor: default;
            span {
              color: #848282;
              white-space: nowrap;
            }
            .checkbox {
              display: none;
            }
          }
        }

        p {
          font-size: 16px;
          margin-bottom: 6px;
        }

        img {
          height: 45px;
          width: 45px;
          border-radius: 4px;
        }

        li {
          margin: 0;
          margin-right: 1px;
          &.selected {
            height: auto;
          }
          
          
        }  

        a.trigger, a.showvirtualpage {
          display: inline-block;
          border: 1px solid $primaryBorderColor;
          padding: 10px 0;
          width: 100%;
          @include inverseLightGreyGradient;
          padding-left: 16px;

          .icon {     
            &:after {
              content: '1';
            }
          }
        }
      }

      .select-colour {
        bottom: 105px;
       
        &.dropdown-enabled {
          li.not-in-stock a {
            opacity: 1;
          }
        }
      }

      .select-size {
        bottom: 30px;
        &.dropdown-enabled {
         /* bottom: 105px;
          left: 270px;*/
          &.lone-dropdown {
            /*bottom: 46px;
            left: 16px;*/
          }

          li a {
            background: none;
            padding: 0;
            color: $contentLink;
          }

          .unavailable a,
          .not-in-stock a {
            opacity: 1;
            a {
              opacity: 1;
            }
          }
        }

        a {
          font-size: 16px;
          padding: 4px 6px;
          @include inverseLightGreyGradient;
        }
      }

      .filter-options {
        img {
          width: 16px;
          height: 16px;
        }
      }

      .blinkbox-banner {
        position: absolute;
        margin: 0;
        bottom: 123px;
        width: 498px;
        cursor: pointer;
        p {
          line-height: normal;
          font-size: 1.6em;
          margin-bottom: 0;
        }
        .icon {
          font-size: 1.5em;
          top: 23px;
        }

        .icon:after {
          content: 'r';
        }
      }
    }
    #product-details.synopsis {
        display:block;
      }  
    #product-details.biography {
        display:none;
      }      
    #product-details.ents-synopsis > p.prod-synopsis {
      display: block; 
    }
    #product-details {
      display: block;
      position: absolute;
      top: 235px;
      left: 560px;
      width: 704px;
      .features{
        list-style-type:none;
        margin:0;
        padding:0 0 0 8px;
        float:none;
        padding:0;
      }
      a.toggleDetailWrapper {
        display: block;
        cursor: normal;
        h3:after {
            display: none;
        }
      }
      h3 {
        border-top: 1px solid $primaryBorderColor;
        border-bottom: 1px solid $primaryBorderColor;
        text-indent: 0;
        font-size: 21px;
        padding: 11px 0;
        margin-bottom: 10px;
      }
      h3.synopsis-title,
      p.prod-synopsis, 
      h3.detailed-desc-title, 
      p.prod-detailed-desc{
        display:none;
      }
      .trigger, .showvirtualpage {
        float: right;
        display: inline-block;
      }
      .detailWrapper{
          max-height:170px;
          overflow:hidden;
          width:100%;
          p {
            overflow:hidden;
          }
          .readMore{
            margin-top:15px;
          }
       }
    }
    #product-promotions {
      display: block;
      position: absolute;
      top: 514px;
      left: 560px;
      width: 704px;
      a.toggleDetailWrapper{
        cursor:default;
        background:none;
        h3{
          color:$xDarkPutty;
        }
      }
      .promoMoreAvailible{
        margin-right:0;
      }
      .detailWrapper{
        position:relative;
      }
      .sellerPromo {
        display:none;
      }
      ul.productPromotionsContent{
        width:100%;
        overflow:hidden;
        li.product-promo{
          width:100%;
          float:none;
          padding-left:0px;
          clear:both;
          display:none;
          .promoDescription{
            width:465px;
            p {
              display:none;
            }
            .promoTitle{
              padding-top:12px;
            }
          }
        }
        li:first-child {
          display:block;
        }
      }
      a.toggleDetailWrapper {
        display: block;
        cursor: normal;
        h3:after {
          display: none;
        }
      }
      h3 {
        border-top: 1px solid $primaryBorderColor;
        border-bottom: 1px solid $primaryBorderColor;
        text-indent: 0;
        font-size: 21px;
        padding: 11px 0;
        margin-bottom: 10px;
      }
      h3.synopsis-title,
      p.prod-synopsis, 
      h3.detailed-desc-title, 
      p.prod-detailed-desc{
        display:none;
      }
      .trigger, .showvirtualpage {
        float: right;
        display: inline-block;
      }
    }

    .secondary-content {
      width: 23%;
      float: right;
      display: block;
    }

    .feature-products.carousel {
      display: block;
      position: absolute;
      bottom: 28px;
      left: 560px;
      width: 704px;
      height: 220px;

      > .product-carousel:not(:first-child) {
        display: none;
      }

      .products-header {
        overflow: hidden;
        display: block;
        margin: 0;
        border-top: 2px solid #3e3e3f;
        padding-top: 15px;

         h2 {
          padding-top: 12px;
          padding-bottom: 11px;
          display: block;
          font-size: 2.4em;
          font-family: 'Helvetica Neue', Arial, sans-serif;
         }
      }

      .products-wrapper {
        width: 720px;
      }

      li.disabled {
        display: block;
      }

      .product-carousel {
        width: auto;

        .products > li {
          margin-right: 16px;

          &:first-child {
            margin-left: 0;
          }
          .product {
            width: 344px;
            height: 155px;
            padding-top: 14px;
            padding-right: 12px;

             .offer {
              color: #EE1C2E;
              font-size: 4em;
              position: absolute;
              display: block;
              bottom: 0;
              left: 8px;
            }

            h3 {
              height: 66px;
              padding-bottom: 4px;
            }

            .saving, .former-prices li:first-child {
              display: none;
            }

            .ratings {
              clear: both;
            }

            .former-prices {
              float: right;
              font-size: 1.3em;
            }

            .former-prices li {
              color: $colorRed;
              margin-right: 0;
            }

            .price {
              float: left;
              clear: none;
              font-size: 1.8em;

              .from {
                display: none;
              }
              padding-left: 32px;
            }

            .rating-container {
              //padding-left: 0;
            }
            .title-author-format {
                padding-left: 32px;
            }
          }

          .thumbnail img {
            width: 85px;
            height: 85px;
            left: 16px;
            position: absolute;
            top: 16px;
            margin-top: 0;
            
            &.bcve_ping {
                width: 36px;
                height: 22px;
                top: 104px;
                right: auto;
                left: 65px;
                bottom: auto;
            }
          }

          &:hover,
          &:active {
            h3 a {
              border-bottom: none;
            }
          }
        }
      }
    }

    .product-specifications-link,
    .customer-review-link {
        display: block;
        position: absolute;
        bottom: 296px;
        left: 560px;
        border: 1px solid $primaryBorderColor;
        padding: 20px 0;
        width: 344px;
        background: $putty;
        h3 {
            font-size: 20px;
            text-indent: 16px;
            color: #ffffff;
            border-top: none;
            padding: 0;
        }
        h3:after {
            content: "";
        }
        a {
            display: inline;
            color: #ffffff;
            &:hover {
                text-decoration: none;
            }
            &:before {
                font-family: 'Tesco Icons';
                float: left;
                padding-left: 20px;
                font-size: 1.5em;
            }
        }
    }

    .product-specifications-link {

      a:before {
        content: 'N';
      }
    }

    .customer-review-link {
      left: 920px;
      display: none;

      a:before {
        content: 'x';
      }
    }

    .more-thumbnails {

      .product-carousel-nav {
        display: block;
      }

      .thumbnails {
        left: 62px;
        width: 75%;
      }
    }
  }
  .no-kiosk {
    display: none;
  }
  .pre-order-price-promise {
    cursor: pointer;
    margin-top: 0px;
    position: absolute;
    top: 22px;
    right: 14px;
    @include inverseLightGreyGradient;
    border: 1px solid rgb(208,208,208);
    @include border-radius(30px);
    width: 238px !important;

    h3 {
      text-indent: 46px;
      display: inline-block;
      padding: 15px 0;
    }

    p, a {
      display: none;
    }
  }

  .main-details {

    .media-controls {
      display: none;
    }

    .thumbnails {
      position: absolute;
      bottom: 12px;
      left: 65px;
      overflow: hidden;
      height: 50px;
      width: 75%;
      ul {
        overflow: hidden;
        -webkit-transition: -webkit-transform 600ms cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: -moz-transform 600ms cubic-bezier(0.77, 0, 0.175, 1);
        -ms-transition: -ms-transform 600ms cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: -o-transform 600ms cubic-bezier(0.77, 0, 0.175, 1);
        transition: transform 600ms cubic-bezier(0.77, 0, 0.175, 1);
      }

      li {
        float: left;
        width: 50px;
        height: 50px;
        margin-left: 14px;
        border: 1px solid #e1dfdf;
        border-radius: 5px;

        &.selected {
          border: 2px solid #01539d;
          border-radius: 5px;
        }

        &:first-child {
          margin-left: 0;
        }
      }

      img {
        width: 45px;
        height: 45px;
      }
    }
  }

  .sponsored-link-block {
    display: none;
  }

  .select-colour,
  .select-size {
    &:after {
      @include clear-fix;
    }
    li {
      padding: 3px;
      float: left;

    }
    a {
      display: block;
    }

    li.selected {
      border: 2px solid #01539d;
      border-radius: 5px;
    }
  }
  .select-colour {
    li {
      line-height: 0;
    }
  }

    .print-this-page {
        display: none;  
        a {
            font-size: 17px;
            position: absolute;
            top: 0;
            right: 14px;
            width: auto !important;
            padding-bottom: 2px;
            border-bottom: 1px solid #c7d3e1;
            
            .icon {
                font-size: 1.2em;
            }
        }
    }

  .filter-options {
    position: absolute;
    width: 240px;
    border: 1px solid #848282;
    border-top: 4px solid #383838;
    bottom: 38px;

    &.show-overlay {
      &.cols-2 {
        width: 478px;
        max-height:520px;
      }

      &.cols-3 {
        width: 736px;
        max-height:520px;
      }

      &.cols-4 {
        width: 956px;
        max-height:520px;
      }
    }
   
    ul {
      float: left;
    }
    ul li {
      margin: 0px
    }
  }

  .format-release {
    p {
      margin-bottom: 0;
      line-height: 23px;
    }
  }
}

#product-details {

  .trigger, .showvirtualpage {
    font-size: 17px;
    padding-bottom: 3px;
    border-bottom: 1px solid $linkColor;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $linkHoverColor;
    }

    .icon:after {
      content: '2';
    }
  }
}

#age-rating {
  left: -118px;
  top: 10px;
  width: 58px;
  height: 58px;
  z-index: 20;
}

.product-description{
  #main-content {
    .book{
        .features {
          list-style: none;
          width: 704px;
          padding: 0;
          padding-top: 16px;
          margin-top: 30px;
    
          li {
            max-height: 85px;
            margin-bottom: 16px;
            font-size: 16px;
            width: 48%;
            float: left;
            line-height: 16px;
            .other-formats{
                line-height: 15px;
                max-height: 62px;
                min-height: 18px;
                overflow: hidden; 
                white-space: normal !important;
            }
          }
    
          .published {
            height: 20px;
          }
        }
        div.secondary-content > div{
            display:block;
        }
        .format-release {
          display: none;
        }
    }
    

    #product-details.book {
      top: 340px;
      .features {
        height: 41px;
        overflow: hidden;
      }
        .trigger, .showvirtualpage {
        margin-top: 8px;
      }  
    }

    .product-specifications-link,
    .customer-review-link {
      display: block;
      bottom: 20px;
    }
    .product-specifications-link {
        display: none;
    }
  }
  
    #PDP-inline-content,
    #inline-content {
        display: none;
    }
    
    .details-container {
        > h3 {
            border-top: 0 none;
            text-indent: 0px;
        }
        > .rating-container {
            width: 220px;
        }
        
    }
}

.product-description.dvd {

  #main-content {

    .features {
      list-style: none;
      width: 704px;
      padding: 0;
      padding-top: 16px;
      margin-top: 50px;

      li {
        margin-bottom: 6px;
        font-size: 16px;
        width: 49%;
        line-height: 20px;
      }
    }

    .format-release {
      display: none;
    }

    #product-details {
      top: 208px;
    }

    .product-specifications-link,
    .customer-review-link {
      bottom: 325px;
    }
  }
}

#BVRRRatingSummaryLinkWriteID, .BVRRSocialBookmarkingLinks, .BVRRRatingSummaryLinkWriteFirst{
    //display: none;
}
#BVRRRatingSummaryLinkWriteID,.BVRRSocialBookmarkingLinks {
    display: none;
}

/* show bazaar voice legacy in kiosk */
#BVCustomerRatings, div.section.customer-review {
    display: block;
}



#price-check {
    display: none;
}
#page-container .collectionContainer {
    display:none;
    &.range {
        display: block;
    }
}

#page-container .tab-view .bundle-container .collectionContainer {
    display: block;
}
.product-description #main-content .seeAllOffers{
  display:block;
  position:absolute;
  top:26px;
  right:0;

  font-size: 17px; 
  padding-bottom: 3px;
  border-bottom: 1px solid #645945;
  .icon:after{
    content: '2';
  }
  &:hover{
    color:$tescoBrightBlue;
    border-bottom: 1px solid $tescoBrightBlue;
    text-decoration:none;
  }
}
.product-promotions .productPromotionsContent .product-promo .promoContainer .moreArrowRight {
  display:none;
}
.buy-from .eventMessaging {
  display:none;
}
.product-description {
    #main-content {
        .main-details {
            .personalised-message-indicative {
                float: left;
            }
        }
    }
}

.breakup {
    #product-details-link {
        display: block;
        position: absolute;
        top: 280px;
        left: 560px;
        width: 704px;
        
        .toggleDetailWrapper {
            display: block;      
            h3 {    
                border-top: 1px solid $pagePutty;
                border-bottom: 1px solid $pagePutty;
                text-indent: 0;
                font-size: 21px;
                padding: 11px 0;
                margin-bottom: 10px;
                
                &:after {
                    content: '';
                }
            }
        }
        
        .detailWrapper {
            .readMore,
            .trigger {
                float: left;
                margin-top: 10px;
                font-size: 17px;
                padding-bottom: 3px;
                border-bottom: 1px solid $xDarkPutty;
            }
        }
    }
}

.product-description {
    #main-content {
        .product-specifications-link,
        .customer-review-link {
            bottom: 50px;
        }
    }
}

&.flowersEnabled {
    .breakup {
        #product-details-link {
            top: 320px;
        }
    }
}

.tab-view {
    width: 1280px;
    margin-left: 48px;
    position: relative;
    z-index: 20;
    display: block;
    margin-top:10px;
    background: transparent;

    .tab-buttons {
        height: 60px;
        overflow: hidden;
        letter-spacing: 1px;
        background: transparent;

        &.two-tabs {
            button {
                width: 638px;
            }
        }
        &.three-tabs {
            button {
                width: 424px;
            }
        }
        &.four-tabs {
            button {
                width: 316px;
            }
        }
        &.five-tabs {
            button {
                width: 252px;
            }
        }
        &.six-tabs, &.six-plus-tabs  {
            button {
                width: 210px;
                letter-spacing: -1px;
            }
        }

        button {
            height: 60px;
            line-height: 60px;
            background: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            outline: none;
            color: $xDarkPutty;
            position: relative;
            display: none;
            text-align: center;
            font-size: 20px;
            overflow: visible;

            span.icon {
                color: $tescoBrightBlue;
                font-family: 'Tesco Icons';
                position: absolute;
                top: -12px;
                left: 50%;
                margin-left: -7px;
                font-size: 18px;
                visibility: hidden;
                line-height: normal;
            }

            &.tab-btn-active {
                background: $tescoBrightBlue;
                color: #fff;

                span {
                    visibility: visible;
                }
            }
        }
    }

    .scroll-pane {
        width: 1215px;
        height: 674px;
        overflow: auto;
        &:hover {
            outline: none;
        }
    }

    .tab-content-mask {
        height: 810px;
        width: inherit;
        position: absolute;
        top: -821px;
        overflow: hidden;

        .tab-content {
            height: inherit;
            width: inherit;
            padding: 60px;
            box-sizing: border-box;
            position: absolute;
            transform: translateY(821px);
            transition: all 750ms cubic-bezier(0.000, 0.000, 0.000, 1.005);

            &.tab-content-visible {
                transform: translate(0);
            }
        }

        &.tab-content-hidden {
            display: none;
        }

        .tab-content-body-mask {
            height: 620px;
            overflow: hidden;

            .jspContainer, &:focus {
                    outline: none;
            }

            .jspPane {
                width:1100px !important;
                outline: none;

                &:focus {
                    outline: none;
                }

                &.full-width-jsPane {
                    width: 1215px !important;
                }
            }

            .jspVerticalBar {
                right: 45px;
            }
        }

        .tab-content-head {
            margin-bottom: 40px;
            h2 {
                font-size: 32px;
                text-transform: uppercase;
                color: $headingColor;
            }
            #BVRRSummaryContainer {
                height: 0;
                position: absolute;
                top: 37px;
                right: 145px;
                a {
                    cursor: none !important;
                    &.bv-rating-stars-container {
                        cursor: none !important;
                    }
                }
                .bv-rating-stars {
                    font-size: 39px !important;
                    letter-spacing: 6px !important;
                    cursor: none !important;
                }
                .bv-rating-ratio-count {
                    display: none !important;
                }
                .bv-rating-ratio-number {
                    position: absolute !important;
                    top: 6px !important;
                    right: 185px !important;
                    cursor: none !important;
                    .bv-text-link {
                        cursor: none !important;
                    }
                    span {
                        cursor: none !important; 
                        color: $xDarkPutty !important; 
                        font-size: 27px !important;
                    }
                    .bv-rating {
                        border: 0 !important;
                    }
                }
            }
        }

        .tab-content-body {
            width: 100%;
            height: inherit;
            box-sizing: border-box;

            section {
                border: 0;
                box-shadow: none;
                &.detailWrapper {
                    p {
                        font-weight: normal;
                        span {
                            &.ellipsis {
                                display: none;
                            }
                            &.collapsed, &.expanded {
                                display: inline;
                            }
                        }
                        &.currentPrice {
                            font-weight: 900;
                        }
                    }
                    a {
                        &.readMore {
                            display: none;
                            visibility: hidden;
                        }
                    }
                    h4.trigger {
                        font-size:22px;
                        margin:58px 0 16px;
                        color:$xDarkPutty;
                        font-weight:normal;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }

            #BVRRContainer {
                padding: 0 0;
                border: 0;
                .bv-cleanslate {
                    border: 0px !important;
                    padding-top: 0px !important;
                    li.bv-content-item {
                        border-top: 0px solid $pagePutty !important;
                        &:first-child {
                            border-top: 0 !important;
                        }
                        .bv-content-header, .bv-content-summary {
                            padding-left: 0 !important;
                        }
                        .bv-content-header:first-child {
                            padding-top: 0 !important;
                        }
                    }
                }
            &.hideBVReviews {
                    .bv-content-list {
                        display: block !important;
                    }
                    .bv-cleanslate {
                        .bv-shared {
                            .bv-compat { 
                                .bv-content-list-container {
                                    .bv-content-pagination {
                                        margin-bottom: 0px !important;
                                        display:none !important;
                                    }
                                    .bv-control-bar {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .tab-content-placeholder {
                height: 2000px;
            }
        }

        .tab-content-close-label {
            position: absolute;
            z-index: 2;
            top: 39px;
            font-size: 20px;
            right: 73px;
            text-align: right;
            font-weight: bold;
            font-family: "Tesco";
            color: #a69f88;
            cursor: pointer;
        }

        .tab-content-close-btn {
            position: absolute;
            right: 60px;
            top: 60px;
            background: #fff;
            color: $headingColor;
            border: none;
            display: block;
            font-size: 18px;
            cursor: pointer;
            padding: 5px;

            &:focus {
                outline: none;
            }
            &:before {
                content: 'y';
                font-family: 'Tesco Icons';
            }
        }
    }
}
.link-save-tab {
    .jspVerticalBar {
        display: none;
    }

    .bundle-container {
        margin-left: 0 !important;
    }

    /*.tab-content-mask {
        overflow: visible !important;

        .tab-content-body-mask {
            overflow: visible !important;

            .jspContainer {
                overflow: visible;
            }
        }
    }

    */
}
.product-specifications {
    .detailWrapper {
        table > tbody {
            font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
            tr {
                background: $veryLightGrey;
                height: 54px;
                font-size: 18px;
                padding: 0;
                color: $xDarkPutty;
                th, td {
                    width: 574px;
                    padding: 0px;
                    font-weight: normal;
                }
                th {
                    position: relative;
                    padding: 0 0 0 70px;
                    text-align: left;
                }
            }
        }
    }
}

/* hide kiosk footer on PDP due to tab view module */
#wrapper.product #footer {
    display: none;
}

.bundle,
.linksave {
    @mixin round-icon {
        width: 32px;
        height: 32px;
        line-height: 32px;
        display: block;
        font-size: 16px;
        font-family: 'Tesco Icons';
        text-align: center;
        top: 44%;
        color: #fff;
        background: $lightPutty;
        border-radius: 50%;
    }

    .collectionItems {
        padding-top: 24px;
    }
    .collectionItems > li {
        border-left: 1px solid $pagePutty;
        float: left;
        height: 633px !important;

        &:before {
            @include round-icon;
            content: 'a';
            left: 284px;
            margin-top: -16px;
            margin-left: 16px;
            position: relative;
        }

        > div {
            position: relative;
            &.tooltipPopup {
                position: absolute;
            }
        }

        .collectionItemContainer {
            padding: 0 58px 0 58px;
            width: 200px;
            box-sizing: content-box;
        }

        .collectionSummaryContent {
            padding: 0 0 0 58px;
        }

        .collectionPrice {
            margin: 154px 0 32px 0;

            .saving {
                font-size: 20px;
            }
            p.currentPrice {
                font-size: 44px;
                margin-top: 8px;
            }
        }

        .checkboxContainer {
            position: absolute;
            left: 60px;
            top: 524px;

            .checkbox {
                width: 47px;
                height: 47px;
                line-height: 47px;
                margin-left: 0;

                &:after {
                    font-size: 22px;
                }
            }
        }

        .collectionItemDescription {
            position: absolute;
            top: 300px;
            font-size: 22px;
            line-height: 30px;
            width: 200px;
            max-height: 150px;
            
            a {
                font-size: 22px;
            }
            
            a,
            a:link,
            a:active {
                color: $linkColor;
            }
        }
    }

    .collectionItems > li:first-child {
        border-left: none;

        &:before {
            left: 248px;
            position: relative;
            margin-top: -16px;
            margin-left: 16px;
        }

        .collectionItemContainer {
            padding: 0 58px 0 22px;
        }
    }

    .collectionItems > li:nth-last-child(2) {
        &:before {
            content: '=';
            font-family: Arial;
            font-size: 29px;
            z-index: 2;
        }
    }

    .collectionItems > li:last-child {
        &:before {
            content: '';
            display: none;
        }
    }

    .collectionItemImage,
    .collectionItemImageContainer {
        width: 200px;
        height: 200px;
        position: relative;
        overflow: hidden;
    }

    .collectionItemPrice {
        position: absolute;
        font-size: 32px;
        top: 243px;
    }

    .collectionTermsLink {
        padding-left: 58px;
        font-size: 16px;

        &:after {
            content: '?';
            background: $tescoBrightBlue;
            color: #fff;
            display: inline-block;
            width: 15px;
            height: 15px;
            line-height: 15px;
            border-radius: 50%;
            text-align: center;
            font-size: 11px;
            position: relative;
            left: 4px;
            top: -1px;
        }
    }

    .tooltipPopup {
        p {
            font-size: 14px;
            font-weight: normal;
            margin: 16px;
        }
    }
}

#page-container .tab-content input.add-to-basket,
#page-container .tab-content  .bundleLink {
    display: block;
    width: 215px;
    height: 61px;
    font-size: 19px;
    margin-bottom: 14px;
}

.bundleLink,
.bundleLink:hover {
    line-height: 61px;
    border: solid 1px $putty;
    text-align: center;
    font-size: 18px !important;
    text-decoration: none;
    color: $darkPutty;
}



.product-description #main-content .main-details .book .features {
	margin-top: 30px;
}

#range {
    .collectionItems > li {
        padding: 10px 16px;
        display:block;
        clear:both;
        height:170px;
        overflow:visible;
        form {
            position:relative;
        }
        .collectionItemImageContainer {
            float: left;
            height: 125px;
            width: 125px;
            margin-right:0px;
             img, .collectionItemImage {
                    width:125px;
                    vertical-align:middle;
                    display: block;
                    position:static;
            }
        }
        .collectionItemDetail {
            width:415px;
            height:140px;
            float:left;
            margin: 0 0 10px 30px;
            .collectionItemPrice {
                font-size:32px;
            }
            .oo-stock  {
                position:absolute;
                top:35px;
                right:0px;
                padding:10px 15px;
                border:1px solid $tescoRed;
                font-weight:normal;
                font-size:18px;
                text-align:center;
                font-family: Arial, sans-serif;
                width:215px;
                line-height:24px;
            }
        }
        .buy-block {
            display:none;
        }
        .collectionItemDescription {
            max-height: 38px;
            overflow: hidden;
            margin-bottom:16px;
            padding-top:10px;
            a {
                line-height: 28px;
                max-height: 38px;
                display: block;
                font-size:22px;
                color: $xDarkPutty;
                margin-left: 0px;
                margin-bottom:16px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .rating-container {
            margin-bottom:16px;
            height:auto;
            min-height:12px;
            .total-reviewers {
                font-size:14px;
                font-family: Arial, sans-serif;
                color: $contentLinkInline;
            }
        }
        .collectionActions {
            float: right;
            margin-top: 25px;
            width: 401px;
            position: absolute;
            right: 0px;
            overflow: visible;
            a.stock-alert {
                display:none;
            }
            .collectionQuantity {
                margin-right:16px;
                display: inline-block;
                width: 170px;
                float: left;
                a.decrease, a.increase {
                    display: inline-block;
                    width: 59px;
                    height:61px;
                    background: white;
                    color: $darkPutty;
                    margin-right: -3px;
                    float:left;
                    text-align: center;
                    padding:4px 16px;
                    font-size:38px;
                    font-family: Arial, sans-serif !important;
                    outline:none;
                    &:hover, &:visited {
                        border-color: $putty;
                        outline:none;
                    }
                    &.disabled {
                        border-color:$darkPutty;
                    }
                }
                input.quantity-display {
                    width:59px;
                    height:61px !important;
                    font-size:24px !important;
                    text-align: center;
                    float:left;
                    margin-right: -3px;
                    padding:0px 8px;
                    font-family: Arial, sans-serif !important;
                    outline:none;
                }
            }
            .collectionItemSelection {
                width: auto;
                input.addCollectionItem {
                    width:215px;
                    height:61px !important;
                    margin-left:0;
                    font-size: 22px;
                    text-align:center;
                    font-family:"Tesco", Helvetica Neue, Arial, sans-serif;
                    font-weight:normal;
                    outline:none;
                    &.inProgress{
                    	font-size: 20px;
                    	padding: 0;
                    }
                }
            }
        }
    }
}

.icon-question-container {
    right: 20px;
    top: 12px;
    .icon-question {
        display: block;
        width: 30px;
        height: 30px;
        &:after {        
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
        }
    }
}

.page {
    .tooltip {
        .body {
            .close {
                font-size: 15px;
            }
        }
    }
}

.linksave {
    .collectionItemImage {
        position: absolute;
    }
}

.product-description .page-information {
    top: 4px;
    padding: 8px 8px 4px 51px;
    width: 615px;
    right: 41px;
}

.product-description .page-information {
    top: 4px;
    padding: 8px 8px 4px 51px;
    width: 615px;
    right: 41px;
}
