@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "product-description-mixins";
@include twoColumnLayout;


html.js {
    #BVRRContainer {         
        .bv-cleanslate {
            .bv-header { 
                .bv-action-bar { 
                    .toggleDetailWrapperBV {
                        h2 {                             
                            &.bv-action-bar-header {
                                width: 60% !important;
                                padding-left: 32px !important;
                                &:after {
                                    left:8px !important;
                                    right: inherit !important;
                            	}
                        	}
                    	}                   
                	}
            	}           
        	}
    	}
	}
}

.product-description {
    .detailWrapper ul.features{
        padding-left:30px;
    }
    #main-content {
        .sponsored-link-block {
            width: 98%;
        }
        .secondary-content {
            .sponsored-link-block {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
        }
        .collapseByDefault, .accordion-on{
            .product-specifications {
                .expandable{
                    h4 {
                        padding-left: 42px;
                    }
                    .panel table th{
                        padding-left: 62px;
                    }
                }
            }
        }
    }

    .thumbnails {
        li {
            /*display: inline-block;
            border: 1px solid $primaryBorderColor;*/
            @include border-radius(2px);
            margin: 3px;
        }

        img {
            width: 55px;
            height: 55px;
        }
    }

    .format-release p {
        margin-left: 0;
    }
    
    #main-content .main-details span.offer{
        left: 105px;
        top: 20px;
    }   
    
    #main-content > div > section#product-details ul{
        padding: 0 0 0 8px;
    }

    #main-content > div > section.main-details{
        min-height: 593px;
        .select-colour, .select-size{
            padding-right: 8px;
            padding-bottom: 8px;
        }
    }

    #main-content div .details-content{
        .trigger {
            display:none;
        }
    }

    #main-content > div > section {
        overflow: hidden;
        > article,
        > div,
        > ul,
        > a,
        .blinkbox-banner,
        .social-share-buttons {
            float: right;
            width: 32%;
            clear: right;
        }

        .static-product-image{
            float:left;
            clear: both;
            margin: 16px 0 0 16px;
            padding: 0;
            //position: relative;
            width: 540px;
            
            span.offer{
                left: 10px;
                top: 10px;
            }
        }

        .new-slash{
            position: absolute;
            top: 17px;
            left: 100px;
            z-index: 1;
        }   

        /*
        ul.features{
        list-style: none;
        float:left;
        margin:0;
        padding:0;
        }
        */

        > article {
            margin: 0;
        }

        > a {
            margin: 0 0 8px;
        }

        

        .select-size {
            li {                
                a {
                    font-size: 14px;
                    span {
                        font-size: 14px;
                    }
                }
            }            
        }
        
        .blinkbox-banner {
            width: 34%;
            margin-right: 1%;

            .collapsed img {
                display: block;
                margin-bottom: 12px;
            }

            .icon {
                top: 12px;
            }
        }
    }

    #main-content div.wishlist-button {
        width: 31%;
        margin: 1em 1em 0 0;
    }
    #main-content div.collectionButton {
        width: 31%;
        margin: 2px 10px 0 0;
        &+.wishlist-button {
            margin-top: 6px;
        }
    }
    .rating-container {
        margin: 0 0 8px 0;
    }

    .details-container {
        margin-top: 8px;

        p {
            margin-left: 0;
        }
        h3 {
            border: 0 none;
            text-indent: 0px;
        }
    }

    .features {
        margin-top: 8px;
        padding-left: 20px;
    }

    .pre-order-price-promise {
        h3,
        p,
        a {
            margin-left: 0;
        }
    }

    table {
        tbody {
            td {
                width: 25%;
            }
        }
    }

    th {
        padding-left: 16px;
        padding-bottom: 10px;
    }

    .price-check-details {
        tbody {
            .date-checked {
                width: auto;
            }
        }
    }
    
    section.main-details {

        .product-carousel {
            clear: left;
    
            @include verticalThumbnails;
    
            .products-header {
                margin-top: 0;
                padding-top: 0;
            }
    
            .product-carousel-nav li {
                width: 74px;
                height: 33px;
                bottom: 0px;
            }       
        }
    }
        
    .product-specifications .slide-out-trigger {
        display: none;
    }

    .product-specifications {
        margin-top: 16px;
    }

    .feature-products.carousel {
        display: none;
    }

    .complimentary {

        & > div {
            border: none;
            @include box-shadow(0 2px 2px $primaryBorderColor);
            overflow: hidden;
            margin-bottom: 4px;
        }

        & > div:first-child {
            margin-bottom: 8px;
        }

        .products-header {
            padding: 16px;
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;

            h2 {
                text-indent: 0;
                font-size: 1.8em;
                margin-bottom: 0;
            }
        }

        .products-wrapper {
            border-right: 1px solid $primaryBorderColor;
            border-left: 1px solid $primaryBorderColor;
            border-bottom: 1px solid $primaryBorderColor;
            overflow: hidden;
        }

        li {
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;

            .ratings, .former-prices, .saving, .price {
                margin-left: 32px;
            }

            .rating-container {
                overflow: hidden;
                margin-bottom: 6px;

                > a {
                    float: left;
                }
            }

            .former-prices {
                line-height: 20px;
            }
        }

        .product {
            box-shadow: none;

            .new {
                font-size: 4.5em;
            }

            h3 {
                text-indent: 0;
                margin-top: 0;
                margin-left: 0;
                padding-top: 0;
                width: auto;
            }

            .thumbnail {
                left: 16px;
                top: auto;
                position: absolute;
                width: 30%;
                img {
                    width: 100%;
                    &.bcve_ping {
                        width: 36px;
                        height: 22px;
                        top: auto;
                    }
                }
            }
        }
    }
}

.three-pdpproducts {
        width: 32.1%;
}
.two-pdpproducts { 
        width: 49.1%;
}

.product-description {
    #product-details {
        a {
            float: none;
        }
    }
    #product-details.expand-collapse {
        > a {
            float: none;
            margin:0 8px 8px;
            &.toggleDetailWrapper {
                margin: 0;
            }
        }
    }
}

.social-share-buttons {
    .google-container {
        clear: left;
    }
    .google-container,
    .pinterest-container {
        margin-top: 12px;
    }
    .google-container {
        margin-right: 0;
    }
}

#social-network-share-buttons {
    height: 22px;
}

.buy-from .primary-button, .buy-from .secondary-button, .buy-from .tertiary-button{ 
    height:30px;
    padding:3px;

}


//undo global styles applied to all divs - affecting ssb_block containers
.product-description #main-content > div.secondary-content > section.feature-products > div {
    float: none;
    width: auto;
    clear: none;
}

.js {
    .product-description {
        #main-content {
            .product-specifications {
                .specGroup {
                    &.show-nocssanimation {
                        h4 .icon:after {
                            content:"2"
                        }
                        .panel {
                            height: 100%;max-height: 100%;display:block;-webkit-transition: all 0s ease-in;-moz-transition: all 0s ease-in;-o-transition: all 0s ease-in;transition: all 0s ease-in;
                        }                       
                    }               
                }
            }
        }
    }
}



