#basket-flyout-menu {
  .basket-flyout-footer-wrapper {
    .basket-submit {
      #add-on-tooltip {
        &.add-on-tooltip {
          bottom: 55%;
          left: 21px;
          width: 88%;
         }
       }
    }
  }
}
