@import '../variables';

@mixin addOnItemImage {
  .add-on-image-container {
    margin: 8px 0 13px;

    img {
      height: 21px;
      width: 112px;
    }
  }
}

@mixin addOnBasketTooltip {
  #add-on-tooltip {
    @include topPositionedTooltip;
    &.add-on-tooltip {
      background-color: $white;
      border-color: $requiredRed;
      bottom: 279px;
      left: 21px;
      width: 87%;

      &:after,
      &:before {
        border: 28px solid $requiredRed;
        border-color: $requiredRed transparent transparent;
        bottom: -56px;
        left: 77%;
        margin-left: -28px;
      }

      &:after {
        border-color: $white transparent transparent;
        border-width: 27px;
        bottom: -54px;
        margin-left: -27px;
      }

      p {
        color: $requiredRed;
        font-size: 14px;
      }
    }
  }
}

@mixin addOnInfoMessage {
  .add-on-content {
    border: 1px solid #CC3333;
    border-radius: 2px;
    margin-bottom: 3px;

    p {
      color: $offBlack;
      font-size: 14px;
      line-height: 18px;
      margin: 12px;

      #add-on-content-header {
        @include withIcon('i', before);
        display: block;
        font-weight: bold;
        padding-left: 10px;

        &:before {
          font-size: 135%;
        }
      }

      #add-on-content-body {
        display: inline-block;
        margin-top: 4px;
        padding-left: 30px;

        a {
          color: $tescoBlue;
          display: inline;
          font-size: 14px;
          line-height: 18px;

          &:hover {
            color: $tescoBrightBlue;
          }
        }
      }
    }
  }
}
