/*******************************************
*	Breadcrumb module
*******************************************/

@import "../../components/variables";
@import "../mixins/breadcrumb-mixins";

/*******************************************
*	DEFAULT STYLES
*******************************************/

$onecol: 16px;

#breadcrumb {
	position: relative;
	overflow: hidden;
	padding: 0 16px;
  height: 23px;

	ul {
		padding:0;
		margin: 0;
	}

	li {
		@include listLinks;
		&:after {
			content: 'r';
			font-family: 'Tesco Icons';
			font-size: 0.8em;
			line-height: 1.6em;
			float: left;
			padding-left: $onecol * 0.5;
			width: $onecol;
			color: $putty;
		}

		&.last {
			a {
				color: $darkPutty;
			}
			&:after {
				content: '';
			}
		}

		a {
			border-bottom: none;
			&:hover {
				color: $linkHoverColor;
				text-decoration: underline;
			}
		}
	}

	.toggle {
		position: absolute;
		bottom: 6px;
		right: 0;
		height: 32px;
		line-height: 32px;
		font-size: 0.8em;
		padding: 0 20px;
		border-left: 1px solid $lightPutty;
		cursor: pointer;
		color: $putty;
}
}
