@import "../../components/variables";

.tesco-cookie {
	position:fixed;
	bottom:0;
	opacity:0.9;
	filter: alpha(opacity=90);
	width: 100%;
	left: 0;
	overflow:hidden;
	display: none;
	z-index: 2000;
	padding: 5px 0;
	background-color: rgb(0, 83, 160);
	background-color: rgba(0, 83, 160, 0.9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D50053a0, endColorstr=#D50053a0);
	-ms-filter: "progid:DXImag   eTransform.Microsoft.gradient(startColorstr=#d50053a0, endColorstr=#d50053a0)";

  div {
  	margin: 0 auto;
  }
  p {
  	color: $white;
  	float: left;
  	padding: 0 10px;
  	margin: 6px 0;
  	font-size:1.2em;
    width: 92%;
  }
  a {
    color: $white;
  	text-decoration: underline;
    &:link, &:visited, &:active {
      color: $white;
    	text-decoration: underline;
    }
    img {
     border-radius: 2px 2px 2px 2px;
     float: right;
     margin: 5px;
   }
  }

}

.xmas-homepage .tesco-cookie p {
    color: $white;
    float: left;
    padding: 0 10px;
    margin: 6px 0;
    font-size: 1.2em;
}
