// all
@import "../../components/variables";
@import "../mixins/full-width-carousel-mixins";

.cfw-header {
  margin: 0 0 30px 0;
  position: relative;

  &:after {
    @include clear-fix;
  }

  .cfw-title {
    width: 66.6666%;
    float: left;
    padding: 0;
    margin: 0;
  }

  .cfw-navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;

    .nav-dot {
      float: left;

      .dot-action {
        width: 24px;
        height: 24px;
        position: relative;
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
        background: 0;
        cursor: pointer;

        &::-moz-focus-inner {
          border: 0;
          padding: 0;
        }

        &:after {
          width: 10px;
          height: 10px;
          display: block;
          content: "";
          background: #fff;
          border-radius: 50%;
          border: 1px solid #4e4e4e;
          border: 1px solid rgba(78, 78, 78, 0.4);
          position: absolute;
          left: 7px;
          top: 7px;
        }
      }

      &.isSelected {

        .dot-action {

          &:hover:after,
          &:active:after,
          &:focus:after {
            border: 1px solid #4e4e4e;
          }

          &:after {
            background: #4e4e4e;
            border: 1px solid #4e4e4e;
          }
        }
      }
    }
  }

  .product-carousel-nav {

    > li {
      width: 26px;
      height: 26px;
      float: right;

      &.disabled {
        > a {
          cursor: default;
          .icon {
            color: #cbcbcb;
          }
        }
      }

      &:first-child {
        float: left;
      }

      > a {
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        cursor: pointer;
        position: relative;

        &:hover {
          text-decoration: none;
        }

        .label {
          @include visuallyHidden;
        }

        .icon {
          width: 100%;
          height: 100%;
          display: block;
          color: #4e4e4e;

          &:after {
            width: 100%;
            height: 100%;
            font-family: $tescoIconFont;
            font-size: 26px;
            display: block;
            line-height: 26px;
            position: absolute;
            top: 0;
            left: 0;
            vertical-align: middle;
            text-align: center;
          }
        }

        &.previous {
          .icon {
            &:after {
              content: "g";
            }
          }
        }

        &.next {
          .icon {
            &:after {
              content: "r";
            }
          }
        }
      }
    }
  }

  &.cfw-reduced-height {
    .product-carousel-nav {
      top: 150px;
    }

    .cfw-navigation {
      margin: 20px 30px 0 0;
    }

    .cfw-title {
      float: left;
      margin-top: 20px;
      width: auto;
    }
  }
}

.noNav {
  .cfw-header {
    .cfw-title {
      width: 100%;
    }

    .cfw-navigation {
      display: none;
    }

    &.cfw-reduced-height {
      .cfw-title {
        float: left;
        margin-top: 20px;
        width: auto;
      }
    }
  }
}

.carousel-fullwidth {
  background: $white;

  &.carousel-hidden {
    .carousel-items,
    .product-carousel-nav-wrapper,
    .cfw-navigation,
    .empty-carousel-message {
      display: none;
    }
  }

  &.carousel-disabled {
    .cfw-header {
      margin: 0 auto 20px;
    }
    .product-carousel-nav-wrapper, .carousel-items {
      display: none;
    }
    .empty-carousel-message {
      display: block;
    }
    &.carousel-hidden {
      margin: 0 auto;
      .cfw-header {
        margin: 0 auto;
      }
      .empty-carousel-message {
        display: none;
      }
    }
  }

  .carousel-items-list {
    &.carousel-items-show-5 {
      > li {
        position: relative;
        width: 20%;

        #wrapper & {
          width: 20%;
        }

        .product-tile {
          .product-tile-image {
            height: auto;
          }
        }
        a {
          &.remove {
            position: absolute;
            right: 16px;
            top: 3px;
            &:before {
              content: 'y';
              font-family: 'Tesco Icons';
              text-indent: 0;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .bcve_ping {
    display: none;
  }

  &.cfw-old-carousel-styles {
    @include old-carousel-styles;
  }

  @include additional-carousel-controls;
  .empty-carousel-message {
    border-top: 1px solid $pagePutty;
    display: none;
    padding: 13px 0 15px;
    p {
      font-size: 20px;
    }
  }
}

#supplemental .carousel-fullwidth a.remove:hover {
  text-decoration: none;
} // override aggresive link hover states on pdpv2
