/*******************************************
*	Product Carousel module
*******************************************/

@import "../../components/variables";
@import "../mixins/product-carousel-mixins";

#product-carousel-tabs {
	display: none;
}
/*  Scene 7 Player Styles - START */
.product-description #main-content section #flyoutViewerContainer{
	float:left;
	height: auto;
	min-height: 360px;
	position: relative;
	width: 259px;
	z-index: 0;
	padding-left:14px;
}
.scene7-wrapper {
	height: 280px;
	width: 260px;
	float: left;
	padding-top: 13px;
}
.scene7-js {
	height: 400px;
}
#s7viewer {
	position: absolute;
	z-index: 200;
}
.scene7-static {
	display: block;
}
.flash-enabled .scene7-static {
	display: none;
}
.scene7-static-image {
	margin-bottom: 20px;
	height: 260px;
	width: 260px;
	overflow: hidden;
	position: relative;
	line-height: 260px;
	text-align: center;
	float:left;
}
.scene7-static-thumbs a {
	margin: 10px;
}
/*  Scene 7 Player Styles - END */

.product-carousel .product-carousel-nav li a {
	&.previous .icon {
		right: 3px;
	}

	.icon:after {
		font-size: 19px;
	}
}

.product-carousel,
.product-carousel-heroic,
.orders-pagination {
	width: 100%;
	clear: both;
	overflow: hidden;
  margin-bottom: 32px;
	h2 {
		float: left;
    	white-space: normal;
	   }
	.anchor {
		display: none;
		clear: both;
		position: relative;
		height: 50px;
		padding-bottom: 12px;
		.wrapper {
			position: absolute;
			right: 0;
			margin: 0;
			padding: 0;
			width: auto;
			height: auto;
			border-bottom: 1px solid #c6d0da;
			span {
				font-family: "Helvetica Neue", arial;
				font-size: 14px;
				color: #01539d;

				&.icon {
					margin: 0 5px 0 5px;
					font-family: 'Tesco Icons';
					font-size: 12px;
					line-height: 23px;
				}
			}
			&:hover {
				border-bottom: 1px solid #01539d;
				cursor: pointer;
			}
		}
	}
	.product-carousel-nav {
		float: right;
		margin-bottom: 11px;
		li {
			float: left;
			position: relative;
			margin-left: 8px;
			a {
        		@include carouselNavigationButton;
				display: block;
				text-decoration: none;
				overflow: hidden;
				position: relative;
				@include noselsct;
				&.previous .icon {
					right: 4px;
				}
				&.next .icon {
					right: 1px;
				}
				.icon{
					display: block;
					top: -1px;
					&:after {
						display: block;
						font-family: 'Tesco Icons';
						font-size: 12px;
						position: absolute;
						top: 0;
						left: 0;
						text-align: center;
						vertical-align: middle;
						text-indent: 0;
					}
				}
				.label {
					position: relative;
					position: absolute;
					text-indent: 100%;
					line-height: 0;
				}
				&.next .icon:after {
					content: 'r';
				}
				&.previous .icon:after {
					content: 'g';
				}
			}

			 &.disabled  a {
				 background: $white;
				 border-color: $midDarkGrey;
				 color: $midDarkGrey;
			}
		}
		li.disabled:hover {
			border-color: $btnTertiaryDisabledColor;
		}
	}
	.products-wrapper {
		clear: both;
		overflow: hidden;
        background: white;
	}
	.products {
		position: relative;
		@include translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
    -webkit-transition: all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		&.fast{
				-webkit-transition: -webkit-transform 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
			-moz-transition: -moz-transform 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
			-ms-transition: -ms-transform 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
			-o-transition: -o-transform 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
			transition: transform 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		}
		white-space: nowrap;
		font-size: 0;
		letter-spacing: 0;
		word-spacing: 0;
		&>li {
			display: inline-block;
			float: none;
			z-index: 0;
		}
	}
}

.touch {
	.product-carousel .products > li, .orders-pagination .products > li {
	   @include noselsct;
    }
}
