/*******************************************
 * Searchify - all
 ******************************************/

 @import "../mixins/searchify-mixins";
 @import "../../components/_global-mixins";


/**
 * Searchify module.
 */

.m-searchify {
    width: 100%;
    background: $white;

    /**
     * Searchify - Autocomplete component.
     */
    .searchify-autocomplete {
        list-style-type: none;

        .autocomplete-item {
            font-family: arial, sans-serif;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.is-selected {
                .item-link {
                    color: $brightBlue;
                }
            }

            .item-link {
                @include blankButton;
                width: 100%;
                padding: 12px;
                font-size: 15px;
                color: $grey;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;

                @include multipleTransitions(color 0.3s);

                &:focus,
                &:active,
                &:hover {
                    color: $brightBlue;
                }
            }
        }
    }

    /**
     * Searchify - Popular Results component.
     */
    .searchify-popular {
        font-family: Tesco;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0;
        padding: 10px 15px;
    }

    /**
     * Searchify - Product Suggestions component.
     */
     .searchify-autosuggest {
        list-style-type: none;
        @include clearfix;
        padding-bottom: 15px;

        .autosuggest-item {
            min-height: 72px;
            color: $grey;
            font-size: 15px;
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            white-space: pre-wrap;
            background: #fff;
            border-bottom: 1px solid $paleGrey;

            &:last-child {
                border-bottom: none;
            }

            &.is-selected {
                .item-link {
                    .item-name {
                        color: $brightBlue;
                    }
                }
            }

            .item-link {
                &:focus,
                &:active,
                &:hover {
                    .item-name {
                        color: $brightBlue;
                    }
                }
            }

            .item-link {
                width: 100%;
                display: block;
                overflow: hidden;
                text-decoration: none;

                .item-name {
                    display: block;
                    color: $grey;
                    font-family: Tesco, sans-serif;
                    font-size: 14px;
                    margin-left: 60px;
                    @include multipleTransitions(color 0.3s);
                }

                .image-wrapper {
                    float: left;
                    width: 50px;

                    img {
                        max-width: 50px;
                        max-height: 50px;
                        display: block;
                        margin: 0px auto;
                    }
                }
            }
        }
     }
}





#spf-searchBox {
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 12px;
    border: none;
    margin-top: 4px;

    &:focus {
        outline: none;
    }
}

#spf-goBtn {
    font-size: 1em;
    font-weight: bold;
    background: #1E63A5;
    border: 1px solid #2478C6;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    width: 50px;
    margin-left: 10px;
    left: 410px;
    top: 5px;
}

#spf-seeAllResults {
    font-size: 15px;
    padding: 15px;
    color: white;
    cursor: pointer;
    background: #7C765F;

    a {
        color: #01539d;
        line-height: 36px;
    }
}

#spf-seeAllResults {
    font-size: 0 !important;
    cursor: auto !important;

    span {
        display: none !important;
    }
}
