/*******************************************
*	Streamline Basket - KIOSK
*******************************************/
.kiosk-hide{
	display: none;
}

#lightbox.streamline-basket {
  background: #ffffff;
  	.overlay-header{
  		padding: 34px 48px;
  	}
	#lightbox-content{
		padding : 0px 64px 0px 50px;
		ul{
			width: 100%;
			padding: 0;
			margin: 0;
			li{
				width: 100%;
			}
		}
		.current-details{
      		overflow: auto;
      		margin-bottom: 0;
      		padding: 12px 64px 64px 64px;
			.section-main{
				.updated-info{
					margin-bottom: 64px;
					p{
						font-size: 40px;
						padding-top:39px;
						span{
							color: #dd5433;
						}
					}
					img{
						width:160px;
						height:160px;
						margin-right:32px;
					}
				}
				.more-options{
					width: 896px;
					float: left;
					background: none;
					border: none;
					min-height: 200px;
					margin-bottom: 64px;
					padding:0px;
					.service-items{
						padding: 26px 32px 32px 32px;
						border: 1px solid #d0d0d0;
						min-height: 200px;
						background: #f5f7ff;
					}
					p{
						font-size: 28px;
						border-bottom: 1px solid #d6d2c4;
						color: #615948;
					}
					form{
						font-size: 0.6em;
						ul{
							li{
								margin-top: 16px;
								label{
									.checkbox{
										float:left;
										width: 48px;
										height: 48px;
										line-height:45px;
										&:after{
											font-size:1.6em;
										}
									}
									span{
										max-width: 625px;
										display: inline-block;
										line-height: 1.8em;
										color: #7c765f;
										font-size: 24px;
									}
									b{
										position: absolute;
										top: 0;
										right: 40px;
										font-weight: normal;
										color: #7c765f;
										font-size: 26px;
									}
									&:after{
										width: 30px;
										height: 30px;
										margin-top: 6px;
									    background-size: 26px;
									}
								}
							}
						}
					}
					.tooltipPopup{
						padding:40px;
						width:630px;
						top: -234.94px !important;
						p{
							border-bottom:none;
							font-size:22px;
							color: #615948;
						}
						a.close{
							border-bottom: none;
						}
						&:after{
							 border-color: transparent white transparent transparent;
							 border-width: 25px;
  							 left: -21px;
  							 margin-left: -27px;
						}
						&:before{
							border-color: transparent #848282 transparent transparent;
							left: -25px;
							margin-left: -27px;
						}
						&:before,
						&:after{
							content: "";
							height: 0;
							width: 0;
							top: 45%;
							position: absolute;		
						}
					}
				}
				.summary{
					width: 896px;
					float: left;
					clear:left;
					border: none;
					min-height: 200px;
					padding: 0 0 0 20px;
					margin-bottom: 10px;
					.heading{
						color: #615948;
  						font-size: 32px;
					}
					ul{
						margin: 0;
						font-size: 0.6em;
						li{
							padding: 12px 0;
							border-bottom: 1px solid #e5e4e0;
							p, span{
								font-size: 24px;
  								color: #8c8773;
							}
						}
						li.marked{
							p{
								color: #7c765f;
							} 
							span{
								color: #dd2d28;
							}
						}
					}
					.total{
						font-family: "Tesco",Helvetica Neue,Arial,sans-serif;
						margin: 0;
						padding: 11px 0;
						height: auto;
						color: #615948;
						p{
							font-size: 30px;
							
						}
						span{
							font-size: 48px;
							font-weight:bold;
						}
					}
				}
			}
			.section-nav{
				position: absolute;
				bottom: 20px;
       			right: 16px;
				width: 35%;
				padding-left:64px;
				.primary-button, .secondary-button{
					line-height: 1.9em;
					padding: 10px;
					font-size: 32px;
  					height: 82px;
  					width: 472px;
					font-weight: bold;
					border: none;
					display: block;
					background: $basketOrange;
					&:hover,
					&:focus,
					&:active  {
						background: $hoverOrange;
					}
				}
				ul li:first-child{
					a.primary-button{
						background: $putty;
						&:hover,
						&:focus,
						&:active  {
							background: $tescoBrightBlue;
						}
					}
				}
				p{
					font-size: 1.8em;
					.continue{
						text-align: right;
						border-bottom: 1px solid #e5e4e0;
						line-height: 1.8em;
						font-size: 28px;
						color: #797560;
						width: 50%;
						padding-right:4px;
						margin-right: 20px;
						&:hover,
						&:focus,
						&:active {
							color: $tescoBrightBlue;
						}
					}
				}
			}
		}
		.recommendersArea{
			#streamline-basket-iframe{
        		padding-top: 0px;
				border-top: 1px solid #d6d2c4;
				height: 855px;
			}
		}
	}
	#lightbox-content.buy-from-kiosk-cp{
    	height: auto !important;
    	padding: 0px;
    	width: auto;
    	float: none;
	}
}

&.flowersEnabled {
#lightbox.streamline-basket {
    #lightbox-content {
        .current-details {
            .section-main {
                .summary {
                    width: 475px;
                    margin-left: 435px;
                    border-left: 1px solid #d6d2c4;
                    
                    p.personalised-message-indicative {
                        position: absolute;
                        left: 0;
                        width: 435px;
                        padding-right: 20px;
                        
                        &:before {
                            float: left;
                            top: 0;
                        }
                    }
                }
            }
            .section-nav {
                width: 455px;
                padding-left: 20px;
            }
       	 }
       }
	}
}