/*******************************************
*	Streamline Basket - Tablet
*******************************************/

#streamline-basket-iframe {
    height: 960px;
}

#virtual-page { background-color: #fff; }

.streamline-basket {
    .current-details { padding: 24px;
        .section-main { width: 100%; margin-bottom: 18px;
            .updated-info, .more-options { margin-bottom: 24px; }
            .summary {
                ul { margin: 0.5em 0; }
                p { font-size: 1em; }
                .total { margin: 0; }
            }
        }
        .section-nav { width: 100%; margin: 0 0 16px 0; padding: 0;
            ul li { float: right; width: 49%; }
            ul li:first-child { float: left; }
        }
    }
    .add-on-item {
      left: 130px;
    }
    .basket-overlay__addOnMessage {
      overflow: hidden;
    }
}

/*when in tablet, streamline-basket-carousel should look like mobile product-carousel*/
.product-carousel.streamline-basket-carousel {
    h2 {
        width: 74%;
    }
    .products > li {
        width: 100%;
    }
}
