/*
 * Promotions - Common
*/
@mixin promotions-common() {

    .special-offers-list {
        overflow: hidden;

        &.number-of-offers-1 {
            .special-offer-container {
                .special-offer-container-top {
                    cursor: default;
                    .offer-icon {
                        display: none;
                    }
                }
                .special-offer-container-bottom {
                    max-height: none;
                }
            }
        }
    }

    .special-offer-container {
        position: relative;
        display: block;

        .special-offer-container-top {
            position: relative;
            cursor: pointer;
            overflow: hidden;
        }
        .offer-title {
            height: 100%;
            display: table;
            float: left;
            margin-right: 40px;
            > * {
                color: $offers;
                word-wrap: break-word;
                word-break: break-word;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .offer-icon {
            position: absolute;
            top: 50%;
            right: 20px;
            .show-more-cheveron {
                margin-top: -50%;
                &:before {
                    font-size: 16px;
                    font-family: 'Tesco Icons';
                    content: '2';
                    color: $tescoRed;
                }
            }
        }

        .special-offer-container-bottom {
            overflow: hidden;
            max-height: 0px;
            @include multipleTransitions(padding 0.5s ease, max-height 0.3s ease);
        }
        .qualifying-text {
            @include text;
            font-weight: bold;
        }
        .offer-cta {
            @include text;
            a {
                font-size: inherit;
                line-height: inherit;
            }
        }
        .offer-terms {
            @include text;
        }

        &.toggle-expand {
            .offer-icon {
                .show-more-cheveron:before {
                    content: '1';
                    color: $tescoRed;
                }
            }
            .special-offer-container-bottom {
                max-height: 350px;
            }
        }
    }

    .all-offers-cta {
        display: none;
    }
}


/*
 * Promotions List View - Common
*/
@mixin promotions-list-view() {

    .special-offers-list {
        li {
            border-bottom: 1px solid $border;
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .special-offer-container {

        .special-offer-container-top {
            padding: 12px 0;
        }
        .offer-icon {
            right: 0;
        }

        .special-offer-container-bottom {
            padding: 0;
        }
        .qualifying-text,
        .offer-cta {
            margin-bottom: 12px;
        }

        &.toggle-expand {
            .special-offer-container-bottom {
                padding-bottom: 12px;
            }
        }
    }
}


/*
 * Promotions Box View - Common
*/
@mixin promotions-box-view() {

    .special-offers-list {
        li {
            width: 49%;
            float: right;
            &.odd {
                width: 49%;
                float: left;
                clear: both;
            }
        }
        &.number-of-offers-1 {
            li {
                width: 100%;
                float: none;
            }
            .special-offer-container {
                .special-offer-container-bottom {
                    padding: 0px 20px 20px 20px;
                }
                &:hover {
                    background: #ffffff;
                }
            }
        }
    }

    .special-offer-container {
        margin: 0 0 10px 0;
        border: 1px solid $tescoRed;
        border-radius: 3px;
        background-color: $white;
        @include multipleTransitions(background-color 0.3s);

        .special-offer-container-top {
            margin: 20px;
            -webkit-tap-highlight-color: rgba(0,0,0,0); // removes the default active background state on Chrome/Safari touch devices
        }

        .special-offer-container-bottom {
            padding: 0px 20px 0px 20px;
        }
        .qualifying-text,
        .offer-cta {
            margin-bottom: 20px;
        }

        &.toggle-expand {
            .special-offer-container-bottom {
                padding: 0px 20px 20px 20px;
            }
        }

        .no-touch & {
            &:hover {
                background-color: $redPinkMix;
            }
            &.toggle-expand {
                &:hover {
                    background-color: #fff;
                }
            }
        }

        .touch & {
            &:active {
                background-color: $redPinkMix;
            }
            &.toggle-expand {
                &:active {
                    background-color: #fff;
                }
            }
        }
    }
}


/*
 * Promotions Box View - Small
*/
@mixin promotions-box-view-s() {
    .special-offers-list {
        li {
            width: 100%;
            float: left;
            &.odd {
                width: 100%;
            }
        }
    }
}
