@import "../breakpoints";
@include breakpoint(mobile);
@import "basket-attach-mixins";

#delivery-options {
	@include splitTable;
}

#basket-attach {
	& > div {
		padding: 8px;
	}
    .continue {
    	@include plainbutton;
    	margin: 10px 0;
    	font-size: 14px;
    }

	.basket-item {

			.basket-item-holder {
				padding-right: 0;
				margin-bottom: 10px;

				a {
					margin-bottom: 16px;
				}
				p {
					text-align: right;
					float: none;
					margin-bottom: 0;
					margin-top: 10px;
				}

			} 

		.available-product-options {
			padding-left: 8px;
			padding-right: 7px;
			margin-bottom: 0;

			h3.section-heading {
				margin: 8px 0 16px 0; 
			}

			input[type=submit] {
				margin-bottom: 8px;
				width: 100%;
				position: static;

			}
			label {
				padding-left: 30px;
				padding-right: 68px;
				position: relative;
				margin-bottom: 12px;

				.checkbox {
					top: 0;
				}

				span {
					position: absolute;
					top: 5px;
					right: 0;
					padding-right: 0;
				}
			}

		}

		.add-to-basket {
			display: block;
			text-align: center;
			margin-bottom: 8px;
		}

		& > p {
			font-size: 18px;
		}

	}

	.basket-summary {

		& > p {
			font-size: 14px;
			position: relative;
			a {
				display: inline-block;
				border-bottom: 1px solid #c7d3e1;
				padding: 5px 0;
			}
			span {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		& > a {
			display: block;
			text-align: center;
			margin: 0;
			float: none;
		}

		.standfirst {
			// font-size: 18px;
			padding-right: 6em;
			position: relative;
			span {
				// font-size: 18px;
				font-weight: bold;
			}
		}

		.notice {
			font-size: 14px;
		}

		.add-to-basket {
			margin: 0 0 8px;
		}

	}

}