@import "../breakpoints";
@include breakpoint(desktop);
@import "basket-attach-mixins";

#basket-attach {

	.basket-item {
		width: 462px;
		float: left;

		.available-product-options {

			label {
				padding-right: 120px;
			}
		}

		.add-to-basket {
			float: right;
		}
		
	}

	.basket-summary {
		width: 462px;
		float: right;
		@include basketLinkWithBorder;

		& > p {
			font-size: 1.2em;

			span {
				font-size: 1em;
			}
		}

		.notice {
			text-align: right;
			font-size: 1em;
		}

		.add-to-basket {
			margin: 0;
			width: auto;
		}

	}

}

#delivery-options {
	@include largeTable;
}