


@mixin splitTable{

	h1 {
		margin-bottom: 8px;
	}

	margin-top: 16px;

	.container {
		border-width: 2px 1px 0px 1px;
		border-style: solid;
		border-color: $darkGrey #d9d7d7 #d9d7d7 #d9d7d7;
		@include box-shadow(0 2px 4px rgba(0,0,0,0.1));
	}

	.back {
		border-bottom: 1px solid #d9d7d7;
		border-top: 1px solid #d9d7d7;
		&:first-child {
			border-top: none;
		}
	}

	.table {
		position: relative;
		.other-products, .books {
			float: none;
			width: 100%;
			td, th {
				width: 50%;
			}
		}
		
		.books {
			margin-bottom: 20px;
		}

		th {
			background: #f5f6f9;
			//position: relative;

			&:nth-child(2){
				overflow: hidden;
				text-indent: -9999px;
				&:after {
					position: absolute;
					left: 50%;
					padding-left: 10px;
					content: attr(data-alt);
					text-indent: 0;
				}
			}
		}

		.other-products {

			tr td:first-child, tr th:first-child {
				display: table-cell;
			}
		}
	}
}

@mixin largeTable {
	h1, .back, h3 {
		display: none;
	}

	h2 {
		padding-left: 8px;
		font-size: 24px;
	}

	.container {
	}

	table {
		tbody tr:nth-child(odd) {
			background: #f5f6f9;
		}
	}
}

@mixin basketLinkWithBorder {
	a{
		@include linkWithBorder;
	}	
}
@mixin basket-input-disabled {
	@include box-shadow(none);	
	cursor: default;
	opacity: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none;
}