/*******************************************
*	Mobile microsite nav module
*******************************************/

@import "../breakpoints";
@include breakpoint(mobile);
@import "microsite-nav-mixins";

#microsite-nav {
	padding: 0 0 8px;
	.wrapper {
		.menu ul li {
		  width: 100%;
		  float: none;
		  a,
		  a span {
   			height: auto;
			}
		}
	}
}

.my-account {
	#microsite-nav.yourAcc {
        display:block;
		.menu {
			float: none;
            width: 100%;
            clear:both;
            ul {
            	width: 100%;
            	li {
            		width: 100%;
            		span.hint {
            			padding-bottom: 6px;
            		}
            	}
            }
            h2 {
                cursor:pointer;
                padding:10px;
                width:99%;
            }
            a {
                padding-left: 10px;
            }
		}
	}
    #secondary-content {
	    padding: 0 8px;
    }
}