@import "../variables";
@import "microsite-nav-mixins";

/*******************************************
*	DEFAULT STYLES
*******************************************/

// #todo: this background is here for test purpose only, remove for production
#microsite-nav {
	position: relative;
	width: 100%;
	padding: 0 8px 8px;
	@include noselsct;
	.tap-area {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 100;
	}
	.anchor {
		clear: both;
		display: block;
		position: relative;
		height: 50px;
		padding-bottom: 12px;
		.wrapper {
			position: absolute;
			right: 0;
			margin: 0;
			padding: 0;
			width: auto;
			height: auto;
			border-bottom: 1px solid #c6d0da;
			span {
				font-family: "Helvetica Neue", arial;
				font-size: 14px;
				color: #01539d;

				&.icon {
					margin: 0 5px 0 5px;
					font-family: 'Tesco Icons';
					font-size: 12px;
					line-height: 23px;
				}
			}
			&:hover {
				border-bottom: 1px solid #01539d;
				cursor: pointer;
			}
		}
	}
	& > .wrapper {
		position: relative;
		overflow: hidden;
		margin: 0;
	}
	.menu {
		h2 {
		  @include menu-header;
			height: auto;
			padding: 11px 0 11px 8px;
			font-weight: normal;
			font-size: 18px;
			color: $xDarkPutty;
		}
		ul {
		  @include menu-styles;
		}
	}
}

.my-account {
	#microsite-nav {
		.menu {
			float: left;
			width: 100%;
            margin-bottom:8px;
			ul {
				li {
					width: 100%;
					float: none;
				}
			}
		}
		&.yourAcc {
			.menu {
				border-bottom: 1px solid #f3f1ed;
				background-color: #fff;
				margin-bottom: 0px;
				h1 {
					margin: 0px;
					padding: 11px 0 11px 8px;
					font-size: 22px;
					color: $positiveGreen;
				}
				h2 {
					width: 300px;
	  				float: left;
				}
				ul {
					width: 65%;
					border-top: none;
					display: inline-block;
					padding: 4px 0px 12px 0px;
					li {
						width: 50%;
	  					float: left;
	  					border-bottom: none;
	  					padding-right: 10px;
	  					span.hint {
							font-size: 1.4em;
							padding-left: 10px;
							display: block;
						}
					}
				}
			}
		}
	}
}
