@import "../../variables";
@import "../pdp-configurator-mixins";

.pdp-configurator {

    .has-case .add-to-basket-container {
        width: 50.847457627119%; /* 600/1180 */
    }

    .add-to-basket-container {
        @include transition(all 0.75s ease);
        display: inline-block;
        height: 540px;
        position: relative;
        border: none;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 76.6901542563%;
        background : url($ajaxLoaderSrc) no-repeat #F3F1ED center center;

        > .ssb_block {
            position: static !important;
        }

        .loader,
        .loader-both {
            z-index: 1;
            background-color: #F3F1ED;
        }
        
        header {
            position: relative;
            z-index: 10;
            padding: 25px 3.333333333333%; /* 20/600 */

            .header-mask {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #222;

                @include opacity(0.5);
            }

            h2 {
                font-family: "Hudl";
                font-weight: bold;
                font-size: 18px;
                color: #fff;
                margin: 0px;
                position: relative;
                z-index: 2;

                span {
                    clear: both;
                    display: inline-block;
                    width: 100%;

                    &.release-date {
                        font-weight: normal;
                    }
                }
            }
        }

        .image-container {
            @include fadeInAnimation();
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 0;
            border: none;
            box-shadow: none;
            height: 100%;
            width: 100%;
            overflow: hidden;
            background-position: top right;
            background-color: #F3F1ED;

            img {
                width: 100%;
                height: 100%;
                min-width: auto;
                float: right;
            }

        }

        .product-description {
            border: none;
            box-shadow: none;
            z-index: 10;
            background-color: rgba(255, 255, 255, 0.9);
            position: absolute;
            bottom: 0px;
            height: 110px;
            width: 100%;
            padding: 12px 3.333333333333%; /* 20/600 */

            & > span {
                font-family: "Roboto";
                font-size: 14px;
                font-weight: normal;
                color: #645946;
                float: left;
                margin: 0px;
                clear: both;

                &.price {
                    font-family: "Hudl";
                    font-size: 30px;
                    font-weight: bold;
                    color: #645946;
                    margin-top: 3px;
                }

                &.points {
                    color: #a69f88;
                    clear: right;
                    margin : 16px 0px 0px 5px;
                }

                &.highlight {
                    color: #ee1c2e;
                }
            }

            .add-to-basket {
                font-family: "Hudl";
                font-weight: bold;
                font-size: 18px;
                width: 26.666666666667%; /* 160/600 */
                position: absolute;
                right: 3.333333333333%;
                top: 20px;
                padding: 15px 3%;
                border-radius: 10px;

                &.out-of-stock {
                    background-color: #7c7660;
                }

                &.loading {
                    background: url('/assets/img/ajax-loader.gif') white no-repeat center center;
                    text-indent: -999em;
                    cursor: default;
                }
            }
        }
        
        .product-description, header {
            @include transition(all 0.75s ease);
            opacity: 1;
            visibility: visible;
        }

        &.closed {
            @include transition(all 0.75s ease);
            width: 24.576271186441%; /* 290/1180 */

            .product-description, header {
                opacity : 0;
                visibility: hidden;
            }

            section {
                &.image-container {
                    img {
                        min-width: 400px;
                    }
                }

            }

        }
        &.expanded {
            width: 75.423728813559%; /* 890/1180*/
        }

        img {
            max-width: 100%;
        }

        button {
            font-size: 1.2em;
            color: #fff;
            background: #fe532d;
            cursor: pointer;
            padding: 5px 10px;
            margin: 10px 0px;
            width: 60%;
            display: inline-block;
            text-align: center;
            border: none;

            &.round {
                font-family: "Hudl";
                font-weight: normal;
                color: #fff;
                background-color: #000;
                font-size: 16px;
                border-radius: 100%;
                width: 70px;
                height: 70px;
                text-align: center;

                &.update-tablet {
                    position: absolute;
                    top: -90px;
                    left: 10px;
                }

                &.add-a-case {
                    position: absolute;
                    top: -90px;
                    left: 90px;
                    background-color: #000;

                    &.inverted {
                        color: #000;
                        border: 1px solid #000;
                        background-color: #fff;
                    }
                }

                .heavy {
                    font-size: 25px;
                    line-height: 18px;
                    font-weight: bold;
                }
            }
        }

        .update-tablet {
            display: none;
        }

        .add-a-case {
            display: none;
        }
    }
}
