@import 'store-stock-check-mixins';

.store-stock-check-view {
  margin-bottom: 20px;

  .nearest-store-stock-status {
    &.in-stock {
      @include stockStatusIcon('5', $iconGreen);
    }
    &.low-in-stock {
      @include stockStatusIcon('5', $iconLightOrange);
    }
    &.out-of-stock {
      @include stockStatusIcon('y', $iconRed);
    }
  }
  .nearest-store-name,
  .nearest-store-lookup {
    text-transform: uppercase;
  }

  .change-store-link {
    @include withIcon('d', before);
    display: block;
  }

  .online-exclusive-title {
    @include withIcon('i', before);
  }
  .online-exclusive-text {
    margin-left: 22px;
  }
}

.store-stock-check-view,
.store-stock-check-overlay {
  .stock-check-form {
    .stock-check-label {
      display: block;
      margin-bottom: 4px;
      font-weight: bold;
     }
    .postcode {
      width: 60%;
    }
    .button-wrapper {
      margin-left: 60%;
      padding-left: 15px;
    }
  }

  .current-location-link {
    display: inline-block;
    margin-top: 8px;
  }
}

.store-stock-check-overlay {
  .stock-check-form {
    margin-bottom: 1em;
    .postcode {
      width: 70%;
    }
    .button-wrapper {
      margin-left: 70%;
    }
  }

  .current-location-link {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1em;
  }

  .in-stock-filter-checkbox-wrapper {
    margin-bottom: 0;
    label {
      position: relative;
    }
  }

  .stores-list-wrapper {
    max-height: 326px;
    overflow-y: hidden;
    overflow-x: hidden;
    @include customScrollBar(8px, $paleGrey, transparent, 5px);
    margin-bottom: 1em;
    position: relative;
    ul {
      border-bottom: 1px solid $border;
      padding-right: 8px;
    }

    &.all-stores {
      max-height: 391px;
      overflow-y: auto;
    }
  }

  .stores-list-item {
    clear: both;
    border-top: 1px solid $border;
    padding-bottom: 10px;
    padding-top: 10px;

    .store-detail-link {
      display: block;
      width: 100%;
      color: $textColor;
      .store-index {
        border: 1px solid $border;
        border-radius: 12px;
        display: inline-block;
        float: left;
        height: 22px;
        margin-right: 8px;
        margin-top: 13px;
        text-align: center;
        width: 22px;
        background-color: inherit;
        border-color: $textColor;
        color: $textColor;
      }
      .store-name {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
      }
      .stock-status {
        float: right;
        font-weight: bold;
        margin-right: 20px;
        margin-top: 10px;
      }
      .store-distance {
        display: block;
        padding-left: 30px;
      }
      &:hover {
        text-decoration: none;
        .store-index {
          color: $brightBlue;
          background-color: $paleBlue;
          border-color: $brightBlue;
        }
      }
    }

    &.in-stock {
      .stock-status {
        @include stockStatusIcon('5', $iconGreen);
      }
    }
    &.low-in-stock {
      .stock-status {
        @include stockStatusIcon('5', $iconLightOrange);
      }
    }
    &.out-of-stock {
      .stock-status {
        @include stockStatusIcon('y', $iconRed);
      }
    }
    &.is-selected {
      .store-detail-link {
        .store-name,
        .store-distance {
          color: $headingColor;
        }
        .store-index {
          background-color: $brightBlue;
          border-color: $brightBlue;
          color: #fff;
        }
      }
    }
  }

  .check-more-stores-link {
    margin-bottom: 16px;
  }

  #stockMapDetails {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }

  #mapContainer {
    height: 100%;
    width: 100%;
  }

  .MicrosoftMap {
    .Infobox {
      .infobox-info {
        font-family: $tescoFont;
        font-size: 12px;
        color: $textColor;
        line-height: 18px;
        text-transform: uppercase;
        word-wrap: break-word;
      }
      .infobox-stalk {
        top: 74px !important;
      }
    }
  }

  .store-address-collection-times {
    h5 {
      font-weight: bold;
    }
    address {
      font-style: normal;
      span {
        display: block;
      }
    }
  }

  .store-collection-times {
    width: 100%;
    td {
      padding: 0 4px;
      &.day {
        width: 50%;
        padding-left: 0;
      }
    }
  }

  .selected-store-details-wrapper {
    .tableIndex {
      background-color: $brightBlue;
      border: 1px solid #fff;
      border-radius: 12px;
      color: #fff;
      display: inline-block;
      font-size: 12px;
      height: 22px;
      margin-right: 5px;
      margin-top: 7px;
      text-align: center;
      width: 22px;
    }
    .store-detail-name {
      text-transform: uppercase;
    }
    .store-detail-distance {
      display: block;
    }
  }
}

.store-stock-check-plp {
  height: 20px;
}
