/*******************************************
*	Page title module
*******************************************/

@import "../variables";
@import "buy-block-mixins";


/*******************************************
*	DEFAULT STYLES
*******************************************/

$onecol: 8px;

.buy-box-holder {
	padding: $onecol;
	.current-price {
		margin: 0;
		font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
		font-weight: bold;
		font-size: 3.2em;
		line-height: 1em;
		.pence {
			font-size: 0.75em;
		}
	}

	.stock-tag {
		background: #ededed;
		padding: 2px 6px;
		font-size: 1.2em;
		float: right;

		&.low-stock {
			border: 1px solid #f26322;
			color: #f26322;
		}

		&.in-stock {
			border: 1px solid #05ae20;
			color: #05ae20;
		}
		&.no-stock {
			border: 1px solid #ee1c2e;
			color: #ee1c2e;
		}
	}

	.buy-box {
		@include box-shadow(0 0 6px rgba(0,0,0,0.2));
		margin-bottom: $onecol;

		h2 {
			margin: 0;
			font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
			font-size: 1.8em;
		}

		.seller-choice {
			padding: $onecol;
			@include inverseLightGreyGradient;
			border: 1px solid $primaryBorderColor;
		}

		.buy-box-main {
			border-style: solid;
			border-width: 1px;
			border-color: #fff $primaryBorderColor $primaryBorderColor $primaryBorderColor;
			background: #f3f3f3;
			padding: $onecol;
		}

		.pricing {

			.stock-tag {
				margin-top: 0.5em;
			}
			
			.old-price {
				font-size: 1.4em;
				li {
					display: inline;
					text-decoration: line-through;
					color: $secondaryTextColor;
					&.save {
						text-decoration: none;
						color: $tescoRed;
					}
				}
			}
		}

		.add-to-basket {
			margin-top: $onecol;
			.button {
				width: 100%;
				padding: 16px 0;
				border-color: #f26322;
				color: #fff;
				@include orangeGradient;
		        &:hover,
		        &:active {
		            @include gradient(#ff6d00, #ff8500);
		        }
			}
		}

		.add-to-wishlist {
			margin-top: $onecol*0.5;
			
			.button {
				width: 100%;
				padding: 16px 0;
				@include inverseLightGreyGradient;
			}
		}

		.options-offers {
			h3 {
				margin-top: $onecol;
				margin-bottom: 0;
				font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
				font-weight: normal;
				font-size: 1.8em;
			}
			ul {
				li {
					font-size: 1.4em;
					line-height: 1;
					padding-top: 6px;
					list-style: disc;
					list-style-position: inside;
				}
			}
		}
	}

	.other-sellers {

		.seller {

			p {
				margin: 6px 0 0;
			}

			background: #fff;
			border-width: 1px 1px 0 1px;
			border-style: solid;
			border-color: $lightGrey;
			padding: $onecol * 0.5;
			position: relative;

			&.last {
				border-width: 1px;
			}

			.stock-tag {
				background: #fff;
				position: absolute;
				top: -1px;
				right: -1px;
			}

			.seller-name {
				font-size: 1.4em;
			}

			.current-price {
				font-size: 2em;

				.pence {
					font-size: 1em;
				}
			}
		}
	}
}