// large desktop

@import "full-width-carousel-mixins";

.carousel-fullwidth {
  margin: 0 auto;
  position: relative;
  width: 1200px;

  &.cfw-old-carousel-styles {
    @include old-carousel-styles-ll;
  }

  .cfw-header {
    width: 100%;
    margin: 0 auto 30px auto;
    position: static;

    .product-carousel-nav {
      left: -5%;
      position: absolute;
      top: 193px;
      width: 110%;

      &.narrowerNavigationButtons {
        left: -0.5%;
        width: 101%;
      }

      > li {
        height: 40px;

        > a {
          z-index:2;
          .icon {

            &:after {
              font-size: 40px;
              line-height: 40px;
              left: -7px;
            }
          }
        }
      }
    }
  }
}

#linksave-carousel-placeholder {
  .cfw-title {
    width: 85%;
  }
}
