@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "google-ads-mixins";
.google-ads-block {
    margin-top: 0;
    padding-top:0px;
    
    &.gpt-ad-direct-S,
    &.gpt-ad-direct-M,
    &.gpt-ad-direct-L {
    	display: none;
    }    
}