/*******************************************
* Desktop	visual nav module
*******************************************/

@import "../breakpoints";
@include breakpoint(desktop);
@import "visual-nav-mixins";

#visual-nav, .visual-nav {
	padding: 0 $onecol;
	ul {
	  li {
			margin-bottom: 16px;
			a {
  			width: 28 * $onecol;
	  		height: 176px;
	  		line-height: 16px;
  			&.stamp-no-title {
                height: 134px;
            }
  		}
  		.stamp-title-above span {
            height: 42px;
        }
		.wrapper-img {
			height: auto;
			img {
				margin-top: 0;
			}
		}
		}
  }
}