$color-bg: #eaeaea;
$color-list-item-background: white;
$color-list-item-background-hover: #f7f9ff;
$color-list-item-border: #bfbdbd;
$color-list-item-text: #01539d;
$color-footer-bg: #135d9f;
$color-footer-text: white;