<script type="text/template" id="paymentLayout">
	<div class="payment">
		<div class="instructions"><h1><%= paymentInstructionsMessage %></h1></div>
    	<div class="paymentMessage">
		    <div class="mainGraphic"></div>
		    <div class="paymentCardsMessage">
	  	  		<p><%= paymentCardsMessage %></p>
			<div class="paymentCards"></div>
			<div class="instructionHighlight"><span>Visual instruction</span></div>
    	</div>
	</div>

	<form id="paymentForm" formid="paymentForm" method="post" action="<%= paymentFormAction %>">
		<input type="hidden" name="paymentTransactionId" id="paymentTransactionId" value="0800SELVA1" />
		<input type="hidden" name="paymentSuccess" value="false" id="paymentSuccess" />
		<input type="hidden" name="atgSpecificHiddenField2" value="x" />
		<input type="hidden" name="atgSpecificHiddenField3" value="x" />
		<input type="hidden" name="atgSpecificHiddenField4" value="x" />
		<input type="hidden" name="atgSpecificHiddenField5" value="x" />
	</form>
</script>