@import "variables";

@mixin breakpoint($point) {

	@if $point == mobile {
  	/** Mobile **/
		$onecol: 2.5% !global;
		@media screen and (max-width: 599px) { @content; }
	}

	@else if $point == allTablet {
    /** All Tablets **/
		$onecol: 1.25% !global;
		@media screen and (min-width: 600px) and (max-width: 1023px) { @content; }
	}

	@else if $point == vTablet {
  	/** Vertical Tablet **/
		@media screen and (min-width: 600px) and (max-width: 767px) { @content; }
	}

	@else if $point == hTablet {
  	/** Horizontal Tablet **/
		@media screen and (min-width: 768px) and (max-width: 959px) { @content; }
	}

	@else if $point == allDesktop {
    /** All Desktops **/
    	$onecol: 8px !global;
		@media screen and (min-width: 960px) and (max-width: 1919px) { @content; }
	}

	@else if $point == desktop {
    /** Desktop **/
		$viewPortWidth: 960px !global;
		$colCount: 120 !global;
		$onecol: $viewPortWidth / $colCount !global;
		@media screen and (min-width: 960px) and (max-width: 1199px) { @content; }
  
	}

	@else if $point == largeDesktop {
    /** Large Desktop **/
		$viewPortWidth: 1200px !global;
		$colCount: 150 !global;
		$onecol: $viewPortWidth / $colCount  !global;
	  @media screen and (min-width: 1200px) { @content; }
	}

	@else if $point == kiosk {
  	/** Kiosk **/
		$viewPortWidth: 1808px !global;
		$colCount: 113 !global;
		$onecol: $viewPortWidth / $colCount !global;
	  @media screen and (min-width: 1790px)  { @content; }
	}

}