// 2015 Tesco brand refresh colours
// -------------------------

// base colours
$darkGrey:              #333;
$grey:                  #666;
$lightGrey:             #ccc;
$naturalWhite:          #f8f7f5;
$white:                 #fff;
$brightBlue:            #008DC8;
$red:                   #ee1c2e;
$tescoRed:              $red;
$blue:                  #00539f;
$tescoBlue:             $blue;
$sumacRed:              #dd4a3e;
$specialRed:            #fe532d;
$errorRed:              #cc3333;
$promoMaroon:           #a22137;
$disabledGrey:          #f6f6f6;
$green:                 #44b96d;
$yellow:                #edb648;
$midBlue:               #3375b2;
$beige:                 #f2eae0;
$paleGrey:              #ccc;
$darkGreen:             #31854e;

// tints
$paleBlue:              #e8f5fb;
$paleGreen:             #edf8f0;
$paleYellow:            #fdf8ec;
$paleRed:               #FDE8EA;

// text
$pageTitle:             $darkGrey;
$bodyCopy:              $grey;

// links
$linkHover:             $brightBlue;

// borders
$border:                $paleGrey;
$confirmBdr:            $green;
$alertBdr:              $yellow;
$errorBdr:              $sumacRed;
$activeBdr:             $midBlue;

// backgrounds
$background:            $white;
$lightBg:               $naturalWhite;
$pageBg:                $lightBg;
$hintBg:                $paleBlue;
$confirmBg:             $paleGreen;
$alertBg:               $paleYellow;
$errorBg:               $paleRed;
$darkBg:                $grey;

// other
$primaryCTA:            $brightBlue;
$savings:               $red;
$offers:                $red;
$inactive:              $paleGrey;
$positiveConfirm:       $darkGreen;

// price
$wasPrice:              #787984;

// tooltips
$tipBkg:                $naturalWhite;
$tipBdr:                $lightGrey;
$tipErrorBkg:           $paleRed;
$tipErrorBdr:           $red;
$tipErrorTxt:           $red;

// -------------------------
