//buying-guides module - large desktop
@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "buying-guides-mixins";

@include buying-guides-desktop;

$max-content-width: 704px;

.buying-guides {
	#main-content {
		width: 872px;
		.content-block {
			@include annotation-list-columns(3);
			.content-block-inner {
				p {
					max-width: $max-content-width - $onecol; // compensate for the left margin
				}
			}
			.topic-content {
				.topic-content-inner {
					max-width: $max-content-width - $onecol; // compensate for the left margin
				}
				.topic-image {
					max-width: $max-content-width;
				}
				// override class as some content will need the full width (see annotations module)
				.full-width {
					max-width: 100% !important; // can be applied to the '.topic-content-inner' container or a child element as some elements will need to breakout
				}
				.video-container {
					max-width: 410px;
				}

				// set via javascript
				&.topic-content-with-block-quote {
					position: relative;
					.topic-content-inner {
						width: 542px;
					}
					blockquote {
						position: absolute;
						right: 0;
						width: 280px;
						margin-top: 0;
					}
				}

				// set via javascript -- see mixin 'buying-guides-desktop' for core rules
				&.topic-content-with-video,
				&.topic-content-with-small-image {
					.topic-content-inner {
						width: 412px;
					}
					.video-container,
					.topic-image-small {
						width: 410px;
					}
				}
			}
		}
	}
	#secondary-content {
		width: 295px;
	}
}
