//buying-guides module - tablet
@import "../breakpoints";
@include breakpoint(allTablet);
@import "buying-guides-mixins";

@include buying-guides-touch;

.buying-guides {
	#main-content,
	#secondary-content {
		width: auto;
		margin-right: 1.25%;
		margin-left: 1.25%;
	}
	#main-content {
		.content-block {
			@include annotation-list-columns(2);
			.topic-content {
				.topic-image {
					max-width: 688px;
					&.topic-image-small {
						max-width: 360px;
					}
				}
				// override class as some content will need the full width (see annotations module)
				.full-width {
					max-width: 100% !important; // can be applied to the '.topic-content-inner' container or a child element as some elements will need to breakout
				}
			}
		}
	}
}