//buying-guides module - mobile
@import "../breakpoints";
@include breakpoint(mobile);
@import "buying-guides-mixins";

@include buying-guides-touch;

.buying-guides {
	#main-content,
	#secondary-content {
		margin-right: $onecol / 2;
		margin-left: $onecol / 2;
	}
	#main-content {
		.content-block {
			@include annotation-list-columns(1);
			.topic-list {
				position: relative;
				margin-bottom: 0;
				.select-topic {
					display: block;
					font-size: 1em;
					a {
						@include border-radius(3px);
						margin: 0;
						padding: $onecol / 2;
						text-align: left;
						&:before {
							float: right;
						}
					}
				}
				&.open {
					.select-topic {
						a {
							@include darkBlueGradient;
							border-color: #014b8f;
							color: #fff;
							text-decoration: none;
						}
					}
					ul {
						display: block;
					}
				}
				ul {
					@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
					position: absolute;
					top: 38px;
					width: 100%;
					height: auto;
					display: none;
					overflow: visible;
					border: 1px solid #BFBDBD;
					background-color: #fff;
					z-index: 15;
					li {
						float: none;
					    width: 100%;
					    a {
						    padding-right: $onecol / 2;
						    padding-left: $onecol / 2;
					    }
					    &:nth-child(odd) a,
						&:nth-child(even) a {
							margin: 0;
						}
					    &:nth-child(2) a {
					    	border-top: 1px solid #BFBDBD;
					    }
					}
				}
			}
		}
	}
}