/*******************************************
*	Large Desktop Product Tile module
*******************************************/

@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "product-listing-mixins";

#listing {
    .view-more-link {
        display: block;
        @include darkBlueGradient;
        color: #fff;
        @include border-radius(3px);
        border-color: #014b8f;
        padding: 10px;
        display: inline-block;
        float: right;
        margin: 8px;
        width: 130px;
        text-align: center;
        .load-more{
            color: #fff;
            > span{
                font-size: 11px;
            }
        }
    }
    &.imagePreset-portrait {
        .product-tile {
            .thumbnail {
                height: 358px;
            }
        }
    }
    .products {

        width: 946px;

        .product-tile {
            width: 189px;
            padding: 0;
            -webkit-backface-visibility: visible;
        }

        .feature-tile {
            width: 189px;

            &.style-2 {
                width:378px;
            }

            &.style-3 {
                width:567px;
            }

            &.style-4 {
                width:756px;
            }

            &.style-5 {
                width:945px;
            }
            .feature-content {
                height:400px;

                & > a img{
                    width: 100%;
                    height: auto;
                }
            }
        }

        .load-more-tile {
            margin-top:-1px;
            color: #fff;
            border-style: solid;
            border-width: 1px 1px 1px 0;
            border-color: $primaryBorderColor;
            padding: 15px 10px;
            display: inline-block;
            font-size: 14px;
            background: #fff;
            width: 945px;
            cursor: pointer;
            .product, .product-load-more {
                border-style: none;
                @include box-shadow(none);
                margin-left: 40%;
                width: 20%;
            }
            .product {
                background: $putty;
                padding: 8px 10px 12px 6px;
            }
            a {
                color: #fff;
            }
            span {
                font-size: 14px;
                font-weight: bold;
                &.icon {
                    top: 3px;
                    font-size: 21px;
                }
                &.text {

                }
            }
            .icon {
                font-size: 18px;
                position: relative;
                top: 2px;
            }
            &.loading {
                img {
                    width: 30px;
                }
                .spinner {
                    display: inline;
                }
                span {
                    display: none;
                }
            }
        }
        .loadingBar {
            @include loadingBar;
            width: 945px;
        }
    }
    .products-wrapper {
        padding: 0 7px;
    }

    .products > li {

        /*
        .product {
        height: 500px;
    }
        */

        .title-author-format {
            a
            {
                line-height: 20px;
            }
        }




    }

    .products li.load-more-tile .product, .products li.load-more-tile .product-load-more{
        border-left: none;
        height: auto !important;
    }

    .product {
        width: auto;
        img {
            width: 100%;
            height: auto;
        }
        .blinkbox-ping {
            position: absolute;
            bottom: 0;
        }
        .oosImageHolder p.oosText{
            width: 187px;
        }
        .image-container{
        	height:auto;
        }
    }

    .offer {
        bottom: auto;
        left: -2px;
    }

    .mobile {
        display: block;
        a{
            color: #000;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }

    .add-to-compare, .add-to-compare-placeholder {
        display: block;
        margin-top: 16px;
    }
    .stock-alert::-moz-focus-inner,
    .add-to-basket::-moz-focus-inner {
        border:0;
        padding:0;
    }
    .stock-alert,
    .add-to-basket {
        display: inline-block;
        height: 45px;
    }
}

.list-view#listing {
    @include list-view-ll-l-m-s;
    @include list-view-ll-l;
    @include list-view-ll-l-m(78%);
    @include list-view-ll-l-hTablet(2.6em, 60%, 40%, 250px);

    .add-to-compare {
        margin-left: 60px;
    }
}

@include light-box-offer-centered-view-ll-l-m;


/* 5 col grid swatches */
#listing {
  @include plp-swatches-base-styles;
  .details-container {
    .colour-swatch-container {
      .swatches {
        width: 130px;
      }
    }
  }
}

/* 3 col grid swtaches */
.grid-33321#listing {
  @include grid-33321-ll-l;
  @include grid-33321-ll-l-hTablet;
  @include grid-33321-ll-l-m-s;
  @include plp-swatches-base-styles;
  @include plp-swatches-large-styles;
}

#compare-dialog {
    left: 0px;
    width: 946px;

    &.fixed {
        left: auto;
        overflow: visible;
        margin-left: 0px;
    }
}

#clear-all {
    margin-left: 8px;
}

.sponsored-link-block {
    @include boxAndShadow;
    float: left;
}

.link-block {
    margin-bottom: 16px;
    &:after {
        @include clear-fix;
    }
    > .sponsored-link-block {
        @include boxAndShadow;
        clear: both;
        padding: 14px 4px 8px 4px;
        clear: right;
        float: right;
        width: 940px;
        margin-top: 8px;
        margin-right: 10px;
        float: right;
    }
    .group {
        width: 208px;
        clear: left;
        float: left;

        .google-ads-block {
            width:232px;
            margin: 0;
        }
    }
}

.ie8 #listing .colour-swatch.open {
    padding: 3px 3px 0 3px;
}

.touch .listing  .link-block .group  {
    clear: left;
}

#main-content {
    .product-load-prev {
        color: #fff;
        border-top: 1px #bfbdbd solid;
        border-left: 1px #bfbdbd solid;
        border-right: 1px #bfbdbd solid;
        padding: 15px 10px;
        display: none;
        font-size: 14px;
        background: #fff;
        width: 946px;
        margin-left: 7px;
        .view-more-container {
            width: 23%;
            margin-left: 38%;
        }
        a {
            color: #fff;
        }
        &:hover {
            text-decoration: none;
        }
        span {
            font-size: 14px;
            font-weight: bold;
            &.icon {
                top: 3px;
                font-size: 21px;
            }
        }
        .icon {
            font-size: 18px;
            position: relative;
            top: 2px;
        }
        &.loading {
            img {
                width: 30px;
            }
            .spinner {
                display: inline;
            }
            span {
                display: none;
            }
        }
    }
}

.category {
    .static-mtop-banner {
        .cms-image {
            min-height: 345px;
        }
    }
}
