/*******************************************
*  Product Tile module
*******************************************/

@import "../variables";
@import "product-listing-mixins";
@import "../streamline-basket/streamline-basket-all";
@import 'product-listing-overrides';

$product-tile-font-size-small  : 12px;
$product-tile-font-size-medium : 14px;
$product-tile-font-size-large  : 22px;

// Fixes the tile height for PLPs

#listing {
    &.hideProducts {
        display: none;
    }

    .products {
        background-color: white;
    }

    .colour-swatch-container {
        display: none;
    }

    .title-author-format {
        height: 63px;
        margin-bottom: 6px;
        overflow: hidden;

        h3 {
            height: 63px;

            &.media {
                height: 40px;
            }
        }

        a {
            display: block;

            &.line-clamped {
                display: inline;

                &:after {
                    content: '...'
                }
            }
        }
    }

    .format-release {
        display: none;
    }

    .author {
        display: none;
    }

    .media {
        .format-release {
            display: block;
            margin-bottom: 0;
            margin-top: 6px;
        }

        .author {
            display: block;
            margin-bottom: 0;
            margin-top: 6px;
        }
    }

    .former-prices-container {
        display: block;
        height: 28px;
        margin-bottom: 8px;
    }

    .buy-block {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .unavailable-special-offer {
        height: 22px;
        line-height: 4px;
    }

    .button-container {
        height: 45px;
    }

    .add-to-compare-placeholder {
        height: 24px;
    }

    &.grid-33321 {
        .colour-swatch-container {
            display: block;
            height: 35px;
            margin-bottom: 8px;
        }

        .unavailable-special-offer {
            display: block;
        }

        .add-to-compare-placeholder {
            display: none;
        }
    }
}

.books-page-template {
    .add-to-compare-placeholder {
        display: none;
    }
}

// Overrides end

#listing {

  &.IBBookmark .products > li {
    display: none;
  }

  &.IBBookmark .products > li.loadingBar {
    display: block;
  }


  .spinner {
    display: none;
  }

    @include newIcon;

    #notificationContainer.sort-by-variant {
    top: -200px;
    padding-top: 200px;
    .notification {
      padding: 0;
    }
  }

  p {
    font-size: $product-tile-font-size-medium;
        color: $primaryTextColor;
        margin: 0 0 8px 0;
        clear: both;
    }

    &.portrait {
        .product-tile {
            .thumbnail {
                height: auto;
            }
        }
    }

    .products {
        overflow: hidden;
        padding-bottom: 0;
        border-style: solid;
        border-width: 1px 0 0 1px;
        border-color: $primaryBorderColor;
        font-size: 0;

        .product-tile {
            display:inline-block;
            float:none;
            vertical-align:top;
        }


        .detail-specification-bullet {
             font-size: $product-tile-font-size-small;
             margin-bottom: 8px;

          >ul{
            margin-right:8px;
            >li{
                 list-style-type: disc;
                 line-height: 20px;
                 padding-bottom: 3px;
                 max-height: 43px;
            list-style-position: outside;
            margin-left:16px;
            }
            }
         }
        .feature-tile {

            &.align-right {
                float:right;
            }

            .feature-content {
                overflow: hidden;
                background:#fff;
                border-style: solid;
                border-width: 0 1px 1px 0;
                border-color: $primaryBorderColor;
                > a {
                  div img{
                    height: 515px;
                  }
                }
            }
        }

      > li {
           margin: 0;
        &.colour-swatch-open {
            z-index: 7000;
            position: relative;
        }
      }
    .thumbnail {
      @include bcveIcon(auto, 8px, 8px, auto, 34px, 53px);
    }
        .retailer {
            font-weight: bold;
        }
    }

    .view-more-container {
        cursor: pointer;
        text-align: center;
        @include secondaryButton;
    }

    .load-more-tile {
        .product-load-more {
            .load-more {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .product {
        cursor: default;
        padding: 8px;
        overflow: hidden;
        border-width: 0 1px 1px 0;
        border-color: $primaryBorderColor;

    .title-author-format {
      h3,
      .author,
      .format-release {
        padding-left: 0;
            }

        }
    .oosImageHolder{
      position: relative;
      opacity: 0.5;
      img{
        opacity: 0.2;
      }
      p.oosText{
        position: absolute;
        top: 70px;
        text-align: center;
        padding-top: 5px;
        margin-left: -8px;
        z-index: 10;
        height: 30px;
        background: #5b95ca;
        opacity: 1;
        font-family: Tesco;
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
      }
    }

    .add-on-item {
      @include addOnItemStyles;
     }
    }

    p.former-prices {
            clear: left;
            color: #7c765f;
            margin-right: 1px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: $product-tile-font-size-small;
            line-height: $product-tile-font-size-medium;
            text-decoration: line-through;
    }

    .mobile-only {
        display: none;
    }
    .thumbnail {
        position: relative;
        left: 0;
        top: 0;
        width: 170px;
        height: 170px;
        margin: 0 auto;
        margin-bottom: 8px;
        margin-top: 8px;
    }

  .rating-container,
  .ratings,
  .buy-block,
    .former-prices,
    .saving,
    .price {
    margin-left: 8px;
    margin-right: 8px;
        line-height: 14px;
    }
  .price{
    line-height: 22px;
  }
    .format-release,
    .author,
  .rating-container,
  .ratings,
  .buy-block{
        font-size: $product-tile-font-size-small;
    }
    .rating-container{
        margin-right: 0px;
    }
    .author{
        color: $putty;
    }
    .saving {
        color: #EE1C2E;
        font-size: 12px;
        margin-bottom: 0;
    }

    .price {
        height: $product-tile-font-size-large;
        font-size: $product-tile-font-size-large;
    }
    .stock-alert,
  .add-to-basket{
        margin: 0 8px;
        width:90.1%;
    }
    .select-options{
        background: $tescoRed;
    }
  .select-options,
  .preorder,
  .stock-alert,
  .add-to-basket {
    font-size: $product-tile-font-size-medium;
  }

  .stock-alert,
  .add-to-basket {
    line-height: 1.3em;
    height: 45px;
  }

  .unavailable-special-offer {
    margin: 0 8px 12px;
    clear: both;
    .unavailable {
      font-size: $product-tile-font-size-small;
      height: 16px;
    }
    .additional-info {
      font-size: $product-tile-font-size-small;
    }
    .special-offer, .special-offer-kiosk{
      background: #ffffff;
      border: 1px solid #EE1C2E;
      padding: 8px;
      text-align: center;
      color: #EE1C2E !important;
      &:hover{
        text-decoration: none;
      }
    }
        .special-offer-kiosk{
            display: none;
        }
  }


    .add-to-compare-placeholder {
        display: none;
        font-size: 14px;
        line-height: 24px;
        min-height: 24px;
        margin: 0 8px 8px;
    }

    .add-to-compare {
        display: none;
        cursor: pointer;
        color: #01539D;
        font-size: $product-tile-font-size-medium;
        line-height: 24px;
        min-height: 24px;
        margin: 0 8px 8px;
        input {
          left: -9999em;
            position: absolute;
            opacity: 0;
        }

        div {
            display: inline-block;
            position: relative;
            float: left;
            margin-left: 0;
        }

        .icon {
            font-size: 1.5em;
            position: absolute;
            display: none;
        }

        .checked {

            .icon {
                display: block;
            }

        }

        .text {
            color: $darkPutty;
            vertical-align: super;
            padding-left: 10px;
            display: inline-block;
            float: left;
        }
    }

    .buy-from {

        .retailer {
            font-weight: bold;
        }
    }

    @include percentageIcon(-8px, -16px);

    .pagination {
        @include box;
        overflow: hidden;
        margin: 8px;
        border-top: 1px solid $primaryBorderColor;

        .icon {
            font-size: 1.5em;
        }

        .back {
            float: left;
            border-right: 1px solid $primaryBorderColor;
            padding: 8px;
        }

        .forward {
            float: right;
            border-left: 1px solid $primaryBorderColor;
            padding: 8px;
        }

        .pages {
            font-size: 14px;

            a {
                display: inline-block;
                padding: 8px;
            }
        }
    }

  a.load-more.hidden,
    .products .hidden,
  .products .load-more-tile.hidden {
    display: none;
  }

    .stock-alert {
        line-height: 1.3em;
    }

    .disabled + span,
    .disabled + a {
        color: #000;
        cursor: not-allowed;
    }

    .product-carousel-nav {
        display: none;
    }

    &.hideAddToBasket {
        .button-container {
            display: none;
        }
    }
}

#compare-dialog {
    border-width: 4px 1px 1px 1px;
    border-style: solid;
    border-color: $primaryBorderColor;
    font-size: 1.6em;
    background-color: #FFF;
    z-index: 1;
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 8px;
    overflow: hidden;
    display: block;

    &.fixed {
      @include fixed;
    }

    &.hidden {
      display: none;
    }

    .compare-cta {
        width: auto;
        float: left;
        font-size: 14px;
        margin-left: 8px;
        padding: 8px 16px;

        &.disabled {
            background: #f1f1f1;
            border-color: $primaryBorderColor;
        }
    }

    p {
        float: left;
        padding-top: 8px;
        font-size: 16px;
        margin-top: 0;
        font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
        font-size: 18px;
    }

    .no-of-items {
        font-weight: bold;
    }

    .close {
        margin-top: 11px;
        font-size: 0.8em;
        cursor: pointer;
        float: right;
        color: $putty;
    }

}

#clear-all {
    width: auto;
    float: left;
    font-size: 14px;
    padding: 8px 16px;
}

#product-filter-actions .compare {
    display: none;
}

.js {
  #listing .pagination {
    display: none;
  }
}

.sponsored-link-block {
    @include boxAndShadow;
    width: 940px;
    margin: 8px 10px 16px;
}
#listing .products .product>a>div.product-ping{
    left:5px;
    top:5px;
  > img{
    height:auto;
    width:50px;
  }
}

/* Start - Mobile device scrolling speed - Needed to place outside of all other nesting as we do not have anything specific for .touch class */
.touch #listing {
  *:focus {
    outline: none;
  }
}

/* End - Mobile device scrolling speed */
#overlay{
  z-index: 701;
}
#lightbox{
  z-index: 703;
    #tempLoader {
        height: auto;
        top:40px;
        position: absolute;
        .loader-overlay{
        height: auto;
        }
    }
}


#lightbox.light-box-offer{
    min-height: 400px;
  z-index: 703;
    border: 0;
  .close{
     top: 8px;
     right:8px;
     background: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      z-index: 704;
    .icon{
    color:$xDarkPutty;
    }
    }
}

#offersList {


.sprite1 {
  background: url('../images/offers-sprite.png') no-repeat 0 0;
    display: block;
    float: left;
     width: 45px;
  height: 45px;
}

.sprite1.freeRedBox {
  background-position: -201px -1px ;
}

.sprite1.saveRedPercent {
  background-position: -151px 0 ;
}

.sprite1.saveRedPounds {
 background-position: -102px 0;
}

.sprite1.freeRedTruck {
background-position: -50px 0;
}

.sprite1.redPoints {
  background-position: 0 0;
}

  .header{
    clear: both;
    min-height: 85px;
    margin:16px;
        a.title{
            width: 68%;
            font-size: 14px;
            font-family: $bodyFont;
            line-height: 18px;
            padding: 16px 8px 8px;
            height: 70px;
            display: block;
        }
    img{
          width:85px;
      height:85px;
      }
  }
  img, a.title{
    float: left;
  }
    .productPromotionsContent{

        .product-promo{
            border-bottom: 1px solid #f3f1ed;
      position: relative;
      &:first-child{
        border-top: 1px solid #f3f1ed;
      }

            .promoContainer{
                padding: 16px;
                display: block;
                height: 80px;
                &:hover{
                    color: $tescoBrightBlue;
                    .promoDescription{
                        .promoOffer{
                            color: $tescoBrightBlue;
                        }
                    }
                }


            }
            display: none;
            &:nth-child(1), &:nth-child(2),  &:nth-child(3){
                display: block;
            }
            .promoDescription {
                width: 82%;
                display: table;
                height: 45px;
                .promoOffer{
          font-size: 18px;
          color: $tescoRed;
          padding-left: 8px;
          display: block;
                    vertical-align: middle;
                    max-height: 45px;

                    }
                p{
                    display: none;
                }
            }
        }
        .moreArrowRight{
            content: '';
            display: none;
        }


    }
  .offers{
    clear:both;

/*
  icon names
  01 - Get something free        - freeRedBox
  02 - Save a %             - saveRedPercent
  03 - Save a monetary amount £      - saveRedPounds
  04 - Free Delivery          - freeRedTruck
  05 - Get some points        - redPoints


*/

    .offer-icon:before{
      display: block;
      content: "";
      width: 45px;
      height: 45px;
      position: absolute;
      background: url(/assets/images/offers-sprite.png) no-repeat 0 0;
      left: 32px;

    }

    .freeRedBox .offer-icon:before{
      background-position: -201px -1px ;
    }
    .saveRedPercent .offer-icon:before{
      background-position: -151px 0 ;
    }
    .saveRedPounds .offer-icon:before{
      background-position: -102px 0;
    }
    .freeRedTruck .offer-icon:before{
      background-position: -50px 0;
    }
    .redPoints .offer-icon:before{
      background-position: 0 0;
    }
    li{
      border-bottom: 1px solid #f3f1ed;
      position: relative;
      &:first-child{
        border-top: 1px solid #f3f1ed;
      }
      a{
        width:100%;
        padding: 16px;
        display: block;
        vertical-align: middle;
        &:hover{
          text-decoration: none;
        }
        h2{
          font-size: 18px;
          color: $tescoRed;
          margin-left: 77px;
          display: inline-block;
          vertical-align: middle;
          width: 67%;
          min-height: 45px;
          margin-bottom: 0;
          padding-right: 0;
        }
      }
    }
  }


  .view-more{
    width: auto;
    position: absolute;
    bottom:16px;
    padding: 10px;
    padding-right: 36px;
    right: 16px;
    margin: 0;
    &:after{
       font-family: 'Tesco Icons';
          content: 'r';
          position: absolute;
          top: 12px;
          right: 10px;
          font-size: 11px;
          line-height: 1.7em;
    }
  }

}

#offersTerms{
    margin: 0;
    color: $putty;
    font-size: 12px;
    font-family: $bodyFont;
    display: block;
    line-height: 1.2em;
    letter-spacing: normal;
}
.tab-module-kiosk{
    display: none;
}
.kiosk .tab-module-kiosk{
        display: block;
    }
.kiosk #tab-module{
    display: none;
}

.category {
    .static-mtop-banner {
        .cms-image {
            background: url("../images/ajax-loader-putty.gif") no-repeat center center;
        }
    }
}

@include plp-swatches-hover-styles;
