@include breakpoint(hTablet){
	.collectionContainer{	
		padding: 10px 0;
		#linksave-container{
			li.bundleCount{
				section.detailsWrapper {
			 		.linksave-list{
						li:nth-child(1):nth-last-child(4),
						li:nth-child(2):nth-last-child(3),
						li:nth-child(3):nth-last-child(2),
						li:nth-child(4):nth-last-child(1) { 
							width:26.5%;
							&:last-child {
								width: 20.5%;
							}
							&:before {
							    top:70px;
							    left: -30px;
						    }
						}
						.collectionItemImageContainer {
							width: 145px;
							height: 145px;
							margin-right: 11px;
						 	.collectionItemImage{
						 		width: 105px;
						 		height: 105px;
						 	}
						}
						.collectionItemDetail{
							.collectionItemDescription{
								width: 82%;
							}
						}
						li.collectionSummary {
					        .collectionSummaryContent{
					          top: 48px;
							}
							.collectionPrice {
								.currentPrice{
									font-size:2em;
									color: #4d4d4d;
								}
							}
						}
						li:nth-child(1):nth-last-child(3),
						li:nth-child(2):nth-last-child(2),
						li:nth-child(3):nth-last-child(1) {
							width:39.5%;
							&:last-child {
								width: 20.7%;
								.collectionSummaryContent{
									top: 67px;
					          		padding:0;
								}
								&:before {
									content: '=';
									left: -31px;
								}
							}
							.collectionItemImageContainer{
								margin-right: 47px;
							}
							&:before {
							    top:70px;
							    left: -48px;
						    }
						    .collectionItemImageContainer {
								width: 200px;
								height: 170px;
								margin-right: 31px;
							 	.collectionItemImage{
							 		width: 160px;
							 		height: 130px;
							 	}
							}
							.collectionItemDetail {
						        width: 100%;
						        .collectionItemDescription {
								    padding-right: 31px;
						        }
						    }
						}
					}
				}
			}
		}
	}
}
@include breakpoint(vTablet){
	.collectionContainer{	
		padding: 10px 0;
		#linksave-container{
			li.bundleCount{
				section.detailsWrapper {
			 		.linksave-list{
				  		padding: 0 10px 10px 10px;
						li:nth-child(1):nth-last-child(4),
						li:nth-child(2):nth-last-child(3),
						li:nth-child(3):nth-last-child(2),
						li:nth-child(4):nth-last-child(1) { 
							width:100%;
							&:before {
							    top:-30px;
							    left: 50%;
						    }
						}
						.collectionItemImageContainer {
							width: 150px;
							height: 110px;
							margin-right: 11px;
						 	.collectionItemImage{
						 		width: 110px;
						 		height: 90px;
						 	}
						}
					  	.collectionItemDetail {
					        word-break: break-word;
					        width: 70%;
					  	}
						li.collectionSummary {
							&:before {
							    top:-30px;
							    left: 50%;
						    }
							.collectionSummaryContent{
								position: relative;
							}
							.collectionPrice {
								text-align: center;
								.currentPrice{
									display: inline-block;
									padding-bottom: 20px;
								}
								.oldPrice{
									display: inline-block;
									margin: 10px 0 30px 10px;
    								line-height: 10px;
    								font-size: 0.8em;
    								vertical-align: middle;
								}
								#addBundle{
									max-width: inherit;
								}
							}
						}
						.collectionItemContainer{
					        margin-bottom: 20px;
					        border-bottom: 1px solid #e6e6e6;
    						padding-bottom: 20px;
					    }
						a.bundleLink{
					        text-align: center;
						}
						li:nth-child(1):nth-last-child(3),
						li:nth-child(2):nth-last-child(2),
						li:nth-child(3):nth-last-child(1) {
							width:100%;
							&:last-child{
								&:before {
								    top:-30px;
								    left: 50%;
							    }
							}
							&:before {
							    top:-30px;
							    left: 50%;
						    }
							.collectionItemImageContainer{
								margin-right: 47px;
							}
						    .collectionItemImageContainer {
								width: 150px;
								height: 110px;
								margin-right: 31px;
							 	.collectionItemImage{
							 		width: 110px;
							 		height: 90px;
							 	}
							}
							.collectionItemDetail {
						        width: 66%;
						       	word-break: break-word;
						    }
						}
					}
				}
			}
		}
	}
}