$loaderUrl: '../images/Spinner-animated-Indeterminate.gif';

@mixin infoPanelOverridesAll {
  .info-panel-group {
    &.info-panel-group-buybox {
      .info-panel-odd {
        background-color: $panel1BkgColor;

        .info-panel-content-wrapper {
          border-color: $panel1BkgColor;
        }
      }

      .info-panel-even {
        background-color: $panel2BkgColor;

        .info-panel-content-wrapper {
          border-color: $panel2BkgColor;
        }
      }

      a.icon.info-panel-close-icon {
        border-radius: 0;
        font-size: 16px;
        height: auto;
        left: -36px;
        line-height: normal;
        padding: 10px;
        position: absolute;
        right: auto;
        top: 10px;
        width: auto;
      }

      .info-panel-mask {
        background-color: #fff;
        display: block;
        position: absolute;
        z-index: -1;
      }
    }

    &.warranties-overlay {
      .info-panel-mask {
        z-index: -1;
      }
    }

    &.personalise-overlay {
      .info-panel-content-wrapper {
        border-top-width: 20px;
        border-bottom-width: 20px;
      }
    }

    &.personalise-preview-overlay,
    &.personalise-cropper-overlay {
      .info-panel-content {
        height: 100%;
        padding-left: 0;
        padding-right: 0;

        &.with-loader {
          background-image: url($loaderUrl);
          background-repeat: no-repeat;
          background-position: center center;

          > * {
            visibility: hidden;
          }
        }
      }
    }
  }
}
@mixin infoPanelOverridesLargeDesktop {
  .info-panel-group {
    &.info-panel-group-buybox {
      .info-panel {
        position: absolute;
        z-index: -1;

        &[data-panel-no="2"] {
          z-index: -2;
        }

        &.is-open {
          width: 110%;

          &.info-panel-child {
            right: 210%;
          }

          .info-panel-close-icon {
            display: block;
          }

          &.child-panel-open {
            .info-panel-close-icon {
              display: none;
            }
          }
        }
      }

      .info-panel-content-wrapper {
        -webkit-overflow-scrolling: auto;
      }
    }

    &.personalise-overlay {
      .info-panel {
        max-height: 640px;
        max-width: 1200px;
      }

      .info-panel-content {
        padding-right: 5px;
      }
    }

    &.store-stock-check-overlay {
      .info-panel {
        max-height: 660px;
      }
    }
  }
}

@mixin infoPanelOverridesDesktop {
  .info-panel-group {
    &.info-panel-group-buybox {
      .info-panel {
        position: absolute;
        z-index: -1;

        &[data-panel-no="2"] {
          z-index: -2;
        }

        &.is-open {
          width: 94%;

          &.info-panel-child {
            right: 194%;
          }

          .info-panel-close-icon {
            display: block;
          }

          &.child-panel-open {
            .info-panel-close-icon {
              display: none;
            }
          }
        }
      }

      .info-panel-content-wrapper {
        -webkit-overflow-scrolling: auto;
      }
    }

    &.personalise-overlay {
      .info-panel {
        height: 640px;
      }

      .info-panel-content {
        padding-right: 5px;
      }
    }

    &.store-stock-check-overlay {
      .info-panel {
        max-height: 660px;
      }
    }
  }
}

@mixin infoPanelOverridesDevices {
  .info-panel-group-buybox {
    .info-panel {
      &[data-panel-no="2"] {
        z-index: 3;
      }

      &.info-panel-odd {
        background-color: $panel1BkgColor;

        .info-panel-content-wrapper {
          border-color: $panel1BkgColor;
        }
      }

      &.info-panel-even {
        background-color: $panel1BkgColor;

        .info-panel-content-wrapper {
          border-color: $panel1BkgColor;
        }
      }
    }

    .info-panel-content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@mixin infoPanelOverridesKiosk {
  .info-panel-group-tabs {
    background-color: transparent;
    height: 780px;
    left: 20px;
    position: fixed;
    top: 982px;
    width: 1341px;
    z-index: 0;

    .info-panel {
      bottom: auto;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 0;
      @include multipleTransitions(top .2s);
    }

    &.is-active {
      .info-panel {
        top: -100%;
      }
    }

    .info-panel-header {
      display: none;
    }

    .info-panel-content-wrapper {
      border-top-width: 30px;
      border-bottom-width: 30px;
    }

    .info-panel-content {
      padding: 30px 50px;

      #BVRRContainer .bv-cleanslate .bv-header {
        display: block !important;
      }

      .read-more-link {
        display: none;
      }
    }

    a.icon.info-panel-close-icon {
      background: #fff;
      color: $asphalt;
      font-size: 25px;
      right: 20px;
      top: 20px;

      &:hover {
        color: $asphalt;
      }
    }

    .info-panel-mask-wrapper {
      background-color: $pagePutty;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}
