@import "../mixins/media-viewer-mixins";

.main-content-wrapper {
  height: 780px;
  padding: 10px 20px 10px 10px;

  .static-product-image {
    height: 600px;
    position: relative;

    img#scene7-placeholder {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      vertical-align: middle;
      height: 100%;
	    width: inherit;
    }
  }

  #media-viewer-container {
    height: 760px;
    overflow: hidden;

    .btn-s7-step {
      top: 0;
    }

    #prodZoomView.s7zoomview {
      border: 0;
      box-shadow: none;
    }

    .s7zoomview, .s7spinview, .videoView {
      height: 760px;
    }
  }
}

.media-viewer--portrait {
  &.services-available {
    max-height: 670px;

    #media-viewer-container {
      margin-bottom: 10px;
      max-height: 670px;

      .product-media-viewer-static-image,
      .static-product-image,
      #media-viewer {
        max-height: 670px;

        img {
          max-height: 670px;
        }
      }
    }
  }

  #media-viewer-wrapper {
    margin-left: 133px;
  }

  #media-viewer--main {
    float: right;
    width: 100%;
  }

  .static-product-image {
    height: 760px;
  }

  #media-viewer-wrapper {
    .btn-s7-carousel.btn-s7-prev {
      left: 133px;
    }

    &.single-item {
      margin-left: 66px;
      margin-right: 67px;

      & + .media-viewer--pings {
        .product-ping {
          left: 76px;
        }
      }
    }

    #media-viewer {
      height: 740px;
      padding-bottom: inherit;
      width: 730px;

      .image-viewer-carousel {
        li {
          width: 730px;
          img {
            height: 100%;
            width: auto;
          }
        }
      }

      &.staticVisible {
        .image-viewer-carousel {
          li {
            @include centerImage(100%, 100%, 100%);
          }
        }
      }
    }

    #media-viewer--sidebar {
      margin-top: 10px;

      .mv-thumbnail-container {
        max-height: 630px;

        .mv-thumbnail-carousel {
          max-height: 600px;
        }
      }
    }
  }

  #media-viewer-container {
    .product-ping {
      left: 143px;
    }
  }

  #mv-carousel-index {
    display: none;
  }
}

.media-viewer--landscape {
  &.services-available {
    max-height: 650px;

    #media-viewer-container {
      margin-bottom: 28px;
      max-height: 650px;

      .product-media-viewer-static-image,
      .static-product-image,
      #mediaViewerScene7Container {
        max-height: 540px;

        li {
          max-height: 540px;
        }
      }
    }
  }

  .product-media-viewer {
    .static-product-image {
      height: 632px;
      img#scene7-placeholder {
        width: 70%;
      }
    }

    #media-viewer-container {
      height: 760px;

      #mediaViewerScene7Container {
        height: 650px;
        .image-viewer-carousel {
          li {
            height: 650px;

            img {
              height: 100%;
              width: auto;
            }
          }
        }
      }

      #media-viewer--sidebar {
        bottom: 0;
        left: 31px;
        position: absolute;
      }

      #mv-position-indicator {
        display: none;
      }
    }
  }

  #media-viewer--sidebar {
    width: 800px;
  }

  .mv-thumbnail-carousel {
    width: inherit;
  }
}
