@import "../../../core/components/variables";

.PDP-Version2 {

  /*
   * Styles generic for Kiosk PDPV2
   */
  .product-details {
    .icon-FFlogo {
      border-right: 1px solid $midDarkGrey;
      display: inline-block;
      height: 32px;
      margin: 10px 2px 0 0;
      overflow: hidden;
      width: 61px;

      &:before {
        @include icon;
        color: $offBlack;
        content: "\e900";
        font-size: 32px;
        line-height: 32px;
      }
    }

    .online-exclusive {
      background-color: $asphalt;
      color: $white;
      display: inline-block;
      font: bold 14px $tescoFont;
      line-height: normal;
      margin: 10px 0 0;
      padding: 8px;
      text-transform: uppercase;
      vertical-align: top;
    }

    .style-ref {
      font-weight: bold;
      margin: 10px 0 0;
    }

    .text-block {
      margin: 15px 0 0;
    }

    #product-spec-container {
      margin: 20px 0 0;
      overflow: hidden;
      padding-right: 20px;
    }
  }

  /*
   * Styles specific for Kiosk PDPV2 main details area (non overlay)
   */
  #wrapper {
    .content-container {
      .product-details {
        border-bottom: 10px solid #fff;
        border-top: 10px solid #fff;
        height: 780px;
        overflow: hidden;
        overflow-y: scroll;
        padding: 30px 10px 10px 10px;
        @include customScrollBar(8px, $paleGrey, transparent, 5px);

        .product-features {
          margin: 12px 0 0;

          &.product-features-non-book-layout {
            li {
              list-style-position: inside;
              margin-bottom: 3px;
              width: 370px;
            }
          }

          &.product-features-book-layout {
            margin: 20px 0 0;
            padding: 0 16px 0 0;

            li {
              width: 100%;
              float: none;

              &:nth-child(even) {
                float: none;
              }
            }
          }
        }
      }
    }
  }

}

/*
 * Styles specific for Kiosk PDPV2 overlay
 */
.PDP-Version2__component.info-panel-group .info-panel-content {
  .product-features.product-features-non-book-layout {
    margin: 12px 0 0;
    li {
      margin-bottom: 3px;
      width: auto;
      white-space: normal;
    }
  }
}
