@import "../../../core/components/variables";
@import "../mixins/product-description-mixins";

.js .btn-variant-update{
    display:none;
}
.pdpproducts-notFirstButton {
        margin-left:10px !important;
}

.one-pdpproducts {
        display: none !important;
}
.product-description {
    .page-information {
        position: relative;
        margin: 12px 0px 20px 8px;
        padding: 16px 18px 16px 51px;
        border: 1px solid $pagePutty;
        background-color: #FFF;
        wdith: 100%;
    }

    .page-information:before {
        position: absolute;
        font-size: 28px;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: $tescoBlue;
        content: 'i';
        font-family: 'Tesco Icons';
    }

    .page-information p {
        margin:0;
        font-family: $tescoFont;
        font-size: 1.5em;
        line-height: 1.2em;
    }

    #rrSwitch1 {
        display: none;
    }
    .PDPAdditionalRecommender {
        display: none;
    }
    h3 {
        border-top: 2px solid $primaryBorderColor;
        font-family: $tescoFont;
        font-size: 24px;
        padding-left:8px;
    }
    section{
        h3{
            padding-left:8px;
        }
    }
    a {
        font-size: 14px;
    }
    .icon {
        font-size: 1.4em;
    }
    .carousel-info {
        display: none;
    }
    #main-content {
        margin: 0 8px;
        width: auto;
        position: relative;
        overflow:visible;
        .product-specifications-link {
            display: none;
        }

        .detailWrapper {
            border: 0 none;
            box-shadow: none;
        }
        #product-details{
            a.trigger.collapsed.readMore, a.trigger.readMore, a.showvirtualpage.readMore{
                display:block;
            }
            .detailWrapper{
                a.trigger.collapsed.readMore, a.trigger.readMore, a.showvirtualpage.readMore{
                    display:block;
                }
            }
        }
        #product-promotions{
            a.trigger.collapsed.readMore, a.trigger.readMore, a.showvirtualpage.readMore{
                display:block;
            }
            .detailWrapper{
                a.trigger.collapsed.readMore, a.trigger.readMore, a.showvirtualpage.readMore{
                    display:block;
                }
            }
        }
        .toggleDetailWrapper, .toggleDetailWrapper, .toggleDetailWrapperBV, .toggleDetailWrapperIC{
            float: none;
            width: 100%;
            clear: none;
            margin: 0;
            text-decoration: none;

            h3, h2 {
                padding-left: 32px;
                position: relative;
                margin: 0;

                &:after {
                    content: 'U';
                    font-family: 'Tesco Icons';
                    position: absolute;
                    left: 8px;
                    bottom: 19px;
                    font-size: 12px;
                    right:inherit;
                }
            }
            &.PDPchangeIcon {
                h3, h2 {
                    &:after {
                        content: 'D';
                    }
                }
            }
        }
        .toggleDetailWrapperBV{
            h3, h2 {
                &:after {
                    top:5px;
                }
            }
        }
        .toggleDetailWrapperIC {
            h3 {
                margin-bottom: 0;
            }
        }

        .toggleDetailWrapperBV {
            h3, h2 {
                &:after {
                    bottom: 8px;
                }
            }
        }

        > div > a,
        div#product-details-link > a,
        #inline-content a.back-top,
        .backToTopLink {
            margin: 8px 0;
            float: right;
            font-size: 16px;

            .icon {
                font-size: 0.7em;
            }
        }

        div#product-details-link

            .sponsored-link-block {
                @include boxAndShadow;
                margin: 16px 0 0;
                padding: 14px 4px 8px;
                clear: both;
                width: 100%;

                /*TO FIX IFRAME COVERING BORDER IN IPAD*/
                iframe {
                    overflow: hidden;
                    width: 99%;
                }
            }

        }

        section {
            clear: both;
            border: 1px solid $pagePutty;
            box-shadow: 0px 2px 4px 0px $pagePutty;
            background-color: #fff;

            .button {
                @include gradient(#f1f1f1, #fff);
                font-weight: normal;
                color: #01539d;
                cursor: pointer;
                &:hover,
                &:focus,
                &:active {
                    @include gradient(#fff, #f1f1f1);
                }
            }

            > a {
                display: block;
            }

            h3 {
                border-bottom: 1px solid $primaryBorderColor;
                text-indent: 11px;
                font-weight: normal;
                padding: 14px 0 14px 8px;
            }

            .icon {
                font-size: 1em;
            }
            .error .icon{
                font-size:1.4em;
            }
            div.wishlist-button {
                min-height: 39px;
                .tertiary-button {
                    padding:6px 0;
                }
                .user-wishlists{
                    display:none;
                }
            }
            div.collectionButton {
                .tertiary-button {
                    padding:6px 0;
                }
                &+.wishlist-button a.tertiary-button{
                    background:none;
                    border:1px solid $putty;
                    color: $xDarkPutty;
                    &:hover{
                        background:$tescoBrightBlue;
                        color:#FFF;
                        border:1px solid $tescoBrightBlue;
                    }
                }
            }
        }

        p {
            font-size: 1.4em;
            margin: 16px;
            line-height: 20px;
            clear: both;
        }

        .products-header {
            border-top: none;
        }

        .product-carousel {
            margin-bottom: 0;

            h3 {
                border-top: none;
            }
        }

        .main-details {
            padding-bottom: 6px;
            margin-bottom: 40px;

            .static-product-image {
                text-align: center;
                img#scene7-placeholder{
                    display:block;
                    margin: 0 auto;
                }
                &.scene7-enabled {
                    display: none;
                }
            }

            span.offer{
                position: absolute;
                font-size: 6.5em;
                z-index: 1;
                display: block;
                color: red;

                span{
                    font-size: 17px;
                    color: #fff;
                    padding: 1em 0;
                    text-align: center;
                    position: absolute;
                    font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
                    font-weight: bold;
                }
            }
        }

        .main-details .products {
            padding-bottom: 0;

            > li .product {
                padding: 0;

                .thumbnail {
                    position: static;
                    width: auto;
                }
            }
        }

        .details-container {
            position: relative;
        }

        .rating-container {
            margin: 0 8px;
        }

        .features {
            list-style-type: disc;
            font-size: 1.4em;
            padding: 0 24px;
            margin-bottom: 0px;
            margin-top: 10px;

            li {
                padding-bottom: 7px;
            }
        }

        .personalised-message-indicative {
            p {
                margin-left: 0;
                line-height: normal;
            }
        }

        .pre-order-price-promise {
            padding-bottom: 6px;
            h3 {
                font-size: 15px;
                display: block;
                margin-left: 8px;
                margin-bottom: 0;
                background-color:rgb(237,27,45);
                background: url('../img/sprite1.png') -150px 0px no-repeat;
                font-family: 'Helvetica Neue', Arial, sans-serif;
                color: #01539d;
                text-transform: capitalize;
                border-bottom: none;
                padding: 15px 0 14px;
                @include border-radius(5px);
                border-top: none;
                text-indent: -99999em;
            }

            p {
                margin-top: 0;
                margin-bottom: 0;
                line-height: 1.6em;
            }

            a {
                margin-left: 8px;
                @include linkWithBorder;
            }
        }

        .blinkbox-banner {
            position: relative;
            background-color:rgb(11,21,41);
            margin: 8px 8px 0;
            padding: 5px 8px 11px;
            @include border-radius(4px);

            div.collapsed {
                width: 85%;
                img {
                    position: relative;
                    top: 4px;
                    margin-right: 4px;
                }
            }

            p {
                color: #FFF;
                margin: 0;
                line-height: 1.5em;
            }

            h5 {
                font-size: 14px;
                color: #FFF;
                margin: 0;
                margin-top: 32px;
            }

            .icon {
                color: #FFF;
                position: absolute;
                top: 30px;
                right: 16px;
                font-size: 12px;
                cursor: pointer;
            }

            a {
                display: inline-block;
                margin: 16px 0 8px;
                color: #00a1d4;
                font-weight: bold;
            }

            .trigger, .showvirtualpage {

                &:after {
                    content: 'c';
                }

                &.collapsed:after {
                    content: 'a';
                }

                &.collapsed {
                    top: 23px;
                }
            }
        }

        .print-this-page a{
            display: inline-block;
            margin-bottom: 8px;
            margin-top: 8px;
            @include linkWithBorder;

            .icon {
                margin-right: 8px;
                font-size: 17px;
                top: 3px;
                position: relative;
            }
        }

        .product-specifications-link {
            position: relative;
            margin-top: 15px;
            a {
                margin: 0;
                display: block;
            }
            h3 {
                color: #01539D;
                margin-bottom: 0;
                border-bottom: none;
            }

            h3:after {
                content: 'r';
                font-family: 'Tesco Icons';
                position: absolute;
                right: 8px;
                bottom: 14px;
                font-size: 14px;
            }
        }

        .customer-review-link {
            margin-top: 16px;
            a {
                padding: 10px 0;
                margin: 0;
                overflow: hidden;
            }
            h3 {
                float: left;
                border-bottom: none;
                margin: 0;
                padding: 0;
                border-top: none;
            }
        }

        #inline-content {
            overflow: hidden;
            div.inline-content {
                clear: both;
                border: 1px solid rgb(208,208,208);
                box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
                background-color: #fff;
            }

            div {
                clear: both;
                h2 {
                    text-indent: 8px;
                    font-family: Helvetica Neue, Arial, sans-serif;
                    font-size: 18px;
                    font-weight: normal;
                    padding: 10px 0 12px 0;
                    margin-bottom: 0px;
                }

                &.inline-content-text {

                    div {
                        border-top: 1px solid $primaryBorderColor;
                        padding: 10px;
                        &:after {
                            @include clear-fix;
                        }

                        > img {
                            float: left;
                            border:1px solid #ccc;
                            margin:0 10px 10px 0;
                            width:170px;
                            height: 170px;
                        }

                        h3 {
                            border: none;
                            font-size: 16px;
                            font-weight: bold;
                            padding: 0px;
                            text-indent: 0px;
                        }

                        > p {
                            clear: none;
                            margin: 10px 0;
                        }

                        embed {
                            display: block;
                        }
                    }
                }

                &.inline-content-video {
                    padding: 10px;
                }

                &.inline-content-images {
                    div.inline-Add-content {
                        border-top: 1px solid $primaryBorderColor;
                        padding: 10px;
                        &:after {
                            @include clear-fix;
                        }

                        a {
                            border:1px solid $primaryBorderColor;
                            float: left;
                            height: 150px;
                            margin: 0 5px 5px 0;
                            width: 150px;

                            img {
                                height: auto;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }

        }

        table {
            text-align: left;
            font-size: 14px;
            margin-bottom: 16px;
            border-collapse: collapse;
            width: 100%;

            tbody {

                td {
                    width: 50%;
                    padding: 8px 16px;
                }
            }

            h3 {
                border-top: 1px solid $primaryBorderColor;
            }
        }

        tbody {
            tr:nth-child(odd) {
                background-color: rgb(245,246,248);
            }
        }

        td,
        th {
            border-bottom: 1px solid $primaryBorderColor;
        }

        th {
            padding-left: 16px;
            padding-bottom: 10px;
        }

        .price-check-details {
            table {
                margin-top: 16px;
            }
            td.saving {
                color: #ee1c2e;
            }

            tbody {
                .date-checked {
                    width: 100%;
                }
            }

            tfoot {
                font-size: 12px;

                td {
                    border-bottom: none;
                    padding: 8px;
                    padding-bottom: 0;
                }
            }
        }

        article {
            /*margin: 8px;*/

            p {
                margin-left: 0;
            }
        }

        .select-colour {
            @include smallerTooltipFlexibleWidth;
            li.unavailable a {
                cursor: default
            }
            li.not-in-stock a {
                opacity: 0.5;
            }
            li.selected {
                border: 2px solid $tescoBrightBlue;
                border-radius: 5px;
                height: 28px;
                padding: 2px;
                margin: 0px -2px;
            }
        }

        .select-size {
            @include smallerTooltipFlexibleWidth;
            li.not-in-stock a,
            li.unavailable a {
                opacity: 0.5;
                cursor:default;
            }
            li.selected {
                border: 2px solid $tescoBrightBlue;
                border-radius: 5px;
                height: 26px;
                padding: 4px 2px 4px 2px;
                margin-left: -1px;
            }
            &.dropdown-enabled {
                /* bottom: 105px;
                left: 270px; */
                &.lone-dropdown {
                    /* bottom: 46px;
                    left: 16px; */
                }

                li a {
                    background: none;
                    padding: 0;
                    color: $contentLink;
                }

                .unavailable a,
                .not-in-stock a {
                    opacity: 1;
                    a {
                        opacity: 1;
                    }
                }
            }
        }

        .select-colour,  .select-size {
            span.variantDisplayName_title{
                display:none;
            }

            a.trigger, a.showvirtualpage {
                display: inline-block;
                border: 1px solid $primaryBorderColor;
                padding: 10px 0;
                width: 100%;
                @include inverseLightGreyGradient;
                padding-left: 16px;
                margin-top:8px;
                &.open {
                    border-color: #848282;
                    color: #848282;
                }

                &.closed {
                    opacity: 0.6;
                }

                .icon {
                    float: right;
                    margin: 2px 16px 0 0;
                    &:after {
                        content: '2';
                    }
                }
            }

            .filter-options {
                width: 100%;
                border: 1px solid #848282;
                border-bottom: 4px solid #383838;
                background: #fff;
                display: none;
                z-index: 400;
                position: relative;

                &.show-overlay {
                    display:block;
                    &.cols-2 {
                        width: 478px;
                        float:right;
                        ul {
                            float:left;
                            width:50%;
                        }
                    }

                    &.cols-3 {
                        width: 736px;
                    }

                    &.cols-4 {
                        width: 956px;
                    }
                }
                p {
                    font-size: 1.4em;
                    border-bottom: 1px solid #bfbdbd;
                    padding: 10px 16px;
                    line-height: 16px;
                    margin: 0;
                }
                ul {
                    height: 100%;
                }
                ul li {
                    font-size: 1.6em;
                    float: none;
                    width: auto;
                    display: block;
                    margin: 2px;
                    a {
                        border: none;
                        font-size: 14px;
                    }
                }
                li {
                    cursor: pointer;
                    border-bottom: 1px solid #bfbdbd;
                    padding: 7px 14px;
                    &:last-child {
                        border: none;
                    }

                    &.selected {
                        border: 2px solid $tescoBrightBlue;
                        height: auto;
                    }
                }
            }

            &.dropdown-enabled {
                width: 100%;
                padding-right: 16px;
                li {
                    margin-right: 0;
                    height:36px;
                    padding:16px;

                    img {
                        display:none;
                    }
                    .checkbox {
                        margin:-10px 0 0 0;
                        display:inline-block;
                        float:right
                    }
                    span.variantDisplayName_title{
                        display:none;
                    }
                    span {
                        float:left;
                        display:inline-block;
                        width: 88%;
                        margin-top: -14px;
                        line-height: 28px;
                    }
                    a {
                        display:inline;
                    }
                    a:hover {
                        background:none;
                    }
                }

                li.selected {
                    border:none;
                    border-bottom: 1px solid #bfbdbd;
                    border-radius: 0;
                }

                li.not-in-stock,
                li.unavailable {
                    cursor: default;
                    span {
                        color: #848282;
                    }
                    .checkbox {
                        display: none;
                    }
                }
            }

            select {
                margin-top: -60px;
                opacity: 0;
                width: 100%;
                height: 60px;
                display: block;
                display: box;
                -webkit-appearance: none;
                float: right;
            }

            a.select-trigger {
                @include inverseLightGreyGradient;
                width: 100%;
                height: 60px;
                font-size: 16px;
                padding: 4px 16px;
                display: block;
                border: 1px solid #cccccc;
                line-height: 50px;

                .icon {
                    float: right;
                    &:after {
                        content: '2';
                    }
                }
            }
        }

        .swatch {
            li {
                display: inline-block;
                border: 2px solid #fff;
            }
        }

        .sizes {
            position: relative;
            li {
                display: inline-block;
                margin: 2px 2px 8px 2px;
                position: relative;
                &.selected {
                    a {
                        padding: 2px 0px;
                    }
                }
            }

            a {
                text-decoration: none;
                font-size: 12px;
                color: #3E3E3F;
                border: 1px solid $primaryBorderColor;
                @include border-radius(4px);
                padding: 2px 4px;
                @include inverseLightGreyGradient;
                span {
                    cursor: pointer;
                }
            }
            @include smallerTooltipFlexibleWidth;
        }

        .more-product-info-link {
            display: none;
        }

        .feature-products {
            border: none;
            @include box-shadow(none);
            background-color: transparent;

            .product-carousel {

                .product {
                    padding-left: 26%;
                    padding-bottom: 4px;

                    .new {
                        color: #EE1C2E;
                        position: absolute;
                        top: -3px;
                        left: 0;
                        font-size: 4.5em;
                        z-index: 1;
                    }

                    .offer {
                        color: #EE1C2E;
                        font-size: 4em;
                        position: absolute;
                        display: block;
                        bottom: -8px;
                        left: -16px;

                        span {
                            width: 100%;
                            font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
                            color: #FFF;
                            font-size: 11px;
                            font-weight: bold;
                            position: absolute;
                            text-transform: uppercase;
                            padding: 1.5em 0;
                            text-align: center;
                        }
                    }

                    .percentage {

                        span {
                            padding: 1.2em 0;
                            font-size: 13px;
                        }
                    }

                }

                h2 {
                    margin-bottom: 17px;
                }

                h3 {
                    border-bottom: none;
                    text-indent: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-top: -4px;
                    margin-bottom: 8px;
                    height: 60px;

                }

                .rating-container {
                    padding-left: 32px;
                    margin-left: 0;
                    margin-bottom: 2px;
                }
            }
        }

        .complimentary {
            clear: both;
            overflow: hidden;

            > div {
                overflow: hidden;
                background-color: #fff;
                border: 1px solid $primaryBorderColor;
                @include box-shadow(0 0 6px $primaryBorderColor);
                border-top: 2px solid #3e3e3f;
                margin-bottom: 16px;
            }

            .products {

                > li,
                .product {
                    width: 100%;
                }

                .product {
                    border: none;
                    border-top: 1px solid $primaryBorderColor;
                    margin-bottom: 0;
                }

                li:first-child {
                    .product {
                        border-top: 0;
                    }
                }

            h3 {
                border: none;
                padding-left: 0;
            }

            .products-header {
                padding: 8px;
                border-top: 2px solid $primaryBorderColor;
                border-right: 1px solid $primaryBorderColor;
                border-left: 1px solid $primaryBorderColor;

            h2 {
                margin-bottom: 8px;
                text-indent: 11px;
            }
        }
        .rating-container {
            padding-left: 32px;
            margin-left: 0;
            margin-bottom: 2px;
            font-size: 13px;
            height: 13px;
        }
            li {
                .title-author-format {
                       padding: 0 0 0 32px;
                }
            }
        }
    }

        .customer-review-link {
            display: none;
        }
        .tab-view {
            display: none;
        }
    }

    #age-rating {
        position: absolute;
        right: 8px;
        top: 0;
    }

    #product-details, #product-promotions {
        .trigger, .showvirtualpage {
            display: none;
            .icon:after {
                content: '1';
            }
            &.collapsed {
                .icon:after {
                    content: '2';
                }
            }
        }
        .detailWrapper{
            a.trigger.collapsed, a.showvirtualpage.collapsed{
                display: block;
            }
        }
    }

    .js {
        .expanded {
            display: none;
        }
        .product-specifications {
            .slide-out-trigger {
                margin-top: 8px;
            }
            h3 {
                margin-bottom: 0px;
                padding-left: 8px;
            }
        }
        .product-promotions {
            .slide-out-trigger {
                margin-top: 8px;
            }
            h3 {
                margin-bottom: 0px;
                padding-left: 8px;
            }
        }

        .trigger, .showvirtualpage {
            cursor: pointer;
        }
        .expanded.collapsed {
            display: none;
        }
        #main-content .product-specifications .specGroup {
            width:100%;
            h4 {
                display:block;
                padding: 16px;
                text-align: left;
                font-size: 14px;
                margin: 0px;
                border-bottom: 1px solid $primaryBorderColor;
                .icon {
                    padding-right: 8px;
                    &:after {
                        content: 'D';
                        font-size:0.85em;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .panel {
                display: none;

                table {
                    margin-bottom: 0px;
                    th {
                        width: 15%;
                        text-align: left;
                        border-right: 1px solid $primaryBorderColor;
                        padding: 8px 36px 8px 36px;
                        position: relative;
                    }
                    tr {
                        background: none;
                    }
                }

                .tooltip {
                    .body {
                        font-weight: normal;
                        .close {
                            font-size: 15px;
                        }
                    }
                }
            }
            &.show {
                h4 .icon:after {
                    content:"U";
                }
            }
        }

    }

    .js .slide-in {
        /*display: none;*/
        background-color: #fff; /*TEMP*/

        &.show {
            z-index: 9685;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
        }
    }

    .social-share-buttons {
        padding-top: 16px;
        margin-bottom: 4px;
        &:after {
            @include clear-fix;
        }
        div {
            float: left;
            margin-right: 16px;
        }
        .fb-container {
            width: 74px;
        }
    }

    #virtual-page .product-specifications {
        display: block;
        border-top: 2px solid #3E3E3F;
        table {
            margin-bottom: 0;
        }
        h4 {
            padding-left: 8px;
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: left;
            font-size: 1.4em;
            margin: 0;
            border-bottom: 1px solid $primaryBorderColor;
            &:hover {
                cursor: default;
            }
        }
        table tr {
            background: none;
            th {
                color: #848282;
                font-weight: normal;
                padding-left: 8px;
            }
        }
        h3 {
            border-top: none;
        font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
        }
        .back {
            margin: 0;
        }
    }
    #BVRRSummaryContainer{
      height:auto;
    }
    #virtual-page .product-promotions {
        display: block;
        border-top: 2px solid #3E3E3F;
        h4 {
            padding-left: 8px;
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: left;
            font-size: 1.4em;
            margin: 0;
            border-bottom: 1px solid $primaryBorderColor;
            &:hover {
                cursor: default;
            }
        }
        h3 {
            border-top: none;
        font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
        }
        .back {
            margin: 0;
        }
    }

    .bv-cleanslate {
        .bv-core-container-414 {
             dd.bv-rating-ratio-count  span.bv-rating-ratio-count{
                color:$putty!important;
            }
            .bv-stars-container dd
                .bv-rating-stars-on{
                    color:#e7c17c!important;
                }
        }
    }
    /* Custom styles for BV as we cannot control markup */
    html.js {
        #BVRRSummaryContainer {
            &.pdp-ratings-summary {
                .pdpRatingSummaryInfo {
                    font-size: 13px;
                    position: relative;
                    top: 6px;
                    padding-left: 4px;
                }
                .pdpRating {
                    color: #0265c3;
                    padding-right: 7px;
                }
                .pdpRatingCount {
                    padding-left: 6px;
                }
                .total-reviewers {
                    position: relative;
                    top: 3px;
                }
                .rating {
                    background: url(../img/star-rating-sprite-pdp.png) 0 0 repeat-x;
                    height: 23px;
                    width: 100px;
                }
                .stars {
                    height: 22px;
                    &.point-25:after {
                        height: 7px;
                        width: 20px;
                        right: -20px;
                        @include border-radius(0 0 12px/8px 0);
                    }
                    &.point-5:after {
                        height: 11px;
                        width: 20px;
                        right: -20px;
                        @include border-radius(0 0 12px/9px 0);
                    }
                    &.point-75:after {
                        height: 15px;
                        width: 20px;
                        right: -20px;
                        @include border-radius(0 0 12px/10px 0);
                    }
                }
                .stars, .stars.stars:after {
                    background: url(../img/star-rating-sprite-pdp.png) 1px -23px repeat-x;
                }
            }
        }
        #BVRRContainer {
            .bv-cleanslate {
                .bv-header {
                    .bv-action-bar {
                        .toggleDetailWrapperBV {
                            h2.bv-action-bar-header {
                                width: 100% !important;
                                padding-left: 32px !important;
                            }
                        }
                    }
                }
            }

            &.hideBVReviews {
                min-height: inherit !important;
                .bv-content-list {
                    display: none !important;
                }

                .bv-write-review {
                    display: none !important;
                }

                .bv-cleanslate {
                    .bv-shared {
                        .bv-compat {
                            .bv-content-list-container {
                                .bv-content-pagination {
                                    margin-bottom: 0px !important;
                                    display:none !important;
                                }
                                .bv-control-bar {
                                    display: none !important;
                                }
                            }
                        }
                    }
                    .bv-header {
                        .bv-action-bar {
                            padding-bottom: 0px !important;
                            .toggleDetailWrapperBV {
                                h2 {
                                    &.bv-action-bar-header {
                                        width: 100% !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .csstransitions .product-description #main-content .product-specifications .specGroup {
        .panel {
            display: block;
            @include transition('all .5s ease-in');
            height: 0;
            overflow: hidden;
        }
        &.show {
            .panel {
                @include transition('all .5s ease-in');
                height: auto;
                &.openCallback {
                    overflow: visible;
                }
            }
        }
    }

    .no-csstransitions .product-description #main-content .product-specifications .specGroup {
        &.show {
            .panel {
                display: block;
                height: auto;
                overflow: visible;
            }
        }
    }



//==========================  collection styles ============================//

//--------- collection list 1 per row ----------//

.collectionItems .saving {
    color: $tescoRed;
}

.collectionItemImage {
    width: 85px;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
}

.collectionItemPrice {
    font-size: 2.2em;
    font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
    font-weight: 900;
}

p.collectionItemDescription {
    margin-left:0px;
    max-height: 50px;
    overflow:hidden;
    line-height: 16px;
}

.collectionPrice {
    .currentPrice {
        line-height:0.8em;
        margin-top:0;
    }
}

.collectionSummary {
    &:before {
        z-index: 5010;
    }
    .collectionPrice {
        .saving {
            color: $tescoRed;
            font-weight: 700;
        }
        .currentPrice {
            margin-top:0;
        }
        .oldPrice {
            margin-bottom: 5px;
        }
    }
}
.bundle, .linksave {
    .collectionItems .collectionItemDetail.unavailble .collectionItemDescription a, .bundle .collectionItems .collectionItemDetail.unavailble .collectionItemPrice  {
        opacity:0.5;
        cursor:default;
        &:hover{
            color:inherit;
            opacity:0.5;
            cursor:default;
            text-decoration:none;
        }
    }
    .tooltipPopup .close .icon {
        left: 8px;
    }
}
.stock-message {
    font-size: 1.4em;
    padding:7px 8px;
    margin:4px 0;
    display:inline-block;
    font-weight:bold;
    &.low-stock {
        color: $hoverOrange;
        border:1px solid $hoverOrange;
    }
    &.oo-stock {
        color:$tescoRed;
    }
    &.in-stock {
        color: $positiveGreen;
    }
}
.seller.collapsed {
    .stock-message {
        &.low-stock {
            display:none;
        }
    }
}
.collectionResponse.success {
    margin: 5px 0px 0px 0px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: $basketOrange;
}

.primary-button.inProgress {
    background-color: $positiveGreen;
    border-color:$positiveGreen;
    opacity: 1;
    &:hover {
        background-color: $positiveGreen;
        border:0;
    }
    &:focus{
        border:0;
    }
}

.collectionStock {
    display:block;
}
.collectionItemDetail .buy-block{
    margin-left:0;
    font-size:12px;
}

#page-container .collectionContainer.rows {
    @include collectionList;
}
a.ViewMoreProducts{
    width: 184px;
    margin:0 auto;
}
.collectionItems {
    .disabled{
        opacity:0.3;
    }
    a.total-reviewers{
        font-size:12px;
    }
}
a.promoMoreAvailible, .promoMoreAvailible{
    width:auto;
    font-size:14px;
    background:$tescoBrightBlue;
    padding:7px 16px;
    color:white;
    margin:0;
    text-align:center;
    display:inline-block;
    font-family:$bodyFont;
    &:hover{
        color:white;
        text-decoration:none;
    }
}
.product-promotions {
    .toggleDetailWrapper{
        background:$tescoRed;
        h3{
            color:white;
        }
    }
    .promoMoreAvailible{
        float:right;
        margin-right:16px;
        margin-top:-3px;
        text-indent:0;
    }
    .seeAllOffers {
        display:none;
    }
    .productPromotionsContent {
        width:100%;
    }
    .product-promo{
        width:100%;
        height:auto;
        padding:16px;
        overflow:hidden;
        clear:both;
        position:relative;
        border-bottom:1px solid #f3f1ed;
        .promoContainer {
            width:100%;
            float:left;
            .moreArrowRight {
                color:$tescoRed;
                position:absolute;
                top:50%;
                right:23px;
                margin-top:-7px;
                font-style:normal;
            }

            &:hover .moreArrowRight{
                text-decoration:none;
            }

            &:hover .promoTitle {
                text-decoration:underline;
            }


        }

        span.promoContainer {
            &:hover .promoTitle {
                text-decoration:none;
            }
        }

        .promotion-icon {
            vertical-align: top;
            margin:0 15px 0 0;
        }
        .promoImageContainer {
            overflow: hidden;
            height: 45px;
            width: 45px;
            float:left;
            position:relative;
            margin-right:20px;
            text-align:center;
            img {
                max-width:100%;
            }
        }
        .sellerImageContainer{
            text-align:left;
            width:auto;
            overflow: hidden;
            float:left;
            position:relative;
        }
        .promoDescription{
            width:84%;
            display:inline-block;
            p{
                margin:0;
                font-size:14px;
            }
            .promoTitle{
                color:$tescoRed;
                font-family:$tescoFont;
                font-size:18px;
                display:block;
                overflow:hidden;
            }
        }

    }
}
.collectionItems {
    .collectionQuantity {
         a.decrease, a.increase {
            display: none;
        }
    }
}



#range .collectionQuantity a {    /* hide shop the range add/minus buttons on non Kiosk */
    &.increase, &.decrease {
        display: none;
    }
}

.icon-question-container {
    position: absolute;
    right: 10px;
    top: 8px;
    display: none;
    .icon-question {
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:after {
            content: '?';
            background: $lightPutty;
            color: #fff;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            text-align: center;
            font-size: 11px;
            position: absolute;
            display:block;
            right: 0;
            top: 0;
        }
        &.icon-active {
            &:after {
                background: $tescoBrightBlue;
            }
        }
    }
}

span.ajax-loader {
    position: absolute;
    top: 45%;
    left: 45%;
    background: url($ajaxLoaderSrc) no-repeat #fff center center;
    width: 30px;
    height: 30px;
}
