.product-spec-group-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.product-spec-group-title-background {
    position: absolute;
    top: 0px;
    width: 100%;
    bottom: 0px;
    background-color: $backgroundPutty;
    z-index: 0;
    left: -75%;
}

.product-spec-group-title-container {
    position: relative;
	width: 25%;
    float: left;
    padding: 16px;
    z-index: 1;
}

.product-spec-header {
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $lightPutty;
}

.product-spec-row-container {
    width: 100%;
    overflow: hidden;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $lightPutty;
    -webkit-tap-highlight-color: rgba(0,0,0,0); // removes the default active background state on Chrome/Safari touch devices

    &:last-child {
        border-bottom: none;
    }
}

.product-spec-row {
	position: relative;
	display: table;
	width: 100%;
    overflow: auto;
    opacity: 1;
}

.no-touch {
    .jbActive {
        .product-spec-row {
            @include multipleTransitions(opacity 0.3s);
            cursor: pointer;

            &:hover {
                @include opacity(0.7);
            }
        }

        &.toggle-expand {
            .product-spec-row {
                &:hover {
                    @include opacity(1);
                }
            }
        }
    }
}

.product-spec-label {
	width: 50%;
    font-size: 16px;
    line-height: 18px;
    padding-right: 30px;

    .toggle-expand & {
        font-weight: 700;
        color: $darkPutty;
    }
}

.product-spec-value {
	width: 50%;
    font-size: 16px;
    line-height: 18px;
    padding-right: 36px;

    .toggle-expand & {
        font-weight: 700;
        color: $darkPutty;
    }
}

.product-spec-group {
	width: 75%;
    float: left;
    padding-left: 20px;
}

.product-spec-cell {
    display: table-cell;
    vertical-align: middle;
}

.icon-container {
	position: absolute;
	top: 50%;
	right: 0px;
	height: 100%;
    display: none;

    .icon-info {
        margin-top: -50%;

            &:before {
            content: 'i';
            font-size: 16px;
            line-height: 1;
            color: $iconBlue;
        }
    }

    .jbActive & {
        display: block;
    }

    .toggle-expand & {
        .icon-info {
            &:before {
                content: 'Y';
                color: $darkPutty;
            }
        }
    }
}

.product-spec-description {
    width: 100%;
    max-height: 0px;
    font-size: 14px;
    line-height: 20px;
    color: $putty;
    overflow: hidden;
    margin-top: 0px;
    padding-right: 36px;
    @include multipleTransitions(max-height 0.3s, margin-top 0.5s);

    .toggle-expand & {
        max-height: 200px;
        margin-top: 16px;
    }
}

.product-description-block, .product-details {
  #product-spec-container {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0px;
    .product-spec-group-container {
      margin-bottom: 0px;
      .product-spec-row-container:last-child {
        border-bottom: 1px solid $lightPutty;
      }
    }
  }
  .product-spec-group {
    padding-left: 0px;
    width: 100%;
  }
}
