/* 1.	Restricted classnames

       The restricted classnames are here solely as a hook for the new HTML 5 elements.
       They should not be used for styling.

       .article
       .datagrid
       .datalist
       .details
       .dialog
       .figure
       .footer
       .header
       .hgroup
       .mark
       .meter
       .nav
       .output
       .progress
       .section
       .time

*/

/* 2.   Common elements */

html {
  margin: 0;
    padding: 0;
}
body {
  	 font-family: Arial, sans-serif;
    font-size: 62.5%;    
    margin: 0;
    padding: 0;
    color: #4F5050;
}
a {
    color: #00a1e0;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.imageContainer a {
    color: #0265C3;
    text-decoration: none;
}
.imageContainer a:hover {
    text-decoration: underline;
}
img {
  border: none;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.3em;
	color: #575757;
	margin: 0 0 5px;
}
h2 {
    margin: 0 0 10px;
    font-size: 2.0em;
    font-weight:bold;
    color:#575757;
}
h3 {
    margin: 0 0 10px;
    font-size:1.8em;
    font-weight:bold;
    color: #575757;
}

p {
	font-size: 1.2em;
	color: #4F5050;
}
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol li {

}
ul li {

}
em {
    font-style: normal;
}
textarea{
  resize: none;
}
.structure,
.accessible {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -1000em;
    height: 0;
    width: 0;
}
#page {
	width: 960px;
	margin: 2px auto 10px auto;
	padding: 4px 9px 9px 9px;
	background: transparent url("../images/drop_shadow_header.jpg") no-repeat scroll 9px 0;
	height: 9px;
}

/**
 * Fixed header override styles starts
 */

html {
    &.ie8 {
        &.disableBodyScroll {
            overflow-y: auto;
        }

        body {
            &.disableBodyScroll {
                position: static;
            }
        }


        #wrapper {
        	padding-top: 0px;
        }


        .plain-full-bleed {
            background-color: #fff;
        }

        #masthead-wrapper {
            position: relative;
            border-bottom: none;

            &.pageScrolling {
                box-shadow: none;
            }

            &.hideCatNav {
                height: 120px;

                #page-background-mask {
                    top: 0px;
                }
            }
        }

        #catalogue-nav-wrapper {
            min-height: 52px;
            display: block;

            &.hideCatNav {
                min-height: 52px;
            }
        }
    }
}


/**
 * Fixed header override styles ends
 */

#header,
#content {
	float: left;
	background-color: #FFF;
}
#content,
#supplemental,
#footer,
#footer-mini {
	/*background-image: url("../images/drop_shadow.png");*/
	background-repeat: repeat-y;
	background-position: 50% 0;
	width: 960px;
}
#content {
	width:100%;
    padding-left:14px;
	padding-right:4px;
}
form {
    margin:0;
}
caption{
	display: none;
}
button{
	font-family: Arial, sans-serif;
	cursor: pointer;
	outline: 0 none;
}
.placeholder{
	color: #848282;
}
input,
select{
	font-size: 1.2em;
	font-family: Arial, sans-serif;
}

/* non modal lightbox styling */

.non-modal-lightbox{
	display: none;
}
.hidden{
	display: none;
}
.reveal{
    display: block;
}

