
/* 3.2 Basket */

/* CSS for the basket in the store header */

#basket {
    position: absolute;
    top: 22px;
    border: 1px solid #EEEBEB;
    padding: 6px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	right: 14px;
	z-index: 9999;
}
#basket h2 {
	font-size: 1.1em;	
}
.basket h2 .button{
	margin: 0 2px 0 0;
	padding: 1px 0 1px 0;
	display: block;
	float: left;
	width: 130px;
	height: 17px;
}
.basket h2 .open-basket{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	width: 21px;
	height: 20px;
	background: #DDD7D7 url("../images/icon_sprite.png") no-repeat scroll 0px -55px;
	display: block;
	float: right;
	text-indent: -9999px;
	z-index: 5;
	position: relative;
	overflow: hidden;
}
.basket h2.empty .open-basket{
	background: #e4f2ff url("../images/icon_sprite.png") no-repeat scroll -50px -54px;
	cursor:default;
}
/*#basket-toggle .open-basket:hover, */
.expanded h2 .open-basket {
	background: #DDD7D7 url("../images/icon_sprite.png") no-repeat scroll -25px -55px;
}
/*.basket h2.empty .open-basket:hover{
	cursor:default;
}*/
.expanded .basket-inner .focus span{
	background-color: #00539f;
}
.basket .items {
    font-size: 1.1em;
    color: #4F5050;
    line-height: 1.5;
    margin: 0;
}
.basket .total {
    float: right;
    font-size: 1.1em;
    color: #4F5050;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 3px;
}
.basket .total em {
    font-weight: bold;
}
.basket-title {
    float: left;
}
.expanded .basket-inner h2{
	margin-bottom: 5px;
}
.basket-toggle {
    display: block;
    width: 14px;
    height: 7px;
    background: url("../images/toggle_down.gif") no-repeat 0 0;
    text-indent: -1000em;
    float: right;
    margin-top: 4px;
    outline: none;
    line-height: 7px;
}
.expanded .basket-toggle{
    background: url("../images/toggle_down.gif") no-repeat 0 -9px;
}

.basket-wrapper {
	display: none;	
	float: left;
	width: 278px;
	position: absolute;
	top: 18px;
	z-index: 9999;
	right: 0;
	/* background-color: #ffffff; */
}

.basket-container {
    clear: both;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 1px 1px 5px #000000;
	-webkit-box-shadow:1px 1px 5px #000000;
	-webkit-border-radius: 4px 4px 4px 4px;
	width: 278px;
	padding: 5px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#A09898', Direction=135, Strength=4);
	background-color: #ffffff; 
	border: #a09898 1px solid;
}

.basket-wrapper .navigation-tip {
	position: relative;
	top: 1px;
	left: 247px;
	z-index: 9999;	
	display: block;
}

.basket-container h3{
	margin:-24px 0 0;
	padding:0 0 3px;
	color: #848282;
	font-size: 1.6em;
	border-bottom: 1px solid #DDD7D7;
	font-weight: bold;
	z-index: 1;
	position: relative;
}
.basket-container .price-notification{
	border-bottom: 1px solid #DDD7D7;
}

.basket-container .price-notification p{
	margin: 0px 0 5px 0;
	padding: 10px;
	background: #fcf7cf;
	color: #4F5050;
	font-size: 1.1em;
}

.expanded .basket-container {
    display: block;
}
.basket-contents {
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #DDD7D7;
    border-width: 1px 0;
}
.basket-contents h4,
.basket-item-cost,
.basket-data {
    color: #4F5050;
    font-weight: bold;
	font-size: 1.1em;
}
.basket-highlight {
    color: #EC1B2C;
}
.basket-contents h4 {
    font-size: 1.2em;
    margin: 5px 0 0;
    color:#848282;
}
.basket-totals,
.basket-contents-list li {
    font-size: 1.1em;
}
.basket-contents-list li {
    overflow: hidden;
    border-bottom: 1px dashed #DDD7D7;
    padding: 5px 0 5px 2px;
    display: block;
}
.basket-contents-list li.last {
    border-bottom: 0 none;
    -moz-border-image: none;
}
.basket-contents-list li img {
    float: left;
    margin: 0 10px 0 0;
    overflow: hidden;
}
.basket-item-quantity {
    float: left;
    margin-right: 3px;
}
.basket-item-description {
    float: left;
    display: block;
	width: 135px;
	font-size: 1.1em;
	word-wrap: break-word;	
	margin-left:-5px;
}
.basket-item-cost {
    float: right;
    color:#848282;
}
.basket .basket-item-cost:hover {
	background: none;
}
.basket-totals {
    padding: 2px 4px 0 4px;
	overflow: auto;
	-moz-border-image: url(../images/border_dotted.gif) 1 1 1 1 / 1px 0 0 0 repeat;
	-o-border-image: url(../images/border_dotted.gif) 1 1 1 1 / 1px 0 0 0 repeat;
	-webkit-border-image: url(../images/border_dotted.gif) 1 1 1 1 / 1px 0 0 0 repeat;
}
.basket-data {
    padding: 3px 1px 0;
    overflow: hidden;
}
.basket .basket-data-value:hover {
	background: none;
}
.basket-data-name {
    float: left;
}
.basket-data-value {
    float: right;
}

.basket-footer{
	overflow: auto;
}

.basket-footer .basket-data {
    padding: 5px 0;
}

.basket-footer .basket-large{
	margin: 0;
	width: 100%;
	text-align: center;
}
.basket-footnote {
    font-size: 1.1em;
    margin: 0;
    padding: 5px 5px 0;
    float: left;
    color:#848282;
}

.basket-data .total-payment{
	padding: 5px;
	background: #D9D9D9;
	overflow: auto;
}

.basket-data .total-payment p{
	margin: 0;
	font-size: 1.1em;
}

.basket-data .total-payment .title{
	float: left;
	margin-top: 10px;
}

.basket-data .total-payment .points{
	border-top: 1px dotted #848282;
	
	padding: 5px 0 0 0;
	float: left;
	width: 100%;
}

.basket-data .total-payment .points span{
	float: right;
	font-size:1em;
	color: #4F5050;
}

.basket-data .total-cost{
	float: right;
}

.basket .basket-data .total-payment span{
	background: none;
}

.basket-data .total-payment .currency{
	font-weight: normal;
	font-size: 1.4em;
}

.basket-data .total-payment .integer{
	font-size: 2em;
}

.basket-data .total-payment .decimal{
	font-size: 1.4em;
}

.basket-footnote a {
    display: block;
    margin-left: 7px;
}

.expanded .basket-footnote,
.expanded .basket-data,
.expanded .basket-footer,
.expanded .basket-footer .button {
    display: block;
}

.bcve-basket-details {
    background: url("../images/BCVE_Logo.png") no-repeat scroll 0 10px transparent;
    margin: 10px 0;
    min-height: 32px;
    padding: 10px 10px 10px 60px;
    width: 176px;    
}