
/* 5.1.1 Product filter popup 	*/

.popup{
	display: none;
}
.delivery-address-popup ul{
    margin-top: 1em;
    padding-bottom: 30px;
    list-style-position: outside;
	list-style-type: disc;
	padding-left: 14px;
}
.delivery-address-popups li {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.delivery-address-popup ul li{
	padding-left: 6px;
}
#delivery-info{
	padding: 10px;
	width: 650px;
	height: 485px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	overflow: auto;
}
#delivery-info p.deliver-time{
	margin-left:1.5em
}
#delivery-info p.deliver-time sup{
	margin-left:-0.65em;
	vertical-align: baseline;
}
#brand-select{
	padding: 10px;
	width: 600px;
	height: 385px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #DDD7D7;
	overflow: auto;
}
#brand-select h2, #delivery-info h2{
	font-size: 1.8em;
}
#brand-select .facet-selector{
	margin: 10px 0;
	padding: 10px 0;
	border-top: 1px solid #DDD7D7;
	border-bottom: 1px solid #DDD7D7;
	height: 275px;
	overflow-y: auto;
	overflow-x: hidden;
}
#brand-select ul{
	padding: 2px 2px;
	width: 180px;
	display: block;
	float: left;
}
#brand-select ul li{
	margin: 0 0 5px 0;
	font-size: 1.1em;
}
#brand-select ul li input{
	margin: 0 10px 0 0;
}
#brand-select ul li label a{
	margin: 0 10px 0 0;
}
#brand-select .actions{
	overflow: auto;
	height: 20px;
}
#brand-select .actions a,
#brand-select .actions input{
	float: right;
	margin: 0 0 0 10px;
}
#brand-select .actions a{
	background: #fff;
}
#brand-select .actions input{
	padding: 1px 12px 1px 15px;
	margin: 0 80px 0 0;
}
#brand-select .category-filter li a{
	padding: 0 5px 0 20px;
	background: url("../images/sprt-left-nav-check-grey.jpg") 0 100% no-repeat;
}
#brand-select .category-filter li a.checked{
	background-position: 0 0;
}
.compare-modal .actions .button {
	margin-right: 10px;
}
.ui-dialog-titlebar-close{
	background: url("../images/icon_sprite.png") no-repeat scroll 0 0 transparent;
	height: 20px;
	width: 20px;
	position: relative;
	display: block;
	float: right;
	text-indent:-9999px;
	z-index: 200;
	right: 26px;
	top: 22px;
}
.ui-widget-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color:#000;
     opacity: 0.7;
}
.ui-dialog{
	position:absolute;
}
.ui-dialog-buttonset .disabled-standard{
	margin: -29px 30px 0 0;
	padding: 0 11px;
	position: relative;
	float: right;
	background-color: #fff;
	cursor: pointer;
}
.ui-dialog-buttonset .input-standard{
	margin: -40px 0 0 270px;
}
.imageLightbox .ui-dialog-buttonset .disabled-standard{
	margin: 10px;
}
.imageLightbox .ui-dialog-titlebar-close{
	right: -15px;
	top: 5px;
}
.imageLightbox{
	background: #fff;
	padding: 0 20px 20px 20px;	
}
.confirm-address-edit,
.security-code{
	padding: 30px 10px;
	background: #DDD7D7;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.confirm-address-edit p,
.security-code p{
	font-size: 1.2em;
	font-weight: bold;
	color: #848282;
}
.confirm-address-edit .actions{
	margin: 0 0 0 350px;
	padding: 20px 0 0 0;
	display: block;
}
.confirm-address-edit .actions a{
	display: block;
	float: left;
}
.cancel-edit .ui-dialog-buttonset .disabled-standard{
	margin: -30px 260px 0 0;
	padding: 1px 11px;
}
.confirm-address-edit .actions .input-standard{
	margin: -2px 0 0 10px;
}
