
/* */

#breadcrumbs {
    float: left;
    width: 926px;
    font-size: 1.1em;
    margin: 3px 14px 0;
    padding: 0 7px 0 10px;
}
#breadcrumbs p {
    float: left;
    margin: 0;
    font-size:1em;
    display: none; 
}
#breadcrumbs ul {
    float: left;
}
#breadcrumbs li {
    float: left;
	color:#575757;
}
#breadcrumbs li.last {
    color: #4F5050;
}
.breadcrumbs-separator{
	padding:0 3px;
	color: #000;	
}