
/* 2.1	Common buttons */

a.button,
input.button,
button.button{
    padding: 2px 12px 2px 12px;
}

input.button{
	padding: 1px 12px 1px 12px;
}

button.disabled-standard,
input.disabled-standard{
    font-size: 1.2em;
    font-weight: bold;
    color: #6e6e6e;
    border: 1px solid #ddd7d7;
	background: #fff;
	cursor:default;
}

button.disabled-standard:hover,
input.disabled-standard:hover{
    color: #fff;
	text-decoration: none;
	cursor:pointer;
}
a.show-more:active{
	background-color: #454648;
}
a.show-more:focus{
	background-color: #454648;
}
input.generic-standard,
a.generic-standard,
button.generic-standard{
    font-size: 1.2em;
    font-weight: bold;
}

.standalone-button{
    margin:10px 10px 20px;
    display:inline-block;
}

input.generic-standard:hover,
button.generic-standard:hover{
   	background: #dce4f9;
	text-decoration: none;
	cursor: pointer;
	color: #00539f;
}
a.generic-standard-arrow{
    padding: 2px 12px 2px 12px;
    font-size: 1.2em;
    font-weight: bold;
    color: #00539f;
    border: 1px solid #e4f2ff;
    background: #e6ecfa url(../images/btn_blue_standard_repeat.jpg) repeat-x scroll 0 0;
    display: inline;
}
a.generic-standard-arrow:hover{
	background: #e4f2ff;
	text-decoration: none;
	cursor: pointer;
}
a.basket-standard,
input.basket-standard,
button.basket-standard{
    padding: 2px 12px 1px 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
	color: #fff;
    border: 1px solid #ea9c06;
    background:#f1872f url(../images/btn_orange_standard_repeat.jpg) 0 0 repeat-x;
	text-decoration: none;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0%, #fe8300),
		color-stop(48%, #fe8f00),
        color-stop(83%, #fea100)
    );
    background:-moz-linear-gradient(
        center bottom,
        #fe8300 0%,
		#fe8f00 48%,
        #fea100 83%
    );
}
a:hover.basket-standard,
.basket .focus .basket-standard,
input.basket-standard:hover,
button.basket-standard:hover{
	text-decoration: none;
	background: #ff7800;
	cursor: pointer;
}
input.basket-standard.disabled {
	cursor:default;
	/*filter:alpha(opacity=35);*/
	opacity: 0.35;
	outline:none;
}
a.basket-large,
input.basket-large{
   font-size: 1.8em;
    font-weight: bold;
    white-space:normal;
    color: #fff;
    border: 1px solid #fea100;
	text-decoration: none;
    background: #ff8402 url(../images/btn_orange_large_repeat.jpg) 0 0 repeat-x;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0%, #fe8300),
		color-stop(48%, #fe8f00),
        color-stop(83%, #fea100)
    );
    background: -moz-linear-gradient(center bottom , #fe8300 0%, #fe8f00 48%, #fea100 83%) repeat scroll 0 0 transparent;
}
a.basket-large:hover,
input.basket-large:hover{
	text-decoration: none;
	background: #ff7800;
	cursor: pointer;
	white-space:normal;
}

input.input-standard,
a.input-standard,
button.input-standard{
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

input.input-large,
a.input-large,
button.input-large{
	font-size: 1.6em;
    font-weight: bold;
    background: #0C4A86 url(../images/btn_input_standard_large.jpg) 0 0 repeat-x;
    background-image: -moz-linear-gradient(
        center top,
        #1E63A5 0%,
        #0C4A86 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop( 0%, #1E63A5 ),
        color-stop( 100%, #0C4A86 ) );
    border: 0 none;
    color: #FFF;
    cursor: pointer;
	width: 180px;
	text-align: center;
	display: block;
}

button.input-standard:hover,
input.input-large:hover,
a.input-large:hover,
button.input-large:hover{
	background: #09437B;
	text-decoration: none;
}
