

/* 5.13 Carousel */

.ui-carousel{
    width: inherit;
}  
.ui-carousel .ui-carousel-clip, .ui-carousel{
	position:relative;
	overflow:hidden;
}
.grid-1 .ui-carousel .ui-carousel-clip{
	 width: 180px;
}
.grid-2 .ui-carousel .ui-carousel-clip{
	width: 370px;
}
.grid-3 .ui-carousel .ui-carousel-clip{
	width: 560px;
}
.grid-4 .ui-carousel .ui-carousel-clip{
	width: 750px;
}
.grid-5 .ui-carousel .ui-carousel-clip{
	width: 940px;
}
.ui-carousel h2 {
    float: left;	
}
.ui-carousel-slide {
    width: 10000px;
    position: relative;
    float: left;
}
.product-grid li.ui-carousel-modulo {
    border: none;
    width: 180px;
}

.carousel .ui-carousel-navigation {
    float: right;
    margin: 6px 0 10px;
}

.carousel .ui-carousel-navigation li {
	float:left;
    width: 49px;
    height: 19px;
	min-height: inherit;
    border: 0 none;
	margin: 0 10px 0 0;
	background: #0C4A86 url("../images/btn_input_standard.jpg") 0 0 repeat-x;
	background: -moz-linear-gradient(
        top,
        #1E63A5 0%,
		#195c9d 50%,
        #0e4d89 100%);
    background: -webkit-gradient(
		linear,
        left top,
		left bottom,
        color-stop( 0%, #1E63A5 ),
		color-stop( 50%, #195c9d),
        color-stop( 100%, #0e4d89 ) );
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.carousel .ui-carousel-navigation li a {
	float:left;
    text-indent: -1000em;
	height: 100%;
	width: 100%;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.carousel .ui-carousel-navigation li a:hover {
	background-color: #09437B;
}

.carousel .ui-carousel-navigation .ui-state-disabled a, .carousel .ui-carousel-navigation .ui-state-disabled a:hover {
	cursor: default;
	/* background-color: #DDD7D7; */
	outline: 0 none;
}
.carousel .ui-carousel-navigation .ui-state-disabled {
    opacity: 0.35;
    filter:alpha(opacity=35);
}

.selected-slot-head{
	width: auto;
    font-size: 1.5em;
    font-weight: bold;
    color: #848282;
    margin: 7px 0px 0 0;
}
.ui-carousel-tracker, .product-grid .ui-carousel-tracker {
	display:none;
}
.carousel .ui-carousel-previous a {
    background: transparent url("../images/ui-carousel-previous.png") no-repeat 20% 50%;
}
.carousel .ui-carousel-next a {
    background: transparent url("../images/ui-carousel-next.png") no-repeat 80% 50%;
}
.grid-5 .product-grid {
	margin: 0 10px 0 0px;
}