/* ---Claims Management------- */
.claim-management .claim-radio{
  vertical-align: middle;
}
.claim-management .claim-radio-label{
  font-size:1.1em;
    font-weight:normal;
    margin-top:2px;
    width:auto;
    vertical-align: middle;
    float: none;
    color: #4F5050;
}
.claim-management #item-number, .claim-management #seller-date{
  display:  none;
}
.claim-management #datepickerImage{
  position: relative;
  top: 4px; 
}
#ui-datepicker-div{
  background: #fff;
  border: 1px solid #eee;
  font-size: 1.1em;
}
