.displayNone{display:none;}

/* Section: bannerRotator4.js  */
#imagesToList {position:relative; width:750px; overflow:hidden;}
#imagesList {list-style:none; margin:0; padding:0; width:750px; height:430px; overflow:hidden;}
.hasJS #imagesList li {left:-200em; position:absolute; top:0;padding:0;}
#imagesList li, 
#imagesList li a {display:block; width:750px; height:430px;}
.hasJS #imagesList li.current {left:0; top:0;}
#imagesList a img {left:0; position:relative; top:0;}
ul#linksList {clear:both; list-style:none; margin:0; padding:0; font:small/0.8 verdana,sans-serif; display:block; position:absolute; right:1px; bottom:1px; z-index:1000;
width:71px;background:#fff;}
ul#linksList li {background:#fff; display:inline; float:left; margin:0 0 3px 3px; position:relative;padding:3px 0 0;}
ul#linksList li a {display:block; border:0px solid #999; font-weight:bold; background-color:#939292; color:#999; padding:0; text-decoration:none;width:14px;height:15px;}
.hasJS ul#linksList li a.current {background-color:#272626; border-color:#999; color:#fff;}

/*--------------------------------------------------------------------------
	=clear fixes
----------------------------------------------------------------------------*/
.product-list li:after,
.storefinder-maparea:after,
#seller-tabs:after,
.ss-custom-layout:after,
.more-product-options:after,
.clubcard-details:after,
.payment-summary .primary-info .basket-items li:after,
.product-grid .ui-widget-content:after,
.shopby-layout ul:after,
.product-gallery-layout-grid:after,
.product-gallery-layout-mesh:after,
.product-list .pageDivider:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	overflow:hidden;
	visibility:hidden;
}
#flyoutViewerContainer{
	z-index:1000;
	width: 259px; 
	height:auto;
	min-height: 340px; 
	position: relative; 
	float: left;
}
.address-card-section .btn-edit{
	clear:both;
}

p.warningMessage {
	margin:5px 0 0 0 !important;
	padding:0;
	font-size:1.1em;
}
.negMarginLeft10 {
	margin-left: -10px;
}

