.tesco-cookie {
	background-color: #0053A0;
    display: none;
    height: 30px;
    left: 0;
    padding: 5px 0;
    position: relative;
    width: 100%;
    z-index: 9999;
	opacity:0.9; 
	filter: alpha(opacity=90);
	position: absolute;
	
	div {
		margin: 0 auto;
	    width: 940px;
	}
	
	p {
		color: #FFFFFF;
	    float: left;
	    margin: 6px 0;
	    padding: 0 10px;
	}
	
	a {
		color: white;
    	text-decoration: underline;
    	
    	img {
    		border-radius: 2px 2px 2px 2px;
    		float: right;
    		margin: 5px;
    	}
	}
}