

/* 5.10 Delivery Options */

/*
	General styling for delivery option pages
*/

.delivery-nav{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 1.2em;
    padding: 3px 19px 1px 19px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

/* 5.10.1 Delivery Options 1 */

/*
	Delivery option 1 block for delivery options 1 page
*/

.option-2 .delivery-restrictions{
	margin: 0 0 20px 0;
}
.option-1, .option-2, .option-3{
    border-bottom: 1px dashed #bab8b9;
	margin-bottom: 20px;
}
.option-1, .option-2, .option-3{
	float: left;
	width:920px;
}
.option-1 .button,
.option-3 .button{
	float: left;
}
.delivery-address{
    float: left;
    border: 1px solid #DDD7D7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 8px 10px 10px;
    margin: 10px 10px 20px 0;
    width: 205px;
    min-height: 150px;
}
.option-2 .unavailable{
    background: #D9D9D9;
    /*padding: 10px 10px 5px 10px*/;
}
.delivery-address h3{
    color: #4F5050;
}
.option-2 .unavailable h3{
	color : #575757;
}
.delivery-address p{
    color: #4F5050;
    font-size:12px;
}
.unavailable p{
	color: #848282;
}
.delivery-address .no-delivery{
	font-weight: bold;
	font-size: 1.3em;
	margin: -7px 0 0 0;
	color: #4F5050;
}

.option-3 .choose-delivery{
    background: #185a9a;
    background-image: -moz-linear-gradient(
        center top,
        #1e63a5 0%,
        #0e4d89 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop( 0%, #1e63a5 ),
        color-stop( 100%, #0e4d89 ));
    margin: 0px 0 13px 0;
}

form#delivery-addresses{
	margin-bottom: 40px;
}

/* 5.10.2 Delivery Options 2 */

/*
	Delivery options 2 block for delivery options 2 page
*/
#delivered-to .input-standard{
	margin: 0 10px 10px 0;
	float: right;
}
#delivered-to .form-field-secondary label{
	padding: 0;
	margin: 2px 0 0 3px;
}
.delivery-details {
    clear: both;
    overflow: hidden;
    margin: 30px 0 0 0;
    padding: 0;
}
.delivery-details .last-item {
	margin: 0;
    padding: 45px 0 40px 0;
}
span.char-limit{
    color: #848282;
    display: block;
    font-size: 1.1em;
    float: right;
    margin: 3px 15px 0 0;
	font-style: italic;
}
input#address-nickname{
  float: left;
}
.delivery-details .delivery-instructions{
	width: 475px;
}
textarea.instructions{
    margin: 3px 0;
	width: 310px;
    height: 80px;
}
.delivery-details p{
    color: #848282;
    margin: 0;
    font-size: 1.2em;
}
.delivery-details .form-field .vcard{
	margin: 0 0 10px 0;
	padding: 0;
}

fieldset.personal-details{
    float: left;
    border:0;
    padding: 0 30px 0 0;
}
.delivery-details fieldset{
   	width: 600px;
   	padding-bottom:14px;
}
.delivery-details.last .personal-details{
	margin: 0 0 20px 0;
}
.delivery-details .personal-details .adr p{
	padding-left:200px;
}
#delivered-to fieldset{
	width: 100%;
	padding: 0 0 20px 0;
	border-bottom: 1px dashed #DDD7D7;
}
.peronsal-details p{
    float: left;
}
p.contact-instr{
    margin: 0 0 17px 0;
}
fieldset.contact-details{
    margin: 0;
    padding: 0 0 0 25px;
    border:0;
    border-left: 1px solid #DDD7D7;
}
.delivery-details .last-item{
	padding: 0 0 35px 0;
	clear: both;
}
.delivery-details .action-wrapper{
	border-top: 1px dashed #DDD7D7;
	padding: 30px 0 0 0;
}

/* 5.10.3 Delivery Options 3 */

/*
	Delivery options 3 block for delivery options 3 page
*/

div#delivery-address table{
    border-bottom: 1px solid #DDD7D7;
    padding:0;
    border-collapse: collapse;
    margin: 0 0 40px 0;
    width:100%;
}
#delivery-address thead th{
    text-align: left;
    color: #575757;
    font-size: 1.4em;
}
th.item-heading{
    padding: 15px 15px 15px 10px;
}
th.address-heading{
    padding: 15px 15px 15px 13px;
}
#delivery-address tbody{
    color: #4F5050;
}
#delivery-address td{
/*    font-size: 1.1em;*/
}
#delivery-address .item{
    width: 300px;
    padding: 10px 30px 10px 5px;
	font-size: 1.1em;
	vertical-align:top;
}
#delivery-address .item-count, #delivery-address .additional .item-count{
	padding:12px 0 0 10px;
	vertical-align:top;
}
#delivery-address .address{
    padding: 10px 5px 10px 13px;
    vertical-align: top;
}
.item span{
    padding: 2px 14px 15px 0;
    float: left;
    display: block;
}
#delivery-address tr{
    border-top: 1px dashed #DDD7D7;
}
#delivery-address select{
    width: 300px;
    margin: 0 2px 0 0;
    float:left;
}
#delivery-address .additional{
	border: none;
}
#delivery-address .additional td{
	padding: 10px 0px 10px 5px;
}
#delivery-address .has-additional td{
	padding-bottom: 0px;
}
#delivery-address thead tr{
	border: none;
}
#delivery-address .additional .disabled-standard{
	float: right;
}
#delivery-address .product-title{
    font-size: 1.3em;
	margin: 0 20px 10px 0;
	height: 50px;
	width: 275px;
	overflow: hidden;
}
#delivery-addresses table .generic-standard{
	float: right;
	margin: 0 5px 0 5px;
}
#delivered-to .generic-standard,
#delivery-addresses .generic-standard{
	float: left;
	margin: 0 0 0 5px;
}
#delivery-addresses .input-standard{
	margin: 0 15px 0 0;
	float: right;
}
#delivery-addresses label.invalid{
	margin: 15px 5px 5px -40px;
}

#delivery-addresses .button{
	margin-bottom:20px; 
}

/* 5.10.4 Delivery Options 4 */

/*
	Delivery time selector
*/

.date-selector{
    margin: 30px 0 0 0;
    width: 700px;
    display: block;
    float: left;
    position: relative;
}
.date-selector a.prev,
.date-selector a.next{
    display: none;
}

.date-key ul{
    overflow: auto;
}
.date-key ul .reserved{
    display: none;
}
.date-selector .week-selector li.active{
    background: url("../images/week_selector_bg.jpg") 0 0 repeat-x;
    background: -moz-linear-gradient(
        center top,
        #545d64 63%,
        #4F5050 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop( 63%, #545d64 ),
        color-stop( 100%, #4F5050 ));
}
.date-selector .select-date td.unavailable{
    background: #DDD7D7;
    color: #848282;
}
.date-summary,
.date-key{
    width: 230px;
    display: block;
    float: right;
    overflow: auto;
}
.date-selector .note{
    margin: 0;
    font-size: 1.2em;
}
.date-selector .generic-standard{
    margin: 40px 0 0 0;
float: left;
}
.date-selector .week-selector{
    overflow: auto;
	display: none;
}
.date-selector .week-selector ul{
    margin: 0 0 0 78px;
}
.date-selector .week-selector li{
    margin: 0 4px 0 0;
    display: block;
    float: left;
    font-size: 1.2em;
}
.date-selector .week-selector li a{
    margin: 5px 8px;
    display: block;
    color: #000;
}
.date-selector .week-selector li.active a{
    color: #fff;
    font-weight: bold;
}
.date-selector .week-selector .top li{
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border-top: 1px solid #DDD7D7;
    border-left: 1px solid #DDD7D7;
    border-right: 1px solid #DDD7D7;
}
.date-selector .week-selector .bottom li{
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border-bottom: 1px solid #DDD7D7;
    border-left: 1px solid #DDD7D7;
    border-right: 1px solid #DDD7D7;
}
.date-selector .select-date thead th.context{
    border-top: none;
    border-left: none;
}
.date-selector .select-date th.context em{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.date-selector .select-date{
    margin: 0 0 30px 0;
	border-collapse: collapse;
    border-left: 1px solid #fff;
    width: 648px;
}
.date-selector .select-date em{
    font-weight: bold;
}
.date-selector .select-date thead th{
    color: #848282;
}
.date-selector .select-date thead td em{
    display: block;
    width: 100%;
}
.date-selector .select-date tbody th{
    width: 80px;
    height: 37px;
    color: #848282;
    border: 1px solid #DDD7D7;
    font-size: 1.1em;
}
.date-selector .select-date th,
.date-selector .select-date td{
    width: 86px;
    height: 37px;
    color: #00539f;
    border: 1px solid #DDD7D7;
    font-size: 1.2em;
    text-align: center;
}
.date-selector .select-date td label{
	cursor: pointer;
}
.date-selector .select-date td.unavailable label{
	cursor: default;
}
.date-selector .select-date td label:hover{
	text-decoration: underline;
}
.date-selector .select-date td.unavailable input{
    display: none;
}
.date-selector .select-date td.unavailable:hover{
	text-decoration: none;
}
.date-selector .prev,
.date-selector .next{
	display: none;
}
.date-summary{
    margin: 15px 0 0 0;
	min-height: 200px;
}
.post-selection{
	display: none;
}
.pre-selection{
	display: block;
}
.date-summary p{
    color: #848282;
}
.date-summary .inform-pre-selection,
.date-summary .inform-post-selection{
    font-size: 1.8em;
    font-weight: bold;
}
.date-summary .selection{
    font-size: 1.4em;
}
.date-summary .button{
    margin: 0 0 10px 0;
	float: left;
}
.date-key{
    margin: 0;
    font-size: 1.4em;
    color: #848282;
}
.date-key ul img{
    margin: -2px 10px 0 0;
    width: 30px;
    height: 18px;
    border: 1px solid #DDD7D7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
}
#service-charge{
	width: 230px;
	float: right;
	color: #848282;
}
#service-charge h3{
	font-size: 1.6em;
}
#service-charge h4{
	font-size: 1.4em;
}
#service-charge p{
	font-size: 1.2em;
}
.service-charge{
	width: 230px;
	display: block;
	float: right;
	display: none;
}

/* 5.10.4.1 Delivery Options 4 JS*/

.js-date-selector .date-summary .inform-pre-selection,
.js-date-selector .week-selector,
.js-date-selector .date-key ul .reserved{
    display: block;
}

.js-date-selector .select-date input,
.js-date-selector #week-02.select-date,
.js-date-selector #week-03.select-date{
    display: none;
}

.js-date-selector a.prev{
    width: 29px;
    height: 29px;
    display: block;
    text-indent: -9999px;
    background: url("../images/btn_delivery_scroll.jpg") 0 -29px no-repeat;
    position: absolute;
    top: 30px;
    left: 42px;
	outline: none;
}
.js-date-selector a.next{
    width: 29px;
    height: 29px;
    display: block;
    text-indent: -9999px;
    background: url("../images/btn_delivery_scroll.jpg") -29px 0 no-repeat;
    position: absolute;
    top: 30px;
    right: 17px;
	outline: none;
}
.js-date-selector .select-date{
	margin: 0;
}

.js-date-selector .note{
	margin: 30px 0 0 0;
}

.js-date-selector .select-date td.reserved{
    background: url("../images/bg_repeat_reserved.jpg") 0 0 repeat-x;
    background: -moz-linear-gradient(
        center top,
        #545d64 63%,
        #4F5050 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop( 63%, #545d64 ),
        color-stop( 100%, #4F5050 ));
    color: #fff;
    font-weight: bold;
}

.js-date-selector .date-key{
    margin: 200px 0 0 0;
}

.js-date-selector #service-charge{
	display: none;
}

.ui-dialog #service-charge{
	padding: 20px 20px 50px 20px;
	background: #DDD7D7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.ui-dialog #service-charge h3{
	margin: 0 0 15px 0;
}

.js-date-selector .service-charge{
	display: block;
}

/* 5.10.5	Delivery options 5	*/

.deliveries h2{
    padding: 0 0 6px 0;
    border-bottom: 1px solid #DDD7D7;
}
.deliveries .delivery-number table .items .order-product-name{
    line-height: 0.8em;
}
.deliveries h2 span{
    font-size: 0.7em;
}

.deliveries .item-price{
	margin:15px 40px 0 0;
	text-align: right;
}
.deliveries .services .price .item-price{
	margin:0px 40px 0 0;
}
.deliveries table tbody tr.services .item-price{
   margin-right:30px;
}
.deliveries .delivery-number{
    margin: 15px 0 40px 0;
}

.deliveries .payment-summary p{
    font-size: 1.2em;
}
.deliveries .payment-summary p span{
    float: right;
}
.deliveries table{
	width: 635px;
}
.deliveries table td,
.deliveries table th{
    text-align: left;
}
.deliveries table th.price {
	text-align: right;
	width:105px;
}
.deliveries table th.price div {
	margin-right: 40px;
}
.deliveries table thead,
.deliveries table tfoot{
    font-size: 1.4em;
}
.deliveries table th{
    padding: 10px 0px 5px 0px;
    color: #848282;
}
.deliveries table tbody tr{
    background: url("../images/border_dotted_simple.gif") 0 0 repeat-x;
}
.deliveries table tbody tr.services{
    background: none;
}
.deliveries table .items{
	width: 530px;
}
.deliveries table .items a{
    float: left;
}
.deliveries table .items a span.quantity{
	color: #4F5050;
	font-size:0.8em;
}
.deliveries table .service-items a{
	margin-left: 75px;
	font-size: 1.2em;
}
.deliveries table img{
    margin: -10px 15px 0 0;
    float: left;
    overflow: hidden;
}
.deliveries table .items h3{
    margin: 12px 0 8px 0;
    font-size: 1.4em;
    font-weight: normal;
}
.deliveries table tbody tr.services .items h3{
    margin: 0 0 8px 75px;
}
.deliveries .delivery-number table tbody tr.services .items h3{
    margin: 0 0 8px 55px;
}
.deliveries table .items h3 sup{
	color: #4F5050;
	font-size: 0.8em;
}
.deliveries .delivery-number .recipient-details div.adr{
	/* min-height:125px; */
}
.deliveries .delivery-number .recipient-details div.adr span{
	font-size:1em;
}
.deliveries .delivery-number .recipient-details a{
	font-size:1.1em;
}
.deliveries table .price{
    vertical-align: text-top;
}
.deliveries table tbody .price{
    font-size: 1.2em;
    text-align:right;
}
.deliveries table tfoot{
    color: #848282;
    background: #D9D9D9;
}
.deliveries table tfoot .footer-charges-text{
	text-align: right;
	padding-right: 0px;
}
.deliveries table tfoot td{
    padding: 5px 40px 5px 0;
    text-align: right;
}
.deliveries table tfoot ul{
    padding:0 30px 0 0;
    width: 190px;
    float: right;
}
.deliveries table tfoot, .deliveries table tfoot ul li{
    margin: 2px 0;
	color: #848282;
	font-weight: bold;
}
.deliveries table tfoot ul em{
    font-weight: bold;
}
.deliveries table tfoot ul span{
    float: right;
}
.delivery-number{
/*    width: 645px;
    float: left;
    overflow: hidden;*/
}
.deliveries .recipient-details h3{
    color: #848282;
    font-size: 1.4em;
	font-weight: bold;
}
.deliveries .recipient-details ul{
    /* min-height:110px; */
	margin:5px 0 0px;
	padding:20px 0 15px;
	position:relative;
	float: left;
}
.deliveries .recipient-details ul li{
    margin: 0 29px 0px 0;
	width: 178px;
	display: block;
	float: left;
	/*min-height: 105px;
	position: relative; */
}
.deliveries .recipient-details ul li span.type{
    display: none;
}
.deliveries .recipient-details ul li p{
    margin: 0;
    font-size: 1.2em;
}
.deliveries .recipient-details ul li .change-details{
    position: absolute;
	bottom: -5px;
}
.deliveries-order-summary .recipient-details ul{
	padding:20px 0 15px;
	margin-bottom: 15px;
}
.deliveries .recipient-details ul li .note{
	margin: 18px 0 0 0;
}

.deliveries .attention{
    color: #ec1b2c;
    font-weight: normal;
	font-size: 1.2em;
}
.page-summary .payment-summary .primary-info p.attention{
    margin: 0;
    padding: 10px 0 0 0;
	background: url("../images/order_summary_dotted.jpg") no-repeat 0 0;
}
p.locked{
    float: left;
}
.delivery-details form a.generic-standard {
    float:left;
	margin: 0 0 0 6px;
}
.delivery-details form input.input-standard {
    float:right;
	margin: 0 15px 0 0;
}

/* 5.10.6 Delivery Options 6 */
#edit-address .form-field-secondary{
	padding: 0 0 5px 215px;
	overflow: visible;
	float: left;
}
#edit-address .form-field .adr p{
	font-size: 1.2em;
    margin:0 0 0 225px;
}
#edit-address .form-field .edtAdrr{
	float:left;
}

#edit-address .form-field .edtAdrr p{
	display: block;
    float: none;
    margin:0;
}

#edit-address .form-field .adr .key{
	min-width:211px;
}

#edit-address .form-required{
	margin: 2px 0 0 0;
}
#edit-address #no-mobile{
	margin: 0 5px 0 0;
}
#edit-address div.myaccount-button{
	padding-top: 20px;	
}
#edit-address .action-wrapper{
	padding: 100px 0 0 0;
	margin:0 2px 40px -5px;
}
#edit-address .no-mobile{
	margin: 1px 0 0 3px;
}
#edit-address .vcard .adr{
	padding-bottom:15px;	
}
/* 5.10.7	Delivery options 7	*/

.delivery-options p.action-conf{
	font-size: 2em;
	font-weight: bold;
	color: #848282;
	margin-bottom: 0;
}
.delivery-options p.action-select{
	margin-top: 0;
	font-size: 1.8em;
	font-weight: bold;
	color: #848282;
}
.delivery-options h2 {
    padding:0 0 5px;
	border-bottom: 1px solid #DDD7D7;
}
.delivery-options h2 span {
    font-size:0.7em;
}
.delivery-options .attention{
    color: #ec1b2c;
    font-weight: normal;
}
.delivery-options .change-conf{
    margin: 0 0 3px 0;
    font-size: 1.8em;
    color: #848282;
}
.delivery-options .change-conf a{
    font-weight: bold;
}
.delivery-options .calculator-info{
    display: block;
    float: left;
    margin: 5px 0 15px 0;
    font-size: 1.1em;
}
.delivery-options .delivery-number{
    width: 100%;
    margin: 40px 0 0 0;
	border-bottom:1px solid #DDD7D7;
	float: left;
}
.delivery-options .delivery-number .options .items{
	background: url("../images/border_dotted_simple.gif") bottom repeat-x;
}
.delivery-options .payment-summary .primary-info{
	padding: 10px;
}
.delivery-options .delivery-number table{
    margin: 10px 0 10px 0;
    width: 950px;
}
.delivery-options .delivery-number table em{
    font-weight: bold;
}
.delivery-options .delivery-number th{
    font-size: 1.4em;
    color: #575757;
    padding: 10px 0;
    /*background: url(../images/border_dotted_simple.gif) 0 100% repeat-x;*/
    text-align: left;
}
.delivery-options .delivery-number th.price{
    /*text-indent: -9999px;*/
    padding-right:10px;
	text-align:right;
}
.delivery-options .delivery-number td{
    vertical-align: top;
}
.delivery-options .delivery-number .items{
    width: 390px;
}
.delivery-options .delivery-number .charge{
	text-align: right;
	padding: 10px 0px 10px 0;
}
.delivery-options .delivery-number .price{
    width: 130px;
}
.delivery-options .delivery-number .items h3{
    font-size: 1.4em;
    font-weight: normal;
    margin: 12px 0 8px;
    color: #00539f;
    float:left;
    /*width:220px;*/
    width:auto;
}
.delivery-options .delivery-number .items img{
    margin: 0 10px 0 0;
    float: left;
    overflow:hidden;
}
.delivery-group .services td{
	background:transparent none;	
}
.delivery-group .items .product-tile-prd-name,.save-for-later .product-tile-image{
  height: 50px;
}
.delivery-options .delivery-number .items sup{
    /*padding: 0 5px 0 0;
    height: 50px;
    color: #4F5050;*/
    display: block;
    float: left;
    font-size:14px;
    padding:7px 5px 0 65px;
}
.delivery-options .delivery-number td.price{
	color: #4F5050;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 12px 10px 0 0;
}
.delivery-options .delivery-number .options li{
    margin: 10px 0;
    padding: 8px 20px 10px 10px;
    border: 1px solid #DDD7D7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 4px #c2c2c2;
    -webkit-box-shadow: 0 0 4px #c2c2c2;
    box-shadow: 0 0 4px #c2c2c2;
}
.delivery-options .delivery-number .options li.tooltip-main{
    margin: 0px 0px;
    padding: 0px;
    border: 0px solid #DDD7D7;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 0 0px #c2c2c2;
    -webkit-box-shadow: 0 0 0px #c2c2c2;
    box-shadow: 0 0 0px #c2c2c2;
}
.delivery-options .delivery-number .options li.view{
    margin: 0px 0px;
    padding: 0px;
    border: 0px solid #DDD7D7;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 0 0px #c2c2c2;
    -webkit-box-shadow: 0 0 0px #c2c2c2;
    box-shadow: 0 0 0px #c2c2c2;
}
.delivery-options .delivery-number .options .selected{
    border: 1px solid #848282;
    -moz-box-shadow: 0 0 5px #0752A3;
    -webkit-box-shadow: 0 0 5px #0752A3;
    box-shadow: 0 0 4px #0752A3;
}
.delivery-options .delivery-number .options label{
    font-size: 1.6em;
    font-weight: bold;
    color: #00539f;
}
.delivery-options .delivery-number .options input{
    margin: 2px 8px 0 3px;
    position:relative;
    top:2px;
}
.delivery-options .delivery-number .options .price{
    width: auto;
    float: right;
    margin-top:0;
}
.delivery-options .delivery-number .options .discount span{
    text-decoration: line-through;
    font-weight: normal;
}
.delivery-options .delivery-number .options .price em{
    text-decoration: none;
    font-weight: normal;
}
.delivery-options .delivery-number .options .instruction{
    padding: 5px 0;
}
.delivery-options .delivery-number .options .button{
    margin: 2px 0 0 10px;
}
.delivery-options .delivery-number .options .delivery-option-button,
.delivery-options .delivery-number .options .delivery-option-button-nonjs{
	width:93%;
    margin:10px 0 0 29px;
    border-top:1px solid #DDD7D7;
    padding-top:10px;
}
.delivery-options .hr.marginB0 {
	margin-bottom: 0;
}
#scheduled-delivery-dates{
	width:200px;
	margin-right: 0px;
}
.deliver-group-info .delivery-group-update{
	margin: 10px;
	float: right;
}
.schedule-delivery-js{
	display: none;
}
.total-delivery-cost .disabled-standard{
	font-size: 1em;
	position: relative;
	right: 250px;
}
.delivery-options .delivery-number .options .delivery-option-button .button{
	margin-left:0;
}
.delivery-options .delivery-number .options #btn-deliverydate{
    margin: 2px 0 0 0px;
}
.delivery-options .delivery-number .options .prem-delivery .button{
    float: right;
}
.delivery-options .delivery-number .options .cheapest{
    margin: 0 0 20px 20px;
    padding: 0;
}
.delivery-options .delivery-number .options .cheapest p{
	margin: 0;
}
.delivery-options .delivery-number .options .cheapest .tagline{
    font-size: 1.4em;
    font-weight: bold;
    color: #848282;
}
.delivery-options .delivery-number .options .cheapest .info{
    font-size: 1.1em;
    float: left;
    display: block;
    width: 100%;
}
.delivery-options .delivery-number .cheapest .button{
    margin: 10px 0 0 0;
	float: left;
}
.delivery-options .summary{
    margin: 20px 0 0 0;
    float: right;
    width: auto;
}
.delivery-options .summary .secondary-info a{
    font-size: 1.1em;
	margin: 0;
}
.delivery-options .summary .secondary-info p{
    padding: 5px 0;
	font-size: 1.1em;
}
#content .delivery-options .summary .payment-summary .primary-info .total-payment{
    margin: 0;
}
#content .delivery-options .summary .payment-summary .primary-info .total-payment .total-cost{
    margin: 0px;
}
.delivery-options .standalone-link{
    margin: 20px 0;
    width: 100%;
    float: left;
}
.delivery-options .standalone-link .generic-standard{
	float: left;
	margin: 0 0 0 5px;
}
.delivery-options .standalone-link input{
    float: right;
	margin: 0 15px 0 0;
}
.delivery-options .checkout-secure{
    margin: 10px 0;
}
.delivery-options .delivery-number .total-delivery-cost{
	padding: 5px 10px;
	margin: 0 0 10px 0;
	overflow: auto;
	float: left;
	color: #6e6e6e;
	background: #D9D9D9;
	width: 900px;
	text-align: right;
	font-size: 1.4em;
	font-weight: bold;
}
.delivery-options .delivery-number .total-delivery-cost span{
	padding-right: 14px;
}

.delivery-options .delivery-number table.delivery-group{
	border-collapse:collapse;
	width: 390px;
	float: left;
	border-bottom:1px solid #dbdbdb;
}

.delivery-group td{
	padding: 12px 0 10px 0	;
	background: url("../images/border_dotted_simple.gif") top repeat-x;
}
.delivery-options .delivery-number .delivery-group .tool-tip-cell{
	border:0 none;	
}
.delivery-group td.items img{
	padding: 0 15px 0 0;
}
.delivery-group td.price{
	text-align: right;
}
.delivery-options .delivery-number .delivery-group .options{
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
	-moz-box-shadow:0 0 5px #B9B9B9;
	-webkit-box-shadow:0 0 5px #B9B9B9;
	box-shadow:0 0 5px #B9B9B9;
	border: 1px solid #DDD7D7;
	margin: 20px 5px 5px 5px;
	overflow:hidden;
	padding:5px 10px;
	width: 320px;
	float: left;
}
.delivery-options .delivery-number .delivery-group .options p{
	font-weight: bold;
	font-size: 1.3em;
	float: left;
	color: #6e6e6e;
	margin: 5px 0 2px 0 ;
}
.delivery-options .delivery-number .delivery-group .options .button{
	float: left;
}
.delivery-options .delivery-number .options .store-select{
	margin: 5px 0 0 28px;
	padding: 5px 0 0 0;
	border-top: 1px solid #DDD7D7;
}
.delivery-options .delivery-number .options li.store-select{
	margin: 5px 0px 0 0px;
	padding: 5px 0 0 0;
	border-top: 1px solid #DDD7D7;
	width:100%;
}
.delivery-options .delivery-number .options .store-select p{
	margin: 5px 0 0 0;
	display: inline;
}
.delivery-options .delivery-number .options .store-select .attention{
	display: block;
}
.delivery-options .delivery-number .options .store-select em{
	font-weight: bold;
}
.delivery-group .option-row{
	position: relative;
}
.delivery-group .option-row .tooltip{
	background:url("../images/secondary_details_pointer.gif") no-repeat scroll 0 0 transparent;
	height:12px;
	position:absolute;
	left:75px;
	top:9px;
	width:35px;
	z-index:999;
}
.delivery-options .delivery-number .options{
	float: right;
	border-bottom: none;
	width: 470px;
}
.delivery-options .delivery-number .options p, .delivery-options .delivery-number .options .delivery-date{
	margin: 5px 0 0 27px;
	font-size:1.2em;
}
.delivery-options .delivery-number .deliver-group-info{
	border: 0;
	float: left;
	clear: both;
	padding-left: 0;
}
.delivery-options .delivery-number .deliver-group-info span{
	float: left;
	padding: 0 3px 0 0;
}
.delivery-options .delivery-number .deliver-group-info .vcard{
	margin: 0;
	padding: 0 0 20px 0;
}
.delivery-options .delivery-number .deliver-group-info .type{
	font-weight: bold;
	padding: 0 0 5px 0;
    width: 300px;
}
.delivery-options .delivery-number .deliver-group-info select{
	max-width: 550px;
	line-height: 16px;
}
.delivery-options .delivery-number .deliver-group-info input{
	width: 245px;
}
.delivery-options .delivery-number .deliver-group-info input.button{
	width: 80px;
}
.delivery-options .delivery-number .deliver-group-info .input-standard{
	top: 0px;
}
.delivery-options .delivery-number .deliver-group-info .form-field{
	margin: 0 0 10px 0;
	clear: both;
}
.delivery-options .delivery-number .deliver-group-info label{
	width:280px;
}
.delivery-options .delivery-number table.delivery-group tbody tr.services {
	background: none;
}
.delivery-options .delivery-number table.delivery-group tbody tr.services td{
	border:none;
}
.delivery-options .delivery-number table.delivery-group tbody tr.services td h3{
	margin:8px 0 0 85px;
}
.delivery-options .delivery-number table.delivery-group tbody tr.services td.price{
	padding:8px 0 8px 0;
}
/* 5.10.7.1 Delivery Charge Pop-Up
/*
  Styling for the non-modal lightbox on the page
*/

#charge-info.js{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: none repeat scroll 0 0 #DDD7D7;
	padding: 20px;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 5px #000;
}
.dialog-content h2 {
    font-size: 1.8em;
}
.dialog-content p {
    color: #4F5050;
    font-size: 1.2em;
}

/* 5.10.8	Delivery options 8 */

.find-address form {
    padding:0 0 10px 0;
    margin:20px 0 0 0;
}
.find-address input {
	float:left;
}
.find-address form input.generic-standard{
	float: left;
	margin:2px;
}
.find-address .input-standard{
    float:right;
}
.find-address .form-field .input-standard{
    float:none;
}
.find-address .form-error {
    margin-left:120px;
    white-space:nowrap;
    width: auto;
}
.find-address #postcode{
	float: left;
	width: 150px;
}
input[type="text"].form-disabled,
.form-disabled {
	display: block;
    border:0px none;
    margin: 0 0 3px 220px;
	font-size: 1.1em;
	color: #000000;
}
.account .edit-control .form-disabled {
    margin-left:0;
}
.find-address .form-disabled{
	display: block;
    margin: 0 0 3px 220px;
	clear: both;
	font-size: 1.1em;
}
.form-error span,
.find-address .form-error div {
    width:41px;
    height:17px;
    position:absolute;
    top:-15px;
    left:75px;
    background:url("../images/arrow_error_up.png") no-repeat scroll transparent 0 0;
}
.find-address p{
	color: #575757;
	font-size: 1.2em;
}
.find-address label{
	width: 200px;
}
.search-again input{
	width: 230px;
}
.search-again #post-code{
	width: auto;
}
.search-again textarea{
	height: 80px;
	width: 310px;
}
.search-again .main-account label{
	margin: 1px 0 0 5px;
	display: inline;
	float: none;
}
.search-again h2{
	clear: both;
}
#select-address .main-account{
	border-bottom: 1px dashed;
	padding: 15px 0 30px 0;
	margin: 0 0 30px 0;
	float: none;
}
.find-address .delivery-instructions{
	width: 475px;
}
.find-address #main-account{
	width: 16px;
	margin: 0;
}
.find-address .search-results{
	border-bottom: 1px dashed #DDD7D7;
	padding: 0 0 18px 0;
	margin: 0 0 30px 0;
}
.find-address .search-results p{
	margin: 0 0 0 150px;
}
.find-address .add-contact-details,
.find-address .address-registration{
	margin: 40px 0 0 0;
	float: left;
	clear: both;
}
.find-address .last{
	margin: 0 0 30px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #848282;
	width: 100%;
}
#find-address .last{
	margin: 0 0 90px 0;
}
.find-address .post-code{
	border-bottom: 1px dashed #848282;
	width: 100%;
}
.find-address .add-address{
	float: right;
}
#search-address input.add-address,
#select-address input.add-address{
	float: right;
}

#add-address .delivery-details{
	padding: 0;
	border: none;
    margin-top:7px;
}
#add-address .delivery-details .sub-head {
	margin: 43px 0 18px 0;
	float: left;
	clear: both;
}
#add-address .delivery-details .associated {
	margin: 22px 0 18px 0;
    float:left;
}
#add-address .form-group-buttons {
	margin-right:4px;
    padding-bottom:20px;
    position:absolute;
    bottom:-15px;
    right:0;
}

/* 5.10.9	Order confirmation 9 */

.confirmation-header{
    overflow: hidden;
}
.confirmation-header .order-conf{
    font-size: 2.4em;
    color: #848282;
	margin: 10px 0 15px 0;
}
.confirmation-header .order-conf a{
    font-weight: normal;
}
.confirmation-header .help{
    margin: 25px 0 10px 20px;
    padding: 0 10px 10px 10px;
    overflow: hidden;
    border-left: 1px solid #DDD7D7;
    width: 250px;
}
.confirmation-header .help p{
    margin: 0;
    font-size: 1.4em;
    color: #848282;
}
.confirmation-header .help p.tagline{
    margin: 0 0 5px 0;
    font-size: 1.6em;
    font-weight: bold;
}
.confirmation-header .delivery-instructions{
    padding: 0 55px 0 0;
    width: 600px;
    float: left;
}
.confirmation-header p a.button{
    float: left;
    clear:both;
    font-size:1em;
}
.confirmation-header .button{
    margin: 6px 10px 15px 0px;
	float: left;
}
.delivery-instructions em{
    font-weight: bold;
}
.page-summary h4{
    margin: 0;
    font-size: 1.6em;
    color: #4F5050;
}
.page-summary .attention-statement{
    margin: 10px 0 0 0;
    overflow: auto;
    color: #4F5050;
    float: right;
}
.page-summary .attention-statement p{
    font-size: 1.2em;
    line-height: 1.5em;
}
.page-summary .nav-continue{
    margin: 10px 0 0 0;
    padding: 10px;
    width: 260px;
    float: left;
}
.page-summary .nav-continue h4{
    padding: 0 0 7px 0;
}
.page-summary .nav-continue li{
    padding: 3px 0;
    font-size: 1.2em;
}
.page-summary .promotion{
    margin: 0px;
    overflow: auto;
}
.page-summary .promotion li{
    margin: 0 0 10px 0;
    width: 273px;
    height: 148px;
}
.page-summary .promotion img{
    width: 265px;
    height: 140px;
}


/* 5.10.10 Checkout Credit Card */

/*
  Content is laid out around the iframe
*/

.credit-card-authorise{
	float: left;
	margin: 0;
	padding: 10px;
	border: 1px solid #DDD7D7;
}
.authorise{
	float: left;
	margin: 0 0 0 40px;
}
.authorise-instr{
	font-size: 1.2em;
	color: #4F5050;
	width: 380px;
}
.authorise .important{
	font-weight: bold;
}

/* 5.10.11 Transaction Fail */

/*
  The error styling is with the other page error styling
*/
.home{
	margin: 0 0 10px 0;
	float: left;
}

