/* 4.6.1 Form footnotes */

.footnotes {
    padding: 20px 40px 0 10px;
    border-top: 1px dashed #DDD7D7;
	float: left;
    width: 880px;
}
.footnotes-list li {
    margin-bottom: 30px;
    color: #4F5050;
    font-size: 1.1em;
}
.footnotes-list h4 {
    margin: 0;
    display:block;
}
.footnotes-list img {
    float: left;
    margin: 0 20px 20px 0;
}
.footnotes-list p {
    margin: 0;
}
