
/* 4.7	Login option errors */

/*
  The label dom selector is required, do not remove it
*/
.reg-auth label.invalid,
.req-auth label.invalid,
#delivery-addresses label.invalid{
    margin: 15px 5px 10px 180px;
    padding: 8px 6px 6px;
    border: 1px solid #ec1b2c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0 0 6px #FF0000, 0 0 2px #FF0000, 0 0 1px #FF0000;
    -webkit-box-shadow:0 0 4px #FF0000, 0 0 2px #FF0000, 0 0 1px #FF0000;
    box-shadow:0 0 4px #FF0000, 0 0 2px #FF0000, 0 0 1px #FF0000;
    width: auto;
    max-width:540px;
    font-weight: normal;
    font-size:1.2em;
    color: #ec1b2c;
	background: #fff;
	float: left;
	overflow: visible;
	clear: both;
	z-index:1;
}

.invalid span{
    margin-top: -13px;
	width:29px;
    height:13px;
	display: block;
    position: relative;
    top:-8px;
    left:55px;
    background:transparent url("../images/arrow_error_up.png") no-repeat scroll -6px 0;
	z-index: 9000;
}

#select-store label.invalid{
	width:230px;
    margin-left:0;
}
