#page-container {
    input {
        height: auto;
        &[type="radio"],
        &[type="checkbox"] {
            padding: 0;
        }
        &[type="text"] {
            padding: 5px 0 4px 4px;
            font-size: 12px;
        }
    }

    .btn-transactional {
        padding: 4px 10px;
        font-size: 12px;
    }
    input.input-standard,
    a.input-standard,
    button.input-standard {
    }
    a.button,
    input.button,
    button.button {
        padding: 2px 12px 2px 12px;
    }
    input.button {
        padding: 1px 12px 1px 12px;
    }
}

/* Start - Forum style changes */

select,
textarea,
input[type="number"],
input[type="text"],
input[type="password"] {
   	margin: 0 10px 0 0;
    padding: 3px;
    font-family: arial, sans serif;
    font-size:11px;
    outline: none;
}

label {
    font-size:1.4em;
    display:inline;
    padding:3px 20px 0 0 ;
}

textarea {
    line-height: 14px;
    padding-top: 8px;
}

textarea.focus,
input.focus {
    -webkit-box-shadow: 0px 0px 4px 0px #4fa6f0;
    -moz-box-shadow: 0px 0px 4px 0px #4fa6f0;
    box-shadow: 0px 0px 4px 0px #4fa6f0;
    border: 2px solid #848282;
}

textarea.invalid,
input.invalid {
    -webkit-box-shadow: 0px 0px 4px 1px #f33;
    -moz-box-shadow: 0px 0px 4px 1px #f33;
    box-shadow: 0px 0px 4px 1px #f33;
}

fieldset {
    border:none;
    padding:0;
}

.sort select {
    padding: 0;
}

.sort label {
    font-size: 1.1em;
    padding:0;
    margin:0;
}

.standalone-link {
	margin-bottom:20px;
	clear: both;
	min-height: 20px;
}
.hr{background:url("../images/hr.png");}
.hr {
    display:block;
    background-image:       url("../images/left_endcap.jpg"),
                            url("../images/right_endcap.jpg"),
                            url("../images/hr.png");
    background-repeat:      no-repeat,
                            no-repeat,
                            repeat-x;
    background-position:    top left,
                            top right,
                            top right;
    height:4px;
	margin-bottom:10px;
    clear:both;
}

.grid-1 .hr,
.grid-2 .hr,
.grid-3 .hr,
.grid-4 .hr,
.grid-5 .hr {
    margin-right:10px;
}
#manageAddressForm {
	margin-top: 35px;
}
#card-payment,
#change-email,
#clubcard-details,
#add-address, 
#contact-details,
#delivered-to,
.product-list{
	margin-top: -4px;
}
p.form-intro {
	margin-bottom: 10px;
}
/* End - Form style changes */

.attention-statement{
    margin: 0 0 10px 0;
    padding: 11px 12px;
    background: #fcf7cf;
    float: left;
    color: #848282;
}
.attention-statement .attention{
	font-weight: bold;
}
