

/* 5.2 Product Gallery */
/*
  There are two variants of the product gallery.
  One in which the labels (thr h3s) are at the top
  and another at the bottom. This is done through the HTML.
  These are defined by different class names. Currently,
  there are no styles hanging off these class names.
*/

.shopby-layout h2 {
    /*
    color: #848282;
    font-size: 2.4em;
    */
}
.shopby-layout li {
    float:left;
    width:180px;
	margin:0 10px 10px 0;
}
.shopby-layout li.ui-carousel-item {
	border:1px solid #ddd7d7;
	margin:0 7px 10px 0;
}
	
.product-summary-tools, .shopby-layout img {
    display:block;
}
.product-summary-tools {
  clear: both;
}
.shopby-layout a {
    display:block;
    overflow:hidden;
    padding:0;
    text-align:center;
}
.shopby-layout a:hover {
	text-decoration:none;
}
.shopby-layout h3{
    font-size:1.3em;
    margin:0;
    color:#fff;
	line-height:22px;
	background: #a5a5a5 url("../images/pop_categories_descr_bg.jpg") repeat-x bottom;
	text-align:center;
}


/**********************************************************************
  =product-tile

  These are the base styles for all product tiles. A product tile is
  a tile which has very similar details to the product grid in the
  search results or category listing pages, however it is independent
  of that. These base styles won't give you the look and feel you want
  on their own. You need to use them inside a layout class like
  "product-gallery-layout-grid" for example, in order to achieve the
  appropriate layout/tile presentation.
 **********************************************************************/

.product-tile {
    position: relative;
    float:left;
    width:180px;
    padding-bottom:7px;
    padding-top:5px;
}

.product-tile a {
    text-decoration:none;
}

.product-tile p {
    margin:0;
}

.product-tile h3 {
    height:50px;
    margin-bottom: 2px;
    text-align:left;
    overflow:hidden;
    font-size:1.5em;
    font-weight:normal;
    line-height:1.1em;
    color:#00539f;
}

.product-tile .product-tile-books h3 {
    height:35px;
}
.product-tile .product-tile-books h3:hover{
	text-decoration:underline;
}
.product-tile .product-tile-image h3:hover{
	text-decoration:underline;
}
.product-tile .product-tile-author {
    position:relative;
    top:-2px;
    line-height:15px;
    color:#00539f;
    overflow: hidden;
}
.product-tile .product-tile-author.height-param {
	height: 16px;
}
.product-tile-prd-name{
	display: block;
    margin-bottom: 2px;
    text-align:left;
    overflow:hidden;
    font-size:1.2em;
    font-weight:normal;
    line-height:1.1em;
    color:#00539f;
    word-wrap:break-word;
}
.product-tile .product-tile-prd-name.height-param{
	height: 50px;
}
.delivery-number .product-tile-prd-name{
	height: auto;	
}
.product-tile .product-tile-books .product-tile-prd-name.height-param{
	height: 29px;	
}
.product-tile-prd-name:hover{
	text-decoration:underline;
}
.product-tile-image {
    position:relative;
    display:block;
}

.product-tile-rating-large {
    display:block;
	float:left;
	clear:right;
    margin-bottom:10px;
    padding-left:88px;
    height:15px;
    line-height:15px;
    background: url("../images/bg-stars-large.png") top left no-repeat;
}

.product-tile-rating-small {
    display:block;
    margin-bottom:10px;
    padding-left:66px;
    height:11px;
    line-height:11px;
    background: url("../images/bg-stars-small.png") top left no-repeat;
}

.product-tile-rating-large span,
.product-tile-rating-small span {
    position:absolute;
    left:-99999px;
}

.product-tile-rating-large.product-tile-rated-1-25 {
    background-position:0 -15px;
}
.product-tile-rating-large.product-tile-rated-1-50 {
    background-position:0 -30px;
}
.product-tile-rating-large.product-tile-rated-1-75 {
    background-position:0 -45px;
}
.product-tile-rating-large.product-tile-rated-2 {
    background-position:0 -60px;
}
.product-tile-rating-large.product-tile-rated-2-25 {
    background-position:0 -75px;
}
.product-tile-rating-large.product-tile-rated-2-50 {
    background-position:0 -90px;
}
.product-tile-rating-large.product-tile-rated-2-75 {
    background-position:0 -105px;
}
.product-tile-rating-large.product-tile-rated-3 {
    background-position:0 -120px;
}
.product-tile-rating-large.product-tile-rated-3-25 {
    background-position:0 -135px;
}
.product-tile-rating-large.product-tile-rated-3-50 {
    background-position:0 -150px;
}
.product-tile-rating-large.product-tile-rated-3-75 {
    background-position:0 -165px;
}
.product-tile-rating-large.product-tile-rated-4 {
    background-position:0 -180px;
}
.product-tile-rating-large.product-tile-rated-4-25 {
    background-position:0 -195px;
}
.product-tile-rating-large.product-tile-rated-4-50 {
    background-position:0 -210px;
}
.product-tile-rating-large.product-tile-rated-4-75 {
    background-position:0 -225px;
}
.product-tile-rating-large.product-tile-rated-5 {
    background-position:0 -240px;
}

.product-tile-rating-small.product-tile-rated-1-25 {
    background-position:0 -11px;
}
.product-tile-rating-small.product-tile-rated-1-50 {
    background-position:0 -22px;
}
.product-tile-rating-small.product-tile-rated-1-75 {
    background-position:0 -33px;
}
.product-tile-rating-small.product-tile-rated-2 {
    background-position:0 -44px;
}
.product-tile-rating-small.product-tile-rated-2-25 {
    background-position:0 -55px;
}
.product-tile-rating-small.product-tile-rated-2-50 {
    background-position:0 -66px;
}
.product-tile-rating-small.product-tile-rated-2-75 {
    background-position:0 -77px;
}
.product-tile-rating-small.product-tile-rated-3 {
    background-position:0 -88px;
}
.product-tile-rating-small.product-tile-rated-3-25 {
    background-position:0 -99px;
}
.product-tile-rating-small.product-tile-rated-3-50 {
    background-position:0 -110px;
}
.product-tile-rating-small.product-tile-rated-3-75 {
    background-position:0 -121px;
}
.product-tile-rating-small.product-tile-rated-4 {
    background-position:0 -132px;
}
.product-tile-rating-small.product-tile-rated-4-25 {
    background-position:0 -143px;
}
.product-tile-rating-small.product-tile-rated-4-50 {
    background-position:0 -154px;
}
.product-tile-rating-small.product-tile-rated-4-75 {
    background-position:0 -165px;
}
.product-tile-rating-small.product-tile-rated-5 {
    background-position:0 -176px;
}

.product-tile-rating-small.product-tile-rated-unavailable,
.product-tile-rating-large.product-tile-rated-unavailable {
    background:none;
    margin-bottom:10px;
    height: 0px;
}
.product-gallery-layout-sfl .product-tile-rating-large.product-tile-rated-unavailable{
	height:15px;
}
.product-tile-buy-from {
    line-height: 1em;
    height:22px;
    clear:left;
}

.product-tile-ping-new {
    position:absolute;
    top:0;
    left:0;
    z-index: 50;
}

.product-tile-ping-discount {
    position:absolute;
    right:10px;
    top:10px;
}

.product-tile-price {
    position: relative;
    clear:left
}
.product-tile-price.height-param{
	height:45px;
}
.product-tile-price-current {
	color: #4F4F4F;
    font-size:1.6em;
    padding-top: 4px;
}
.product-tile-price-current .pounds, .product-tile-price-current .pence{
	font-weight: bold;
}
.product-tile-price-current .currency{
	/*font-size:.9em;*/
	font-weight: normal;
}
/* commented as requested in #30365
.product-tile-price-current .pounds {
	font-size: 1.4em;
	font-weight: bold;
}
*/
.product-tile-price-from {
    font-size:0.8em;
}

.product-tile-price-current strong {
    font-size:1.15em;
}

.product-tile-price-discount {
    font-size:1em;
    color:#ec1b2c;
}

.product-tile-price-old {
    font-size:1em;
    color:#848282;
}

.product-tile-price-old span {
    text-decoration:line-through;
    margin-right:5px;
}

.product-tile-stock-out,
.product-tile-stock-preorder,
.product-tile-stock-unavailable {
    display:inline;
    font-weight:bold;
    font-size:1.2em;
    padding:1px 5px 2px 5px;
    border:1px solid #05ae20;
    color:#05ae20;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    text-transform:lowercase;
}

.product-tile-stock-out,
.product-tile-stock-unavailable {
    color:#848282;
    border-color:#848282;
}


/**********************************************************************
  =product-gallery-layout-grid

  This section applies styles to the "product-tile" tile that are
  specific for the "grid" layout. This layout looks very much like
  the standard product grid layout seen on the search results, just
  with less details.
 **********************************************************************/

.product-gallery-layout-grid li {
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.product-gallery-layout-grid .product-tile {
    width:160px;
    padding-left:15px;
    padding-right:3px;
    border:1px solid #ddd7d7;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.product-gallery-layout-grid .product-tile.height-param{
	height: 300px;
}
.product-gallery-layout-grid .product-tile .product-tile-price-old{
	height: 12px;
}
.product-gallery-layout-grid .product-tile .product-tile-ping-discount img, .product-tile .product-tile-ping-discount img{
	height:61px;
	width:61px;
	right:0;
	top:-7px;
	position:absolute;
	margin:0px;
}
.product-gallery-layout-grid .product-tile-rating-large {
	position:relative;
	color:#00539F;
	left:-2px;
	margin-bottom:2px;
	padding-top:2px;
}

.product-gallery-layout-grid .product-tile-rating-small {
    position: relative;
    left:-1px;
}

.product-gallery-layout-grid .product-tile-image {
    padding-top:174px;
}

.product-gallery-layout-grid .product-tile-image img {
	margin-left:-10px;
    position: absolute;
    top:0px;
}

.product-gallery-layout-grid .product-tile-ping-new {
    top:-5px;
    left:-5px;
}
.product-gallery-layout-grid .discount-ping {
    left:107px;
}


/**********************************************************************
  =product-gallery-layout-mesh

  This section applies styles to the "product-tile" tile that are
  specific for the "mesh" layout. This layout is identifiable by the
  solid border that wraps all of the grid, and also by the dotted
  lines separating each product tile.
 **********************************************************************/
.secondary-content div.product-gallery-layout-mesh{
	margin-bottom:10px;
}
.product-gallery-layout-mesh {
    border: 1px solid #ddd7d7;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 6px 0 6px;
    clear: both;
}

.product-gallery-layout-mesh .product-tile-prd-name{
	height: 48px;
	font-size: 1.4em;
}

.product-gallery-layout-mesh li {
    float:left;
}

.product-gallery-layout-mesh h2 {
    padding: 0 10px;
}

.product-gallery-layout-mesh .product-tile {
    height:160px;
    width: 152px;
    padding: 10px 22px 0 14px;
    border-bottom: 1px dashed #DDD7D7;
    border-right: 1px dashed #DDD7D7;
    -moz-border-image: url(../images/border_dotted.gif) 1 1 1 1 / 0 1px 1px 0 repeat;
    -webkit-border-image: url(../images/border_dotted.gif) 1 1 1 1 / 0 1px 1px 0 repeat;
    border-image: url(../images/border_dotted.gif) 1 1 1 1 / 0 1px 1px 0 repeat;
}

.product-gallery-layout-mesh .row-start .product-tile{
    margin-left: 8px;
    padding-left: 3px;
    padding-right: 19px;
}

.product-gallery-layout-mesh .row-end .product-tile{
    border-right:none;
    margin-right: 8px;
    padding-right: 9px;
}

.product-gallery-layout-mesh .first-row .product-tile{
    padding-top:4px;
}

.product-gallery-layout-mesh .last-row .product-tile{
    border-bottom:none;
    -moz-border-image: url(../images/border_dotted.gif) 1 / 0 1px 0 0 repeat;
    -webkit-border-image: url(../images/border_dotted.gif) 1 / 0 1px 0 0 repeat;
    border-image: url(../images/border_dotted.gif) 1 / 0 1px 0 0 repeat;
}

.product-gallery-layout-mesh .last-row .product-tile .product-tile-price {
    height:61px;
}

.product-gallery-layout-mesh .row-end.last-row .product-tile{
    -moz-border-image: none;
    -webkit-border-image: none;
    border-image: none;
    border-bottom:none;
    border-right:none;
}

.product-gallery-layout-mesh .product-tile h3 {
    height:50px;
}

.product-gallery-layout-mesh .product-tile-author {
    position:absolute;
    left:-99999px;
}

.product-gallery-layout-mesh .product-tile-image img {
    position: absolute;
    right: -9px;
    top: 53px;
    overflow: hidden;
}

.product-gallery-layout-mesh .product-tile-rating-small {
    width:60px;
    height:auto;
    padding-left:0;
    padding-top:10px;
    margin-bottom:0px;
}
/*.product-gallery-layout-mesh .product-tile-price-current span{
	font-weight: bold;	
	font-size: 1.1em;
}*/
.product-gallery-layout-mesh .product-tile-price-current{
	padding-top: 0px;
}
.product-gallery-layout-mesh .product-tile-price-current.multi-seller-product{
	padding-top: 2px;
}
.multi-seller-product .prices-from{
	font-size:0.7em;
} 	
.product-gallery-layout-mesh .multi-seller-product .prices-from{
	display:block;
	height:11px;
	padding-bottom:1px;
}
.order-product-name{ 
	/* height: 35px; */
	word-wrap: break-word;
}
.product-gallery-layout-mesh .product-tile-rating-small em {
    display:block;
    padding-top:3px;
    background:#fff;
}

.product-gallery-layout-mesh .product-tile-rating-small.product-tile-rated-unavailable {
    height:14px;
}

.product-gallery-layout-mesh .product-tile-ping-new {
    left:-99999px;
}
/*

Uncomment these next two definitions in order to show the "New" ping
for the "Mesh" layout.

.product-gallery-layout-mesh .product-tile-ping-new {
    left:14px;
}

.product-gallery-layout-mesh .row-start .product-tile-ping-new {
    left:3px;
}
*/

.product-gallery-layout-mesh .product-tile-price {
    height:60px;
    width:auto;
    clear: both;
}

.product-gallery-layout-mesh .product-tile-price-from {
    position:absolute;
    left:0;
    top:-1.4em;
    font-size:0.7em;
    color: #666;
}

.product-gallery-layout-mesh .product-tile-price-old span {
    display:block;
}

.product-gallery-layout-mesh .product-tile-ping-discount {
    right: 10px;
    top:10px;
}

.product-gallery-layout-mesh .product-tile-ping-discount img {
    width:35px;
    height:35px;
}
.grid-1 .product-gallery-layout-mesh .product-tile{
	padding-left: 0;
	width: 150px;	
}
.grid-1 .product-gallery-layout-mesh{
	width: 168px;
	margin: 0 0 10px 10px;
}
/*
 * These following 5 selectors allow for the mesh layout to
 * be used in the secondary content area for layout C.
 */
 
.layout-c .secondary-content .grid-2 {
	width: auto;
}
 
.layout-c .secondary-content .product-gallery-layout-mesh {
	margin-right: 0px;
}
.layout-c .secondary-content .product-gallery-layout-mesh .product-tile-price{
	height: auto;
}
.layout-c .secondary-content .product-gallery-layout-mesh .product-tile-price.height-param{
	height: 75px;
}
.layout-c .secondary-content .product-gallery-layout-mesh .product-tile {
    height:auto;
    width:115px;
    padding-top:105px;
}
.layout-c .secondary-content .product-gallery-layout-mesh .product-tile-author {	
	left: 0px;
	position: relative;
}
/*.layout-c .secondary-content .product-gallery-layout-mesh .row-start .product-tile {
    padding-left: 6px;
    padding-right: 6px;
}*/

.layout-c .secondary-content .product-gallery-layout-mesh .row-end .product-tile {
    padding-right:0;
}

.layout-c .secondary-content .product-gallery-layout-mesh .product-tile-rating-small {
    width:auto;
    margin-bottom:2px;
    /*padding-top:0;*/
    padding-left:66px;
    float:left;
}

.layout-c .secondary-content .product-gallery-layout-mesh .product-tile-rating-small.product-tile-rated-unavailable {
    height: 1px;
}

.layout-c .secondary-content .product-gallery-layout-mesh .row-end a.product-tile-rating-small.product-tile-rated-unavailable {
    height: 2px;
}

.layout-c .secondary-content .product-gallery-layout-mesh .product-tile-rating-small em {
    display:inline;
}

.layout-c .secondary-content .product-gallery-layout-mesh .product-tile-image img {
    right:11px;
    top:-93px;
}

.layout-c .secondary-content .product-gallery-layout-mesh .product-tile-ping-discount {
    top:9px;
}



/**********************************************************************
  =product-gallery-layout-sfl

  This section applies styles to the "product-tile" tile that are
  specific for the "sfl" (Save for later) layout. This layout is
  similar to the "grid" layout except that the tile contains more
  elements including an "Add to basket" button and the name of the
  seller/sellers.
 **********************************************************************/
div.product-gallery-layout-sfl ul li {
	position: relative;
	float:left;
}
.save-for-later .grid-5{
	margin-left:-10px;
}
.product-gallery-layout-sfl .product-tile {
    width:160px;
    min-height:357px;
    padding-left:9px;
    padding-right:9px;
    border:1px solid #ddd7d7;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.product-gallery-layout-sfl .product-tile-image img {
    margin-left:-10px;
}

.product-gallery-layout-sfl .product-tile-image img {
    margin-left:-10px;
}

.product-gallery-layout-sfl .product-tile-rating-large {
    position:relative;
    left:-2px;
    margin-bottom:7px;
}

.product-gallery-layout-sfl .product-tile-image {
    padding-top:174px;
}

.product-gallery-layout-sfl .product-tile-image img {
    position: absolute;
    top:5px;
    left:5px;
}

.product-gallery-layout-sfl .product-tile-ping-discount {
    top:23px;
}

.product-gallery-layout-sfl .product-tile-ping-new {
    top:-1px;
    left:-1px;
}
.product-gallery-layout-sfl .new-slash{
	position: absolute;
	top: 0px;
	left: 0px;
}
.product-gallery-layout-sfl .product-tile-price {
    height:63px;
}

.product-gallery-layout-sfl .product-tile-price-current {
    font-size:2em;
}

.product-gallery-layout-sfl .product-tile-price-current strong {
    font-size:1.4em;
}

.product-gallery-layout-sfl .product-tile-price-pence {
    font-size:0.68em;
}

.product-gallery-layout-sfl .product-tile-price-from {
    position:absolute;
    left:0;
    top:-1.6em;
    font-size:0.5em;
    color: #666;
}

.product-tile-remove {
    background: url("../images/icon_sprite.png") no-repeat 0 0 transparent;
    text-indent: -9999em;
    height: 20px;
    width: 20px;
    position: absolute;
    display: block;
    top: 6px;
    right: 6px;
}

.product-gallery-layout-sfl .product-tile-price-discount strong {
    font-size: 1.1em;
    font-weight: normal;
}

.product-gallery-layout-sfl form input {
    width:100%;
    margin-top: -2px;
}


/**********************************************************************
  =product-gallery-layout-basic

  A very stripped down tile, similar to the grid view in many ways.
  Contains just an image and price. No title, ratings, etc.
 **********************************************************************/

.product-gallery-layout-basic li {
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.product-gallery-layout-basic .product-tile {
    width:160px;
    border:1px solid #ddd7d7;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    height: 187px;
    padding: 5px 9px;
}

.product-gallery-layout-basic .product-tile .product-tile-price-current{
	line-height: 17px;
	padding-top: 0px;
}

.product-gallery-layout-basic .product-tile h3 {
	position:absolute;
	left:-99999px;
	top:-99999px;	
}

.product-gallery-layout-basic .product-tile-image img {
    margin-left:-5px;
    display: block;
	overflow: hidden;
}

.product-gallery-layout-basic .product-tile-price {
	min-height: 27px;
	height:auto;
}

.product-gallery-layout-basic .product-tile-price-from {
    line-height:1em;
}


/**********************************************************************
  =html-block-gallery-layout
  
  This gallery layout houses "html-block" elements, which are pretty
  much anything that the business chooses to put in them. The only
  thing they need to ensure is that if used as a carousel the width of
  the "html-block" element must be 180px.  
 **********************************************************************/

.html-block-gallery-layout li {
	float:left;
	margin:0 10px 10px 0;
}

.html-block-gallery-layout li a,
.html-block-gallery-layout li img {
	display:block;
}

.carousel.html-block-gallery-layout li {
	width:180px;	
}

.carousel.html-block-gallery-layout .ui-carousel-navigation li {
	width:49px;
}

.html-block-gallery-layout .html-block {
	margin:0;	
}
