div {
  &.pageDivider {
    border-top: 1px solid #DDD7D7;
    clear: both;
    float: left;
    padding: 10px 10px 0 10px;
    width: 732px;
    word-spacing: 0em; }
  &.product-list div.pageDivider {
    float: none;
    border-top: 0; }
  &.pageDivider {
    h2 {
      float: left;
      font-size: 1.3em;
      font-weight: normal; }
    a {
      float: right;
      font-size: 1.2em; } }
  &#loadMoreResultsHolder {
    padding-bottom: 10px; } }

a#loadMoreResultsLink, a#loadPreviousResultsHolder{
  float: left; 
}
#loadPreviousHolder {
    padding-bottom: 10px;
}

div.loadingBar {
  clear: both;
  float: left;
  padding: 30px 30px 10px 30px;
  width: 92%;
  word-spacing: 0em;
  background: url("../images/ajax-loader.gif") no-repeat center top white;
  text-align: center;
  span {
    font-weight: bold; } }