
/* Styles for more options & services for basket summary, basket attachment & delivery*/
.more-product-options{
	margin-bottom:10px;
	/*margin-left:3px;
	min-height:152px;*/
	width:300px;
}
.items-summary-details.more-option-container .more-product-options{
	width:300px;
	/*min-height:175px;*/
	margin-left:0px;
}
.more-product-options .more-option-dialogue{
	position: relative;
	background: #FFF;
	padding: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	float: left;
	overflow: visible;
	display:inline-block;
}
.more-product-options .more-option-content{
	position:relative;
	overflow:hidden;
}
.more-product-options .more-option-tip{
	background: transparent url("../images/icon_sprite.png") no-repeat scroll 0 -39px;
	display: block;
	height: 12px;
	left: 155px;
	position: relative;
	width: 40px;
    	z-index: 500;
}
.more-product-options h2{
	border-bottom: 1px dashed #848282;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	padding:0 0 5px 0;
	border-top:0;
	border-left:0;
	border-right:0;
}
.more-product-options .form-field{
	width: 208px;
	display:inline;
	margin:0;
}
.more-product-options .form-group ul{
	margin-top:10px;
}
.more-product-options .form-field label{
	width:175px;
	color: #00539f;
	font-size:1.1em;
	font-weight:normal;
	word-wrap:break-word;
	padding:0 0 3px 10px;
}
.more-product-options .form-field .checkbox{
    margin-top:1px;
    margin-right:0;
}
/*.more-product-options .form-container{
	padding:0 0 5px 3px;
}*/
.more-product-options .form-container .form-group{
	margin-bottom:10px;
}
.more-product-options .form-container li{
	overflow:hidden;
	clear:both;
	padding-bottom: 3px;
}
.more-product-options .form-container li span.price{
	font-size:1.2em;
	display:inline-block;
}
.more-product-options .more-product-options-link{
	padding:5px 25px 5px 3px;
	font-weight:bold;
	font-size:1.2em;
	color: #4F5050;
	background: url("../images/arrow_grey_down.png") no-repeat scroll right 10px transparent;
	text-decoration: none;
}
.items-summary-details .more-product-options .more-product-options-link {
	padding: 5px 25px 5px 0;
}
.more-product-options.hasJs .more-product-options-link{
	background: url("../images/arrow_grey_right.png") no-repeat scroll 180px 6px transparent;
}
.more-product-options.hasJs .more-product-options-link.open{
	background: url("../images/arrow_grey_down.png") no-repeat scroll right 10px transparent;
}
.more-product-options input.button.disabled{
    opacity: 1;
    cursor: default;
}
.more-product-options input.button.active{
    opacity: 1;
}
.payment-summary .primary-info .basket-items .services{
	margin:10px 0 0 46px;
	float:left;
}
.payment-summary .primary-info .basket-items .price{
	float:right;
	margin:0 0 0 3px;
	text-align:right;
	width:52px;
}
.basket .basket-contents-list li .services{
	margin: 4px 0px 0px 50px;
	float: left;
	font-size: 1.1em;
	width: 218px;
}
.basket .basket-contents-list li .services .price{
	float: right;
	font-weight:bold;
}
.basket .basket-contents-list li .services .basket-item-extra{
	display: block;
	float:left;
	width:120px;
}
/* static file additions */
.help p.intro, .seller p.intro {color:#4F5050;font-size:1.2em;margin:14px 0}
 
.seller-sections li {margin-left:0;border:0}
.seller-sections li ul, .seller-sections li ol {margin:0 0 0 0}
.seller-sections li ol {font-weight:bold;margin:0 0 15px}
.seller-sections li p {font-size:1.2em}
.seller-sections li li {font-size:1.2em;margin:5px 0 5px 25px;overflow:visible;}
.seller-sections li li p {font-size:1em;margin:0 0 6px;_margin:0}
.seller-sections li ul li {list-style:disc outside none;margin:5px 0 5px 15px;}
.seller-sections li ol li {list-style:decimal outside none;font-weight:normal;}
.seller-sections ol.alpha li {list-style:lower-latin outside none;font-size:1em;color: #4F5050}
.seller-sections li ol li{_display:list-item}/* IE6 hack to force correct incremental ol items */
.seller-sections h2 {margin:20px 0 2px;}
.seller-sections li h4 {margin:15px 0 0;font-size:1.4em;color: #848282}

.seller-gallery {margin-left:10px}
.seller-gallery h2 {font-size:2em;margin:0;padding:20px 0 0 2px;}
.seller-directory-gallery {list-style:none;margin:0;padding:0;position:relative;display:block;min-height:10px;_height:auto}
.seller-directory-gallery a {color:#848282;font-size:1.1em}
.seller-directory-gallery.clearfix li {display:inline;float:left;margin:5px 10px 0 0}
.seller-directory-gallery.clearfix li li {margin:3px 10px 10px 0;font-size:0.9em}
.seller-directory-gallery li h3 {font-size:1.5em;min-width:178px;_width:178px;color: #848282;font-weight:bold;margin:10px 0 0}
.seller-directory-gallery li.divider {padding:0 10px 0 0;border-right: 1px solid #848282}
.seller-directory-gallery.picklist a {font-size:1.9em;padding:12px 10px 0 12px;color:#848282;font-weight:bold;line-height:1.8em}
.seller-directory-gallery.picklist li {margin:0}
.seller-directory-gallery.picklist {margin:0 auto;border-top: 1px dashed #BDBDBD;border-bottom: 1px dashed #BDBDBD;}
.seller-sections ul.seller-directory-gallery ul {margin:0;}

ol.help-table-of-contents, ol.seller-table-of-contents {list-style-type:decimal;margin:25px 0 25px 25px;color: #00539f}
ol.help-table-of-contents li, ol.seller-table-of-contents li {padding-left:0;line-height:1.2em;margin: 12px 0;font-size:1.3em}

#standard-eCoupon-terms-and-conditions li h4 {color: #848282}

.clearfix {overflow:hidden}
.topLink {text-align:right;width:100%;padding-top:10px;border-top: 1px dashed #DDD7D7;font-size:1.2em;}
.topLink.noborder {
	margin-top:-0.5em;
	padding-bottom:6px;
	padding-top:6px;
}
.noborder {border:none}
.hide,.hide ul,.hide ul li {left:0;margin:-500em;position:absolute;top:-500em;width:1px !important;height:1px !important}
.nl, .block {display:block}
.nowrap {white-space:nowrap}
.uppercase {text-transform:uppercase}
.indent {padding:0 0 0 25px}

.details-nutshell,
.product-book-features,
.product-features{
	margin:15px 0px;
	font-size:1.2em;
}
.details-nutshell {
	margin-bottom:12px;	
}
.product-features,
.product-book-features{
	font-size:1.1em;
}
.details-nutshell span, 
.product-book-features span,
.product-features span{
	width:150px;
	float:left;
	font-weight:bold;
}
.product-features span,
.product-book-features span {
	width:100px;	
}
.product-book-features li,
.details-nutshell li {
	margin-bottom:5px;
}
.compared-product .sold-by{
	clear: both;
	font-size: 1.2em;
	color:#575757;
}
.product-comparison .discount-ping{
	height:61px;
	margin:-157px 0 96px 105px;
	width:61px;
}
.product-list .book-list .clubcard-points{
    margin:20px 0 5px 0;
	width:178px;
}
.product-grid .product-compare-options{
	margin-right:10px;
}

.product-list .sort div.divider label,.product-grid .sort div.divider label{
	color: #575757;	
}
.compared-product .new-slash{
	width: 85px;
    height: 46px;
    position: absolute;
	z-index: 8000;
	left: -10px;
	top:0;
}
.product-grid .add-to-list a{
	float:left;
}
.product-grid .add-to-list a.product-compare-disabled{
	margin-top:4px;
	padding:0 0 0 7px;
	border-left: 1px solid #DDD7D7;
}
.other-sellers{
	padding:5px 0 10px 0;
}
.product-grid.sortable .price-spacing.height-param{
	min-height:65px;
}
.product-list .price-spacing {
	min-height:85px;
}
.product-list .book-product .price-spacing {
	min-height:88px;
}
.compared-product .compared-product-price-details{
	min-height:100px;
}
.top-class-user-rate img{
	float:left;
}
.image-offers .product-image{
	height: 100px;
	width: 100px;
	top: -103px !important;
}
.image-offers .product-tile{
	padding-top: 115px !important;
}
.summary .payment-summary .total-payment .attention p.pricelabel1{
    color: #ec1b2c;
    font-size:1em;
    width:260px;
    padding:0;
    margin:0;
}
.shopping-basket #continueCheckout input.basket-large{
	float:right;
	margin:2px 0 10px 0px;
	clear: both;
}
.form-container input.form-textinput.cardexpiryyear{
 	width: 58px;
}
.form-container input.form-textinput.cardexpirymonth{
    width: 40px;
}
.form-container .payment-option-details .form-field .lightbox{
	float: left;
    margin: 4px 0 0;
}
.form-container .payment-option-details input.generic-standard{
 	margin:0;
}

.tooltip-empty-basket .jt-tooltip-content a.input-standard{
	top:0px;
}
.payment-option.payment-option-active a.generic-standard{
	margin:10px 0 0 175px;
}
#select-store .search-store-error-msg-actual label{
  position: absolute;
  top: 230px;
  left: 0;
}
.storefinder{
      position: relative;
}
.product-comparison div.comparison-tdLabel {
	 display: block;
    float: left;
    width: 145px;
}
.product-comparison td .product-attributes{
	float:left;
	margin:0;
	width:139px;
}
#card-payment .form-field label.minor-option{
	float: none;
}	
.BVRRSocialBookmarkingLinks{
	display: none;
} 
.printLink_noscript, #BVRRRatingSummaryNoReviewsWriteImageLinkID{
	display:none;
}
.product-list .compare-dialog {
	bottom:-142px;
	left:8px;
}
.compared-product .compared-product-buyfrominfo{
	min-height: 45px;
	margin-left:5px;
} 
.compared-product .compare-price-details{
	min-height: 62px;
	margin-left:5px;
}
