

/* 3.3 Navigation */

/* Store header navigation CSS */

#navigation {
    float: left;
    width: 940px;
    background: #E5E5E5;
    margin: 8px 14px 0;
    padding: 9px 0 5px;
    position: relative;
    z-index: 2000;
    display: inline;
}
#navigation li {
    float: left;
}
#navigation a {
    font-size: 1.1em;
}
.navigation-level-1 {
    background: #00539f url("../images/top_nav_background.png") repeat-x scroll top left;
    padding: 3px 5px 12px;
    margin: 0 10px -5px;
    height: 28px;
	overflow: visible;
}
.navigation-level-1 li {
    padding: 0;
    margin: 0;
    background:transparent url("../images/top_nav_divider.png") no-repeat scroll 100% 50%;
    position: relative;
    height:30px;
}
.navigation-level-1 li.first {
    padding: 0;
}
.navigation-level-1 li.last {
    padding: 0 0 0 2px;
    background-image: none;
    border-right: none;
}
.navigation-level-2 li, .navigation-level-3 li{
	height:auto;	
}
.navigation-level-1 li.first a {
	max-width:67px;	
}
#navigation .navigation-level-1 a{
font-size:1.2em;
display:table-cell;
vertical-align:middle;
height:30px;
}

#navigation .navigation-level-3 a {
	font-size:1.0em;
	font-weight: normal;
	max-width:150px;
	height:auto;
}

#navigation .navigation-level-2 li.last{
	padding:0 20px 0 0;
}

.special .navigation-level-2 h3{
    margin: 0 0 6px 4px;
}
#navigation .navigation-level-1 li.special {
	float: right;
	margin: -3px -8px -4px 0;
	width:71px;
	cursor:pointer;
}
ul.logistics span.available-date{
	margin:0 0 0 62px;
	display:block;
	font-size:1.2em;
}
.buy-box .logistics li.availContainer{margin-left:11px;margin-top:0;width:160px;}
.buy-box li span.available-date{margin:0; padding:0;}

.navigation-level-1 a {
   color: #FFF;
    position: relative;
    z-index: 2000;
    padding: 0 8px;
  	font-weight: bold;
    display: block;
    text-decoration: none;
    max-width:54px;
}
.navigation-level-1 .expanded a {
    background: #0C3A65;
    cursor:pointer;
}
#navigation .navigation-level-1 li.special-expanded a {
    /*background: #A90D19;*/
}
#header #navigation .navigation-level-1 li.special-expanded a {
	background: url("../images/SpecialBG.png") scroll repeat-x;
}
#header #navigation .navigation-level-1 li.special .navigation-level-3 a {
    background: none;
    width:150px;;
    position:static;
    padding-left:4px;
    text-align:left;
}
#header #navigation .navigation-level-1 li.special .navigation-level-3 a:hover{
	background-color:#e4f2ff;	
	text-decoration:none;
}
.navigation-level-1 .navigation-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1000;
    padding: 25px 0 0;
    display: none;
    /*opacity: 0.97;*/
}
.navigation-level-1 li:hover .navigation-wrapper,
.navigation-level-1 .expanded .navigation-wrapper,
.navigation-level-1 .special-expanded .navigation-wrapper{
    display: block;
}
.navigation-tip {
    display: block;
    width: 40px;
    height: 12px;
    background: transparent url("../images/icon_sprite.png") no-repeat scroll 0 -39px;
    position: relative;
    z-index: 500;
    left: -20px;
    /*margin-left: -40px;*/
}
.navigation-level-2 {
	position: relative;
    background: #FFF;
    opacity:0.97;
    padding: 20px 0 20px 20px;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
    float: left;
    overflow: visible;
    left: -50%;
    font-size:1.1em;
}
.navigation-level-2 ul {
	/*padding-bottom:20px;*/
}
#navigation .navigation-level-2 li,
#navigation .navigation-level-2 li.first{
    width: 150px;
    float: left;
    padding: 2px 20px 2px 0;
    background-image: none;
    border: none;
    margin: 0;
}
.navigation-level-2 a:hover {
	text-decoration: underline;
}
.navigation-level-2 h3{
     font-size: 1.2em;
    margin: 6px 0 2px 4px;
    color:#4C4C4C;
}
.navigation-level-2 p {
	font-size:1.1em;
	text-align:right;
	margin: 15px -3px -5px 0;	
}
#navigation .navigation-level-2 p a {
	display:inline;
	padding:0 20px 0 0;
	background:none;
	font-size:1em;
	color:#848282;
}
#navigation .navigation-level-2 p a:hover {
	text-decoration:none;
}
.navigation-level-2 p em {
	color: #ec1b2c;
	font-weight:bold;	
}
.navigation-level-3 {
    margin: 0 0 20px;
    overflow: hidden;
}
.navigation-level-3 li,
.navigation-level-3 li.first,
.navigation-level-3 li.last {
    padding: 2px 0;
    margin: 0;
}
.navigation-level-3 a {
	display:block;
	margin:0;
	padding:2px 0px;
	color: #00539f;
}
.expanded .navigation-level-3 a {
    background: none;
    padding-left:5px;
    width:150px;
}
.expanded .navigation-level-3 a:hover {
	background: #e4f2ff;
	text-decoration:none;
}
.dynamic ul {
    overflow: hidden;
}
.dynamic .navigation-level-1 {
    height: auto;
}
.dynamic .navigation-level-1 li {
    position: static;
    padding:0 3px 0 0;
}
.dynamic .navigation-tip {
    margin-left: 0;
    left:0;
}
.dynamic .navigation-level-1 .navigation-wrapper {
    left: 0;
    padding: 0;
    top:40px;
    z-index:2001;
}
.special #navigation .navigation-level-3 a{
	background:none;
	height:auto;	
}
#navigation .navigation-level-1 li.special a{
	background: #ec1b2c url("../images/red_nav_bg.png") scroll repeat-x;
	background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #97111C),
		color-stop(0.10, #B4001B),
		color-stop(0.20, #BE0723),
		color-stop(0.40, #e1031c),
		color-stop(0.50, #F90217),
		color-stop(0.70, #FF0018),
        color-stop(1.0, #FF1343)
    );
    background:-moz-linear-gradient(
        center bottom,
        #97111C 0%,
		#B4001B 10%,
		#BE0723 20%,
		#E1031C 40%,
		#F90217 50%,
		#FF0018 70%,
        #FF1343 100%
    );
	padding-top: 11px;
	padding-bottom:2px;
	height:auto;
	cursor:pointer;
	height:24px;
	width:54px;
	position:absolute;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
#navigation .navigation-level-1 li.special .navigation-level-3 a{
	height:auto;
	padding:2px 0px;	
}
.dynamic .navigation-level-2 {
    left: 0;
}
.dynamic .navigation-level-3 {
    overflow: visible;
}

