
/* 5.   Block elements */

/* 5.1	Product filter */

#product-navigation h3 {
    display:block;
    width:152px;
    padding:4px 8px;
    background: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-bottom:1px solid #fff;
    margin:0 0 -2px;
    font-size:1.2em;
    color:#4C4C4C;
}
#product-navigation .account-homelink {
	background-color: #FFF;
	background-image: none;
	font-weight: normal;
	font-size: 1.1em;
}
#product-filter {
    margin: 0 0 10px 0;
    border:0;
}
#product-filter ul.general-filter, #selected-filters ul.general-filter{
	padding-bottom: 7px;	
}
#product-filter h4 {
    padding:0 1px 3px;
    margin:0;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    background:url("../images/bg_product_filter_h4.png") 0 100% no-repeat;
}
#product-filter h4 a {
    display:block;
    color:#6e6e6e;
    font-size:1.2em;
    padding:4px 8px;
    font-weight: bold;
    width:150px;
    border-top: 1px solid #D9D9D9;
	background:#fff url("../images/bg_prod_nav_h4_a.png") scroll no-repeat -166px 50%;
}
#product-filter h4 a:hover{
	background-color: #f9f9f9;
	text-decoration: none;
}
#product-filter h4.closed {
	padding-bottom:0;
}
#product-filter h4.closed a {
	background-position: 0 50%;
}
#product-filter ul,
#selected-filters ul {
    width:162px;
    /* height:100%; */
    padding:0px 3px 3px 3px;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
	overflow: hidden;
}
#product-filter ul.last, #product-filter ul.last-child{
    border-bottom: 1px solid #D9D9D9;
}
#product-filter ul.closed {
    height:0;
    display:none;
}
#product-filter ul li,
#selected-filters ul li {
    margin:0;
}
#product-filter ul li.first,
#selected-filters ul li.first{
	margin-top:7px;
}
#product-filter ul li a,
#selected-filters ul li a {
	display:block;
    font-size:1.1em;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:7px;
}
#product-filter ul li a:hover,
#selected-filters ul li a:hover {
    text-decoration:none;
    background-color: #e4f2ff;
}
#product-filter ul li a span,
#selected-filters ul li a span {
    color:#000;
}
#product-filter ul li input.checkbox {
    margin: 0 5px 0 0;
}
#product-filter ul li.more-info,
#selected-filters ul li.more-info {
    margin:6px 0 0;
    padding: 0;
    background-color: #D9D9D9;
    overflow:hidden;
}
#product-filter ul li.more-info form {
	padding:3px 0 3px 6px;
}
#product-filter ul li.more-info a{
	padding: 3px 3px 3px 5px;
	background-image:none;
	background-color: #f2f2f2;
}
#product-filter ul li.more-info input.button{
	padding: 2px 7px 2px 7px;
	display: block;
}
#product-filter ul.last li.more-info {
    margin-bottom:0;
    border-bottom: 1px solid #DDD7D7;
}
#product-filter ul li.more-info form span {
    display:block;
    float:left;
    color: #848282;
    font-size:1.1em;
    font-weight:bold;
    padding: 4px 2px 0 0;
}
#product-filter ul li.more-info form input.text {
    display:block;
    float:left;
    width:28px;
    text-align:right;
	margin: 0;
}
#product-filter ul li.more-info form #to1{
  margin: 0 6px 0 0;
}
#product-filter ul.rating li {
    display:inline-block;
    margin: 0 0 5px 0;
}
#product-filter ul.rating li a img {
    display:block;
    float:left;
    margin:0 5px 0 0;
}
#product-filter ul.rating li span {
    float:right;
    width:61px;
    padding-top:2px;
    text-align:left;
}
#product-filter ul.rating li.more-info {
    display:block;
}
#product-navigation .account-subnav h4 a {
	background-image: none;
    padding-left:7px;
    white-space: nowrap;
}
#product-navigation .account-subnav ul {
    padding-top:9px;
}
#product-navigation .account-subnav .account-links-list {
	padding: 0;
	border: 0 none;
	margin: 0 0 16px;
}
#product-navigation li:last-child .account-links-list {
	margin: 0 0 10px;
}
#product-navigation .account-links-list li {
	margin: 2px 0 2px;
}
.account-subnav h5 {
	font-size: 1.2em;
	color: #848282;
	margin: 0 0 0 5px;
}
.product-filter .category-filter li a,
#product-filter .category-filter li a{
	padding-left:21px;
	background: url("../images/sprt-left-nav-check.png") 3px 50% no-repeat;
}
.product-filter .category-filter li a:hover,
.product-filter .category-filter li a.checked,
#product-filter .category-filter li a:hover,
#product-filter .category-filter li a.checked{
	background-position: -186px 50%;
	text-decoration:none;
}
#product-filter .category-filter li a span {
	color:#000;	
}

#product-filter input.invalid{
	padding: 2px 2px;
	height: 17px;
	border: 1px solid #ec1b2c;
	-moz-box-shadow:0 0 5px #ff0000;
	-webkit-box-shadow:0 0 5px #ff0000;
	box-shadow:0 0 5px #ff0000;
}

#product-filter label.invalid{
	position: absolute;
	top: -99999px;
	left: -9999px;
}

#product-filter .submit-error{
	display: none;
}

#product-filter .submit-error p{
	padding: 5px 0 5px 33px;
	border: 1px solid #ec1b2c;
	background: url("../images/warning_triangle_small.png") no-repeat 5px 5px #ffcccc;
	font-size: 1.1em;
	font-weight: bold;
	color: #4F5050;
}

#selected-filters{
	margin: 0 0 20px 0;
	border-bottom: 1px solid #DDD7D7;
}
#selected-filters ul li a{
	padding-left:24px;
	background: url("../images/icon-selected-filters.png") 4px 50% no-repeat;
}
#selected-filters ul li a:hover {
	background-position: -182px 50%;	
}
#selected-filters ul li.more-info a{
	padding: 3px 3px 3px 5px;
	background-color: #b1b0b0;
	background-image:none;
}

