
/* 5.3 Product Grid */

/*
  The product grid controls the styles for all the grid like product visuals
  Min heights control the height of grid items - theses are different depending on the body class
  browse class is 420px min height
  department class is 330px min height
  Min height is turned off for product list
*/

.product-grid{
    float: none;
}
.product-grid .hr{
	margin: 10px 10px 10px 0;	
}
.product-grid .product-details {
	float:none;	
	padding: 0px 10px 0px 10px; 
}
.product-grid ul {
	word-spacing: -0.3em;
}
.product-grid .book-author{
	//font-size:1.2em;
	//color: #00539f;
	//overflow: hidden;
}
.product-grid .book-author.height-param{
	margin:0px
}
.product-grid .book-product .book-author.height-param{
	min-height: 30px;
	max-height: 30px; 
	margin-bottom: 2px;
}
.product-grid .product-availability-offers.height-param {
	min-height: 52px; 	
}
.product-grid .book-product .product-availability-offers.height-param {
	min-height: 75px;	
}
.product-grid li{
    width: 178px;
	float: left;
	margin: 0 10px 10px 0;
	border: #DDD7D7 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    /* -webkit-margin-start:-3px; */
}
.product-grid .ui-widget-content a{
    display: block;
    color: #0265C3;
}
.ui-carousel-slide .ui-carousel-item{
	float:left;
	margin: 0 10px 10px 0;
}
.product-grid ul li,
.product-grid ul ul{
	word-spacing: 0;
}
.product-grid a{
    display: block;
}
.product-grid h3{
	//width:145px;
    font-size: 1.2em;
    font-weight: normal;
    overflow:hidden;
	line-height: 1.2;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    word-wrap:break-word;
}
.product-grid .product-name {
	//overflow: hidden;
	margin: 0;	
}
.product-grid .product-name.height-param{
	height:85px;
	overflow: hidden;
}
.product-grid .book-product .product-name.height-param {
	height: 50px; 	
}
.product-grid .product-availability-offers .special-offers {
	width: 100%;
}
#product-navigation .account-links-list li.order-list-heading {
	margin: 5px 5px 5px 7px; 
	font-size: 1.1em;
}
#product-navigation .account-links-list li ul.order-list{
	padding:0;
	margin:0 0 8px 5px;
	list-style-type:disc;
	border:0;
}
#product-navigation .account-links-list li ul.order-list li{
	margin:0 0 0 15px
}
#product-navigation .account-links-list li ul.order-list li a{
	padding:0 5px 0 0;
}
/*Invalid Glow message on Product Detail Page */
.buy-box label.invalid{
 	display: block;
    left: -78px;
    min-height: 34px;
    position: absolute;
    top: 50px;
    width: 200px;
}
form.pdpRel{
	display: block;
    left: 0;
    min-height: 46px;
    min-width: 265px;
    position: relative;
    top: 0;
}
a.prod-img{
    padding: 5px;
    position:relative;
}
a.prod-img h3{
	color: #00539f;
}
.product-list .prod-img{
	padding:0;
}

a.prod-img img{
    display: block;
}

.product-list h3{
	font-size: 1.6em;
	font-weight: normal;
	//min-height: 45px;
	margin: 0;
}
.product-list h3 a{
	display: block;
	width: 340px;
	overflow:hidden;
	//max-height: 2.5em;
	line-height: 1.2em;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
a.user-rating img{
    float: left;
	margin: 0 4px 0 0;
}
.imageContainer a.user-rating img{
    float: left;
	margin: 0 0 0 8px;
}
.user-reviews, .product-details .product-rating a.user-reviews{
    margin: 1px 0 0 0px;
    vertical-align:middle;
}

.product-grid .product-rating a.user-reviews {
	display:block;	
}
.user-start-review{
	position: relative; 
	padding-top: 1px;
}
.product-tile .user-start-review.height-param{
	height:19px;
}
p.user-reviews{
	color: #4F5050;
	line-height: 1em;
	margin: 4px 0 0 0;
	display: inline;
}
.user-reviews-none {
	/* min-height:16px;
	padding-bottom:3px;	 */
}
.user-reviews-none span {
	position:absolute;
	left:-99999px;
	top:-99999px;
}
.product-grid p{
	line-height: 1.2;
	margin: 0;
}
.product-grid .clubcard,
.product-grid .choice{
	color: #848282;
	font-size: 1.1em;
}
p.current-price{
    font-size: 1.9em;
}
div.old-price span{
    text-decoration: line-through;
    margin-right:10px;
}

p.old-price{
    text-decoration: line-through;
}
p.discount{
    color: #ec1b2c;
    font-weight: bold;
    font-size: 1.1em;
}
p.buy-from{
    padding-bottom: 8px;
    color: #848282;
}
.product-grid .new-slash{
    width: 85px;
    height: 46px;
    position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
}
.product-grid .discount-ping{
	width: 61px;
	height: 61px;
	margin: 0px;
	position: absolute;
	top:10px;
	right:10px;
}
.product-gallery-layout-basic .product-tile-image .discount-ping{
    height: 61px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 61px;
}
.product-grid .product-compare-button{
	display:none;
	/*border-left: 1px solid #B7B6B6;
	padding: 0 0 0 8px;*/
	/* the box is sensitive to bottom margin - caution! */
	/*margin: 2px 3px 0 5px;
	float: left;	*/
}
.product-grid .compare-now-link{
	display:none;
	border-left: 1px solid #DDD7D7;
	padding: 0 0 0 8px;
	/* the box is sensitive to bottom margin - caution! */
	margin: 2px 3px 0 5px;
	float: left;
}
.product-grid .imageContainer {
	height: 248px;
	clear: both;
}
.product-grid .ratingContainer {
	clear: both;
}
.product-grid .pricingContainer {
	height: 65px;
	clear: both;
}
.product-grid .basket-standard {
	margin: 0px 0px 10px 8px;
	width:90%;
}
.product-grid  .basket-disabled {
	opacity: 0.50;
}
.product-grid .out-stock, .product-grid .in-stock, .product-list .out-stock {
    float: left;
}
.product-grid .remove-button {
	z-index:200;
}
.product-grid h3 {
	clear:both;
	margin:0px;
}
.product-grid .current-price span.pounds {
	font-size: 1.4em;
}
.product-grid .in-stock,.product-grid .out-stock {
    width:auto;
    font-weight:bold;
    font-size:1.1em;
    padding:2px 5px;
    border:1px solid #05ae20;
    color:#05ae20;
    border-radius:3px;
    -moz-border-radius:3px;
    text-transform:lowercase;
    margin-bottom: 5px;
}
.product-list .out-stock{
	width:auto;
    font-weight:bold;
    font-size:1.2em;
    padding:1px 5px 2px 5px;
    border:1px solid #05ae20;
    color:#05ae20;
    border-radius:3px;
    -moz-border-radius:3px;
    text-transform:lowercase;
    margin: 0px;
}
.product-grid .product-details-core.height-param  {
	min-height: 55px;	
}
.product-grid .book-product .product-details-core.height-param {
	min-height: 87px;	
}
.product-grid .out-stock,.product-list .out-stock, .buy-box .product-availability {
    font-weight:bold;
    font-size:1.1em;
    padding:2px 5px;
    border:1px solid #848282;
    color: #848282;
    border-radius:3px;
    -moz-border-radius:3px;
    text-transform:lowercase;
    float: left;
	width: auto;
}

//.product-list .out-stock{margin: 0 4px;}

.buy-box li.delisted p{
	color: #848282;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px 0;
}
.buy-box label.invalid {
	margin-left: 10px;	
}
.buy-box label.invalid span {
	left: 85px;	
}

/* 5.3.1 Product Grid - Sortable */

.product-grid.sortable {
    width:760px;
    margin:0;
}
.product-list .sort,
.product-grid.sortable .sort {
    overflow:hidden;
    padding:4px 5px 4px 5px;
    margin:0 10px 10px 0;
    background: #D9D9D9;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(230,226,226)),
        color-stop(1, rgb(247,242,242))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(230,226,226) 0%,
        #EFEFEF 100%
    );
	clear: both;
}
.product-list .sort {
    //margin:20px 0px 20px 0;
}
.product-list .sort div,
.product-grid .sort div {
    display:block;
    float:left;
/*    overflow:hidden;*/
    margin: 0 0px 0 0;
	padding: 0 1px 0 0;
}
.product-list .sort div.pagination,
.product-grid .sort div.pagination{
	height:22px;
	margin-top:0;
	width:auto;
}
.product-list .sort div.pagination .pagination-link,
.product-grid .sort div.pagination .pagination-link{
	margin: 0pt; 
	height: 24px; 
	width:auto;
	padding:0 5px;
}
.product-list .sort div.sortby-container,
.product-grid .sort div.sortby-container {
	float:left;
}
.product-list .sort div.items-views-container,
.product-grid .sort div.items-views-container{
	float:right;
}
.product-list .sort div.items-views-container .button.disabled,
.product-grid .sort div.items-views-container .button.disabled{
      opacity: 0.35;
    cursor: default;
}
.product-list .sort div.items-views-container .button.disabled:hover,
.product-grid .sort div.items-views-container .button.disabled:hover{
      color: #848282;
      background: #fff;
}
.product-list .sort div.divider,
.product-grid .sort div.divider {
	background:transparent url(../images/sort-separator.gif) no-repeat scroll 100% 50%;
}
.product-list .sort div.pagination ul,
.product-grid .sort div.pagination ul {
	display:block;
	float:left;
	margin:0 8px 0 0;
}
.product-list .sort div.pagination ul li,
.product-grid .sort div.pagination ul li {
	float:left;
	display:inline;
	width: auto;
	border: none;
	margin:0 0 0 8px;
	min-height: inherit;
}
.product-list .sort div.pagination ul li.last,
.product-grid .sort div.pagination ul li.last {
	margin: 0;
}
.product-list .sort div.pagination ul li span,
.product-grid .sort div.pagination ul li span {
	margin:5px 0 0 0;
	padding:0;
}
.product-list .sort div.pagination ul li a,
.product-grid .sort div.pagination ul li a {
	margin:5px 0 0 0;
}
.product-list .sort div.last,
.product-grid .sort div.last {
    border-right:0;
    margin-right:0;
    padding-right:0;
}
.product-list .sort a,
.product-grid .sort a {
    float:left;
    padding:0;
    margin:5px 1px 0 1px;
    line-height:1em;
}
.product-list .sort span,
.product-grid .sort span {
    float:left;
    padding:0;
    margin:5px 5px 0 5px;
    line-height:1.2em;
    color: #575757;
}
.product-list .sort a.current-page,
.product-grid .sort a.current-page {
    border-left: 1px solid #848282;
    border-right: 1px solid #848282;
    padding:0 4px;
    margin: 5px 1px 0;
	cursor:default;
    text-decoration:none;
}
.product-list .sort a.pagination,
.product-grid .sort a.pagination {
    border:1px solid #DDD7D7;
    border-radius:3px;
    -moz-border-radius:3px;
    background-color:#fff;
    color: #575757;
    padding:2px 8px;
    font-size:1.2em;
    font-weight:bold;
    line-height:1.3em;
}
.product-list .sort a.pagination:hover,
.product-grid .sort a.pagination:hover {
    background-color: #4F5050;
	color: #fff;
	text-decoration:none;
}
.product-list .sort a.button,
.product-grid .sort a.button {
    width:25px;
    height:17px;
    margin:0;
    padding:2px 0 0 0;
    text-align:center;
    background: #ffffff;
    border: 1px solid #DDD7D7;
    border-radius:3px;
    -moz-border-radius:3px;
    color: #848282;
    font-size:1.4em;
}
.recently-viewed .actions .button:hover,
.product-list .sort a.selected,
.product-grid .sort a.selected,
.product-list .sort a.button:hover,
.product-grid .sort a.button:hover,
.product-compare-clear:hover{
    text-decoration:none;
    background: #4F5050;
    background: -moz-linear-gradient(top, #848282 0%, #60666c 50%, #4F5050 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#848282), color-stop(50%,#60666c), color-stop(100%,#4F5050));
    color:#fff;
}
.recently-viewed .actions .button:hover {
	background: #454648 url(../images/btn_disabled_hover.jpg) 0 0 repeat-x;
}
#recently-viewed .ui-widget-content{
	width: 940px;
	overflow: hidden;	
}
.product-list .sort a.next,
.product-grid .sort a.next {
    background:#fff url("../images/arrow_grey_right.png") scroll no-repeat 90% center;
    padding-right:16px;
    margin:0 6px 0 3px;
	width: 26px;
}
.product-list .sort a.next:hover,
.product-grid .sort a.next:hover {
	background: url(../images/arrow_white_right.png) scroll no-repeat 90% center #4F5050;
    background: url(../images/arrow_white_right.png) scroll no-repeat 90% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#848282), color-stop(50%,#60666c), color-stop(100%,#4F5050));
    background: url(../images/arrow_white_right.png) scroll no-repeat 90% center, -moz-linear-gradient(top, #848282 0%, #60666c 50%, #4F5050 100%);
}
.product-list .sort a.previous,
.product-grid .sort a.previous {
    background:#fff url("../images/arrow_grey_left.png") scroll no-repeat 5% center;
    padding-left:16px;
    margin:0 3px 0 6px;
	width: 50px;
}
.product-list .sort a.previous:hover,
.product-grid .sort a.previous:hover {
	background: url(../images/arrow_white_left.png) scroll no-repeat 5% center #4F5050;
    background: url(../images/arrow_white_left.png) scroll no-repeat 5% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#848282), color-stop(50%,#60666c), color-stop(100%,#4F5050));
    background: url(../images/arrow_white_left.png) scroll no-repeat 5% center, -moz-linear-gradient(top, #848282 0%, #60666c 50%, #4F5050 100%);
}
.product-list .sort div a.last,
.product-grid .sort div a.last {
    margin-left:5px;
    margin-right:6px;
}
.product-list .sort a.list,
.product-list .sort a.grid,
.product-grid .sort a.list,
.product-grid .sort a.grid {
    border:0;
    height:19px;
    text-indent: -9999px;
}
.product-list .sort a.list,
.product-grid .sort a.list {
    width:27px;
    margin-right:5px;
    background:transparent url("../images/button_list_view.png") scroll no-repeat top left;
}
.product-list .sort .views .list,
.product-list .sort a.list:hover,
.product-grid .sort a.list:hover {
    background:transparent url("../images/button_list_view.png") scroll no-repeat bottom left;
}
.product-list .sort a.grid,
.product-grid .sort a.grid {
    background:transparent url("../images/button_grid_view.png") scroll no-repeat top left;
}
.product-grid .sort .views .grid,
.product-list .sort a.grid:hover,
.product-grid .sort a.grid:hover {
    background:transparent url("../images/button_grid_view.png") scroll no-repeat bottom left;
}
.product-list .sort select,
.product-grid .sort select {
    margin:2px 6px 0 0;
	color: #4F5050;
	font-size: 1.1em;
	width:125px;
	line-height: 16px;
}
.product-grid.sortable a h3 {
    color: #00539f;
}
.product-grid.sortable .product-rating{
    min-height: 16px;
    margin-bottom: 5px;
}
.product-grid.sortable .user-rating img{
	margin: 0 4px 0 0;
}
.product-grid .imageContainer .user-rating{
    margin-left: 10px;
}
.product-grid .imageContainer .user-rating img{
	margin: 0;
}
.product-grid.carousel p {
    //margin:0 0 0 10px;
}
.no-user-rating{
	min-height:15px
}
.product-grid.sortable .sold-by, .product-grid.carousel .sold-by {
    font-weight: normal;
    
	font-size: 1.1em;
}
.product-grid.sortable .sold-by em, .product-grid.carousel .sold-by em {
	font-weight: bold;
}
.product-grid.sortable .sold-by span {
    text-transform: none;
    font-weight: normal;
	margin: 0;
}
.product-grid.sortable .prices-from {
    color: #848282;
    margin: 0 0 0 2px;
}
.product-grid.sortable .buyfromtesco{
	margin-top:10px;
}
.product-grid.sortable .current-price{
	font-size: 1.9em;
	height: 28px;
}
.product-grid .current-price {
    color: #4F5050;
    clear: both; 
}
.product-grid .current-price span.pounds {
    font-weight:bold;
}
.sortable .current-price .pounds{
	font-size: 1.4em;
}
.product-grid .current-price span.pounds, .product-grid .current-price span.pence {
    font-weight:bold;
}
.product-grid.carousel .discount {
    //font-weight:normal;
    //margin:0 0 0 11px;
}
.product-grid .discount {
    font-weight:normal;
    clear:both;
}
.product-grid .special-offers,
.product-list .special-offers{
    overflow: visible;
}
.product-grid .special-offers{
	display: block;
	border: 0px solid #DDD7D7;
}
.product-grid .special-offers:hover {
    text-decoration: none;
}
.compare-section{
	clear: left;
}
.product-availability-offers .special-offers{
    display:block;
    clear:both;
    margin-bottom: 5px;
    float:left;
    width:auto;
    padding:2px;
    border-radius:3px;
    /* border: 1px solid #DDD7D7; */
    -moz-border-radius:3px;
	background: url(../images/special_offers_button_new.png) no-repeat scroll;
}
.product-availability-offers .special-offers-hidden{
	visibility: hidden;
}
.product-grid .product-availability-offers .link-save-button{
	margin:0;
	padding:0;
	clear:both;
}
.product-grid .product-availability-offers .link-save-button.height-param{
	height:22px;
}
.product-grid .product-availability-offers .link-save-button .lsb-container{
	height: 22px; 
	padding-top: 5px;
}
.product-grid .product-availability-offers .link-save-button .button{
	font-size:1.2em;
	width:162px;
}
.product-grid .product-availability-offers .link-save-button fieldset{
	margin-left:0;
}
.product-list .special-offers{
	clear: none;
	display: block;
	margin: 0 0 0 4px;
	padding: 2px 4px 2px 2px;
}
.product-availability-offers .special-offers li,
.product-availability-offers .special-offers .view a{
	color: #848282;
    position:relative;
	height: 100%;
}
.product-availability-offers .special-offers li,
.product-availability-offers .special-offers .view a:hover{
	color:#fff;
}
.product-availability-offers .special-offers li{
	margin: 0;
	border: none;
	width: auto;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	min-height: inherit;
}
.product-availability-offers .special-offers .highlight {
	float:left;
	position:relative;
	top:1px;
	height:16px;
	padding:0 15px 0 14px;
    display:inline;
    text-transform:uppercase;
    font-size:1.1em;
	color: #F50606;
	font-weight:bold;
	background: url(../images/special_offers_divider.png) 100% 50% no-repeat;
}

.product-grid .product-availability-offers form {
	float:left;
}
.product-grid .product-availability-offers .button {
	width:160px;
}
.product-list .product-availability-offers .hasTooltip .highlight{
	top: 0px;
}
.product-availability-offers .special-offers .view{
	margin: 0 1px 0 2px;
	padding: 2px 4px 0px 4px;
	display: block;
	float: left;
	height: 14px;
	line-height: 1.1em;
	color: #575757;
	cursor:pointer;
}
.product-list .view:hover,
.product-grid .view:hover,
.product-list .view:focus,
.product-grid .view:focus{
	background: #848282;
	color:#fff;
}

.product-grid .hover .offers,
.product-list .hover .offers,
.product-grid .view:hover .offers,
.product-list .view:hover .offers,
.product-list .view:focus .offers,
.product-grid .view:focus .offers{
	visibility: visible;
}
.offers li.offers-last{
	line-height:0px;
	list-style:none outside none !important;
	margin:0px;
}
.offers li.offers-last a{
	color: #fff;
	outline: 0px transparent solid;
}
.offers li.offers-last a:focus{
	outline: none;
}
.offers li a:focus{
	outline: 1px dotted #000;	
}
.offers, .tooltip-product-attribute{
	display:none;
	width: 300px;
	z-index: 100000;
}
.offers li, .tooltip-product-attribute li, .product-list .offers li{
	list-style: disc;
	font-size: 1.1em;
	margin: 5px 0 5px 15px;
	color: #4F5050;
	float: none;
	padding: 0 0 0 3px;
	border: 0px solid #fff;
}
.offers a, .tooltip-product-attribute a {
	color: #00539f;
}

.product-availability-offers .offers span.tooltip-postion-top, .tooltip-product-attribute  span.tooltip-postion-top{
	background: transparent url(../images/icon_sprite.png) no-repeat scroll  -40px -40px !important;
}

.product-availability-offers #DPpopup span.tooltip{
	height:12px;
	width:35px;
	position: absolute;
	top: -12px;
	left: 50%;
	left: 260px;
	background: transparent url(../images/icon_sprite.png) no-repeat scroll 0 -39px;
}

.product-grid.sortable .add-to-list {
    overflow:visible;
    display:block;
    /* float:left; */
    clear:both;
    background: #e4f2ff;
    width:158px;
    padding:1px 10px 3px;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    height: 20px !important;
}
.product-grid.sortable .add-to-list input {
    float:left;
}
.product-grid.sortable .add-to-list label {
    float:left;
    padding: 4px 0 0 5px;
    color: #00539f;
    cursor: pointer;
}
.product-compare-options{
	position:relative;
	height:20px;
	overflow:visible;
	margin: 0 0px 15px 0;
	clear: both;
	padding:7px 10px;
}
.product-compare-options .tip{
	position: absolute;
	bottom: -13px;
	left: 50px;
	width: 35px;
	height: 12px;
	background: url(../images/buybox_tip_down.png) no-repeat -35px 0;
}
.product-compare-options-bottom{
	margin: 15px 10px 5px 0;
}
.product-compare-options-bottom .tip{
	position: absolute;
	top: -12px;
	left: 50px;
	width: 40px;
	height: 12px;
	background: url(../images/buybox_tip.png) no-repeat 0 0;
}
.product-compare-options h4 {
	font-size: 1.2em;
	color: #848282;
	float: left;
	margin: 3px 0 0;
}
.product-compare-options a {
	float: right;
}
.product-compare-options .product-compare-button,
.product-compare-options .product-compare-clear {
	font-size: 1.2em;
	display: inline;
	margin-left: 10px;
}
.product-compare-clear {
	border: 1px solid #DDD7D7;
}
.product-compare-disabled .product-compare-button {
	opacity: 100%;
}
.product-list .add-to-list .checklink{
	float: left;
	padding:1px 9px 3px 23px;
	background: transparent url(../images/sprt-left-nav-check-blue.jpg) no-repeat 3px -32px;
}
.product-list .compare-selected .checklink {
	background-position: 3px 2px;
}

.product-list span.checklink-select-text{
	padding-top:4px;
	outline-style:none;
}

.product-compare-hidden .product-compare-options,
.product-compare-disabled li .product-compare-button {
	display: none;
}
.checklink {
	padding: 5px 5px 4px 20px;
	background: transparent url(../images/sprt-left-nav-check-blue.jpg) no-repeat 0px -32px;
	display: block;
/*	outline: none;*/
	line-height: 1;
}
.compare-selected .checklink {
	background-position: 3px 1px;
}
.checklink-remove-text,
.compare-selected .checklink-select-text {
	display: none;
}

.product-list span.checklink-remove-text{
	padding-top:4px;
	outline-style:none;
}

.product-list .compare-now-link span.checklink-remove-text{padding-top:3px;}

.compare .compare-selected .add-to-list .product-compare-button,
.compare-selected .checklink-remove-text,
.checklink-select-text {
	display: block;
}
.product-list li .add-to-list .product-compare-button {
	border-left: 1px solid #DDD7D7;
	padding: 0 0 0 10px;
	/* the box is sensitive to bottom margin - caution! */
	margin: 2px 0px 0px;
	float: left;
	display: none;
	line-height: 1;
}
.compare-dialog {
	position: absolute;
	z-index: 9000;
	bottom:-133px;
	left:-36px;
/*	top: 100%;*/
}
.compare-dialog-inner {
	position: relative;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.75 );
	box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.75 );
	padding: 10px;
	background: #FFF;
}
.compare-dialog-error .compare-dialog-inner {
	border: 2px solid #ec1b2c;
}
.compare-dialog .compare-dialog-inner p {
	float: none;
	display: block;
	margin: 0;
	color: #4F5050;
	font-size: 1.1em;
	width: 200px;
}
.compare-dialog-error .compare-dialog-inner p {
	color: #ec1b2c;
}
.compare-dialog .actions {
	padding: 10px 0 0;
	height:20px;
	text-align:center;
}
.compare-dialog .button,
.compare-dialog .compare-dialog-inner .button,
.compare-dialog-inner .compare-dialog a.button {
	float: none;
	display: inline;
	margin: 10px 10px 0 0;
}
.compare-dialog-tip {
	display: block;
	float: left;
	height: 100%;
	width: 15px;
	background: transparent url(../images/arrow_error_left.png) no-repeat scroll left center;
	position: relative;
	top: -50%;
	z-index: 9000;
}
.compare-dialog .tooltip{
	background: transparent url(../images/icon_sprite.png) no-repeat scroll 0 -39px;
	height:12px;
	left:91px;
	position:absolute;
	top:-12px;
	width:35px;
	z-index:2000;
}
.product-list .compare-dialog .tooltip{
	left:44px;
}
/*	Create two boxes around the image and ping, 
	to apply clipping if the image is too big,
	and vertical and horizontal centering if the image is too small. 
*/
.img-outer {
	float: left;
}
.img-outer .img-inner {
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
div.img-outer div.img-inner img.product-image {
	vertical-align: middle;
	display: inline;
	float: none;
}
