/* 3.4 Search Form */

#search {
    margin: 8px 195px 0px 0px;
    position: relative;
    float: right;
    border: 1px solid #EEEBEB;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    height:19px;
    padding:7px;
}
#search-input{
	width: 210px;
    margin-right: 4px;
    padding:1px;
    background-color:#FAFAFA;
}
#search input.search-button {
	top: 0px;
	margin:-2px 0 0 4px;
}
select#search-site{
    width: 153px;
    height: 1.79em;
    padding: 0;
    margin: 0px 7px 0px 5px;
    line-height:17px;
}
.text-input {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
}
#search label {
    font-size: 1.2em;
    font-weight: bold;
    color: #848282;
    padding:0 2px 0 0px;
    position: relative;
    top: 1px;
    float:left;
}
#searchDD-container{
	width:162px;
	overflow:hidden;
	float:left;
	margin-right:10px;
}

.ui-autocomplete{
	padding: 5px;
	width: 200px;
	border: 1px solid #DDD7D7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:1px 1px 5px #000000;
	-webkit-box-shadow:1px 1px 5px #000000;
	box-shadow:1px 1px 5px #000000;
	background: #fff;
	font-size: 1.1em;
	line-height: 1.5em;
	cursor: pointer;
	float: left;
}
