
/* 5.11.1 Seach Option 1 */

/*
	search option 1 page
*/

p.other-suggestions{
    font-size: 1.2em;
    color: #4F5050;
    margin: 15px 0 0 0;
}
.other-suggestions a{
    font-weight: bold;
}
p.related-searches{
    font-size: 1.2em;
    font-weight: bold;
    margin: 11px 0 22px 0;
    padding: 10px 0 0 0;
    color: #4F5050;
    border-top: 1px dashed #DDD7D7;
    display: inline-block;
}
.product-grid.sortable .sort.bottom {
    margin: 20px 10px 0 0;
}
.search-results li{
    min-height: 409px;
}
.product-grid.sortable form.no-offer{
    margin: 29px 0 0 0;
}

/* 5.11.2 Search Results 2 */

.search-suggestions{
	margin: 20px 20px 10px 0;
	padding: 0 0 10px 1em;
	border-bottom: 1px dashed #DDD7D7;
	font-size: 1.2em;
}
.search-suggestions li{
	width: 675px;
	color: #4F5050;
	margin: 0 0 10px 1px;
	list-style: disc outside;
}
