/*----Seller Directory -------*/
.seller-list{
  padding-bottom: 20px;
}
.seller-list li{
  display:inline;
}
.btn-alphabet{
  width:28px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 5px 0; 
  text-align:center;
  margin-right:1px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.btn-functional {
  background: #f7f7f7;
  background-image: linear-gradient(top, #f7f7f7, #f1f1f1);
  background-image: -o-linear-gradient(top, #f7f7f7, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f7f7f7, #f1f1f1);
  background-image: -webkit-linear-gradient(top, #f7f7f7, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f7f7f7, #f1f1f1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#f7f7f7), color-stop(#f1f1f1));
  color: #606060;
}
.btn-functional:focus {
  border-color: #539adf;
  color: #606060; 
}
.btn-functional:hover, .btn-functional:active {
  border-color: #c1c1c1;
  color: #5e5d5d; 
  text-decoration:none;
}
#seller-dir-section li.seller-dir-subsection{
  padding-bottom:10px;
}
#seller-dir-section li.seller-dir-subsection-last{
  padding-bottom:30px;
}
#seller-dir-section li h2{
  padding-bottom:10px;
}
#seller-dir-section .seller-alpha-section li{
  display:inline-block;
  width:210px;
  margin:0 17px 10px 0;
  font-size:1.2em;
}
#seller-dir-section .dotted-line{
  padding-top:10px;
  border-top: 1px dashed #DDD7D7;
}
.seller-alpha-section li a, .seller-alpha-section li a:link, .seller-alpha-section li a:visited {
    color:#737373;
    text-decoration: underline;
}
#seller-dir-section .back-top-link{
  float: right;
  font-size: 12px;
  font-family:arial;
  text-decoration:underline;
}
