

/* 5.23		Seller Information	*/

#seller-tabs{
    width:940px;
    margin: 0 0 10px -10px;
}
.seller-header h1{
	float: left;
}
.seller-header a{
	margin: 0 15px 0 0;
	font-size: 1.2em;
}
.seller-header{
	text-align: left;
    width:auto;
}
.seller-footer .generic-standard{
	float: left;
}
.tabs-container .tabs-nav{
	display: none;
}
.ui-tabs .tabs-nav{
	display: block;
}
.tabs-container p,
.tabs-container li{
	font-size: 1.2em;
	color: #4F5050;
}
.ui-tabs .tabs-nav{
	height: 36px;
	display: block;
	background: url(../images/bg_sellers_info.jpg) 0 0 repeat-x;
}
.ui-tabs .tabs-nav li{
 	display: block;
	height: 36px;
	float: left;
}
.ui-tabs .tabs-nav li a{
	margin: 0 0 0 7px;
	padding: 14px 14px 0 10px;
	height: 22px;
	display: block;
	float: left;
	font-size:1.2em;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background: url(../images/bg_sellers_border.jpg) 100% 75% no-repeat;
}
.ui-tabs .tabs-nav li a.active,
.ui-tabs .tabs-nav li a:hover{
	padding: 13px 13px 0 9px;
	background: #fff;
	border-top: 1px solid #DDD7D7;
	border-left: 1px solid #DDD7D7;
	border-right: 1px solid #DDD7D7;
	color: #848282;
	visibility: visible;
	z-index: 500;
}
.ui-tabs .tabs-nav li a.last-item{
	background: none;
}
.ui-tabs .tab{
	border-bottom: 1px solid #DDD7D7;
	border-left: 1px solid #DDD7D7;
	border-right: 1px solid #DDD7D7;
/*	overflow: auto;*/
	float: left;
	width: 938px;
}
.ui-tabs .tab h2{
	font-size: 2.0em;
}
.ui-tabs .tab .summary-content{
	width: 420px;
}
.ui-tabs .tab .column{
	float: left;
	margin: 0 19px 0 0;
	padding: 35px 15px 15px 15px;
}
.ui-tabs .tab a{
	display: block;
	margin: 0 0 35px 0;
	font-size: 1.1em;
}
.ui-tabs #contact .vcard{
	margin: 20px 0 50px 0;
}
.ui-tabs #contact .vcard p{
	margin: 5px 0;
}
.ui-tabs #contact .vcard .type{
	width: 120px;
	float: left;
	font-weight: bold;
}
.ui-tabs #contact .vcard .locality,
.ui-tabs #contact .vcard .postal-code {
	padding: 0 0 0 120px;
}
.ui-tabs #contact p a{
	display: inline;
}
.ui-tabs #del-info .column{
	width: 400px;
}
.ui-tabs #del-info li{
	margin: 0 0 10px 0;
	font-weight: bold;
}
.ui-tabs #del-info .del-type{
	margin: 0 0 5px 0;
	display: block;
}
.ui-tabs #del-info .info{
	font-weight: normal;
}
.ui-tabs #del-info .price{
	float: right;
}
.ui-tabs .ui-tabs-hide {
     display: none;
}

/* 5.24		Payment Details	*/

#payment-details .primary-content .form-container p{
	font-size: 1.1em;
	color: #4F5050;
	clear: both;
}
#payment-details .primary-content .form-container .no-gift-card{
	margin-bottom:0;	
}
#payment-details .form-container .page-notification p{
	margin: 0;
}

#payment-details .primary-content .form-container{
	padding: 0 0 20px;
}
#payment-details .primary-content fieldset .couponblock{
	margin: 30px 0 20px;
	overflow: hidden;
}
#payment-details .paylaterinfo{
	font-size: 1.1em;
}
#payment-details .pay-later-items{
	color: #4F5050;
	list-style-type:disc;
	margin:20px 0;
	padding:0 0 0 10px;
}
#payment-details .pay-later-items li{
	margin: 0 0 0 20px;
	color: #848282;
	clear: both;
}
#payment-details .pay-later-items li a{
	margin: 0;
	float: none;
	font-size: 1.2em;
}
#payment-details .shortlabel label.invalid{
	margin: 15px 5px 5px 40px;
}
#payment-details .secondary-content .intro-disc{
	font-weight: normal;
	font-size: 1.1em;
	border-bottom: 1px solid #DDD7D7;
	padding-bottom: 5px;
	color: #4F5050;
}
#payment-details .primary-info h3{
	color: #848282;
	font-size: 1.6em;
}
#payment-details .primary-info .subtotal{
	font-weight: bold;
	margin: 10px 0 10px 0;
	padding: 5px 0 10px 0;
	border-top: 1px dashed #848282;
	-moz-border-image: url(../images/border_dotted.gif) 1 1 1 1 / 1px 0 1px 0 repeat;
    -webkit-border-image: url(../images/border_dotted.gif) 1 1 1 1 / 1px 0 1px 0 repeat;
	border-image: url(../images/border_dotted.gif) 1 1 1 1 / 1px 0 1px 0 repeat;
	border-bottom: 1px solid #DDD7D7;
	list-style-type: none;
	list-style-position:outside;
}
#payment-details .primary-info .payment-charges{
	border: none;
}
#payment-details .primary-info .total{
	padding: 5px 0 15px 0;
	border-top: 1px solid #DDD7D7;
	font-weight: bold;
}
#payment-details .primary-info li.discount{
	list-style-type: disc;
	margin: 1px 0 1px 20px;
	border-top:none;
	-moz-border-image: none;
    -webkit-border-image: none;
	border-image: none;
}
#payment-details .primary-info .total-payment ul.points {
    list-style: none outside none;	
	border: none;
}
#payment-details .primary-info .total-payment ul.points li{
	color: #4F5050;
}
#payment-details .primary-info .total-payment ul.points li.attention{
	color: #ec1b2c;
}
#payment-details .primary-info .total-payment ul.points li.total-points{
	font-weight: bold;
}
#payment-details .primary-info input{
	width: 100%;
}
#payment-details .page-error span{
	display: none;
}
#payment-details .page-error label{ /* styles need to be cancelled as whole page must be wrapped in the form element */
	margin: 0;
	padding: 0;
	border: none;
	float: none;
	background: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#payment-details .primary-info .no-attention{
	margin: 10px 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #DDD7D7;
}
#payment-details .primary-info h3.savings{
	font-size: 1.2em;
	color: #ec1b2c;
}
#payment-details .primary-info div.order-discounts {
	margin: 15px 0px 0px 0px;	
}