

/* 5.14 Customer services navigation */

/*
	Part of secondary navigation
	An aside underneath main secondary navigation
*/

.secondary-nav-customer-services{
    margin: 19px 0 0 0;
}
.secondary-nav-customer-services li{
    border: 1px solid #DDD7D7;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px 3px 3px 9px;
    margin: 0 0 9px 0;
    overflow: hidden;
}
.secondary-nav-customer-services a{
    color: #575757;
	overflow: hidden;
	display: block;
}
.secondary-nav-customer-services span{
    font-size: 1.4em;
    width: 110px;
    display: inline;
	vertical-align: middle;
	float: left;
}
.secondary-nav-customer-services img{
    float: right;
}

.form-group .form-intro,
.form-group-divider .form-intro {
	margin: 15px 0 30px;
}
.form-group .form-footer,
.form-group-divider .form-footer {
	margin: 15px 0 20px;
	float: left;
	clear: both;
}
.form-error a,
.form-group .form-footer a,
.form-group-divider .form-footer a,
.form-group .form-intro a,
.form-group-divider .form-intro a {
	clear: none;
	margin: 0;
	display: inline;
	font-size: 1em;
	float: none;
}