
.storefinder-search {
    width: 285px;
    float: left;
}
.header-intro {
    color: #4F5050;
    font-size: 1.2em;
    margin: 0 0 10px
}
.page-success-state .page-success,
.page-errorstate .page-error,
.page-errorstate .form-error {
    display: block;
}
.storefinder-input {
    margin: 4px 10px 4px 0px;
    float: left;
    width: 110px;
}
.storefinder-back-button {
    margin: 30px 0;
	float: left;
}
.storefinder-back-button:hover {
    text-decoration: none;
}
.storefinder-maparea {
    margin-top: 20px;
}
.storefinder-mapviewer {
    width: 630px;
    height: 400px;
    float: right;
    background: #DDD7D7;
    position: relative;
    overflow:hidden;
}
.storefinder-icon a span {
    font-size: 1.4em;
    color: #FFF;
    font-weight: normal;
    line-height: 35px;
}
.storefinder-resultsarea {
    padding-top: 10px;
}
.storefinder-resultstable {
    width: 100%;
    border-collapse: collapse;
}
#infoBox {
	position:absolute;
	top:0px;
	left:0px;
	z-index:10000;
	font-size: 1.2em;
	visibility:hidden;
	background-color:#ededed;
  	border:2px solid #666666;
	margin:10px auto;
	padding:10px;
	width:170px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 5px #888888;
	-webkit-box-shadow:0 0 5px #888888;
}

#infoBox .store-name {
	font-weight: bold;	
}
#infoBox .arrow {
  border-color: transparent #666666 transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:40px;
  left:-20px;
}
.coupons-table {
	width: 100%;
    margin-top: 0px;
}
.storefinder-resultstable {
    border-bottom: 1px solid #DDD7D7;
}
.coupons-table tr,
.coupons-table td,
.coupons-table th,
.storefinder-resultstable tr,
.storefinder-resultstable td,
.storefinder-resultstable th {
	vertical-align:top;
    border: 0 none;
    padding: 0;
}
.coupons-table th,
.storefinder-resultstable th {
    text-align: left;
    font-size: 1.4em;
    color: #848282;
    padding: 5px 0;
}
.storefinder-resultstable th.header-column{
	width:31.5%
}
.coupons-table th.voucher-lbl-code{
	width:135px;
}
.coupons-table .button-cell {
    width: 90px;
    background: transparent
}
.coupons-table .button-cell .button {
    margin-left: 12px;
    display: inline;
    font-size: 1em;
}
.coupons-table th {
    border-bottom: 1px dashed #DDD7D7;
    padding-left: 5px;
}
.coupons-table .coupons-table-td-ecoupon{
	width: 250px;		
}
.coupons-table .coupons-table-td-code{
	width: 90px;		
}
.coupons-table td {
    border:0px none;
    border-top:7px solid #fff;
    background: #D9D9D9;
    font-size: 1.2em;
}
.coupons-table .highlight {
    display: block;
    color: #848282;
    padding: 4px 5px;
}
.coupons-table .coupons-tick{
	width:20px;	
    background: transparent url("../images/icon_sprite.png") no-repeat scroll -20px -18px;	
}
.coupons-table .coupons-cross{
	width:20px;	
    background: transparent url("../images/icon_sprite.png") no-repeat scroll 0 -18px;	
}
#payment-details .form-container .coupons-field {
	-moz-border-image: none;
	-webkit-border-image: none;
	border-bottom: 1px solid #DDD7D7;
	padding: 0 0 10px;
}
.coupons-table .coupons-tooltip-cell{
	position:relative;
	padding:0px;	
	height:1px;
	border:0px none;
	background: transparent
}
.coupons-table .coupons-tooltip-cell .jt-tooltip {
	position:relative;
    max-width: 518px;
    display:block;
    padding:11px 30px 0px;
}
.coupons-table .coupons-tooltip-cell .jt-tooltip .tooltip {
	left:60px;
}
.coupons-table .coupons-tooltip-cell .jt-tooltip .jt-tooltip-content{
	padding:0 10px 5px;
}
#payment-details .primary-content .form-container .coupons-tooltip-cell p{
	margin:5px 0px 0px;	
}
#delivered-to .form-container h2.page-title{
  float:left; 
}
#delivered-to .form-container div.topcont-button{
  float:right;  
}
.storefinder-resultstable td {
    color: #4F5050;
    vertical-align: top;
}
.storefinder-resultstable .storefinder-results-address-title td {
	padding-bottom:0;
	border-top: 1px dashed #DDD7D7;
}
.storefinder-resultstable tbody td {
    border: 0 none;
    width: 27%;
    padding-bottom: 10px;
}
.storefinder-resultstable p,
.storefinder-resultstable ul,
.storefinder-resultstable .vcard {
    font-size: 1.2em;
    margin: 0;
}
.storefinder-resultstable h3 {
    font-size: 1.6em;
    color: #4F5050;
    margin: 10px 0;
}
.storefinder-resultstable tbody .storefinder-results-pickuptime {
    width: 19%;
    padding-right: 30px;
    vertical-align:bottom;
}
.storefinder-resultstable tbody .storefinder-results-pickuptime .input-standard{
	margin: 10px 0 0 0;
	float: left;
}
.storefinder-results-address-phone {
    margin-top: 1em;
    display: block;
}
.storefinder-results-address-details span {
    display: block;
}
.storefinder-results-maplink {
    font-size: 1.1em;
}
.storefinder-openingtimes {
    padding-right: 64px;
}
.storefinder-openingtimes li {
    clear: both;
}
.storefinder-openingtimes-day {
    float: left;
}
.storefinder-openingtimes-times {
    float: right;
}