
.dds {
	display:none;
	position:relative;
	width:475px;
}
.dds .hasDatepicker {
	float:left;
}
.dds .jt-tooltip-content {
	padding-bottom:9px;
}
.dds .ui-datepicker .ui-datepicker-title {
	color: #848282;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.3em;
}
.dds .ui-datepicker a.ui-state-default {
	color: #848282;
}
.dds .ui-datepicker .ui-datepicker-unselectable span {
	color: #848282;
}
.dds .ui-datepicker td.ui-datepicker-current-day{
	opacity:1;
	filter:alpha(opacity=100);
}
.dds .ui-datepicker {
	width:170px;
}
.dds .ui-datepicker .ui-datepicker-header {
	padding-bottom:10px;
}
.dds .ui-datepicker .ui-icon {
    background:url("../images/bg_ui_prev_next.png") top left no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    width:21px;
    height:20px;
    position:static;
    left:auto;
    right:auto;
    margin-top:0;
    margin-left:0;
}
.dds .ui-datepicker .ui-datepicker-prev,
.dds .ui-datepicker .ui-datepicker-next {
	top:0;
	width:21px;
	height:20px;
}
.dds .ui-datepicker .ui-datepicker-prev {
	left:0;
}
.dds .ui-datepicker .ui-datepicker-next {
	right:0;
}
.dds .ui-datepicker .ui-datepicker-prev .ui-icon {
	background-position:-20px 0;
}
.dds .ui-datepicker .ui-datepicker-prev.ui-state-disabled .ui-icon {
	background-position:-20px -20px;
}
.dds .ui-datepicker .ui-datepicker-next .ui-icon {
	background-position:0 0;
}
.dds .ui-datepicker .ui-datepicker-next.ui-state-disabled .ui-icon {
	background-position:0 -20px;
}
.dds .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.dds .ui-datepicker .ui-datepicker-prev.ui-state-focus,
.dds .ui-datepicker .ui-datepicker-next.ui-state-hover,
.dds .ui-datepicker .ui-datepicker-next.ui-state-focus {
	border:none;
	background:none;
	top:0;
}
.dds .ui-datepicker table {
	width:170px;
}
.dds .ui-datepicker td {
	padding:0;
	border: 1px solid #DDD7D7;
}
.dds .ui-datepicker th {
	padding:0.4em 0.3em;
	border: 1px solid #DDD7D7;
}
.dds .ui-datepicker td span,
.dds .ui-datepicker td a {
	padding:0.3em;
	font-size:1.1em;
	text-align:center;
	border:none;
}
.dds .ui-datepicker th {
	font-size:1.2em;
	text-align:center;
}
.dds .ui-datepicker .ui-state-default {
	background:#fff;
}
.dds .ui-datepicker .ui-datepicker-unselectable a,
.dds .ui-datepicker .ui-datepicker-unselectable span {
	background: #DDD7D7;
}
.dds .ui-datepicker .ui-datepicker-current-day a,
.dds .ui-datepicker .ui-datepicker-current-day span {
	background: #848282;
	color:#fff;
}
.dds .dds-instructions {
	border-bottom: 1px solid #DDD7D7;
	color: #4F5050;
	font-size:1.1em;
	margin-bottom:7px;
	padding:3px 0 6px;
}
.dds .dds-details {
	float:left;
	width:auto;
	margin-left:15px;
	padding-top:36px;
}
.dds .dds-details p {
	color: #848282;
	font-size:1.4em;
	margin:0 0 12px;
	line-height:1em;
}
.dds .dds-details .dds-details-title {
	font-size:1.6em;
	font-weight:bold;
}
.dds .dds-details-actions {
	bottom:25px;
	position:absolute;
	right:11px;
}
.dds .dds-details-actions a {
	float:right;
	margin-left:9px;
}
.dds .dds-details-actions .input-standard {
	/*top:1px;*/
	top:0px;
}

.jt-tooltip.dds {
	left:-82px;
	/*width:475px;*/
	width:550px;
}

.jt-tooltip {
	display:none;
	position:absolute;
    max-width: 500px;
    padding:11px 0;
    z-index:10000;
}
.jt-tooltip-content {
	overflow:hidden;
	padding:5px 10px;
    border-radius:3px;
    -moz-border-radius:3px;
	-moz-box-shadow:0 0 5px #B9B9B9;
    -webkit-box-shadow:0 0 5px #B9B9B9;
    box-shadow:0 0 5px #B9B9B9;
	border: 1px solid #DDD7D7;
	background:#fff;
	
	.ajaxLoaderSmall {
	    background: url("../images/ajax-loader-small.gif") no-repeat 15px 10px white; 
	}
}
.jt-tooltip .tooltip{
	height:12px;
	width:35px;
	position: absolute;
	top: 0;
	left:auto;
	background: transparent url("../images/icon_sprite.png") no-repeat scroll 0 -39px;
}
.tooltip-position-above .tooltip{
	top:auto;
	bottom:0;
	background: transparent url("../images/icon_sprite.png") no-repeat scroll  -40px -40px;
}
.tooltip-empty-basket,
.tooltip-register-for-alerts,
.tooltip-card-delete {
	display:none;
	text-align:center;
}
.tooltip-empty-basket {
	width:160px;
}
.tooltip-register-for-alerts,
.tooltip-card-delete {
	width:220px;
	z-index:999;
}
.tooltip-empty-basket p,
.tooltip-register-for-alerts p,
.tooltip-card-delete p {
	font-size:1.1em;
}
.tooltip-empty-basket a,
.tooltip-register-for-alerts a,
.tooltip-card-delete a {
	margin:0 5px 10px;
}
.tooltip-empty-basket .jt-tooltip-content,
.tooltip-register-for-alerts .jt-tooltip-content,
.tooltip-card-delete .jt-tooltip-content {
	padding-bottom:15px;
}
.tooltip-register-for-alerts .jt-tooltip-content p {
  margin-bottom: 1em;
}
.tooltip-register-for-alerts .jt-tooltip-content a.input-standard{
	top:0px;
}
.tooltip-empty-basket .jt-tooltip-content a.input-standard{
	top:0px;
}
.tooltip-card-delete a.confirm-button {
	top: 0px;	
}
.tooltip-pending-orders {
	display:none;
	width:365px;
	color: #4F5050;
}
.tooltip-pending-orders .jt-tooltip-content {
    padding-left: 15px;
    padding-right:15px;
}
.tooltip-pending-orders p {
	font-size:1.1em;
}
.tooltip-pending-orders ul {
	margin-bottom:12px;
    margin-top: 16px;
}
.tooltip-pending-orders li {
	display:inline;
	margin:0 10px 0 0;
}

.tooltip-delete-address {
	display:none;
	width:150px;
	color: #4F5050;
}
.tooltip-delete-address p {
	font-size:1.1em;
}
.tooltip-delete-address ul {
	margin-bottom:12px;
	text-align:center;
}
.tooltip-delete-address li {
	display:inline;
	margin:0 5px;	
}
