ul a {
	cursor: pointer; 
}

.hoverEffect {
	border: 1px solid #797979 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.activeEffect {
	border: 1px solid #579adb !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}
.variants-print{
	.last{
		margin-top:5px;
	}
}
.variants {	
	float:left;
	clear:both;
	padding: 0;
	margin: 10px 0 0 0;
	select.form-select {
    	float: none;
    	margin: 0 0 0px 0; 
    }
  	h3 {
    	clear: left;
    	margin: 10px 0 5px; 
    }
  	label {
	    display: block;
	    margin: 10px 0 5px;
	    color: #5F5F5F;
	    clear: left; 
	}
	.multi-line-swatches.single-line-swatches, .multi-line-swatches {
		float: left;
		width: 365px; //show 10 colour swatches per row
		margin:0 0 10px 0px;
		position: relative;
		ul {
			margin: 0;
			padding: 0;
			.toolTipWrapper {
			    position: absolute;
			    left: -73px;
			    margin-top: 2px; 
			}
			li {
				display: inline;
				list-style: none;
				float: left;
				margin: 0px 5px 5px 0px;
				a {
					border: 1px solid transparent;
					margin: 0px;
					display: block;
					padding: 1px;
					text-decoration: none;
					vertical-align: middle;
					text-align: center;
					color: #aaa;
					float: left;
					height: 27px;
					width: 27px;
					font-weight: bold;
					/*text-indent:-4000px;*/
					outline: 0;
					font-size: 1.4em !important;
					&.disabled {
						text-indent: 0;
						cursor: default;
						span {
							cursor: default;
						} 
					}
					span.image{ 
						img {							
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							/*border:1px solid #7d7978;*/ 
						}
						span {
							display: none;
							padding: 1px 0 0 0; 
						} 
					}
				}
			} 
		} 
	}	
}

span.border {
	border: 1px solid transparent;
	display: block;
	float: left; 
}

.v-size {
	float: left;
	width: 365px; //show 8 size buttons per row
	margin:0 0 10px 1px;
	.unavailable {
		background-color: #e6e7e7;
		color: #9a9a9b;
		border: 1px solid #9a9a9b;
		cursor: default; 
	}
	ul{
		li{
			float:left;
		}
	}
	a {
		position: relative; 
	}
	a.activeEffect {
		border: 2px solid #579adb!important;
		margin: -1px 6px 6px -1px;
		/*-webkit-box-shadow: 0px 0px 4px 0px #848282;
		-moz-box-shadow: 0px 0px 4px 0px #848282;
		box-shadow: 0px 0px 4px 0px #848282;*/
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;		
	}
	.variant-size {
		width: 35px;
		height: 15px;
		text-decoration: none;
		text-align: center;
		float: left;
		border: 1px solid #8b8b8b;
		margin: 0 8px 7px 0;
		color: #000;
		outline: 0;
		text-decoration: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;		
		padding-top: 1px;
		span {
			display: none; 
		}
	}
}
select.v-size.form-select, select.v-color.form-select {
	width:250px;	
}

a.input-disabled {
	background-color: #cbcccc; 
}

div#product-summary .variants h3 {
  margin: 0px 0 5px;
  padding-top:10px;
  font-weight: normal;
  font-size: 1.4em;
  color: #5F5F5F;
}

.variants .toolTipWrapper {
	position: absolute;
	left: -74px;
	margin-top: 3px; 
}

.toolTip {
	cursor: normal;
	position: relative;
}

.toolTipWrapper {
	width: 170px;
	position: absolute;
	top: 20px;
	left: -40px;
	display: none;
	color: #FFF;
	font-weight: bold;
	font-size: 9pt; 
}

.toolTipTop {
	width: 175px;
	height: 12px;
	margin-bottom: -1px; 
}

.toolTipMid {
	padding: 8px 5px;
	color: #000;
	-webkit-box-shadow: 0px 0px 4px 0px #848282;
	-moz-box-shadow: 0px 0px 2px 0px #848282;
	box-shadow: 0px 0px 4px 0px #848282;
	border: 1px solid #d2d0d0;
	background-color: #fff; 
}

.variants .toolTipWrapper {
	position: absolute;
	left: -70px;
	margin-top: 3px; 
}

.jt-tooltip-content p {
	padding: 0;
	margin: 0; 
}

.variants-buybox {
	margin: 5px 5px 5px 0;
	padding: 5px;
	width: 96%;
	background-color: #f7f7f7;
	border: 1px solid #dbdbdb;
	.product-purchase-intro {
		min-height: 0;
		.from {
			padding: 4px 0 0 0;
			font-size: 1em; 
		} 
	}
	.product-price {
		min-height: 0;
		line-height: 3.9em;
		margin: 0 0 5px 0;
		border-bottom: 1px solid #dbdbdb;
		p.current-price {
			margin: 0;
			font-size: 2.2em;
			font-weight: bold;
			.pounds {
				font-size: 1.84em; 
			}
			.pence {
				font-size: 1.2em; 
			} 
		} 
	}
	.basket-info {
		font-size: 1.2em;
		margin: 10px 0 5px 5px; 
	} 
}

.ajaxLoader {
	background: url("../images/ajax-loader.gif") no-repeat center center white;
	position: absolute;
	text-align: left;
	z-index: 1000;
}
#prod-details-aside .ajaxLoader {
	background: url("../images/ajax-loader.gif") no-repeat center 40px white;
	position: absolute;
	text-align: left;
	z-index: 1000;
	/*height:130px !important;*/
}
.product-details {
  	.ajaxLoader {
	    background: url("../images/ajax-loader.gif") no-repeat 60px 40px white;
	    position: absolute;
	    text-align: left;
	    z-index: 1000; 
	}
	.ajaxLoaderSmall {
	    background: url("../images/ajax-loader-small.gif") no-repeat 60px 15px white; 
	}
	.ajaxLoader span, .ajaxLoaderSmall span {
		font-size: 12px; 
	}	
}

div#buy-box-holder {
	float: left; 
}

/**************************
 * 
 *  Variants II css
 * (Swatches)
 * 
 * 
 **************************/

/*
 * PLP Grid view syles
 */

.product-variants {
  position:relative;
  width:100%;
  &.height-param {
  	height: 70px; // 3 rows visible at all times
  }  
  .primary-variant {
    padding:0 8px;
  }
  .hasDropDown {
  	height: 24px;
  }
  ul.swatches {
    overflow:hidden; 
    padding: 0 0 2px 0;   
    li {
      float:left;
      width:18px;
      height:18px;
      border:0;
      margin:2px 3px 2px 2px;
      img {
      	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
      }
    }
    li.selected {      
      border:1px solid #666;
      padding:1px;
      margin: 0 2px 0 0;
    }
  }
  .drop-down-container {
    position:absolute;
    top:0;    
    left:0;
    width:160px;
    background-color:#fff;
    padding: 0 8px;
    .drop-down-arrow {
      width:8px;
      height:7px;
      float:left;
      margin:9px 0 0 6px;
      cursor:pointer;
    }
    ul {
      width:144px;
      float:left;
      position: relative;
      top:0px;
      padding: 0 0 3px 0;
      }
  }
  .drop-down-container.collapsed {
    height:22px;
    overflow:hidden;
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    .drop-down-arrow {
      background:#fff url("../images/drop-down-down-arrow.png")  0 0 no-repeat;
    }
  }
  .drop-down-container.expanded {
  	z-index:10;
    height:auto;
    -webkit-box-shadow:  1px 3px 3px 0 #ddd7d7;        
    box-shadow:  1px 3px 3px 0 #ddd7d7;
    border-left:1px solid #ddd7d7;
    border-right:1px solid #ddd7d7;
    border-bottom:1px solid #ddd7d7;
    -moz-border-radius-bottomright: 5px; 
    -moz-border-radius-bottomleft: 5px; 
    -webkit-border-bottom-right-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px; 
    -khtml-border-bottom-right-radius: 5px; 
    -khtml-border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    .drop-down-arrow {
      background:#fff url("../images/drop-down-up-arrow.png") 0 0 no-repeat;
    }
  }
  p.more-options {
    font-size: 1.1em;
    padding:3px 0 0 2px;
    a {color:#4f5050;}
  }
}

/*
 * PLP List view overides
 */

.product-details-core {
  .product-variants {
   	margin:0 0 5px 0;
    	.primary-variant {
      		width:164px;
      		padding:0;
      		ul.swatches {
        		li {
          			a {
            			img {margin:0;}
          			}          			
        		}        		
      		}
      		div.drop-down-container {
      			padding:0;
      		}
    	}
    p {padding:0;}
  }
}

/*
 * Fly out basket style for variant value
 */
 

span.variantLabel {
	display: none;
}

