#range-container{
	.collectionContainer.range{
		.collectionItems{
			li:nth-child(even) {
				width:46.5%;
				padding-left: 10px;
				.collectionActions {
				  	position: absolute;
					left: 210px;
					.collectionItemSelection{
						width: 174px;
					}
				}
			}
			#addTheRange3{
				width: 174px;
			}
		}
	}
}