/*******************************************
*   Mobile Product Tile module
*******************************************/

@import "../breakpoints";
@include breakpoint(mobile);
@import "product-tile-mixins";

$onecol: 1;

@include fluid-width-product-tiles;

.product-grid {
    margin: 0 8px;
}

.products>li {
    margin-bottom: 8px;
    width: 100%;
    .product {
    	.button-container {
			margin-bottom: 0;
		}

		.thumbnail{
        	img.bcve_ping{
        		height: 22px !important;
        		width: 36px !important;
        	}
        }
        .title-author-format {
            h3 {
                a{
	               	color: $xDarkPutty;
	           	}
	           	a:hover{
	           		color: $tescoBrightBlue;
	           	}
            }
        }
    }
}

$shop-by-product-height: 78px;

.product-carousel.shop-by,
.product-grid.shop-by {
    margin: 0 0 16px;
    h2 {
        margin-left: 5%;
    }
    .products > li {
        width: 43.7%;
        height: $shop-by-product-height;
        margin-right: $onecol;
    }
}

.product-grid.shop-by {
    h2 {
        line-height: 29px;
    }
    .products-wrapper {
        margin-left: 5%;
    }
    .products > li {
        width: 46.1%;
        margin-bottom: 0;
        &:last-child {
            margin-bottom: 16px;
        }
    }
}

#listing .total-reviewers span {
    display: none;
}

#listing .review {
	font-size: 12px;
}

.product-carousel-heroic {
    .products-header {

        h2 {
            font-size: 18px;
            line-height: 20px;
            word-wrap: break-word;
        }
    }

    .products {
        .thumbnail,
        img {
            height: 88px;
        }
        .thumbnail {
            top: 16px !important;
            width: 88px !important;
        }
        img {
            width: auto !important;
        }

        .text-data {
            padding-left: 104px;
        }

        .rating-container {
            clear: none !important;
        }
    }
}