/*******************************************
*   Tablet Product Tile module
*******************************************/

@import "../breakpoints";
@include breakpoint(allTablet);
@import "product-tile-mixins";

$onecol: 1;

@include fluid-width-product-tiles;

.product-grid {
    margin: 0 $onecol;
    .products>li {
		width: $onecol * 39.5;
		&:nth-child(odd) {
			margin-right: $onecol;
		}
		&:nth-child(even) {
			margin-right: 0;
		}
	}
}

.products>li {
    margin-bottom: 8px;
    width: 50%;

    .product {

        .thumbnail{
        	img.bcve_ping{
        		height: 22px !important;
        		width: 36px !important;
        	}
        }
    }
}

.product-carousel.shop-by,
.product-grid.shop-by {
    margin: 0 0 $onecol;
    h2 {
        margin-left: $onecol * 2;
    }
    .products > li {
        width: $onecol * 37;
        .product {
            a img {
                width: 55%;
            }
        }
    }
}

.product-grid.shop-by,
.product-carousel.streamline-basket-carousel {
	h2 {
	   line-height: 48px;
    }
    .products > li {
        width: 50%;
        &:nth-child(odd) {
            margin-left: $onecol * 2.5;
        }
    }
}

.product-carousel.streamline-basket-carousel {
    h2 {
        line-height: inherit;
    }
}

.product-carousel-heroic {

    .products {
        height: 334px;

        > li {
            position: absolute;
            width: 50%;
            height: 50%;
        }

        .product {
            width: 100%;
            height: 100%;
            @include heroic-recommenders-tile-border;
        }

        .title-author-format h3 {
            height:  50px;
            font-size: 16px !important;
            a{
               	color: $xDarkPutty;
           	}
           	a:hover{
           		color: $tescoBrightBlue;
           	}
        }

        .thumbnail {
            position: relative;
            top: 24px !important;
            display: block;
            width: 85px;
            height: 85px;
        }

        img {
            margin: 0 auto;
            width: auto !important;
            height: 85px !important;
        }

        .text-data {
            padding-left: 104px;
            margin-top: 10px;
        }

        .rating-container {
            clear: none !important;
        }

        li.nth-child-0,
        li.nth-child-3,
        li.nth-child-6,
        li.nth-child-9,
        li.nth-child-12 {
            height: 100%;
            top: 0;

            .thumbnail,
            img {
                height: 181px !important;
                display: block;
                float: none;
                margin: 0 auto;
                top: 0;

                > div:first-child {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
            .thumbnail {
                margin-bottom: 16px;
                top: 0 !important;
                width: 181px;
            }

            .text-data {
                padding: 0;
                margin-top: 0;
            }

            .title-author-format h3 {
                height:  36px !important;
            }
        }

        li.nth-child-1,
        li.nth-child-4,
        li.nth-child-7,
        li.nth-child-10,
        li.nth-child-13 {
            top: 0;
        }

        li.nth-child-2,
        li.nth-child-5,
        li.nth-child-8,
        li.nth-child-11,
        li.nth-child-14 {
            top: 50%;
        }

        li.nth-child-0 {
            left: 0;
        }

        li.nth-child-1,
        li.nth-child-2 {
            left: 50%;
        }

        li.nth-child-3 {
            left: 100%;
        }

        li.nth-child-4,
        li.nth-child-5 {
            left: 150%;
        }

        li.nth-child-6 {
            left: 200%;
        }

        li.nth-child-7,
        li.nth-child-8 {
            left: 250%;
        }

        li.nth-child-9 {
            left: 300%;
        }

        li.nth-child-10,
        li.nth-child-11 {
            left: 350%;
        }

        li.nth-child-12 {
            left: 400%;
        }

        li.nth-child-13,
        li.nth-child-14 {
            left: 450%;
        }
    }
}