#range-container{
	.collectionContainer.range{
		.collectionItems{
			.collectionActions{
				.collectionItemSelection{
					width:174px;
				}
			}
		}
	}
}
.PDP-Version2 #lightbox.streamline-basket {
    position: absolute;
    max-width: 1000px;
    left: 50%;
    margin-left: -500px;
}

.PDP-Version2 #wrapper.product {
    position: relative;
}