// Scolling container
.scroll-container {
  @include clearfix();
  width: 746px;
  border: 2px solid $blueLightprogress;
  
  .header {
    background: $blueLightprogress;
    width: 716px;
    padding: 10px 20px 10px 10px;
    color: $white;
    
    h2,
    p {
      margin-bottom: 0;
      font-weight: bold;
    }
    
    h2 {
      font-size: 1.333333333333333em;
    }
    
    p {
      font-size: $baseFontSize;
    }
  }
  
  .scroller {
    overflow-x: hidden; // IE7 horizonal scroll fix
    overflow-y: auto;
    max-height: 205px;
    padding: 0 10px;
  }
  
  .scroller-footer {
    width: 716px;
    padding: 10px 20px 10px 10px;
    text-align: right;
  }
}

// Scrolling container open in tooltip
// give it a slightly larger width
.jt-tooltip.scroll-container {
  max-width: none;
  width: 796px;
  padding: 0;
  
  .default-close {
    right: 15px;
    top: 10px;
    background: url("../images/close-button.gif") no-repeat 0 0;
    font-size: 0;
  }
  
  .tooltip {
    left: 340px;
    height: 19px;
    background-image: url("../images/tooltip_arrow_blue.png");
  }
  
  .jt-tooltip-content {
    padding: 0;
    
    .header {
      width: 766px;
    }
    
    .scroller-footer {
      width: 766px;
    }
  }
}
