.jt-tooltip {
  display: none;
  position: absolute;
  max-width: 400px;  
  z-index: 1001;
  border: 1px solid $greyMid;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background: $white;
  
  .tooltip {
    position: absolute;
    background-color: transparent;
    background-image: url('../images/tooltip_arrow.png');
    background-repeat: no-repeat;
  }
  
  .jt-tooltip-content {
    overflow: hidden;
    padding: 0 10px;
    background: $white;
    
    // for ajaxLoader
    min-height: 30px;
    min-width: 50px;
    
    p, ul, ol {
      margin-bottom: $baseMarginBottom / 2;
    }
  }
  
  .has-close-button {
    padding-right: 35px;
  }
  
  .default-close {
    //display: block;
    float: right;
    position: absolute; 
    top: 5px; 
    right: 5px;
    height: 19px;
    width: 20px;
    text-indent: -9999px;
    background: url('../images/tooltip_arrow.png') no-repeat 0 -54px;
    &:focus {
      outline: none;
    }
  }

}

.tooltip-position-above {
  
  .tooltip {
    bottom: -15px;
    height: 15px;
    width: 27px;
    background-position: 0 -15px;
  }
}

.tooltip-position-right {
  
  .tooltip {
    left: -15px;
    height: 27px;
    width: 15px;
    background-position: -27px -27px;
  }
}

.tooltip-position-below {
  
  .tooltip {
    top: -15px;
    height: 15px;
    width: 27px;
    background-position: 0 0;
  }
}

.tooltip-position-left {
  
  .tooltip {
    right: -15px;
    height: 27px;
    width: 15px;
    background-position: -27px 0;
  }
}
