//*******************************************
//*	Mobile Breadcrumb module
//*******************************************

@import '../breakpoints';
@include breakpoint(mobile);
@import 'breadcrumb-mixins';

@include smallBreadcumbs;

.PDP-Version2__page .breadcrumb-block-wrapper {
    margin-top: 0;
    padding: 0;
}

#page-container .product-description .page-title,
.listing .page-title {
    line-height: 1.5em;
    margin: 0 0 8px 8px;
    width: auto;
}
