/*******************************************
*	Desktop Breadcrumb module
*******************************************/

@import "../breakpoints";
@include breakpoint(allTablet);
@import "breadcrumb-mixins";

@include hideBreadcrumbButton;

#breadcrumb {
	padding: 16px $onecol 0;
    margin-bottom: 0;
	height:39px;
}

@include breakpoint(vTablet);
#breadcrumb {
  height: 62px;
}

.product #breadcrumb, .listing #breadcrumb  { 
    margin: 12px 0 8px 0;
    padding-top:0;
}

.my-account {
    #breadcrumb {
        height: auto;
        margin-bottom: 4px;
    }
}