@import '../variables';
@import 'breadcrumb-mixins';
@import '../pdp/product-details-mixins';

$onecol: 16px;

.PDP-Version2__page .breadcrumb-block-wrapper {
    margin: 20px auto;
    padding: 0 0 0 10px;
}

#breadcrumb-v2 {
    display: table;
    height: 20px;
    visibility: hidden;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: table-cell;
        font-size: 12px;
        line-height: 20px;
        padding-right: $onecol * .5;

        &::before {
            
            color: $paleGrey;
            content: 'A';
            display: inline;
            font-family: 'Tesco Icons';
            font-size: 20px;
            padding-right: $onecol * .5;
            vertical-align: middle;
            width: $onecol;
        }

        &.first::before {
            content: none;
        }

        span {
            @include ellipsed;
            display: inline-block;
            max-width: 250px;
            vertical-align: middle;
        }

        a {
            border-bottom: 0;
            font-size: 12px;

            &:hover span {
                text-decoration: underline;
            }
        }
    }

    .toggle {
        color: $grey;
        cursor: pointer;
        display: none;
        font-size: 16px;
        height: 20px;
        line-height: 20px;
        padding: 0 10px 0 20px;
        position: absolute;
        right: 0;
        top: 8px;
    }

    .back-to-results {
        border-right: 1px solid $paleGrey;
        margin-right: $onecol * .5;
        padding-right: $onecol * .5;
        text-transform: uppercase;

        > a::before {
            content: 'Q';
            font-family: 'Tesco Icons';
            font-size: 10px;
            padding-right: $onecol * .5;
            text-decoration: none;
        }

        + li {
            padding-left: $onecol * .5;

            &::before {
                content: none;
            }
        }
    }
}
