/*******************************************
*	Large Desktop Breadcrumb module
*******************************************/

@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "breadcrumb-mixins";

@include hideBreadcrumbButton;

#breadcrumb {
	margin-bottom: 0px;
	margin-right: 16px;
    margin-left: $onecol;
	padding: 0;
    margin-top: 20px;
    li{
	margin-bottom: 4px;
       padding-bottom: 0;
        &:after{
        }
    }
}

.product #breadcrumb, .listing #breadcrumb  { 
    margin: 12px 0 8px 0;
    padding-top:0;
}

.my-account {
    #breadcrumb {
        height: auto;
        margin-bottom: 16px;
        li {
            margin-bottom: 0;
        }
    }
}