/*******************************************
*   Sitewide Promo Block
*   Auth: Martin McLoughlin
*******************************************/
@import "../../variables";

.siteWidePromoBlock-itemList {
    overflow: hidden;
}

.siteWidePromoBlock-itemList,
.siteWidePromoBlock-item,
.siteWidePromoBlock-item--image {
    display: block;
    padding: 0;
    margin: 0;
}

.siteWidePromoBlock-item {
    float: left;
    overflow: auto;

    a {
      display: inline-block;;
    }
}

.siteWidePromoBlock-item--image {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    float: left;
}

.siteWidePromoBlock-item--copy {
    padding: 0;
    margin: 0 0 0 120px;
    .siteWidePromoBlock-item--title,
    p {
        margin: 0 0 8px;
        clear: none;
        line-height: 20px;
    }
}
