/*******************************************
*   Sitewide Promo Block (DTOP)
*   Auth: Martin McLoughlin
*******************************************/
@import "../../variables";

.siteWidePromoBlock-item {
    width: 426px;
    margin-bottom: 30px;
    &.odd {
        margin-right: 108px;
    }
}
