/*******************************************
*   Sitewide Promo Block (TAB)
*   Auth: Martin McLoughlin
*******************************************/
@import "../../variables";
@import "../../breakpoints";

@include breakpoint(vTablet) {
    .siteWidePromoBlock-item {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}

@include breakpoint(hTablet) {
    /* .block.sitewide-promo-block {
        width: 768px;
    } */

    .siteWidePromoBlock-item {
        width: 354px;
        margin-bottom: 30px;
        &.odd {
            margin-right: 40px;
        }
    }
}
