/*******************************************
*   Sitewide Promo Block (MOB)
*   Auth: Martin McLoughlin
*******************************************/
@import "../../variables";

.siteWidePromoBlock-item {
    width: 100%; 
    float: none; 
    margin-bottom: 20px;
}

.siteWidePromoBlock-item--copy {
    p {
        display: none;
    }
}

/* .siteWidePromoBlock-navigation {
    text-align: center;
    display: block;
}
 */