.kiosk-lightbox.kiosk-lightbox-datepicker {
  height: auto;
  font-family: Tesco;
  .dialog-header {
    border-bottom: 1px solid #f3f1ed;
    padding-bottom:10px;
  }
  .dialog-footer {
    padding-top: 0px;
  }
}

.delivery-datePickerWrapper {

  &.selected {
    .confirm-date {

      background-color: #a69f88;
      border-color:#a69f88;


    }
    .delivery-datePickerInfo {
      visibility: visible;
    }
  }
  .datepicker {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    width: 1017px;
    margin: auto;
    border: 0;
    height: auto;

    .nav {
      border-bottom: 0;
      span {
        line-height: 100px;
      }
    }
    .months {
      width: 600px;
      position: relative;
      margin: auto;
      .name {
        font-size: 60px;
        color: #7c765f;
        font-weight: normal;
      }
      .button.next, .button.prev {
        border: 0px;
        font-size: 25px;
      }

    }

    .dow {
      width: 145px;
      text-transform: capitalize;
      padding: 15px 0;
      background-color: #f3f1ed;
      color: #7c765f;
      font-size: 30px;
    }
    .calendar {
      overflow: hidden;
      border: 1px solid #f3f1ed;
    }
    .selected {
      background: #00a1e0;
      color: #fff !important;
    }

    .days > div {
      width: 145px;
      height: 100px;
      font-size: 48px;
      color: #d6d2c4;
      padding: 32px 0;
      border-color: #f3f1ed;
      &.available {
        color:#7c765f;
        font-weight: normal;
      }
    }

    .days .today {
      padding: 0;
    }

    .today span {
      width: auto;
      background: #e5e2d9;
      color: #fff;
      border: 0;
      height: 105px;
      padding: 32px 0;
    }
  }

  .delivery-datePickerInfo {
    width: 1017px;
    margin: auto;
    margin-top:15px;
    color: #fff;
    background-color: #00A1E1;
    visibility: hidden;
  }

  .selected-date {
    font-size: 30px;
    padding: 0 10px;
    line-height: 60px;
    vertical-align: middle;
  }

  .cost {
    font-size: 30px;
    float: right;
    padding: 0 10px;
    line-height: 60px;
    vertical-align: middle;
    span {
      font-size: 40px;
      line-height: 60px;
      vertical-align: middle;
    }
  }

  .delivery-actions {
    text-align: right;
    margin: 10px auto 0 auto;
    width: 1021px;
  }

  .button {
    display: inline-block;
    width: auto;
    padding: 6px 40px;
    font-weight: normal;

  }

  .close-button {
    background: #fff;
    color: #7c765f;
    font-family: Tesco;
    font-size: 25px;
    &:active, &:hover {
      background-color: #00A1E1;
      border-color: #00A1E1;
      color: #FFF;
    }
  }

  .confirm-date {
    background-color: #e5e2d9;
    border-color:#e5e2d9;
    font-family: Tesco;
    font-size: 25px;
    &:active, &:hover {
      background-color: #00A1E1;
      border-color: #00A1E1;
      color: #FFF;
    }
  }
  
  .delivery-datePickerFooter {
        position: absolute;
        bottom: 20px;
        left: 140px;
    }

    .deliveryDateMessage {
        margin: 0 0 -10px 0;
        padding: 0 10px;
        font-size: 30px;
        line-height: 60px;
    }
}
