//chip-and-pin module - message area

#wrapper.spi {
	.message {                        
	    color: #333;
	    margin: 0 12px;
        min-height: 57px;
	    
	    span {
	        display: block;
	        padding: 0 20px 0 80px;
	        line-height: 55px;
	        border-style: solid;
	        border-width: 1px;
	        font-size: 25px;
	        background: transparent url('../images/messages_icons.png') no-repeat 18px 8px;
	    }
	
	    .info {
	        background-color: #a9e6fc;
	        border-color: #00a3de;
	    }
	
	    .error {
	    	color:#000;
	        background-color: #fcd4d7;
	        border-color: #fc9fa7;
	    }
	}
}
	   