//modal clubcard vouchers
@import "../variables";

.voucher-modal-overlay-over { position: fixed; z-index: 601; top: 0; left: 0; width: 100%; min-height: 100%; padding-bottom: 20px; }
.voucher-modal-button-over { line-height: 30px; right: 35px; top: 36px; position: absolute; display: block; width: 48px; height: 48px; z-index: 3; cursor:pointer; background:white; opacity:.1 }

#lightbox {
	.kiosk-lightbox {

		$innerScrollerHeight: 520px;
		$scrollerPadding: 50px;
		
		&.clubcardVoucherLightbox {
			height:900px;
			
			.dialog-header {
				height:auto;
				
				h2 {
					margin:0;
				}
			}
			
			.intro-message {
				font-family: 'Tesco', arial;
				font-size:20px;
				height:80px;
				margin-bottom:20px;
				p  {
					font-size: 18px;
				}
			}
		}

		.clubcardVouchersContainer.inline-scrolling {
			margin-top: 20px;
			height: $innerScrollerHeight;
			padding-right: $scrollerPadding;

			.content-mask { 
				height:$innerScrollerHeight;
			}

			.pagination-nav-container {
				position: absolute;
				margin: auto;
				top: -30px;
				right: 0;
                height: $innerScrollerHeight;

				.pagination-bar {
					height: $innerScrollerHeight - 20px;
					width: 10px;
					margin: 44px 19px;
					span {
						width: 10px;
						background-color: $tescoBrightBlue;
					}
				}
				a {
					&.pagination-up, &.pagination-down {
						width: 48px;
						color: #fff;
						display: block;
						margin: 0;	
						background-color: $putty;
						border-color: $putty;					
					}
					&.disabled {
						background-color: $inactivePutty;
						border-color: $inactivePutty;
					}
					&.pagination-down {
						bottom: -56px;
					}
				}
			}

		}	

		.voucherItems li {
			border-top: 1px solid $lightPutty;
			padding: 20px 0;
			display: inline-block;
			width: 100%;
		}

		.voucherInfoContainer {
			float:left;
			width:80%;

			.voucherStatus {
				font-family: 'Tesco', arial;
				font-size:25px;	
				margin-bottom: 7px;
				&.voucherNotSelected {
					color: $error;
				}
				&.voucherSelected {
					color: $positiveGreen;
				}
			}
			.voucherStatus,
			.expiryDate {
				display:block;
			}
			.voucherCurrency,
			.voucherAmount {
				font-size: 40px;
				float:left;
			}
			
			.voucherAmount {
				min-width:125px;
			}
			
			.statusExpiresContainer {
				float: left;
				margin-left: 20px;
				width: 80%;
			}
			.expiryDate {
				font-size: 20px;
			}
			.voucherMessage {
				width:765px;
				font-size:25px;
				font-family: 'Tesco', arial;
				padding-bottom: 5px;
				display: inline-block;
			}
			
		}
		.voucherUnavailable {
		  .voucherStatus {
		    color:grey !important;
		  }
		}

		.selectLabelContainer {
			float:right;
			text-align: right;
			width:20%;
			padding-right: 50px;

			label {
				margin-right: 10px;
				color: $darkPutty;
				font-size: 1.6em;
				line-height: 48px;
			}

			input[type="checkbox"] {
				margin-right: -30px;
			}

			.checkbox {
				position: relative;
				z-index:1;
				width: 48px;
				height: 48px;
				&:after {
					font-size: 1.85em;
					line-height: 40px;
				}
			}
		}

		.footerContainer {
			width: 100%;
			display: inline-block;
			margin-top:40px;
			padding: 20px 0;
			padding-right: 65px;

   .align-right {
       text-align: right;
       position: relative;
       left: 57px;
   }
			button {
				width: 220px;
				display: inline-block;
				&.tertiary-button {
					@include tertiaryButtonColoringWhite;
				}
				&.cancelVoucher,
				&.addVoucher,
				&.fnChangeDetailsBtn {
					&.disabled,
					&.disabled:hover {
						border-color: $inactivePutty;
						background: $inactivePutty;
						color: white;
					}
				}
				&.addVoucher {
					margin-left: 10px;
					border-color: $putty;
					background: $putty;
					color: white;
				}
			}

			.leftColumn {
				float: left;
				.tertiary-button {
					width: auto;
					@include tertiaryButtonColoringWhite;
     &.disabled,
     &.disabled:hover {
        border-color: $inactivePutty;
							 background: $inactivePutty;
							 color: white;
        }
				}
                         
			}
			.rightColumn {
				float: right;
				text-align: right;
			}
			.leftColumn {
				width: 30%;
				p {
					font-size: 20px;
					margin: 0;
				}
			}
			.rightColumn {
				width: 70%;
			}
			.selectedTotalContainer {
				display: inline-block;
				margin-right: 30px;
				font-size: 2.6em;
				&.activeGreen {
					color: $positiveGreen;
				}
			}

            button[type=button] {
                @include tertiaryButtonWhite;
                font-size: 25px;
                width: 280px;
                height: 60px;
            }
		}
		
		.enterVoucherCode {
			.intro {
				p {
					font-size:20px;
				}
			}
		
			label {
				display: inline-block;
				margin-bottom: 23px;
				font-size: 23px;
			}
			
	        span.error {
	            position: absolute;
	            font-size: 24px;
	            width: 1200px;
	        }
	        
	        #irEnterVoucherCode {
	        	@include inputStyles;
	        	
	        	#txtVoucherCode {
					padding-left: 28px;
					padding-right: 28px;
					margin: 0;
					width: 1040px;
					height: 84px;
					border-right: none;
					font-size: 25px;
				}
				
				#btnAddVoucherCode {			
					display: inline-block;
					height: 84px;
					width: 168px;
					font-size: 30px;
					margin: 0;
					position: relative;
					left: -3px;
					top: 2px;
				}
	        }
		}
	}

	.addClubcardVoucher .footerContainer .leftColumn button.fnChangeDetailsBtn.disabled {
		border-color: #e5e2d9;
		background: #e5e2d9;
		color: white;
	}

}