@import "../variables";

$innerScrollerHeight: 800px;
$scrollerPadding: 50px;
#lightbox {
	.kiosk-lightbox {
        .viewDiscountsWallet {
            margin-top: 20px;
			height: $innerScrollerHeight;
			padding-right: $scrollerPadding;
            position: relative;

			&.inline-scrolling {
				.viewDiscountsList li:nth-child(1) {
					border-top: 0;
				}
			}
            #content-mask,
			.content-mask { 
				height: $innerScrollerHeight;
                border-top: solid 1px $putty;
                border-bottom: solid 1px $putty;
			}
            .viewDiscountsList {

                li {
                    border-bottom: solid 1px $lightPutty;
                    padding: 15px 0;
                    margin-right: 25px;
                    
                    &:nth-child(1) {
                        border-top: solid 1px $lightPutty;
                    }

                    &:after {
                        @include clear-fix;
                    }
                    
                    h2, span {
                        font-size: 25px;
                        margin-bottom: 0;
                        line-height: 60px;
                    }
                    
                    span {
                    	float: right;
                    }

                    p {
                        font-size: 20px;
                        margin: 4px 0;
                    }

                    button[type=button] {
                        @include tertiaryButtonWhite;
                        float: right;
                        font-size: 25px;
                        width: 280px;
                        height: 60px;
                    }
                }
            }

            #pagination-nav,
            .pagination-nav-container {
                position: absolute;
				margin: auto;
				top: -30px;
				right: -5px;

                .pagination-bar {
				    height: $innerScrollerHeight;
				    width: 10px;
				    margin: 44px 19px;
					
                    span {
					    width: 10px;
					    background-color: $tescoBrightBlue;
				    }
			    }
			    a {
				    &.pagination-up,
                    &.pagination-down {
					    width: 48px;
					    color: #fff;
					    display: block;
					    margin: 0;	
					    background-color: $putty;
					    border-color: $putty;					
				    }
                    &.pagination-down {
                        position: absolute;
                        top: $innerScrollerHeight;
                    }
				    &.disabled {
					    background-color: $inactivePutty;
					    border-color: $inactivePutty;
				    }
			    }
            }
        }

        .dialog-footer {
            #btnCancel {
                float: right;
                margin-right: 75px;
            }
        }
    }
}