//chip-and-pin module - payment section

.paymentSuccess {
	overflow-y: hidden;
	height: 974px;
	.spiNav {
		display: block;
	}
	#search-bar { 
		display: none;
	}
	#paymentSuccessFinish {
		font-size: 2.6em;
		line-height: 1.1em;
		width: 936px;
		margin: 39px 0px 0 31px;
		&:hover {
			text-decoration: none;	
		}
		span {
			font-size: 0.9em;
			display: inline;
			float: right;
		}
	}	
	#wrapper.spi {
		top: -17px;
		.pageHeader { 
			display: none;
		}
		.page {
			.payment {
				.instructions {
					background: url('../images/chip_and_pin/tick.png') 772px 44px no-repeat $positiveGreen;
					h1 {
						top: 66px;
						left: 136px;
					}
				}
				.paymentMessage {
					height: 690px;
					padding-top: 35px;
					.mainGraphic {
						width: 485px;
						height: 473px;
						background: url('../images/chip_and_pin/receipt.jpg') top left no-repeat;
					}
					.paymentCards {
						display: none;
					}
					.paymentCardsMessage {
						font-size: 2em;
						h2 {
							margin: 0 0 15px;
							font-size: 2.7em;	
						}
						p {
							line-height: 1.5em;
							padding-top: 0px;
							margin-top: 0px;
						}
					}
					.instructionHighlight span {
						background: url('../images/chip_and_pin/highlight_receipt.png') left top no-repeat;
						width: 275px;
						height: 149px;
						top: 271px;
						right: -501px;
					}
					.orderNumber {
						position: absolute;
						top: 230px;
						font-size: 3em;
						font-weight: bold;
						left: 275px;
						color: #5b5b5b;
						display: block;
						width: 383px;
						overflow: hidden;
						letter-spacing: -2px;		
					}
				}
			}
		}
	}
}

#wrapper.spi {
	.page { 
		.payment {
			height: 1000px;
			background: url('../images/chip_and_pin/kiosk.jpg') 1016px bottom no-repeat;	
			span {
				display: block;
			}
			.instructions {
				width: 935px;
				height: 193px;
				background: $basketOrange;
				text-align: center;
				position: relative;
				left: 32px;
				h1 {
					position: absolute;
					top: 29px;
					left: 163px;
					color: #fff;
					font-family: 'Tesco';
					line-height: 1.2em;
					width: 67%;
					font-size: 5.7em;
					padding: 0;
					height: auto;
					strong {
						clear: both;
					}
				}
			}
			.paymentMessage  {
				width: 935px;
				height: 716px;
				background: #fff;
				position: relative;
				top: 21px;
				left: 32px;
				padding-top: 48px;
				.mainGraphic {
					width: 849px;
					height: 498px;
					margin: 0 auto;
					background: url('../images/chip_and_pin/chip_pin_mac.jpg') top left no-repeat;
				}
				.paymentCardsMessage {
					font-size: 2em;
					display: block;
					text-align: center;
					margin: 1em auto 0 auto;
					color: $color-title;
				}
				.paymentCards {
					width: 718px;
					height: 75px;
					margin: auto auto;
					background: url('../images/chip_and_pin/credit_card_icn.png') top center no-repeat;			
				}
			}
			.instructionHighlight span {
				text-indent: -9999px;
				position: absolute;
				background: url('../images/chip_and_pin/highlight_chip_pin.png') right bottom no-repeat;
				width: 223px;
				height: 248px;
				top: 54px;
				right: -770px;
			}
		}
	}
}

#kioskPaymentForm {
	display: none;
}