//chip-and-pin module - login section
@import "../variables";

#wrapper.spi {

	.login {
		margin-top:15px;
		margin-left:32px;
		padding-top:32px;
	}
	
	.login-options {
        margin-top: 13px;
        padding-left: 12px;
        
        section {
            float: left;
            width: 870px;

            &:first-child {
                margin-right: 20px;
            }

           header {
                height: 155px;
                margin-bottom: 20px;
                background-color: $lightPutty;
                text-align: center;

                h2 {
                    font-size: 72px;
                    padding-top: 10px;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 30px;
                    margin-top: 0;
                }
            }

            .content {
                height: 381px;
                position: relative;
            }
        }

        #ir-login-clubcard {
            @include inputStyles;
            
            #login-clubcard-number {
                float: left;
                padding-left: 28px;
                padding-right: 28px;
                margin: 0;
                font-size: 30px;
                border-right: none;
                height: 84px;
                width: 700px;
            }

            span.error {
                position: absolute;
                top: 89px;
                font-size: 24px;
            }

            #btn-manual-login {
                float: left;
                height: 84px;
                width: 170px;
                font-size: 30px;
                border: none;
                margin: 0;
            }
        }
		
        .enter-card {
            .option-image {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
	}
	
	.login-alternatives {
	    &:before {
	        @include clear-fix;
	    }
	
        padding-left: 12px;
		padding-top: 10px;
		
		.skip-login {
        display: block;
        width:1761px;
        height:95px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
        font-size: 36px;
        font-weight: 400;
        font-family:'Tesco', sans-serif;

            &:before {
                float: right;
                margin-right: 30px;
            }
			
		}
	}
}
