$smwTextColor: #fff;
$smwBackgroundColor: #edb648;
$smwFoldColor: #bb8f38;
$ooStockBgdClr: $tescoRed;
$ooStockFoldClr: #A21B27;

/**
 *
 */
@mixin foldRight($color) {
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  content: '';
  border-top: 15px solid transparent;
  border-left: 10px solid $color;
}
@mixin foldLeft($color) {
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  content: '';
  border-top: 15px solid transparent;
  border-right: 10px solid $color;
}
@mixin foldBottom($color) {
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  content: '';
  border-left: 15px solid transparent;
  border-top: 10px solid $color;
}
@mixin stockMessagingAll {
  .stock-messaging-wrapper {
    background-color: $smwBackgroundColor;

    &.oo-stock {
      background-color: $ooStockBgdClr;
    }

    .stock-messaging {
      color: $smwTextColor;

      strong {
        display: block;
      }
    }
  }
}
@mixin stockMessagingProductDetailsDesktop {
  .stock-messaging-wrapper {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: -1;
    margin-right: 10px;
    padding: 8px 10px;
    white-space: nowrap;

    &:after {
      @include foldRight($smwFoldColor);
    }

    &.oo-stock {
      width: 100px;
      white-space: normal;

      &:after {
        @include foldRight($ooStockFoldClr);
      }
    }
  }
}
@mixin stockMessagingProductDetailsDevices {
  .stock-messaging-wrapper {
    position: relative;
    padding: 6px 8px;
    white-space: nowrap;

    &:after {
      @include foldBottom($smwFoldColor);
    }

    &.oo-stock {
      &:after {
        @include foldBottom($ooStockFoldClr);
      }
    }
  }
}
@mixin stockMessagingProductDetailsKiosk {
  .stock-messaging-wrapper {
    position: absolute;
    top: -55px;
    left: 5px;
    right: auto;
    z-index: 0;
    margin-right: 10px;
    padding: 8px 10px;
    white-space: nowrap;

    &:after {
      @include foldBottom($smwFoldColor);
    }

    &.oo-stock {
      width: 215px;
      white-space: normal;

      &:after {
        @include foldBottom($ooStockFoldClr);
      }
    }
  }
}
