@import "../breakpoints";
@include breakpoint(desktop);
@import "basket-mixins";

@include basket-layout-desktop;

// main basket wrapper
// -----------------------------------------------------

.notification,
#basket-wrapper {
	margin-right: 8px;
	margin-left: 8px;
}

// supplemental
// -----------------------------------------------------

#basket-wrapper + #supplemental {
	.product-carousel {
		padding-left: 8px;
		padding-right: 8px;
	}
}

// page-error
// -----------------------------------------------------
#basket-wrapper .page-error {
	margin-right: 316px;	
	margin-left: 0px;
}

//flowers
//-----------------------------------------------------
#basket-wrapper .personalised-message-indicative {
 margin-bottom: 16px;
}