@import "../mixins/product-features-mixins";

.product-features-book-layout {
    margin: 0;
    padding: 0;

    li {
        float: none;
        padding-bottom: 12px;
        width: auto;

        &:nth-child(even) {
            float: none;
        }

        span {
            padding-bottom: 12px;
        }
    }
}

.product-features-non-book-layout {
    @include product-features-list-layout;
}
