@import "../pdp-configurator-mixins";

.pdp-configurator {

    .inspiration-panel {
        width: 100%;
        margin: 15px 0px;
        background-color: #fff;

        h1 {
            font-family: "Hudl";
            font-size: 30px;
            margin: 0;
            padding: 20px 1.69491525424% 0; /* 20/1180 */
        }

        ul {
            @include clearfix();
            border-top : 1px solid #f3f1ed;

            li {
                width: 20%; /* 236/1180 */
                padding: 20px 1.69491525424%; /* 20/1180 */
                float: left;
                border-left : 1px solid #f3f1ed;
                
                &:first-child {
                    border-left : 0 none;
                }

                &:last-of-type {
                    margin-right: 0px;
                }

                h2 {
                    font-size: 1.8em;
                    margin: 10px 0;
                    height: 44px;
                    overflow: hidden;
                }

                a {
                    color: #fff;
                    text-align: center;
                    font-family: "Hudl";
                    font-weight: normal;
                    font-size: 16px;
                    border-radius: 7px;
                    text-align: center;
                    cursor: pointer;
                    background: #fe532d;
                    padding: 10px;
                    margin: 10px 0px;
                    display: block;

                    &:hover {
                        text-decoration: none;
                    }
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }
}