@import "../../../core/components/variables";
@import "../mixins/personalised-product-mixins";

.fancybox-overlay {
	z-index: 9992 !important;

	#EmaginationJS-PhotoEditor {

		.EmaginationJS-CropWarning {
			position: relative;
		}
	}
}


.fancybox-opened {
	z-index: 9993 !important;
}

#EmaginationJS-personalised-image {
    width: 100%;
  }

#personaliseProductContainer {
	background: $pagePutty;
	overflow: visible !important;

	#EmaginationJS-Personalisation {
		background: #333;
	}

	#EmaginationJS-ButtonPanel {

		#EmaginationJS-HelpButton {
			display: none;
		}

		#EmaginationJS-PreviewButton {
			border-top-left-radius: 5px;
        	border-bottom-left-radius: 5px;
        	border: 0;
		}
	}

	#EmaginationJS-Controls {
		height: auto !important;
		width: 100%;
		padding: 79px 15px 0 15px;

		#EmaginationJS-LibraryImagesContainer {

			max-height: 100%;
		}
	}

	#EmaginationJS-Save {
		position: absolute;
	    top: 200px;
	    left: 0;
	    width: 100%;
	    padding: 0 15px;
	    box-sizing: border-box;

	    #accept-personalisation-button {
	    	width: 100%;
	    }
	}
}

.personalise-messages  {
    .personalise-info {
        margin: 16px 8px 0 8px;

        &.added {
            margin: 11px 0 0;
        }
    }
    .link {
        margin-left: 8px;
    }
}

#lightbox .EmaginationErrorOverlay {
    div {
        width: 80%;
        padding: 15px;
        margin: 30px auto;
        h2 {
            padding-left: 0;
        }
    }
}

@include emaginationV2Devices;
@include emaginationMobile;
