@import '../mixins/store-stock-check-mixins';
@include storeStockCheckAllDevices;

.store-stock-check-overlay {
  .stock-check-form {
    .postcode {
      width: 60%;
    }
    .button-wrapper {
      margin-left: 60%;
    }
  }

  .in-stock-filter-checkbox-wrapper {
    clear: both;
    padding-top: 10px;
  }

  .stores-list-item {
    .store-detail-link {
      .store-distance {
        border-left: 1px solid $border;
      }
      .view-store-info-toggle {
        border-top: 1px solid $lightBg;
        padding-bottom: 8px;
      }
    }
  }
}
