/*******************************************
*	Streamline Basket
*******************************************/

@import "../../../core/components/variables";
#overlay {
    background: #000;
    @include opacity(.5);
}
.streamline-basket {
  &#lightbox {
    background: $pagePutty;
  }
    position: relative;
    z-index: 1;
    .close {
        z-index: 10;
    }
    .loading-overlay {
        position: absolute;
        top: 122px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgba(255, 255, 255, 0.75);
        text-align: center;
        .ajax-loader {
            margin-top: 65px;
        }
    }
    .current-details {
        padding: 32px 40px;
        background-color: #fff;
        position: relative;
        z-index: 2;
    overflow: hidden;
    margin-bottom: 20px;
        .section-main {
            .updated-info {
                overflow: hidden;
                margin-bottom: 32px;
                p {
                    float: left;
                    margin: 0;
                    line-height: 85px;
                    font-size: 2.4em;
                    font-family: "Tesco", "Helvetica Neue", "Arial", sans-serif;
                    span {
                        color: $tescoRed;
                    }
                }
                .product-image {
                    float: left;
                    margin-right: 17px;
                }
            }
            .updated-info.no-image {
                margin-bottom: 0;
            }
            .more-options {
                color: $xDarkPutty;
                padding: 0.85em;
                margin-bottom: 32px;
                background: $pagePutty;
                font-size: 1.3em;
                p {
                    margin: 0;
                    padding-bottom: 8px;
                    border-bottom: solid 1px #fff;
                    font-size: 1em;
                    color: $xDarkPutty;
                    &.serviceHeading {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                &.status-message p {
                    padding-bottom: 0;
                    line-height: 1.5em;
                }
                p.noBorder {
                    border: none
                }
                ul {
                    margin: 2px 0;
                }
                ul li {
                    display: inline-block;
                    width: 100%;
                    margin: 5px 0;
                    font-size: 14px;
                    label {
                        display: table;
                        width: 100%;
                        position: relative;
                        padding-right: 23px;
                        span {
                            /*line-height: 1.8em;*/

                            display: table-cell;
                            vertical-align: middle;
                            width: 100%;
                            padding-right: 10px;
                        }
                        b {
                            /*float: right;*/
              				font-weight: bold; /*line-height: 1.8em;*/
                            position: relative;
                            font-size: 14px;
                            display: table-cell;
                            vertical-align: middle;
                            .ajax-loader {
                                display: none;
                                vertical-align: middle;
                                margin: -2px 10px 0 0;
                            }
                        }
                        .custom-checkbox {
                            display: none;
                        }
                        .checkbox {
                            /*float: left;*/

                            margin: 0 10px 0 0;
                            display: table-cell;
                            vertical-align: middle;
                        }
                        &:after {
                            background: url("../img/question.png") no-repeat;
                            width: 13px;
                            height: 13px;
                            content: 'Question';
                            text-indent: -999em;
                            position: absolute;
                            top: -1px;
                            bottom: 0;
                            margin-top: auto;
                            margin-bottom: auto;
                            right: 0px;
                        }
                    }
                }
                .tooltipPopup {
                    p {
                        font-size: 14px;
                    }
                }
            }
            .summary {
                font-size: 1.4em;
                .heading {
                    margin: 0;
                    b {
                        font-weight: bold;
                    }
                }
                p {
                    display: inline;
                    margin: 0;
                }
                span {
                    float: right;
                }
                ul {
                    margin: 0.8em 1.1em;
                    li {
                        border-bottom: solid 1px $pagePutty;
                        p, span {
                            font-size: 1em;
                            line-height: 26px;
                        }
                    }
                    li.marked {
                        p, span {
                            color: $tescoRed;
                        }
                    }
                }
                .total {
                    margin: 0 1.1em;
                    line-height: 1.8em;
                    height: 30px;
                    p, span {
                        font-weight: bold;
                        line-height: 1em;
                    }
                    span {
                        font-size: 1.8em;
                    }
                }
            }
        }
    }
    .section-nav {
        float: right;
        clear: both;
        overflow: auto;
        margin: 0 0 16px 0;
        padding-left: 40px;
        position: relative;
        .primary-button, .secondary-button {
            margin-bottom: 16px;
        }
        .primary-button.checkout.disabled,
        .primary-button.checkout.disabled:hover {
            background: $midDarkGrey;
            border: solid 1px $midDarkGrey;
            color: $white;
        }
        .primary-button.disabled,
        .primary-button.disabled:hover {
            background: $inactivePutty;
            border: solid 1px $inactivePutty;
            color: #ffffff;
        }
        .primary-button:link,
        .primary-button:visited {
            border: solid 1px $putty;
            background: $putty;
        }
        p {
            margin: 0;
            clear: both;
            overflow: auto;
            a {
                font-size: 1.4em;
                float: right;
        		border-bottom: solid 1px $darkPutty;
                padding-bottom: 0.2em;
                text-decoration: none;
            }
      		a:hover {
        		border-color: $tescoBrightBlue;
            }
        }
        li a.primary-button:hover {
            border: solid 1px $tescoBrightBlue;
            background: $tescoBrightBlue;
        }
    }

    .add-on-item {
      display: block;
      left: 148px;
      position: absolute;
      top: 92px;

      div img {
        height: 21px;
        width: 112px;
      }
    }

    .basket-overlay__addOnMessage {
      border: 1px solid red;
      margin-top: 10px;
      padding: 10px;
      width: 65%;

      a.icon {
        color: inherit;
        cursor: pointer;
        display: block;
        font-family: "Tesco Icons";
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
      }

      p {
        color: #666;
        font-size: 14px;
        margin: 0;
        padding-bottom: 10px;
        padding-left: 30px;
      }
    }

    .recommendersArea {
        position: relative;
        z-index: 1;
    width: 100%;
    height: 100%;
    clear: both;
    }
}
#streamline-basket-iframe {
    width: 100%;
    border: 0;
}
#rr_placement_0 {
    .streamline-basket-carousel:first-child {
        .products-header {
            border-top: 0;
        }
    }
}

.streamline-basket .current-details .section-main .summary p.personalised-message-indicative {
  display: none;
}

html.flowersEnabled {
  #lightbox, #virtual-page {
    &.streamline-basket {
        .current-details {
            .section-main {
                .summary {
                    p {
                        &.personalised-message-indicative {
                            display: block;
                            &:before {
                                content: 'm';
                                font-family: 'Tesco Icons';
                                margin-right: 0.13em;
                                font-size: 30px;
                                position: relative;
                                top: 0.18em;
                            }
                            &:after {
                                @include clear-fix;
                                margin-bottom: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}
}

html.kiosk .personalised-message-indicative {
    #lightbox, #virtual-page {
        &.streamline-basket {
            display: none;
        }
    }
}
.streamline-basket-carousel {
    margin-bottom: 20px;

    .products-header {
        margin: 0;
    }
}


//when in kiosk, streamline-basket-carousel should look like large-desktop product-carousel
.kiosk-recommender {
    .product-carousel.streamline-basket-carousel {
        .products-header {
           height: 80px;
        }
        h2 {
            margin-bottom: 0;
            width: 100%;
            white-space: nowrap;
            padding: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            @include vertical-align;
        }
        .products {
            > li {
                .product {
                    .thumbnail {
                        img {
                            height: 250px;
                            width: 250px;
                        }
                    }
                }
            }
        }
    }
}
