@mixin smallBreadcumbs {

    #breadcrumb,
    #breadcrumb-v2 {
        z-index: 0;
        background: $white;
        padding-left: 0;
        padding-top: 0;
        -webkit-transform: translateZ(0);
        overflow: hidden;
        margin-bottom: 22px;

        &.animate {
            -webkit-transition: all 600ms cubic-bezier(.770, 0, .175, 1);
            -moz-transition: all 600ms cubic-bezier(.770, 0, .175, 1);
            -ms-transition: all 600ms cubic-bezier(.770, 0, .175, 1);
            -o-transition: all 600ms cubic-bezier(.770, 0, .175, 1);
            transition: all 600ms cubic-bezier(.770, 0, .175, 1);
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            z-index: 1;
        }

        &.noAnimate {
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: color 0 ease-in;
            transition: none;
        }

        ul{
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        li {
            float: none;
            padding: 16px 16px 16px 8px;
            line-height: 1;
            margin: 0;

            &:after {
                content: '';
            }


            a {
                float: none;
                padding: 0;
                display: inline;
                border-bottom: 0;
            }

        }

        .toggle {
            display: block;
        }
    }

    #breadcrumb {
        a::before {
            color: #ccd6e0;
            content: ')';
            font-family: 'Tesco Icons';
            font-size: .8em;
            padding: 0 8px 0 16px;
        }

        li {
            &.last {
                border-bottom: 1px solid $lightPutty;
            }
            &.first {
                a:before {
                    content: '';
                    padding: 0;
                }
            }
        }
    }
    
    .PDP-Version2__page .breadcrumb-block-wrapper {
        margin-top: 0;
        padding: 0;
    }
    
    #breadcrumb-v2 {
        border-bottom: 1px solid $paleGrey;
        height: 37px;
        ul {
        }

        li {
            display: block;
            font-size: 14px;
            line-height: 20px;
            max-height: 37px;
            padding: 8px 10px;

            &::before {
                float: left;
                padding: 0 4px 0 0;
                width: 10px;
            }

            a {
                font-size: 14px;
                white-space: nowrap;
            }

            &.first {
                border-right: 0;
            }
        }

        .back-to-results + li {
            border-top: 1px solid $paleGrey;
            line-height: normal;
            max-height: none;
            padding-bottom: 4px;
            padding-top: 13px;
            width: 100%;
        }
    }
}

@mixin hideBreadcrumbButton {
    #breadcrumb {
        .toggle {
            display: none;
        }
    }
}
