$textColor: $grey;
$linkColorHover: $brightBlue;
$linkColorActive: #008DC8;
$linkColorFocus: $brightBlue;
$linkColorVisited: #599BB7;
$imageBdrClr: #eee;
$loaderUrl: '../images/Spinner-animated-Indeterminate.gif';
$iconBdr: $paleGrey;

/**
 * icons
 */
@mixin icon {
  font-size: 16px;
  line-height: 16px;
  font-family: $tescoIconFont;
  color: inherit;

  &.large {
    font-size: 20px;
    line-height: 1;
  }

  &.larger {
    font-size: 24px;
    line-height: 1;
  }

  &.largest {
    font-size: 50px;
    line-height: 1;
  }

  &.with-round-outline {
    border: 1px solid $iconBdr;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
  }
}

@mixin withIcon($icon, $pos, $lineHeight: inherit, $fontSize: 95%, $spacing: 22px) {
  @if $pos == before {
    margin-left: $spacing;
  }
  position: relative;

  &:#{$pos} {
    @include icon;
    @if $pos == before {
      left: -$spacing;
    } @else if $pos == after {
      right: -$spacing;
    }
    content: $icon;
    font-size: $fontSize;
    line-height: $lineHeight;
    position: absolute;
    top: 0;
  }
}

/**
 * a tags
 */
@mixin hyperlink {
  font-family: $tescoFont;
  font-size: inherit;
  line-height: inherit;
  color: $linkColor;
  cursor: pointer;
  text-decoration: none;

  .nowrap {
    white-space: nowrap;
  }

  .no-touch & {
    &:hover {
      color: $linkColorHover;
      text-decoration: underline;
    }
  }

  &.button {
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  &.icon {
    color: inherit;
    font-family: $tescoIconFont;

    &:active,
    &:focus,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &:active,
  &:focus {
    color: $linkColorActive;
    text-decoration: underline;
  }

  &:visited {
    color: $linkColorVisited;
    text-decoration: none;
  }

  &.disabled {
    color: $lightGrey;
    cursor: default;

    &:active,
    &:focus,
    &:hover {
      color: $lightGrey;
      text-decoration: none;
    }
  }

  &.loading {
    position: relative;

    &:after {
      background-image: url($loaderUrl);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 15px;
      content: ' ';
      display: inline-block;
      height: 100%;
      margin-left: 10px;
      position: absolute;
      width: 15px;
    }
  }

  &.with-arrow {
    position: relative;
    @include withIcon('r', after);
  }

  &.with-question-mark {
    @include withIcon('h', before);
    position: relative;
  }

  &.with-geolocation {
    font-weight: bold;
    @include withIcon('\e90a', before, inherit, 22px, 30px);
    &:before {
      font-weight: normal;
    }
  }
}

@mixin carouselItems {
  overflow: hidden;

  @include breakpoint(largeDesktop) {
    position: relative;
    z-index: 0;
  }

  @include breakpoint(mobile) {
    margin-bottom: 55px;
  }

  .carousel-items-list {
    font-size: 0;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform 0.5s ease;
    width: 100%;
    white-space: nowrap;

    > li {
      display: inline-block;
      padding: 0 10px;
      vertical-align: top;
      width: 33.3333333%;
      white-space: normal;
      @include breakpoint(mobile) {
        width: 236px;
      }
    }
  }

  .product-tile-image {
    height: 306px;
    @include breakpoint(largeDesktop) {
      padding: 20px;
    }
    @include breakpoint(desktop) {
      padding: 20px;
    }
    @include breakpoint(allTablet) {
      height: 234px;
    }
    @include breakpoint(mobile) {
      height: 214px;
    }
  }
}

@mixin productTileImage {
  border: 1px solid $imageBdrClr;
  height: 100%;
  padding: 10px;
  width: 100%;

  .thumbnail {
    height: 100%;
    width: 100%;
  }

  .thumbnail-alts {
    height: 100%;
    text-align: center;
    width: 100%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin productRatings {
  margin-top: 5px;
  &:after {
    @include clear-fix;
  }

  .rating {
    margin-bottom: 0;
    margin-top: 3px;
  }
}

/**
 * h3 tags
 */
@mixin h3Heading {
  margin: 0;
  font-family: $tescoFont;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  color: $headingColor;
}

@mixin productTileTitle {
    margin-top: 10px;

  h3 {
    color: $textColor;
    font-size: 16px;
    height: 48px;
    line-height: 22px;
    margin-bottom: 5px;
    overflow: hidden;

    .no-touch & {
      &:hover {
        color: $linkColorHover;
        text-decoration: underline;
      }
    }

    &:active,
    &:focus {
      color: $linkColorActive;
      text-decoration: underline;
    }

    &:visited {
      color: $linkColorVisited;
      text-decoration: none;
    }
  }
 }
