@import "../../components/variables";

@mixin visuallyHidden {
  left: -2500px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

@mixin additional-carousel-controls {
  .additional-controls {
    float: right;
		margin: 10px 10px 0 0;

    ul {
      li {
        float: right;

        &.toggle-hide {
          margin: 0 0 0 10px;
        }

        .carousel-control {
          background: $white;
          border: 1px solid $midLightGrey;
          border-radius: 4px;
          color: $asphalt;
          font-family: Tesco, Helvetica Neue, Arial;
          font-size: 16px;
          font-weight: 700;
          height: auto;
          line-height: 44px;
          margin: 0;
          padding: 0 17px;
          text-align: center;

          &:hover {
            background-color: #e5f5fC;
            border: 1px solid $tescoBrightBlue;
            color: $tescoBrightBlue;
            text-decoration: none;
          }

          &.disabled {
            background-color: $midDarkGrey;
            border-color: $midDarkGrey;
            color: $white;
            cursor: default;
            pointer-events: none;
          }
        }
      }
    }
  }
}

@mixin small-additional-carousel-controls {
  .additional-controls {
    float: right;
    margin: 12px 0 0;
    ul li button {
      line-height: 36px;
      padding: 0 13px;
    }
  }
  .product-carousel-nav-wrapper {
    float: right;
    margin: 17px 10px 0;
    .product-carousel-nav {
      position: static;
    }
  }
}

@mixin additional-carousel-controls-l {
  @include small-additional-carousel-controls;
}

@mixin additional-carousel-controls-m2 {
  @include small-additional-carousel-controls;
}

@mixin additional-carousel-controls-m1 {
  @include small-additional-carousel-controls;
}

@mixin additional-carousel-controls-s {
  @include small-additional-carousel-controls;
  .additional-controls {
    margin: 12px 0 0;
    .clear-all {
      display: none;
    }
  }
}

@mixin old-carousel-styles {
  .cfw-header {
    margin: 0 auto 0;
    padding-bottom: 25px;

    .cfw-title {
      color: $xDarkPutty;
      font-size: 24px;
      margin: 30px 0 0 10px;
      text-transform: initial;
    }

    .additional-controls {
      margin: 17px 15px 0 0;
      li {

        &.toggle-hide {
          margin: 0 0 0 7px;
        }
        button {
          background: none;
          border: none;
          color: $tescoBlue;

          &:hover {
            background: none;
            border: none;
            color: $tescoBlue;
          }

          &.disabled {
            background: none;
            border: none;
            color: $midDarkGrey;
          }
        }
      }
    }

    .product-carousel-nav-wrapper {
      float: right;

      .product-carousel-nav {
        position: static;
        width: 103px;

        > li {
          height: 48px;
          width: 48px;

          > a {
            background: $white;
            border: 2px solid $tescoBlue;
            border-radius: 100px;

            &.next .icon:after {
              left: 2px;
            }

            &.previous .icon:after {
              left: -2px;
            }

            .icon:after {
              color: $tescoBlue;
              font-size: 14px;
              line-height: 44px;
            }

          }

          &.disabled {
            a {
              border-color: $midDarkGrey;

              .icon:after {
                color: $midDarkGrey;
              }
            }
          }
        }
      }
    }
  }

  &.carousel-disabled {
    .cfw-header {
      padding-bottom: 15px;
    }
    .empty-carousel-message {
      p {
        color: $xDarkPutty;
        margin: 0 10px;
      }
    }
  }
}

@mixin old-carousel-styles-ll {
  margin: 0 auto 30px;
  &.carousel-disabled.carousel-hidden {
    margin: 0 auto 30px;
  }
  .product-carousel-nav-wrapper {
    margin: 17px 10px 0;
  }
}

@mixin old-carousel-styles-l {
  margin: 0 auto 30px;
  &.carousel-disabled.carousel-hidden {
    margin: 0 auto 30px;
  }
  .cfw-header {
    .additional-controls {
      margin: 17px 10px 0;
      ul li button {
        line-height: 46px;
        padding: 0 17px;
      }
    }
    .product-carousel-nav-wrapper {
      margin: 17px 0 0;
      .product-carousel-nav {
        width: 103px;
      }
    }
  }
}

@mixin old-carousel-styles-m {
  margin: 0 auto 30px;
  &.carousel-disabled.carousel-hidden {
    margin: 0 auto 30px;
  }
  .cfw-header {
    .cfw-title {
      margin: 30px 0 0 10px;
    }
    .product-carousel-nav {
      margin: 0;
      width: 103px;
      > li {
        margin-left: 0;
      }
    }
  }
}

@mixin old-carousel-styles-s {
  .cfw-header.cfw-additional-controls {
    border-bottom: 1px solid $pagePutty;
    height: 60px;
    margin: 0 0 10px 0;

    .cfw-title {
      font-size: 18px;
      margin: 16px 0 0 10px;
    }

    .additional-controls {
      margin: 10px 0 0;
      li {
        line-height: 36px;
        padding: 0 13px;

        &.toggle-hide {
          margin: 0;
        }
        &.clear-all {
          display: none;
        }
      }
    }

    .product-carousel-nav-wrapper {
      margin: 10px 0 0;
      position: static;
      width: auto;
      .product-carousel-nav {
        width: 83px;

        > li {
          height: 38px;
          margin-left: 0;
          width: 38px;

          .icon:after {
            line-height: 34px;
          }
        }
      }
    }

    /* media query to hide arrows if viewport is very small */
    @media (max-width: 370px) {
      .product-carousel-nav-wrapper {
        display: none;
      }
    }
  }

  .carousel-items {
    margin-bottom: 16px;
  }

  &.carousel-disabled {
    margin: 0 0 16px;
    .cfw-header {
      margin-bottom: 0;
    }
    .empty-carousel-message {
      border-top: 0;
      margin: 0;
      p {
        font-size: 16px;
      }
    }
    &.carousel-hidden {
      .cfw-header {
        margin: 0 0;
      }
    }
  }

  &.carousel-hidden {
    margin: 0 0 16px;
  }
}
