@mixin homepage-stamp-device {
	.homepage-trade-stamp {
		position: relative;
		width: 100%;
		overflow: hidden;
		-webkit-perspective: 1000;
		-webkit-backface-visibility: hidden;
		ul{
			-webkit-perspective: 1000;
	    	-webkit-backface-visibility: hidden;
			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			-o-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			&.animate{
				-webkit-transition: all 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
				-moz-transition: all 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
				-ms-transition: all 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
				-o-transition: all 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
				transition: all 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
			}
			width: 1344px;

			li{
				width: 165px;
				-webkit-perspective: 1000;
		        -webkit-backface-visibility: hidden;
				position: relative;
				margin-left: 0;
				margin-right: 17px;
				@include noselsct;

				img{
					width: 100%;
					height: auto!important;
				}
				&.last {
					display: block;
				}
			}
		}


		&.show-nav .nav { 
			display: block;
			a {
				background: #000;
				background: #275d8f;
				background: rgba(39,93,143,0.8); 
				position: absolute;
				top: 50%;
				margin-top: -60px;
				width: 66px;
				height: 66px;
				cursor: pointer;
				color: #fff;
				line-height: 66px;
				text-align: center;
				display: block;
				z-index: 100;
				@include noselsct;

				&.next {
					right: 0px;
				}

				&.back {
					left: 0px;
				}

			}
		}

	}
}