@mixin vertically-centered-product-tile {
    margin: -40px 0 0 0;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
}

@mixin fluid-width-product-tiles {

	$margin-left-adjust: 32px;
	
    .products>li .product {
    padding: 16px;
        .thumbnail {
      width: 85px;
      position: relative;
      top: 0;
      left: 0;
      float: left;

      #listing & {
        float: none;
      }

            img {
                width: 100%;
            }
            @include bcveIcon(auto, 8px, 8px, auto, 22px, 36px);
        }
        .offer {
            bottom: 15%;
            left: 12.5%;
        }
        

    .product-carousel & {
      .title-author-format,
      .rating-container,
      .price {
        clear: none;
        margin-left: 85px;
        padding-left: 16px;
      }
        }
    }

   
  .feature-products.complimentary .product-grid .products-wrapper {
    border: none;

    .products .product {
      padding-bottom: 16px;
      padding-left: 16px;

      .thumbnail {
        @include vertically-centered-product-tile;
        left: 16px;
      }

      .title-author-format {
        min-height: 0;

        h3 {
          max-height: 54px;
          height: auto;
          padding-bottom: 0;
          font-size: 15px;
          line-height: 18px;
          font-family: "Tesco", Helvetica Neue, Arial, sans-serif;

          a {
            font-size: 15px;
            line-height: 18px;
          }
        }
      }

      .rating-container {
        clear: none;
        .total-reviewers {
          font-size: 13px;
          font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
        }
      }

      .price {
        clear: none;
        height: auto;
        padding-top: 16px;
      }

      .title-author-format,
      .rating-container,
      .price {
        margin: 0 0 0 80px;
        padding-left: 16px;
      }
}
  }
}

@mixin desktop-product-tiles {
    .product-grid {
        position: relative;
        overflow: hidden;
        clear: both;
        .products-header {
            margin-left: $onecol;
            margin-right: $onecol;
        }
        .products>li {
            margin-left: $onecol;
            margin-right: $onecol;
        }
    }
    .products>li {
    	width: 236px;
        .ping {
            padding: 5px 8px 4px;
            font-size: 13px;
        }
        .product {
      		width: 100%;
      		padding: 2 * $onecol;
            .thumbnail {
       			margin: 0px 0px 16px 0px;
        		width: auto;
        		height: auto;
                img {
                    margin: 0 auto;
                }
            }
            .offer {
                top: 100px;
                bottom: auto;
            }
        }
    }
    .product-carousel.shop-by,
    .product-grid.shop-by {
        .products > li {
            width: 28 * $onecol;
            .product {
                float: left;
                width: 28 * $onecol;
                &:first-child {
                    margin-right: 2 * $onecol;
                }
            }
            &.half-size {
                width: 28 * $onecol;
                .product:first-child {
                    margin-right: 0;
                }
            }
        }
    }
    
    .product-carousel.streamline-basket-carousel {
        .products > li {
            width: 23.55%;
            .product {
                width:100%;
            }
        }
    }

  .feature-products.complimentary .product-grid .products-wrapper {
    border: none;

    .products .product {
      .thumbnail {
        @include vertically-centered-product-tile;
      }

      .title-author-format {
        min-height: 0;

        h3 {
          max-height: 54px;
          height: auto;
          padding-bottom: 0;
          font-size: 15px;
          line-height: 18px;
          font-family: "Tesco", Helvetica Neue, Arial, sans-serif;

          a {
            font-size: 15px;
            line-height: 18px;
          }
        }
      }

      .rating-container {
        clear: none;
        .total-reviewers {
          font-size: 13px;
          font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
        }
      }

      .price {
        clear: none;
        height: auto;
        padding-top: 16px;
      }

      .title-author-format,
      .rating-container,
      .price {
        margin: 0 0 0 30%;
        padding-left: 16px;
      }
    }
  }
}
.kiosk-recommender {
  > div:nth-child(2) {
    display: none;
  }
}

@mixin heroic-recommenders-tile-border {
    border-color: #fff $pagePutty $pagePutty #fff;
}

@mixin llvp-lvp-product-carousel-heroic {
    #main-content {
      .product-carousel-heroic.tabbed {
        .products {
            height: 318px;

            li {
                width: 25%;
                height: 50%;
                position: absolute;

                .product {
                    @include heroic-recommenders-tile-border;
                    height: 100%;
                    width: 100%;
                }

                .text-data {
                    float: left;
                    width: 106px;
                    position: relative;
                    left: 16px;
                }

                .title-author-format,
                .title-author-format h3 {
                    font-size: 16px !important;
                    line-height: 17px;
                    height: 68px !important;
                    word-wrap: break-word;
                     a{
                    	color: $xDarkPutty;
                	}
                	a:hover{
                		color: $tescoBrightBlue;
                	}	
                }

                .thumbnail {
                    float: left;
                    width: 88px;
                    margin-top: 18px;
                }

                img {
                    
                    height: 88px;
                    margin: 0 auto;
                }

                .rating-container {
                    clear: none;
                    position: relative;
                    top: 6px;
                }
            }

            li.nth-child-0,
            li.nth-child-5,
            li.nth-child-10 {
                height: 100%;
                width: 50%;
                top: 0;

                .product {
                    height: 100%;
                    width: 100%;
                }

                .text-data {
                    float: left;
                    margin: 62px 0 0 0;
                    width: 140px;
                    left: 0;
                }

                .title-author-format,
                .title-author-format h3 {
                    font-size: 17px;
                    height: 60px;
                }
                
                .price {
                    font-size: 24px;
                }

                .thumbnail {
                    height: 285px;
                    width: 285px;
                    float: right;
                    margin-top: 0;
                }

                img {
                    height: 285px;
                }
            }


            li.nth-child-1,
            li.nth-child-2,
            li.nth-child-6,
            li.nth-child-7,
            li.nth-child-11,
            li.nth-child-12 {
                top: 0;
            }
            
            li.nth-child-3,
            li.nth-child-4,
            li.nth-child-8,
            li.nth-child-9,
            li.nth-child-13,
            li.nth-child-14 {
                bottom: 0;
            }

            li.nth-child-0 {
                left: 0;
            }

            li.nth-child-1,
            li.nth-child-3 {
                left: 50%;
            }

            li.nth-child-2,
            li.nth-child-4 {
                left: 75%;
            }

            li.nth-child-5 {
                left: 100%;
            }

            li.nth-child-6,
            li.nth-child-8 {
                left: 150%;
            }

            li.nth-child-7,
            li.nth-child-9 {
                left: 175%;
            }

            li.nth-child-10 {
                left: 200%;
            }

            li.nth-child-11,
            li.nth-child-13 {
                left: 250%;
            }

            li.nth-child-12,
            li.nth-child-14 {
                left: 275%;
            }
        }
      }
    }
}