.show-more-wrapper {
	position: absolute;
	top: 235px;
	left: 560px;
	width: 704px;
}

.show-more-wrapper .fade-mask {
    @include fullGradient(transparent, #fff);
}

.show-more-footer {
	position: absolute;
	top: 515px;
	left: 560px;
	width: 704px;
	margin-bottom: 0px;
  	padding-top: 0px;
  	border-top: none;
}

