@import "../breakpoints";
@include breakpoint(kiosk);

.no-results {  
	width: 450px;
    float: left;
    margin-left: 32px;
    margin-bottom: 16px; 
  
  .no-results-wrapper {
    padding: $onecol $onecol 0;
  }
  
  .results-found {
    font-size: 18px;
  }
}

.empty-results #visual-nav 
{
	margin-top: 2px;
    width: 1230px;
    background:none;
    border:none;
    margin-left:0px;
    
    h2
    {
    line-height:0px;
    min-height:0px;
    }
}
