/*******************************************
*    Kiosk Product Tile module
*******************************************/

@import "../../../core/components/breakpoints";
@include breakpoint(kiosk);
@import "../mixins/product-listing-mixins";

#listing {
    display: block;
}

.listing-compare-mode {
    #filter-controls,
    #product-filters {
        display: none;
    }
    #product-categories {
        margin-bottom: 0;
    }
}

#product-filter-actions .compare {
    //display: block;
}

$product-tile-font-size-small  : 14px;
$product-tile-font-size-medium : 16px;
$product-tile-font-size-large  : 36px;

#listing {
    margin-bottom: 0;

    .products-wrapper {
        .products {
            overflow: visible;
        }
    }
    .products {
        border:none;

        .feature-tile {
            display:none;
        }

        .loadingBar {
            @include loadingBar;
            display: none;
        }
        &.compare {
            > li {
                width: 348px;
                margin: 4px;
                .product {
                    height: 348px;
                    border: 5px solid $primaryBorderColor;
                    @include border-radius(5px);
                    *:hover {
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }

        white-space: normal;

        > li {
             position: relative;
            margin: 8px;
            width: $onecol*17;
               &.nth-child-1 {
                   float: left;
                   clear: left;

                   // fix to show 1st element in plp grid
                // required for ie10 as it has a weird rendering issue where it is hiding the 1st element
                margin-left: 7px;
               }
               &.nth-child-2 {
                   clear: left;
               }
               &.nth-child-even {
                   float: left;

                   // fix to align bottom row of carousel with top row
                left: -1px;
               }
            .product {
                height: 340px;
                width: 100%;
                border: 1px solid $primaryBorderColor;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                -ms-box-shadow: none;
                -o-box-shadow: none;
                box-shadow: none;
                padding: 8px 16px 4px 16px;
                &:after {
                    @include clear-fix;
                }

                .unavailable, .special-offer {
                    margin: 0 0 3px 0;
                    font-size: 12px;
                }

                .unavailable-special-offer {
                    clear: both;
                    margin-right: 0;
                    margin-left: 0;
                    &.showInPromo{
                        display: none;
                    }

                    .special-offer-kiosk{
                        display: block;
                        text-align: left;
                        font-size: 18px;
                        height: auto;
                        padding: 3px 5px;
                    }
                    .special-offer{
                        display: none;
                    }
                }
                .oosImageHolder p.oosText{
                     width: 266px;
                    margin-left:-14px;
                    top:45px;
                 }
            }

    // COMPARE STATE for selected tile
    .compare {
        > li {
            .product {
                cursor: pointer; // not needed on kiosk - for testing
                &.selected {
                    border-color: #004b8a;
                }
            }
        }
    }

    // COLOUR SWATCHES
    .colour-swatch-container {
        position: relative;
        height: 24px;
        clear: both;
        margin: 0 0 5px;
        overflow: hidden;
        .colour-swatch {
            background-color: #fff;
            .swatches {
                height: 24px;
                overflow: hidden;
                float: left;
                width: 50%;
            }
            li {
               float: left;
               margin: 0px 4px 0px 0px;
               &:first-child {
                   margin-left: 0;
               }
            }
            img {
                width: 24px;
                height: 24px;
                display: block;
                @include border-radius(1px);
            }
            .moreLink{
			    line-height: 20px;
			    width: 15%;
			    overflow: hidden;
			    float: left;
            }
        }
    }

    // PRODUCT IMAGE
    .thumbnail {
        .static-product-image {
            width: 100%;
            height: 100%;
        }
        img {
            //width: 100%;
            max-width: 100%;
            //height: auto;
            max-height: 100%;
        }
        img.bcve_ping {
            bottom: auto;
            height: 34px;
            right: 15px;
            top: 95px;
            width: 53px;
        }
        .blinkbox-ping {
            width: auto;
            margin-top: 0;
        }
    }

    // PRODUCT TITLE
    .title-author-format {
        min-height: 50px;
        margin-bottom: 0;
        padding: 0px;
        h3 {
            font-size: 16px;
            line-height: 20px;
            max-height: 2.5em;
            max-width: 238px;
            margin-top: 0;
            a {
                border-bottom: 1px solid transparent;
                line-height: 18px;
            }
        }
        .author,
        .format-release {
            margin: 0;
            padding: 0;
            font-size: $product-tile-font-size-small;
            line-height: 1.3em;
            display: none;
        }
    }

    // RATINGS
    .rating-container {
         height: 19px;
        margin: 0 0 2px;
        line-height: 13px;
    }

    // BUY FROM/SELLER
    .buy-block {
        margin: 0;
        font-size: $product-tile-font-size-small;
    }

    // FORMER AND ACTUAL PRICES
    .former-prices,
    .price {
        height: $product-tile-font-size-large;
        line-height: $product-tile-font-size-large;
        vertical-align: middle;
    }
    .former-prices {
        margin: 0;
        padding: 0 0 0 2px;
        color: #ee1c2e;
        font-size: 14px;
        li {
            display: none;
            padding: 0;
            line-height: 1;
            &:first-child {
                display: table-cell;
            }
        }
        &.less {
            padding-top: 14px;
        }
    }
    .price {
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        clear: none;
        margin: 8px 0;
    }

    // UNAVILABLE/SPECIAL OFFERS - optional, height set in CSS only as it never changes
    // * always last to appear in product tile for kiosk
    .additional-info {
        margin: 0;
        font-size: $product-tile-font-size-small;
    }

    // hide from kiosk view
            .add-to-compare,
            .add-to-basket,
            .stock-alert,
            .load-more,
            .load-more-tile,
            .buy-from,
            .add-on-item {
                display: none;
            }
        }
    }

    .product-carousel-nav {
        display: block;
    }

    .drop-down {
        display: none;
    }
    .mobile {
        margin: 0;
        a{
            color: #000;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }

    .previous {
        top: 50%;
        margin-top: -88px;
    }

    .next.load-more,
    .previous {
        border: none;
        display: block;
        margin: 0;
        margin-top: -88px;
        opacity: 1;
        padding: 0;
        position: absolute;
        top: 50%;
        z-index: 1;
        a.icon {
              position: absolute;
              text-align: center;
            color: #fff;
            opacity: 1;
            zoom: 1;
              &:after {
                  color: #fff;
                opacity: 1;
              }
          }
        .label {
            display: none;
        }
    }
    .page-divider {
        display: none;
    }

    &.product-carousel {
        .products > li .thumbnail > div > img {
            margin-top: 0;
            margin-bottom: 0;
            width: 120px;
            height: 120px;
        }
    }
}

#compare-dialog {
    width: 1712px;
    height: 75px;
    margin-left: 8px;
    margin-top: 16px;
    margin-bottom: 18px;
    padding: 13px 83px 12px 16px;
    @include border-radius(4px);
    @include box-shadow(none);
    border: 1px solid $primaryBorderColor;
    overflow: visible;
    position: relative;
    &:after{
        @include clear-fix;
    }
    p {
        clear: none;
        height: 45px;
        line-height: 1.3em;
        padding-top: 22px;
        margin: 0;
        &:first-child {
            font-size: 1.3em;
            line-height: 1em;
            float: left;
            margin-right: 12px;
        }
    }
    #clear-all,
    .compare-cta {
        float: right;
        font-weight: normal;
        margin-left: 20px;
        margin-bottom: 0;
        font-size: 1.4em;
        line-height: 1.2em;
        height: 45px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        &.disabled {
            filter: none;
            -ms-filter: none;
        }
    }
    .close {
        position: absolute;
        cursor: pointer;
        width: 48px;
        height: 48px;
        top: -1px;
        right: 15px;
        text-align: center;
        @include border-radius(100px);
        border: 2px solid $contentLink;
        font-size: 17px;
        padding: 12px 0 0;
        color: $contentLink;
        overflow: hidden;
    }
}

#product-filter-actions #compare-mode {
    display: block;
    margin-right: 40px;
}

.sponsored-link-block {
    display: none;
}

#main-content {
    .product-load-prev {
        display: none;
    }

}
/* Promo Page specific styles */
 #listing.showInPromo {

        .add-to-basket,  .stock-alert,  .unavailable-special-offer{
            display: block;
            margin: 0;
            width: 100%;
            clear:both;
        }
         .unavailable-special-offer{
             display: none;
         }
    .price {
        margin: 0 0 4px;

        }
     .former-prices li:first-child{
      height: 26px;
     }

}

.promo-linkSave #product-categories{
    display: none;
}

        ul.tabs-link-save{
            width: auto;
            float: none;
            margin: 0 0 8px;
            padding: 0 48px;
            background: none;
            height:77px;
            li{
                position: relative;
                width: 32.6%;
                background: #ffffff;
                a{
                    padding: 8px 16px 8px 50px;
                    height: 78px;
                    border: 1px solid #e1e1e1;
                    border-right: 0;
                    border-left: 0;

                }
                &:first-child{
                    a{
                        padding: 8px 16px;
                        border: 1px solid #e1e1e1;
                        border-right: 0;
                    }
                }
                &.tab2 a, &.tab1 a{
                    background: none;
                }
                &:after{
                    top:0;
                    right: -42px;
                    z-index: 1;
                    display: inline-block;
                    content: "";
                    width: 45px;
                    height: 80px;
                    position: absolute;
                    background: url(../images/offer-steps-arrow.png) no-repeat 0 -89px;
                }
                &.active{
                    &:after{
                        background-position: 0 1px;
                    }
                    &:first-child{
                         a{
                            border: 1px solid $tescoBrightBlue;
                            border-right: 0;
                        }
                    }
                    a{
                        border: 1px solid #00a1e0;
                        border-right: 0;
                        border-left: 0;

                        .step{
                            color: #00a1e0;
                        }
                    }
                }
            }
            h2{
                margin: 0 8px 8px;
            }
            p{
                margin: 0 8px;
                font-weight: normal;
            }
        }

#offersTerms{
   display: none;
    font-size: 14px;
    padding-left: 8px;
}
#lightbox{
    &.streamline-basket{
    z-index: 703;
    border: 0;
    .close{
       top: 10px;
       right:10px;
        z-index: 703;
       background: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        z-index: 704;
        .icon{
            color:$xDarkPutty;
        }
    }
        height:100%;
        padding-top: 0;
        #streamline-basket-iframe {
            height:300px;
        }
    }
}

#lightbox-content{
    #offersTerms{
       line-height: 2em;
        display: block;
        padding-left: 0;

    }
}

.linksave {
    #product-categories{
        background: none;
        padding: 0;
        margin: 0;
        h2, .categories{
            display: none;
        }
        #show-all-categories{
            position: absolute;
            top:152px;
            right:310px;
            padding: 9px 12px;
        }
    }

}

.non-transactional {
    #listing.showInPromo {
        .add-to-basket, .stock-alert, .unavailable-special-offer {
            display: none;
        }
        .unavailable-special-offer {
            display: block;
        }
    }
    .add-to-basket, .stock-alert {
        display: none;
    }
}

#listing.imagePreset-portraitxl {    // portrait images on kiosk plp
    margin: 10px 0 0 0;
    padding: 0 6px 0 24px;
    .products-wrapper {
        margin-right: 0;
				overflow: visible;
        position: relative;

        .product-carousel-nav {
            position: absolute;
            .previous, .next {
                left: -40px;
                top: 310px;
                &:hover, &:focus {
                    background: $tescoBrightBlue;
                }
            }
            .next {
                left: 1720px;
            }
        }
        .products {
           margin-left: 8px;
           > li {
               margin: 8px 13px 8px 0;
               width: 332px;
               &.nth-child-1, &.nth-child-2, &.nth-child-even, &.nth-child-odd {
                   clear: none;
                   float: none;
               }
               &.nth-child-even {
                   left: 0;
               }
               .product {
                      border: 0;
                    height: 686px;
                    padding: 0;

                    .image-container {
                        height: 496px;
                        .oosImageHolder {
                            position: absolute;
                            .oosText {
                                margin-left: 0;
                                top: 210px;
                                width: 100%;
                            }
                        }
                        .colour-swatch-container {    // hide colour swatches text due to lack of space
                           display: none;
                        }
                        .thumbnail {
                           height: 475px;
                           margin-top: 0;
                           width: 332px;
                           > div > img {
                                height: 475px;
                                width: 332px;
                            }
                          .static-product-image > img {
                                height: 475px;
                                width: 332px;
                            }
                        }
                    }
                    .colour-swatch-container{
	                    .colour-swatch{
                       		.swatches{
                       			width: 32%;
                       		}
                    	}
					}

                    .details-buy-box-container {
                        margin: 5px 16px 0;
                        .price {
                            margin: 5px 0 0;
                        }
                        .buy-block, .unavailable-special-offer, .total-reviewers, .from {
                            font-family: "Tesco", Helvetica Neue, Arial, sans-serif;
                        }
                        .from {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
