//Gutters
$g1: 20px;
$g2: 15px;
$g3: 10px;
$g4: 5px;

//Colours
$c1: #f7f7f7;
$c2: #e8e8e8;
$c3: #e5e5e5;
$c4: #616060;//text input

//Headings
@mixin h1 {
  margin: 0 0 $g1;
  font: {
    family: Arial,sans-serif;
    size: 2.6em;
    weight: normal;
  }
  color: #717070;
}

@mixin h2 {
  margin: 0 0 $g3;
  font: {
    family: Arial,sans-serif;
    size: 2em;
    weight: normal;
  }
  color: #828282;
}

@mixin h3 {
  margin: 0 0 $g3;
  font: {
    family: Arial,sans-serif;
    size: 1.6em;
    weight: normal;
  }
  color: #828282;
}

@mixin h4 {
  margin: 0 0 $g3;
  font: {
    family: Arial,sans-serif;
    size: 1.3em;
    weight: normal;
  }
  color: #5e5d5d;
}

@mixin f1 {
  font: {
    family: Arial,sans-serif;
    size: 1.3em;
    weight: normal;
  }
  color: #737373;
}

@mixin f2 {
  font: {
    family: Arial,sans-serif;
    size: 1.2em;
    weight: normal;
  }
  color: #737373;
}

@mixin f3 {
  font: {
    family: Arial,sans-serif;
    size: 1.3em;
    weight: bold;
  }
  color: #5e5d5d;
}

@mixin btn($grad1, $grad2) {
  background-image: linear-gradient(top, $grad1 16%, $grad2 58%);
  background-image: -o-linear-gradient(top, $grad1 16%, $grad2 58%);
  background-image: -moz-linear-gradient(top, $grad1 16%, $grad2 58%);
  background-image: -webkit-linear-gradient(top, $grad1 16%, $grad2 58%);
  background-image: -ms-linear-gradient(top, $grad1 16%, $grad2 58%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.16, $grad1),
    color-stop(0.58, $grad2)
  );
}
