@import "../common/variables";

// Grays
// -------------------------
$black:                 #000 !default;
$greyDark:              #606060;
$greyMid:               #aaa;
$greyLight:             #d9d9d9;
$greyLighter:           #f7f7f7;
$white:                 #fff !default;

// Accent colors
// -------------------------
$blueDark:              #145899;
$blueMid:               #0770b8;
$blueLight:             #539adf;
$yellowLight:           #ffffd0;
$red:                   #d92121;
$orangeDark:            #fe8500;
$orangeMid:             #fea100;
$brown:                 #c46907;

$textColor:             $greyDark !default;

// Mixins
// -------------------------
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin btn($grad1, $grad2) {
  background-image: linear-gradient(top, $grad1, $grad2);
  background-image: -o-linear-gradient(top, $grad1, $grad2);
  background-image: -moz-linear-gradient(top, $grad1, $grad2);
  background-image: -webkit-linear-gradient(top, $grad1, $grad2);
  background-image: -ms-linear-gradient(top, $grad1, $grad2);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop($grad1),
    color-stop($grad2)
  );
}

.btn {
  display: inline-block;
  margin: 0 10px 0 0;
  border: 1px solid $greyLight;
  border-radius: 2px;
  padding: 4px 10px;
  font-weight: bold;
  cursor: pointer;
}

a.btn {
  font-size: 1.2em;
  color: #fff;
  /*sample*/
}

p > a.btn,
p > a.btn-functional, p > a.btn-primary, p > a.btn-transactional {
  padding-top: 5px;
  font-size: 1em;
}

.btn-functional, a.btn-functional {
  @include secondaryButton;
  line-height: 25px;
}

.btn-primary {
  @include primaryButton;
  line-height: 25px;
}

.btn-transactional {
  @extend .btn;
  background: $orangeMid;
  @include btn($orangeMid, $orangeDark);
  color: $white;
  border-color: $brown;
  text-shadow: 0 1px 1px $orangeDark;
  &:hover {
    border-color: $brown;
    background: $orangeDark;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    color: $white;
  }
}

/*
 * GMO style overrides
 */
.primary-content {

  h1, h2, h3 {
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.3em;
    color: $greyDark;
  }

  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  p {
    font-size: 1.2em;
    line-height: 1.25;
    margin: 0 0 1.25em;
    color: $greyDark;
  }

  label.invalid2 {
    display: block;
    clear: both;
    padding: 5px 0 0 0;
    color: $red;
    font-weight: normal;
    font-size: 1.2em;
  }

  input[type="text"] {
    border: 1px solid $greyLight;
    padding: 5px 0 4px 4px;
    font-size: 1.2em;
    color: $greyDark;
    &:hover {
      border-color: $greyMid;
    }
    &:focus {
      border-color: $blueLight;
      outline: none;
      box-shadow: none;
    }
  }

  textarea {
    border: 1px solid $greyLight;
    padding: 10px;
    font-size: 1.2em;
    color: $greyDark;
    &:hover {
      border-color: $greyMid;
    }
    &:focus {
      border-width: 1px;
      border-color: $blueLight;
      outline: none;
      box-shadow: none;
    }
  }

  select {
    border: 1px solid $greyLight;
    border-radius: 2px;
    padding: 4px 3px 3px;
    font-size: 1.2em;
    color: $greyDark;
    &:hover {
      border-color: $greyMid;
    }
    &:focus {
      border-color: $blueLight;
      outline: none;
      box-shadow: none;
    }
  }

  input.invalid2,
  select.invalid2,
  textarea.invalid2 {
    border-color: $red;
    background: $white;

    &:hover, &:focus {
      border-color: $red;
    }
  }

  .clearfix {
    @include clearfix();
  }

  .visuallyhidden {
    @include visuallyhidden();
  }

}

.form-wrapper {
  padding: 0 0 20px 0;

  fieldset {
    margin: 0;
    border: none;
    padding: 0;
  }

  .control-group {
    @include clearfix();
    padding: 0 0 10px 0;

    label {
      display: block;
      padding: 0;
      font-weight: bold;
      cursor: pointer;
    }

    .control-label {
      @extend label;
      position: relative;
      float: left;
      width: 100px;
      padding: 5px 20px 0 0;

      .mandatory {
        position: absolute;
        right: 10px;
        color: $red;
      }
    }

    .controls {
      margin-left: 120px;
    }

    input {
      width: 224px; //230px
    }

    input[type="checkbox"],
    input[type="radio"] {
      float: left;
      width: auto;
      margin: 0 0 0 -18px;
      font-size: 1em;
      vertical-align: middle;
    }

    select {
      display: inline-block; //help eliminate white space
      width: 230px;
      margin: 0 10px 0 0;
    }

    .input-mini {
      width: 59px; //65px
    }
    select.input-mini {
      width: 65px;
    }

    .input-small {
      width: 79px; //85px
    }
    select.input-small {
      width: 85px;
    }

    .input-medium {
      width: 121px; //127px
      padding-left: 0;
    }
    select.input-medium {
      width: 127px;
    }

    .required {
      background: $yellowLight;
    }

    .btn {
      width: auto;
    }

    .checkbox,
    .radio {
      margin-right: 10px;
      padding: 0 0 5px 18px;
      font-weight: normal;
      font-size: 1.2em;
      line-height: 1.25;
    }

    .inline {
      display: inline-block;
    }
  }

  .form-actions {
    clear: both;
  }
}
#page-container{
	margin-top: 25px;
	background-color: #fff;
	padding: 10px 0;
}
#page-container div:first-child h1 {
	margin-top: 0;
}
#footer .panel-bottom span.copyright{
	float: none;
	font-size: 1.2em;
	text-align: right;
}

#microsite-nav {
    padding-right: 0;
    padding-left: 0;
    .menu {
        h2 {
            border-top: 1px solid #f3f1ed;
            border-right: 1px solid #f3f1ed;
            border-left: 1px solid #f3f1ed;
        }
        ul {
            li {
                border-right: 1px solid #f3f1ed;
                border-left: 1px solid #f3f1ed;
            }
        }
    }
}

//Imports of stylesheets dependent on new GMO styles
@import "wishlists.scss";
