/*
 * Wishlists
 */

#wishlists-init {
  @include clearfix();
}

.wishlists-hero {
  float: left;
  width: 655px;
}

.link-about-wishlist {
  margin-left: 20px;
}

.add-item-module {
  float: left;
  width: 641px;
  margin-bottom: 10px;
  margin-left: -10px;
  border: 2px solid $greyLight;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
  @include clearfix();
  .item-img {
    float: left;
    width: 85px;
    padding-right: 10px;
    a {
      display: block;
      width: inherit;
      overflow: hidden;
    }
  }
  .item-dsc {
    float: left;
    width: 340px;
    padding-right: 10px;
    h3 {
      font-size: 1.2em;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .item-add-form {
    float: right;
    label {
      display: block;
      margin-bottom: 0.3em;
      font-size: 1.2em;
      line-height: 1.25;
    }
    select {
      width: 186px;
    }
    .btn-container {
      padding-top: 10px;
      text-align: right;
    }
  }
}

.my-wishlists {
  clear: both;
  li {
    margin-bottom: 0.3em;
    font-size: 1.2em;
    line-height: 1.25;
  }
}

#nav-bar .navigation ul li.my-wishlists {
	clear: none;
}

.create-wishlist-module {
  margin-bottom: 10px;
  #create-wishlist-trigger {
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 0.3em;
  }
  .control-label {
    @include visuallyhidden();
  }
  input[type="text"] {
    width: 257px;
  }
}

.shared-wishlists {
  float: right;
  width: 255px;
  margin-right: -10px;
  margin-bottom: 10px;
  border: 1px solid $greyLight;
  border-radius: 10px;
  padding: 10px 8px 5px;
  h2 {
    margin-bottom: 0.5em;
    font-size: 1.2em;
  }
  li {
    clear: both;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    line-height: 1.25;
    a,
    span {
      display: inline;
      font-size: 1em;
      line-height: 1.25;
      overflow: hidden;
    }
    a {
      float: left;
      margin-right: 0.3em;
  }
  }
  p {
    margin-bottom: 0.3em;
  }
}

.wl-name-tip.jt-tooltip {
  max-width: none;
  padding: 0;
  .tooltip {
    display: none;
  }
  .jt-tooltip-content {
    background: $yellowLight;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    span {
      display: block;
      padding: 3px;
      font-size: 1.2em;
      line-height: 1.25;
      color: $greyDark;
    }
  }
}

.item-table-container {
  width: 920px;
  margin: 0 0 10px -10px;
  border: 2px solid $greyLight;
  border-radius: 10px;
  padding: 0 8px 10px;
  @include clearfix();

  .empty-wishlist-alert {
    margin-bottom: 0;
    border-top: 1px solid $greyLight;
    padding-top: 10px;
  }
}

.item-table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  .item-img {
    width: 85px;
  }
  .item-dsc {
    width: 348px;
  }
  .item-qty {
    width: 229px;
  }
  .item-del {
    width: 96px;
  }
  .item-prc {
    width: 62px;
  }
  thead {
    th,
    td {
      border-bottom: 1px solid $greyLight;
      padding: 10px;
      font-weight: normal;
      font-size: 1.2em;
      vertical-align: bottom;
      text-align: left;
    }
    .item-img-dsc {
      display: none;
    }
    .item-prc {
      text-align: right;
    }
  }
  tbody {
    td {
      border-bottom: 2px dotted $greyLight;
      padding: 10px;
      vertical-align: top;
      text-align: left;
    }
    .item-img {
      a {
        display: block;
        width: inherit;
        overflow: hidden;//clip long alt text on img
      }
    }
    .item-dsc {
      h3 {
        font-size: 1.2em;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .item-qty {
      .control-label {
        @include visuallyhidden();
      }
      label.invalid2 {
        display: block;
        text-indent: 87px;
      }
      .input-qty {
        width: 35px;
        margin: -5px 2px 0;
        padding-top: 3px;
        padding-bottom: 2px;
        text-align: center;
      }
      .qty-update {
        display: inline;
        margin: 0;
        border: 0;
        padding: 0;
        background: none;
        color: #00a1e0;
        cursor: pointer;
        text-indent: -1px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .item-del {
      font-size: 1.2em;
    }
    .item-prc {
      text-align: right;
    }
  }
  .alt {
    background: $greyLighter;
  }
}

.wishlist-table {
  thead {
    th,
    td {
      border-bottom: none;
    }
    .wishlist-name {
      height: 48px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .item-qty {
      text-indent: 87px;
    }
  }
  .wishlist-name {
    padding-left: 0;
    padding-right: 0;
    width: 473px;
    h2 {
      float: left;
      margin-bottom: 0;
      padding: 10px 0;
      // for ellipsis
      max-width: 300px;
      overflow: hidden; // wishlist names without spaces and longer than max-width breaks ellipsis
      font-size: 1.666666666666667em;
      line-height: 1.25;
    }
    .wishlist-settings {
      float: left;
      padding-top: 10px;
      font-size: 1.666666666666667em;
      line-height: 1.25;
      a {
        margin-left: 10px;
        font-size: 0.6em;
        line-height: 2.5;
      }
    }
    .edit-wishlist-name-module {
      float: left;
      padding: 9px 0 10px;
      form {
        display: inline;
      }
      .control-label {
        @include visuallyhidden();
      }
      label.invalid2 {
        font-size: 1em;
      }
      input[type="text"] {
        width: 224px;
        font-size: 1em;
      }
      .btn {
        font-size: 1em;
      }
      .btn-primary {
        margin-right: 0;
      }
    }
    .edit-wishlist-name-module.displayNone {
      display: none;
    }
  }
  .purchased-item {
    background: $greyLighter;
  }
  tbody {
    tr:first-child td {
      border-top: 1px solid $greyLight;
    }
    td {
      padding-top: 15px;
    }
    .item-qty {
      .item-pur {
        display: inline;
        margin-bottom: 0;
      }
    }
  }
}

.wishlist-buyer-table {
  .item-dsc {
    width: 395px;
  }
  .item-qty {
    width: 124px;
  }
  .item-prc {
    width: 56px;
  }
  .item-info {
    width: 160px;
  }
  thead {
    .wishlist-name {
      width: 510px;
      .wishlist-owner {
        display: block;
        float: left;
        margin-left: 10px;
        padding-top: 1.45em;
        // for ellipsis
        max-width: 100px;
        font-size: 1em;
        line-height: 1.25em;
        overflow: hidden;
      }
    }
    .item-qty {
      text-align: center;
      text-indent: 0;
    }
    .item-prc {
      text-align: left;
    }
  }
  tbody {
    .item-qty {
      text-align: center;
      label.invalid2 {
        display: block;
        margin-left: 0;
        text-indent: 87px;
      }
    }
    .item-prc {
      text-align: left;
    }
    .item-info {
      text-align: center;
      .btn {
        width: 138px;
        margin-right: 0;
        padding: 3px 10px 3px;
        font-size: 1.2em;
        text-align: center;
      }
    }
  }
}

.delete-wishlist-confirm {
  display: none;
}
.delete-wishlist-confirm.jt-tooltip {
  width: 174px;
  .jt-tooltip-content {
    padding: 10px 0 10px 10px;
    text-align: center;

    .tooltip-close {
      font-size: 1.2em;
    }

    p {
      margin-bottom: 1.25em;
    }
  }
}

.preferred-delivery-container {
  padding-top: 10px;
  @include clearfix();
  .wishlists-delivery-address {
    float: left;
    padding-right: 10px;
    width: 560px;
    .delivery-contact-snippet,
    .delivery-address-snippet {
      p {
        margin-bottom: 0.3em;
      }
    }
    .form-wrapper {
      padding-bottom: 0;
    }
  }
  .share-wishlist-module {
    float: right;
    width: 350px;
    p {
      margin-bottom: 0.3em;
    }
    .hint {
      margin-bottom: 1.25em;
      font-size: 1.1em;
    }
    .control-label {
      @include visuallyhidden();
    }
    textarea {
      height: 56px;
      width: 330px;
      margin-bottom: 0;
    }
    .btn {
      margin-top: 10px;
    }
    .social-share-btns {
      display: inline-block;
      padding-top: 10px;
      .fb-like,
      .twitter-share-button {
        vertical-align: middle;
      }
      .fb-like {
        margin-right: 10px;
      }
      .fb-like > span {
        width: 115px !important;//wide enough for 3 characters
      }
    }
  }
}
