@import "../breakpoints";
@include breakpoint(largeDesktop);
@import "../forms/forms-mixins";

.my-account-full-page {
	
	#main-content{
		float: none;
	}
	
	#order-summary {
		margin-right: 0;
		.delivery-group-block{
			.product-details{
				h3{
					float: left;
				}
			}
			.supplied-container{
				margin: 0;
				> img{
					float: right;
				}
			}
		}
	}
}


.my-account {

	#page-container div:first-child h1 { margin-top: 0; }

	.form-group-buttons {
		width:466px;
	}	

	.example {
		padding-left:143px
	}
	#order-summary {
		.delivery-group-block {	
			.product-block {
				border-top: none;
			}
		}
	}
	.delivery-details {
	
		@include inline-form-fields;

		span.error {
			margin-left:0;
			position: relative;
			left: 143px;
			margin-top: -20px;
			display: inline-block;
			max-width: 68%;
			padding: 4px 0 !important;
		}

		.pca-container {
			width: 100%;
		}

		.post-code {
			.postal-code-pca { 
				width: 192px !important;
			}
			table.pcaCapturePlusTable { 
				left: 142px;
				width: 67% !important;
			}
		}

	#orders-list-header, 
	#orders-list-details {
		margin: 0 $onecol;
	}
	
	.orders-pagination {
	    .product-carousel-nav li a .icon:after {
	      line-height: 37px;
	    }
	    .product-carousel-nav li a,
	    .product-carousel-nav li a .icon:after {
	      width: 37px;
	      height: 37px;
	    }
    }
	
	#orders-list-details {
		#order-summary {
			.delivery-group-block {
				padding: 0;
			}
		}
	}

	.supplied-container {
		position: absolute;
		right: 0;
		top: 8px;
		text-align: right;
		width: 115px;
		img {
			max-width: 112px;
			margin-bottom: 8px;
		}
	}
	
	.order-cancel-info {
		select#priReason, select#secReason {
			left: 203px;
		}
	}
}
}
.cancel-orders-details{
	.cancel-order-form{
		.field-wrapper{
			span.error {
				margin-left: 200px;
			}			
		}
	}
}

.my-account {
    .notification-block {
        margin: 0 8px 16px;
    }
}

#my-account-landing-nav {
    #microsite-nav {
        .menu {
            border-right: 1px solid $primaryBorderColor;
        }
    }
}
#orders-list-details {
    .supplied-container {
        position: absolute;
        top: 0;
        right: 0;
        
        img {
            float: right;
            margin-bottom: 8px;
        }
        
        .contact {
            clear: right;
        }
    }
}